[2021-09-21 19:12] bbarani commented on #180
We will fix this issue as part of this PR - https://github.com/opensearch-project/opensearch-build/issues/86

[2021-09-21 19:12] #180 closed

[2021-09-21 19:19] peternied commented on #101
@stockholmux Could you update when we have next steps?

[2021-09-21 19:23] peternied commented on #111
[Triage] When jenkins has been make public users/tools can subscribe via RSS feed to jobs of interest for them.  If there are more specific workflows that cannot be supported we can look at individual feature requests.

[2021-09-21 19:23] #111 closed

[2021-09-21 19:26] peternied commented on #115
[Triage] @bbarani can you track this completion of the surge and update this issue?

[2021-09-21 19:27] peternied commented on #123
[Triage] @minalsha could you update this issue with the current state?

[2021-09-21 19:28] peternied commented on #125
[Triage] @minalsha is there work that should be associated with this issue or should we close it out?

[2021-09-21 19:40] peternied commented on #184
[Triage] Plugin releases as zips will be available for only distribution builds, no out of band releases.

[2021-09-21 19:42] peternied commented on #188
[Triage] @prog8 we are tracking the resolution of this issue with https://github.com/opensearch-project/opensearch-build/issues/86 which will be available after the 1.1.0 release.

[2021-09-21 19:43] peternied commented on #194
[Triage] This manifest has been created https://github.com/opensearch-project/opensearch-build/tree/main/manifests/2.0.0

[2021-09-21 19:43] #194 closed

[2021-09-21 19:47] bbarani commented on #209
[Triage]: The scope should cover both the build and tests.

[2021-09-21 19:51] peterzhuamazon commented on #209
Link to #399

[2021-09-21 19:54] bbarani commented on #210
@mch2 How would you differentiate latest builds vs last known good builds?

[2021-09-21 19:56] bbarani commented on #214
[Triage]: We will revisit this in 2.0 version

[2021-09-21 20:18] minalsha commented on #125
There is work associated with this issue. Today if Jenkins job fails or if there is an issue, we would want to know what the issue is and how to address it. @setiah  could you please add details on what needs are the acceptance criteria for this issue?

[2021-09-21 20:24] CEHENKLE commented on #533
Moving to Infra for prereqs.

[2021-09-21 20:56] zelinh opened #543 "bundle-workflow does not build security component on MacOS"
**Describe the bug**
bundle-build failed to build on security plugin on MacOS
These commands
https://github.com/opensearch-project/opensearch-build/blob/b37270feab5c70b2980e716172f479f006610d5e/bundle-workflow/scripts/components/security/build.sh#L66-L69
will give error:
`sed: 1: "plugin-descriptor.prope ...": extra characters at the end of p command`

**To Reproduce**
Steps to reproduce the behav

[2021-09-21 21:07] dblock commented on #543
Looks like https://stackoverflow.com/questions/16745988/sed-command-with-i-option-in-place-editing-works-fine-on-ubuntu-but-not-mac may be a solution. There are other hits on Google.

[2021-09-21 21:16] saratvemulapalli commented on #536
Haha good question. I actually cut the output from the Jenkins run to make it crisp but it was running it via `test.sh`.

[code]

[2021-09-21 21:18] zelinh commented on #543
@dblock Yes adding an empty string like
`sed -i '' "s/\(^opensearch\.version=\).*\$/\1${OPENSEARCH_RELEASE}/" plugin-descriptor.properties` works on mac but doesn't work on Linux.
It will give this
`+ sed -i '' 's/\(^opensearch\.version=\).*$/\11.1.0/' plugin-descriptor.properties`
`sed: can't read s/\(^opensearch\.version=\).*$/\11.1.0/: No such file or directory`

 it seems `sed` has different c

[2021-09-21 21:49] #543 closed

[2021-09-21 21:54] #536 closed

[2021-09-21 21:57] minalsha commented on #522
@setiah what do you mean by "Add logs for plugin tests on jenkins?"  Is this if we dont have test recorder and test publisher done and hence we would need the logs for Plugins tests on Jenkins?

[2021-09-21 23:27] gaiksaya opened #545 "Test-manifest should take care of test related configurations specific to each plugin"
**Is your feature request related to a problem? Please describe.**
Some plugins needs to have system related configurations (a directory for example) to run their integration tests.
As of today we need to change and maintain our codebase to accommodate this requirements

**Describe the solution you'd like**
We need to take care of this at test_manifest level where all plugin related configuration

[2021-09-21 23:39] dblock commented on #545
We don't need a configuration to contain arbitrary shell commands. Each test can do whatever it wants, and has tools to execute anything, so if any prep work needs to happen for the tests, it should go into the tests.

I recommend the following structure:

[code]

[2021-09-21 23:40] CEHENKLE commented on #533
@minalsha @saratvemulapalli Hey -- pondering on this.  If we're thinking of this as a one time (or infrequent) activity, do we need to wait for automation?  Isn't this something we could do just using rally and different configs?

Thanks!
/C

[2021-09-21 23:40] jcgraybill commented on #533
Let's start with an exploration using existing tools, and tie this into the build infrastructure at the end of the project. As long as the benchmarking uses Rally, and everything is scripted, it'll be straightforward enough to automate this when the time comes.

[2021-09-22 01:48] gaiksaya commented on #545
Makes sense. Changing the issue topic to restructuring test_manifest.yml. Does that sound good as well as @saratvemulapalli ?

[2021-09-22 13:59] setiah commented on #522
Yeah the test recorder should publish all the logs to s3 eventually. In the mean time, we need some messaging on jenkins dashboard itself for an integration test run on a component to know if it failed or succeeded. #549 adds log messages if the component test failed.

[2021-09-22 17:07] #493 closed

[2021-09-22 17:59] saratvemulapalli opened #553 "Add support to fail test suite job if any of the components failed the test."
### Is your feature request related to a problem? Please describe

Integration Test/ BWC Tests run through all the components even though the component tests might fail. Which is ok but at the end of the test result the test suite exits with status 0 i.e everything went good.

### Describe the solution you'd like

Collect all the test results and fail the job if any of the test component failed.
I

[2021-09-22 19:45] minalsha commented on #533
We should start with benchmarking min/core using Mensor with Perf test suite and then pick the right JVM version.

[2021-09-22 19:46] #545 closed

[2021-09-22 22:29] peternied opened #557 "[Bug]: Bundle manifest links are not generated correctly"
### Describe the bug

The manifest files absolute links are not correct, they need to be updated to point to the correct location on https://ci.opensearch.org/...

The bundle manifest should also be outputted in an easy to find location for folks to access.

### To reproduce

1. Run `curl -s https://ci.opensearch.org/ci/dbc/bundles/1.1.0/226/x64/manifest.yml | grep .gz`
2. Run `curl -XHEAD -v http

[2021-09-22 22:37] setiah opened #558 "Add component on-boarding documentation"

[2021-09-22 23:13] saratvemulapalli commented on #555
@adnapibar moved the issue to opensearch-build. Could you lay down what configurations are needed and for what tests?

[2021-09-22 23:15] #522 closed

[2021-09-22 23:15] #331 closed

[2021-09-22 23:31] dblock opened #561 "Document that plugin CI needs to always build -SNAPSHOT"
### Is your feature request related to a problem? Please describe

In https://github.com/opensearch-project/anomaly-detection/pull/214 a plugin is switching from SNAPSHOT to non-SNAPSHOT. This is expected in "normal" release workflow of a component, but we will never be using CI builds because we now build the monolith from the top.

### Describe the solution you'd like

Document that plugins shou

[2021-09-23 00:09] github-actions[bot] opened #563 "[RELEASE] Release version 1.0.1"
## Release OpenSearch and OpenSearch Dashboards 1.0.1

I noticed that a manifest was automatically created in [manifests/1.0.1](/opensearch-project/opensearch-build/tree/main/manifests/1.0.1). Please follow the following checklist to make a release.

### Preparation

- [ ] Assign this issue to a release owner.
- [ ] Document any new quality requirements or changes.
- [ ] Declare a pencils down dat

[2021-09-23 00:09] github-actions[bot] opened #564 "[RELEASE] Release version 1.1.0"
## Release OpenSearch and OpenSearch Dashboards 1.1.0

I noticed that a manifest was automatically created in [manifests/1.1.0](/opensearch-project/opensearch-build/tree/main/manifests/1.1.0). Please follow the following checklist to make a release.

### Preparation

- [ ] Assign this issue to a release owner.
- [ ] Document any new quality requirements or changes.
- [ ] Declare a pencils down dat

[2021-09-23 00:09] github-actions[bot] opened #565 "[RELEASE] Release version 1.0.0"
## Release OpenSearch and OpenSearch Dashboards 1.0.0

I noticed that a manifest was automatically created in [manifests/1.0.0](/opensearch-project/opensearch-build/tree/main/manifests/1.0.0). Please follow the following checklist to make a release.

### Preparation

- [ ] Assign this issue to a release owner.
- [ ] Document any new quality requirements or changes.
- [ ] Declare a pencils down dat

[2021-09-23 00:09] github-actions[bot] opened #566 "[RELEASE] Release version 2.0.0 (Old Issue)"
## Release OpenSearch and OpenSearch Dashboards 2.0.0 (Old Issue)
# We will make a new issue for the 2.0.0 release soon.

I noticed that a manifest was automatically created in [manifests/2.0.0](/opensearch-project/opensearch-build/tree/main/manifests/2.0.0). Please follow the following checklist to make a release.

### Preparation

- [ ] Assign this issue to a release owner.
- [ ] Document any ne

[2021-09-23 00:10] github-actions[bot] opened #567 "[RELEASE] Release version 1.2.0"
## Release OpenSearch and OpenSearch Dashboards 1.2.0

I noticed that a manifest was automatically created in [manifests/1.2.0](/opensearch-project/opensearch-build/tree/main/manifests/1.2.0). Please follow the following checklist to make a release.

<details><summary>How to use this issue</summary>
<p>

## This Release Issue
This issue captures the state of the OpenSearch release, its assignee is

[2021-09-23 01:36] xuezhou25 opened #568 "[Bug]: OpenSearch Bundle Workflow couldn't build OpenSearch 1.0.0 and 1.0.1"
### Describe the bug

With the commit https://github.com/opensearch-project/opensearch-build/commit/1658890d407f55eb25d2cc904324470fb48d4ddd, the validation for build artifact version number is added.

The build of OpenSearch failed due to the version number mismatch.

For 1.0.0:
The manifest file uses "1.0" branch to build,
https://github.com/opensearch-project/opensearch-build/blob/7765fd378ce53

[2021-09-23 08:27] FeizBenhabel opened #770 "[BUG][Chart Name] JAVA_HOME env"
**Is your feature request related to a problem? Please describe.**

securityadmin.sh cant assing a value to the JAVA_HOME env and it uses the which command to find the path for java but the which command doenst exist also in the container.

**Describe the solution you'd like**
i would suggest to add the java_home by default in the container.
**Describe alternatives you've considered**
You can use

[2021-09-23 12:23] #563 closed

[2021-09-23 12:23] dblock commented on #565
This issue was created by automation from #531. This release has already 🚢. Closing.

[2021-09-23 12:23] #565 closed

[2021-09-23 12:28] dblock commented on #568
@xuezhou25 What was the error?

I believe this is a dup of https://github.com/opensearch-project/opensearch-build/issues/373

[2021-09-23 16:52] #382 closed

[2021-09-23 16:52] #327 closed

[2021-09-23 17:00] setiah commented on #220
This was covered as part of #338

[2021-09-23 17:00] #220 closed

[2021-09-23 17:01] setiah commented on #319
This is now tracked under https://github.com/opensearch-project/OpenSearch/issues/1240

[2021-09-23 17:01] #319 closed

[2021-09-23 17:04] #221 closed

[2021-09-23 17:05] #442 closed

[2021-09-23 17:40] saratvemulapalli opened #572 "Add support for BWC tests to onboard to Test Manifest"

[2021-09-23 18:04] peternied opened #573 "[Meta] OpenSearch Dashboard Build / Release Process"
With the OpenSearch service distribution being built and validated, our desire is to adopt the same process with the OpenSearch Dashboard.

* [ ] Create Dashboard Manifest
  * https://github.com/opensearch-project/opensearch-build/issues/158
* [ ] Automation build process
  * https://github.com/opensearch-project/opensearch-build/issues/158
* [ ] Bundle all build artifacts into a releasable distri

[2021-09-23 18:11] xuezhou25 commented on #568
Yes. The 1.0.1 is the same as #373.

For 1.0.0, I think it is due to `ref: "1.0"` in manifest file.
After run `./bundle-workflow/build.sh manifests/1.0.0/opensearch-1.0.0.yml`
error message:
[code]

[2021-09-23 18:32] stockholmux commented on #101
@peternied Based on the udpate to #546, I think we're good to go on this.

[2021-09-23 18:51] dblock commented on #497
- https://github.com/opensearch-project/anomaly-detection/pull/220
- https://github.com/opensearch-project/sql/pull/213
- https://github.com/opensearch-project/alerting/pull/181
- https://github.com/opensearch-project/k-NN/pull/101

[2021-09-23 18:56] dblock commented on #568
The "ref" is a branch name, not the actual version of the artifacts being built. The branch is fine.

The [implementation of BuildArtifactCheckMaven](https://github.com/opensearch-project/opensearch-build/blob/999c97f4479f1d4ce0e206fe806707221567d775/bundle-workflow/src/build_workflow/build_artifact_check_maven.py#L43) requires the version to match exactly. When we release 1.0, everything is 1.0.0

[2021-09-23 19:28] dblock commented on #101
Let's close this! @smortex thank you & everyone else who contributed.

[2021-09-23 19:28] #101 closed

[2021-09-23 20:25] bbarani commented on #158
The current progress of Opensearch Dashboards automation can be tracked here - https://github.com/opensearch-project/opensearch-build/issues/158

[2021-09-23 20:55] dblock commented on #497
Okay, this time it's ready.

I used #574:

[code]

[2021-09-23 21:10] #557 closed

[2021-09-23 21:14] #497 closed

[2021-09-23 21:50] bbarani opened #576 "test"

[2021-09-23 21:51] bbarani opened #577 "test"

[2021-09-23 21:51] #576 closed

[2021-09-23 21:51] #577 closed

[2021-09-23 22:32] #558 closed

[2021-09-23 23:08] saratvemulapalli commented on #223
Closing this as ONBOARDING.md is merged into opensearch-build.
Ref: https://github.com/opensearch-project/opensearch-build/blob/main/ONBOARDING.md
And OpenSearch core already has documentation for understanding bwctests.
Ref: https://github.com/opensearch-project/OpenSearch/blob/main/TESTING.md#testing-backwards-compatibility

[2021-09-23 23:08] #223 closed

[2021-09-24 00:15] bbarani opened #578 "Automate the whitesource scans"
### Is your feature request related to a problem? Please describe

We need an automated way to scan our code and surface the CVE's. Currently there is no automated mechanism to scan and surface the CVE's corresponding to a particular repository under OpenSearch organization

### Describe the solution you'd like

An automated scan using Whitesource scanning tool is scheduled to track and surface th

[2021-09-24 00:33] owaiskazi19 opened #579 "Test followup from #560"
### Is your feature request related to a problem? Please describe

Coming from https://github.com/opensearch-project/opensearch-build/pull/560#pullrequestreview-761495886.

### Describe the solution you'd like

- Add a `TestResult` class with TestRecorder/TestPublisher to sort the results at once place.
- Correct bugs introduced in the CR, see @setiah's comments, add tests.
- Order the test summar

[2021-09-24 00:36] abhinavGupta16 opened #580 "Setup plugins on Jenkins via CDK"
### Is your feature request related to a problem? Please describe

We need to automatically setup the plugins on Jenkins via CDK

### Describe the solution you'd like

When we setup jenkins, all the required plugins should also be deployed

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-09-24 00:40] abhinavGupta16 opened #581 "[META] Setup Jenkins using CDK"
### Is your feature request related to a problem? Please describe

We need to setup Jenkins automatically using CDK

### Describe the solution you'd like

CDK should be able to deploy a production ready jenkins

### Action Items
- [x] https://github.com/opensearch-project/opensearch-build/issues/580
- [x] https://github.com/opensearch-project/opensearch-ci/issues/6
- [ ] https://github.com/opensea

[2021-09-24 00:44] abhinavGupta16 opened #582 "Setup Jenkins using CDK"
We need to automate the Jenkins setup using CDK

[2021-09-24 00:44] saratvemulapalli opened #583 "[Bug]: Update perftest to the new repo structure in opensearch-infra"
### Describe the bug

OpenSearch infra is now restructured to run unit tests and workflows.
 It is a dependency for perftest and the paths have to be modified.

### To reproduce

Run PerfTests under `bundle-workflow/src`

### Expected behavior

_No response_

### Screenshots

If applicable, add screenshots to help explain your problem.

### Host / Environment

_No response_

### Additional context

[2021-09-24 00:44] abhinavGupta16 commented on #582
Trying to create an Epic, unsuccessful.

[2021-09-24 00:44] #582 closed

[2021-09-24 00:46] abhinavGupta16 opened #584 "Dummy Epic"

[2021-09-24 01:07] #553 closed

[2021-09-24 01:58] VijayanB opened #585 "Release OpenSearch Java Client 0.1.0 in maven repository"
Repo: https://github.com/opensearch-project/opensearch-java
Branch: 0.1

[2021-09-24 05:07] abhinavGupta16 opened #589 "Manage Jenkins Load Balancing via CDK"
### Is your feature request related to a problem? Please describe

Manage Load Balancing and Certificates on Jenkins using CDK

### Describe the solution you'd like

Jenkins should be able to pick up the certificates and load balancing should be configured

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-09-24 13:52] saratvemulapalli opened #591 "Add tests for default .sh scripts and `scripts` directory"
### Is your feature request related to a problem? Please describe

Add tests for default scripts:

- [ ] `build.sh`
- [ ] `bwctest.sh`
- [ ] `install.sh`
- [ ] `integtest.sh`
- [ ] `scripts/*`

[2021-09-24 14:16] dblock opened #592 "OpenSearch Dashboards bundle builds all arch (only build the current OS arch)"
### Is your feature request related to a problem? Please describe

Bundle build supports specifying target arch based on the current system arch. Dashboards builds for all architectures at once. Reconcile this behavior.

[code]

### Describe the solution you'd like

Just like OpenSearch, only build the current arch. We don't release artifacts outside of a short list of architectures, and even if t

[2021-09-24 14:41] dblock opened #593 "[Bug]: LocalTestClusterTests::test_wait_for_service_cluster_unavailable very slow"
### Describe the bug

Takes 100 seconds.

### To reproduce

[code]

### Expected behavior

_No response_

### Screenshots

If applicable, add screenshots to help explain your problem.

### Host / Environment

_No response_

### Additional context

_No response_

### Relevant log output

_No response_

[2021-09-24 14:52] dblock commented on #593
I have a quick fix.

[2021-09-24 16:18] peterzhuamazon commented on #481
Jack has provided the libs we can manually replace it.
We can also try to run it on centos docker, if this PR merged very soon #588

[2021-09-24 16:22] peterzhuamazon opened #597 "[Bug] Remove psutil as a dependency in Pipfile"
### Describe the bug

I am not sure why `pstuil` is being added as dependency in bundle-workflow.
https://github.com/opensearch-project/opensearch-build/blob/main/bundle-workflow/Pipfile#L24
It is not supported in many places.

1. It does not support arm64 arch listed here: https://github.com/giampaolo/psutil/issues/1966
2. It does not support Windows on cygwin: https://github.com/giampaolo/psutil

[2021-09-24 16:51] abhinavGupta16 commented on #584
Dummy issue, was trying to create an Epic

[2021-09-24 16:51] #584 closed

[2021-09-24 16:56] gaiksaya commented on #597
The issue was resolved by installting `python3-devel` on the host machine.
See https://github.com/opensearch-project/opensearch-build/issues/527 for more details.
It is used to grab the child processes id.

[2021-09-24 17:23] #593 closed

[2021-09-24 17:43] peterzhuamazon commented on #597
It still does not work on windows.

[2021-09-24 17:44] dblock commented on #597
Many other things don't work on windows in our build AFAIK, I think we can fix it later.

[2021-09-24 17:47] #597 closed

[2021-09-24 18:03] peternied opened #598 "[Bundle Build Break] Could not find org.opensearch.gradle:build-tools:1.1.0"
Build is broken for sql.git, but there have been no new commits, still need to narrow down between opensearch-build changes or environmental issue.

[code]

[2021-09-24 18:30] peternied opened #600 "[Documentation] Which Jenkins Staging jobs need to be saved / removed"
Here is a list of all of the jobs on the Jenkins staging system, lets figure out if we need them or not

- [X] **Save** 1.0.0-maven-build-job
- [X] **Save** 1.0.0-maven-sign-and-release
- [X] **Save** bundle-build
- [ ] bundle-build-inline-test
- [X] **Remove** bundle-build-petern
- [ ] bundle_pipeliness_1.0.1
- [ ] bwc-test
- [ ] fetch_build_pipelines_Sai
- [ ] fetch_bundles
- [ ] integ-test
- [

[2021-09-24 19:05] dblock opened #602 "[Bug]: Dashboards build produces "opensearch dashboards-1.1.0-linux-x64.tar.gz" (contains a quote and a space)"
### Describe the bug

Dashboards build produces "opensearch dashboards-1.1.0-linux-x64.tar.gz" (contains a space)

### To reproduce

[code]

[code]

### Expected behavior

_No response_

### Screenshots

If applicable, add screenshots to help explain your problem.

### Host / Environment

_No response_

### Additional context

_No response_

### Relevant log output

_No response_

[2021-09-24 20:12] #209 closed

[2021-09-24 20:12] #399 closed

[2021-09-24 20:43] peternied commented on #598
Parrallel build changes were just merged, waiting on a rebuild before continuing to debug.

[2021-09-24 20:47] peternied commented on #598
Issue is only affecting snapshot builds

[2021-09-24 20:56] peterzhuamazon commented on #394
#588 should fix it but we can also add a check to ensure that.

[2021-09-24 21:00] peterzhuamazon commented on #598
Same here after the docker integration to CI, still on snapshots.

[2021-09-24 22:29] tianleh opened #604 "Integrate OpenSearch Dashboards release functional tests into CI process"
### Is your feature request related to a problem? Please describe

We want to integrate OSD release test https://github.com/opensearch-project/opensearch-dashboards-functional-test into the infra CI. We have already verified that it can run in Github Action env.

(See this sample run https://github.com/opensearch-project/opensearch-dashboards-functional-test/runs/3705023275?check_suite_focus=true)

[2021-09-24 22:30] dblock commented on #598
I can reproduce locally.

[2021-09-24 22:48] dblock commented on #598
This broke in #590, the issue [is this line the default build.sh](https://github.com/opensearch-project/opensearch-build/blob/main/bundle-workflow/scripts/default/build.sh#L62) that expects DASHBOARDS to be set to `false`, but it's blank.

https://github.com/opensearch-project/opensearch-build/pull/594 fixes it.

[2021-09-24 23:23] #598 closed

[2021-09-24 23:26] peterzhuamazon commented on #604
Since test-workflow haven't officials support dashboards/cypress yet, we will try to run this on the old Jenkins Workflow next week with repository integtest.sh.
We will migrate it to test-workflow once it is ready.

Thanks.

[2021-09-24 23:34] seraphjiang commented on #604
what's the gap to run cypress? is there an open issue to track, want to know more

[2021-09-27 14:17] dblock opened #606 "[Bug]: OpenSearch Dashboards needs to rebuild core every time"
### Describe the bug

OpenSearch dashboards requires to rebuild core every single time to build any of the components, which makes it very slow to debug component build problems.

### To reproduce

[code]

Succeeds for all components.

[code]

Fails with

[code]

### Expected behavior

We could adopt something similar to how OpenSearch builds into `~/.m2` for dependencies with npm local, so that t

[2021-09-27 15:03] peternied opened #607 "[Bug] Bundle Build notifications broken"
### Describe the bug

In the update to parallize the build jobs there is no agent node avaliable for the build notification, need to connect it to a docker image.

### To reproduce

Run the build and look at the log output:
[code]

[2021-09-27 15:24] peternied commented on #600
Still have some outstanding jobs, need to circle back with the team members to update

[2021-09-27 17:35] setiah commented on #257
integration with cdk based clusters was done as part of perf test job, hence closing this

[2021-09-27 17:35] #257 closed

[2021-09-27 17:37] kavilla commented on #592
This should be possible now since this just got implemented: https://github.com/opensearch-project/OpenSearch-Dashboards/pull/795.

But it was only backported to `1.x`, can we neglect 1.0.0 so we don't have to introduce conditional code for only one branch.

[2021-09-27 17:39] #607 closed

[2021-09-27 17:41] dblock commented on #592
Yes, we're only building 1.1.0 here so no need to backport anything.

[2021-09-27 17:44] kavilla commented on #573
Can't check off.

Build: https://github.com/opensearch-project/opensearch-build/pull/590
Cleanup: https://github.com/opensearch-project/opensearch-build/pull/601

[2021-09-27 17:44] setiah commented on #125
This issue is for adding monitoring metrics for jenkins fleet and jenkins jobs, to ensure the system is working as expected and raise alarms based on SLAs. As part of this, we need to
* Identify the metrics that we would like to monitor and setup alarms on them
* setup the right paging structure for issue handling.

This was categorized as P1 and is needed as part of production-izing the jenkins i

[2021-09-27 17:46] tianleh commented on #573
https://github.com/opensearch-project/opensearch-build/issues/604

[2021-09-27 17:47] dblock commented on #573
I checked off the first two boxes, but we still need all the other components to come in and add themselves to check the rest.

[2021-09-27 17:58] peternied commented on #573
Fixed, @opensearch-project/opensearch-test has access to edit/update issues

[2021-09-27 18:07] kavilla opened #610 "OpenSearch Dashboards default config"
### Is your feature request related to a problem? Please describe

For the new build system for [Dashboards](https://github.com/opensearch-project/opensearch-build/issues/573), it is not building in the config like [previous build systems](https://github.com/opensearch-project/opensearch-build/blob/main/scripts/legacy/tar/linux/opensearch-dashboards-tar-build.sh#L142-L143).

### Describe the solut

[2021-09-27 18:42] abhinavGupta16 commented on #589
https://github.com/opensearch-project/opensearch-ci/issues/6

Using this task to manage the issue.

[2021-09-27 18:47] abhinavGupta16 opened #611 "Standalone client release NPM and JAVA"
Please fill this out with the details of the release and tasks.

[2021-09-27 18:53] #589 closed

[2021-09-27 18:56] abhinavGupta16 opened #612 "Deploy Tarball to Test Clusters for Plugin Owners"
Deploy Tarball to Test Clusters for Plugin Owners for 1.1.0 release

[2021-09-27 18:59] peternied opened #613 "Investigate over scanning of dependencies"

[2021-09-27 18:59] peternied opened #614 "Choose how to build, use maven local or use snapshot artifacts from maven"

[2021-09-27 18:59] peternied opened #615 "Prototype build process and document selected design for whitesource"
Currently we pause this process of implementing our own automation and will be focusing on WhiteSource integration with Github.com.

[2021-09-27 19:15] peternied opened #616 "Zenhub onboarding"
Our team is starting to use Zenhub for our work item tracking and there might be things that we need to figure out:

- [x] How should we track the 'oncall' time that is consumed by the team?
- [x] Add only tasks or create issues linked to the parent task?
- [x] Feels like we have to 'duplicate' a lot of work to create a new task or subtask - is there a way to add items with smarter defaults?
- [x]

[2021-09-27 19:27] dblock opened #618 "Extend OpenSearch Dashboards zip check to verify version in package.json"
### Is your feature request related to a problem? Please describe

The dashboards zip check introduced in https://github.com/opensearch-project/opensearch-build/pull/617 is super rudimentary. It needs to be extended to unpack the zip file's opensearch-dashboards/alertingDashboards/package.json and check the version field in that.

### Describe the solution you'd like

Extend the check introduced i

[2021-09-27 19:38] peternied opened #619 "Add workflow for automating DCO check"
Some repositories have a DCO check via Jenkins some do not, lets add a Github action workflow that can run the DCO check for build and ci repositories.  This should also be a template that can be pulled into other OpenSearch repositories

[2021-09-27 19:45] dblock commented on #619
See https://github.com/opensearch-project/.github/issues/25

[2021-09-27 20:19] dblock commented on #158
The leftover work is to add components to dashboards manifest and hook up the build job to Jenkins.

[2021-09-27 20:21] dblock opened #620 "Run OpenSearch Dashboards build in Jenkins"
### Is your feature request related to a problem? Please describe

Coming from https://github.com/opensearch-project/opensearch-build/issues/158, add the manifest to Jenkins and publish artifacts.

### Describe the solution you'd like

I want to see 1.1.0 dashboards in Jenkins and dropping the bundle.

### Describe alternatives you've considered

_No response_

### Additional context

_No response

[2021-09-27 20:52] peternied opened #622 "Automated performance testing is enabled on bundle builds"
Performance tests are executed as part of the bundle build and the results are available for distribution

[2021-09-27 20:56] peterzhuamazon opened #623 "Generate TAR for both OpenSearch and Dashboards"
Generate TAR for both OpenSearch and Dashboards

[2021-09-27 20:56] peterzhuamazon commented on #623
In Release Candidates:

https://artifacts.opensearch.org/release-candidates/bundle/opensearch-dashboards/1.1.0/opensearch-dashboards-1.1.0-linux-x64.tar.gz
https://artifacts.opensearch.org/release-candidates/bundle/opensearch-dashboards/1.1.0/opensearch-dashboards-1.1.0-linux-arm64.tar.gz

[2021-09-27 21:35] peternied opened #624 "Add Jenkins job to pick up Dashboard build Jenkinsfile"

[2021-09-27 21:40] dblock commented on #624
Dup of #620 ?

[2021-09-27 22:33] peterzhuamazon commented on #623
I am a bit confused @dblock this is tarball not release notes.

[2021-09-27 23:59] peterzhuamazon commented on #604
We have successfully test the changes on Jenkins with both Security and No-Security tests on x64 docker container.
Due to arm64 cypress not having available binary, we have not test on arm64 yet.

[2021-09-28 00:22] #477 closed

[2021-09-28 10:05] matthew-inamdar commented on #504
@peterzhuamazon Sure, I've redacted anything confidential or unimportant:

[code]

[2021-09-28 11:45] peternied opened #628 "[Docker Images] Images should be built and published by CI system"
Today docker images that are used for build and testing are manually built and uploaded, this should be done automatically with a github action or a jenkins workflow.

Here is an example github action that we could use, https://github.com/marketplace/actions/build-and-push-docker-images.

[2021-09-28 12:36] dblock commented on #623
We're not including release notes in the tarball? Then ignore me.

[2021-09-28 13:30] dblock commented on #470
Closed via https://github.com/opensearch-project/opensearch-build/pull/509

[2021-09-28 13:30] #470 closed

[2021-09-28 13:31] dblock commented on #42
@saratvemulapalli bump on status for this?

[2021-09-28 16:17] peterzhuamazon commented on #628
I can do this as LINUX now support buildx for both x64 and arm64, the thing is we need to run on Ubuntu as it is the only known version for now to support `binfmt-support` `qemu-user-static`.

[2021-09-28 16:36] peternied commented on #628
@peterzhuamazon putting this into the product backlog and we can circle back to it, we might want to create a separate repo or a proposal

[2021-09-28 17:26] saratvemulapalli opened #629 "Add support for running tests in local desktop via build/bundle manifest"
### Is your feature request related to a problem? Please describe

All test suites depend on pulling the manifest from S3. This experience is not great to run tests when manifests are present locally.

Coming from conversation of: https://github.com/opensearch-project/project-website/pull/293

### Describe the solution you'd like

Run test suites taking manifest as parameters and store test result

[2021-09-28 18:23] peterzhuamazon commented on #481
Issues coming as CentOS7 does not like -march=native during the build:
https://gcc.gnu.org/onlinedocs/gcc/AArch64-Options.html

<details><summary>Native Error Log on CentOS7 make</summary>
<p>

[code]
</p>
</details>

We have resolved this by changing `native` to `armv8-a` as native is only introduced in CentOS8:
https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/8/html/conside

[2021-09-28 18:53] dblock opened #632 "Support working directory for scripts, including integtest.sh"
### Is your feature request related to a problem? Please describe

In repos such as https://github.com/opensearch-project/dashboards-notebooks we need different scripts between dashboards and non-dashboards repos. ScriptFinder needs to be aware of `working_directory` and look for scripts under that and not at the root.

### Describe the solution you'd like

Use `working_directory` in ScriptFinder

[2021-09-28 19:08] peternied commented on #243
[Triage] @VachaShah could you describe where this work would be done, is this per component or something that would need to be done in the CI workflow?

[2021-09-28 19:11] peternied commented on #245
[Triage] @nknize do you have an approach of how this testing would be conducted - could this be done in a GHA or does this need support for a new kind of execution / reporting?

[2021-09-28 19:16] peternied commented on #256
[Triage] @nknize The current resource usage is not a concern, we would rather detect more issues in advance.

[2021-09-28 19:16] #256 closed

[2021-09-28 19:17] peternied commented on #266
[Triage] this has already been merged

[2021-09-28 19:17] #266 closed

[2021-09-28 19:17] dblock commented on #578
Is it viable to replace Whitesource with Dependabot and if yes/no why/not?

[2021-09-28 19:18] peternied commented on #279
[Triage] these files have been removed

[2021-09-28 19:18] #279 closed

[2021-09-28 19:24] peternied commented on #332
[Triage] Rather than supporting all platforms lets lock into to a docker image that will be predictable.

[2021-09-28 19:29] peternied commented on #343
[Triage] Notifications can onboard when they are ready

[2021-09-28 19:29] #343 closed

[2021-09-28 19:29] nknize commented on #245
I was originally thinking like a temporal trigger (say every 4/6 hours or so; 4 times a day)? Perhaps that's too often? Maybe we run it twice a day? I would say we could be more conservative and set it up as an intake check (e.g., every merge)? But we don't have enough merged contributions for that to give the coverage needed, so maybe a 2/4 times a day random testing is good until we have a lot o

[2021-09-28 19:34] peternied commented on #363
[Triage] Lets leave the existing configuration for now.

[2021-09-28 19:34] #363 closed

[2021-09-28 19:36] peternied commented on #368
[Triage] Still waiting on downstream

[2021-09-28 19:46] peternied commented on #385
[Triage] @dblock is this blocking a process or feature?  It seems like the existing bundle build workflow is constantly producing 'release candidates' or 'betas'

[2021-09-28 19:51] peternied commented on #438
[Triage] this can be automated we have a script already

[2021-09-28 19:51] peterzhuamazon commented on #438
https://github.com/opendistro-for-elasticsearch/opendistro-build/blob/main/release-tools/scripts/releasenotes.sh

[2021-09-28 19:52] peternied commented on #440
[Triage] @dblock Looks like this is resolved, please reopen if it isn't complete

[2021-09-28 19:52] #440 closed

[2021-09-28 19:53] peternied commented on #441
[Triage] @dblock This looks resolved, please reopen if this isn't the case.

[2021-09-28 20:01] peternied commented on #501
[Triage] This has been completed https://github.com/opensearch-project/opensearch-build/pull/496

[2021-09-28 20:01] #501 closed

[2021-09-28 20:02] dblock commented on #385
AFAIK no, but Java projects typically include those qualifiers in the version so someone might want this? I’m ok to close too.

[2021-09-28 20:17] peternied commented on #385
If we feel we need this for 2.0.0 then we should make sure we add this to the roadmap, trying to keep the backlog small(er)

[2021-09-28 20:17] #385 closed

[2021-09-28 20:25] peternied commented on #245
Could these tests be run in GHA?  It supports [cron syntax](https://github.com/opensearch-project/opensearch-build/blob/main/.github/workflows/versions.yml#L5) as we use it in this repository.

[2021-09-28 20:43] peterzhuamazon opened #635 "[Bug] CentOS7 docker runner needs to setup locale or certain builds will fail"
### Describe the bug

[Bug] CentOS7 docker runner needs to setup locale or certain builds will fail

<details>
<summary> Example in AD: </summary>
<p>

2021-09-28 16:37:03 INFO     Building anomaly-detection
2021-09-28 16:37:03 INFO     Executing "git init" in /tmp/tmpow4z38bd/anomaly-detection
2021-09-28 16:37:03 INFO     Executing "git remote add origin https://github.com/opensearch-project/anom

[2021-09-28 20:50] bbarani commented on #578
We can enable Dependabot as an additional scanning tool but we cannot replace Whitesource with it due to the below limitations,

**Here are the high level benefits of using Whitesource (Notes from vendor).**
Dependabot only works with GitHub. WhiteSource works with GitHub and other repos, your build tools, IDEs, and other CI\CD tools. Here is a screenshot of examples of some of our integrations.No

[2021-09-28 20:59] dblock commented on #440
Yes, was resolved in https://github.com/opensearch-project/opensearch-build/pull/495.

[2021-09-28 21:02] peterzhuamazon commented on #635
Related to #627.

[2021-09-28 21:02] dblock commented on #441
We check that plugins depend on the correct version of OpenSearch in https://github.com/opensearch-project/opensearch-build/blob/main/bundle-workflow/src/ci_workflow/ci_check_gradle_dependencies_opensearch.py. This issue is about similarly checking that the version of other dependencies is correct.

[2021-09-28 21:03] dblock commented on #245
There's just not enough hardware in GHA IMO, and Jenkins can do cron just fine too.

[2021-09-28 21:09] peterzhuamazon opened #636 "Weekly Community Engagement"

[2021-09-28 21:09] dblock opened #637 "Add gradle/maven CI checks for OpenSearch plugins that verify (the order of) maven repos"
### Is your feature request related to a problem? Please describe

It's very easy to forget to keep `mavenLocal` in a repo's gradle/maven configuration, which prevents the bundle build from forcing a locally built OpenSearch, common-utils or job-scheduler dependency.  For example, https://github.com/opensearch-project/index-management/pull/141/files#r717955366

### Describe the solution you'd like

[2021-09-28 21:09] peterzhuamazon commented on #636
https://github.com/opensearch-project/helm-charts/pull/61

[2021-09-28 21:13] #619 closed

[2021-09-28 21:47] peterzhuamazon commented on #635
Seems like `$ localedef -v -c -i en_US -f UTF-8 en_US.UTF-8` does not fix it, need more debugging.

[2021-09-28 23:17] peterzhuamazon commented on #635
When using the same docker image on an identical AL2 host, it is working without any errors, thinking it is the same issues happens to JAVA_HOME, where Jenkins Pipeline did not retrieve the right locale from the container settings.

[2021-09-28 23:22] peterzhuamazon commented on #635
Hi @dblock @peternied I need some help with this one as well.
When running in Jenkins the error shows with AD.
However when running locally with docker image `docker pull opensearchstaging/ci-runner:centos7-x64-arm64-jdk14-node10.24.1-20210924` it runs the build process to completion without issues.

If this is still not working tomorrow I am offer to revert the changes from centos7 docker PR #627

[2021-09-28 23:23] #224 closed

[2021-09-28 23:54] peterzhuamazon commented on #635
Issue found:
[code]

Working with @ylwu-amzn and found out that several problematic files are using utf-8 while all other files are using ASCII. We also tested the IDE default format is ASCII on intellij, and other plugins like alerting and k-NN all use ASCII.

These are the files that cause the issues:
[code]

Thanks.

[2021-09-29 00:09] github-actions[bot] opened #643 "[RELEASE] Release version 1.1.0"
## Release OpenSearch and OpenSearch Dashboards 1.1.0

I noticed that a manifest was automatically created in [manifests/1.1.0](/opensearch-project/opensearch-build/tree/main/manifests/1.1.0). Please follow the following checklist to make a release.

### Preparation

- [ ] Assign this issue to a release owner.
- [ ] Document any new quality requirements or changes.
- [ ] Declare a pencils down dat

[2021-09-29 00:09] github-actions[bot] opened #644 "[RELEASE] Release version 1.0.0"
## Release OpenSearch and OpenSearch Dashboards 1.0.0

I noticed that a manifest was automatically created in [manifests/1.0.0](/opensearch-project/opensearch-build/tree/main/manifests/1.0.0). Please follow the following checklist to make a release.

### Preparation

- [ ] Assign this issue to a release owner.
- [ ] Document any new quality requirements or changes.
- [ ] Declare a pencils down dat

[2021-09-29 00:09] github-actions[bot] opened #645 "[RELEASE] Release version 1.0.1"
## Release OpenSearch and OpenSearch Dashboards 1.0.1

I noticed that a manifest was automatically created in [manifests/1.0.1](/opensearch-project/opensearch-build/tree/main/manifests/1.0.1). Please follow the following checklist to make a release.

### Preparation

- [ ] Assign this issue to a release owner.
- [ ] Document any new quality requirements or changes.
- [ ] Declare a pencils down dat

[2021-09-29 00:10] github-actions[bot] opened #646 "[RELEASE] Release version 1.2.0"
## Release OpenSearch and OpenSearch Dashboards 1.2.0

I noticed that a manifest was automatically created in [manifests/1.2.0](/opensearch-project/opensearch-build/tree/main/manifests/1.2.0). Please follow the following checklist to make a release.

### Preparation

- [ ] Assign this issue to a release owner.
- [ ] Document any new quality requirements or changes.
- [ ] Declare a pencils down dat

[2021-09-29 00:10] github-actions[bot] opened #647 "[RELEASE] Release version 2.0.0"
## Release OpenSearch and OpenSearch Dashboards 2.0.0

I noticed that a manifest was automatically created in [manifests/2.0.0](/opensearch-project/opensearch-build/tree/main/manifests/2.0.0). Please follow the following checklist to make a release.

### Preparation

- [ ] Assign this issue to a release owner.
- [ ] Document any new quality requirements or changes.
- [ ] Declare a pencils down dat

[2021-09-29 00:45] peterzhuamazon commented on #635
https://github.com/opensearch-project/anomaly-detection/pull/245
https://github.com/opensearch-project/anomaly-detection/pull/246
https://github.com/opensearch-project/anomaly-detection/pull/247

[2021-09-29 01:09] peterzhuamazon commented on #636
https://github.com/opensearch-project/helm-charts/issues/55

[2021-09-29 01:10] peterzhuamazon commented on #481
Close this as it is working now in build workflow.

[2021-09-29 12:41] #643 closed

[2021-09-29 12:41] #645 closed

[2021-09-29 12:41] #646 closed

[2021-09-29 12:41] #647 closed

[2021-09-29 16:22] peterzhuamazon commented on #636
https://github.com/opensearch-project/helm-charts/pull/73

[2021-09-29 16:33] peterzhuamazon commented on #635
As a fix later we can try https://gist.github.com/rponte/d660919434d094bbd35a1aabf7ef1bf0 to enable utf-8 encoding.

[2021-09-29 16:39] peterzhuamazon commented on #636
https://github.com/opensearch-project/OpenSearch-Dashboards/issues/660

[2021-09-29 18:26] Rishikesh1159 opened #650 "Improving Test Coverage for sign_workflow"
### Is your feature request related to a problem? Please describe

Currently the test Coverage for bundle-workflow/src/sign_workflow is 87.10%. I am trying to improve the test coverage score.

### Describe the solution you'd like

I am trying to improve the test coverage score from 87.10%.
I am adding two unit test functions in bundle-workflow/tests/tests_sign_workflow/test_signer.py , to improve

[2021-09-29 18:55] dblock opened #652 "Add all missing dashboards plugins into the OpenSearch Dashboards manifest"
### Is your feature request related to a problem? Please describe

Add all missing dashboards plugins into the OpenSearch Dashboards 1.1.0 manifest

### Describe the solution you'd like

Add all OpenSearch Dashboards plugins that are commented out in https://github.com/opensearch-project/opensearch-build/blob/main/manifests/1.1.0/opensearch-dashboards-1.1.0.yml

### Describe alternatives you've co

[2021-09-29 19:21] peterzhuamazon commented on #635
Resolved.

[2021-09-29 19:21] #635 closed

[2021-09-30 00:14] #481 closed

[2021-09-30 00:15] peterzhuamazon opened #654 "Performance Testing Cluster + Run Performance Test"

[2021-09-30 00:17] peterzhuamazon commented on #623
nope. It is only presented in the build repo and plugin repo.

[2021-09-30 01:14] peterzhuamazon commented on #623
New build 20210929 17:00 PST, 306 build.

[2021-09-30 13:53] dblock commented on #100
@peternied Is this something handled by the new DCO workflow you're rolling out?

[2021-09-30 16:52] dblock opened #657 "Build/sign and other run_ workflows skipping components should fail if the component doesn't exist"
### Is your feature request related to a problem? Please describe

We support passing `--component [name]` to many workflows and, if supplied, skip all components that don't match a particular name [like so](https://github.com/opensearch-project/opensearch-build/blob/59f2150707281d18931f2d2d292f9ab81267cdb5/bundle-workflow/src/run_build.py#L52).

This has a few issues:

- If you specify an invalid

[2021-09-30 17:15] peternied opened #658 "Ensure DCO Workflow Check"
Coming from https://github.com/opensearch-project/project-meta/issues/17

A Developer Certificate of Origin is required on commits in the OpenSearch-Project.

See [doc.yml](https://github.com/opensearch-project/.github/blob/main/workflow/dco.yml) for an example workflow.  Ensure CONTRIBUTING.md to has a section on the DCO per the [project template](https://github.com/opensearch-project/.github/blo

[2021-09-30 18:03] peternied commented on #100
The new DCO workflow does perform a validation under the covers with [email-validator](https://www.npmjs.com/package/email-validator), super deep [details](https://github.com/manishsaraan/email-validator/blob/master/index.js#L3).

The email address in this bug is still considered valid according to that library.  Something is better than nothing.

I'm going to resolve this when that pull request g

[2021-09-30 18:34] #100 closed

[2021-09-30 18:34] #658 closed

[2021-09-30 18:41] #650 closed

[2021-09-30 18:41] dblock commented on #650
Closed this. No need to open issues if you're also opening a PR (almost) at the same time, just make the PR :)

[2021-09-30 19:07] peterzhuamazon commented on #611
We are in the process of release NPM for https://github.com/opensearch-project/opensearch-js today.

[2021-09-30 22:27] gaiksaya opened #661 "[Bug]: The location specified in bundle-manifest (manifest.yml) are invalid"
### Describe the bug

A build manifest is bundled inside the OpenSearch bundle tarball (manifest.yml) which contains all the information about the components used to build the bundle. The bundle manifest contains a key `location` whose value is invalid for all components.

[code]

### To reproduce

Download the bundle. Untar it and see the manifest.yml

Try accessing the location url to download i

[2021-09-30 22:29] peterzhuamazon commented on #58
Seems like Async Search WITH SEC is up.

[2021-09-30 22:43] peterzhuamazon commented on #623
New build 20210930.

[2021-09-30 22:44] #623 closed

[2021-09-30 22:48] peterzhuamazon opened #663 "[Requirements] IM needs JS 1.2.0 SPI in Maven Snapshots to work"
### Is your feature request related to a problem? Please describe

Per @dbbaughe,

[code]

We need to deploy 1.2 jars to maven as majority of the plugin owners are working on it in `main` branch of their repos.

### Describe the solution you'd like

Create 1.2.0 manifest and deploy to maven snapshots.

### Describe alternatives you've considered

_No response_

### Additional context

_No response

[2021-09-30 22:52] dbbaughe commented on #663
As mentioned by Peter, we have already cut 1.1 branches for Job Scheduler and Index Management, and now we have a new feature going into the main branches of each w/ IM depending on the code changes in Job Scheduler. If we want to rely on using the snapshots for the dependencies in CI then we need to be able to bump the Job Scheduler/Index Management/other plugins to 1.2 and have the equivalent 1.

[2021-09-30 23:09] dblock commented on #663
1. Make sure common-utils and job-scheduler have incremented their versions to 1.2.
2. Add them to the 1.2 manifest.
3. Start building 1.2 in https://github.com/opensearch-project/opensearch-build/blob/main/bundle-workflow/Jenkinsfile#L8.

[2021-09-30 23:11] dblock commented on #663
@dbbaughe You should be able to PR all those changes, too!

[2021-09-30 23:31] peterzhuamazon commented on #636
https://github.com/opensearch-project/dashboards-reports/issues/170

[2021-10-01 00:09] peterzhuamazon commented on #636
https://github.com/opensearch-project/helm-charts/pull/74

[2021-10-01 01:56] peterzhuamazon commented on #611
We have release 1.0.0 version of NPM OpenSearch-JS client today.
https://www.npmjs.com/package/@opensearch-project/opensearch

[2021-10-01 02:01] peterzhuamazon opened #667 "Integration tests for OpenSearch and Dashboards bundles"
Integration tests for OpenSearch and Dashboards bundles

[2021-10-01 02:02] peterzhuamazon commented on #667
All integtest results from Jenkins will be located in Jenkins.
This is the place to host dashboards tests logs.

[2021-10-01 03:39] setiah commented on #629
The test-workflow depends on the directory layout for artifacts set by build workflow defines, to read below.
* Maven artifacts
* Built zip dependencies like job-scheduler
* Bundles artifacts.

test-workflow is able to generate the download paths using `s3 bucket`, `build_id`, `architecture`. if we want to build and test locally, we might need to modify the inputs to pre-provided paths. These path

[2021-10-01 06:52] rursprung commented on #20
is there any indication if this will make it for 1.1 next week?

[2021-10-01 12:51] dblock commented on #20
Do you mean zips @rursprung? We haven’t been publishing zips to maven, and I am still not convinced we should, but all the Java artifacts are in AWS OSS Sonatype and will be promoted to maven central.

 https://github.com/opensearch-project/opensearch-plugins/blob/main/BUILDING.md#consume-maven-artifacts-in-order

[2021-10-01 14:30] dblock commented on #592
Looks like opensearch-project/OpenSearch-Dashboards#795 wasn't backported to 1.1. If we can still do that, great, otherwise we can either 1) add a different build.sh into Dashboards main vs. 1.1 branch 2) just move forward and stop trying to build dashboards 1.1.0 and go for 1.2.0 instead.

[2021-10-01 15:04] #663 closed

[2021-10-01 15:05] dblock commented on #487
Here's a manual version of what we're trying to automate: https://github.com/opensearch-project/opensearch-build/pull/664.

[2021-10-01 15:06] #624 closed

[2021-10-01 15:11] rursprung commented on #20
sorry for not being more specific. yes, i meant the distribution ZIPs

some examples of others which also publish ZIPs on maven:
* Search Guard: https://docs.search-guard.com/latest/search-guard-versions (all links go to their maven server) and we're actively using that for downloads
* Wildfly: e.g. https://repo1.maven.org/maven2/org/wildfly/wildfly-dist/24.0.1.Final/

maven can be used for things

[2021-10-01 15:15] dblock commented on #20
I'd like to know what @nknize @mch2 and @bbarani think?

[2021-10-01 15:26] dblock commented on #20
My concerns are:

- The fact that we will no longer have a single authoritative source for artifacts and there will be two ways to get the same thing from two different places.
- Lesser of a concern, the proliferation of snapshot artifacts, times every build.

Note that OpenSearch even inherited [DistributionDownloadPlugin](https://github.com/opensearch-project/OpenSearch/blob/main/buildSrc/src/ma

[2021-10-01 16:59] peterzhuamazon commented on #636
https://github.com/opensearch-project/helm-charts/pull/57

[2021-10-01 17:10] peterzhuamazon commented on #636
https://github.com/opensearch-project/helm-charts/issues/79

[2021-10-01 18:04] peternied opened #669 "[Bug]: Distribution builds can have path colisitions"
Distribution builds are not namespace'd based on the type of artifact produced so an OpenSearch and OpenSearch Dashboard build could collide.

### Actual
The current path generated is `https://ci.opensearch.org/ci/dbc/builds/1.1.0/328/x64/manifest.yml`.

### Expected
It should have the distribution type in the path like `https://ci.opensearch.org/ci/dbc/opensearch/builds/1.1.0/328/x64/manifest.yml

[2021-10-01 18:29] peternied opened #670 "Review and resolve open issues on internal CI"
The details of this process are Amazon internal, but documenting the work in progress.

[2021-10-01 18:55] #427 closed

[2021-10-01 19:18] dblock commented on #669
What is `dbc`, btw?

[2021-10-01 19:19] dblock commented on #669
Let's make sure to address https://github.com/opensearch-project/opensearch-build/issues/661 when we change these.

[2021-10-01 19:28] peternied commented on #20
@rursprung What about a [docker image](https://hub.docker.com/r/opensearchproject/opensearch) instead of a zip file, if there was a `-min` version of OpenSearch would that be more in alignment with your process?

[2021-10-01 20:12] peterzhuamazon commented on #636
https://github.com/opensearch-project/OpenSearch/issues/1325

[2021-10-01 20:39] peternied commented on #661
Fixing... pull request incoming

[2021-10-01 20:41] peterzhuamazon commented on #86
[native-plugins-1.1.0.log](https://github.com/opensearch-project/opensearch-build/files/7270060/native-plugins-1.1.0.log)

[2021-10-01 21:08] peterzhuamazon commented on #86
Push to candidate channel and did a test on repository-s3, which works:
[code]

[2021-10-02 00:36] #618 closed

[2021-10-04 07:32] lsy1990 opened #674 "How to user document-level security to manage logging in opensearch dashboard?"
### Is your feature request related to a problem? Please describe

I want to use opensearch to store log that from kubernetes.To avoid  the count of the index is two many ,I use only one index named app-log,and this contain one field kubernetes.namespace,I want someone only query in one namespace,so create role and use bool filter,But what should i do in opensearch  to make user  only search the s

[2021-10-04 15:48] peterzhuamazon commented on #636
https://github.com/opensearch-project/helm-charts/issues/72

[2021-10-04 16:46] hfuss commented on #254
This did not get release as part of https://github.com/opensearch-project/opensearch-build/issues/151

I'm still seeing the demo certs in the `1.0.1` image, can new images be released ASAP?

[2021-10-04 17:26] peterzhuamazon commented on #254
1.0.1 release on 09/01 and the fix is on 09/10.
We will release this on 1.1.0 version.

[2021-10-04 17:27] peterzhuamazon commented on #636
https://github.com/opensearch-project/opensearch-build/issues/254#issuecomment-933697103

[2021-10-04 17:30] peternied opened #675 "[Feature] Create Build lock file and use it during the build process"
_Conceptually this feature is aligned with npm's [package-lock.json](https://docs.npmjs.com/cli/v6/configuring-npm/package-locks) or python's [pipfile.lock](https://realpython.com/pipenv-guide/#the-pipfilelock)._

Reproducing build issues can be difficult if OpenSearch-build or one of the branches has changed since an error has first occurred.  Its also hard to identify if a build has already been

[2021-10-04 17:32] peterzhuamazon commented on #636
https://github.com/opensearch-project/OpenSearch/issues/1325

[2021-10-04 18:30] #579 closed

[2021-10-04 18:36] peterzhuamazon opened #676 "Generating docker images on both x64 and arm64 (multi-arch)"

[2021-10-04 18:37] peterzhuamazon commented on #676
Docker Hub Staging:
https://hub.docker.com/r/opensearchstaging/opensearch/tags?page=1&ordering=last_updated&name=1.1.0-multi-test
https://hub.docker.com/r/opensearchstaging/opensearch-dashboards/tags?page=1&ordering=last_updated&name=1.1.0-multi-test

We have generated the multi-test image in staging for 1.1.0 with an older tarball for testing purposes.
This is NOT the final release and only a tes

[2021-10-04 19:16] dblock commented on #675
This is a great suggestion. Practically you are proposing we split the build workflow into a `prepare` workflow, followed by the existing `build` workflow followed by the `assemble` workflow as we know it. The output of prepare should be an ID (SHA) that can uniquely tell us whether this build exists, instead of having to do a diff. We could even get rid of the Jenkins ID in this system, although

[2021-10-04 19:50] peterzhuamazon commented on #676
[code]
Seems like a bug that if any volume created after dockerfile, compose will make the mount happen with root but why this never happen before on single arch image is curious.

https://github.com/docker/compose/issues/3270

[2021-10-04 19:54] peterzhuamazon commented on #676
New PR: https://github.com/opensearch-project/opensearch-build/pull/677

[2021-10-04 20:59] #661 closed

[2021-10-04 22:39] peterzhuamazon opened #679 "[IntegTest] Switch docker image to include 6.9.1 cypress"
### Is your feature request related to a problem? Please describe

As of now, the docker files in bundle-workflow/dockerfiles are using cypress@5.6.0 due to alerting dashboards plugin requires that version per @ohltyler.

However, it causes other plugin such as IM Dashboards to fail during the test, and requires the latest version 6.9.1 for node10.

We need to switch the version from 5.6.0 to 6.9.

[2021-10-04 22:41] peterzhuamazon commented on #667
IM Dashboards SEC:
<details><summary></summary>
<p>
[code]
</p>
<details>

[2021-10-04 22:42] peterzhuamazon commented on #667
<details><summary>IM Dashboards NOSEC:</summary>
<p>
[code]
</p>
<details>

[2021-10-04 22:46] ohltyler commented on #679
Preferably the fix comes in core, so all plugins don't have to maintain versions of Cypress at all and can consume the version from core. I created an issue originally [here](https://github.com/opensearch-project/OpenSearch-Dashboards/issues/754).

If this is not done in time, we may go ahead and bump the different plugins' versions of Cypress, to at least get around the issue of having to run the

[2021-10-04 22:53] peterzhuamazon commented on #667
<details><summary>Alerting Dashboards SEC: ✅ </summary>
<p>

[code]

</p>
<details>

[2021-10-04 22:54] peterzhuamazon commented on #667
<details><summary>Alerting Dashboards x64 SEC:</summary>
<p>

[code]

</p>
<details>

[2021-10-04 22:56] peterzhuamazon commented on #667
<details><summary>SQL Dashboards x64 NOSEC:</summary>
<p>

[code]

</p>
<details>

[2021-10-04 23:19] peterzhuamazon commented on #667
<details><summary>AD Dashboards x64 SEC: ✅ </summary>
<p>

[code]

</p>
<details>

[2021-10-04 23:26] peterzhuamazon commented on #667
<details><summary>AD Dashboards x64 NOSEC: ✅ </summary>
<p>

[code]

</p>
<details>

[2021-10-04 23:54] peterzhuamazon commented on #667
<details><summary>Notebooks Dashboards x64 NOSEC: ✅ </summary>
<p>

[code]

</p>
<details>

[2021-10-05 00:02] peterzhuamazon commented on #667
<details><summary>Reports Dashboards x64 NOSEC: ✅ </summary>
<p>

[code]

</p>
<details>

[2021-10-05 00:21] peterzhuamazon commented on #667
<details><summary>Security Dashboards x64 SEC: ✅ </summary>
<p>

[code]

</p>
<details>

[2021-10-05 00:25] peterzhuamazon commented on #667
------

[2021-10-05 00:36] Tengda-He opened #680 "Making sure all dashboards plugins can be built into OpenSearch Dashboard coherently"
### Is your feature request related to a problem? Please describe

Modify the build.sh process to allow all OpenSearch Dashboards plugins, that are commented out in https://github.com/opensearch-project/opensearch-build/blob/main/manifests/1.1.0/opensearch-dashboards-1.1.0.yml
can be built into OpenSearch Dashboard without interference of each other.

### Describe the solution you'd like

Remove t

[2021-10-05 00:38] peterzhuamazon commented on #667
<details><summary>IM Dashboards arm64 SEC:</summary>
<p>

[code]

</p>
<details>

[2021-10-05 00:47] peterzhuamazon commented on #667
<details><summary>IM Dashboards arm64 NOSEC: ✅ </summary>
<p>

[code]

</p>
<details>

[2021-10-05 00:59] peterzhuamazon commented on #667
<details><summary>Alerting Dashboards arm64 SEC: ✅ </summary>
<p>

[code]

</p>
<details>

[2021-10-05 01:09] peterzhuamazon commented on #667
<details><summary>Alerting Dashboards arm64 NOSEC: ✅ </summary>
<p>

[code]

</p>
<details>

[2021-10-05 01:18] peterzhuamazon commented on #667
<details><summary>SQL Dashboards arm64 NOSEC: ✅ </summary>
<p>

[code]

</p>
<details>

[2021-10-05 01:20] peterzhuamazon commented on #667
<details><summary>IM Dashboards arm64 SEC:</summary>
<p>

[code]

</p>
<details>

[2021-10-05 01:24] peterzhuamazon commented on #667
<details><summary>IM Dashboards arm64 NOSEC:</summary>
<p>

[code]

</p>
<details>

[2021-10-05 01:32] peterzhuamazon commented on #667
<details><summary>Notebooks Dashboards arm64 NOSEC: ✅ </summary>
<p>

[code]

</p>
<details>

[2021-10-05 01:40] peterzhuamazon commented on #667
<details><summary>Reports Dashboards arm64 NOSEC: ✅ </summary>
<p>

[code]

</p>
<details>

[2021-10-05 01:41] peterzhuamazon commented on #667
<details><summary>Security Dashboards arm64 SEC: ✅ </summary>
<p>

[code]

</p>
<details>

[2021-10-05 01:42] peterzhuamazon commented on #667
OpenSearch:

x64
[code]

arm64
[code]

[2021-10-05 01:42] peterzhuamazon commented on #667
All tests have passed for now.

[2021-10-05 01:44] peterzhuamazon commented on #676
We will use another ticket for the releasing on production.

[2021-10-05 01:44] #676 closed

[2021-10-05 01:46] peterzhuamazon opened #682 "Tarball min release"
We will release tarball min artifacts.

[2021-10-05 01:46] peterzhuamazon opened #683 "Tarball bundle release"
Tarball Bundle Release for 1.1.0 artifacts.

[2021-10-05 01:46] peterzhuamazon opened #684 "Docker multi-arch images release production bucket"
Docker multi-arch images release production bucket.

[2021-10-05 01:46] peterzhuamazon opened #685 "Release jars on Maven Central for 1.1.0"
Release jars on Maven Central for 1.1.0.

[2021-10-05 01:47] peterzhuamazon opened #686 "Release Native Plugins for 1.1.0 on S3 Production Bucket"

[2021-10-05 01:48] peterzhuamazon commented on #86
The build is completed for now.
We will use #686 to track the release of native plugins in 1.1.0.

[2021-10-05 02:11] peterzhuamazon opened #687 "Sign all the artifacts before release"

[2021-10-05 02:12] peterzhuamazon commented on #687
Signed artifacts 20211004:
[code]

[2021-10-05 02:12] #687 closed

[2021-10-05 02:14] #667 closed

[2021-10-05 03:35] peterzhuamazon opened #688 "Set Maven Staging Repository for 1.1.0 jars and sign them"

[2021-10-05 03:37] peterzhuamazon commented on #688
Staged Bundle 405 with staging workflow 16.
We are ready to publish maven artifacts for OpenSearch 1.1.0 to Release Channel.

[2021-10-05 03:37] #688 closed

[2021-10-05 04:04] saratvemulapalli opened #689 "[Docker] Automate testing docker images for release"
### Is your feature request related to a problem? Please describe

The docker images we produce for release are manually tested.
We should standardize and automate our test workflow to verify docker images as part of our release.

### Describe the solution you'd like

Restructure our integration-test workflow to spin up cluster using a docker image as an option and run tests using the cluster.

[2021-10-05 13:44] santiagz opened #690 "Opensearch Integration With Grafana"
### Is your feature request related to a problem? Please describe

this integration would open up many possibilities for visualization

### Describe the solution you'd like

I will visualize data from Opensearch and would like to be able to use grafana

### Describe alternatives you've considered

Elastic has integration with Grafana via Lucene query

### Additional context

_No response_

[2021-10-05 14:23] peternied opened #691 "[Meta] Update Branch Protection Rules - Disable dismissing stale review"
Today we have the following branch protection rules in place for `main`:

- [x] Require a pull request before merging
  + [x] Require approvals: **2**
  + [x] Dismiss stale pull request approvals when new commits are pushed
  + [ ] Require review from Code Owners
  + [ ] Restrict who can dismiss pull request reviews
- [x] Require status checks to pass before merging
  + [x] Require branches to be

[2021-10-05 16:25] dblock commented on #675
Thought about this some more and I think we already have our lock file, the build output. If I understand correctly, the problems we want solved are:

1. We want to be able to easily reproduce a build. If I run `build.sh manifest.yml`, then next run isn't the same, but it should be by default.
2. We want to stop building when no changes in code have been made, yet keep the cron so we get a new bui

[2021-10-05 16:29] dblock opened #692 "Merge build and assemble"
### Is your feature request related to a problem? Please describe

Building an assembling are two separate steps.

### Describe the solution you'd like

While build is multiple steps with intermediate manifests there's really no reason to run them separately, we could combine the outputs in subfolders and simplify the invocation.

### Describe alternatives you've considered

_No response_

### Add

[2021-10-05 17:06] peterzhuamazon commented on #654
We have completed the Performance Testing.

[2021-10-05 17:06] #654 closed

[2021-10-05 17:49] peternied commented on #158
@kavilla Should we spin those tasks into additional issues and update https://github.com/opensearch-project/opensearch-build/issues/573 or wait for them on this issue?

[2021-10-05 18:01] dblock opened #693 "Integrate performance testing into release workflow"
### Is your feature request related to a problem? Please describe

Integrate performance testing workflow into https://github.com/opensearch-project/opensearch-build/blob/main/.github/ISSUE_TEMPLATE/release_template.md

### Describe the solution you'd like

Pre-requisites:

- [ ] Performance tests are run continuously
- [ ] Test results are published for every bundle build
- [ ] Test results inclu

[2021-10-05 18:12] dblock commented on #693
@bbarani Add your thoughts please?

[2021-10-05 18:15] dblock commented on #115
Closing.

[2021-10-05 18:15] #115 closed

[2021-10-05 18:46] elsif2 opened #694 "[Bug]: node.data, node.ingest, and node.master deprecation"
### Describe the bug

Upon starting v1.0.0, depreciation warnings are generated for the `node.data`, `node.ingest`, and `node.master` configuration options although they appear in the current [documentation](https://opensearch.org/docs/opensearch/cluster/#master-node).

[code]

I did not see any mention of these in the [release notes](https://github.com/opensearch-project/opensearch-build/blob/mai

[2021-10-05 18:51] saratvemulapalli commented on #42
Good question.
We should be able to close this as most of the work is already done and the remaining pieces are still being tracked by: #90

[2021-10-05 18:51] #42 closed

[2021-10-05 19:01] saratvemulapalli commented on #154
@dblock I think this is already taken care of.
Feel free to reopen this if there is any thing else needed.
Ref: https://github.com/opensearch-project/opensearch-build/blob/main/bundle-workflow/scripts/default/integtest.sh

[2021-10-05 19:01] #154 closed

[2021-10-05 19:06] saratvemulapalli commented on #691
Why not "require signed commits?"

[2021-10-05 19:35] kavilla opened #695 "[Bug]: OpenSearch Dashboards Jenkins failure potentially due to git"
### Describe the bug

While adding a Jenkins file and attempting to run a pipeline, the build is failing.

What is happening is that the build script will `yarn osd bootstrap` into the OpenSearch Dashboards repo. This will call `node scripts/osd` with the arg `bootstrap`this will eventually run `node ./preinstall_check` which then succeeds. But will then it will iterate through all the packages at

[2021-10-05 20:14] peternied opened #696 "Request level logging during the tests"
There was problems during the no-security enabled test runs for both arm64 and x86, 100% failure rate from the perf testing system.  After inspecting the hosts we were not able to find any errors or request logs that indicated the source of the issue.

When we deploy a OpenSearch cluster to run performance tests we should have request logs saved on disk so we can correlate any aberrate behavior to

[2021-10-05 20:20] peternied opened #697 "[Performance] Need to validate the 1.1.0 without security performance tests"
We should retrigger this test process for both x86 and arm64 with lots of debugging logging including #696 as well as other logging that would be useful to root cause and resolve any issues running these tests.

After getting successful runs back we should make fixes for any issues encountered.

[2021-10-05 20:31] peterzhuamazon commented on #682
https://artifacts.opensearch.org/releases/core/opensearch/1.1.0/opensearch-min-1.1.0-linux-x64.tar.gz
https://artifacts.opensearch.org/releases/core/opensearch/1.1.0/opensearch-min-1.1.0-linux-x64.tar.gz.sig
https://artifacts.opensearch.org/releases/core/opensearch/1.1.0/opensearch-min-1.1.0-linux-arm64.tar.gz
https://artifacts.opensearch.org/releases/core/opensearch/1.1.0/opensearch-min-1.1.0-lin

[2021-10-05 20:31] #682 closed

[2021-10-05 20:34] peterzhuamazon commented on #683
https://artifacts.opensearch.org/releases/bundle/opensearch/1.1.0/opensearch-1.1.0-linux-x64.tar.gz
https://artifacts.opensearch.org/releases/bundle/opensearch/1.1.0/opensearch-1.1.0-linux-x64.tar.gz.sig
https://artifacts.opensearch.org/releases/bundle/opensearch/1.1.0/opensearch-1.1.0-linux-arm64.tar.gz
https://artifacts.opensearch.org/releases/bundle/opensearch/1.1.0/opensearch-1.1.0-linux-arm64

[2021-10-05 20:34] #683 closed

[2021-10-05 20:58] peterzhuamazon commented on #86
1.1.0 Native Plugins released for now.

[2021-10-05 21:00] peterzhuamazon commented on #686
[code]

[2021-10-05 21:00] peterzhuamazon commented on #686
We have released the 1.1.0 native plugins to releases channel.

[2021-10-05 21:00] #686 closed

[2021-10-05 21:01] cjcjameson commented on #33
We are looking at https://discuss.opendistrocommunity.dev/t/windows-installation/6555/6 which talks about workarounds, but also hoping to get this supported natively with a distribution released.

Sad that it moved to target 1.3 (https://github.com/orgs/opensearch-project/projects/1?card_filter_query=windows) but looking for ways to help.

[2021-10-05 21:03] cjcjameson commented on #332
@peternied we're looking for ways to help #33 and get Windows installers. does your comment mean we should find other ways to help?

[2021-10-05 21:16] dblock commented on #695
I am still confused what is returned from `git rev-parse --git-common-dir` on Jenkins. Care to copy paste actual output of the error?

Why is build trying to install pre-commit hooks?

[2021-10-05 21:38] peterzhuamazon commented on #684
https://hub.docker.com/r/opensearchproject/opensearch/tags?page=1&ordering=last_updated
https://hub.docker.com/r/opensearchproject/opensearch-dashboards/tags?page=1&ordering=last_updated

[2021-10-05 21:52] kavilla commented on #695
Sure here is the error:
[code]

Here is example of me logging git-common-dir and a valid path of register_git_hook working:
[code]

Easiest way to see it without building everything is: `node scripts/register_git_hook`

Legacy thing but not necessarily a bad thing.

When running `yarn osd bootstrap` it ends up going through this code [here](https://github.com/opensearch-project/OpenSearch-Dashboar

[2021-10-05 22:17] peterzhuamazon commented on #684
It works on x64 and arm64 now:
[code]

[2021-10-05 22:17] #684 closed

[2021-10-05 22:19] peternied opened #698 "[Workflow] Automation validating release notes"
We should implement a link checker, spelling checker and any other validation that can be run as part of a pull request workflow.

https://github.com/opensearch-project/opensearch-build/pull/478

[2021-10-05 22:21] marianotn commented on #33
+1 too

[2021-10-05 22:27] peternied commented on #691
@saratvemulapalli Want to start up an new issue you can clone this one?  I've got opinions :)

[2021-10-05 22:31] peterzhuamazon opened #699 "[Bug] Maven 1.1.0 failed Central Sync due to multiple errors"
### Describe the bug

[Bug] Maven 1.1.0 failed Central Sync due to multiple errors.

When we try to release Maven Artifacts for 1.1.0 OpenSearch to Maven Central through sonatype, we encounter these errors that block us from closing.

Here are all the issues we see:

<details><summary>Event: Failed: Javadoc Validation:</summary>
<p>

[code]

</p>
</details>

<details><summary>Event: Failed: Checks

[2021-10-05 22:42] peternied commented on #332
@cjcjameson Good callout, I really should have said lock into a single version of `*nix`, the windows platform is entirely different and deserving of support!

If you were to start here with a docker image, that establishes the basis of a build platform - https://github.com/opensearch-project/opensearch-build/tree/main/bundle-workflow/dockerfiles

If you create a [Meta] issue to support Windows pl

[2021-10-05 22:46] peternied opened #700 "Check maven central distribution requirements"
Follow up from https://github.com/opensearch-project/opensearch-build/issues/699

At the end of the release process we were surprised by some checks that failed, we should make sure these checks can be enforced before we are in the middle of a release or at least have a best effort to minimize these issues.

Add a check next to https://github.com/opensearch-project/opensearch-build/tree/main/bundl

[2021-10-05 23:44] dblock opened #701 "Document publishing to maven central"
### Describe the bug

We have a Jenkins workflow that pulls artifacts from S3 based on build number, then signs all the jars, then uses stage maven release script to send to Sonatype.

We publish snapshots daily in a Jenkins workflow.

We have some manual process to push a button to publish the maven artifacts to maven central after release.

All of this needs to be documented from README.

[2021-10-06 01:41] dblock commented on #699
We should not be publishing job-scheduler, only SPI, that fix would be to remove https://github.com/opensearch-project/opensearch-build/blob/main/bundle-workflow/scripts/components/job-scheduler/build.sh#L63

[2021-10-06 09:17] seriouz opened #708 "Docker Image from Main branch"
Have you considered to provide a Docker image that's nightly builded from the Main branch? You could name it `opensearch:unstable` or something like that.
We are using massively Docker in our company and to get a preview of what's going into the next version and to test the features would be great.

[2021-10-06 15:29] naveentatikonda opened #702 "Create artifacts for rest-api-spec"
We are trying to fetch the updates in apis from the rest-api-spec into OpenSearch-Specification and many clients(like opensearch - js). We are doing it manually as the artifacts are not yet created. Can we create the artifacts for rest-api-spec like "rest-resources-zip-7.15.1.zip" in https://artifacts-api.elastic.co/v1/versions/7.15

Here is an example to show where it is being used:
https://githu

[2021-10-06 18:51] dblock commented on #700
Add a check next to https://github.com/opensearch-project/opensearch-build/tree/main/bundle-workflow/src/build_workflow/opensearch that verifies that every .jar came with a corresponding .md5 and .sha1 signature file.

[2021-10-06 19:07] #448 closed

[2021-10-06 19:18] peterzhuamazon commented on #636
https://github.com/opensearch-project/helm-charts/pull/71

[2021-10-06 19:23] peterzhuamazon commented on #636
https://github.com/opensearch-project/OpenSearch-Dashboards/issues/850

[2021-10-06 19:30] peternied commented on #699
Existing issues have been resolved but release was stopped with this error:

[code]

[2021-10-06 21:41] kavilla opened #704 "Automate integration tests for OpenSearch Dashboards"
### Is your feature request related to a problem? Please describe

Automate integration tests for OpenSearch Dashboards and plugins

### Describe the solution you'd like

Automatically runs through defined integration tests.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-10-06 21:42] kavilla opened #705 "Dashboards automate backwards compatibility tests"
Backward Compatibility (BWC) test is used to verify the compatibility of the current developed software with their older versions. Specifically, for OSD which is forked from Kibana v7.10.2, BWC test means verification to see whether customers can upgrade from old Kibana versions to OSD and from old OSD versions to the current one. Currently BWC is done manually for each release and it takes about

[2021-10-06 21:42] kavilla opened #706 "Automate performance tests for OpenSearch Dashboards"
### Is your feature request related to a problem? Please describe

Create and automate running of performance-related tests for OpenSearch Dashboards.

### Describe the solution you'd like

Will need to define what we have already for OpenSearch Dashboards and plugins, and create it and automate it.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-10-06 22:00] kavilla commented on #680
This should be solved when solving https://github.com/opensearch-project/opensearch-build/issues/606 but verify.

[2021-10-06 22:34] saratvemulapalli opened #707 "Publish performance test results for every build"
Add support to publish performance test results.

[2021-10-06 22:36] saratvemulapalli commented on #693
@dblock some of the answers to questions above would be taken care by https://github.com/opensearch-project/opensearch-build/issues/126.
I would rather have granular issues created and link it to the meta issue to understand where we are on performance testing.

 - Performance tests are run continuously -> https://github.com/opensearch-project/opensearch-build/issues/129
 - Test results are publis

[2021-10-06 23:26] saratvemulapalli commented on #708
Tagging @bbarani for thoughts on this.

[2021-10-07 02:51] peternied commented on #699
Script to generate missing checkups, `gen-checksum.sh`
[code]

Prereqs:
1. Install maven
2. `export` env variables for the sonatype release see [stage-maven-release.sh](https://github.com/opensearch-project/opensearch-build/blob/main/publish/stage-maven-release.sh)
3. Download the signed artifacts from `s3://artifact-bucket-stack-buildbucket-9omh0hnpg12q/builds/1.1.0/405/x64/` to the local disk

R

[2021-10-07 02:56] #685 closed, assigned to peterzhuamazon

[2021-10-07 11:31] #592 closed

[2021-10-07 16:33] peternied opened #712 "[Bug]: stage-maven-release.sh process leaves artifacts in the upload directory"
After running stage-maven-release.sh a file is created that will automatically be uploaded if the script runs a second time, the upload process should be idempotent to prevent pollution of the environment or for a retry of the process.

Filename:
[code]
File Contents:
[code]

See [AbstractStagingDeployStrategy.java](https://github.com/sonatype/nexus-maven-plugins/blob/master/staging/maven-plugin/s

[2021-10-07 16:47] peternied opened #713 "[Bug] maven-metadata-local.xml files are preventing publishing to maven central"
When running stage-maven-release.sh all files from the build are included, there are some files such as `maven-metadata-local.xml` present that are causing problems when published because they have already been published.

We should determine if we can exclude these artifacts or if there are any additional artifacts that are not needed.

[2021-10-07 18:00] dblock commented on #713
Let's find a way to test this without the metadata files, but I suspect we'll need them because the input to upload to Sonatype needs to be a working maven repo, which implies metadata files, but I could be wrong.

[2021-10-07 19:00] dblock opened #714 "[Bug]: Build manifest has broken URLs missing architecture from path"
### Describe the bug

In https://ci.opensearch.org/ci/dbc/bundles/1.1.0/405/x64/manifest.yml the links are broken, missing architecture:

https://ci.opensearch.org/ci/dbc/bundles/1.1.0/405/opensearch-1.1.0-linux-x64.tar.gz
https://ci.opensearch.org/ci/dbc/bundles/1.1.0/405/x64/opensearch-1.1.0-linux-x64.tar.gz

https://ci.opensearch.org/ci/dbc/builds/1.1.0/405/bundle/opensearch-min-1.1.0-linux-x64

[2021-10-07 20:25] peterzhuamazon commented on #636
https://github.com/opensearch-project/helm-charts/pull/70

[2021-10-07 21:03] #714 closed, assigned to dblock

[2021-10-07 21:40] dblock opened #716 "Publish distribution ZIPs to Maven"
### Is your feature request related to a problem? Please describe

Coming from https://github.com/opensearch-project/opensearch-build/issues/20#issuecomment-932316080, publish distribution zips to maven.

Maven can be used for things other than java dependencies and is also actively used in such cases.

### Describe the solution you'd like

Ditto.

### Describe alternatives you've considered

_No

[2021-10-07 21:47] dblock commented on #585
Are we still trying to do this?

[2021-10-08 23:42] peternied commented on #614
@zelinh Can you add description to this issue?

[2021-10-11 05:33] rursprung commented on #716
to reply to @dblock's comment from the original issue:

this would require the build to connect to the "outside world" every time - using maven allows us to cache things locally with a well-established process (our internal maven server has the public maven servers as remotes and caches all packages downloaded from there).
if we have to scan for files that'd be a home-grown process which is then b

[2021-10-11 16:43] jcgraybill commented on #28
It looks like Elasticsearch's DEB packages set up SysV or systemd hooks for running Elasticsearch. In the spirit of allowing OpenSearch to be a drop-in migration, let's be sure its DEB packages are set up the same way. https://www.elastic.co/guide/en/elasticsearch/reference/current/starting-elasticsearch.html#start-deb

[2021-10-11 16:49] jcgraybill commented on #27
NB the ways that Elasticsearch could be administered with init or systemd - let's be sure the OpenSearch RPM offers the same options. https://www.elastic.co/guide/en/elasticsearch/reference/current/starting-elasticsearch.html#start-rpm

[2021-10-11 18:11] peterzhuamazon opened #720 "Weekly Community Engagement on 2021/10/12 - 2021/10/25"
We are engaging with the community on a weekly basis.
This is for 2021/10/12 - 2021/10/25

[2021-10-11 18:13] gaiksaya opened #721 "[META] On-board whitesource native integration"
### Is your feature request related to a problem? Please describe
We need to scan all public GitHub repositories under OpenSearch organization for security vulnerabilities.

### Describe the solution you'd like
- Use native integration that is available out of the box in Whitesource tool to  schedule / automate the CVE and vulnerability scans on all public GitHub repositories under OpenSearch orga

[2021-10-11 21:27] dblock opened #722 "Automate listing dependencies and their versions for each dependency"
### Is your feature request related to a problem? Please describe

Every time someone reports a CVE in a dependent component we have several challenges:

1. Find all versions of OpenSearch and OpenSearch Dashboards that contains the dependency <= the vulnerable version.
2. Determine whether the dependency is runtime or build time.
3. Determine whether the CVE affects the product(s) by understandin

[2021-10-11 22:06] setiah opened #723 "[Bug]: Broken UTs on `main` branch"
### Describe the bug

Seeing failures in these 2 UTs on main branch

[code]

### To reproduce

Run ut coverage analysis on repo `opensearch-build`, branch `main`

[code]

### Expected behavior

No UT failures

### Screenshots

If applicable, add screenshots to help explain your problem.

### Host / Environment

_No response_

### Additional context

_No response_

### Relevant log output

_No resp

[2021-10-11 22:17] peterzhuamazon commented on #585
I dont think it is right to push to https://aws.oss.sonatype.org/content/repositories/snapshots
as that is the repository for snapshots not staging.

See publish/stage-maven-release.sh for more information as that is the script to push to the correct location.

[2021-10-11 22:19] gaiksaya commented on #585
They want to publish snapshots too. Cron-job that will keep running on `main` branch so that developers can use it.

[2021-10-11 23:12] dblock commented on #585
We want a standalone snapshot build so that developers can contribute to the library and immediately use their changes.

[2021-10-11 23:38] dblock commented on #723
https://github.com/opensearch-project/opensearch-build/pull/724

[2021-10-11 23:45] #723 closed

[2021-10-12 01:18] VijayanB commented on #585
1 & 2 Action items for component owner is completed.
New branch for release: https://github.com/opensearch-project/opensearch-java/tree/0.1
Daily Snapshot branch: https://github.com/opensearch-project/opensearch-java/tree/main

To produce 0.1.0-SNAPSHOT as version and qualifier
[code]

To produce 0.1.0 as version
[code]

[2021-10-12 01:53] VijayanB opened #726 "Release new docker image for logstash oss 7.13.4 with latest logstash-output-opensearch"
Logstash oss image: https://www.elastic.co/downloads/past-releases/logstash-oss-7-13-4
Install logstash-output-opensearch 1.1.0
Release new image.

[2021-10-12 08:41] placaze opened #728 "[Bug]: [Docker][opensearch-dashboards] The home dir is owned by root"
### Describe the bug

The home dir of the `opensearch-dashboards` user is owned by root in the Docker image. We can't write file in this home dir.

The `opensearch` image doesn't have this problem.

I can't find where it is coming from in the Dockerfile: https://github.com/opensearch-project/opensearch-build/blob/main/docker/release/dockerfiles/opensearch-dashboards.al2.dockerfile All seem right t

[2021-10-12 11:33] #105 closed

[2021-10-12 16:44] dblock opened #731 "Refactor common parts of OpenSearch and OpenSearch Dashboards Jenkins jobs into a Jenkins shared library"
### Is your feature request related to a problem? Please describe

We have numerous common parts in OpenSearch and OpenSearch Dashboards Jenkins jobs, such as bundle workflow and notifications.

### Describe the solution you'd like

Common parts should be supplied from a jenkins workflow library instead of copy-pasting.

https://github.com/opensearch-project/opensearch-build/blob/main/jenkins/open

[2021-10-12 16:52] dblock opened #732 "Split, simplify and move usage of CI runners between OpenSearch and OpenSearch Dashboards"
### Is your feature request related to a problem? Please describe

CI runners are the kitchen sink of everything to support OpenSearch and OpenSearch Dashboards. We *will* run into conflicts sooner than later. We will also want to build multiple versions at the same time which will make it difficult to track what's what. For example, in `centos7-x64-arm64-jdk14-node10.24.1-cypress6.9.1-20211005`,

[2021-10-12 18:45] dblock commented on #33
To work this POC into our build process. Looking at https://github.com/opensearch-project/opensearch-build/pull/733/files I think we need to make a few changes to produce a Windows zip during the assemble step.

Should be based on the output of `build.sh`, so create another manifest (e.g. opensearch-windows-1.1.0.yml) that doesn't have the components that are currently not supported on Windows. In

[2021-10-12 19:00] dblock commented on #33
@peternied Do we have a permalink to the public location for the released 1.1.0 build manifest.yml?

[2021-10-12 19:12] peternied commented on #694
This issue is being tracked in the OpenSearch repository, see https://github.com/opensearch-project/OpenSearch/issues/1238 for the specifics

[2021-10-12 19:12] #694 closed

[2021-10-12 19:16] peternied commented on #708
[Triage] The distribution builds are meant to be of a higher quality since much effort needs to be built on top of them, we will be closing out this issue, but if you have a compelling use case please reopen.

[2021-10-12 19:16] #708 closed

[2021-10-12 20:50] abhinavGupta16 opened #735 "Automate deployment of Test Clusters"
### Is your feature request related to a problem? Please describe

- [ ] We need to automate the deployment of all test clusters (listed below) automatically.

**Note:** This can be done in parallel to save time.

- [ ] Send notification emails to the required users informing them about the release so we don't have to update the slack channel

**Optional (Next steps) :**
- [ ] Integrate it to run

[2021-10-12 22:22] abhinavGupta16 commented on #616
Following are a few ideas of how we should proceed with the process. We should discuss this more during one of the team meetings to get everyone's opinion and see what works best for us.

Explaining terminology of an Epic, it works like a meta issue _but with a lot more features_ reducing a lot of manual work and easy viewing. A brief list of advantages are below -
- It aggregates the story points

[2021-10-12 23:27] dblock commented on #585
I would love that. The whole reason we didn't use GHA to drive bundle workflow was credentials.

[2021-10-13 14:12] dblock commented on #351
Dup of https://github.com/opensearch-project/opensearch-build/issues/348

[2021-10-13 16:51] kavilla opened #739 "[Bug]: Dashboards build agent can't build on ARM64 due to chromium missing"
### Describe the bug

When running the build for OpenSearch Dashboards in Jenkins it will attempt to use a build agent that does not have chromium installed which is needed to even bootstrap OpenSearch Dashboards.

Might be more difficult than initially looked at because even if you try to just pass it to the Dashboards dependencies within the [Jenkinsfile](https://github.com/opensearch-project/op

[2021-10-13 18:14] peterzhuamazon commented on #720
https://github.com/opensearch-project/ansible-playbook/pull/2

[2021-10-13 18:16] dblock commented on #720
@peterzhuamazon Curious, what's this issue? ;)

[2021-10-13 18:52] gaiksaya commented on #585
[Discussed offline]

Looks like there was some concrete discussion for not using GHA considering storing and maintaining credentials.
Going ahead with jenkins workflow. Current plan is to have JenkinsFile stored under folder in https://github.com/opensearch-project/opensearch-build/tree/main/jenkins for each component.
I'll work with @VijayanB to create those workflows.
Thanks!

[2021-10-13 20:25] jcgraybill opened #741 "[Meta] Platform Support"
### Is your feature request related to a problem? Please describe

There's ongoing work to use OpenSearch and OpenSearch dashboards in environments beyond Linux/x64 and Linux/ARM64, c.f. #33, #38, #101. Most of OpenSearch and its plugins run in the JVM, and most of OpenSearch Dashboards and its plugins run in Node.JS, so packaging the build artifacts from Linux alongside runtimes for Windows, MacO

[2021-10-14 17:08] #728 closed, assigned to peterzhuamazon

[2021-10-14 18:20] reta commented on #732
We certainly could do that, pre-baking the images has the benefits that we don't need to download and install JDKs every time (+ `gradle` as well), so in general - builds are faster and more stable.

[2021-10-14 18:37] VijayanB commented on #585
@dblock @peternied
Since #743 seems unnecessary, i could think of three possible options
Option 1) ( no dependencies to opensearch-build )
a.  Create jenkins job which checks out opensearch-java
b.  publish snapshot to maven local
c. push to https://aws.oss.sonatype.org/content/repositories/snapshots

Option 2) follow similar to opensearch snapshot publications
a. Create manifest file similar to h

[2021-10-15 13:05] dblock commented on #74
After https://github.com/opensearch-project/OpenSearch/pull/1368, the gradle check is still using Java 14. This comes hardcoded from the infrastructure that runs these. We need it to start picking up Java version from https://github.com/opensearch-project/OpenSearch/blob/main/.ci/java-versions.properties#L16.

@peternied @peterzhuamazon where/how do we make this happen?

[2021-10-15 15:14] dblock commented on #517
@adaisley You can now build OpenSearch Dashboards from the source using this repo.

[code]

[2021-10-15 16:51] peterzhuamazon commented on #720
https://github.com/opensearch-project/helm-charts/pull/81

[2021-10-15 18:43] VijayanB opened #756 "on-board repository to code scans"
### Is your feature request related to a problem? Please describe

Please onboard repository to code scans
https://github.com/opensearch-project/opensearch-dsl-py

### Describe the solution you'd like

Should get notified of any high sev issues

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-10-15 18:45] VijayanB opened #757 "Publish opensearch-dsl to pypi"
### Is your feature request related to a problem? Please describe

publish opensearch-dsl 1.0 to pypi
Repo: https://github.com/opensearch-project/opensearch-dsl-py
branch: 1.0

### Describe the solution you'd like

Upload opensearch-dsl to pypi and test `pip install opensearch-dsl` works

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-10-15 21:30] #732 closed, assigned to nobody

[2021-10-18 17:38] seraphjiang commented on #604
Is there an issue to track we need two parameters need to run test?

[2021-10-18 19:49] #506 closed

[2021-10-18 20:02] peternied commented on #129
See https://github.com/opensearch-project/opensearch-build/issues/583 for the remaining work, http://jenki-jenki-fpgmrv2ryxko-1366042710.us-east-1.elb.amazonaws.com/job/perf-test/ is failing, but exists

[2021-10-19 01:13] tianleh opened #761 "remove bundle and build related logic from integ test"
### Is your feature request related to a problem? Please describe

Current https://github.com/opensearch-project/opensearch-build/blob/main/src/run_integ_test.py is for OpenSearch instead of OpenSearchDashboards. It has coupled logic with build and bundle which may not be applicable for running Dashboards test.

### Describe the solution you'd like

Decouple build and bundle logic from test.

###

[2021-10-19 02:58] seraphjiang commented on #761
Could we break down to list of items and divide and conquer 😆

[2021-10-19 18:03] peterzhuamazon commented on #732
Will ping.

[2021-10-19 18:47] #610 closed

[2021-10-19 19:50] peternied opened #764 "[Bundle Build Break] scripts/components/OpenSearch/install.sh: Permission denied"
[code]

Related to https://github.com/opensearch-project/opensearch-build/pull/762

[2021-10-19 20:11] #581 closed

[2021-10-19 20:56] tianleh commented on #761
I am still in progress to perform a POC for this. The code has been continously pushed to this dev branch https://github.com/tianleh/opensearch-build/tree/add-test-support

[2021-10-19 21:36] peterzhuamazon commented on #732
https://hub.docker.com/r/opensearchstaging/ci-runner/tags?page=1&ordering=last_updated

[2021-10-19 22:11] dblock commented on #764
chmod 755 the new .sh file

[2021-10-19 22:33] #764 closed, assigned to kavilla

[2021-10-19 22:41] gaiksaya commented on #732
How did we build these images? Manually or is that automated?

[2021-10-20 15:25] tmoody1 opened #771 "[BUG][opensearch] java heap size always 1GB"
**Describe the bug**
The java opts flag doesn't seem to change the heap size in elasticsearch. The only way we've found to change this is to overwrite the config file manually. Not sure if this is by design or not, if it deliberately set to 1GB please close this.
**To Reproduce**
Steps to reproduce the behavior:

1. set esJavaOpts to 2GB
esJavaOpts: "-Xms2048m -Xmx2048m"
2. Check the heapsize on t

[2021-10-20 18:38] zelinh commented on #756
This repo has been scanned and updated the link to WhiteSource tracker.

[2021-10-20 18:38] #756 closed

[2021-10-20 21:19] gaiksaya opened #773 "[Bug]: Signature validation fails on nexus sonatype repos"
### Describe the bug

When we upload the artifacts in nexus sonatype repository it does a bunch of central sync checks.
one of them is signature validation. It looks up to below servers:

- keyserver.ubuntu.com
- keys.openpgp.org
- pgp.mit.edu

We have only updated our public key in pgp.mit.edu (http://pgp.mit.edu:11371/pks/lookup?search=0xc2ee2af6542c03b4&op=index)

However, pgp.mit.edu is very f

[2021-10-20 23:05] dblock opened #774 "[Bug]: FileNotFoundError cleaning up after itself on Windows"
### Describe the bug

[code]

### To reproduce

On Windows

[code]

completes, but throws the above error

### Expected behavior

_No response_

### Screenshots

If applicable, add screenshots to help explain your problem.

### Host / Environment

_No response_

### Additional context

_No response_

### Relevant log output

_No response_

[2021-10-20 23:11] dblock opened #775 "Remove all os.chdir in favor of cwd/working directory in execute"
### Is your feature request related to a problem? Please describe

We have a lot of `chdir` code in our build/test/ci scripts. We can stop doing that and use `cwd=` arguments when executing comments.

### Describe the solution you'd like

Remove all `chdir`.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-10-21 14:27] peternied opened #778 "[Maven] Create an onboarding process for signing and releasing"
We have several components to OpenSearch that are released outside of the distribution build process, but still need to be made available for consumption on Maven.  There should have a centralized process for this as it has been done in a one-off method for the OpenSearch core and OpenSearch-java components which could be generalized.

See this reference implementation https://github.com/opensearc

[2021-10-21 14:35] peternied opened #779 "[Docker] Create a process for creating CI docker images"
There are many different workflows that need preinstalled tools for build, testing, or publishing stages.  This vary from project to project, some using python, ruby, cypress etc.  We need a way to keep these changes easy to track, and update.

Acceptance Criteria
- [ ] Figure out how docker images should be built/consumed, e.g. Can we use dockerfiles directly in the build job?
- [ ] Figure out th

[2021-10-21 20:42] bbarani opened #780 "Publish 'Docker official images' to DockerHub."
### Is your feature request related to a problem? Please describe

The Docker images that are currently published on OpenSearch [DockerHub](https://hub.docker.com/u/opensearchproject) organization are not [Docker official images](https://docs.docker.com/docker-hub/official_images/).

### Describe the solution you'd like

Publish Docker official image(s) by following the [guidelines](https://github

[2021-10-21 20:53] bbarani opened #781 "[Meta] Create a self serviceable standalone component release process"
### Is your feature request related to a problem? Please describe

The current standalone component release process used to release standalone components like Data prepper, OpenSearch clients, SQL drivers etc... is not scalable and self serviceable by the component owners

### Describe the solution you'd like

Define the requirements, create a design and implement a repeatable, scalable and self s

[2021-10-21 22:06] gaiksaya commented on #773
Key has been uploaded to `keyserver.ubuntu.com`
http://keyserver.ubuntu.com/pks/lookup?search=opensearch%40amazon.com&fingerprint=on&op=index

[2021-10-21 22:39] gaiksaya commented on #585
🎉  Opensearch-java client is now available on maven central for customers to consume: https://repo1.maven.org/maven2/org/opensearch/client/opensearch-java/

[2021-10-21 22:39] #585 closed

[2021-10-21 22:42] VijayanB commented on #726
@bbarani can this be triaged ? Thanks

[2021-10-21 23:02] #773 closed, assigned to gaiksaya

[2021-10-21 23:06] #739 closed

[2021-10-22 02:09] tianleh opened #783 "add dashboards functional test repo into the build process"
### Is your feature request related to a problem? Please describe

Part of the effort to https://github.com/opensearch-project/opensearch-build/issues/604

### Describe the solution you'd like

This repo https://github.com/opensearch-project/opensearch-dashboards-functional-test is added to dashboards 1.1.0 yml

### Describe alternatives you've considered

_No response_

### Additional context

_N

[2021-10-22 09:52] jaidisido opened #785 "Support opensearch-py library on conda forge"
### Is your feature request related to a problem? Please describe

The `opensearch-py` python library is only available on pypi. A number of users rely on the conda repository instead.

### Describe the solution you'd like

Publish `opensearch-py` to both pypi and conda. The process to releasing to conda is described [here](https://levelup.gitconnected.com/publishing-your-python-package-on-conda-a

[2021-10-22 13:49] dblock opened #787 "Mechanism for identifying released build artifacts and numbers"
### Is your feature request related to a problem? Please describe

In order to produce a 1.1.1 patch build we need to locate artifacts from the 1.1.0 release, including the manifest, and maven artifacts.

- Where is the released 1.1.0 build output? Probably an URL on artifacts.opensearch.org?
- ...

### Describe the solution you'd like

A mechanism/page/something that links to the complete signed

[2021-10-22 14:48] peternied opened #788 "Preserve intermediate released build artifacts perminately"
Related to https://github.com/opensearch-project/opensearch-build/issues/787

There are two environments for build artifacts and the location of these artifacts have shifted as improvements have been made. In order to ensure we can patch previous releases we need to keep intermediate artifacts where they will be safe/consist as part of a post release process.

### Acceptance Criteria
- design a pr

[2021-10-22 16:59] kavilla opened #790 "[Bug]: Jenkinsfile docker stage requires an agent but agent is none"
### Describe the bug

The `detect Docker image + args to use for the build` stage for the OpenSearch and OpenSearch Dashboards Jenkinsfile throws this error:
[code]

The agent is `none` for the pipeline so each stage would have to define there on agent if they are doing work.

### To reproduce

Run https://github.com/opensearch-project/opensearch-build/blob/main/jenkins/opensearch-dashboards/Jenki

[2021-10-22 18:42] #790 closed, assigned to nobody

[2021-10-22 21:01] chloe-zh opened #794 "Release SQL JDBC and ODBC drivers"
Since the launch of OpenSearch, many SQL users have requested to connect their cluster with the BI tools. In the [SQL repository](https://github.com/opensearch-project/sql), the JDBC and ODBC drivers are the connectors that enable users to query through the BI platform we have already supported (including MSFT Excel, PowerBI, Tableau etc.)

The drivers released in ODFE do not have good compatibili

[2021-10-22 21:08] chloe-zh opened #795 "Publish SQL CLI tool to pypi"
The ODFE SQL CLI does not support compatibility in OpenSearch SQL, so we would like to publish the latest version of CLI to pypi to keep the SQL users up with the SQL changes.

[2021-10-22 21:35] dblock opened #797 "Remove code that fetches artifacts from S3"
### Is your feature request related to a problem? Please describe

The S3 bucket that contains build output is not public and cannot be made public for reasons. Remove code that requires credentials to download build and distribution artifacts and replace it with downloading via public URLs.

### Describe the solution you'd like

Downloading manifest and its artifacts via HTTPs in https://github.c

[2021-10-22 22:59] zelinh opened #798 "[Bug]: opensearch bundle-build failed on jenkins"
### Describe the bug

`+ /var/jenkins/workspace/bundle-build/publish/publish-snapshot.sh /var/jenkins/workspace/bundle-build/artifacts//maven`
`Invalid directory /var/jenkins/workspace/bundle-build/artifacts//maven does not exist`

Directory path seems to be wrong.

### To reproduce

Run `bundle-build` job on jenkins

### Expected behavior

Should build successfully.

[2021-10-23 05:00] Yury-Fridlyand opened #844 "[PROPOSAL] Release standalone plugins, such as mapper-murmur3"
## Actual
At the moment opensearch server plugin packages are published nowhere.

## Expected
Opensearch plugins should be published on [the website](https://opensearch.org/) and/or on the github repository. I mean to publish not just compiled `jar` file, but a `zip` acceptable by `opensearch-plugin` command line tool.

## Example
When I needed to use `mapper-murmur3` plugin, I was surprised that

[2021-10-25 18:21] abhinavGupta16 opened #800 "Weekly Community Engagement on 2021/10/25 - 2021/11/8"
Continuing the Issue #720

[2021-10-25 18:21] #720 closed, assigned to nobody

[2021-10-25 18:38] abhinavGupta16 opened #801 "Automating Docker Release for Opensearch and Opensearch Dashboards"
### Is your feature request related to a problem? Please describe

https://github.com/opensearch-project/opensearch-build/blob/main/docker/release/README.md

Currently the docker release build process is manual and is done on the server. This needs to be automated and added to the Jenkins workflow.

### Describe the solution you'd like

Adding the automated build release for docker to the Jenkins

[2021-10-26 00:52] kavilla opened #805 "[Bug]: Jenkins missing slash in base url for assembling"
### Describe the bug

For the assemble step, the Jenkinsfile runs:
`./assemble.sh builds/manifest.yml --base-url https://ci.opensearch.org/ci/dbcbundle-build-dashboards/1.1.0/168/linux/x64`
highlighting: `dbcbundle`

When it seems like it should run `dbc/bundle` in full `./assemble.sh builds/manifest.yml --base-url https://ci.opensearch.org/ci/dbc/bundle-build-dashboards/1.1.0/168/linux/x64`

###

[2021-10-26 01:34] #805 closed, assigned to nobody

[2021-10-26 17:29] #798 closed, assigned to nobody

[2021-10-26 18:46] dblock opened #811 "Add platform selection into components"
### Is your feature request related to a problem? Please describe

Coming from https://github.com/opensearch-project/opensearch-build/pull/809#discussion_r736732442, we had to create two manifests, one for windows and another for linux, to exclude a component from windows.

### Describe the solution you'd like

 add a way to include a plugin for certain platforms only.

[code]

Merge the existing

[2021-10-26 18:48] Tengda-He opened #812 "temp solution for component build not require dashboards core rebuild in advance"
### Is your feature request related to a problem? Please describe

This is a temporary solution for Bug #606

### Describe the solution you'd like

Copy the OpenSearch-Dashboards git package to ~/.cache folder when building the OpenSearch-Dashboards component. Also create the  load_dashboard_from_cache function for plugin build to reuse OpenSearch-Dashboards source code. This approach allows follo

[2021-10-26 22:09] peterzhuamazon opened #814 "[Enhancement] Use default alpine docker image to run docker image picker"
### Is your feature request related to a problem? Please describe

https://github.com/opensearch-project/opensearch-build/commit/6bcdf1650565efadba33209f284b3806114115ce#
@peternied unblock this by using the ci-runner image to trigger docker image picker.
It works but sort of defeat the purpose of a docker image picker.

Not only the above section has this issue, in the same Jenkinsfile, the post

[2021-10-27 03:52] gbbafna opened #816 "Multiple clusters support for CCR Plugin"
### Is your feature request related to a problem? Please describe

For [CCR](https://github.com/opensearch-project/cross-cluster-replication) plugin testing , we need multiple test clusters .

### Describe the solution you'd like

A way to spin multiple clusters on specified OS versions .

### Describe alternatives you've considered

_No response_

### Additional context

We will need to connect t

[2021-10-27 14:37] dblock opened #818 "[META] Run integ tests with every build of OpenSearch and OpenSearch Dashboards and publish test results"
### Is your feature request related to a problem? Please describe

Coming from https://github.com/opensearch-project/opensearch-build/issues/123, the CI workflow produces builds. Next, run integ tests and publish test results.

### Describe the solution you'd like

- [x] #464
- [x] Determine the correct parameters to run an integration test locally, see https://github.com/opensearch-project/opense

[2021-10-27 18:07] peternied opened #822 "Monitor 1.2.0 bundle builds and make sure they are passing"
Monitor on our slack channel that is posting build status periodically, if there is a failed build take action from this checklist:

![image](https://user-images.githubusercontent.com/2754967/139122112-538a3646-d3a8-4133-a817-50eca04cd351.png)

- Look at the build logs and determine if this is a new failure
   - If known, please reply to the post as a thread, and link the existing github issue - A

[2021-10-27 18:09] peternied opened #823 "request whitesource scanning tool to have permissions to run on pull requests"
Whitesource scanner needs permissions to run on pull requests.  Please make a request for these permissions to be added on our projects.
- [ ] Get permissions for all repositories in OpenSearch-Project
- [x] Or if blocked get permissions for a single repository OpenSearch

[2021-10-27 18:29] peternied opened #824 "[Bundle Build Break] Make sure k-NN is building with updated docker images"
We need to make sure the build process is using the updates docker images:
#### Validate that k-NN can build
- [x] Locally build and startup the docker image, [dockerfile](https://github.com/opensearch-project/opensearch-build/blob/main/docker/ci/dockerfiles/ci-runner.centos7.dockerfile)
- [x] Copy the git clone/ build systems from the [bundle job](https://github.com/opensearch-project/opensearch-

[2021-10-27 19:08] #811 closed, assigned to dblock

[2021-10-27 20:21] dblock opened #826 "[Bug]: Permission denied in assemble"
### Describe the bug

Cross-platform assemble for Windows running on OSX fails with permission denied.

### To reproduce

[code]

[code]

### Expected behavior

_No response_

### Screenshots

If applicable, add screenshots to help explain your problem.

### Host / Environment

_No response_

### Additional context

_No response_

### Relevant log output

_No response_

[2021-10-27 23:32] dblock opened #828 "[Bug]: Windows build packages opensearch-tar-install.sh"
### Describe the bug

Windows build packages opensearch-tar-install.sh via [this script](https://github.com/opensearch-project/opensearch-build/blob/main/scripts/components/OpenSearch/install.sh#L75).

### Expected behavior

Port the [`opensearch-tar-install.sh`](https://github.com/opensearch-project/opensearch-build/blob/main/scripts/legacy/tar/linux/opensearch-tar-install.sh) script to `opensear

[2021-10-27 23:43] #812 closed, assigned to Tengda-He

[2021-10-28 17:12] Tengda-He opened #830 "Enable opensearch-dashboards plugins build process for version 1.2"
### Is your feature request related to a problem? Please describe

Enable opensearch-dashboards plugins build process for version 1.2 release

### Describe the solution you'd like

add all the opensearch-dashboards plugins components configuration to the opensearch-dashboards-1.2.0.yml file.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-10-29 01:53] VijayanB opened #833 "opensearch-cli 1.1 release"
We are interested in releasing opensearch-cli 1.1.0 . It requires signing before release.

Candidates: Macos amd64/arm64
                      Linux  amd64/arm64
                      Windows x64

[2021-10-29 07:23] tianleh opened #834 "Add dashboards functional test repo into 1.2.0 manifest"
### Is your feature request related to a problem? Please describe

As part of #604

### Describe the solution you'd like

add to dashboard manifest.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-10-29 15:27] #816 closed, assigned to nobody

[2021-10-29 17:12] #834 closed, assigned to tianleh

[2021-10-29 17:22] tianleh opened #837 "Refactor LocalTestCluster into LocalTestClusterOpenSearch and LocalTestClusterOpenSearchDashboards"
### Is your feature request related to a problem? Please describe

As part of the effort for #604 , we will need to spin up a test cluster with both OS and OSD.

### Describe the solution you'd like

refactor

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-10-29 17:25] tianleh opened #838 "Instantiate LocalTestClusterOpenSearch vs. LocalTestClusterOpenSearchDashboards depending on the product in the manifest"
### Is your feature request related to a problem? Please describe

As part of the effort for #604 , we want to instantiate the corresponding local test cluster based on manifest. This issue has dependency on https://github.com/opensearch-project/opensearch-build/issues/837

### Describe the solution you'd like

as titiled

### Describe alternatives you've considered

_No response_

### Additional

[2021-10-29 18:02] peterzhuamazon commented on #816
This needs to be rebuild for 1.2.0 as well when new release come.

[2021-10-29 18:05] gaiksaya commented on #816
Yes thats why asked to file a bug. We can work on correcting it whoever picks that task up. CDK needs some refactoring

[2021-10-29 19:25] gaiksaya commented on #794
Hi @chloe-zh , we won't be updating the aws credentials on github secrets. We suggest you build and upload those artifacts in your own S3 bucket and we can pull them, sign them and then upload them to production (using documented release process)

[2021-10-29 20:13] #826 closed

[2021-10-29 20:14] peternied commented on #778
@gaiksaya @abhinavGupta16 We've been talking about the onboarding process a lot recently, what do you think about adding to the readme a section to cover this and make a PR this so we've got something we can point teams towards?

[2021-10-29 20:58] abhinavGupta16 opened #839 "[bundle build dashboards]: Dashboard bundle build failed"
### Describe the bug

The bundle build for dashboards is failing because of `install.sh`

### To reproduce

Build the job on Jenkins to reproduce.

### Expected behavior

_No response_

### Screenshots

If applicable, add screenshots to help explain your problem.

### Host / Environment

_No response_

### Additional context

_No response_

### Relevant log output

[code]
[code]

[2021-10-29 21:04] abhinavGupta16 commented on #839
@dblock Can you have a look at the build break? It maybe related to the changes in the install script. Thank you!

[2021-10-30 02:56] #839 closed

[2021-10-30 14:07] dblock opened #843 "[Bug]: opensearch-dashboards-1.1.0 build broken"
### Describe the bug

Either a script that we forgot to backport or maybe something OSX-specific. Didn't debug.

[code]

cc: @kavilla

### To reproduce

[code]

### Expected behavior

_No response_

### Screenshots

If applicable, add screenshots to help explain your problem.

### Host / Environment

_No response_

### Additional context

_No response_

### Relevant log output

_No response_

[2021-10-30 18:14] dblock commented on #830
Note that this work is part of each team's 1.2 release issue linked to https://github.com/opensearch-project/opensearch-build/issues/567.

[2021-11-01 09:40] av-virlan opened #846 "Cross-index JOIN query support"
### Is your feature request related to a problem? Please describe

I'm working on a project that is trying to aggregating information across multiple systems. Part of the information is relational data - certain documents in one index relate to certain documents in another index in a sort of many-to-many child-parent manner.

### Describe the solution you'd like

Expanding the has_child query supp

[2021-11-01 17:14] zelinh commented on #824
This issue has been solved and bundle build is now working successfully.

[2021-11-01 17:14] #824 closed

[2021-11-01 17:15] saratvemulapalli commented on #844
Looks like the question here is to publish plugin artifacts for community contributed plugins.
Which definitely makes sense and we should do it.

The first step is to publish maven artifacts for plugins in opensearch-project.
Ref: https://github.com/opensearch-project/opensearch-build/issues/184

[2021-11-01 17:26] zelinh commented on #822
Bundle builds are working now.

[2021-11-01 17:50] tmarkley commented on #573
@peternied very minor, but can we be consistent with the `OpenSearch Dashboards` name?

[2021-11-01 18:08] peterzhuamazon commented on #583
Please groom for the next sprint.

[2021-11-01 18:17] peterzhuamazon opened #849 "Add RPM Cluster Deployment in IntegTest framework for testing"
Add RPM Cluster Deployment in IntegTest framework for testing.

As of now the integTest framwork in test workflow only supports downloading tarball from S3 and run the cluster/tests.
We need a function to install RPM packages when it is ready to automate the install and test process.

Thanks.

[2021-11-01 18:19] peterzhuamazon commented on #27
Fast forward work after this one complete is #849.

[2021-11-01 18:19] peterzhuamazon commented on #36
Fast forward work after this one complete is #27 #849.

[2021-11-01 18:23] peterzhuamazon commented on #629
Please provide more information on how much work we need to put into this.

[2021-11-01 18:26] peterzhuamazon commented on #696
Need follow up with the OpenSearch Core Team.
Initially we were told to set log4j settings to record logs, but not showing.
We need to have info level (or more detailed) logs in order to get information on the failures.

[2021-11-01 18:32] peterzhuamazon commented on #697
We didnt apply the mentor test again due to time limits, and @skkosuri-amzn and I have proceed with a series of simple tests to prove that mensor test is having issues.

[2021-11-01 18:32] #697 closed

[2021-11-01 18:42] peterzhuamazon commented on #446
Need more investigation on how severe the problem is.

[2021-11-01 18:44] peterzhuamazon commented on #439
Hi @mch2 have you looked at this comment from @dblock ?
Thanks.

[2021-11-01 18:47] peterzhuamazon commented on #433
@peternied will start new issues to track this related problem. Close this one.

[2021-11-01 18:47] #433 closed

[2021-11-01 18:48] peterzhuamazon commented on #353
Seems like @zelinh already applied some renaming, need him to check through-fully how many more renames are needed.

[2021-11-01 18:50] dblock commented on #74
I enabled building OpenSearch 2.0 in https://github.com/opensearch-project/opensearch-build/pull/850, which should already be using JDK11.

I think we only need the Gradle Checks that runs against OpenSearch `main` to start using JDK 11 to close this?

[2021-11-01 18:51] peterzhuamazon commented on #561
Need someone to update the above instructions to https://github.com/opensearch-project/opensearch-build/blob/main/ONBOARDING.md

[2021-11-01 18:52] peterzhuamazon commented on #628
We already start the automation in #801 so close this.

[2021-11-01 18:53] peterzhuamazon commented on #622
Please associate this correct to the corresponding meta issue @peternied .

[2021-11-01 18:54] peterzhuamazon commented on #69
We already uploaded beats @peternied please assign this to the corresponding task.

[2021-11-01 18:57] peterzhuamazon commented on #104
Can you double check this @peternied since you are working on the Jenkins Open Source.
Thanks.

[2021-11-01 18:58] peterzhuamazon commented on #118
We will not open source the signer client for now.

[2021-11-01 18:58] #118 closed

[2021-11-01 19:04] peterzhuamazon commented on #121
This will be put on priority after the performance test.
@VachaShah and @gaiksaya please sync up and check what is still pending for the task.
Thanks.

[2021-11-01 19:09] peternied commented on #74
@peterzhuamazon Can you into transitioning the existing gradle check job to a jenkinsfile that can reuse the jvm picking logic?

[2021-11-01 19:11] peterzhuamazon commented on #800
https://github.com/opensearch-project/ansible-playbook/pull/10

[2021-11-01 19:22] peterzhuamazon opened #851 "Convert freestyle gradle check to Jenkinsfile and migrate to public jenkins"
### Is your feature request related to a problem? Please describe

Convert freestyle gradle check to Jenkinsfile.

### Describe the solution you'd like

https://github.com/opensearch-project/opensearch-build/issues/74#issuecomment-956496829

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-11-01 20:08] peterzhuamazon commented on #27
How we previously create DEB/RPM for ODFE:
* ES: We create a small deb/rpm, link all plugins as dependencies, and link ES official RPM/DEB as dependency (DEB needs user to manually install ES DEB PKG)
* KIBANA: We use fpm to create the pkg based on tarball.

https://github.com/opendistro-for-elasticsearch/opendistro-build/tree/main/elasticsearch/linux_distributions
https://github.com/opendistro-fo

[2021-11-01 20:12] peterzhuamazon commented on #851
Seems like builder does not support pipeline syntax as of yet.
https://github.com/jenkinsci/ghprb-plugin/issues/719

[2021-11-01 20:16] peterzhuamazon commented on #851
This probably help:
https://stackoverflow.com/questions/36850485/how-to-trigger-a-jenkins-2-0-pipeline-job-from-a-github-pull-request/45121585#45121585

[2021-11-01 20:41] zelinh commented on #823
AppSec team helps me confirm the request, still waiting for approval.

[2021-11-01 20:50] dblock commented on #27
We have an [assemble workflow](https://github.com/opensearch-project/opensearch-build/blob/main/src/run_assemble.py#L35) (invoked by `./assemble.sh builds/manifest.yml`) that goes over plugins, installs them (runs `install.sh`), then either makes a .zip distribution or a .tar.gz distribution depending on the platform/architecture. We already have [DistZip and DistTar](https://github.com/opensearch

[2021-11-01 20:54] dblock commented on #629
I have implemented downloading the manifest and exporting all the files from a distribution using publicly available URLs in https://github.com/opensearch-project/opensearch-build/pull/789. After that's merged (cc: @saratvemulapalli and @peternied) I think we can replace all `from_s3` by `from_url`, followed by a new `.download()` that's a subset of the `export_artifacts()` method I added. I think

[2021-11-01 20:58] dblock commented on #118
Is this final or is it a matter of time? If it's the former, I'd like to understand here what the plan for publicly reproducible signing infrastructure is, and if it's the latter, I'd like to reopen the issue.

[2021-11-01 21:02] peterzhuamazon commented on #118
@peternied could you explain more in details to @dblock I think our decision is this is reproducible with gpg and it is not necessarily that we would want to open source the internal code to run the signing process.

[2021-11-01 21:04] dblock commented on #118
That's fine, I am looking for an issue for replacing the existing signing infrastructure with gpg, then.

[2021-11-01 21:15] dblock commented on #629
This is https://github.com/opensearch-project/opensearch-build/issues/797

[2021-11-01 22:27] peternied commented on #118
For our maven artifacts this is relatively straight forward using GPG.  We can make this process more transparent - do you have an example of what you would to align towards?

Our other platforms like Mac/Windows signing processes are Amazon internal and would require considerable work to make accessible.

[2021-11-01 22:31] peternied commented on #822
This is meant to be an ongoing tasks, we need to be sure that the 1.2.0 builds are working until release.

[2021-11-01 22:46] peternied commented on #628
Lets close this when it is fully automated, documented and merged into main, it looks like the core changes are still in a [fork](https://github.com/peterzhuamazon/opensearch-build/tree/opensearch-docker-pipeline)

[2021-11-01 23:28] peterzhuamazon commented on #801
Some issues pop up as x64 host not able to run logstash-plugin on arm64 through buildx.

The command timed out and even failed with logstash-plugin --help.

[code]

[2021-11-01 23:28] peterzhuamazon commented on #801
Trying to see if running on arm64 host would help.

[2021-11-01 23:59] peterzhuamazon commented on #801
See an issue:
[code]

This only shows after running buildx on arm64 host and the amd64 shows this, errors shows opposite on the buildx docker based on the host arch.

Assuming this is related to binary translation issues with qemu.

[2021-11-02 00:00] peterzhuamazon commented on #801
Seems common issue: https://github.com/docker/for-mac/issues/5123

[2021-11-02 00:02] peterzhuamazon commented on #801
Seems like the best building platform for issues with this is still on docker desktop on macOS x64.

https://stackoverflow.com/questions/68862313/qemu-uncaught-target-signal-11-segmentation-fault-core-dumped-in-docker-con

[2021-11-02 00:04] peterzhuamazon commented on #801
Seems like this is specific to Ubuntu2004 which is the one I am using.
https://bugs.launchpad.net/ubuntu/+source/qemu/+bug/1928075

[2021-11-02 00:14] peterzhuamazon commented on #801
Tried qemu 5 installation but doesnt seems resolving the issue:
https://github.com/docker/buildx/issues/328#issuecomment-944790494

[2021-11-02 00:18] peterzhuamazon commented on #801
Multiple comments have indicate the switching back from 11 to 10 debian, aka 20 to 19 Ubuntu would fix the issue:
[code]

However, Ubuntu 19 is already out of support.
We can try to switch to Debian 10 since it will be supported until 2024.

[2021-11-02 00:45] peterzhuamazon commented on #801
Debian10 has docker 18 which does not recognize the cli plugin buildx, despite it is running API over 1.25 version.
[code]

https://docs.docker.com/engine/reference/commandline/plugin/

[2021-11-02 00:51] #74 closed

[2021-11-02 07:23] tianleh opened #852 "Move process related logic under system/"
### Is your feature request related to a problem? Please describe

part of #604

### Describe the solution you'd like

move code

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-11-02 12:25] peternied commented on #567
All components have completed Preparation steps, the release is fully accounted for.  OpenSearch Engine and Dashboards are on track for completion of their development today.

Note; Notifications will not be included in the 1.2.0 release.

[2021-11-02 12:47] dblock commented on #567
Let's remove and close opensearch-project/notifications#332 then?

[2021-11-02 15:51] peternied commented on #567
I was think we would keep them on the list, but track they are not included.  This would help for comparison between 1.2 -> 1.3 release issues.

[2021-11-02 15:59] peterzhuamazon commented on #801
Also, Ubuntu 1804 despite is using Debian 10 it is not possible as binfmt-support version 2.1.43 or later is required.

[2021-11-02 16:10] peterzhuamazon commented on #801
After manually install docker to the higher version on Debian 10 I am able to see docker buildx:
[code]

https://download.docker.com/linux/debian/dists/buster/pool/stable/amd64/

[code]

[code]

[2021-11-02 16:40] peterzhuamazon commented on #801
The final success combination is Debian 10 arm64 host with docker 20 + buildx 0.6.1
[code]

Apparently 0.6.3 version of buildx is having issues.
This is also the version that macbook docker buildx version that works.

[2021-11-02 17:07] peterzhuamazon commented on #801
[code]

[2021-11-02 17:17] dblock opened #855 "[Bug]: Automate maven publication to Sonatype staging for validation"
### Is your feature request related to a problem? Please describe

Our maven publication process in 1.1 ran into a number of issues.

https://github.com/opensearch-project/opensearch-build/issues/699

Is it going to work for 1.2?

### Describe the solution you'd like

A reliable system that ensures that maven promotion will work.

### Describe alternatives you've considered

_No response_

### Add

[2021-11-02 17:28] dblock opened #856 "Refactor `BuildTarget` into `BuildTarget` and `BuildTargetSnapshot`"
### Is your feature request related to a problem? Please describe

Coming from https://github.com/opensearch-project/opensearch-build/pull/789/files#r741244960, `BuildTarget` has a lot of `if snapshot`.

### Describe the solution you'd like

Refactor `BuildTarget` into `BuildTarget` and `BuildTargetSnapshot`

### Describe alternatives you've considered

_No response_

### Additional context

_No r

[2021-11-02 17:29] gaiksaya commented on #778
Taking a stab at this.
Since this is issue is more specific to Maven, I can think of 2 ways we can proceed with the process:

1. Build -> Sign -> Publish
Take the commit_id from the component owner, build the artifacts using that commit_id, Sign it using our signing system and then publish it to sonatype.
Example: https://github.com/opensearch-project/opensearch-java/pull/51

2. Take Artifacts ->

[2021-11-02 17:34] peterzhuamazon commented on #726
Please check #801 for all the issues we are having during the release.
The staging image is eventually up built by automation.
Will let @VijayanB confirm both x64 and arm64 in staging before promotion.
https://hub.docker.com/repository/docker/opensearchstaging/logstash-oss-with-opensearch-output-plugin/tags?page=1&ordering=last_updated&name=7.13.4

[2021-11-02 17:37] VijayanB commented on #726
I verified x64, it works. Will confirm after arm64 testing.

[2021-11-02 17:46] VijayanB commented on #726
The opensearch cluster
[code]
logstash configuration
[code]
Result
[code]

[2021-11-02 17:47] VijayanB commented on #726
@peterzhuamazon I tested both x64 and arm64. It works. Shall we push to production?

[2021-11-02 17:47] #373 closed

[2021-11-02 17:49] peternied commented on #778
I'd recommend going with #2 because we can expand it to support #1 at a future time

[2021-11-02 18:41] peterzhuamazon commented on #800
https://github.com/opensearch-project/helm-charts/issues/119

[2021-11-02 19:03] peternied commented on #843
@kavilla could you take a look at this issue and see if we need to fix the dashboard build on mac?

[2021-11-02 19:08] peternied commented on #844
[Triage] @bbarani can you look into this proposal and see how this could fit into our release process and schedule?

[2021-11-02 19:15] peternied commented on #181
[Triage] We are going to keep this setting as is for the time being, as we get more automation and coverage we can look at revisiting this.

[2021-11-02 19:15] #181 closed

[2021-11-02 19:19] peternied commented on #480
[Triage] This work has been completed in the related pull request

[2021-11-02 19:19] #480 closed

[2021-11-02 19:20] peternied commented on #542
[Triage] This work has been completed, in https://github.com/opensearch-project/opensearch-build/blob/main/jenkins/opensearch/Jenkinsfile#L5

[2021-11-02 19:20] #542 closed

[2021-11-02 19:21] peternied commented on #119
[Triage] @bbarani Can you weigh in on this issue?

[2021-11-02 19:22] peternied commented on #73
[Triage] This is covered in the repo readme.

[2021-11-02 19:22] #73 closed

[2021-11-02 19:29] peterzhuamazon commented on #726
Pushed to production, please check @VijayanB .
Thanks.
https://hub.docker.com/r/opensearchproject/logstash-oss-with-opensearch-output-plugin/tags?page=1&name=7.13.4

[2021-11-02 19:55] VijayanB commented on #726
Confirming it works in prod. Thanks @peterzhuamazon
https://hub.docker.com/r/opensearchproject/logstash-oss-with-opensearch-output-plugin/tags?page=1

[code]

[2021-11-02 19:55] #726 closed

[2021-11-02 20:15] VijayanB opened #860 "on-board repository for code scans"
### Is your feature request related to a problem? Please describe

Can you onboard this repository: https://github.com/opensearch-project/opensearch-ruby for code scans.

### Describe the solution you'd like

onboard to available scans

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-11-02 20:37] ananzh opened #861 "OpenSearch client v1.0.2 release NPM request"
Need NPM release for opensearch-js v1.0.2

### Describe the solution you'd like

Use previous release template for v1.0.2 release

[2021-11-02 21:24] peternied commented on #69
@elfisher Please re-open if more work is need in this space - beats v7.12.1 are on artifacts.opensearch.org

[2021-11-02 21:24] #69 closed

[2021-11-02 21:44] peterzhuamazon commented on #801
More improvements:
* Make the script commands section a fixed list or retrieve value from manifest.
* Add scm to monitor docker dir and auto trigger docker builds.

[2021-11-02 21:47] peternied commented on #104
Moving to the CI repo, will update this item as the migration effort occurs. Meta issue for tracking is https://github.com/opensearch-project/opensearch-ci/issues/2

[2021-11-02 21:51] zelinh commented on #860
We haven't used whitesource any ruby project. We may need some time for configuration.

[2021-11-02 21:59] DanielHajduk2-TomTom opened #873 "[BUG][opensearch] 403 when installing plugins from https://artifacts.opensearch.org/releases/plugins/*"
**Describe the bug**
When I try to download the plugin I get 403 response..

**To Reproduce**
Steps to reproduce the behavior:
1. wget https://artifacts.opensearch.org/releases/plugins/repository-azure/1.0.0/repository-azure-1.0.0.zip

**Expected behavior**
Plugins are actually downloadable.

**Chart Name**
All chart versions.

**Screenshots**
https://i.imgur.com/At4ePuK.png

**Host/Environment (p

[2021-11-02 22:01] zelinh opened #864 "[Bundle Build Break]: asynchronous-search build failure"
### Describe the bug

Error context

[code]

### To reproduce

run `./build.sh manifests/1.2.0/opensearch-1.2.0.yml --component asynchronous-search`

### Expected behavior

Should be built successfully.

[2021-11-02 22:14] #628 closed

[2021-11-03 00:10] github-actions[bot] opened #870 "[RELEASE] Release version 1.1.1"
## Release OpenSearch and OpenSearch Dashboards 1.1.1
~~**(As of 2021/11/17 We only make changes to `OpenSearch-Dashboards` to 1.1.1, therefore, `OpenSearch` stays 1.1.0.)**~~

**(We will release both OpenSearch and OpenSearch-Dashboards 1.1.1 as both need changes to reports plugin BE/FE)**

# We are pausing 1.1.1 for now due to CVE-2021-44228.
Related to this:
https://discuss.opendistrocommunity.

[2021-11-03 00:23] VijayanB opened #872 "Publish artifacts into rubygems.org repository"
### Is your feature request related to a problem? Please describe

build and upload gems to rubygems.org repository in following order

https://github.com/opensearch-project/opensearch-ruby/tree/main/opensearch-api
https://github.com/opensearch-project/opensearch-ruby/tree/main/opensearch-transport
https://github.com/opensearch-project/opensearch-ruby/tree/main/opensearch
https://github.com/opense

[2021-11-03 00:35] peterzhuamazon commented on #800
https://github.com/opensearch-project/helm-charts/pull/116

[2021-11-03 00:38] peterzhuamazon commented on #800
https://github.com/opensearch-project/helm-charts/pull/117

[2021-11-03 00:38] peterzhuamazon commented on #800
https://github.com/opensearch-project/helm-charts/pull/118

[2021-11-03 00:41] peterzhuamazon commented on #873
Please use 1.1.0 as 1.0.0 native plugins are not available.

    wget https://artifacts.opensearch.org/releases/plugins/repository-azure/1.1.0/repository-azure-1.1.0.zip

[2021-11-03 00:41] #873 closed

[2021-11-03 00:41] peterzhuamazon commented on #800
https://github.com/opensearch-project/opensearch-build/issues/873

[2021-11-03 06:35] abhinavGupta16 opened #875 "Need a standalone script to sign the artifacts"
### Is your feature request related to a problem? Please describe

Signing the artifacts is a manual process. We need to automate the signing process for the artifacts.

### Describe the solution you'd like

Write a bash script to sign the artifacts for release.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-11-03 06:43] abhinavGupta16 commented on #875
Part of #778 and #757

[2021-11-03 13:32] razvan-locomotion commented on #27
hey, guys. just wondering if the RPM package would be available for upcoming version 1.2.0?

[2021-11-03 16:36] peternied commented on #870
This release's date is contingent on #567 completion, this is due to manual processes and the intention is to mitigate risk of accidentally including a 1.2.0+ changes in the 1.1.1 components.

[2021-11-03 17:15] anirudha commented on #567
is it safe the assume that all release related tasks will/should be labelled as "v1.2.0" in all repos? @peternied

[2021-11-03 17:17] dblock commented on #567
To the best of our knowledge and automation. But you should be triaging all issues in repos and labelling accordingly.

[2021-11-03 17:19] dblock commented on #870
We should assemble a 1.1.1 manifest with all the components though earlier than later and include it in automated builds.

[2021-11-03 17:21] peternied commented on #870
@anirudha For this point release can you help me work back the dates that we are targeting?  Roughing working off of @bbarani planning notes we had the following:
- 1 day for updating build versions and creating branches
- 1 day for getting a viable distribution of OpenSearch and OpenSearch Dashboards
- 3 day for executing all testing
- 1 day for all release nodes/notifications

This isn't factori

[2021-11-03 18:10] peterzhuamazon commented on #27
Understand majority of the code for assemble now and have an idea on how to implement it.
As for `--distribution` param seems like it does not exist, only `--platform` is there in build progress.
The assemble code is relying on the opensearch min archive extension to decide which Dist class to use.

A little bit more complicated to insert an rpm than I initially thought.
@dblock

[2021-11-03 19:07] peternied opened #880 "[Retrospective] Release 1.2.0"
The OpenSearch and OpenSearch Dashboards Release 1.2.0 is currently in progress.  To make sure that we do not lose issues that arose during the process please add them here.  This issue will be updated after the release is finished.

### How to use this issue?
Please add comments to this issue, they can be small or large in scope.  Honest feedback is important to improve our processes, suggestions

[2021-11-03 19:11] peternied commented on #880
Component tickets off of the 1.2.0 release issue don't have dates on them.  It makes it hard to know, if looking at a component what the critical dates are or not.  This was a design to prevent them from drifting away from the agreed central data source of the primary release ticket.

Possible solutions:
 1. Have an automated task than checks for updates on the primary release ticket and trickles

[2021-11-03 20:16] peterzhuamazon commented on #27
It is probably better if we use setuptool to work on rpm creation, not fpm, as our code base for assemble are in python.

[2021-11-03 21:27] mch2 commented on #855
Ideally we could run validation against the central sync requirements on every build before publishing.  I have not seen an off the shelf way to do this and rolling our own seems a bit cumbersome given all the pom validations.  Here are my thoughts -

We can use the [Sonatype Nexus Staging Plugin](https://github.com/sonatype/nexus-maven-plugins/tree/master/staging/maven-plugin) with the `keepStagi

[2021-11-04 00:11] github-actions[bot] opened #883 "[RELEASE] Release version 1.1.1"
## Release OpenSearch and OpenSearch Dashboards 1.1.1

I noticed that a manifest was automatically created in [manifests/1.1.1](/opensearch-project/opensearch-build/tree/main/manifests/1.1.1). Please follow the following checklist to make a release.

<details><summary>How to use this issue</summary>
<p>

## This Release Issue
This issue captures the state of the OpenSearch release, its assignee is

[2021-11-04 00:36] #875 closed

[2021-11-04 01:32] zelinh opened #885 "[Bundle Build Break]: PerformanceAnalyzer build failure"
### Describe the bug

Bundle build workflow on Jenkins is broken after #871 is merged.
Here is the error context:
[code]

### To reproduce

run `./build.sh manifests/1.2.0/opensearch-1.2.0.yml --component performance-analyzer`

[2021-11-04 01:33] zelinh commented on #885
Could you take a look at this build failure? @kjoseph07

[2021-11-04 03:37] dblock commented on #870
I renamed the issue back or the bot keeps creating new ones.

[2021-11-04 03:37] dblock commented on #883
Bot opened this by mistake because the original issue had the title edited.

[2021-11-04 03:37] #883 closed

[2021-11-04 14:14] peternied commented on #870
Stop being so helpful automation!

[2021-11-04 16:13] peternied commented on #870
Offline: @anirudha confirmed that are targeting the release on Nov 24th

[2021-11-04 18:11] kjoseph07 commented on #885
Taking a look now.

[2021-11-04 18:23] peterzhuamazon commented on #800
https://github.com/opensearch-project/helm-charts/pull/124

[2021-11-04 18:29] peterzhuamazon commented on #800
https://github.com/opensearch-project/ansible-playbook/issues/11
https://github.com/opensearch-project/ansible-playbook/pull/12

[2021-11-04 20:26] peternied commented on #207
How about `/bundles/<bundle-version>/<build-id>/<arch>/tests` -> `/{basePath}/testResults/{run-id}/`

That base path has the arch, platform, build number and all that good stuff in there.  The change that was make for the bundle workflow would be a clean way to update the test system

[2021-11-04 20:28] peternied commented on #885
After the PR seeing another kind of failure:
[code]

[2021-11-04 20:33] dblock commented on #207
Let's not call paths camelCase ;)

[2021-11-04 20:34] peternied commented on #207
That proposal with examples:
#### Build Manifest
`https://ci.opensearch.org/ci/dbc/bundle-build/1.2.0/292/linux/x64/builds/manifest.yml`
#### Dist Manifest
`https://ci.opensearch.org/ci/dbc/bundle-build/1.2.0/292/linux/x64/dist/manifest.yml`
#### Test Results
`https://ci.opensearch.org/ci/dbc/bundle-build/1.2.0/292/linux/x64/test-results/1/core/integration-test-report.html`

[2021-11-04 20:35] dblock commented on #885
There's a custom install.sh that hasn't updated its args. Copy from https://github.com/opensearch-project/opensearch-build/blob/main/scripts/default/install.sh

[2021-11-04 20:36] dblock commented on #207
I would just call it "tests" and "integ-tests" to match other names.

https://ci.opensearch.org/ci/dbc/bundle-build/1.2.0/292/linux/x64/tests/1/integ-test.html

[2021-11-04 20:42] owaiskazi19 commented on #207
Just to be sure we will storing tests under `bundle-build`?

[2021-11-04 20:43] peternied commented on #207
`https://ci.opensearch.org/ci/dbc/bundle-build/1.2.0/292/linux/x64/` is the base path, you don't need to worry about what it is, the jenkinsfile should feed it into the test system so it can be published

[2021-11-04 20:46] peternied commented on #207
RE: `tests` vs `test-results`
So within the opensearch-build repo, there is already a folder called `tests` where as `builds` and `dist` have no collisions.  If we want simpler names, `results` work without too much redundancy so something like `.../x64/results/1/integ-test.html`

[2021-11-04 20:50] owaiskazi19 commented on #207
The way test recorder and publisher are integrated right now is, test recorder is storing results under `tests/test-run-id/integ-test/<component-name>/<security-type>/<remote/local>-cluster-logs`.
TestPublisher will pick up those logs and store under `basePath/tests/test-run-id/integ-test/<component-name>/<security-type>/<remote/local>-cluster-logs`in S3.

[2021-11-04 21:45] ylwu-amzn commented on #880
Checkstyle removed from OpenSearch https://github.com/opensearch-project/OpenSearch/pull/1370, that caused AD plugin 1.2 build failed, took team hours to figure out why. We should notify all plugin teams about such changes in future.

[2021-11-04 21:46] dblock commented on #207
Note that in https://github.com/opensearch-project/opensearch-build/pull/878 I am getting rid of the S3 dependency. We don't have build code that uploads to S3, this is done in Jenkins. Similarly we need to only worry about publishing test results locally and the Jenkins job can copy those results to S3 as needed.

[2021-11-04 22:11] owaiskazi19 commented on #207
Thanks for the update. Does that mean https://github.com/opensearch-project/opensearch-build/issues/341 will be handled by Jenkins as the test results are already getting published locally by TestRecorder under `tests/test-run-id/integ-test/<component-name>/<security-type>/<remote/local>-cluster-logs`? If so, is it fair to say that we can close https://github.com/opensearch-project/opensearch-buil

[2021-11-04 22:28] dblock commented on #207
@peternied?

[2021-11-04 22:39] peternied commented on #207
I think the actual uploading should be done via Jenkins, the system itself doesn't need this knowledge.  I think it would look something like what is already in the [build workflow](https://github.com/opensearch-project/opensearch-build/blob/main/jenkins/opensearch/Jenkinsfile#L159)

[2021-11-04 23:22] peterzhuamazon commented on #800
https://github.com/opensearch-project/helm-charts/pull/94

[2021-11-05 00:09] github-actions[bot] opened #889 "[RELEASE] Release version 1.3.0"
## Release OpenSearch and OpenSearch Dashboards 1.3.0

I noticed that a manifest was automatically created in [manifests/1.3.0](/opensearch-project/opensearch-build/tree/main/manifests/1.3.0). Please follow the following checklist to make a release.

<details><summary>How to use this issue</summary>
<p>

## This Release Issue
This issue captures the state of the OpenSearch release, its assignee is

[2021-11-05 12:52] #629 closed

[2021-11-05 16:59] saratvemulapalli commented on #207
Nice, I like it @owaiskazi19. Also make sure the test manifest file is also included in the path, I believe the tests generate this via TestRecorder.

 @peternied is there an issue for updating the Jenkins job to support uploading files to artifact bucket?

[2021-11-05 19:30] zelinh commented on #885
That performance-analyzer install.sh has been updated as part of #878.
Bundle build works now. Closing this issue.

[2021-11-05 19:30] #885 closed

[2021-11-05 19:37] dblock opened #894 "[Bug]: performance-analyzer-rca is not present in the 1.1.0 release manifest"
### Describe the bug

performance-analyzer-rca is not present in the 1.1.0 release manifest inside the Linux distribution for 1.1.0, but is present in the input manifest

### To reproduce

Download https://artifacts.opensearch.org/releases/bundle/opensearch/1.1.0/opensearch-1.1.0-linux-x64.tar.gz, extract manifest.yml. It doesn’t contain PA RCA.

### Expected behavior

_No response_

### Screensho

[2021-11-05 22:56] zelinh commented on #353
After checking comprehensively, this renaming from `bundle` to `dist` has been completed everywhere in bundle build file path.

[2021-11-05 22:56] #353 closed

[2021-11-05 23:57] kavilla commented on #606
We were thinking about to solve this issue we will allow for multiple components to be passed so it builds together

[2021-11-06 14:28] dblock commented on #87
We've codified and are running the process in 1.2. Watch https://github.com/opensearch-project/opensearch-build/issues/567. Let's close this issue when 1.2 is released and we've finished all the steps, made updates to the templates and did a post-mortem.

[2021-11-08 16:38] peternied commented on #567
All features need to be in by EOD today, Nov 8th  If any planned features is not expected to land by EOD for 1.2.0 please reply to this issue with options.

Builds are being produced and links are published in the OpenSearch distribution builds channel where they can be picked up for testing.  Check the dist manifest for the distribution download location and to confirm the commit ids.

As planned

[2021-11-08 17:45] mch2 commented on #713
Metadata files are required when working with a maven repo.  The -local file is created because for some dependencies we were publishing to local and copying those files.

With changes to push to a separate staging folder - https://github.com/opensearch-project/opensearch-plugins/pull/99/files, this file will be properly named.

[2021-11-08 18:02] dblock commented on #713
Sounds like we can we close this then @mch2? Go for it.

[2021-11-08 18:19] kavilla commented on #861
Any ETA on this @peterzhuamazon

[2021-11-08 18:33] kavilla commented on #830
All plugins merged in.

[2021-11-08 18:33] #830 closed

[2021-11-08 19:06] peternied commented on #604
[Triage] @tianleh Could you add individual tasks that would align to the PRs that you are creating where this task is broken into more digestible pieces?

[2021-11-08 19:12] peterzhuamazon commented on #861
@peternied since you are oncall for the week can you follow up with @ananzh and @kavilla thanks.

[2021-11-08 19:14] #800 closed

[2021-11-08 19:26] peternied commented on #420
[Triage] Looks like this has been resolved

[2021-11-08 19:26] #420 closed

[2021-11-08 19:35] abhinavGupta16 commented on #580
This PR is merged

[2021-11-08 19:35] #580 closed

[2021-11-08 19:38] peternied commented on #604
[Triage] @peterzhuamazon is tracking this item, and the costing reflects this.  If it makes sense to break this apart into more than one item please do what works best for you.

[2021-11-08 19:41] zelinh opened #907 "[Bundle Build Break]: Error building dashboards-reports plugin"
### Describe the bug

Currently our bundle-build workflow is broken.
Here is the context of errors.

[code]

### To reproduce

Run `./build.sh manifests/1.2.0/opensearch-1.2.0.yml --component dashboards-reports`

### Expected behavior

_No response_

### Screenshots

If applicable, add screenshots to help explain your problem.

### Host / Environment

_No response_

### Additional context

_No res

[2021-11-08 19:45] gaiksaya commented on #907
@joshuali925 looks like build is failing for dashboard-reports. Can you take a look?

[2021-11-08 19:55] peternied commented on #245
[Triage] Many concerns of this task will be resolved when Jenkins in public https://github.com/opensearch-project/opensearch-ci/issues/3, we will be prioritize that work first afterward this can be reopened if it comes up.

[2021-11-08 19:55] #245 closed

[2021-11-08 20:04] peternied opened #908 "Create Docker images off of bundle build"
In order to make validating 1.2.0 easier, provide docker images that can be pulled for testing

- [ ] Add new docker references in the staging docker
- [ ] Update the build process to publish the image
  - [dockerfile](https://github.com/opensearch-project/opensearch-build/blob/main/docker/release/dockerfiles/opensearch.al2.dockerfile), https://hub.docker.com/r/opensearchstaging/opensearch
  - [do

[2021-11-08 20:42] peternied opened #909 "run a scheduled scan on the `opensearch` repository"
We already have WhiteSource app installed on `OpenSearch` repo. It created a PR that contains a '.whitesource' configuration file which can be customized to our needs. Once it's merged to the repository, WhiteSource bot will run configured scan on the `OpenSearch` repo.
https://github.com/opensearch-project/OpenSearch/pull/1525

[2021-11-08 20:43] peternied commented on #909
[Triage] @zelinh Please fill in the details for this scan for this sprint

[2021-11-08 20:53] peternied commented on #870
[Triage] Moved this to @bbarani to confirm the release dates and manage the work back schedule.  Since this is a point release there is flexibility, but the more flexing that is done the more risk that is introduced to the schedule.

[2021-11-08 21:29] joshuali925 commented on #907
@gaiksaya
I merged a PR that should fix this. https://github.com/opensearch-project/dashboards-reports/pull/221

Also curious how do I reproduce the build error? I ran `./build.sh manifests/1.2.0/opensearch-1.2.0.yml --component dashboards-reports` but got this:

[code]

[2021-11-08 21:35] gaiksaya commented on #907
Thanks @joshuali925! You can checkout the readme steps to see if you missed any step: https://github.com/opensearch-project/opensearch-build#how-it-works.
On quick look I found this

[2021-11-08 21:35] zelinh commented on #907
Oh I think you didn't have OpenSearch dependency in maven local. The way for you to try is `./build.sh manifests/1.2.0/opensearch-1.2.0.yml` within the docker container; but it may take some time since it builds everything in sequence.

[2021-11-08 22:55] bbarani commented on #870
1.1.1 is currently schedule for Nov 23 2021. Lets work backward from the release date to close out the preparation work.

[2021-11-08 23:28] gaiksaya commented on #907
Recent build was successful. Closing this issue.
Thanks!

[2021-11-08 23:28] #907 closed

[2021-11-08 23:55] peterzhuamazon commented on #908
Just sync up with @zelinh and he will add a post task to bundle-build to trigger docker-build with these commands for now:

[code]

VERSION will be dynamically retrieved from bundle-build as well as the URL for tarball downloads.

Thanks.

[2021-11-09 00:13] peterzhuamazon commented on #27
Also need to add these for PA: https://github.com/opensearch-project/performance-analyzer/tree/main/packaging

[2021-11-09 01:21] abhinavGupta16 commented on #757
PR to fix twine issue - https://github.com/opensearch-project/opensearch-dsl-py/pull/30

Released - https://pypi.org/project/opensearch-dsl/1.0.0/

[2021-11-09 01:21] #757 closed

[2021-11-09 02:34] peterzhuamazon commented on #908
We are able to push the 1st draft to dockerhub with Jenkins.
@zelinh is still improving the code.
We will be able to create a PR soon.

[code]

https://hub.docker.com/r/opensearchstaging/opensearch/tags?page=1&name=1.2.0

[2021-11-09 02:35] peterzhuamazon commented on #908
See docker-build 88 for auto trigger from bundle-workflow.

[2021-11-09 03:11] peternied commented on #861
FYI - we are working this request offline, but will use this to track overall work.

[2021-11-09 08:18] tianleh commented on #604
Task breakdown

- [x] https://github.com/opensearch-project/opensearch-build/issues/834
- [ ] https://github.com/opensearch-project/opensearch-build/issues/852
- [ ] https://github.com/opensearch-project/opensearch-build/issues/837
- [ ] https://github.com/opensearch-project/opensearch-build/issues/838

[2021-11-09 08:19] tianleh commented on #604
My POC work https://github.com/tianleh/opensearch-build/tree/add-test-support is working. Focusing on moving the POC code to official repo

[2021-11-09 08:56] kavilla opened #917 "[Bug]: OpenSearch dist `opensearch-tar-install.sh` does not work"
### Describe the bug

Not sure if it's just my local environment setup. Seems like I have to set an environment variable.

When trying to run `opensearch-tar-install.sh` I get the following message:

[code]

Looks like file was renamed or removed.

### To reproduce

* `wget -c https://ci.opensearch.org/ci/dbc/bundle-build/1.2.0/941/linux/x64/dist/opensearch-1.2.0-linux-x64.tar.gz -O - | tar -xz`
*

[2021-11-09 09:02] kavilla commented on #917
@ jmazanec15 would you have some insight on this one?

[2021-11-09 13:05] peternied opened #919 "[BundleBuild Break] OpenSearch Could not resolve commons-codec:commons-codec:1.13."
[code]

[2021-11-09 15:07] anirudha commented on #794
can we pull from GH actions output instead of S3?

[2021-11-09 16:45] peternied commented on #919
After reviewing with @gaiksaya this looks like a random certificate issue on `jcenter.bintray.com`

[2021-11-09 16:45] #919 closed

[2021-11-09 16:53] gaiksaya commented on #794
The GH actions artifacts and logs are expired after 90 days as per their [documentation](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/enabling-features-for-your-repository/managing-github-actions-settings-for-a-repository#configuring-the-retention-period-for-github-actions-artifacts-and-logs-in-your-repository). Not sure if that is reliable in case we nee

[2021-11-09 17:03] peternied commented on #794
I am not concerned about intermediary artifacts expiring so long as they are re-creatable

[2021-11-09 17:20] peternied commented on #567
I've updated the component board - many associated release tickets are not filled out.  I've made a call for all component teams to review the release ticket and we will review the state of the release in 3 hours, @Noon PST.

[2021-11-09 18:02] bbarani commented on #794
I am good with pulling it from GH actions output. Long term, I would like to have a job in CI system to generate it, sign and publish it automatically.

[2021-11-09 18:28] peternied commented on #567
## Release testing:
To aid in release testing we are providing all teams with access to docker images of OpenSearch to aid in the rapid setup/tear down for testing.

- [OpenSearch docker](https://hub.docker.com/r/opensearchstaging/opensearch/tags?page=1&name=1.2.0)
  + Pull latest 1.2.0 image and start it in single node mode without security
  + `docker pull opensearchstaging/opensearch:1.2.0`
  +

[2021-11-09 18:33] peternied commented on #908
@peterzhuamazon Thanks that worked great, do you how do we need to adapt the configuration for opensearch-dashboards via the bundle build?

[2021-11-09 20:16] peternied commented on #567
### Components that are not confirmed as feature complete - Noon PST Check-in
- https://github.com/opensearch-project/alerting/issues/182
- https://github.com/opensearch-project/dashboards-notebooks/issues/81
- https://github.com/opensearch-project/dashboards-reports/issues/167
- https://github.com/opensearch-project/dashboards-visualizations/issues/26
- https://github.com/opensearch-project/job-s

[2021-11-09 20:36] peterzhuamazon opened #922 "[Discussion] Remove Sysvinit support in OpenSearch DEB/RPM packages"
### Is your feature request related to a problem? Please describe

The DEB/RPM packages are using process manager to start/stop the process.

In ODFE, we support both Sysvinit (which is legacy now in majority of common linux distribution) and systemd.

Now as we are developing OpenSearch DEB/RPM, the support compatibility charts is updated to only support
[code]

It seems that we can fully depreca

[2021-11-09 20:36] peterzhuamazon commented on #922
Hi @bbarani  @dblock @peternied please let me know what is your thoughts.

Thanks.

[2021-11-09 20:44] peternied commented on #922
Is there some more background that I can get on this topic - what is the trade-off of removing sysvinit support?  I don't see it referenced in this codebase.

[2021-11-09 20:49] jmazanec15 commented on #917
This bug looks like its coming from OpenSearch boot and not k-NN.

[2021-11-09 21:03] jmazanec15 commented on #917
#923 cleans up some of the messages around installation wrt k-NN.

[2021-11-09 22:32] kavilla commented on #917
Working for me on latest build for OpenSearch. Yeah I guess the cleaning log messages will up.

[2021-11-09 22:39] peternied commented on #864
This has been resolved and async search is at 1.2

[2021-11-09 22:39] #864 closed

[2021-11-09 23:13] peternied commented on #567
All components are feature complete, thanks everyone.  Builds are in the process of kicking off - we will choose builds for OpenSearch and OpenSearch-Dashboards and link them here and on the release issue, ETA for those is start of day tomorrow.
Next step; release validation, run test passes to be completed at the end of day Nov 11th.

[2021-11-09 23:50] bbarani commented on #922
What is the systemd?
The systemd (system daemon) is a service and management mechanism. In RHEL7 or above, it is responsible for initializing and activating system resources and server daemons at the boot time as well as on a running system.

In easy language, the systemd starts and manages all types of processes and services in Linux. In technical language, it is an initializer program that bring

[2021-11-10 00:18] #713 closed

[2021-11-10 11:20] peternied opened #931 "[BuildBuild Break] Docker image generation failed with out security plugin"
We have been generating 2.0.0 builds daily, and the docker image generation failed because security was missing.  If we need a check for security - which I advocate that we do not have customized logic for, it should not fail the docker image if it isn't present.

We should start with seeing how to remove this specialized plugin logic

[code]

[2021-11-10 14:57] peternied opened #933 "[BuildBuild] Have excellent documentation for how to setup OpenSearch for testing"
For the 1.2.0 release this is what we have we should refine and improve this.

---

- Use Docker-Compose to setup a cluster
  + Download this [gist](https://gist.github.com/peternied/f693b9230ba68f9d7b9a26a8e6c097b8) as docker-compose.yml on your machine
  + Get latest image versions `docker-compose pull`
  + Start the cluster `docker-compose up`

- [OpenSearch docker](https://hub.docker.com/r/ope

[2021-11-10 15:03] peternied commented on #933
@kavilla @peterzhuamazon Can you confirm that the setup for Dashboards is correct?

[2021-11-10 17:05] peterzhuamazon commented on #908
This is completed as we have both #928 and #929 taking care of docker builds of bundle builds in OpenSearch and OpenSearch-Dashboards.

[2021-11-10 17:05] #908 closed

[2021-11-10 17:09] peterzhuamazon commented on #933
`--network="host"` sometimes having issues on macOS.
I normally just use the docker file to handle it.

[2021-11-10 17:50] dblock commented on #797
https://github.com/opensearch-project/opensearch-build/pull/878

[2021-11-10 17:50] #797 closed

[2021-11-10 18:06] zelinh commented on #909
Filled the description of this task.

[2021-11-10 18:14] joshuali925 opened #934 "[Bug]: Reporting build missing chromium dependency"
### Describe the bug

dashboards-reports plugin uses chromium to generate reports, the binary should be included in the artifact like this:
https://github.com/opensearch-project/dashboards-reports/blob/main/.github/workflows/dashboards-reports-test-and-build-workflow.yml#L67-L91

But this part is missing in [build.sh](https://github.com/opensearch-project/opensearch-build/blob/main/scripts/compone

[2021-11-10 18:25] peternied commented on #934
`PLATFORM` can be:
* linux
* darwin
* windows

`ARCHITECTURE` can be:
* x64
* arm64

See [example usage](https://github.com/opensearch-project/opensearch-build/blob/main/scripts/components/OpenSearch/build.sh#L81-L113)

[2021-11-10 18:36] peternied commented on #567
Note; we are tracking a OpenSearch-Dashboard blocker on https://github.com/opensearch-project/opensearch-build/issues/934

[2021-11-10 18:36] joshuali925 commented on #934
will `ARCHITECTURE` be supplied?
[code]
this can also be `x86_64`, `amd64`, `aarch64`, ... but the case only accepts `x64` and `arm64`

[2021-11-10 18:44] owaiskazi19 opened #935 "Remove redundant role for `tests`"
### Is your feature request related to a problem? Please describe

Currently we have two tests role under https://github.com/opensearch-project/opensearch-build/blob/main/deployment/lib/identities.ts#L47-L48 to publish test results to S3. Remove the redundant `*/dist/*/tests/*` if not used anywhere.

### Describe the solution you'd like

Remove redundant role for `tests`

### Describe alternatives

[2021-11-10 18:46] peternied commented on #934
This a better source of truth, here are the values that will be allowed by the build system

[code]
https://github.com/opensearch-project/opensearch-build/blob/main/src/build_workflow/build_args.py#L12-L17

[2021-11-10 20:02] stockholmux commented on #922
`legacy now in majority of common linux distribution` Can you break this down a little more? Are there any hold outs?

Also what is the effort required or risk to keep SysvInit around for those who are using an older distrubtion?

[2021-11-10 20:28] peterzhuamazon commented on #922
CentOS/RH 6 and before, Ubuntu 14 before + Ubuntu 15 early versions are the notable ones that still use Sysvinit, and they only Ubuntu 14 are still in extended maintenance support.

The compatibility charts we put in our website list linux system are all having systemd now.
 https://opensearch.org/docs/latest/opensearch/install/compatibility/

[2021-11-10 20:35] stockholmux commented on #922
@peterzhuamazon And the latter part of that message - what about keeping SysvInit around?

[2021-11-10 20:51] dblock commented on #934
Manifests support limiting platforms like [here](https://github.com/opensearch-project/opensearch-build/blob/main/manifests/1.2.0/opensearch-1.2.0.yml#L50). There's no support for architectures, we probably want to extend that code to be able to write:

[code]

Feel free to open an issue/PR :)

Please fix!

[2021-11-10 20:52] zelinh commented on #823
We onboard the WhiteSource native Github app on `OpenSearch` repository first. The Github app has been installed and registered with our license key. I'm closing this issue and we will move on to the next step that is to scan the repo.

[2021-11-10 20:52] #823 closed

[2021-11-10 23:34] peterzhuamazon commented on #922
I will take a considerate amount of efforts to migrate those scripts from ODFE to OpenSearch, while port them to work with OpenSearch (the original scripts we have only works for Kibana).

And we also need to get old env to test them.

I personally think it is not worth the effort consider RH 6 has been deprecated from LTS since 2018, it is already being replace by RH 7 since mid 2017.

Thanks.

[2021-11-11 01:37] owaiskazi19 commented on #341
Closes https://github.com/opensearch-project/opensearch-build/pull/938

[2021-11-11 01:37] #341 closed

[2021-11-11 16:17] #934 closed

[2021-11-11 17:24] cebor commented on #49
This issue is still in version 1.1.0!

[2021-11-11 17:26] peterzhuamazon commented on #49
Please give detailed description of what is the issues so we can take a look @cebor 😄

[2021-11-11 17:41] anirudha commented on #781
https://github.com/opensearch-project/opensearch-build/issues/794
https://github.com/opensearch-project/opensearch-build/issues/795
related older issues

[2021-11-11 17:47] cebor commented on #49
`JAVA_HOME` env var is not set, and so its not possible to run `securityadmin.sh` out of the box.

[2021-11-11 18:01] peterzhuamazon commented on #49
Can you show your full step on how to produce this?
I just checked and java home is set on my side.
Thanks.

[2021-11-11 18:17] owaiskazi19 commented on #818
Test Publisher is covered as a part of https://github.com/opensearch-project/opensearch-build/issues/341

[2021-11-11 18:23] cebor commented on #49
Steps to reproduce:

[code]

[2021-11-11 19:03] JSkier21 commented on #49
Also have this issue. Running in Podman, OS1.1.0 JAVA_HOME is blank, can't run those tools either.

[2021-11-11 19:33] peternied commented on #922
Do we have these scripts somewhere and an details as to why this they would be hard to manage?  This missing data that makes it hard to understand the trade-offs with continuing support or removing it.

[2021-11-11 19:58] peternied commented on #567
Nov 11th, End of day today all tests should have executed on build 964 or 364+ so we can be sure that all issues have been flushed out.  Then we will begin taking a closer look at outstanding 1.2.0 issues and make sure they are burning down so we are on target for the release on Nov 16th.

[2021-11-11 20:10] owaiskazi19 opened #943 "[Validation Blocking][Bug]: Integration Tests are failing on Jenkins"
### Describe the bug

Integ tests are failing on jenkins for all the plugins.
Report:

[code]

### To reproduce

Run integ-test job on Jenkins with the right params.

### Expected behavior

Integration tests should run successfully.

### Screenshots

If applicable, add screenshots to help explain your problem.

### Host / Environment

_No response_

### Additional context

_No response_

### Relev

[2021-11-11 20:11] owaiskazi19 commented on #943
Alerting:

FAILURE: Build failed with an exception.

[code]

[2021-11-11 20:12] owaiskazi19 commented on #943
Asynchronous Search:

[code]

[2021-11-11 20:12] owaiskazi19 commented on #943
Index Management:

[code]

[2021-11-11 20:13] owaiskazi19 commented on #943
K-NN:

[code]

[2021-11-11 20:14] owaiskazi19 commented on #943
Anomaly Detection:

[code]

[2021-11-11 20:14] owaiskazi19 commented on #943
SQL:

[code]

[2021-11-11 20:15] owaiskazi19 commented on #943
dashboard-reports:

[code]

[2021-11-11 20:17] saratvemulapalli commented on #943
Looking at this, looks like dependency installer (https://github.com/opensearch-project/opensearch-build/blob/main/src/test_workflow/dependency_installer.py) is unable to pull the right dependencies for plugins to run the integration tests.

[2021-11-11 20:20] peterzhuamazon commented on #49
This @MichaelRoosz @JSkier21
Seems like /etc/profile, /etc/profile.d are both working on Bash, while default Bounce Shell only works with ~/.profile.

I have setup the ENV directly in dockerfile this time, seems working: https://github.com/opensearch-project/opensearch-build/pull/944

[code]

[code]

[2021-11-11 21:01] dblock commented on #943
What's in the dependency installer pull log? What is it bringing to maven local?

[2021-11-11 21:11] dblock commented on #943
Looks like the build is missing .pom files, the only maven artifacts downloaded are .jar(s):

[code]

[2021-11-11 21:35] mbreevoort commented on #28
Using opendistro and waiting until the debian packages are available, does it make `v1
2.0` this time?

[2021-11-11 22:03] AMoo-Miki commented on #152
The correct header for files like [this one](https://github.com/opensearch-project/opensearch-build/blob/main/config/opensearch_dashboards.yml) is:

[code]

For files that contain attribution to an external project, place this long version above those of the external project(s).

[code]

Here is a rough list of files that need to change:
https://github.com/opensearch-project/opensearch-build/searc

[2021-11-12 00:02] peternied commented on #567
We have a validation blocking bug, tracking https://github.com/opensearch-project/opensearch-build/issues/943 as the core issue.   At this point validation will not be complete tonight as integration tests have not fully run.  Thanks for your focus on this @mch2 @gaiksaya

[2021-11-12 00:49] peterzhuamazon commented on #27
Able to automate the creation of rpm of OpenSearch now:
[code]

[2021-11-12 00:53] peterzhuamazon opened #952 "[Enhancement] Make Docker Build on Jenkins more robust with with less manual inputs"
### Is your feature request related to a problem? Please describe

In #801 there are some additional improvements raised after the completion of the issues.

[code]

### Describe the solution you'd like

Make improvements for above asks in opensearch-build repo.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-11-12 00:53] peterzhuamazon commented on #801
Create #952 for the improvements, we can close this issue for now.
Thanks.

[2021-11-12 00:53] #801 closed

[2021-11-12 00:55] peterzhuamazon commented on #27
We switch back to fpm as it is still the most complete tool for package creation.
We will update the dockerfiles for the corresponding changes to include ruby + fpm.
Thanks.

[2021-11-12 16:39] downsrob opened #953 "[Bug]: Out of date archive test distribution may be causing plugin IT test failures"
### Describe the bug

Parallel issue on core which has been identified as a release blocker for 1.2: https://github.com/opensearch-project/OpenSearch/issues/1473

Integration tests for the Index Management plugin which extend from OpenSearchIntegTestCase are failing during cleanup following the addition of shard indexing pressure stats in [this PR,](https://github.com/opensearch-project/OpenSearch

[2021-11-12 17:16] peternied commented on #953
Here is the script that is producing those artifacts https://github.com/opensearch-project/opensearch-infra/blob/main/jenkins/jobs/OpenSearch_CI/Snapshots_CI/opensearch_snapshots_creation_1_0_0/opensearch-assemble.sh
I've granted @downsrob access.

[2021-11-12 17:26] peternied commented on #953
After looking into the system and the scripts, I don't see an indication of what is or isn't producing these specific artifacts.  This might be related to how the distribution downloader is operating at runtime as opposed to the snapshot build is producing.

For the time being lets keep this issue on the books in the event that the build job is not correct and needs to be updated

[2021-11-12 17:54] bbarani commented on #953
The change to add -min added in OpenSearch repo but it was not removed from the build script (which was already adding a -min to this artifact) causing 2 mins (-min-min) to be added to artifact name causing this issue - https://github.com/opensearch-project/OpenSearch/issues/1094

[2021-11-12 19:03] peternied commented on #567
### Release testing has reset
We have found a validation blocking bug and all testing needs to be reset unless you know distribution downloader is not used, https://github.com/opensearch-project/opensearch-build/issues/953.  The distribution download was pulling snapshot artifacts that were 3 weeks old - before feature complete.  The artifacts have been updated, but all testing needs to be reset.

[2021-11-12 19:06] peternied commented on #953
Resolved in https://github.com/opensearch-project/opensearch-infra/pull/131 (Private Repo)

[2021-11-12 19:06] #953 closed

[2021-11-12 19:26] peternied opened #954 "Release version 1.2.0 Reset Final sanity testing tracking"
Confirm that all testing impacted by https://github.com/opensearch-project/opensearch-build/issues/953 was reset and completed

Notification that testing was restarted
- [x] OpenSearch
- [x] OpenSearch-Dashboards
- [x] common-utils
- [x] alerting
- [x] anomaly-detection
- [x] asynchronous-search
- [x] dashboards-reports
- [x] dashboards-visualizations
- [x] index-management
- [x] job-scheduler
- [

[2021-11-12 19:49] peternied opened #955 "OpenSearch 1.2.0 Release run integration test cases manually"
Trigger integration test with
- [x] On an x64 system `./test.sh integ-test https://ci.opensearch.org/ci/dbc/bundle-build/1.2.0/{BUILDNUM}/linux/x64 --keep`
- [x] On an arm64 system `./test.sh integ-test https://ci.opensearch.org/ci/dbc/bundle-build/1.2.0/{BUILDNUM}/linux/arm64 --keep`

Record the OpenSearch-Build commit number, and then save the results on this issue.  If there are any bugs create

[2021-11-12 19:54] peterzhuamazon opened #956 "[Documentation] Adding a design doc for deb/rpm generation with assemble workflow"
**Is your feature request related to a problem?**
[Documentation] Adding a design doc for deb/rpm generation with assemble workflow

**What solution would you like?**
@peterzhuamazon and @zylzulu will create the design doc, two parts, fpm pkg generation and assemble workflow wrapping.

**What alternatives have you considered?**
A clear and concise description of any alternative solutions or featur

[2021-11-12 20:05] #152 closed

[2021-11-12 20:15] abhinavGupta16 commented on #849
@peterzhuamazon  - Could you add an estimate and an assignee to this task. Thank you!

[2021-11-12 20:18] peternied commented on #955
### x64 results on build 994
Commit id: d3acfee
`./test.sh integ-test https://ci.opensearch.org/ci/dbc/bundle-build/1.2.0/994/linux/x64`

[code]

Created issue https://github.com/opensearch-project/index-management/issues/194 for failure

[2021-11-12 22:06] zelinh opened #957 "WhiteSource scan on all repos for 1.2 release"
Manually run the WhiteSource CVEs scans on all repositories that are included in the incoming 1.2 release manifest.

[2021-11-12 22:06] zelinh commented on #957
Scan has been completed and updated on the tracker.

[2021-11-12 22:06] #957 closed

[2021-11-12 22:11] zelinh commented on #909
We are updating the `.whitesource` file to LOCAL mode and use our own configuration `whitesource.config` which is copied from https://github.com/opensearch-project/opensearch-build/blob/main/tools/vulnerability-scan/wss-unified-agent.config.
See the update in this PR, https://github.com/opensearch-project/OpenSearch/pull/1540

[2021-11-12 23:17] owaiskazi19 opened #960 "Notification after Integration Test run on Jenkins"
### Is your feature request related to a problem? Please describe

Currently, `TestPublisher` is publishing test results to S3. To make the results more visible send a notification informing about the test run.

### Describe the solution you'd like

Notification can be send to either slack or through email.

### Describe alternatives you've considered

_No response_

### Additional context

_No re

[2021-11-12 23:32] peternied commented on #955
### arm64 results on build 994
Commit id: 805fbec (trivial difference between x64 tests)
`./test.sh integ-test https://ci.opensearch.org/ci/dbc/bundle-build/1.2.0/994/linux/arm64`

[code]

The failure was due to gradle reaper, I am rerunning with additional logs for more data.

[2021-11-12 23:40] peterzhuamazon commented on #27
<details>
 <summary>Invoke fpm generation of rpm through assemble workflows</summary>

[code]

</details>

[2021-11-12 23:50] peternied commented on #955
Figured out the issue with the arm host, it was using java 11, rerunning

[2021-11-12 23:52] tianleh commented on #852
PR has been approved and merged.

[2021-11-12 23:52] #852 closed

[2021-11-15 15:25] peternied commented on #880
Automate snapshot builds were being created and used by the distribution downloader tool and they were out of date https://github.com/opensearch-project/opensearch-build/issues/953.  A few issues this exposed:

* We did not know that part of the build infrastructure broke
* We did not realize that we were testing again old bits until really close inspection was conduced, decompiling binaries
* We

[2021-11-15 15:39] peternied commented on #567
### Release date - update
Since the testing process has slipped, we are pushing the release date out to **Thursday, Nov18th**.  I'll be following day-by-day to make sure that everything is in alignment and be reaching out to release tickets.

[2021-11-15 17:47] bbarani commented on #119
@frotsch Do you still see a need to publish -min images to Docker?

[2021-11-15 18:13] bbarani commented on #188
@prog8 This issue has been fixed in 1.1.0 release hence I am closing this issue. Please feel free to re-open this issue if you have any other questions.

[2021-11-15 18:13] #188 closed

[2021-11-15 19:26] #479 closed

[2021-11-15 19:27] kartg commented on #479
@Rishikesh1159 was working on this

[2021-11-15 19:48] peternied commented on #242
Maybe this GHA action https://github.com/marketplace/actions/license-checker could work?

[2021-11-15 21:29] peternied commented on #955
### arm64 results on build 994
Commit id: 805fbec (trivial difference between x64 tests)
`./test.sh integ-test https://ci.opensearch.org/ci/dbc/bundle-build/1.2.0/994/linux/arm64`

[code]

Looking into the failures, I'll have them posted seperately

[2021-11-15 21:30] peternied commented on #955
### x64 results on build 1032
Commit id: d3acfee
`./test.sh integ-test https://ci.opensearch.org/ci/dbc/bundle-build/1.2.0/1032/linux/x64`

[code]
All tests passed without issue

[2021-11-15 22:46] peternied commented on #955
### arm64 results on build 994 (Issues!)
Commit id: 805fbec (trivial difference between x64 tests)
./test.sh integ-test https://ci.opensearch.org/ci/dbc/bundle-build/1.2.0/994/linux/arm64

[code]
- https://github.com/opensearch-project/index-management/issues/194

[code]
- https://github.com/opensearch-project/k-NN/issues/213
- https://github.com/opensearch-project/k-NN/issues/214

[2021-11-15 22:53] peternied opened #963 "OpenSearch 1.2.0 Release run Performance test cases manually"
Due to https://github.com/opensearch-project/opensearch-build/issues/126, performance tests are not run via automation and instead must be started manually, here are the high level steps:

- [x] Create performance test clusters
- [x] Trigger performance test cases
- [x] Confirm all tests were successful
- [x] Publish performance test data

Follow up; Fork with all changes for the manual deployment

[2021-11-15 22:55] owaiskazi19 commented on #129
That's correct. We have not integrated perf test with jenkins

[2021-11-15 22:55] peternied commented on #963
### CDK deployment of all nodes
[code]
### Private IP Addresses for performance test sytems
[code]

### Trigger of performance test cases, via python client
[code]

[2021-11-15 23:57] peternied commented on #963
<html>
<body>

| Test ID                              | dataNodeCount | masterNodeCount | dataNodeInstanceType | elasticsearchDistributionType | ec2Type    | description                                                         | securityEnabled | index/opCount | index/opErrorCount | index/opErrorRate | index/requestsPerSecond/p0 | index/requestsPerSecond/p50 | index/requestsPerSecond/p100 | index/r

[2021-11-16 00:02] peternied commented on #963
Quick note on how that table was generated

Query for recent test data:
[code]
Query for OpenSearch 1.1 test data:
[code]

- Plug the results into https://www.convertjson.com/json-to-html-table.htm
- Massage missing fields from OpenSearch 1.1 data to line up
- Add not that the OpenSearch 1.1 results without security had an anomaly
- Convert over to a markdown table https://tableconvert.com/excel-t

[2021-11-16 00:03] peternied commented on #963
@mch2 We have performance numbers, can you poke someone to look into the data?

[2021-11-16 00:08] peternied opened #964 "[Integ-Test] We should have a test case that makes sure the JVM version between client/server are the same"
It looks like there can be cases where the JVM versions are mismatched between the remote cluster and the tests.  By adding a test that fails this would help us identify that the configuration is incorrect and we could get false negatives.

While this issue is less likely to happen in automated workflows, developers will still be running tests manually as they update/modify the suites.

From https

[2021-11-16 00:09] peternied commented on #964
@saratvemulapalli this would be a great getting started issue if you had some one in mind

[2021-11-16 00:15] peternied commented on #880
Seeing random test failures, might be associated with out of data code that was copypasted
https://github.com/opensearch-project/common-utils/issues/97

[2021-11-16 01:33] peternied commented on #955
### arm64 results on build 994 (Issues!)
Commit id: 805fbec (trivial difference between x64 tests)
 `./test.sh integ-test https://ci.opensearch.org/ci/dbc/bundle-build/1.2.0/1032/linux/arm64`

[code]

Results are in folder `0a91364d94934de98f1810220391de49`, pending inspection

[2021-11-16 09:01] ankitkala opened #965 "[Bug]: Out of date archive test distribution (for 1.1) may be causing plugin BWC test failures for Replication Plugin"
### Describe the bug

For BWC test on replication plugin, we create 1.1 clusters and upgrade those to 1.2. During the test, start replication call is failing on 1.1 cluster as it fails to resolve `INDEX_PLUGINS_REPLICATION_TRANSLOG_RETENTION_LEASE_PRUNING_ENABLED_SETTING` which is imported from `IndexSettings`:
- https://github.com/opensearch-project/cross-cluster-replication/blob/1.1/src/main/kot

[2021-11-16 12:31] dblock commented on #965
Where's the code that is downloading that 1.1 distribution? It should be taking it from https://artifacts.opensearch.org/releases/bundle/opensearch/1.1.0/opensearch-1.1.0-*.tar.gz

[2021-11-16 16:49] dblock commented on #965
From a cursory code read it looks like https://github.com/opensearch-project/OpenSearch/blob/main/buildSrc/src/main/java/org/opensearch/gradle/DistributionDownloadPlugin.java#L194 doesn't know anything about the `releases/bundle` layout, which should be fixed.

[2021-11-16 17:13] peternied commented on #965
@ankitkala Please include exactly how to reproduce this issue, we can not attempt a fix if we don't know the codepath.

Is this blocking the release?

[2021-11-16 17:19] dblock commented on #965
I stay corrected.

Thats not the min release artifact. Distribution downloader will only download min artifact. See https://github.com/opensearch-project/OpenSearch/blob/1.1/buildSrc/src/main/java/org/opensearch/gradle/DistributionDownloadPlugin.java#L80.
It should be downloading: https://artifacts.opensearch.org/releases/core/opensearch/1.1.0/opensearch-min-1.1.0-linux-x64-latest.tar.gz which is

[2021-11-16 17:22] saratvemulapalli commented on #965
@ankitkala I think the problem is downloading an older version (SNAPSHOT) artifact of 1.1.0 which is failing to deserialize the message.
Could you try updating: https://github.com/opensearch-project/cross-cluster-replication/blob/bwc_2/build.gradle#L39 to release artifact and that should work for you.

[2021-11-16 17:55] peternied commented on #963
I've created an issue in the OpenSearch repo to track the analysis

[2021-11-16 17:55] #963 closed

[2021-11-16 18:04] dblock opened #967 "Add code coverage to Groovy code"
### Is your feature request related to a problem? Please describe

Groovy code in `src/jenkins` and `tests/jenkins` needs code coverage uploaded to Codecov.

### Describe the solution you'd like

Build with coverage and upload to Codecov.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-11-16 18:06] dblock opened #968 "Add source code linting to Groovy code and Jenkinsfile(s)"
### Is your feature request related to a problem? Please describe

Add source code linting to Groovy code and Jenkinsfile(s)

### Describe the solution you'd like

Code in src/jenkins and tests/jenkins, along with Jenkinsfile in jenkins/*.

- Documentation on how to lint in DEVELOPER_GUIDE.
- Pre-commit hook.
- Linting that fails CI if the code is not properly formatted.

### Describe alternatives

[2021-11-16 19:42] tianleh opened #969 "[Bug]: Add check for backslash for CI public endpoint when running ./test.sh integ-test"
### Describe the bug

When a backslash exists in the CI public endpoint, e.g
`./test.sh integ-test https://ci.opensearch.org/ci/dbc/bundle-build/1.2.0/998/linux/x64/`

an extra backslash is appended to the metadata url leading to download error.

`Downloading https://ci.opensearch.org/ci/dbc/bundle-build/1.2.0/998/linux/x64//builds/maven/org/opensearch/client/test/test/maven-metadata.xml`

Below i

[2021-11-16 20:04] gaiksaya commented on #860
[Triage] @zelinh Can you update the status of it here? Thanks!

[2021-11-16 20:05] gaiksaya commented on #870
[Triage] @bbarani will be updating the final release date.

[2021-11-16 20:08] gaiksaya commented on #872
[Triage] We will be following the same process we followed for logstash publishing to rubygems. Need to check if it is possible to automate any steps from that process.
@VijayanB What is the estimated time frame for this release?

[2021-11-16 20:13] gaiksaya commented on #894
[Triage] bug needs to be fixed from build side.

[2021-11-16 20:14] gaiksaya commented on #917
Closing this issue as it is resolved. @kavilla please reopen if you need to. Thanks!

[2021-11-16 20:14] #917 closed

[2021-11-16 20:16] gaiksaya commented on #922
[Triage] @peterzhuamazon is working on design document solving this issue #956

[2021-11-16 20:17] gaiksaya commented on #935
[Triage] Need to clean up the permissions and redeploy the staging jenkins stack

[2021-11-16 20:20] gaiksaya commented on #952
[Triage] We are executing the commands using jenkins file today. closing this issue. Please re-open if required

[2021-11-16 20:20] #952 closed

[2021-11-16 20:23] gaiksaya commented on #960
[Triage] @owaiskazi19 Are you working on this? If yes can you assign it to yourself and add the approach here?
Thanks!

[2021-11-16 20:26] gaiksaya commented on #967
[Triage] Adding it in product backlog

[2021-11-16 20:32] gaiksaya commented on #969
[Triage] Need better error handling.

[2021-11-16 20:34] gaiksaya commented on #555
@adnapibar Can you add more details about requirements and what you are looking for?
Thanks!

[2021-11-16 20:37] gaiksaya commented on #50
[Triage] We will work on it when we start supporting macos. Closing this for now.

[2021-11-16 20:37] #50 closed

[2021-11-16 20:41] gaiksaya commented on #24
[Triage] @dblock @CEHENKLE Is this something that you guys can take over since NoticeTask.groovy is a part of the opensearch repo?
Thanks!

[2021-11-16 20:42] gaiksaya commented on #28
[Triage] We are working on the design documentation at this point. Please see #956

[2021-11-16 20:43] dblock commented on #969
This needs to combine URLs better and handle the `/` at the end of the input URL.

[2021-11-16 20:49] gaiksaya commented on #78
@VijayanB Can you open a new issue once we start onboarding plugins to our [Jenkins CI](https://github.com/opensearch-project/opensearch-ci/issues)? If you want to proceed with GHA please refer to above documentation provided by @bbarani
Thanks!

[2021-11-16 20:53] gaiksaya commented on #99
[Triage] @dblock @CEHENKLE Does the `opensearch-min` artifact generation process (gradle) support this today?

[2021-11-16 21:20] adnapibar commented on #555
@gaiksaya The packaging tests are used to test a distribution for a particular OS.
https://github.com/opensearch-project/OpenSearch/blob/main/TESTING.md#testing-packaging

These tests use Vagrant to setup virtual machines to install and test the corresponding distribution. The VM boxes used are currently provided by elastic. This issue is created to remove the dependency on elastic managed boxes.

[2021-11-16 21:42] peternied commented on #567
Release 1.2.0 is scheduled for 18th.  Today all testing must be complete, we will be pushing to have all remaining issues marked for the release resolved as soon as possible.  I am still waiting for confirmation that tests were rerun and completed for:
- security @cgliu

All release drivers, please drive down all open issues and check off all the completed work in the component specific issues.

[2021-11-16 21:52] peternied commented on #955
All tests have been run and bugs filed.

[2021-11-16 21:52] #955 closed

[2021-11-16 22:12] saratvemulapalli commented on #50
Makes sense, but how would you track it, if the issue is closed?
Do we already have a meta issue for macos builds?

[2021-11-16 22:15] gaiksaya commented on #50
Yes we do https://github.com/opensearch-project/opensearch-build/issues/38

[2021-11-16 22:24] dblock commented on #894
It's not present in latest 1.2.0 build either, https://ci.opensearch.org/ci/dbc/bundle-build/1.2.0/1050/linux/x64/dist/manifest.yml. I probably am misunderstanding something, is it a .zip plugin or something that we add to performance-analyzer?

[2021-11-16 22:25] bbarani commented on #870
We are targeting Dec 2 for 1.1.1 release.

[2021-11-16 22:28] dblock commented on #78
I think this issue was saying that we needed native arm64 hardware in Jenkins. We do have Docker images for arm64, @VijayanB is that not sufficient?

[2021-11-16 22:29] dblock commented on #99
AFAIK yes, but I am not familiar with details

[2021-11-16 22:31] peternied commented on #567
Current issues, from https://github.com/opensearch-project/opensearch-plugins via `meta exec 'ghi list -L v1.2.0'`, filtered out release issues

## opensearch-project/opensearch-plugins open issues, labeled v1.2.0
  64: Lower CI Java Version to Java 11 for all plugins and run integration tests on 8  enhancement   meta   v1.2.0  1
  45: Use AWS OSS Maven -SNAPSHOT for plugin dependencies  enhanceme

[2021-11-16 23:32] VijayanB commented on #78
We need arm64 to run our tests while submitting PR since we have platform specific code. I believe we use Jenkins while assembling for release, sometimes it might be too late than identifying during development

[2021-11-16 23:33] zelinh commented on #860
Current configuration can't scan any library for Ruby project even though `ruby.resolveDependencies` is enabled in WhiteSource unified agent file. I'm investigating this issue.

[2021-11-16 23:33] peterzhuamazon commented on #870
Hi @anirudha

Would you mind confirming that we will only change dashboards-reports FrontEnd plugin?

If so, we will only release OpenSearch-Dashboards Bundle 1.1.1 with TAR + Docker Images (x64 + arm64).
The OpenSearch bundle will not be changed, and will remain at version 1.1.0.

Thanks,
Peter

[2021-11-17 00:03] peternied commented on #880
Random integration test failures seem to happen frequently, the starting point of a test failure investigation is 'is this a random failure' indication low trust in the test systems.

[2021-11-17 02:20] tianleh opened #977 "[Bug]: ./test.sh integ-test failed to start LocalTestCluster 9200"
### Describe the bug

When running integ test through

`./test.sh integ-test https://ci.opensearch.org/ci/dbc/bundle-build/1.2.0/998/linux/x64`, it failed due to the following error.

[code]

### To reproduce

checkout build repo at

`commit d0959632446b6d2677c0e2ae1a228c3638cdf909`

Run integ test against a public endpoint

`./test.sh integ-test https://ci.opensearch.org/ci/dbc/bundle-build/1.2.0

[2021-11-17 02:28] tianleh commented on #977
In my local env, I reverted https://github.com/opensearch-project/opensearch-build/pull/853 and I can see that 9200 is running.

The " Running integration tests for alerting" hangs. But at least it can start a 9200 endpoint.

[code]

[2021-11-17 02:29] tianleh commented on #977
I will continue researching into this commit #853

[2021-11-17 02:32] dblock commented on #894
So this zip ships inside performance-analyzer.zip and shouldn’t have been in the top level manifest. Removed in https://github.com/opensearch-project/opensearch-build/pull/974

[2021-11-17 02:32] #894 closed

[2021-11-17 02:35] dblock commented on #78
@VijayanB

- for individual plugins/projects use GHA which has native arm64 that you can add to your workflows; if we need every component to do it, like for windows or MacOS, we can
- for integ tests, bcw tests, etc, we have arm64 docker containers

What’s missing?

[2021-11-17 02:38] dblock commented on #78
Oh wait am I wrong and GHA doesn’t have arm runners?

[2021-11-17 02:41] VijayanB commented on #78
@dblock they don’t have arm64 runner/machine as GA and to run arm docker image we need arm host ( any os) which is not possible at that moment I believe

[2021-11-17 02:42] dblock commented on #78
I should have checked myself. Let’s reopen this.

[2021-11-17 07:17] frotsch commented on #119
yes

[2021-11-17 09:33] tianleh commented on #977
As first step, fixing the issue about `AttributeError: 'LocalTestCluster' object has no attribute 'stdout'`

https://github.com/opensearch-project/opensearch-build/blob/main/src/test_workflow/integ_test/local_test_cluster.py#L116

[2021-11-17 09:34] tianleh commented on #977
Now 9200 can run successfully. However, one component has failed test and surfaced up one issue during process termination.

[code]

[2021-11-17 09:41] tianleh commented on #977
The next issue about

[code]

The reason seems to be

[code]

per documentation [of](https://docs.python.org/3/library/tempfile.html)

[2021-11-17 10:15] tianleh commented on #977
Fixing the default mode of file opening. Now this is the new execution result.

[code]

[2021-11-17 15:13] dblock commented on #880
There was some confusion of what should and what should not be included in the manifest, see https://github.com/opensearch-project/opensearch-build/pull/974.

[2021-11-17 15:33] stockholmux commented on #567
@peternied / @peterzhuamazon - can you confirm these artifacts are correct for 1.2.0?

(this includes compatible but independently released OpenSearch stuff like cli, data-prepper. I assume no changes form 1.1.0, so just a glance would be good on those; Mostly concerned with the core artifacts/URLs)

[code]

[2021-11-17 15:46] stockholmux commented on #567
@peternied It's just a updated text version of this: https://opensearch.org/artifacts/by-version/#v1-1-0

Otherwise, you can view my branch to see the new files. https://github.com/stockholmux/project-website/commit/5451bbac482057c843a88630be19debe0f93ef5c

I'm not sure we can tool in an effective way since there is more fluidity than you would imagine between versions (e.g. 1.1.0 has FreeBSD but

[2021-11-17 16:13] peternied commented on #567
@stockholmux `Beyond Compare + Gist + https://gistpreview.github.io/` -> [[Diff](https://gistpreview.github.io/)], it looks good.  I am not familiar with the FreeBSD deployment process, do we need a tracking ticket for that?

[2021-11-17 16:26] stockholmux commented on #567
@peternied FreeBSD folks will take our released version and make the changes needed to FreshPorts (@smortex is a key contact). I've already pinged them in their discord.

[2021-11-17 16:28] peternied commented on #567
**Tomorrow is the scheduled OpenSearch 1.2.0 release**, if you were waiting for the last minute here it is! Track on https://github.com/opensearch-project/opensearch-build/issues/567

Urgent follow up needed
- asynchronous-search @eirsep - no test status has been reported
- @abbashus @Bukhtawar @downsrob @praveensameneni @xiaoyu you have issues that need follow up - [[Query](https://github.com/iss

[2021-11-17 16:30] dblock commented on #851
I labeled this 1.3.0 because OpenSearch `gradle check` needs to use the same JDK as defined in the .properties file in the branch. Part of #981.

[2021-11-17 16:35] dblock opened #982 "Pickup Java version from .properties in OpenSearch gradle check"
### Is your feature request related to a problem? Please describe

Coming from https://github.com/opensearch-project/opensearch-build/issues/74#issuecomment-956496829. Use different JDKs depending on which branch of OpenSearch is being built.

### Describe the solution you'd like

OpenSearch has CI defined in a private freestyle project that runs gradle check on OpenSearch#main, branches and PRs.