[2022-07-21 22:14] bbarani commented on #2205
Closing this issue as we have released 1.3.4 version.

[2022-07-21 22:14] #2205 closed

[2022-07-21 22:14] bbarani commented on #2339
Closing this issue as we have released 1.3.4 version.

[2022-07-21 22:14] #2339 closed

[2022-07-21 22:21] bbarani commented on #2188
@penghuo I think the main caveat here is the fact that OpenSearch and OpenSearch dashboards are 2 different products with different lifecycle. We should look for strategic long term plan and shouldn't get confined based on existing state and assumptions. Tagging issue is more of an effect (and not a cause) hence I don't think solving that issue would help us with finalizing the decision here. It w

[2022-07-22 01:05] VachaShah opened #2360 "Release Ruby client versions for 1.x and 2.x lines"
Release ruby client patch versions for Faraday 2 support as requested in https://github.com/opensearch-project/opensearch-ruby/issues/91.

[2022-07-22 01:15] peterzhuamazon commented on #2306
Success with no fixed password logging into Windows Agent through EC2 plugin.
[code]

[2022-07-22 06:46] MaxKsyunz commented on #2312
Generally, the bootstrap installer for a complex application is responsible for providing the UI for managing plugins/features.

As a decent example, [here's](https://www.sqlservertutorial.net/install-sql-server/) what SQL Server installer looks like -- it walks the user through pre-requisites, features/extension selection, and service configuration.

[Powershell DSC](https://docs.microsoft.com/en

[2022-07-22 11:56] prudhvigodithi commented on #2357
Hey @geoffharcourt can you share the docker image you are using, I see curl is part of `1.2.4`, latest `1.x` and `2.x` images.
[code]

[2022-07-22 12:17] prudhvigodithi opened #2361 "Add a new darwin build stage to OpenSearch distribution pipeline"
### Is your feature request related to a problem? Please describe

Part of: https://github.com/opensearch-project/opensearch-build/issues/2216
Add a new darwin build stage to [OpenSearch distribution pipeline](https://github.com/opensearch-project/opensearch-build/blob/main/jenkins/opensearch/distribution-build.jenkinsfile).

### Describe the solution you'd like

The new stage, part of pipeline wi

[2022-07-22 12:41] geoffharcourt commented on #2357
Apologies for wasting your time!

I have no idea how I missed this. opened a shell and thought both `curl` and `wget` were missing. Thanks.

[2022-07-22 12:41] #2357 closed

[2022-07-22 18:11] bbarani commented on #2325
@peterzhuamazon Do you have any updates on this issue? @bshien would need this data soon for his dashboard effort.

[2022-07-22 18:38] peterzhuamazon commented on #2325
@bbarani I will work on it next week.
Thanks.

[2022-07-22 22:14] peterzhuamazon commented on #1502
All the code are in the scripts folder.
Digest creation and signing the rpms and yum repos.
To cut it short we go a step further with SHA512.

[2022-07-23 00:37] justchris1 commented on #1502
Are you adding a signature for SHA512, or replacing the SHA256 signature with SHA512?

[2022-07-25 11:56] marcinwisniowski commented on #28
@bbarani Can you tell us any ETA of DEBs for OpenSearch? It's over a year that Ubuntu users are waiting to adopt OpenSearch in place of OpenDistro :)

[2022-07-25 18:15] peterzhuamazon commented on #2324
Hi @dreamer-89 let us know when you have the fix on your side, so we can implement it on Jenkins workflow.
Will close this for now, feel free to reopen the issue when needed.
Thanks.

[2022-07-25 18:15] #2324 closed

[2022-07-25 18:17] peterzhuamazon commented on #2292
Since this is an issue on github side, we will close this for now.
You can simply push a new commit to re-trigger gradle check with the correct reference.
Thanks.

[2022-07-25 18:20] peterzhuamazon commented on #2183
We think a better solution would be creating a `preview` **yum repo** and only put `preview` `test` artifacts for community to try out.

This will separate the production rpm artifacts from the preview rpm artifacts.

[2022-07-25 18:25] peterzhuamazon commented on #2167
We do not need to touch the jenkinsfile just fix the library controlling the downloads.

[2022-07-25 18:27] peterzhuamazon commented on #2134
We will close this for now as the code is moved to opensearch-ci.

[2022-07-25 18:27] #2134 closed

[2022-07-25 18:28] peterzhuamazon commented on #2134
This is fixed now after the migration.

[2022-07-25 18:31] peterzhuamazon commented on #2114
We suggest using the ci.opensearch.org repo instead of the artifacts.opensearch.org repo.

Sample: https://ci.opensearch.org/ci/dbc/distribution-build-opensearch/2.1.0/latest/linux/x64/tar/builds/opensearch/dist/opensearch-min-2.1.0-linux-x64.tar.gz

The latest url is also existing there.

[2022-07-25 18:34] kavilla commented on #2114
Sounds good! Thank you!

[2022-07-25 18:43] peterzhuamazon commented on #2114
We will keep this open for now as we have these notes:
1. For Dashboards, depends on how the implementation is, could directly pull the artifacts from ci.opensearch.org instead of artifacts.opensearch.org.
2. For OpenSearch, the distribution downloader (?) function that every other plugin uses during their integration, is hardcoded to artifacts.opensearch.org, we need to first switch in the core r

[2022-07-25 18:48] peterzhuamazon commented on #1922
This has been fixed by using `nvm install` and syncing the version from dashboards core/plugin repo .nvmrc file.

[2022-07-25 18:48] #1922 closed

[2022-07-25 18:48] #1910 closed

[2022-07-25 18:52] peterzhuamazon commented on #1812
We need to add the platform folder in test recorder just like the one in distribution.

[2022-07-25 19:00] peterzhuamazon commented on #1808
This seems like an issue with how github interpret {{}} with the leading letter `v`.
We will close this for now, please feel free to reopen it.

Thanks.

[2022-07-25 19:04] peterzhuamazon commented on #2360
We are releasing these two ruby client version on 2022/07/25 12:00 PM PST with @VachaShah @peterzhuamazon.
`2.0.3 and 1.0.1`

[2022-07-25 19:15] peterzhuamazon commented on #2360
We have an issue with ruby version as our current setup contains ruby 2.4.0, while faraday requires 2.6+ in the latest changes of ruby client.
[code]

@VachaShah will open an issue on this and we would update our images to use a higher version specified by @VachaShah .
https://github.com/opensearch-project/opensearch-build/blob/main/docker/ci/dockerfiles/current/build.centos7.opensearch.x64.arm64.

[2022-07-25 19:21] VachaShah opened #2364 "Update the docker images for ruby client release to use a higher Ruby version"
Coming from https://github.com/opensearch-project/opensearch-build/issues/2360#issuecomment-1194507743, Faraday requires Ruby version >=2.6. As mentioned in the comment, the Ruby version needs to be updated to 2.6

[2022-07-25 19:53] peternied commented on #2271
@opensearch-project/engineering-effectiveness  there is no owner on this issue and the roadmap says the release is scheduled for the 11th - is there a new mechanism for tracking release processes or is this issue out of date?

[2022-07-25 20:24] bbarani commented on #2271
This is a release templates for major, minor and patch releases. Feature freeze / code complete is targeted for  August 4, 2022 with release date set to August 11, 2022 for 2.2 release. @peterzhuamazon please update the template with these dates.

[2022-07-25 22:39] BrianHawley commented on #2360
Faraday 2 requires Ruby 2.6. Faraday 1 works with Ruby 2.4. The new opensearch-transport gem supports Faraday 1, so you should be able to use Faraday 1 in your container if you want to use Ruby 2.4.

[2022-07-25 22:40] BrianHawley commented on #2364
Faraday 2 requires Ruby 2.6. Faraday 1 works with Ruby 2.4. The new opensearch-transport gem supports Faraday 1 as well, so you should be able to use Faraday 1 in your container if you want to use Ruby 2.4.

[2022-07-25 22:44] BrianHawley commented on #2364
Not that I have a problem with you updating Ruby. Just saying, it may not be necessary for this reason.

[2022-07-25 23:13] peterzhuamazon commented on #1502
We just define our signing process to use SHA512.
If you do not define algorithm it defaults to SHA1.
Many rpms use SHA256, we use SHA512.

[code]

[2022-07-25 23:36] peterzhuamazon commented on #2271
I have added the dates now @bbarani will add the individual issues soon.

[2022-07-26 01:24] VachaShah commented on #2360
@BrianHawley Thank you for pointing this out! The error is coming for Faraday versions from the [script](https://github.com/opensearch-project/opensearch-build/blob/main/docker/ci/dockerfiles/current/build.centos7.opensearch.x64.arm64.dockerfile#L72) and the script uses Ruby 2.4 for releasing the newer 1.x and 2.x versions with Faraday changes. Do you have suggestions on how we can fix this error?

[2022-07-26 13:47] dblock commented on #2188
Long term, I recommend to split repos because I think all these components will release independently and often, and follow semver.

Short term, to fix the tagging issue, I recommend we stop tagging the repos incorrectly, altogether, and open bugs in those repos that cannot be tagged because they contain components that release at different times. The plugin owners need to then start figuring out

[2022-07-26 13:55] dblock commented on #1808
This is still a problem, the auto workflow still opens tickets with the wrong label and the newer version of the GitHub action I believe fixes it.

[2022-07-26 13:59] dblock commented on #2364
The workflow needs to start specifying which version of Ruby to install.

[2022-07-26 14:02] tuotempo commented on #2143
Hello,
I have tested the 1.3.3 version of images, but the behavior is the same. Here is some additional info (if needed):

[2022-07-26 16:44] peterzhuamazon commented on #2360
Hi @BrianHawley @VachaShah

1. The reference line is not a script we use to install gem it is part of the docker file, the `.` leading up is the old way of `source` in bourne shell.
2. The actual installation of the gem is here: https://github.com/opensearch-project/opensearch-build/blob/main/jenkins/opensearch-ruby/Jenkinsfile#L37-L46
3. The installation is merely doing a test run installation be

[2022-07-26 16:59] BrianHawley commented on #2360
@peterzhuamazon I'm just trying to understand the issue to prevent future issues like that going forward :)

Based on that code, it looks like it's an issue with the default rubygems version that rvm installs with Ruby 2.5 or earlier where `gem install` doesn't do a good enough job of considering the Ruby version when picking a gem version to install. IIRC that bug may affect `bundle install` as w

[2022-07-26 17:41] #2364 closed

[2022-07-26 19:14] prudhvigodithi commented on #2361
Closing this issue as the associated PR https://github.com/opensearch-project/opensearch-build/pull/2362 is merged.
Thank you

[2022-07-26 19:14] #2361 closed

[2022-07-26 20:26] dblock commented on #2360
Ruby 2.6 is EOL March 31, 2022. Time to upgrade to 3.x.

[2022-07-26 20:27] peterzhuamazon commented on #2360
1.0.1: https://build.ci.opensearch.org/job/opensearch-ruby-build-sign-upload/5/console
2.0.3: https://build.ci.opensearch.org/job/opensearch-ruby-build-sign-upload/6/console

[2022-07-26 20:28] peterzhuamazon commented on #2360
Seems like the case upon checking: https://endoflife.date/ruby

@VachaShah let us update the dependencies in opensearch-ruby repo, then you can send an issue to opensearch-build so we can update these 3 images with higher version of ruby as in this PR:
* #2365

[2022-07-26 20:42] prudhvigodithi commented on #2216
Hey we have development version Darwin `min` artifact out for testing, use the following URL as reference to download the Darwin min artifact.
https://ci.opensearch.org/ci/dbc/distribution-build-opensearch/2.1.1/latest/darwin/x64/tar/builds/opensearch/dist/opensearch-min-2.1.1-darwin-x64.tar.gz
@jmazanec15 can you please test and post your findings here?
Thank you
@bbarani

[2022-07-26 20:47] peterzhuamazon commented on #2360
Hi All,

We just shipped OpenSearch-ruby client for OpenSearch.

1.x (opensearch-ruby 1.0.1 / opensearch-transport 1.0.1):
https://rubygems.org/gems/opensearch-ruby/versions/1.0.1
https://rubygems.org/gems/opensearch-transport/versions/1.0.1

Thanks.
2.x (opensearch-ruby 2.0.3 / opensearch-transport 2.0.1):
https://rubygems.org/gems/opensearch-ruby/versions/2.0.3
https://rubygems.org/gems/opensear

[2022-07-26 20:48] #2360 closed

[2022-07-26 21:18] jmazanec15 commented on #2216
Thanks @prudhvigodithi!

When running:
[code]

However, when downloading custom url and using it, it works:

[2022-07-26 21:18] JeffH-AWS opened #2377 "[BUG] OpenSearch Security Tools Scripts do not have executable permission when unpacked from tarball"
**Describe the bug**
By default, the contents of `/opensearch-2.1.0/plugins/opensearch-security/tools/` do not have executable permissions after unpacking the archive.

**To Reproduce**
Steps to reproduce the behavior:
1. Download OpenSearch tarball (`wget https://artifacts.opensearch.org/releases/bundle/opensearch/2.1.0/opensearch-2.1.0-linux-x64.tar.gz`
2. Unpack the archive `tar -xvf opensearch

[2022-07-26 21:27] bbarani commented on #2257
Closing this issue as we have successfully release 2.1.0 version

[2022-07-26 21:27] #2257 closed

[2022-07-26 21:47] gaiksaya opened #2372 "Cloudfront cache invalidation for min snapshots"
**Problem** :
Due to large value of cache invalidation time for min [snapshots](https://artifacts.opensearch.org/snapshots/core/opensearch/2.1.0-SNAPSHOT/opensearch-min-2.1.0-SNAPSHOT-linux-x64-latest.tar.gz), the URL returned an old artifact causing the plugin teams's CI to fail. This causes issues if core engine makes changes and new artifact is not available soon.

The delay causes an overall d

[2022-07-26 21:53] BrianHawley commented on #2360
@peterzhuamazon note that only MRI 2.6 and earlier are end-of-life. JRuby 9.2 and 9.3 are still receiving updates. JRuby 9.2's listed Ruby version is 2.5.x, and JRuby 9.3's listed Ruby version is 2.6.x, so those versions of the Ruby language are still in current maintenance. There shouldn't be any hurry to update the Ruby language version limits for the opensearch-ruby gems.

[2022-07-26 22:04] jmazanec15 commented on #2216
./gradlew build -PcustomDistributionUrl=https://ci.opensearch.org/ci/dbc/distribution-build-opensearch/2.1.1/latest/darwin/x64/tar/builds/opensearch/dist/opensearch-min-2.1.1-darwin-x64.tar.gz
...

Confirmed build was successful!

Is it possible to publish artifact to "https://artifacts.opensearch.org" instead of "https://ci.opensearch.org" so that we dont have to pass -PcustomDistributionUrl flag

[2022-07-26 23:08] bbarani commented on #2183
@dblock What do you think of the above recommendation?

[2022-07-26 23:09] bbarani commented on #2114
@saratvemulapalli How hard is to make the base URL dynamic in distribution downloader?

[2022-07-26 23:10] bbarani commented on #2109
Closing this issue as we are not going to support adding this external plugin to distribution build at this point in time. Please feel free to re-open if anyone thinks otherwise.

[2022-07-26 23:10] #2109 closed

[2022-07-26 23:11] bbarani commented on #1906
@peterzhuamazon @tianleh Is this still a valid issue? Can you provide some updates on this issue?

[2022-07-26 23:14] bbarani commented on #1686
@kavilla @seanneumann Any updates on this issue?

[2022-07-26 23:17] peterzhuamazon commented on #2114
Hi @bbarani @prudhvigodithi I just find the old PRs we worked on for this particular case with @mch2.
https://github.com/opensearch-project/OpenSearch/pull/904

As you can see there are two places you need to change.
1. Change the snapshot ivy repo to `ci.opensearch.org`
2. Change the path of snapshot to whatever path leads to the artifacts on `ci.opensearch.org`.

Additional concerns:
* Do we nee

[2022-07-26 23:57] peterzhuamazon commented on #2360
Thanks @BrianHawley we eventually upgrade to 2.6 ruby and it runs well.
We didnt update gem in dockerfile because we need to preserve the exact version during the docker creation.

[2022-07-27 00:01] peterzhuamazon commented on #2360
Yeah.

TBH we are not very locked by ruby version anyway.
If needed we can go as high as 3.1 version.
The only concern I have is whether 2.x and 3.x have too big of a difference and cause compatibility issues.

Thanks.

[2022-07-27 00:46] saratvemulapalli commented on #2114
@bbarani  It is some effort. But its already done :)
See documentation[1], users can use `PcustomDistributionUrl` to override the url dynamically.

[1] https://github.com/opensearch-project/opensearch-plugins/blob/main/TESTING.md#distribution-download-plugin

[2022-07-27 07:23] ankitkala opened #2373 "Also handle BWC tests as part of version increment automation"
### Is your feature request related to a problem? Please describe

There is an ongoing effort for automating the process to increment the version for the whole project([link](https://github.com/opensearch-project/opensearch-build/issues/1375)). As part of the effort, we should also be handling version bump for BWC tests.

For BWC tests, we need to keep track of older version that you want to test

[2022-07-27 14:20] dblock commented on #2183
I like it. Would think about naming twice, not sure what the standard yum repo naming is.

[2022-07-27 16:07] BrianHawley commented on #2360
@peterzhuamazon the opensearch gems CI test against Ruby 2.5 through 3.1 already, and I use them with Ruby 3.1, so there are no compatibility issues running the gems with the latest Ruby versions.

[2022-07-27 17:04] prudhvigodithi opened #2375 "[Bug]: Missing required packages on macOS agents."
### Describe the bug
Part of: https://github.com/opensearch-project/opensearch-build/issues/2216

Error:

Coming from https://github.com/opensearch-project/opensearch-build/blob/main/vars/createSha512Checksums.groovy
[code]

Caused by https://github.com/opensearch-project/opensearch-build/blob/main/vars/uploadMinSnapshotsToS3.groovy#L33
[code]

### To reproduce

Run the distribution-build-opensear

[2022-07-27 17:07] AMoo-Miki opened #2376 "OUI release 1.0.0"
### Is your feature request related to a problem? Please describe

[OUI](https://github.com/opensearch-project/oui) is a fork of the last open source release of EUI to replace it as a dependency of Dashboards and plugins.

### Describe the solution you'd like

We would like to release OUI to NPM as `@opensearch-project/oui`. OUI has inherited some scripts for releasing from EUI but I am not sure h

[2022-07-27 17:20] bbarani commented on #2114
@saratvemulapalli It looks like the plugin teams prefer to modify it without using **PcustomDistributionUrl** parameter

https://github.com/opensearch-project/opensearch-build/issues/2216#issuecomment-1196027202

[2022-07-27 20:53] peterzhuamazon commented on #2372
I have set a second behavior in cloudfront for `/snapshots/*` to 300sec, just like the staging bucket in `ci.opensearch.org`.

[2022-07-27 20:53] #2372 closed

[2022-07-27 20:58] dblock opened #2378 "[Bug]: Manifest CI checks failures"
### Describe the bug

See https://github.com/opensearch-project/opensearch-build/runs/7547753019?check_suite_focus=true

Looks like the wrong version of Java is used.

[code]

### To reproduce

https://github.com/opensearch-project/opensearch-build/runs/7547753019?check_suite_focus=true

### Expected behavior

Manifest CI checks to pass.

### Screenshots

If applicable, add screenshots to help exp

[2022-07-28 01:05] joshuali925 commented on #2188
From what i understand the issue is both technical and conceptual:

Technical: we cannot directly retag `2.0.0.0` for dashboards plugin after cutting `2.0.0.0` tag for opensearch plugin if they ended on different commits for 2.0.0 release, and doing so creates side effects

Conceptual: 1 repo should = 1 component, from dB:

My proposal was [here](https://github.com/opensearch-project/opensearch-bu

[2022-07-28 12:32] mend-for-github-com[bot] opened #2379 "CVE-2022-36881 (High) detected in git-client-3.10.1.jar"
## CVE-2022-36881 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>git-client-3.10.1.jar</b></p></summary>

<p>Utility plugin for Git support in Jenkins</p>
<p>Library home page: <a href="https://github.com/jenkinsci/">https://github.com/jenkinsci/</a></p>
<p>Path t

[2022-07-28 15:38] dblock commented on #2188
@joshuali925 thanks for the detailed pros/cons, I agree with those. I appreciate the amount of additional work in, for example, backporting, would be created. I also agree that the tagging problem can be solved by naming tags. Thank you for also saying that splitting repos solves both technical and conceptual issues (while creating more work).

Not splitting means we optimize for making front-end

[2022-07-28 16:26] prudhvigodithi commented on #2345
My thought is this a perquisite https://github.com/opensearch-project/opensearch-plugins/issues/142, as right now the branch for a specific release is not constant, a plugin source branch for a specific release is an important key here.

Example for 2.2 release `2.x` branch should be the source (https://github.com/opensearch-project/OpenSearch/blob/2.x/buildSrc/version.properties) for all plugins,

[2022-07-28 17:07] zelinh commented on #2378
We are planning to move our legacy manifests to a separate folder as mentioned in [this issue](https://github.com/opensearch-project/opensearch-build/issues/2332). We are actively working on it and by then this issue should be resolved.

[2022-07-28 17:32] dblock commented on #2378
@zelinh Should we just delete them? We can always go back in history.

[2022-07-28 19:53] zelinh commented on #2378
I think either deleting them or moving them to a separate legacy folder is pretty much the same. I would lean on keeping them in our repository for some tracking purposes.

[2022-07-28 21:57] prudhvigodithi commented on #2216
We now have the darwin min snapshot artifacts accessible via https://artifacts.opensearch.org/, the default URL used in OpenSearch.

[Jenkins build Mac 2.2.0-SNAPSHOT](https://build.ci.opensearch.org/job/distribution-build-opensearch/5834/)
https://artifacts.opensearch.org/snapshots/core/opensearch/2.2.0-SNAPSHOT/opensearch-min-2.2.0-SNAPSHOT-darwin-x64-latest.tar.gz

[Jenkins build Mac 2.1.1-SNAP

[2022-07-28 21:57] prudhvigodithi commented on #2216
Hey We now have the darwin min snapshot artifacts accessible via https://artifacts.opensearch.org/, the default URL used in OpenSearch.

[Jenkins build Mac 2.2.0-SNAPSHOT](https://build.ci.opensearch.org/job/distribution-build-opensearch/5834/)
https://artifacts.opensearch.org/snapshots/core/opensearch/2.2.0-SNAPSHOT/opensearch-min-2.2.0-SNAPSHOT-darwin-x64-latest.tar.gz

[Jenkins build Mac 2.1.1-

[2022-07-28 21:59] prudhvigodithi commented on #2375
Closing this issue as the associated PR is merged.
https://github.com/opensearch-project/opensearch-build/pull/2374
Thank you

[2022-07-28 21:59] #2375 closed

[2022-07-28 22:01] prudhvigodithi commented on #2216
@jmazanec15 when you get a chance can you please test and update?
Thank you

[2022-07-28 23:25] saratvemulapalli commented on #2216
Thanks @prudhvigodithi, this is amazing . I happen to work with AD plugin and it works!!

[code]

[2022-07-28 23:27] saratvemulapalli commented on #2114
Well, thats the only configuration we have. Is infra team going to deprecate use of `artifacts.opensearch.org`?
Why do we have two different endpoints?

[2022-07-29 00:27] prudhvigodithi commented on #2216
Thanks for testing @saratvemulapalli ;)

[2022-07-29 00:34] peterzhuamazon commented on #2114
Hi @saratvemulapalli
1. We are not deprecating artifacts.opensearch.org endpoint.
2. When we 1st start opensearch there is no proper staging bucket, therefore we put both snapshots and releases on the production artifacts.opensearch.org bucket.
3. Now we have proper staging bucket we want to switch the snapshots artifacts back to staging on ci.opensearch.org.

Thanks.

[2022-07-29 17:30] dreamer-89 opened #2386 "Update gradle check jenkins to add Azure and GCP account for OpenSearch repository tests"
### Description

Today, Opensearch engine mocks external cloud providers for running repository-[azure/gcp] integration tests. As part of this issue, we need to add creds for azure/gcp accounts so that engine can run integration tests against these cloud providers.

### Related
https://github.com/opensearch-project/OpenSearch/issues/3362
https://github.com/opensearch-project/OpenSearch/issues/1763

[2022-07-29 17:32] peterzhuamazon opened #2387 "[Enhancement] Add a monitoring and alerting mechanism in for Jenkins workflow status"
We need a mechanism to monitor Jenkins workflows.
1. If past 10 builds are failing send an alert.
2. Can be either through github issues or other methods.
3. Can define which workflow to monitor and trigger at different types of events/conditions.

[2022-07-29 18:27] PaulDMendoza commented on #2051
How long does it take to get this nuget package published? We really need this nuget package published.

[2022-07-29 23:04] gaiksaya commented on #2378
Fixed in https://github.com/opensearch-project/opensearch-build/pull/2333

[2022-07-29 23:04] #2378 closed

[2022-08-01 09:51] prudhvigodithi commented on #2345
@gaiksaya the idea is to fire a job to follow up if there exists a commit after a specific date (this specific date would be an input to the job) from past release to the date the job will be fired (Assuming code freeze date) and if no release notes update the table in accordingly
Example
running `./run_releasenotes_check.sh manifests/2.0.0/opensearch-dashboards-2.0.0.yml`
[code]

**Note: The abov

[2022-08-01 14:12] #2216 closed

[2022-08-01 17:04] #2332 closed

[2022-08-01 17:05] gaiksaya commented on #2044
Closing via https://github.com/opensearch-project/opensearch-build/pull/2358

[2022-08-01 17:05] #2044 closed

[2022-08-01 17:20] gaiksaya commented on #2187
Closing as duplicate of https://github.com/opensearch-project/opensearch-build/issues/1234

[2022-08-01 17:20] #2187 closed

[2022-08-01 17:52] prudhvigodithi commented on #1823
Hey I see the [parent issues ](https://github.com/opensearch-project/opensearch-build/issues/1750#issuecomment-1077871774) is closed, right now since the [release zips and SNAPSHOT zips](https://github.com/opensearch-project/opensearch-build/issues/1916) are part of maven (signed and published), a user can always download from maven, I dont see a need to re-upload them again to the `artifacts.open

[2022-08-01 18:37] joshuali925 commented on #2188
Thanks @dblock for the explanation. Since all approaches proposed will solve the technical issue, I'll focus on the conceptual issue. To make sure I understood correctly, let's say reports-scheduler is about to add new features that breaks API backwards compatibility, and it will go from `2.0.0.0` to `3.0.0.0`. Now dashboards-reports is still on `2.0.0.0` which is compatible with reports-scheduler

[2022-08-01 19:33] prudhvigodithi commented on #1975
Hey going forward with [solution posted ](https://github.com/opensearch-project/opensearch-build/issues/1975#issuecomment-1145862692)above, closing this issue and will open a new META issue with proper breakdown of tasks and once done will link back here.
@bbarani
thank you

[2022-08-01 19:33] #1975 closed

[2022-08-01 23:13] bshien commented on #2297
- [ ] Reduce API calls on main page from 30+ to 1
- [ ] Use commits.yml to fetch commits per build/PR
- [ ] Create Commits page
- [ ] Create Integ test page
- [ ] Create BWC test page
- [ ] Create Perf test page
- [ ] Create CVE page

[2022-08-01 23:20] bshien opened #2391 "Reduce API calls on main page from 30+ to 1"
Currently the main page calls the Jenkins API once to get all the build numbers, and calls it again for each and every build number. The goal is to try to make one or two calls when the user loads the main page, but still display information such as:

- duration
- version
- result
- start time
- if it is running

for each build.

Currently, the solution I've chosen is to create a local cache of bu

[2022-08-01 23:21] bshien opened #2392 "Use buildInfo.yml to fetch commits per build/PR"
Download and use buildInfo.yml file to get the build and commit information corresponding to specific builds for build dashboard.

Both the OpenSearch page and the OpenSearch Dashboards page both link to a Commits page, which takes information from the buildInfo.yml to create a list of plugin names and associated links to their head commits.

![Screen Shot 2022-09-08 at 11 49 36 AM](https://user-i

[2022-08-01 23:21] bshien opened #2393 "Create Commits page"
The commits page must have a list, where each row will have:

- plugin name
- github commit link
- potentially other info

The data will be coming from the build_info.yml which, for the latest 30 build numbers, I will download to the server cache.

![Screen Shot 2022-09-08 at 11 49 44 AM](https://user-images.githubusercontent.com/44730413/189203320-bbd89cb9-27b6-463b-8c8b-bdc86eeefa17.png)

[2022-08-01 23:21] bshien opened #2394 "Create Integ test page"

[2022-08-01 23:22] bshien opened #2395 "Create BWC test page"
The BWC test page will be a table and must have in each row:

plugin name
security enabled?
architecture
tests result
test log

[2022-08-01 23:22] bshien opened #2396 "Create Perf test page"
The Perf test page will be a list and must have in each row:

- architecture
- security enabled?
- instance type
- workload details
- index latency(p50, p90, p99, p100)
- throughput(p0, p50, p100)
- etc.(more info in the json provided)

I first make a call to Jenkins to get the latest 10 performance tests. The data is coming from S3, in the form of JSON. I cache the JSON for all of these 10 tests,

[2022-08-01 23:22] bshien opened #2397 "Create CVE page"
CVE page will be a list with each row having:

- plugin name
- a link to another project that shows vulnerabilities

I first parse the buildInfo.yml to get the component names and their github repos, then I create the link to the other project's site.

![Screen Shot 2022-09-08 at 1 38 23 PM](https://user-images.githubusercontent.com/44730413/189221261-6cc01718-2678-4d49-999e-ca03ca610a84.png)

[2022-08-01 23:27] bshien commented on #2391
Currently the main page calls the Jenkins API once to get all the build numbers, and calls it again for each and every build number. The goal is to try to make one or two calls when the user loads the main page, but still display information such as:

- duration
- version
- result
- start time
- if it is running

for each build.

[2022-08-01 23:33] bshien commented on #2392
Somehow be able to link the commits.yml files to the associated build number so I can create links that can process each particular commits.yml. There will be a list of links on the main page that, when clicked, will download the correct commits.yml and process it. Currently, I'm processing the build manifest, which I shouldn't be doing because it may be missing some plugins if the build fails.

[2022-08-01 23:36] bshien commented on #2393
The commits page must have a list, where each row will have:

- plugin name
- github commit link
- potentially other info if there's no limit amount of API calls I can make

[2022-08-01 23:38] bshien commented on #2394
The integ test page will be a list and must have in each row:

- plugin name
- security enabled?
- distribution
- architecture
- tests executed
- tests passed
- tests failed
- start time
- end time
- test log

[2022-08-01 23:39] bshien commented on #2395
The BWC test page will be a list and must have in each row:

- plugin name
- security enabled?
- distribution
- architecture
- tests executed
- tests passed
- tests failed
- start time
- end time
- test log

[2022-08-01 23:45] bshien commented on #2396
The Perf test page will be a list and must have in each row:

- architecture
- security enabled?
- instance type
- workload details
- index latency(p50, p90, p99, p100)
- throughput(p0, p50, p100)
- etc.(more info in the json provided)

[2022-08-01 23:49] bshien commented on #2397
CVE page will be a list with each row having:

- plugin name
- repo branch
- link to Miki's site

[2022-08-02 01:20] gaiksaya opened #2398 "Create publishToMaven lib that automates maven releases completely"
### Is your feature request related to a problem? Please describe

Currently, even though most of the process for maven release is automated, there is a last step that needs human intervention by logging into the nexus sonatype, closing the staging repo and then hitting release.
This causes @opensearch-project/engineering-effectiveness to become bottle neck for all maven related releases as they o

[2022-08-02 01:23] prudhvigodithi commented on #2345
# OpenSearch Commits(after 2022-07-26) & Release Notes info
|    Repo    |Branch|Commits|Release Notes|
|------------|------|-------|-------------|
|OpenSearch  |2.x   |517b815|NO           |
|common-utils|2.x   |       |NO           |
|security    |main  |50a94b4|YES          |

[2022-08-02 01:24] prudhvigodithi commented on #2345
Sample test comment

[2022-08-02 02:20] randytan opened #2564 "[BUG] Docker Opensearch 2.1.0 Exited 137 OOM after Running Full Sweep"
**Describe the bug**
During a run of Docker Opensearch version 2.1.0 via docker-compose way, the Docker Opensearch container killed herself during full sweep execution.

We have provisioned 32GB RAM (50% of the total RAM) to the Opensearch container. `Mem lock` -1 and `ulimit` 65535.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Download the Opensearch 2.1.0 from Docker Hub
2. Adju

[2022-08-02 13:17] prudhvigodithi commented on #2345
# OpenSearch Commits(after 2022-07-26) & Release Notes info
|          Repo           |   Branch   |Commits|Release Notes|
|-------------------------|------------|-------|-------------|
|OpenSearch               |tags/1.1.0  |       |NULL         |
|common-utils             |tags/1.1.0.0|       |YES          |
|job-scheduler            |tags/1.1.0.0|       |YES          |
|sql

[2022-08-02 13:24] prudhvigodithi commented on #2345
# OpenSearch Commits(after 2022-07-26) & Release Notes info
|          Repo           |   Branch   |Commits|Release Notes|
|-------------------------|------------|-------|-------------|
|OpenSearch               |tags/1.1.0  |       |NULL         |
|common-utils             |tags/1.1.0.0|       |YES          |
|job-scheduler            |tags/1.1.0.0|       |YES          |
|sql

[2022-08-02 13:37] dblock commented on #2188
I would work backwards from the desired user experience, as always. At no time we should have had a broken user experience. When we advance front-end and back-end together with a breaking change, requiring upgrading data-prepper, then dashboards, even if released together, does it require hard downtime to upgrade? That's the definition of broken UX.

In this example, data-prepper v1 should have fi

[2022-08-02 13:57] prudhvigodithi commented on #2345
# OpenSearch Commits(after 2022-07-26) & Release Notes info
|          Repo           |   Branch   |Commits|Release Notes|
|-------------------------|------------|-------|-------------|
|OpenSearch               |tags/1.1.0  |       |NULL         |
|common-utils             |tags/1.1.0.0|       |YES          |
|job-scheduler            |tags/1.1.0.0|       |YES          |
|sql

[2022-08-02 13:58] prudhvigodithi commented on #2345
# OpenSearch Commits(after 2022-07-26) & Release Notes info
|   Repo   |Branch|Commits|Release Notes|
|----------|------|-------|-------------|
|OpenSearch|main  |fcdea3a|NO           |

[2022-08-02 14:04] prudhvigodithi commented on #2345
# OpenSearch Commits(after 2022-07-26) & Release Notes info
|   Repo   |Branch|Commits|Release Notes|
|----------|------|-------|-------------|
|OpenSearch|main  |fcdea3a|NO           |

[2022-08-02 14:12] prudhvigodithi commented on #2345
# OpenSearch Commits(after 2022-07-26) & Release Notes info
|   Repo   |Branch|Commits|Release Notes|
|----------|------|-------|-------------|
|OpenSearch|main  |fcdea3a|NO           |

[2022-08-02 14:14] prudhvigodithi commented on #2345
# OpenSearch Commits(after 2022-07-26) & Release Notes info
|   Repo   |Branch|Commits|Release Notes|
|----------|------|-------|-------------|
|OpenSearch|main  |fcdea3a|NO           |

[2022-08-02 14:19] prudhvigodithi commented on #2345
# OpenSearch Commits(after 2022-07-26) & Release Notes info
|   Repo   |Branch|Commits|Release Notes|
|----------|------|-------|-------------|
|OpenSearch|main  |fcdea3a|NO           |

[2022-08-02 15:56] prudhvigodithi commented on #2345
# OpenSearch Commits(after 2022-07-26) & Release Notes info
|    Repo    |Branch|Commits|Release Notes|
|------------|------|-------|-------------|
|OpenSearch  |2.x   |4f3e148|NO           |
|common-utils|2.x   |       |NO           |
|security    |main  |50a94b4|YES          |

[2022-08-02 16:02] prudhvigodithi commented on #2345
# OpenSearch Commits(after 2022-07-26) & Release Notes info
|    Repo    |Branch|CommitID|Release Notes|
|------------|------|--------|-------------|
|OpenSearch  |2.x   |4f3e148 |NO           |
|common-utils|2.x   |        |NO           |
|security    |main  |50a94b4 |YES          |

[2022-08-02 16:05] prudhvigodithi commented on #2345
# OpenSearch Commits(after 2022-07-26) & Release Notes info
|    Repo    |Branch|CommitID|Release Notes|
|------------|------|--------|-------------|
|OpenSearch  |2.x   |4f3e148 |NO           |
|common-utils|2.x   |        |NO           |
|security    |main  |50a94b4 |YES          |

[2022-08-02 16:22] bshien opened #2399 "Reduce API calls on main page from 30+ to 1"

[2022-08-02 16:23] #2399 closed

[2022-08-02 16:35] prudhvigodithi commented on #2345
# OpenSearch Commits(after 2022-07-26) & Release Notes info
|    Repo    |Branch|CommitID|Release Notes|
|------------|------|--------|-------------|
|OpenSearch  |2.x   |4f3e148 |NO           |
|common-utils|2.x   |        |NO           |
|security    |main  |50a94b4 |YES          |

[2022-08-02 16:52] prudhvigodithi commented on #2345
# OpenSearch Commits(after 2022-07-26) & Release Notes info
|    Repo    |Branch|CommitID|Release Notes|
|------------|------|--------|-------------|
|OpenSearch  |2.x   |4f3e148 |NO           |
|common-utils|2.x   |        |NO           |
|security    |main  |50a94b4 |YES          |

[2022-08-02 17:16] bshien opened #2401 "Reduce API calls on main page from 30+ to 1"

[2022-08-02 17:17] #2401 closed

[2022-08-02 17:17] gaiksaya opened #2402 "Reduce API calls on main page from 30+ to 1"

[2022-08-02 17:18] #2402 closed

[2022-08-02 17:51] CEHENKLE commented on #2386
Basically, if I get hit by a bus/win the lotto, I don't want to be the only person with these passwords.    Whaddya think, @peterzhuamazon?

[2022-08-02 18:40] #2325 closed

[2022-08-02 18:59] prudhvigodithi commented on #2377
[Triage] We can follow this
`Starting with Git 2.9, we can stage a file AND set the flag in one command:
git add --chmod=+x path/to/file`
@bbarani @peterzhuamazon

[2022-08-02 19:03] prudhvigodithi commented on #2398
[Triage], we can explore `nexus-maven-plugin` to do this promotion without human intervention.

[2022-08-02 19:09] prudhvigodithi commented on #2373
[Triage] Hey @ankitkala the version increment process is generic and does not related to any BWC tests, we recommend this could be handled by plugin team per release branch, since each plugin handle the BWC tests differently its not feasible to add it to the version increment task `updateVersion`.

[2022-08-02 19:51] peterzhuamazon commented on #2377
I remember we used to have no permission, and we add a manual chmod to docker to solve this.
https://github.com/opensearch-project/opensearch-build/blob/main/docker/release/dockerfiles/opensearch.al2.dockerfile#L42

I think we can add a chmod from the code here:
https://github.com/opensearch-project/opensearch-build/blob/main/src/assemble_workflow/dist.py#L74-L79

Still these are kinda hacky solut

[2022-08-02 20:09] prudhvigodithi commented on #1823
Hey @dblock I agree with you, we should be adding some info  in `README` about the artifacts and ways to fetch and use them.
@bbarani @peterzhuamazon @gaiksaya
Thank you

[2022-08-02 20:11] #1502 closed

[2022-08-02 20:11] peterzhuamazon commented on #2376
20220802: Release OUI 1.0.0 version with @AMoo-Miki

[2022-08-02 22:50] peterzhuamazon commented on #2306
[code]

This is due to that the Windows API file path size limitation.
Basically the thing where you cannot delete files if the path is too long.
https://docs.microsoft.com/en-us/windows/win32/fileio/maximum-file-path-limitation?tabs=registry

[2022-08-02 22:58] peterzhuamazon commented on #2306
The initial solution is to convert windows path to unicode:
[code]

The better solution is to add this reg change to windows packer.
[code]

[2022-08-03 00:33] peterzhuamazon commented on #2306
After fixing the long path by enable long path on registry, this shows:
[code]

[2022-08-03 12:06] ankitkala commented on #2373
Hey @prudhvigodithi,
I understand that that each plugin handles BWC tests differently. But atleast we can then go with 2nd option where we have this as one of the release checklist item on every major version bump.
cc: @dblock

[2022-08-03 12:18] prudhvigodithi commented on #2373
Hey @ankitkala Since we are proposing to follow Core branching strategy, for BWC tests plugin teams can handle this during repo branching, example when 2.x is created, we can have BWC version change handle here, so this will point to latest 1.x version, once we have branch for 3.x, this will have latest 2.x version for BWC, since the minor version branches (2.2 or 3.1) are cut from 2.x and 3.x, th

[2022-08-03 19:23] navneet1v opened #2439 "Trigger gradle check via Github action on forked repo"
**Describe the bug**
With the release of gradle check action running on jenkins pipeline of OpenSearch repo, for all the forked repos that gradle check have started to fail as the Security token not found in that forked repo.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [OpenSearch](https://github.com/opensearch-project/OpenSearch) and fork out the repo.
2. Now clone the repo on loc

[2022-08-03 20:35] peterzhuamazon commented on #2306
Another issue is on windows specifically after a few runs git will show malloc error:
[code]

Only resolve if we set the mem limits early on:
[code]

[2022-08-03 22:56] zelinh opened #2410 "[Enhancement] Display running status for each build and for each type of distribution components"
### Is your feature request related to a problem? Please describe

Following to #2325.
We want to add a overall running status on the top of our input manifest and the running status of each component for all the distribution types we supported (e.g. tarball/rpm/windows(not yet supported)/...)

### Describe the solution you'd like

Looking to use our current groovy libraries to implement based on

[2022-08-03 23:23] gaiksaya commented on #1234
Client in existence today:

- Rust: https://github.com/opensearch-project/opensearch-rs
- High Level Python: https://github.com/opensearch-project/opensearch-dsl-py
- Java: https://github.com/opensearch-project/opensearch-java
- Python: https://github.com/opensearch-project/opensearch-py
- Ruby: https://github.com/opensearch-project/opensearch-ruby
- JS: https://github.com/opensearch-project/opens

[2022-08-04 00:22] gaiksaya commented on #1506
The GitHub release seems like a better option that makes the client release a push based model. Removing the manifest file completely. The GitHub release needs to be created/drafted for the jenkins release workflow to run. The trigger payload gives the necessary details that can be used by the jenkins lib functions https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#re

[2022-08-04 18:32] bbarani commented on #2186
@opensearch-project/benchmark-core Do you have any inputs for this ask?

[2022-08-04 18:49] peterzhuamazon commented on #2345
Runner PR:
* https://github.com/opensearch-project/opensearch-build/pull/2417

[2022-08-04 20:37] prudhvigodithi opened #2420 "[Bug]: Updated input manifests creates old version manifests part of `legacy-manifests/` folder"
### Describe the bug

With the change to move the old input manifests to [legacy-manifests folder](url) in build repo, the [auto generate manifest workflow ](https://github.com/opensearch-project/opensearch-build/blob/main/.github/workflows/versions.yml) creates even the manifests part of the legacy-manifests folder assuming they does not exist.
Sample PR.
https://github.com/opensearch-project/ope

[2022-08-04 21:01] peterzhuamazon commented on #1506
Can you explain a bit on what `draft a release` means here?

[2022-08-04 21:09] gaiksaya commented on #2398
I don't believe any testing needs/can be done around it. The maven release needs all kinds of checksums, signature files, etc along with the artifacts which ensures that the artifacts being uploaded are legit. The authentication or access of end to end process is what needs to be considered while working on this.
Would like your thoughts on this @prudhvigodithi @dblock @saratvemulapalli

[2022-08-04 21:17] gaiksaya commented on #1506
@peterzhuamazon See https://github.com/marketplace/actions/gh-release
You can decide if you need to create/draft/publish/delete a release on Github https://github.com/marketplace/actions/gh-release#inputs

[2022-08-04 21:37] zelinh opened #2421 "2410"

[2022-08-04 21:49] bbarani commented on #1506
@gaiksaya I like this solution but does this tie our release process with GitHub repo and tools? I am good with this model but want to make sure that the process can be easily reproduced outside of GitHub as well.

[2022-08-04 21:55] gaiksaya commented on #1506
It does not directly tie it to GH but since our repos, their CIs are on GH it makes sense if part of it is tied. The jenkins libraries that will take care of the actual release will be independent of GH rather GH is a bridge that will trigger, bring the artifact to jenkins.

[2022-08-04 22:19] bbarani commented on #2346
@peterzhuamazon Can you add the current state of the on-boarding process for these plugins here?

[2022-08-04 22:25] #1176 closed

[2022-08-04 22:36] #2421 closed

[2022-08-05 00:11] gaiksaya commented on #1536
One approach to avoid breaking change is my keeping regressions files in build repository and jenkins Files in component repository. In this way when a change is introduced, the regression files will test the change for remote JenkinsFiles as well.
Failure would suggest a change needs to be made on remote file as well

[2022-08-05 00:20] peterzhuamazon commented on #2346
We just approved multiple PRs:
https://github.com/opensearch-project/geospatial/pull/119
https://github.com/opensearch-project/opensearch-build/pull/2411
https://github.com/opensearch-project/opensearch-build/pull/2418
https://github.com/opensearch-project/opensearch-build/pull/2419
https://github.com/opensearch-project/dashboards-maps/pull/27
https://github.com/opensearch-project/opensearch-dashb

[2022-08-05 16:43] wbeckler commented on #1234
There's also this, which will need to be incorporated eventually:

- .Net: https://github.com/opensearch-project/opensearch-net

[2022-08-05 17:37] kotwanikunal opened #2429 "[Bug]: Performance test infrastructure broken"
### Describe the bug

The migration of the performance test job to https://build.ci.opensearch.org/ has broken the performance test infra for OpenSearch core. This can affect upcoming launch testing.

### To reproduce

Execute any performance test using https://build.ci.opensearch.org/job/perf-test/.

### Expected behavior

Test should run successfully.

### Screenshots

_No response_

### Host /

[2022-08-05 22:54] dblock commented on #2377
These look executable in the repo, e.g. https://github.com/opensearch-project/security/blob/main/tools/hash.sh so something else loses the flag.

[2022-08-05 22:56] dblock commented on #2306
That's some thorough debugging @peterzhuamazon!

[2022-08-05 22:58] dblock commented on #2398
For clients I wouldn't do any extra work and trust CI/CD. If all tests pass (and they do during this process), :shipit:

[2022-08-05 23:01] dblock commented on #1506
+1 on the staging area being GitHub. I think this will work at least for Java (Maven) and Ruby (pkg) artifacts.

[2022-08-05 23:17] gaiksaya opened #2433 "[Bug]: The shared library in jenkins points to 20211123"
### Describe the bug

In order to avoid jenkins use the cached library instead of new updated one, a date was added and was supposed to be updated with each iteration when we modify the libraries.
See https://github.com/opensearch-project/opensearch-build/blob/main/jenkins/opensearch/distribution-build.jenkinsfile#L1

However since all jobs are now dockerized or use new agent the most recent libra

[2022-08-06 12:15] dblock commented on #2433
The problem with dynamic retrieval is that it will only work on a well defined branch. If you try to run Jenkins code from a personal fork/branch for testing, for example, you will have to change all the references to it. I think what we want is behavior similar to GHA where it uses the currently checked out code. I *think* the way to accomplish that is (haven't tested)

[code]

[2022-08-08 04:55] jamesdoran commented on #2051
@joshuali925, @prudhvigodithi, @anirudha - is there anything I can do to help this process along?

[2022-08-08 09:30] prudhvigodithi commented on #2345
# OpenSearch Commits(after 2022-07-26) & Release Notes info
|    Repo     |Branch|CommitID|Release Notes|
|-------------|------|--------|-------------|
|OpenSearch   |   2.2|4035bf7 |YES          |
|common-utils |2.x   |7d53102 |NO           |
|job-scheduler|   2.2|a501307 |YES          |
|security     |main  |f7b6fe5 |YES          |
|geospatial   |   2.2|a71475a |YES          |
|k-NN         |2.x

[2022-08-08 09:34] prudhvigodithi commented on #2345
# OpenSearch Commits(after 2022-07-26) & Release Notes info
|    Repo     |Branch|CommitID|Release Notes|
|-------------|------|--------|-------------|
|OpenSearch   |   2.2|4035bf7 |YES          |
|common-utils |2.x   |7d53102 |NO           |
|job-scheduler|   2.2|a501307 |YES          |
|security     |main  |f7b6fe5 |YES          |
|geospatial   |   2.2|a71475a |YES          |
|k-NN         |2.x

[2022-08-08 09:35] prudhvigodithi commented on #2345
# OpenSearch CommitID(after 2022-07-26) & Release Notes info
|    Repo     |Branch|CommitID|Release Notes|
|-------------|------|--------|-------------|
|OpenSearch   |   2.2|4035bf7 |YES          |
|common-utils |2.x   |7d53102 |NO           |
|job-scheduler|   2.2|a501307 |YES          |
|security     |main  |f7b6fe5 |YES          |
|geospatial   |   2.2|a71475a |YES          |
|k-NN         |2.

[2022-08-08 11:55] prudhvigodithi commented on #2345
# OpenSearch CommitID(after 2022-07-26) & Release Notes info
|          Repo           |Branch|CommitID|Release Notes|
|-------------------------|------|--------|-------------|
|OpenSearch               |   2.2|4035bf7 |YES          |
|common-utils             |2.x   |7d53102 |NO           |
|job-scheduler            |   2.2|a501307 |YES          |
|ml-commons               |   2.2|3b8b01c |NO

[2022-08-08 12:02] #2420 closed

[2022-08-08 14:09] prudhvigodithi commented on #2345
# OpenSearch CommitID(after 2022-07-26) & Release Notes info
|          Repo           |Branch|CommitID|Release Notes|
|-------------------------|------|--------|-------------|
|OpenSearch               |   2.2|4035bf7 |YES          |
|common-utils             |2.x   |7d53102 |NO           |
|job-scheduler            |   2.2|a501307 |YES          |
|ml-commons               |   2.2|3b8b01c |NO

[2022-08-08 14:10] tuotempo commented on #2143
Hi @bbarani can you check our response please? We can't reopen this issue with results of our tests

[2022-08-08 16:55] anirudha commented on #2051
All done! last friday :) finally! planning release activites to nuGet. we should have this posted in under week now.
@PaulDMendoza @jamesdoran

[2022-08-08 17:49] zelinh commented on #2410
According to @bshien, additional info will be needed for the manifest file.

General build:
- Result
- Start time
- Duration/End time
- Associated test numbers for the builds
Integ/BWC test info:
- result of overall test(what the result is on the associated test in Jenkins
- For the individual tests: security enabled?, distribution, test type(integ or bwc), architecture, tests executed, tests pass

[2022-08-08 20:32] kartg commented on #2439
Moving from `core` repo to `build` since this an open question on supporting Jenkins runs for forked repos.

[2022-08-08 21:02] anirudha commented on #2051
I posted the current status above, but I also want to acknowledge, and apologize for failing to provide a regular status update earlier. Thank you for your patience.

[2022-08-08 21:20] CEHENKLE commented on #2051
Thanks @anirudha!  Can you share what the remaining steps are before we can release?

[2022-08-08 22:22] bbarani commented on #2376
OpenSearch UI Framework (OUI) 1.0.0 version has been published on NPM.

npm: https://www.npmjs.com/package/@opensearch-project/oui/v/1.0.0
github: https://github.com/opensearch-project/oui/releases/tag/1.0.0

[2022-08-08 22:22] #2376 closed

[2022-08-09 00:38] saratvemulapalli commented on #2398
+1 As long as we sign the artifacts and verify the signatures we should be good.
This is how I see it, for infra our job is to enable verified releases to maven for maintainers. We would rely on the maintainers to do all the checks in CIs and determine its ready for release.

[2022-08-09 03:17] peterzhuamazon commented on #2271
### Last Updated on `2022/08/08 21:52 PST`

## Click to expand and get the latest `docker-compose.yml`:
<details>
<summary>docker-compose.yml OS 5905 OSD 4045</summary>

[code]

</details>

------

- Use Docker-Compose to setup a cluster
  + Copy above content as docker-compose.yml on your machine (The above content will change depend on whether we have a new build or not)
  + Get latest image ver

[2022-08-09 21:54] navneet1v opened #2446 "[Bug]: Gradle check failing on Jenkins [1635]"
### Describe the bug

The gradle check is failing on the Jenkins due to some network issues.

https://build.ci.opensearch.org/job/gradle-check/1635/console

[code]

### To reproduce

You can re-run this Jenkins flow: 1635

### Expected behavior

As there is no error on the Build side gradle check should have succeeded.

### Screenshots

If applicable, add screenshots to help explain your problem.

[2022-08-09 22:42] peterzhuamazon commented on #2271
IntegTest results:

OS 5905:
[code]

[2022-08-10 00:45] github-actions[bot] opened #2447 "[RELEASE] Release version 2.3.0"
## Release OpenSearch and OpenSearch Dashboards 2.3.0

I noticed that a manifest was automatically created in [manifests/2.3.0](/opensearch-project/opensearch-build/tree/main/manifests/2.3.0). Please follow the following checklist to make a release.

<details><summary>How to use this issue</summary>
<p>

## This Release Issue

This issue captures the state of the OpenSearch release, its assignee i

[2022-08-10 01:37] kavilla commented on #2271
OSD: 4048
with security:
[code]

[2022-08-10 05:56] navneet1v commented on #2446
For the same code now I am getting this error:

[code]

[2022-08-10 05:56] navneet1v commented on #2446
https://build.ci.opensearch.org/job/gradle-check/1650/console

[2022-08-10 07:06] kavilla commented on #2271
Integ Test Results:

OSD 4048:

[without-security.txt](https://github.com/opensearch-project/opensearch-build/files/9297589/without-security.txt)
[osd-2.2.0-without-security-screenshots.zip](https://github.com/opensearch-project/opensearch-build/files/9297595/osd-2.2.0-without-security-screenshots.zip)

Videos of test failures:
[anomaly-detection-dashboards-plugin-without-security.zip](https://git

[2022-08-10 17:04] gaiksaya commented on #2429
Performance tests are fixed now https://build.ci.opensearch.org/job/perf-test/340/
https://build.ci.opensearch.org/job/perf-test/341/

A role was missing from the infrastructure which was added and fixed the permissions with another role.

Closing this issue.

[2022-08-10 17:04] #2429 closed

[2022-08-10 18:36] peterzhuamazon commented on #2271
OSD 4048:
* Security confirm it is a known flaky test, @DarshitChanpura is fixing.
* AD Dashboards: https://github.com/opensearch-project/opensearch-dashboards-functional-test/pull/275
* OBS Dashboards:

[2022-08-10 18:48] kotwanikunal commented on #2271
Performance results comparison between OpenSearch 2.1 vs 2.2 version

| Product/ Version   | Architecture | Description      | Instance Type | Workload Details                                 | Index Latency (ms) p50 | Index Latency (ms) p90 | Index Latency (ms) p99 | Index Latency (ms) p100 | Index Throughput (docs/s) p0 | Index Throughput (docs/s) p50 | Index Throughput (docs/s) p100 | Index Thr

[2022-08-10 19:34] saratvemulapalli commented on #2271
Thanks @kotwanikunal. Looks like Indexing (P100) is >10% high, Querying on ARM. Also memory seems inconsistent (P90 is higher than P99), is that an error in our computation or I am misunderstanding it?
But anyway as @dblock said, we are using up >20% memory (P90) compared to 2.1.

Were there any runs for opensearch-min (I assume all of these tests are for the bundle) ?

[2022-08-10 19:44] peternied commented on #2271
Is it possible those columns are transposed in the table? Those values look like they would swap cleanly and mirror the previous versions memory usage

[2022-08-10 20:16] kavilla commented on #2271
AD test run after merged changes.

[code]

[2022-08-10 20:24] DarshitChanpura commented on #2271
All security tests are passing in this run.

[2022-08-10 20:50] kotwanikunal commented on #2271
@peternied @saratvemulapalli
Interestingly enough, comparing with 2.0 with 2.2 does not show any major deviations.

The differences in memory consumption seem to be introduced in the [results here.](https://github.com/opensearch-project/opensearch-build/issues/1818#issuecomment-1176543410)

| Product/ Version   | Architecture | Description      | Instance Type | Workload Details

[2022-08-10 22:38] prudhvigodithi commented on #2345
Adding `Commit Date` to table should look as follows.
# OpenSearch CommitID(after 2022-07-26) & Release Notes info
|   Repo   |Branch|CommitID|Commit Date|Release Notes|
|----------|------|--------|-----------|-------------|
|OpenSearch|main  |7dad063 |2022-08-10 |NO           |

[2022-08-10 22:50] prudhvigodithi commented on #2051
We just shipped OpenSearch 1.0.0 .NET clients to nuget repo https://www.nuget.org/profiles/opensearchproject.

[2022-08-10 22:54] saratvemulapalli commented on #2271
@kotwanikunal thats interesting. I am worried we either made improvements in 2.1 and probably loosing them in 2.2 or as @peternied suggested we are misreporting the columns.
I can't wrap my head around to have P90 higher and P99 being lower memory footprint. From what I see both 2.0 and 2.2 have the same format which seems suspicious.

[2022-08-11 01:05] kavilla commented on #2271
Integ Test Result

OSD 4049
[with-security-4049.txt](https://github.com/opensearch-project/opensearch-build/files/9305326/with-security-4049.txt)
[osd-with-security-screenshots-4049.zip](https://github.com/opensearch-project/opensearch-build/files/9305329/screenshots-4049.zip)

Videos of test failures:
[7_app_analytics.spec.js.mp4.zip](https://github.com/opensearch-project/opensearch-build/files/9

[2022-08-11 16:36] bbarani commented on #2439
@navneet1v It's not feasible for us to have centralized infra to support the forks. Having said that, you can reproduce our build infra using [CDK](https://github.com/opensearch-project/opensearch-ci) and deploy it on your own instance managed by your team and have it invoke via GitHub actions running on your repo. Feel free to re-open if needed.

[2022-08-11 16:36] #2439 closed

[2022-08-11 16:38] bbarani commented on #2377
@gaiksaya @peterzhuamazon @prudhvigodithi Can you provide your inputs here?

[2022-08-11 16:42] peterzhuamazon commented on #2377
Per @dblock point this is more like an issue with the zip generation on security side it seems.

[2022-08-11 16:52] gaiksaya commented on #2377
One more possibility might be the permissions are changed while building/assembling the distribution. We might need to go through the python code to check that as well.

[2022-08-11 17:07] peterzhuamazon commented on #2377
Yes we need to check all the steps and see why the permissions are changed in the process.

[2022-08-11 17:15] kotwanikunal commented on #2271
Performance Test re-run results -

The previous arm64 without security seemed to be an outlier which was rectified by the re-run.

| Product/ Version   | Architecture | Description      | Instance Type | Workload Details                                | Index Latency (ms) p50 | Index Latency (ms) p90 | Index Latency (ms) p99 | Index Latency (ms) p100 | Index Throughput (docs/s) p0 | Index Throughp

[2022-08-11 19:17] peterzhuamazon opened #2451 "[Retrospective] Release Version 2.2.0"
#2271

How to use this issue?
Please add comments to this issue, they can be small or large in scope. Honest feedback is important to improve our processes, suggestions are also welcomed but not required.

What will happen to this issue post release?
There will be a discussion(s) about how the release went and how the next release can be improved. Then this ticket will be updated with the notes of

[2022-08-11 19:46] deepdatta opened #2452 "Publish logstash-output-opensearch plugin to rubygems.org for 1.3.0 version"
Need to build and publish the plugin from git repo [logstash-output-opensearch](https://github.com/opensearch-project/logstash-output-opensearch)
Date: 8/16/2022

[2022-08-11 20:13] bbarani commented on #2271
38f9d36a2da3:bin bbarani$ ./opensearch-plugin install repository-s3
warning: ignoring JAVA_TOOL_OPTIONS=-Dlog4j2.formatMsgNoLookups=true
-> Installing repository-s3
-> Downloading repository-s3 from opensearch
[=================================================] 100%  
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@     WARNING: plugin requires additional permissions     @
@@@@@@@@@@@

[2022-08-11 20:19] peterzhuamazon commented on #2271
RPM YUM varification:
[code]

[code]

[2022-08-11 20:41] prudhvigodithi commented on #2377
So this is what I found, with `git clone` and `./build` that creates the zip (opensearch-security-2.2.0.0-SNAPSHOT.zip) the permissions are still with executable, unzipping also I do see the executable permission, but with `./assemble`  and the final produced `tar` file the permissions are lost.
Its after this
[code]

[2022-08-11 20:57] jamesdoran commented on #2051
Thanks everyone. Much appreciated 🥳

[2022-08-11 20:59] prudhvigodithi commented on #1506
Hey, few thoughts:

- One option is, the build and compile should completely happen on Jenkins, so the artifacts can be shipped from Jenkins workspace to the external repos.

- The build and compile code can run on gitHub workflows but again should be shipped to a central place (s3, minio or amy other option), where Jenkins can pick the artifact and just run the code to publish the artifacts, with

[2022-08-11 21:03] ohltyler commented on #2451
Last-minute changes that were merged in core OpenSearch (1-2 days before code cutoff for plugins) caused unforeseen failures in both source code and test cases for plugins ([example](https://github.com/opensearch-project/anomaly-detection/pull/637), [example](https://github.com/opensearch-project/anomaly-detection/pull/634/files)), where not all issues were able to be resolved by the code cutoff.

[2022-08-11 21:15] peterzhuamazon commented on #2271
![Screen Shot 2022-08-11 at 5 14 48 PM](https://user-images.githubusercontent.com/65193828/184243620-dc8cb6fd-a553-4c32-9159-7d6e9e4cc967.png)

[2022-08-11 21:36] peterzhuamazon commented on #2377
Hi @dblock @prudhvigodithi I remember now why I add the code to tweak docker only.
The plugin install command will force 644 permission after installation.

https://github.com/opensearch-project/OpenSearch/blob/ba6dc5d28bb16e49e067b379545c5f20c74945d2/distribution/tools/plugin-cli/src/main/java/org/opensearch/plugins/InstallPluginCommand.java#L211-L212

[2022-08-11 22:00] bbarani commented on #2338
Closing this issue as we have released 2.2.0 version.

[2022-08-11 22:00] #2338 closed

[2022-08-11 22:50] bbarani commented on #1607
@gaiksaya Can you close this issue if its not valid anymore based on the updated design?

[2022-08-11 22:52] bbarani commented on #1576
Closing this issue as we have integrated[ Trivy scans](https://github.com/opensearch-project/opensearch-build/pull/2440) with distribution build process.

[2022-08-11 22:52] #1576 closed

[2022-08-11 22:53] gaiksaya commented on #1607
This issue will be needed. I'll close the irrelevant ones from above meta after our design discussion.
Thanks!

[2022-08-11 23:02] prudhvigodithi commented on #2345
# OpenSearch CommitID(after 2022-07-26) & Release Notes info
|          Repo           |   Branch   |CommitID|Commit Date|Release Notes|
|-------------------------|------------|--------|-----------|-------------|
|OpenSearch               |tags/2.2.0  |b1017fa |%as        |YES          |
|common-utils             |tags/2.2.0.0|7d53102 |%as        |NO           |
|job-scheduler            |tags/2.2

[2022-08-12 01:04] prudhvigodithi commented on #2345
# OpenSearch CommitID(after 2022-07-26) & Release Notes info
|          Repo           |   Branch   |CommitID|Commit Date|Release Notes|
|-------------------------|------------|--------|-----------|-------------|
|OpenSearch               |tags/2.2.0  |b1017fa |%as        |YES          |
|common-utils             |tags/2.2.0.0|7d53102 |%as        |NO           |
|job-scheduler            |tags/2.2

[2022-08-12 01:09] prudhvigodithi commented on #2345
# OpenSearch CommitID(after 2022-07-26) & Release Notes info
|          Repo           |   Branch   |CommitID|Commit Date|Release Notes|
|-------------------------|------------|--------|-----------|-------------|
|OpenSearch               |tags/2.2.0  |b1017fa |2022-08-08 |YES          |
|common-utils             |tags/2.2.0.0|7d53102 |2022-08-04 |NO           |
|job-scheduler            |tags/2.2

[2022-08-12 06:20] vinylen commented on #2271
Hi,

Thanks for the release. Seems that build-tools for 2.2.0 is missing though?
https://repo.gradle.org/ui/native/jcenter/org/opensearch/gradle/build-tools/

[2022-08-12 09:19] grmblfrz commented on #2271
Seems to me that all maven artifacts for 2.2.0 are missing, can't find them anywhere...

[2022-08-12 10:37] TheMeier commented on #2451
The build-tools where not published with the release. See https://github.com/aiven/prometheus-exporter-plugin-for-opensearch/pull/87

[2022-08-12 13:41] lukas-vlcek commented on #2451
I am not able to find any `org.opensearch` artifacts with `2.2.0` version in public mvn repositories (not just the build-tool as @TheMeier pointed out). Is there any ticket tracking this issue?

[2022-08-12 13:50] kolchfa-aws commented on #2451
Specifically regarding release notes: thank you for providing them early to the doc team! In the future, if the developers adhere to the PR naming guidelines, all of the bullet points in the release notes will have consistent verb forms and capitalization. This will avoid bullet points starting with different forms of the same verb like "Add", "adds", "Adding" and "added".

[2022-08-12 13:57] lukas-vlcek commented on #2271
The [plugin artifacts](https://opensearch.org/docs/latest/opensearch/install/plugins/#available-plugins) are not available and thus the plugin install command fails as well.

[code]

[2022-08-12 16:29] dblock commented on #1506
Please note that git LFS is not free, and you can [easily DDoS someone else's account](https://github.com/dblock/vmwaretasks/issues/23#issuecomment-1037701734).

[2022-08-12 16:50] dblock commented on #2377
This is https://github.com/opensearch-project/OpenSearch/issues/1220 and is a bug. Someone should pick it up.

This issue should be closed as a dup of that I think.

[2022-08-12 16:51] bbarani commented on #2051
Closing this issue as we have release .Net client 1.0.0 to NuGet.

[2022-08-12 16:51] #2051 closed

[2022-08-12 17:08] bbarani commented on #2271
@lukas-vlcek OpenSearch currently does not have support to install standalone plugins (outside of native plugins inherited from Elasticsearch) using plugin install command. You can view more details and the workaround in the below thread

https://forum.opensearch.org/t/download-urls-for-plugins-not-listed-anywhere/8297/6?u=bbarani

[2022-08-12 18:51] gaiksaya commented on #2271
We are looking into the maven artifacts. Filed an issue with sonatype to get some information.
Thanks!

[2022-08-12 18:52] bbarani commented on #2451
Hi @lukas-vlcek We have opened an issue with Sonatype to resolve this issue. We will keep this [thread](https://github.com/opensearch-project/opensearch-build/issues/2271#issuecomment-1213419604) updated with the current status

[2022-08-12 18:55] bbarani commented on #2451
Some code changes were merged in to 2.2.0 branch after finalizing the RC build assuming it will be auto picked up to create new RC build. We identified this change at the last minute and need a mechanism to prevent this from happening.

[2022-08-12 21:16] gaiksaya commented on #2271
Hey everyone, the artifacts are available on maven now. https://repo1.maven.org/maven2/org/opensearch/opensearch/2.2.0/
please let us know if you see any issues.
Thanks!

[2022-08-12 21:22] gaiksaya commented on #2386
Hi @dreamer-89,
Can you let us know exactly what credentials you want to add?
Can you also confirm the accounts have been created already?

Thanks!

[2022-08-12 21:48] dreamer-89 commented on #2386
Hi @gaiksaya,

Thanks for getting back on this. I need to export access key/secret keys for Azure & GCP accounts we recently created. Yes, these needs to be added to jenkins environment.

The accounts are already created for Azure, GCP. Right now, I need to do a quick verify that exporting creds let gradle check job run integration tests against these external cloud. I will update once I do that,

[2022-08-14 16:11] bbarani commented on #2346
Closing this issue as we have releases the plugins in 2.2.0 version.

[2022-08-14 16:11] #2346 closed

[2022-08-16 12:15] mnin opened #2460 "[Design] OpenSearch/Dashboards DEB Distribution Design Document"
Coming from #28

------

# OpenSearch DEB Distribution Design Document

Hey everyone,

I want to explain all details for the workflow of providing the *DEB packages* for the future releases on OpenSearch/Dashboards.

In parts, this topic has already been dealt with in Issue [Design OpenSearch/Dashboards DEB/RPM Distribution Design Document · Issue #1452 · opensearch-project/opensearch-build · GitH

[2022-08-16 18:45] gaiksaya opened #2464 "[Bug]: Local test cluster logs for integ-test generated files are empty"
### Describe the bug

The test recorder records logs for integ-test as below:
1. Local cluster logs:

- stdout: https://ci.opensearch.org/ci/dbc/integ-test/2.1.0/5740/linux/x64/tar/test-results/1/integ-test/alerting/with-security/local-cluster-logs/stdout.txt
- stderr: https://ci.opensearch.org/ci/dbc/integ-test/2.1.0/5740/linux/x64/tar/test-results/1/integ-test/alerting/with-security/local-cluste

[2022-08-16 19:04] zelinh commented on #2433
[Triage] We have enough information on this and we will look into this issue later.

[2022-08-16 19:06] zelinh commented on #2446
[Triage] @peterzhuamazon Could you maybe take a look into this issue? Thanks.

[2022-08-16 23:18] MaxKsyunz opened #2469 "Create a workflow to sign Tableau Connector"
### Is your feature request related to a problem? Please describe

[There](https://github.com/opensearch-project/sql/tree/main/bi-connectors/TableauConnector) is a connector for [Tableau](https://www.tableau.com/) to connect to OpenSearch but it is complicated to [install](https://github.com/opensearch-project/sql/blob/main/bi-connectors/TableauConnector/README.md).

It'd be great if the connector

[2022-08-17 12:36] prudhvigodithi opened #2470 "[Bug]: default `build.sh` for 1.3.x breaks with task `publishPluginZipPublicationToZipStagingRepository`"
### Describe the bug

Starting with `2.1.0`, pluginZips are added to maven repo using the task `publishPluginZipPublicationToZipStagingRepository`. This task is not present for 1.3.x versions, however the default [build script](https://github.com/opensearch-project/opensearch-build/blob/main/scripts/default/opensearch/build.sh) part of the build repo which is standardized to only `main` branch is

[2022-08-17 16:09] prudhvigodithi commented on #2470
I have raised the PR's for each missing component to to add `build.sh`
https://github.com/opensearch-project/performance-analyzer/pull/252
https://github.com/opensearch-project/asynchronous-search/pull/170
https://github.com/opensearch-project/index-management/pull/470
https://github.com/opensearch-project/performance-analyzer/pull/252
https://github.com/opensearch-project/anomaly-detection/pull/6

[2022-08-17 16:54] bbarani commented on #2066
@manishdev-amzn can you please prioritize this issue to automat the integration test for CCR?

[2022-08-17 16:56] bbarani commented on #1688
@kavilla Can you please update this issue with the current status?

[2022-08-17 16:56] bbarani commented on #1627
@zelinh Please update this issue with the current status.

[2022-08-17 17:23] kavilla commented on #1688
Hey @bbarani, looking at the OpenSearch integ test run it looks like each component is ran in it's own docker container. But for verification a maintainer to confirm would be good and then this issue can be closed I believe.

Thanks!

[2022-08-17 17:49] peterzhuamazon commented on #2446
This is very common on ubuntu mirrors.
I got the same thing last week and just wait for a few days it resolve by itself.

Thanks.

[2022-08-17 17:49] #2446 closed

[2022-08-17 21:25] peterzhuamazon commented on #2306
New issue:

[code]

This is due to jenkins trying to run git without invoking windows env vars sometimes.
This seems like an issue with Jenkins Git Plugin https://issues.jenkins.io/browse/JENKINS-68580.
However, in my observation, a newly created windows agent would goes to success, after a lengthy 10min of searching for the 1st run, then succeed for about 10 more runs, and will eventually end up

[2022-08-17 21:44] peterzhuamazon commented on #2306
Another issue that caused the malloc on git of windows:

Scoop actually install 2 versions of git, one in apps/git/<>/bin/git.exe, then other on shim/git.exe.

The latter one is the one get pick up more often:
[code]

The shims one is the 32bit version while the bin one is the 64bit version.
It is well known that the 32bit version would cause errors on 64bit system more often than now, especially

[2022-08-17 21:57] peterzhuamazon commented on #2306
This still seems like a limitation not sure why scoop create shims in 32bit only.
It might just be a shortcut per scoop not really the actual executable.
Not an expert here so will still use 32bit with the mem limitation for now.

[2022-08-17 22:00] peterzhuamazon commented on #2306
Confirmed now, shims folder entries are just shortcuts to the actual x64 binary, so no issues.

[2022-08-17 23:14] peterzhuamazon commented on #2306
Apprently os.chmod does not change permissions recursively, at least windows.
And windows is using 2 specific stat for the permission, due to permission being assigned differently.

Initial bug:
[code]

After applying this block of code recursively, we reduce errors:
[code]

[code]

Upon checking on the server the folder is actually empty already, and a simple remove will just run fine.
Not sure w

[2022-08-18 10:26] ankitkala commented on #2066
@monu-aws  would be working on this.

[2022-08-18 15:50] bbarani commented on #2460
@peterzhuamazon @gaiksaya @prudhvigodithi @zelinh Please provide your feedback and comments on this design issue.

[2022-08-18 16:43] peterzhuamazon commented on #2460
Hi @mnin thanks for the design document.

A few points:
1. We need to think about whether the repo metadata should be signed as well, apart from pkg, such as `repomd.xml` in the yum repo for rpm.
2. M3 the name should be matching rpm such as `opensearch-dashboards-1.3.2-linux-x64.deb`, the old naming has been replaced by us during the release of rpm.
3. M3 the pre/post scripts have already been cr

[2022-08-18 19:14] github-actions[bot] opened #2481 "[RELEASE] Release version 2.2.1"
## Release OpenSearch and OpenSearch Dashboards 2.2.1

I noticed that a manifest was automatically created in [manifests/2.2.1](/opensearch-project/opensearch-build/tree/main/manifests/2.2.1). Please follow the following checklist to make a release.

<details><summary>How to use this issue</summary>
<p>

## This Release Issue

This issue captures the state of the OpenSearch release, its assignee i

[2022-08-18 19:51] peterzhuamazon commented on #2306
Seems like checkout buffer is a problem now:
[code]
The error msg does not help tho:
[code]

[2022-08-18 20:01] peterzhuamazon commented on #2306
Apparently Windows sometimes does have this issue where you have to delete `twice` even though the directory is empty.
https://stackoverflow.com/a/22949687

[code]

[2022-08-18 20:12] peterzhuamazon commented on #2306
This seems more like a timing thing than anything.
It is possible that we are still stuck in the temp dir as the subprocess defines cwd as the temp dir.
Surprising enough on Windows directly this wont happen, probably due to Jenkins is using `nohup` to run shell scripts.

[2022-08-18 20:20] dblock commented on #2306
I would try 1) examine `os.getcwd()` and then potentially `os.chdir("C:\")` before deleting this directory as an experiment.

[2022-08-18 20:56] peterzhuamazon commented on #2306
Not sure why but Jenkins on Windows seems having some memory leak on git.
[code]

Seems like it exhausted the virtual memory, a reconnect to the agent would normally solve this issue tho.
But upon checking directly on the agent, the virtual memory usages seems ok.

Very confusing.

[2022-08-18 21:49] peterzhuamazon commented on #2306
Tried, not resolve.

[2022-08-18 22:07] dblock commented on #2306
This returns the current directory. Print the output, what is the current directory returned?

[2022-08-19 00:00] peterzhuamazon commented on #2306
I replied to the wrong line, what I means is I tried chdir and use getcwd to confirm the dir is changed.

[2022-08-19 00:24] gaiksaya commented on #1506
We will be going ahead with GitHub release. For artifact staging, if release assets are not sufficient we can look into bringing up the infrastructure to support additional storage. Updated the design doc with the above approach.
Thanks!

[2022-08-19 00:24] #1506 closed

[2022-08-19 00:46] gaiksaya commented on #1534
On high level the Jenkins libraries to release the artifacts will be located in opensearch-build repo similar to other jenkins libraries https://github.com/opensearch-project/opensearch-build/tree/main/vars . In this way we can reuse the existing codebase (like for signing).

However in case of JenkinsFiles and its regression test files we have two options: (Need to choose one)

### Option 1:

The

[2022-08-19 13:43] dblock commented on #1534
Because of branching I would choose option 1. I think the Jenkins library should be split up in smaller parts (e.g. signing), each part versioned, and released as a standalone component, similar to GitHub Actions, to solve the cons.

[2022-08-19 15:04] mnin commented on #2460
Thanks @peterzhuamazon for reviewing this issue.

I added a comment to the milestone 4 section to clarify this.

I would like to keep the naming convention from Debian: https://www.debian.org/doc/manuals/debian-faq/pkg-basics.en.html#pkgname

Or does that not make sense?

I added another point to the milestone 3 to adopt the existing scripts which are used for the RPM package.

I already mentioned

[2022-08-19 16:58] peterzhuamazon commented on #2306
Although some shell scripts on certain plugins have issues, I am able to build core now through Jenkins without errors.

[2022-08-19 17:41] gaiksaya commented on #1534
I am not sure that is doable or not @dblock . Was researching regarding jenkins shared libraries and all the content I found is asking to use the git branch, tag or commit as version.

[2022-08-19 17:57] gaiksaya commented on #1537
Closing this issue since we will be going ahead with GitHub release as a mode of trigger for the release.
Thanks!

[2022-08-19 17:57] #1537 closed

[2022-08-19 17:58] gaiksaya commented on #1538
Closing this issue since we will be going ahead with GitHub release as a mode of trigger for the release.
Thanks!

[2022-08-19 17:58] #1538 closed

[2022-08-19 18:19] gaiksaya commented on #1578
For pre-release binaries GitHub release artifacts (or assets as they are called) can be used. In case of large size, a storage infrastructure needs to be used.

For pre-release container images dockerhub allows creating free accounts and host docker images. The component teams can have their own staging account for the same. In case of any other container images, like ECR infrastructure needs to b

[2022-08-19 18:23] zelinh commented on #2452
Logstash-output-opensearch plugin has been published to rubygems.org successfully.
https://rubygems.org/gems/logstash-output-opensearch/versions/1.3.0-java

[2022-08-19 18:23] #2452 closed

[2022-08-19 20:04] dblock commented on #1578
Dockerhub staging is similar to maven staging. I don't have a strong opinion on whether we need to centralize this "storage infrastructure" or can use these different existing ones.

[2022-08-19 23:28] prudhvigodithi commented on #2348
###  Release testing
We have new Artifacts built and ready for testing.

---

#### [OpenSearch docker](https://hub.docker.com/r/opensearchstaging/opensearch/tags?page=1&name=1.3.5.5960)

**Start without security**
Docker command `docker pull opensearchstaging/opensearch:1.3.5.5960 && docker run -it -d -p 9200:9200 -e "discovery.type=single-node" -e "DISABLE_SECURITY_PLUGIN=true" opensearchstaging/

[2022-08-19 23:36] prudhvigodithi commented on #2348
#  OpenSearch Dashboards CommitID(after 2022-07-14) & Release Notes info
|           Repo           |Branch|CommitID|Commit Date|Release Notes|
|--------------------------|-----:|--------|-----------|-------------|
|OpenSearch-Dashboards     |   1.3|88000fc |2022-07-28 |False        |
|functionalTestDashboards  |   1.3|a0267e6 |2022-08-18 |False        |
|securityDashboards        |   1.3|baed4b0

[2022-08-19 23:36] prudhvigodithi commented on #2348
#  OpenSearch CommitID(after 2022-07-14) & Release Notes info
|          Repo           |Branch|CommitID|Commit Date|Release Notes|
|-------------------------|-----:|--------|-----------|-------------|
|OpenSearch               |   1.3|6cabc6a |2022-08-15 |False        |
|common-utils             |   1.3|f30b07d |2022-08-16 |False        |
|job-scheduler            |   1.3|6c688eb |2022-08-16 |Fal

[2022-08-22 16:33] prudhvigodithi commented on #2345
#  OpenSearch CommitID(after 2022-07-26) & Release Notes info
|          Repo           |   Branch   |CommitID|Commit Date|Release Notes|
|-------------------------|------------|--------|-----------|-------------|
|OpenSearch               |tags/2.2.0  |b1017fa |2022-08-08 |True         |
|common-utils             |tags/2.2.0.0|7d53102 |2022-08-04 |False        |
|job-scheduler            |tags/2.

[2022-08-22 17:29] bbarani commented on #2377
Closing this issue in favor of https://github.com/opensearch-project/OpenSearch/issues/1220. Please feel free to re-open this issue if needed.

[2022-08-22 17:29] #2377 closed

[2022-08-22 17:30] bbarani commented on #2114
@saratvemulapalli Can you provide your inputs?

[2022-08-22 17:41] bbarani commented on #2451
@ohltyler We dont have plans to freeze core sooner than the cut-off time rather we would like to start the continuous integration process before the code-cutoff date to surface the issues mentioned [here](https://github.com/opensearch-project/opensearch-build/issues/2451#issuecomment-1212489812) sooner. Would it help if we add an additional phase (CI on-boarding) to the release checklist prior to

[2022-08-22 17:52] gaiksaya commented on #1536
https://github.com/opensearch-project/opensearch-build/issues/1534#issuecomment-1220700133

[2022-08-22 17:59] bbarani commented on #1680
@tianleh Can you please prioritize this documentation effort?

[2022-08-22 18:10] gaiksaya opened #2489 "Enable versioning for jenkins shared libraries"
### Problem:
Since the jenkinsFile for individual client or any component repositories will be living in the respective GitHub repository, the share jenkins library stored in opensearch-build repo will act as upstream library for all actions.
If not versioned, a breaking change can be introduced causing the non-exercised release workflows in remote repositories to break.

### Acceptance Criteria:

[2022-08-22 18:25] prudhvigodithi opened #2490 "[POC] Build repo versioning framework."
### Is your feature request related to a problem? Please describe

Coming from issue with [Branching Strategy](https://github.com/opensearch-project/opensearch-build/issues/1975).
Come up a solution to create a framework like architecture (example like existing build-tools with OpenSearch), that can be imported during runtime to get the point in time code of jenkins shared libs and python workflow

[2022-08-22 18:27] dblock commented on #2451
The existing checklist already has an entry that says "increment the version to next developer iteration", which automatically means that CI should be building on that next version.

[2022-08-22 18:41] prudhvigodithi commented on #1602
With new RPM and YUM setup, its just few lines to start the cluster, please check the following link https://opensearch.org/docs/latest/opensearch/install/rpm/.
having an AMI requires an periodic update with new release, instead its easy to start the cluster on an latest AL2 AMI, with commands from the above link, Please check and add your thoughts @sharp-pixel.
Thank you

[2022-08-22 19:03] bbarani commented on #712
Closing this issue as we are noticing this issue anymore now.

[2022-08-22 19:03] #712 closed

[2022-08-22 19:23] gaiksaya commented on #985
I believe this is already implemented in out code base now under
src: https://github.com/opensearch-project/opensearch-build/tree/main/src/jenkins
vars: https://github.com/opensearch-project/opensearch-build/tree/main/vars

[2022-08-22 19:23] #985 closed

[2022-08-22 19:24] gaiksaya commented on #935
Closing this issue as the role has been added to public jenkins. Please reopen if issue still exists.
Thanks!

[2022-08-22 19:24] #935 closed

[2022-08-22 20:25] gaiksaya commented on #1578
Problem with using existing ones is again centralized credentials management. So can't use opensearchstaging account but new one can be created by component/client team to manage the container images.

Here are the recommendations:

* What is the recommended way to store pre-release binaries artifacts?
Recommended way is to use github release assets to store the binaries. If the size of the binari

[2022-08-22 20:36] prudhvigodithi commented on #2345
Closing this issue and the release_notes_workflow and jenkins job code is merged to main.
https://build.ci.opensearch.org/job/release-notes-tracker/

[2022-08-22 20:36] #2345 closed

[2022-08-22 20:36] bbarani commented on #2460
@elfisher @krisfreedain @dblock @setiah  Do you have any inputs on the naming part?

[2022-08-22 20:39] prudhvigodithi commented on #2470
Closing this issue as now all plugins 1.3 branch should have the default `build.sh` script.

[2022-08-22 20:47] dblock commented on #2188
The current best version of pros (keep monorepos) and cons (split per component) is as follows.

Help me update the lists? What's missing in either?

*Pros (keep 4 monorepos)*:

* Developers have a single repository to build, unit test, and write ITs to validate all components of the related ecosystem interacting with each other.
* Developers and community members have a single place to report and

[2022-08-22 22:47] #1578 closed

[2022-08-22 22:48] gaiksaya commented on #1536
Versioning is the way to go forward. If anyone has something better please let us know. Created an issue to track this during implementation https://github.com/opensearch-project/opensearch-build/issues/2489

[2022-08-22 22:48] #1536 closed

[2022-08-22 23:25] prudhvigodithi commented on #2348
Open Search dashboard Integ-test results:

**without-security** (All tests pass)
[code]

**without-security** (One test fail)

[code]

[2022-08-22 23:26] joshuali925 commented on #2188
Agree with the other points. Two comments, feel free to correct or ignore my comments if my understanding is inaccurate.

I'm assuming the confusing part is that the repo name and the sub-component name are both `dashboards-reports`. I think the pros/cons list should apply to all mono-repos, but this one seems to be specific with dashboards-reports, and it's more of a naming issue rather than issu

[2022-08-23 00:20] setiah commented on #2460
I like following the standard [Debian naming convention](https://www.debian.org/doc/manuals/debian-faq/pkg-basics.en.html#pkgname) as suggested by @mnin. The package naming conventions do vary across platforms so it doesn't seem like a problem to me.

[2022-08-23 00:33] gaiksaya commented on #1534
Researched a bit on pulling different versions for remote jenkins shared libraries, and found this plugin https://plugins.jenkins.io/workflow-cps-global-lib-http/
Discussed with @prudhvigodithi, we can publish the zips to maven or any other artifact repository (s3 works as well) for different versions and accordingly pull the required version.

Few things to keep in mind:
1. Jenkins Shared Library

[2022-08-23 01:21] gaiksaya commented on #2489
Researched a bit on pulling different versions for remote jenkins shared libraries, and found this plugin https://plugins.jenkins.io/workflow-cps-global-lib-http/
Discussed with @prudhvigodithi, we can publish the zips to maven or any other artifact repository (s3 works as well) for different versions and accordingly pull the required version.

Few things to keep in mind:

-  Jenkins Shared Librar

[2022-08-23 01:30] gaiksaya opened #2493 "Documentation meta issue"
As in case of any project documentation is critical and should be added as well as maintained as the project progress. Listing few points that needs to be added as a part of the documentation:

- [ ] Onboarding to universal release mechanism
- [ ] How remote repositories should add ci checks for their JenkinsFiles
- [ ]  Determine the smallest size a workflow can be to limit the number of practice

[2022-08-23 01:35] gaiksaya commented on #1534
* _Determine the smallest size a workflow can be to limit the number of practices that need to be enforced._
Will be added as a part of documentation issue

* _Define when code should be authored externally vs at the central repository._
See [Option 1](https://github.com/opensearch-project/opensearch-build/issues/1534#issuecomment-1220116712)
The cons can be resolved by 1. versioning the shared li

[2022-08-23 01:39] #1534 closed

[2022-08-23 01:41] #2470 closed

[2022-08-23 04:21] prudhvigodithi commented on #2348
OpenSearch 5960 integ-test result.
[code]

[2022-08-23 15:54] prudhvigodithi opened #2495 "Build repo: Move all `.sh` scripts from root folder to `scripts/` folder."
### Is your feature request related to a problem? Please describe

There are multiple bash scripts that are part of the [root folder](https://github.com/opensearch-project/opensearch-build), there is an already exists [scripts/](https://github.com/opensearch-project/opensearch-build/tree/main/scripts) folder. It would be clean to move the `.sh` files from the root to folder and store them under `s

[2022-08-23 17:01] dblock commented on #2188
Thanks @joshuali925. Also I want to add "Prevents versioning OpenSearch and OpenSearch Dashboards independently".

For example, with diverging version numbers of say OpenSearch 2.0 developed at the same time as OpenSearch Dashboards 3.0. How do you branch the monorepo (at time of OpenSearch 2.0 we create a branch 2.0, then at time of OpenSearch Dashboards 3.0 we create a branch 3.0, then at time o

[2022-08-23 17:10] dblock commented on #2489
+1 on separating the library into a new repository and automating away builds/releases

[2022-08-23 17:34] bowenlan-amzn commented on #2348
index-management failures are known flaky test
[code]

We are fixing it in this PR: https://github.com/opensearch-project/index-management/pull/460

[2022-08-23 17:39] prudhvigodithi commented on #2489
This is even possible with git, separating out is good, if so then we should consider separating out the python workflows as well.

What is propose is?

Upon every merge to `main` or when we call for a date of release (Not linked to the Os and OSD release).
`git clone -b main https://github.com/opensearch-project/opensearch-build.git --depth 1`
`git archive --format zip --output buildsetup-1.0.0.z

[2022-08-23 18:25] gaiksaya opened #2499 "test_run_id is irrelevant and should be removed"
The test-run id was added as a part of test_recorder library to form a unique directory structure for each run. However, looking at how it has been used, seems like its useless.

src code: https://github.com/opensearch-project/opensearch-build/blob/main/src/test_workflow/test_recorder/test_recorder.py#L26

Example:
https://github.com/opensearch-project/opensearch-build/blob/main/vars/runIntegTestS

[2022-08-23 18:33] gaiksaya commented on #2489
I think we are complicating this by mixing 2 things, python build code and jenkins shared library.
I agree they are connected today in someway but that won't be the case in the long run. For example, python code receives frequent contributions which might need frequent releases compared to jenkins shared libraries which won't be that often.
This version history might be confusing for external cons

[2022-08-23 18:34] pjfitzgibbons commented on #2188
I have a thought that is I think might be a positive-consequence of splitting the repos - allowing developer-environment setup for FE/BE with multiple plugins “at one time”.

I don’t know how infra does the release-compiling, especially with our “batteries-included” zip/download that contains Core, Reporting, Observability, etc.

As a newish contributor to OSD/Observability, though (3rd month on t

[2022-08-23 18:59] prudhvigodithi commented on #2489
All I'm thinking is versioning the entire code and inside that code we can choose if we want shared libraries or normal workflows, I dont deny its easy to separate the shared libraries and version it, but its always a hanging piece to maintain, from rest of the code base, with this I'm open for thoughts.
@dblock @bbarani

[2022-08-23 18:59] dblock commented on #2188
Thanks @pjfitzgibbons I think that maybe my way of putting pros/cons doesn't sufficiently address these two options in situ. Here's an updated list (I made it option A and B).

Option A: Continue allowing related components of one feature to exist in a single GitHub repository.

*Pros*:

* Developers have a single repository to build, unit test, and write ITs to validate all components of the rela

[2022-08-23 20:03] peterzhuamazon commented on #2025
New changes to relax the downloading process of maven artifacts as it is pushing the jenkins to its limits.
The symptoms are lagging host and agent node as well as stuck on logs and disconnect with ssh to agent node.

[2022-08-23 21:18] bbarani commented on #2489
I would recommend moving forward with separate repo for Jenkins shared library for now to unblock the progress and piggy back for other items soon after that as required. @prudhvigodithi @gaiksaya

[2022-08-23 22:02] #2499 closed

[2022-08-23 22:32] gaiksaya commented on #2396
PR #2500 will help to get a dedicated URL to get the performance test results based on top 10 builds in jenkins. The file name has been changed to `perf-test.json` instead of `test_id.json` https://github.com/opensearch-project/opensearch-infra/pull/164 to avoid dynamic naming.

[2022-08-24 00:12] burck1 commented on #33
@ZakMcKrack3n, FYI, ran into this today, [PR](https://github.com/opensearch-project/OpenSearch/pull/4289) submitted.

[2022-08-24 00:17] gaiksaya commented on #2489
Sounds good. In that case I don't think we need to publish at all as git tags can be used by remote repositories to use a particular version of shared libraries using dynamic retrieval method https://www.jenkins.io/doc/book/pipeline/shared-libraries/#dynamic-retrieval
As for python code we have issue #2490 opened to figure out that problem.
Thanks!

[2022-08-24 00:24] gaiksaya opened #2504 "[Bug]: The cdk clusters used for performance testings are not destroyed if build is aborted"
### Describe the bug

If the build is aborted in https://build.ci.opensearch.org/job/perf-test/ the underlying performance test clusters brought up using cdk are not destroyed causing them to be abandoned until manually cleaned

### To reproduce

Run the above job and abort it.
Got to the related aws account and see that cloudformation stack for that job is not destroyed

### Expected behavior

St

[2022-08-24 00:33] gaiksaya opened #2505 "Inventory and create library functions for common functionality"
- [x] opensearch-project/opensearch-build#2637
- [x] https://github.com/opensearch-project/opensearch-build/issues/2398
- [x] https://github.com/opensearch-project/opensearch-build-libraries/pull/127
- [x] opensearch-project/opensearch-build#2839
- [x] opensearch-project/opensearch-build#2857
- [x] opensearch-project/opensearch-build#2965
~- [ ] publishToDockerHub~ We already have a CopyContainer

[2022-08-24 15:21] dblock commented on #2460
+1 on following what Debian wants, even though I find it aesthetically displeasing ;) I found [this](https://unix.stackexchange.com/questions/363694/why-the-different-punctuation-in-debian-package-file-names-vs-source-directory) interesting too.

[2022-08-24 17:44] prudhvigodithi commented on #2345
[Finalized comment from release issue 1.3.5](https://github.com/opensearch-project/opensearch-build/issues/2348#issuecomment-1224990360)
#  OpenSearch Dashboards CommitID(after 2022-07-14) & Release Notes info
|           Repo           |Branch|CommitID|Commit Date|Release Notes|
|--------------------------|-----:|--------|-----------|-------------|
|OpenSearch-Dashboards     |   1.3|d81a165 |2022

[2022-08-24 18:52] peterzhuamazon commented on #2460
RPM is already not following the rpm naming scheme, this requires a lot of changes to our build scripts just to consume a new naming scheme.

[2022-08-24 20:26] peterzhuamazon commented on #2306
This issue has surfaced more and more now:
[code]

[2022-08-24 23:51] gaiksaya commented on #2489
Listing down the files/folders that need to be moved to new repository:

- https://github.com/opensearch-project/opensearch-build/vars
- https://github.com/opensearch-project/opensearch-build/tree/main/src/jenkins
- https://github.com/opensearch-project/opensearch-build/tree/main/tests/jenkins
- https://github.com/opensearch-project/opensearch-build/tree/main/publish

We need to make sure that the

[2022-08-25 17:03] #2025 closed

[2022-08-25 17:28] peterzhuamazon commented on #828
This is not needed for now as it is mainly for knn and pa configurations and those two are not really supported on Windows yet. Will keep this open until those plugins are available.

Thanks.

[2022-08-25 17:54] peterzhuamazon commented on #1808
Find the issue:

https://github.com/JasonEtco/create-an-issue/issues/74#issuecomment-739554602

[2022-08-25 17:56] peterzhuamazon commented on #1808
Seems like @dblock already implement this then I can either fix in his fork, or just create a new env var with the `v` + `VERSION`.

https://github.com/JasonEtco/create-an-issue/pull/95

[2022-08-25 18:37] dblock commented on #1808
Yes please use https://github.com/marketplace/actions/create-a-github-issue!

[2022-08-25 18:44] peterzhuamazon commented on #1808
I was reading about nunjucks and seems like it is just not checking out the latest changes you implemented here:

https://github.com/dblock/create-a-github-issue/commit/95768e83ba103bc646df2aa691258fe8207cf2c6

Thanks.

[2022-08-25 18:46] jordarlu opened #2510 "[Bug]: A broken link on page opensearch-build/vars/README.md"
### Describe the bug

A broken link on Jenkins shared library README.md is discovered.

existing:

Running Integration Tests
See [runIntegTests](https://github.com/opensearch-project/opensearch-build/blob/main/vars/runIntegTests.groovy).

Correction:
Running Integration Tests
See [runIntegTestScript](https://github.com/opensearch-project/opensearch-build/blob/main/vars/runIntegTestScript.groovy).

[2022-08-25 19:21] elfisher commented on #2460
+1 to following the Debian naming convention.

[2022-08-25 19:49] zelinh opened #2512 "Add lock argument along with the actual building process"
### Is your feature request related to a problem? Please describe

### Problem statement

For our [build dashboards](https://github.com/opensearch-project/opensearch-build/issues/2297), we are displaying the running status of each `distribution build` along with the head commit for each plugins included in the workflow. The way we getting the commit ID right now is by checking out into each plugin

[2022-08-25 19:56] dblock commented on #2512
There's a bit of misunderstanding above re:the lock option. It was designed to solve a different problem.

We have a parallel build process that builds x64 and amd64 in parallel. Let's say the input manifest ref for common-utils is `main`. The x64 build may check out common-utils `main` at `rev1`, then someone makes a commit to common-utils with `rev2`, and the amd64 build that runs a little bit b

[2022-08-25 20:09] #1808 closed

[2022-08-25 22:21] #2167 closed

[2022-08-25 23:44] gaiksaya commented on #2489
[Offline discussion] Apart from shared libraries, we would still need branching or code separation for build side of things. Example: OpenSearch makes some huge change in upcoming 3.x that changes the rpm spec file or tar-install.sh script. In that case the changes to build code should be only concerned to 3.x and not 2.x. We do not have a mechanism today to separate that out.

As for shared libra

[2022-08-26 00:18] #2451 closed

[2022-08-26 00:18] peterzhuamazon commented on #2451
Thanks everyone for the feedback this retro is closed for now.
Thanks.

[2022-08-26 00:18] #2271 closed

[2022-08-26 01:43] bbarani commented on #722
Closing this issue as its being tracked by @AMoo-Miki

[2022-08-26 01:43] #722 closed

[2022-08-26 16:55] peterzhuamazon commented on #2306
After moving to production jenkins we see this issue again:
[code]

[2022-08-26 18:27] dblock commented on #2306
There's a bug in this case @peterzhuamazon: `UnboundLocalError: local variable 'func_result' referenced before assignment`, you should fix that regardless.

[2022-08-26 18:42] peterzhuamazon commented on #2306
I noticed that it is because there is no error thus return `None` thus no assignment.

[2022-08-26 18:58] dblock commented on #2306
Write a unit test that reproduces this, then fix ;)

[2022-08-26 20:05] peterzhuamazon commented on #2460
Hi,

Just to compare, all of the current artifacts in TAR/RPM/ZIP are following this naming convention:

[code]

If we make debian to follow the debian naming scheme it would become an outlier compares to other distribution.

Tho not a blocker but definitely something we need to be careful when approaching the renaming.

Thanks.

[2022-08-29 16:08] prudhvigodithi opened #2521 "[Campaign] `opensearch.opensearchplugin` add `groupID` field to `org.opensearch.plugin`"
### Is your feature request related to a problem? Please describe

Main Related issue: https://github.com/opensearch-project/OpenSearch/pull/4156
Track the plugins to make sure the `groupId` is added as `org.opensearch.plugin` to the publication `pluginZip` inside the `build.gradle` file.

- [x] [opensearch-plugin-template-java](https://github.com/opensearch-project/opensearch-plugin-template-java

[2022-08-29 16:20] bbarani commented on #2348
Hello OpenSearch community. We have discovered a potential last minute issue and need to perform due diligence on it. The teams are still working on this and we will provide another update by the 31st. Your patience is appreciated. Please refer to https://forum.opensearch.org/t/update-1-3-5-2-2-1-on-hold/10727 for current status.

[2022-08-29 16:21] bbarani commented on #2481
Hello OpenSearch community. We have discovered a potential last minute issue and need to perform due diligence on it. The teams are still working on this and we will provide another update by the 31st. Your patience is appreciated. Please refer to https://forum.opensearch.org/t/update-1-3-5-2-2-1-on-hold/10727 for current status.

[2022-08-29 16:49] bbarani commented on #2510
Closing this issue as we have fixed the broken link on the documentation page.

[2022-08-29 16:49] #2510 closed

[2022-08-29 17:53] prudhvigodithi commented on #2521
Adding @lukas-vlcek @dblock @bbarani

[2022-08-29 18:23] joshuali925 opened #2522 "Release .NET Clients version 1.1.0 to NuGet"
### Is your feature request related to a problem? Please describe

OpenSearch 2.x had a few breaking changes and is no longer compatible with .NET Client version 1.0.0. We would like to publish .NET Client version 1.1.0 to NuGet, which will be compatible with OpenSearch 1.x and 2.x.

### Describe the solution you'd like

Infra's help to prepare a new release, and publish artifacts to NuGet after c

[2022-08-29 20:06] bbarani commented on #2522
@joshuali925 @anirudha Please confirm that all the necessary reviews have been completed before proceeding with the release. @prudhvigodithi

[2022-08-29 20:08] bbarani commented on #2460
@elfisher @dblock @setiah @mnin  I assume you all are good with following different naming convention specific to Debian packages? Can we proceed based on that assumption?

[2022-08-29 20:21] dblock commented on #2460
I think you should make this call @peterzhuamazon. My opinion is not very uneducated.

[2022-08-29 20:27] zelinh commented on #2410
Close this as this has been completed. More enhancements can be related to #2512

[2022-08-29 20:27] #2410 closed

[2022-08-29 21:28] bbarani opened #2524 "Add automated validation during releases"
### Is your feature request related to a problem? Please describe

We are currently doing manual validation for verifying the artifacts, download links and signatures during release process. This is taking additional time and adding manual overhead during release process.

### Describe the solution you'd like

Automate the below validation and verification process during OpenSearch releases,

- Va

[2022-08-30 17:45] prudhvigodithi commented on #1436
I dont see this a breaking issue, for the fact the build repo workflows has to be called with scripts being on the workspace folder example as `./build.sh`, `./test.sh`, having a separate copy in another folder would end changing the logic, but long story short is this still valid @gaiksaya @peterzhuamazon ?

[2022-08-30 17:48] gaiksaya commented on #1436
We can remove the cloning logic from this library and let the workspace take care of the execution of `.sign.sh` similar to test and build.sh

[2022-08-30 17:49] prudhvigodithi commented on #1688
Hey @kavilla the OpenSearch integ tests for CI, yes they do run in docker agents, but when executed locally its not, we can close this issue, wdyth @kavilla ?

[2022-08-30 17:59] prudhvigodithi commented on #1463
This is closely related to this issue https://github.com/opensearch-project/opensearch-build/issues/1366
Right now in the manifest we first build the Core, job-scheduler and common-utils and then update with other components. This is a known dependency model, in terms of automation what we can do is, since we have a `--component` feature in now for build workflow, we can onboard all the components

[2022-08-30 18:01] prudhvigodithi commented on #774
Hey @peterzhuamazon can you please add some details here, is this a known issue or is it already taken care ?

[2022-08-30 18:05] prudhvigodithi commented on #2495
Can you please add your thoughts? This would clean the repo root folder and would better organize the scripts.
@opensearch-project/engineering-effectiveness

[2022-08-30 19:08] prudhvigodithi commented on #2469
[Triage] Hey @MaxKsyunz can you please add some more details, what type of signing is expected to be part of the workflow? Following is the link that shows the supported signing formats.
https://github.com/opensearch-project/opensearch-build#signing-artifacts

[2022-08-30 19:09] peterzhuamazon commented on #2495
That is a huge change especially the build.sh/test.sh/assemble.sh/sign.sh etc.
A lot of the libs and code needs to accommodate this change.
Need to approach with caution, and I dont think it is very urgent to make this change right now.

[2022-08-30 19:11] peterzhuamazon commented on #774
Just close this one as all the changes are tracked in https://github.com/opensearch-project/opensearch-build/issues/2306

[2022-08-30 19:11] #774 closed

[2022-08-30 19:12] prudhvigodithi commented on #2495
Similar related issue: https://github.com/opensearch-project/opensearch-build/issues/153

[2022-08-30 19:12] peterzhuamazon commented on #1436
This was at a time when we are not sure about how Jenkins workspace default git clone runs.
We can ignore this issue for now.

[2022-08-30 21:15] deepdatta opened #2528 "Build and upload the tar artifacts and Docker image for logstash-oss 8.3.2 with logstash-output-opensearch 1.3.0"
Run MCM-62652360 to rpublish artifacts and Docker image for logstash-oss 8.3.2 with logstash-output-opensearch 1.3.0

[2022-08-30 21:42] prudhvigodithi commented on #2348
###  Release testing
**08/30/2022**
We have new Artifacts built and ready for testing.

---

#### [OpenSearch docker](https://hub.docker.com/r/opensearchstaging/opensearch/tags?page=1&name=1.3.5.5996)

**Start without security**
Docker command `docker pull opensearchstaging/opensearch:1.3.5.5996 && docker run -it -d -p 9200:9200 -e "discovery.type=single-node" -e "DISABLE_SECURITY_PLUGIN=true" ope

[2022-08-30 21:43] bbarani commented on #2348
We have got a green signal to release 1.3.5 and 2.2.1 on Sept 01 2022 and we have started prepping for the release.

[2022-08-30 21:43] bbarani commented on #2481
We have got a green signal to release 1.3.5 and 2.2.1 on Sept 01 2022 and we have started prepping for the release.

[2022-08-30 21:56] prudhvigodithi commented on #2348
[OpenSearch 5996](https://build.ci.opensearch.org/job/distribution-build-opensearch/5996/console ) integ-test result.

Success with arm64

Failed with x64:
[code]
@bowenlan-amzn can you please confirm again, if this [comment](https://github.com/opensearch-project/opensearch-build/issues/2348#issuecomment-1224421223) is still valid for this failure.

[2022-08-30 22:00] prudhvigodithi commented on #2348
[OpenSearch Dashboard 4074](https://build.ci.opensearch.org/job/distribution-build-opensearch-dashboards/4074/console ) integ-test result.

**with-secuirty**
[code]

**without-secuirty**
[code]

[2022-08-30 22:14] prudhvigodithi commented on #2481
Release testing
08/30/2022
We have new Artifacts built and ready for testing.

## Click to expand and get the latest `docker-compose.yml`:
<details>
<summary>docker-compose.yml OS 5997 OSD 4075</summary>

[code]

</details>

------

- Use Docker-Compose to setup a cluster
  + Copy above content as docker-compose.yml on your machine (The above content will change depend on whether we have a new bui

[2022-08-30 22:27] prudhvigodithi commented on #2481
[OpenSearch 5997](https://build.ci.opensearch.org/job/distribution-build-opensearch/5997/console) integ-test result.

Success with arm64

Success with x64

[2022-08-30 22:30] peterzhuamazon commented on #2306
I think I finally fix the issues with malloc on git:
[code]

[2022-08-30 22:34] prudhvigodithi commented on #2481
[OpenSearch Dashboard 4074](https://build.ci.opensearch.org/job/distribution-build-opensearch/4074/console) integ-test result.

**with-security arm64**
[code]
**with-security x64**
[code]

**without-security arm64**
All tests pass

**without-security x64**
[code]

[2022-08-30 23:41] gaiksaya commented on #1468
These tests for jenkinsFiles and not the libraries. We need to add tests for the existing jenkinsFile in this repo. Might need to revisit the list mentioned in description.

[2022-08-31 06:20] gaiksaya opened #2529 "Release version 2.3.0"
This is a component issue for __2.3.0__.
Coming from [opensearch-build#2447](https://github.com/opensearch-project/opensearch-build/issues/2447). Please follow the following checklist.
__Please refer to the DATES in that post__.

<details><summary>How to use this issue</summary>
<p>

## This Component Release Issue

This issue captures the state of the OpenSearch release, on component/plugin level

[2022-08-31 06:41] gaiksaya opened #2530 "Release version 2.3.0"
This is a component issue for __2.3.0__.
Coming from [opensearch-build#2447](https://github.com/opensearch-project/opensearch-build/issues/2447). Please follow the following checklist.
__Please refer to the DATES in that post__.

<details><summary>How to use this issue</summary>
<p>

## This Component Release Issue

This issue captures the state of the OpenSearch release, on component/plugin level

[2022-08-31 06:43] #2529 closed

[2022-08-31 06:43] gaiksaya commented on #2530
Duplicate

[2022-08-31 06:43] #2530 closed

[2022-08-31 16:16] prudhvigodithi commented on #1148
Hey I dont see we are using this al2 CI image anymore, please correct me if i'm wrong ? If so can we close this issue?
Dockerfiles: https://github.com/opensearch-project/opensearch-build/tree/main/docker/ci/dockerfiles/current
@bbarani @peterzhuamazon @gaiksaya

[2022-08-31 16:44] prudhvigodithi commented on #2528
Thanks @deepdatta, can you please update the description adding some more details and linking to some related issues?
CC: @opensearch-project/engineering-effectiveness

[2022-08-31 17:04] Angie-Zhang commented on #2348
We have merged the PR for fixing. @prudhvigodithi  Could you test it again?

[2022-08-31 17:16] bowenlan-amzn commented on #2348
The failure this time is different, but still an observed flaky test recorded [here](https://github.com/opensearch-project/index-management/issues/90#issuecomment-1106972118). We will look into it later.
[code]

[2022-08-31 17:31] prudhvigodithi commented on #2348
Hey @Angie-Zhang thanks can you please share the PR here, just to track on this issue.

[2022-08-31 17:31] prudhvigodithi commented on #2348
Thanks @bowenlan-amzn that being said we can ignore this for the release?

[2022-08-31 17:33] Angie-Zhang commented on #2348
I checked the log, it is caused by random seed issue. We can ignore this for the release. We may fix it later then back port it.

[2022-08-31 18:27] AWSHurneyt commented on #2348
Looking into the alerting dashboard `bucket_level_monitor_spec` test failure. There is 1 test in `bucket_level_monitor_spec` that can be flaky depending on how long it takes for the sample data index to be created. I suspect that's causing this failure after looking at the stacktrace with @prudhvigodithi yesterday. He mentioned today that the test failed with the same error again. Continuing to in

[2022-08-31 18:28] eugenesk24 commented on #2348
Looking into app_analytics test failure

[2022-08-31 18:43] peterzhuamazon commented on #2306
It seems like after running for a while (5x runs) windows will enter a state where the mem and processes are exhausted while in reality it does not.

1. Malloc happens no matter what settings you put, only happens when you connect as jenkins agent.
2.
[code]
Very random and can be resolved by disabling the ssl check, not ideal.
[code]

3. sh() commands will stuck and refused to run, seems like som

[2022-08-31 19:16] peterzhuamazon opened #2531 "[Enhancement] Avoid manually clear cloudfront cache for YUM repo metadata before each releases"
We need to make sure the metadata is updated after the new ones being pushed to S3.
Cloudfront current have default TTL for the caches, so we need to manually purge the cache every release.

[2022-08-31 19:18] #2531 closed

[2022-08-31 19:34] peterzhuamazon commented on #2306
This time windows did not crash on git for 10runs but it suddenly disconnect itself from the main node......

[2022-08-31 20:28] peterzhuamazon commented on #2306
After adding `chmod -Rc ${pwd}` in the build.sh for a component, the deletion problem completely gone.
More research seems indicating that os.chmod is not even responding to the IWRITE/IREAD correctly sometimes.
This can results in issues where folder is not accessible despite having RW in acl.

One community package `oschmod` without the `.` is actually a replacement of the default `os.chmod`.
Ho

[2022-08-31 22:27] dblock opened #2535 "[Bug]: No opensearch 3.x builds for 24+ hours"
### Describe the bug

Coming from https://github.com/opensearch-project/OpenSearch/issues/4336#issuecomment-1233478981, last successful https://build.ci.opensearch.org/job/distribution-build-opensearch/ was 24+ hours ago.

<img width="999" alt="Screen Shot 2022-08-31 at 6 26 32 PM" src="https://user-images.githubusercontent.com/542335/187795991-b1b95a9a-41ae-4fa3-8a56-0290cf70f883.png">

### To re

[2022-08-31 22:31] wbeckler commented on #2522
We have not merged a couple key commits for this release. This should happen in the next 24 hours.

[2022-08-31 22:43] vibrantvarun opened #2536 "Create a custom jenkins build"
Opensearch extensibility team is planning to automate performance testing. To automate that we need to create a Jenkins job. In order to that is there any process to have a custom Jenkins build for the above purpose? 

[2022-08-31 23:44] prudhvigodithi commented on #2348
#  OpenSearch CommitID(after 2022-07-14) & Release Notes info
|          Repo           |Branch|                                                                                   CommitID                                                                                    |Commit Date|Release Notes|
|-------------------------|-----:|-------------------------------------------------------------------

[2022-08-31 23:48] prudhvigodithi commented on #2481
#  OpenSearch CommitID(after 2022-07-12) & Release Notes info
|          Repo           |Branch|                                                                                                                                                                                                                                         CommitID

[2022-09-01 14:25] dblock commented on #2535
The build was disabled to debug an infrastructure issue, now back.

https://build.ci.opensearch.org/job/distribution-build-opensearch/5999/

[2022-09-01 14:25] #2535 closed

[2022-09-01 18:25] peterzhuamazon commented on #2306
Test shows `oschmod pypi pkg` actually not even able to change the permissions like legacy `os.chmod`.
The pkg is over 1 year old without new updates at this point.
It is possible that is not even useful at this point.

Thanks.

[2022-09-01 18:32] prudhvigodithi commented on #2348
**1.3.5 Native plugin validation to  install repository-s3**
[code]

[2022-09-01 18:32] prudhvigodithi commented on #2481
**1.3.5 Native plugin validation to  install repository-s3**
[code]

[2022-09-01 18:37] prudhvigodithi commented on #2348
**OpenSearch 1.3.5 release maven validation**
<img width="922" alt="Screen Shot 2022-09-01 at 11 36 43 AM" src="https://user-images.githubusercontent.com/28733332/187987939-db064313-f9b3-4a3d-a63f-4a316ebdb7c8.png">

[2022-09-01 18:40] prudhvigodithi commented on #2481
**OpenSearch 2.2.1 maven release validation**
<img width="949" alt="Screen Shot 2022-09-01 at 11 40 37 AM" src="https://user-images.githubusercontent.com/28733332/187988658-588853b1-1a82-4982-a201-d86b65b298f8.png">

[2022-09-01 18:57] prudhvigodithi opened #2538 "[Retrospective] Release Version 2.2.1"
### **Related release issue?**
https://github.com/opensearch-project/opensearch-build/issues/2481

### **How to use this issue?**
Please add comments to this issue, they can be small or large in scope. Honest feedback is important to improve our processes, suggestions are also welcomed but not required.

### **What will happen to this issue post release?**
There will be a discussion(s) about how t

[2022-09-01 19:00] prudhvigodithi opened #2539 "[Retrospective] Release Version 1.3.5"
### **Related release issue?**
https://github.com/opensearch-project/opensearch-build/issues/2348

### **How to use this issue?**
Please add comments to this issue, they can be small or large in scope. Honest feedback is important to improve our processes, suggestions are also welcomed but not required.

### **What will happen to this issue post release?**
There will be a discussion(s) about how t

[2022-09-01 19:12] gaiksaya commented on #2536
Hi @vibrantvarun , Please see https://github.com/opensearch-project/opensearch-ci to bring up you own jenkins infrastructure.

[2022-09-01 20:18] peterzhuamazon commented on #1148
This is not even an issue anymore it was a overlook at the time when we try to build knn on al2 and revert back to centos7.
Close now.

[2022-09-01 20:18] #1148 closed

[2022-09-01 20:21] bbarani commented on #2536
I would recommend using OpenSearch Benchmark for this purpose

[2022-09-02 15:40] prudhvigodithi opened #2545 "Automate: Update the Github release issue with the right RC information."
### Is your feature request related to a problem? Please describe

Coming from an [example RC](https://github.com/opensearch-project/opensearch-build/issues/2348#issuecomment-1221167810) (release candidate) information, there is lot of manual effort involved in adding/editing the comment that has the detailed information about the generated release candidate information for a specific version. Thi

[2022-09-02 15:50] prudhvigodithi opened #2546 "Automate: Update the manifest refs to tags."
### Is your feature request related to a problem? Please describe

After every release the [Post release activity](https://github.com/opensearch-project/opensearch-build/issues/2481) is to update the [manifest refs](https://github.com/opensearch-project/opensearch-build/blob/main/manifests/2.2.1/opensearch-2.2.1.yml#L13) to point to the generated tags, here is an example [manual PR ](https://githu

[2022-09-02 16:03] prudhvigodithi opened #2547 "Automate: The docker layer validation."
### Is your feature request related to a problem? Please describe

During the release when the [docker promotion](https://build.ci.opensearch.org/job/docker-promotion/) job is called, it copies the RC images to the actual version tags and pushes to the [production account dockerhub](https://hub.docker.com/u/opensearchproject), this is done using `gcrane` cli. Once called and promotion is done as a

[2022-09-02 16:49] deepdatta opened #2548 "Build and publish logstash-output-opensearch to RubyGems.org for 2.0.0 Version"
Build and publish logstash-output-opensearch to rubygems.org for 2.0.0 Version

[2022-09-02 16:52] prudhvigodithi opened #2549 "Branching Strategy Implementation"
### Is your feature request related to a problem? Please describe

Coming from the initial [[Proposal] Branching strategy for build](https://github.com/opensearch-project/opensearch-build/issues/1975) and the solution [proposed](https://github.com/opensearch-project/opensearch-build/issues/1975#issuecomment-1145862692) as part of this proposal would be the closest implementation for the build repo

[2022-09-02 17:21] peterzhuamazon commented on #2306
Able to produce a min zip with nearly all the upload steps passed.
Since I am testing on staging it is not able to push to S3 but it is close.
Once I have the PR up it should be running well.

[2022-09-05 09:59] tuotempo opened #2552 "[Bug]: opensearch_node container does not restart on error"
### Describe the bug

I am running an opensearch docker container, that sometimes exits with code 0 even if I see errors on logs

### To reproduce

I have created the container with this java options inside Env:
`"OPENSEARCH_JAVA_OPTS=-Xms8m -Xmx8m"`

so that the `java.lang.OutOfMemoryError: Java heap space` is triggered almost immediately after the container starts.

### Expected behavior

I have

[2022-09-05 15:39] dblock commented on #2545
I think you can simplify this further by having an artifacts.md file generated for every build instead of having a template to append to a GitHub issue.

Another idea is that logically what you're trying to do is "declare a build a release candidate". When that happens several activities need to be executed, including appending testing information to a GitHub issue. If a new Jenkins workflow is ad

[2022-09-05 15:40] dblock commented on #2546
+1 on extending the existing job

[2022-09-05 15:44] dblock commented on #2549
This branching strategy seems to assume that major version numbers are in sync. This is not the case.

The build repo builds many products that have significantly diverging build numbers, starting with OpenSearch and OpenSearch Dashboards that are going to be increasingly diverging as independent products. We follow semver, so there's no need to increment a major version number of OpenSearch unles

[2022-09-05 15:45] dblock commented on #2306
@peterzhuamazon If the best answer on Windows is to shell out some command to change permissions, that's OK to implement in Python code

[2022-09-06 00:31] bbarani commented on #2522
@wbeckler @anirudha @joshuali925 Are we good for releasing the 1.1.0 version? Do we have a branch for releasing the new version? Please confirm before we start the publishing process. @prudhvigodithi

[2022-09-06 05:35] mend-for-github-com[bot] opened #2553 "CVE-2022-25857 (High) detected in snakeyaml-1.29.jar"
## CVE-2022-25857 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>snakeyaml-1.29.jar</b></p></summary>

<p>YAML 1.1 parser and emitter for Java</p>
<p>Library home page: <a href="http://www.snakeyaml.org">http://www.snakeyaml.org</a></p>
<p>Path to dependency file:

[2022-09-06 05:35] mend-for-github-com[bot] opened #2554 "CVE-2022-38749 (Medium) detected in snakeyaml-1.29.jar"
## CVE-2022-38749 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>snakeyaml-1.29.jar</b></p></summary>

<p>YAML 1.1 parser and emitter for Java</p>
<p>Library home page: <a href="http://www.snakeyaml.org">http://www.snakeyaml.org</a></p>
<p>Path to dependency fil

[2022-09-06 05:35] mend-for-github-com[bot] opened #2555 "CVE-2022-38752 (Medium) detected in snakeyaml-1.29.jar"
## CVE-2022-38752 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>snakeyaml-1.29.jar</b></p></summary>

<p>YAML 1.1 parser and emitter for Java</p>
<p>Library home page: <a href="http://www.snakeyaml.org">http://www.snakeyaml.org</a></p>
<p>Path to dependency fil

[2022-09-06 05:35] mend-for-github-com[bot] opened #2556 "CVE-2022-38751 (Medium) detected in snakeyaml-1.29.jar"
## CVE-2022-38751 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>snakeyaml-1.29.jar</b></p></summary>

<p>YAML 1.1 parser and emitter for Java</p>
<p>Library home page: <a href="http://www.snakeyaml.org">http://www.snakeyaml.org</a></p>
<p>Path to dependency fil

[2022-09-06 05:35] mend-for-github-com[bot] opened #2557 "CVE-2022-38750 (Medium) detected in snakeyaml-1.29.jar"
## CVE-2022-38750 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>snakeyaml-1.29.jar</b></p></summary>

<p>YAML 1.1 parser and emitter for Java</p>
<p>Library home page: <a href="http://www.snakeyaml.org">http://www.snakeyaml.org</a></p>
<p>Path to dependency fil

[2022-09-06 15:44] prudhvigodithi commented on #2348
Release 1.3.5 https://opensearch.org/versions/opensearch-1-3-5.html
Closing this release issue.
@bbarani

[2022-09-06 15:44] #2348 closed

[2022-09-06 15:45] prudhvigodithi commented on #2481
Release 2.2.1 https://opensearch.org/versions/opensearch-2-2-1.html
Closing this release issue.
@bbarani

[2022-09-06 15:45] #2481 closed

[2022-09-06 16:13] prudhvigodithi commented on #2549
Hey @dblock I would like to move forward with branching based on existing setup where we publish OpenSearch, OpenSearch Dashboards together for every release. I'm not sure if we have a target date to separate out OpenSearch and OpenSearch Dashboards into a separate release channels. However if that is the long term goal, we should be going with OpenSearch Build repo own way of versioning, example

[2022-09-06 17:01] peterzhuamazon commented on #2306
The problem is, the only useful change at the moment is `chmod -Rc 777 {path}`, anything else wont help at all.

[2022-09-06 17:29] prudhvigodithi commented on #2549
Hey @dblock thanks for bringing this up,  just to add we can start to cut the branch `<MAJOR_VERSION>.x` following the core, once the OS and OSD are diverged, we can keep the track using a compatibility matrix.

[2022-09-06 18:38] gaiksaya commented on #2522
The version for `1.1.0` branch do not match actual version of the artifacts. Please fix the version number and let us know. We can proceed then.
Thanks!

[2022-09-06 18:57] dblock commented on #2306
You can do this on Windows in Python code with appropriate tests.

[2022-09-06 19:01] dblock commented on #2549
@prudhvigodithi Branching the build repo in its own version and following semver makes sense to me. I would start with a versioning scheme that clearly distinguishes it from OpenSearch or OpenSearch Dashboards (e.g. 0.1.0).

[2022-09-06 19:28] peterzhuamazon commented on #2306
This is very dangerous as my windows ami is specifically made to have mingw env, so it can natively run shell scripts and gnu related commands. I dont think we should do this in python so other windows env without such setup is not capable of running it.

[2022-09-06 20:26] prudhvigodithi opened #2558 "Jenkinsfiles to have an input `BUILD_BRANCH`."
### Is your feature request related to a problem? Please describe

Jenkinsfiles to have an input `BUILD_BRANCH`. Once the [branching strategy](https://github.com/opensearch-project/opensearch-build/issues/2549) in place, Jenkinsfiles should be able to checkout the right branch as per release to make sure release specific code is executed.

### Describe the solution you'd like

- Add a new input `B

[2022-09-07 00:08] gaiksaya commented on #2548
logstash-output-opensearch 2.0.0 for OpenSearch is shipped now.
https://rubygems.org/gems/logstash-output-opensearch/versions/2.0.0-java

[2022-09-07 00:08] #2548 closed

[2022-09-07 00:11] gaiksaya commented on #2557
Fixed via #2560

[2022-09-07 00:11] gaiksaya commented on #2554
Fixed via #2560

[2022-09-07 00:11] gaiksaya commented on #2555
No fix available for version 1.31 yet

[2022-09-07 00:11] gaiksaya commented on #2556
No fix available for version 1.31 yet

[2022-09-07 00:12] gaiksaya commented on #2553
Fixed via #2560

[2022-09-07 00:13] gaiksaya commented on #2536
Closing this issue. Please re-open if required.
Thanks!

[2022-09-07 00:13] #2536 closed

[2022-09-07 01:00] MaxKsyunz commented on #2469
@prudhvigodithi according to [documentation](https://tableau.github.io/connector-plugin-sdk/docs/package-sign#:~:text=Sign%20your%20packaged%20connector%20with%20jarsigner), it to be signed by jarsigner.

Can this be done by the build-signer?

[2022-09-07 11:52] threesquared opened #2562 "[Bug]: Intermittent startup issues with Opensearch 1.3.3 Docker container"
### Describe the bug

We are seeing intermittent but pretty regular issues when using the Opensearch docker image in CI. All we see in the logs for the docker-compose container output is:

[code]

This is even after enabling trace level logging with `rootLogger.level = trace` in the log4j2 config. The full docker-compose config is:

[code]

We are also extending the Opensearch image to remove the

[2022-09-07 11:52] threesquared opened #2568 "[Bug]: Intermittent startup issues with Opensearch 1.3.3 Docker container"
### Describe the bug

We are seeing intermittent but pretty regular issues when using the Opensearch docker image in CI. All we see in the logs for the docker-compose container output is:

[code]

This is even after enabling trace level logging with `rootLogger.level = trace` in the log4j2 config. The full docker-compose config is:

[code]

We are also extending the Opensearch image to remove the

[2022-09-07 12:00] mnin commented on #2460
I followed the recommendation of keeping the naming scheme as it currently is with OpenSearch packages.

Maybe this can still lead to problems when building the APT repository.

[2022-09-07 13:56] prudhvigodithi commented on #2549
@dblock just a thought, this would end up having lot of semVer branches created to manage both OpenSearch and OpenSearch Dashboards, also still `main` would be having both OpenSearch and OpenSearch Dashboards development included that needs to be backported to OpenSearch and OpenSearch Dashboard release semVer branches.

[2022-09-07 15:49] dblock commented on #2549
Yes, this plan is complicated. That's why we never branched this repo in the first place. But you seem to want to do it at all costs.

[2022-09-07 16:35] jordarlu commented on #1712
Thanks for the input and ticket!
By cross checking the libs in vars/ and test/jenkins/, we should have test for all 45 shared libs in vars/ except one ..
will work on the remaining one, and we can close this ticket.

here is the list :

<head>

<meta name=ProgId content=Excel.Sheet>
<meta name=Generator content="Microsoft Excel 15">
<link id=Main-File rel=Main-File
href="file:///C:/Users/chunglu/A

[2022-09-07 17:59] peterzhuamazon commented on #2306
1.3.5 failed:

https://build.ci.opensearch.org/job/distribution-build-opensearch/6018/execution/node/379/log/

[2022-09-07 18:50] #2379 closed

[2022-09-07 18:51] peterzhuamazon commented on #2568
Hi @threesquared,

The design is ensure that if either PA or OS process get killed, both process will get killed to ensure both process always running together.

It was a design back in the day to remove dependencies on supervisord as it is not favored by docker hub official images.

The thing that seems suspicious is the PA log error accessing:
[code]

I dont recall if PA would stop if the conf i

[2022-09-07 21:17] peterzhuamazon commented on #2306
I think I found the reason why windows is running out of memory only on Jenkins:

Right after reading jenkins documentation I found the problem
[code]
No wonder I always running out of memory

[2022-09-07 23:09] prudhvigodithi commented on #2522
We just shipped OpenSearch 1.1.0 .NET clients to Nuget repo https://www.nuget.org/profiles/opensearchproject.
https://www.nuget.org/packages/OpenSearch.Client/1.1.0
https://www.nuget.org/packages/OpenSearch.Client.JsonNetSerializer/1.1.0
https://www.nuget.org/packages/OpenSearch.Net/1.1.0
https://www.nuget.org/packages/OpenSearch.Net.VirtualizedCluster/1.1.0
Thanks to everyone who are part of this

[2022-09-07 23:25] #2522 closed

[2022-09-08 00:00] peterzhuamazon commented on #33
Hi All,

We are able to add Windows Snapshot distribution build into our Jenkins Pipeline.
Here are the links for you to access `OpenSearch Min (without plugins) in Windows x64 Zip` format:

1.3.5: https://artifacts.opensearch.org/snapshots/core/opensearch/1.3.5-SNAPSHOT/opensearch-min-1.3.5-SNAPSHOT-windows-x64-latest.zip
2.2.1: https://artifacts.opensearch.org/snapshots/core/opensearch/2.2.1-SNA

[2022-09-08 15:19] prudhvigodithi commented on #1712
Hey @jordarlu thanks for the list, I can see a lib-tester for [downloadBuildManifest](https://github.com/opensearch-project/opensearch-build/blob/main/tests/jenkins/lib-testers/DownloadBuildManifestLibTester.groovy), and this has been used at [multiple tests](https://github.com/opensearch-project/opensearch-build/search?q=downloadBuildManifest), do indirectly looks to me like this has been tested

[2022-09-08 15:53] jordarlu commented on #1712
thank you @prudhvigodithi , looks good to close this ticket to me now!! and move on to #1468

[2022-09-08 15:53] #1712 closed

[2022-09-08 16:58] zelinh commented on #1712
I think the list you provided is for the jenkins tests but not for the lib-testers. All lib testers are located in this [folder](https://github.com/opensearch-project/opensearch-build/tree/main/tests/jenkins/lib-testers).

[2022-09-08 17:36] prudhvigodithi commented on #1712
Hey @zelinh the lib-testers are internally used to test the jenkins shared libs, to idea here is to assert that each shared library has some testing involved.

[2022-09-08 18:19] peternied opened #2588 "[Bug]: Unable to download artifacts for 1.3.5"
### Describe the bug

Cannot download the latest version of 1.3.5 security using the `latest` url, using a previous build number `5996` does work

### To reproduce

#### Run this command
[code]

#### See this output
[code]

### Expected behavior

No 403 error

### Screenshots

If applicable, add screenshots to help explain your problem.

### Host / Environment

_No response_

### Additional contex

[2022-09-08 18:21] peternied commented on #2588
@gaiksaya Could you look into this?

[2022-09-08 19:24] dblock commented on #2568
@peterzhuamazon Did you mean to move it back to opensearch-build. Curious why?

[2022-09-08 19:39] prudhvigodithi commented on #2588
I see whats happening, the index file was overridden by this build which has only the `OpenSearch` component built
 https://build.ci.opensearch.org/job/distribution-build-opensearch/6021/consoleFull
I feel like this is bug moving forward, if we rebuild the already released version, then it overrides the index version and fails to download with `/latest/`

2 solutions to fix bug (temporarily )
1. M

[2022-09-08 20:16] prudhvigodithi commented on #1375
This META can be closed, the version increment for OpenSearch plugins is now automated with a single click using the GH workflow (Sample Run: https://github.com/opensearch-project/opensearch-build/actions/runs/2967596360)

The only pending issue open from this META are:
The [branch sync](https://github.com/opensearch-project/.github/blob/main/RELEASING.md#plugin-branching), since this is an ongoin

[2022-09-08 21:01] zelinh commented on #1712
I see what you said. I thought this issue is to enforce that we would need lib-tester for all the libraries in addition to the unit tests. I agree we could mainly focus on #1468 and not worry too much about this issue.

[2022-09-08 21:37] peterzhuamazon commented on #2306
Talked to @naveentatikonda on the support of KNN lib compilation and I think the best way is to replace git for windows with mingw directly, so that all the available dlls/cmake/gcc is there as well as git.

The git for windows version of the mingw is a lite version which lacks a lot of necessary dependencies.

[2022-09-08 21:48] dblock commented on #1375
But so it's not automated until it is, let's reopen it :) Which plugins don't follow the branching strategy that keep breaking this?

[2022-09-08 22:17] Angie-Zhang commented on #2588
index-management backport to 1.3.5 also meets this issue:
https://github.com/opensearch-project/index-management/pull/489
https://github.com/opensearch-project/index-management/runs/8243634566?check_suite_focus=true

[2022-09-08 22:53] gaiksaya commented on #2588
Hi @peternied @Angie-Zhang I am able to wget the above artifacts. Can you try now?
Thanks!

[2022-09-09 01:44] gaiksaya commented on #2447
### Release testing
We have new Artifacts built and ready for testing.
---
- Use Docker-Compose to setup a cluster
  + Download this [gist](https://gist.github.com/gaiksaya/56102cdc6df1f5fcb87fefd4dd484dba) as docker-compose.yml on your machine
  + Get latest image versions `docker-compose pull`
  + Start the cluster `docker-compose up`
- [OpenSearch docker 2.3.0.6039](https://hub.docker.com/layer

[2022-09-09 04:00] navneet1v commented on #2447
While running the command:
[code]

I am getting this error:

[code]

[2022-09-09 04:30] navneet1v commented on #2447
1 more thing while installing the discovery plugin on the cluster downloaded via tar for x86 I am getting this error.

Exception in thread "main" java.io.IOException: Server returned HTTP response code: 403 for URL: https://artifacts.opensearch.org/releases/plugins/discovery-ec2/2.3.0/discovery-ec2-2.3.0.zip

What should be the URL to install the discovery-plugin?

[2022-09-09 16:47] bbarani commented on #2447
We haven't staged the plugins yet. We will stage it after we finalize the RC builds. @peterzhuamazon

[2022-09-09 16:52] gaiksaya commented on #2447
Yes until then the plugins can be accessed via url
example: https://ci.opensearch.org/ci/dbc/distribution-build-opensearch/2.3.0/latest/linux/x64/tar/builds/opensearch/core-plugins/discovery-ec2-2.3.0.zip

[2022-09-09 17:12] bbarani commented on #2447
@navneet1v You can install the native plugins using the plugin install command as below (Example)

[code]

[2022-09-09 18:11] navneet1v commented on #2447
This is fixed. The resolution was mainly around updating the command. Some how the " was not getting copied properly.

[2022-09-09 18:12] navneet1v commented on #2447
Yeah sure I will do that. Thanks a lot.

[2022-09-09 21:50] peterzhuamazon commented on #2306
Turns out that mingw version of the utilities are not complete as well.
Therefore, we have to combine the git version and the mingw version together.
Or use msys2.

[2022-09-09 21:57] prudhvigodithi opened #2601 "Automate the branch entry to version increment workflow."
### Is your feature request related to a problem? Please describe

Coming from the comment https://github.com/opensearch-project/opensearch-build/issues/1375#issuecomment-1241267951
Exiting [version increment workflow](https://github.com/opensearch-project/opensearch-build/blob/main/.github/workflows/increment-plugin-versions.yml), works by a branch input passed to matrix array, once the branch is

[2022-09-09 22:32] jordarlu commented on #1468
Hi, by reviewing the .jenkinsfile at repo, a few of them were either removed or moved to other location/folder. Here is the updated list for this issue to continue check..

<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta name=ProgId content=Excel.

[2022-09-09 22:38] navneet1v commented on #2447
Added release notes for K-NN, geospatial and customImportMapDashboards

[2022-09-09 23:07] prudhvigodithi commented on #2588
Hey @peternied @Angie-Zhang @gaiksaya  just checking to see if this issue can be closed.
Thank you

[2022-09-09 23:09] prudhvigodithi commented on #2558
PR converted to draft https://github.com/opensearch-project/opensearch-build/pull/2559, until a solution is finalized that satisfies the version/branching requirement with OpenSearch and OpenSearch Dashboards version being offset
More details: https://github.com/opensearch-project/opensearch-build/issues/2549

[2022-09-10 01:34] #2588 closed

[2022-09-10 01:35] peternied commented on #2588
I was able to confirm this works, thanks for getting it resolved!

[2022-09-10 15:51] prudhvigodithi commented on #2538
Closing this issue, please feel-free to open or add comments if required.
Thank you
@bbarani

[2022-09-10 15:51] #2538 closed

[2022-09-10 15:51] prudhvigodithi commented on #2539
Closing this issue, please feel-free to open or add comments if required.
Thank you
@bbarani

[2022-09-10 15:51] #2539 closed

[2022-09-12 16:44] peterzhuamazon opened #2604 "[BUG] Gradle Check failed due to jdk14 no long available"
https://build.ci.opensearch.org/job/gradle-check/2972/console

![image](https://user-images.githubusercontent.com/65193828/189710111-df7161cf-4a54-474c-9dd0-a412610909cb.png)

We will write a shell script to replace the auto installer for JDK14 only.

[2022-09-12 16:57] peterzhuamazon commented on #2604
Seems like the JDK list is coming from here:
https://github.com/jenkinsci/adoptopenjdk-plugin/blob/master/src/main/java/io/jenkins/plugins/adoptopenjdk/AdoptOpenJDKInstaller.java#L314

The value is not defined on adoptopenjdk.net, but by https://javadoc.jenkins.io/hudson/model/DownloadService.Downloadable.html

[2022-09-12 17:13] peterzhuamazon commented on #2604
Json location:
http://updates.jenkins-ci.org/updates/

[2022-09-12 17:14] peterzhuamazon commented on #2604
http://updates.jenkins.io/current/update-center.json

[2022-09-12 17:15] peterzhuamazon commented on #2604
[update-center.json.txt](https://github.com/opensearch-project/opensearch-build/files/9550334/update-center.json.txt)

[2022-09-12 17:19] peterzhuamazon commented on #2604
hudson.tools.JDKInstaller.json.txt
[hudson.tools.JDKInstaller.json.txt](https://github.com/opensearch-project/opensearch-build/files/9550347/hudson.tools.JDKInstaller.json.txt)

[2022-09-12 17:21] peterzhuamazon commented on #2604
Seems like Adoptopenjdk will call the default oracle jdk installer JSON
Parse it and apply the new links to the versions of oracle and get a new one for Adopt

[2022-09-12 19:01] gaiksaya commented on #2447
Performance test runs for this version:
x64: https://build.ci.opensearch.org/job/perf-test/541
arm64: https://build.ci.opensearch.org/job/perf-test/540

[2022-09-12 19:52] dreamer-89 commented on #2447
I compared `2.3.0` with `2.2.1` (baseline). I don’t see any anomaly in results (there are minor ups/downs in latency/throughput. I observe similar numbers comparing older releases `2.2.0` (534 build no) & `2.2.1` (568)). So, I think numbers are fine.

### Side notes
Build numbers used
  2.2.1 -> 568, 569,  2.3.0 -> 540, 541

#### X64
Without Security
Minor indexing/search latency improvements, but

[2022-09-12 20:04] prudhvigodithi commented on #2549
Keeping this implementation on hold until a better approach is taken to address the scenario (future implementation), where the build repo handles multiple products and each of its version is offset with other. With this a single branch as `<MAJOR_VERSION>.x` cannot be the source of truth for a product which has an ongoing release `<MAJOR_VERSION>+2.x`
Example:
Lets say the build repo handles 2 pr

[2022-09-12 20:07] peterzhuamazon commented on #2604
This issue is fixed for now.
https://build.ci.opensearch.org/job/gradle-check/2980/console

[2022-09-12 20:07] #2604 closed

[2022-09-12 20:08] gaiksaya commented on #2447
Hi @saratvemulapalli @kotwanikunal @dblock Can you take a look on the above performance test findings and give a go/no-go call?
Thanks!
cc: @CEHENKLE @bbarani

[2022-09-12 20:37] saratvemulapalli commented on #2447
@gaiksaya trying to look at the runs, is there a human readable format for the results?

[2022-09-12 20:55] kotwanikunal commented on #2447
@saratvemulapalli

Results attached -

| Version | Architecture | Security Enabled | Start Time(PDT)  | Duration   | Instance Type | Workload Details                                  | Index Latency(ms) p50 | Index Latency(ms) p90 | Index Latency(ms) p99 | Index Latency(ms) p100 | Index Throughput(docs/s) p0 | Index Throughput(docs/s) p50 | Index Throughput(docs/s) p100 | Index Throughput (docs/s)

[2022-09-12 21:46] saratvemulapalli commented on #2447
Thanks @kotwanikunal, looks like our query latency has improved for arm64 by quite a bit (>20% lower latency).

[2022-09-12 21:54] kotwanikunal commented on #2447
@saratvemulapalli My bad. I swapped the comparisons while pasting. Please have a look again.

[2022-09-12 23:21] Zhangxunmt commented on #2447
Added release notes for ml-commons.

[2022-09-13 01:14] gaiksaya commented on #2447
Docker scan results:
OpenSearch: https://build.ci.opensearch.org/job/docker-scan/97/artifact/scan_docker_image.txt
OpenSearch-Dashboards: https://build.ci.opensearch.org/job/docker-scan/95/artifact/scan_docker_image.txt

[2022-09-13 01:20] saratvemulapalli commented on #2447
Thanks @kotwanikunal. Looks like the results are very similar. We are good to go!

[2022-09-13 01:21] dlvenable opened #2608 "[RELEASE] Data Prepper 2.0.0"
### Is your feature request related to a problem? Please describe

The Data Prepper team is releasing 2.0.0.

Planned release date: Oct 5, 2022

### Describe the solution you'd like

After the Data Prepper maintainers completes the staging release build, please run the promotion job. A Data Prepper maintainer will supply the VERSION and DATA_PREPPER_BUILD_NUMBER parameters.

We also need to run th

[2022-09-13 01:59] gaiksaya opened #2609 "[Bug]: Unify code for all things that are used for a build"
### Describe the bug

It is observed that the code is split in this repo for building components and CI libraries (for uploading, releasing, etc)
However, looks like few of them have mixed up.
For example:
https://github.com/opensearch-project/opensearch-build/blob/main/vars/buildYumRepo.groovy
https://github.com/opensearch-project/opensearch-build/blob/main/vars/rpmMetaValidation.groovy
https://g

[2022-09-13 07:34] navneet1v commented on #2447
Hi,
Have we staged the native plugins? I am trying to do the custom performance test for the K-NN plugin.

[2022-09-13 08:17] navneet1v commented on #2447
Getting exception while installing the OpenSearch via tar.

[code]

[2022-09-13 17:58] prudhvigodithi commented on #2601
Closing this issue as the related [PR](https://github.com/opensearch-project/opensearch-build/pull/2602), to add the branch entry is merged.
Thank you

[2022-09-13 17:58] #2601 closed

[2022-09-13 18:13] peternied commented on #2447
@navneet1v Please create an issue with repro steps for the above issue so we can get someone assigned to look into it

[2022-09-13 18:17] navneet1v commented on #2447
Sure will do that.

[2022-09-13 18:18] gaiksaya commented on #2447
No we have not. We will to do so today. Artifacts are staged after the teams finish the sanity/smoke testing which was yesterday EOD.
Thanks!

[2022-09-13 19:23] dblock commented on #2549
Needing branches such as product-2.x should be telling us that we’re thinking about it wrong. The goal of this repo was to map 1:1 to what’s in Jenkins for all products and versions. That’s why we built backwards compatible manifest support. If a tool needs to be different across versions, it doesn’t belong in this repo but in its own. If a script needs to be different across versions, either both

[2022-09-13 21:23] prudhvigodithi opened #2614 "Migrate the python workflows yaml module to use `ruamel.yaml`"
### Is your feature request related to a problem? Please describe

Coming from the [PR](https://github.com/opensearch-project/opensearch-build/pull/2602), which requires the modification  [version increment workflow](https://github.com/opensearch-project/opensearch-build/blob/main/.github/workflows/increment-plugin-versions.yml) to auto add the branch entry, as part of developing this automation,

[2022-09-13 22:09] prudhvigodithi commented on #2614
Files that need to be changed (Please add more if I have missed)
[code]

[2022-09-13 23:14] peterzhuamazon commented on #2306
Recent development on the k-NN related dependencies:
https://github.com/opensearch-project/k-NN/issues/157#issuecomment-1245817651

[2022-09-13 23:14] peterzhuamazon commented on #2306
Test on 2.3.0:

OS
CU
JS

[2022-09-14 18:13] gaiksaya commented on #2447
[code]

[2022-09-14 18:26] gaiksaya commented on #2447
Maven is out https://aws.oss.sonatype.org/content/repositories/releases/org/opensearch/opensearch-core/2.3.0/

[2022-09-14 18:47] gaiksaya opened #2620 "[2.3.0] Retrospective for 2.3.0 release"
### How to use this issue?
Please add comments to this issue, they can be small or large in scope. Honest feedback is important to improve our processes, suggestions are also welcomed but not required.

### What will happen to this issue post release?
There will be a discussion(s) about how the release went and how the next release can be improved. Then this ticket will be updated with the notes o

[2022-09-14 18:48] gaiksaya commented on #2447
Retrospective issue to track any missed steps, improvements: https://github.com/opensearch-project/opensearch-build/issues/2620

[2022-09-14 19:29] gaiksaya commented on #2620
Release notes for most of the components were not ready before the code cut off date. This delayed the creation of consolidated release notes.

[2022-09-14 22:56] gaiksaya commented on #1223
Closing this issue as clients will have their own infrastructure.

[2022-09-14 22:56] #1223 closed

[2022-09-14 23:17] gaiksaya commented on #2447
OpenSearch 2.3.0 has been [released](https://opensearch.org/versions/opensearch-2-3-0.html). :confetti_ball:

[2022-09-15 02:58] gaiksaya commented on #1256
We have the documentation for component onboarding https://github.com/opensearch-project/opensearch-build/blob/main/ONBOARDING.md#onboard-to-build-workflow

[2022-09-15 02:58] #1256 closed

[2022-09-15 03:11] prudhvigodithi commented on #1375
The automation to add the branch entry to the [version increment workflow](https://github.com/opensearch-project/opensearch-build/blob/main/.github/workflows/increment-plugin-versions.yml) is now done using the existing [manifest workflow](https://github.com/opensearch-project/opensearch-build/tree/main/src/manifests_workflow)
Related Issue: https://github.com/opensearch-project/opensearch-build/i

[2022-09-15 08:13] jace commented on #2614
The Synk profile for `ruamel.yaml` is showing stats from the GitHub repository of `PyOxidizer`. The Ruamel project is hosted on Sourceforge and does not have an up-to-date mirror on GitHub, at least for the first few results that come up. The latest release is not yet 1.0 and therefore should not be considered API stable.

While the claimed improvements from YAML 1.2 support are significant, there

[2022-09-15 16:28] prudhvigodithi commented on #1375
The [version increment workflow](https://github.com/opensearch-project/opensearch-build/blob/main/.github/workflows/increment-plugin-versions.yml), will be now triggered daily with cron expression `cron: 0 0 * * *` added to the github workflow
Related PR: https://github.com/opensearch-project/opensearch-build/pull/2623

[2022-09-15 17:34] peterzhuamazon opened #2625 "[Enhancement] Add Key expiration alerting and monitoring"
The key management of our releases needs to be monitored.
1. The general key for all the signatures on artifacts
2. The key specifically for the ruby artifacts like opensearch-ruby and logstash-oss-opensearch.

They will expire in about a year:
1. Need to extend 20230512 https://github.com/opensearch-project/opensearch-build/issues/2136
2. Need to extend / recreate 20220802

### Acceptance criteri

[2022-09-15 18:23] prudhvigodithi commented on #2614
Hey @jace thanks for the inputs, also I found this useful https://stackoverflow.com/questions/20805418/pyyaml-dump-format/36760452#36760452, in terms of maintenance I see `ruamel.yaml` is being updated actively compared to `PyYaml`

[2022-09-15 18:30] dblock commented on #2614
I don't have a strong opinion about whether these red flags should prevent anyone from using ruamel.yaml. Sounds like it was added in https://github.com/opensearch-project/opensearch-build/pull/2602 to avoid having to explicitly lint updated .yaml files. Why wasn't it an issue with other YML files created? @prudhvigodithi do you have an example of differences when PyYaml is used vs. ruamel.yaml fo

[2022-09-15 18:39] prudhvigodithi opened #2626 "[Bug]: Update the `version` Gh workflow to use the github app credentials."
### Describe the bug

 Update the [version](https://github.com/opensearch-project/opensearch-build/blob/main/.github/workflows/versions.yml) Gh workflow to use the github app credentials.
 Example as https://github.com/opensearch-project/opensearch-build/blob/main/.github/workflows/increment-plugin-versions.yml#L77-L83
This better as the tokens with APP are short lived compared to existing setup.

[2022-09-15 19:23] peternied opened #2629 "[Operations] How to better visualize OpenSearch-Project status?"
### Is your feature request related to a problem? Please describe

During the weekly operations meeting, there has been an ongoing question- how do we know if we are on track or not?  Using release issues is focused on individual releases and there can be as many as 3 active release actions happening at once.  Getting a good 'feel' for the project health doesn't have strong mechanisms

### Describ

[2022-09-15 19:26] peternied commented on #2629
I build a tool to generate badges off of https://shields.io/,  called [opensearch-build-badger](https://github.com/peternied/opensearch-build-badger) through a GitHub action.  Maybe this can be built-up to be part of our monitoring mechanisms.

Here is a snippet of the output, see the [project](https://github.com/peternied/opensearch-build-badger) for a full visualization.

---

## Release Readine

[2022-09-15 22:11] bbarani commented on #2545
[Tirage] We will look on automating the generation of artifacts.md file for RC builds.

[2022-09-15 22:18] bbarani commented on #2546
[Triage] We will work on auto updating the manifest with corresponding tag information after every release.

[2022-09-15 22:21] bbarani commented on #2608
[Triage] @dlvenable can you work with @gaiksaya to see if we can completely automate this release process?

[2022-09-15 22:25] #2626 closed

[2022-09-15 22:32] bbarani commented on #2629
[Triage] @peternied Thanks you for this great idea. We will look in to adding this feature soon.

[2022-09-16 13:48] dlvenable opened #2632 "Consolidate Data Prepper build to a single job"
### Is your feature request related to a problem? Please describe

The Data Prepper Jenkins promotion job has a step which copies from the Data Prepper staging ECS repository into the promotion DockerHub and ECS repositories. That stage is shown below.

https://github.com/opensearch-project/opensearch-build/blob/2300e055106a23ac98801d209647bdfa590b893f/jenkins/data-prepper/release-data-prepper-all

[2022-09-16 13:49] dlvenable commented on #2632
@asifsmohammed , @gaiksaya

[2022-09-16 13:50] dlvenable commented on #2608
@gaiksaya , @bbarani ,

I created #2632 to reduce the number of steps required by operators. However, I don't expect that we will have time on our end to make this change for 2.0.0. We can discuss any specifics of my proposal in #2632.

[2022-09-16 14:33] prudhvigodithi commented on #1375
Hey @dblock the automation is now in place, the branch entry is added via the manifest workflow, sample PR: https://github.com/opensearch-project/opensearch-build/pull/2628/files, and the workflow is now triggered using `cron: 0 0 * * *`, if you have any thoughts let me know, else I will proceed to close this.
Thank you

[2022-09-16 15:35] prudhvigodithi commented on #1375
Thanks, closing this issue, please feel free to re-open if required.

[2022-09-16 17:13] prudhvigodithi commented on #1375
Hey @peternied as [mentioned](https://github.com/opensearch-project/opensearch-build/issues/2373#issuecomment-1203109523), the version increment process is generic and is not related to any BWC tests, each plugin right now follow their own way to add the BWC test version change and also the version change files are not common, this has to be handled from plugin team and this change is specific wit

[2022-09-16 18:32] peterzhuamazon commented on #2306
Test on 1.3.5:
* Passing

OS
JS

* Not passing:

CU: https://github.com/opensearch-project/common-utils/issues/238

[2022-09-16 19:21] prudhvigodithi commented on #1375
@peternied this can be extended within the plugin own `updateVersion` (example for [security](https://github.com/opensearch-project/security/blob/main/build.gradle#L521-L535)) gradle task, so when called using [version-increment  workflow](https://github.com/opensearch-project/opensearch-build/blob/main/.github/workflows/increment-plugin-versions.yml), the BWC test version will also be incremented

[2022-09-16 21:28] MaxKsyunz opened #2635 "[RELEASE] Release version 1.2.0 of opensearch-net client (with SIGv4 support)"
### Is your feature request related to a problem? Please describe

.NET client accepted a PR with SIGv4 support.

It'd be great to release this on nuget.org so that other people can use it.

### Describe the solution you'd like

This needs support from infra team to sign artifacts and publish to nuget.org.

### Describe alternatives you've considered

The packages can be published as a release on

[2022-09-16 22:51] gaiksaya opened #2637 "Create publishToNpm jenkins library"
Node JS clients will be published on NPM under `@opensearch-project` namespace. Component that can be used for this library testing is JS client: https://github.com/opensearch-project/opensearch-js

Acceptance Criteria:
* The library needs to be generic enough to accept any JS artifact
* Publish to NPM without manual intervention

[2022-09-17 11:14] bertvandepoel commented on #28
I see this has moved to In-progress. Is there anything we can do to help with development or testing? We're upgrading from 20.04 to 22.04 and are concerned that our old pre-SSPL packages will at some point fail. So we have a lot of motivation to help out :sweat_smile:

[2022-09-18 23:28] mend-for-github-com[bot] opened #2639 "CVE-2022-40155 (High) detected in woodstox-core-6.2.7.jar - autoclosed"
## CVE-2022-40155 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>woodstox-core-6.2.7.jar</b></p></summary>

<p>Woodstox is a high-performance XML processor that implements Stax (JSR-173),
SAX2 and Stax2 APIs</p>
<p>Path to dependency file: /build.gradle</p>
<p>Pat

[2022-09-18 23:28] mend-for-github-com[bot] opened #2640 "CVE-2022-40154 (High) detected in woodstox-core-6.2.7.jar - autoclosed"
## CVE-2022-40154 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>woodstox-core-6.2.7.jar</b></p></summary>

<p>Woodstox is a high-performance XML processor that implements Stax (JSR-173),
SAX2 and Stax2 APIs</p>
<p>Path to dependency file: /build.gradle</p>
<p>Pat

[2022-09-18 23:28] mend-for-github-com[bot] opened #2641 "CVE-2022-40156 (High) detected in woodstox-core-6.2.7.jar - autoclosed"
## CVE-2022-40156 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>woodstox-core-6.2.7.jar</b></p></summary>

<p>Woodstox is a high-performance XML processor that implements Stax (JSR-173),
SAX2 and Stax2 APIs</p>
<p>Path to dependency file: /build.gradle</p>
<p>Pat

[2022-09-18 23:28] mend-for-github-com[bot] opened #2642 "CVE-2022-40151 (High) detected in xstream-1.4.19.jar - autoclosed"
## CVE-2022-40151 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>xstream-1.4.19.jar</b></p></summary>

<p></p>
<p>Library home page: <a href="http://x-stream.github.io">http://x-stream.github.io</a></p>
<p>Path to dependency file: /build.gradle</p>
<p>Path to vuln

[2022-09-18 23:28] mend-for-github-com[bot] opened #2643 "CVE-2022-40153 (High) detected in woodstox-core-6.3.1.jar - autoclosed"
## CVE-2022-40153 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>woodstox-core-6.3.1.jar</b></p></summary>

<p>Woodstox is a high-performance XML processor that implements Stax (JSR-173),
SAX2 and Stax2 APIs</p>
<p>Library home page: <a href="https://github.com/Fa

[2022-09-18 23:28] mend-for-github-com[bot] opened #2644 "CVE-2022-40152 (Medium) detected in woodstox-core-6.3.1.jar - autoclosed"
## CVE-2022-40152 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>woodstox-core-6.3.1.jar</b></summary>

<p>Woodstox is a high-performance XML processor that implements Stax (JSR-173),
SAX2 and Stax2 APIs</p>
<p>Library home page: <a href="http://fasterxml.com">h

[2022-09-19 01:19] PailaGH opened #2645 "javax.net.ssl.SSLHandshakeException while building Docker Image of Opensearch with analysis-kuromoji analysis-smartcn"
I got an exception while building docker image with OpenSearch 2.2.1 and  analysis-smartcn analysis-kuromoji

dockerfile:
FROM opensearchproject/opensearch:2.2.1
RUN /usr/share/opensearch/bin/opensearch-plugin install --batch analysis-smartcn analysis-kuromoji

environment: windows 10
command:
docker build -t opensearchwithjplugins:1.0 .

I am not sure which certificate it is looking for.
Exceptio

[2022-09-19 17:36] bbarani commented on #1898
@saratvemulapalli any update on creating campaigns for this effort?

[2022-09-19 17:37] bbarani commented on #1787
@zelinh @dreamer-89 Do you have any updates on this issue?

[2022-09-19 17:44] saratvemulapalli commented on #1898
@bbarani looks like it fell through the cracks. I'll take care of this.

[2022-09-19 18:33] prudhvigodithi commented on #2490
Not moving forward with the Proposed POC solution as the effort to migrate the components (code base) to new repo is already in place, hence considering the build repo as single component, version it and import it during runtime is not required.

[2022-09-19 18:37] gaiksaya opened #2646 "Consume remote jenkins library and remove local library from this repo"
### Is your feature request related to a problem? Please describe

Since the we are in process of migrating the jenkins libraries, the jenkinsFiles in build and any other repositories should consume the remote library now.
Example:

[code]

### Describe the solution you'd like

Consume remote libraries one by one and then remove the old code base from here.

### Describe alternatives you've consid

[2022-09-19 18:38] peterzhuamazon commented on #1366
We can extend the template yml file to include all the plugins in one take, then use the components parameter in the jenkins to build if we have to skip component.

This will also encourage plugin owners to start working on their plugins during a release.

Thanks.

[2022-09-19 18:38] #1366 closed

[2022-09-19 19:03] peterzhuamazon commented on #1593
We have ruby already included in this image, and can install necessary gem if needed by adding to the dockerfile.
https://github.com/opensearch-project/opensearch-build/blob/main/docker/ci/dockerfiles/current/build.centos7.opensearch.x64.arm64.dockerfile

Thanks.

[2022-09-19 19:03] #1593 closed

[2022-09-19 23:28] peterzhuamazon commented on #28
#2460 would be a great start as we are working with Graylog forks on the implementations.

[2022-09-19 23:57] gaiksaya commented on #2489
Jenkins shared libraries are now separate into new repository: https://github.com/opensearch-project/opensearch-build-libraries
We will be using the above repo for adding new libraries. How we manage release cycle for this new repo can be discussed in the issue opened here: https://github.com/opensearch-project/opensearch-build-libraries/issues/5
Also the current jenkins files in this repo and oth

[2022-09-19 23:57] #2489 closed

[2022-09-20 00:25] github-actions[bot] opened #2648 "[RELEASE] Release version 2.3.1"
## Release OpenSearch and OpenSearch Dashboards 2.3.1

I noticed that a manifest was automatically created in [manifests/2.3.1](/opensearch-project/opensearch-build/tree/main/manifests/2.3.1). Please follow the following checklist to make a release.

<details><summary>How to use this issue</summary>
<p>

## This Release Issue

This issue captures the state of the OpenSearch release, its assignee i

[2022-09-20 00:25] github-actions[bot] opened #2649 "[RELEASE] Release version 2.4.0"
## Release OpenSearch and OpenSearch Dashboards 2.4.0

I noticed that a manifest was automatically created in [manifests/2.4.0](/opensearch-project/opensearch-build/tree/main/manifests/2.4.0). Please follow the following checklist to make a release.

<details><summary>How to use this issue</summary>
<p>

## This Release Issue

This issue captures the state of the OpenSearch release, its assignee i

[2022-09-20 00:25] github-actions[bot] opened #2650 "[RELEASE] Release version 1.3.6"
## Release OpenSearch and OpenSearch Dashboards 1.3.6

I noticed that a manifest was automatically created in [manifests/1.3.6](/opensearch-project/opensearch-build/tree/main/manifests/1.3.6). Please follow the following checklist to make a release.

<details><summary>How to use this issue</summary>
<p>

## This Release Issue

This issue captures the state of the OpenSearch release, its assignee i

[2022-09-20 00:25] github-actions[bot] opened #2651 "[RELEASE] Release version 2.2.2"
## Release OpenSearch and OpenSearch Dashboards 2.2.2

I noticed that a manifest was automatically created in [manifests/2.2.2](/opensearch-project/opensearch-build/tree/main/manifests/2.2.2). Please follow the following checklist to make a release.

<details><summary>How to use this issue</summary>
<p>

## This Release Issue

This issue captures the state of the OpenSearch release, its assignee i

[2022-09-20 17:52] prudhvigodithi commented on #2645
Hey @PailaGH, I was able to successfully build with your dockerfile, I suspect something is not right with your local machine that will download the plugins.
[code]

[2022-09-20 18:10] prudhvigodithi commented on #2645
Just to add @PailaGH just try to see if you can download the plugin manually on to that Vm using
https://artifacts.opensearch.org/releases/plugins/analysis-kuromoji/2.2.1/analysis-kuromoji-2.2.1.zip

[2022-09-20 18:12] prudhvigodithi commented on #2609
@gaiksaya @bbarani this is more of a feature to convert into a python code and use them as part of the existing workflows rather than a bug. wdyt?

[2022-09-20 18:16] gaiksaya commented on #2609
I believe this was supposed to be python code from the start, I did comment on the PR that added some of this https://github.com/opensearch-project/opensearch-build/pull/1912#issuecomment-1092323524 but looks like it was ignored/missed. Added as bug as today we cannot run/test this code locally.
Further more if we add validations for Deb, macos, windows, I believe this should not be the path we us

[2022-09-20 18:18] prudhvigodithi commented on #2433
Closing this issue as the shared libraries now are migrated to new [repo](https://github.com/opensearch-project/opensearch-build-libraries/), where jenkins files from [build repo](https://github.com/opensearch-project/opensearch-build/tree/main/jenkins) will use `$class: 'GitSCMSource',`
Related PR: https://github.com/opensearch-project/opensearch-build/pull/2652/files
@jordarlu @gaiksaya @bbarani

[2022-09-20 18:18] #2433 closed

[2022-09-20 18:21] prudhvigodithi commented on #2114
I believe we can close this issue, as no changes are being made in terms of snapshots retrieval `artifacts.opensearch.org` should continue to work, it worth to reopen a new issue, if snapshots retrieval is being changed from `artifacts.opensearch.org` to `ci.opensearch.org`, which is actually the right thing to do ;).
Closing this issue, please re-open if required.
Thank you

[2022-09-20 18:21] #2114 closed

[2022-09-20 19:35] gaiksaya commented on #2447
PRs to increment 2.3.0 to 2.3.1 are up for all components. Please review and merge.
Thanks!

[2022-09-20 19:35] #2447 closed

[2022-09-20 21:35] PailaGH commented on #2645
Thank you.
It worked after I copied locally to docker this file: https://artifacts.opensearch.org/releases/plugins/analysis-kuromoji/2.2.1/analysis-kuromoji-2.2.1.zip and installed.

[2022-09-20 21:35] #2645 closed

[2022-09-20 22:06] prudhvigodithi commented on #2568
Hey @threesquared just checking back if you have tried with the suggested docker-compose file by @peterzhuamazon and still notice the issue?

[2022-09-20 22:07] gaiksaya commented on #1709
Yes you are right @prudhvigodithi . I believe we have issues opened for those.
Example:
https://github.com/opensearch-project/opensearch-dashboards-functional-test/issues/289
https://github.com/opensearch-project/anomaly-detection-dashboards-plugin/issues/319

[2022-09-20 22:20] rishabh6788 commented on #780
created PR for opensearch and opensearch-dashboards for official image program
OS: https://github.com/docker-library/official-images/pull/13161
OSD: https://github.com/docker-library/official-images/pull/13194

[2022-09-20 22:24] rishabh6788 commented on #1899
The required PR has been merged and issue creation has been enabled.
Example: https://github.com/opensearch-project/performance-analyzer/issues/282.

Closing this issue.

[2022-09-20 22:24] #1899 closed

[2022-09-22 12:09] monu-aws commented on #2066
Hi @dblock @ankitkala
Currently LocalTestCluster does not support creating multi-node clusters, also the tests to verify CCR does not depend on the clusters having multiple nodes. I am thinking of keeping the structure of the yml file to be like below
[code]
This can be implemented by creating the two clusters by using LocalTestCluster to create two clusters and pass the endpoints to the integtest

[2022-09-22 15:51] threesquared commented on #2568
So it's really hard to pin down as its very intermittent. The compose file we use in CI is only a single-node but otherwise is the same as the official compose file.

We have hacked around this with a script that catches an exit code from [dockerize](https://github.com/jwilder/dockerize) that the port has not come up and then uses `docker-compose restart` to try again.

I will try and catch the is

[2022-09-22 19:37] bbarani opened #2654 "Finalize scope and feature set and update the Public Roadmap."

[2022-09-22 21:48] cashel1 opened #2655 "Unable to parse response body for Response[Bug]:"
### Describe the bug

Installed the new windows 3.0 snapshot, and testing against code that works on 7.10.2 version of elastic.  Utilizing the embedded JDK.  Receive the following error.  The record is posted correctly, issue is with the response.

### To reproduce

Perform individual record or bulk upsert

### Expected behavior

Parse response without error.

### Screenshots

If applicable, add s

[2022-09-22 22:51] bbarani commented on #2655
@peterzhuamazon Can you check if this issue is isolated to windows distribution?

[2022-09-23 00:05] peterzhuamazon commented on #2655
Hi @cashel1 are you able to have a linux machine to test the linux 3.0.0 snapshot?
I wonder if this is related to the core itself, not just windows.

Pinging @opensearch-project/opensearch-core to take a look the error msg.

Thanks.

[2022-09-23 13:48] reta opened #2656 "Support release process for opensearch-testcontainers"
### Is your feature request related to a problem? Please describe

We have a new repository `https://github.com/opensearch-project/opensearch-testcontainers/` to support OpenSearch integration with TestContainers.

### Describe the solution you'd like

The release process is not yet in place, the artifacts are: signed JARs under `org.opensearch` group (Sonatype or alternative public Apache Maven r

[2022-09-23 17:31] bbarani commented on #2655
@saratvemulapalli @CEHENKLE @anasalkouz Can you please let us know if this issue is related to core?

[2022-09-23 17:58] andrross commented on #2655
The OpenSearch 3.0 API is not guaranteed to be compatible with Elastic 7.10.2 (or OpenSearch 1.x) since it is a new major version. This looks like the client is failing to parse the response. I'm not sure exactly what if anything has changed in this API response, but the type removal and/or inclusive naming changes could be the cause. Can you get more details about why this client is failing to pa

[2022-09-23 18:47] cashel1 commented on #2655
don't have a linux machine handy at the moment, will test on previous version to verify its a 3.0 issue

[2022-09-23 19:12] cashel1 commented on #2655
al

[2022-09-23 19:13] cashel1 commented on #2655
1.3.5 works, all 2. and 3. releases have the same issue

[2022-09-23 20:14] andrross commented on #2655
Can you provide some more detail about what response your client is expecting and how the actual response differs from that? Unless I'm missing something I don't see any detail in the log above beyond "Unable to parse response body for Response".

[2022-09-23 22:23] gaiksaya opened #2658 "[Release process] Block release candidate creation if release notes are not present"
### Is your feature request related to a problem? Please describe

See https://github.com/opensearch-project/opensearch-build/issues/2620 for more details.

The release notes are something that is delaying a release, causing the commit id to differ from what was shipped to customer and are essential to give a great customer experience for the product.

Today we only have the [mechanism](https://gi

[2022-09-23 22:23] #2620 closed

[2022-09-26 16:18] rursprung commented on #2069
@prudhvigodithi sorry for missing to reply here! i wasn't aware of the raw format, however it does then still lack the maven metadata (`pom.xml`) and it only seems to exist on nexus (we're using something else).

so i still think that having these files published to maven would be a big benefit. i've now seen it with the plugins, it makes my life a lot easier if i can just bump the version number

[2022-09-26 16:21] rursprung commented on #2068
see my comment on #2069 on the general usefulness of having this on maven.

@bbarani: for the min artefacts: i see a big difference between a docker image (which you can just grab & run and don't think twice about) and an artefact on maven (generally only used by enterprise-y setups / people who hopefully know what they're doing). if you're grabbing something like this off of maven you have a pret

[2022-09-26 16:26] bbarani commented on #2655
@cashel1 Can you please help with the above requested information?

[2022-09-26 16:27] #2654 closed

[2022-09-26 16:31] bbarani commented on #2549
@prudhvigodithi Can we close this issue for now and revisit later when we have sorted out the gaps?

[2022-09-26 16:41] #2297 closed

[2022-09-26 16:41] #2397 closed

[2022-09-26 16:41] #2396 closed

[2022-09-26 16:42] #2393 closed

[2022-09-26 16:42] #2395 closed

[2022-09-26 16:42] #2392 closed

[2022-09-26 16:43] #2391 closed

[2022-09-26 16:43] bbarani commented on #2386
@dreamer-89 Whats the status of this issue?

[2022-09-26 16:44] bbarani commented on #2188
@dblock Do we have a decision for this issue? I would like to understand the next steps so we can be better prepared from build tooling perspective for 3.x releases.

[2022-09-26 19:11] prudhvigodithi commented on #2549
Hey @bbarani yes I'm ok to close this and re-open a new one that address the points we discussed above. I'm going to close this as not planned.

[2022-09-26 19:11] #2549 closed

[2022-09-26 22:36] bbarani commented on #707
You can access the published performance test results using the below html url pattern,

[code]

More info: https://github.com/opensearch-project/opensearch-build/tree/main/src/test_workflow#perftest-job

[2022-09-26 22:36] #707 closed

[2022-09-27 01:04] navneet1v opened #2662 "Creating Distribution for OpenSearch Plugin for mac for unreleased version"
### Is your feature request related to a problem? Please describe

I am trying to create a new OpenSearch plugin which will be dependent on OpenSearch K-NN plugin. Now while enabling the integration test task, I need to install the k-NN plugin on the cluster but for macOS there is no release for k-NN plugin(version 3.0 and 2.4). This is resulting in usage of 2.3 version of plugin and also OpenSear

[2022-09-27 04:25] saratvemulapalli commented on #2655
Definitely sounds like this issue should live in the core. I'll transfer it.

[2022-09-27 06:42] rursprung commented on #99
Thanks a lot for your feedback @peterzhuamazon! That does sound more complicated than it sounded initially!

I ran a quick test (on the latest main branch and on Windows) and it does seem that the standard assemble call already builds both the non-jdk as well as the bundled package (both `[..]\distribution\archives\windows-zip\build\distributions\opensearch-min-3.0.0-SNAPSHOT-windows-x64.zip` and

[2022-09-27 15:52] prudhvigodithi opened #2664 "[PR test & review] Simplification of the ZIP publication implementation"
### Is your feature request related to a problem? Please describe

This task is related to the enhancements made to custom gradle plugin [opensearchpluginzip](https://github.com/opensearch-project/opensearch-plugins/blob/main/BUILDING.md#opensearchpluginzip).

PR: https://github.com/opensearch-project/OpenSearch/pull/4360/files
Test the above PR with changes proposed by @lukas-vlcek.

- [x] Test a

[2022-09-27 16:20] prudhvigodithi commented on #2664
When applying the plugin `apply plugin: 'opensearch.pluginzip'`
commenting out the publication
[code]
[code]

[2022-09-27 17:03] lukas-vlcek commented on #2664
@prudhvigodithi

The message:

is expected.

There is explicit test for this situation. The test `missingPublications()` which uses the `missingPublication.gradle` template. The output should contain that WARN message.

I am not sure about the exception though... let me have a look.

[2022-09-27 18:05] dblock commented on #2658
Will a campaign falling out of https://github.com/opensearch-project/OpenSearch/issues/1868 make this unnecessary? Maybe that's worth the effort?

cc: @kotwanikunal

[2022-09-27 18:09] dblock commented on #2188
Yes. We decided that we will split repos for frontend and backend plugins. The current plugin owners with joint repos (@anirudha and @praveensameneni) will start the work to split repos after OpenSearch 2.4 release, and target completion by 2.5. The plugin teams will figure out a way to run integration tests at PR level for both frontend and backend components.

[2022-09-27 18:18] dblock commented on #2662
@navneet1v I am a bit confused, do you want to a) an opensearch-3.0.0-SNAPSHOT published for darwin, or b) k-nn plugin -SNAPSHOT published for Darwin (which would require a I believe), or c) something else?

Mac distribution is tracked in https://github.com/opensearch-project/opensearch-build/issues/38. That already includes both of these asks I believe, but please correct me if I am wrong. If I a

[2022-09-27 18:22] dblock commented on #33
It looks like we're making progress on the Windows distribution, but I am a bit concerned that we're not adding Windows CI to OpenSearch core itself, which is https://github.com/opensearch-project/OpenSearch/issues/1448. cc: @CEHENKLE

[2022-09-27 18:27] dblock commented on #99
I think the next step is to add a step to https://github.com/opensearch-project/opensearch-build/blob/main/jenkins/opensearch/distribution-build.jenkinsfile that would call these gradle tasks that exist.

[2022-09-27 18:45] dblock commented on #2662
@navneet1v I think that's blocked by https://github.com/opensearch-project/k-NN/issues/157 ?

[2022-09-27 18:51] dblock commented on #2662
@peterzhuamazon What's the status of MacOS builds? It sounds like we're publishing 2.x and 3.0 MacOS snapshots somewhere and those only include _some_ components? Where?

[2022-09-27 19:10] kotwanikunal commented on #2658
Yes. I am trying to get this initial solution to the point where releasing the notes becomes a GHA/workflow that can auto publish the notes.

[2022-09-27 19:59] peterzhuamazon commented on #99
@rursprung all the non-jdk task I have seen so far:
[code]

[2022-09-27 20:01] peterzhuamazon commented on #99
Notable:
[code]

Basically covered all the distributions we are looking at.

[2022-09-27 20:18] CEHENKLE commented on #33
What date would we need this by? (@minalsha)

[2022-09-27 20:30] prudhvigodithi commented on #2664
Hey @lukas-vlcek thanks, ya that is expected, we should be good to close this issue as well.

[2022-09-27 20:30] #2664 closed

[2022-09-27 20:52] peterzhuamazon commented on #2662
As of now we dont push any snapshots version of min artifacts + plugin zips to ci.opensearch.org.
We only push the min artifacts to artifacts.opensearch.org/snapshots for the purpose of using them as snapshots.
If we want to push snapshots to ci.opensearch.org as well we need some changes to jenkinsfile.

Let me know.

[2022-09-27 20:58] gaiksaya commented on #2662
More details:
We just have snapshot stage for min here: https://github.com/opensearch-project/opensearch-build/blob/main/jenkins/opensearch/distribution-build.jenkinsfile#L172-L201
and nothing else for macos as of now.

[2022-09-27 21:01] peterzhuamazon commented on #2662
The snapshot stage was initially added for the sake of distribution downloader.
The problem being at the time we dont have ci.opensearch.org.
And we did not build -SNAPSHOT in ci.opensearch.org because there is no point, since we can just build without -SNAPSHOT and push them into ci.opensearch.org and treat as snapshot.

I propose we just add a stage of normal macOS build.

[2022-09-27 22:03] dblock commented on #33
I think this is a must have if we're going to be making any official distribution for Windows. We have to ensure that tests pass.

[2022-09-27 22:13] peterzhuamazon commented on #33
I am a bit confused if you are talking about windows snapshot in build repo, it is currently commented out because of some bugs I am fixing, but it is able to run tho.

if you are talking about core repo then I am not doing anything there.

Thanks.

[2022-09-27 22:35] peterzhuamazon commented on #2306
We now have 2.3.0 version with every plugin except PA and KNN ready in snapshot:
https://github.com/opensearch-project/opensearch-build/issues/33#issuecomment-1240033380

[2022-09-27 22:44] peterzhuamazon commented on #2306
Issue with 230 snapshot bundle is it does not have a leading folder of `opensearch-2.3.0`.

[2022-09-28 03:09] navneet1v commented on #2662
@bbarani is there a timeline that I can track when this can be picked up? Reason being we are developing a plugin that depends on K-NN and ML-Commons, and we are planning to release for 2.4. If we don't have that it will create problems while doing the release as the checks will keep on failing because of non-existent artifacts of other plugins.

[2022-09-28 08:47] rursprung commented on #99
this is where i got stuck in may (see our comments from may 5 & 6) - i haven't seen how that build script decides what to actually build, i.e. i haven't understood what i'd have to add/change to get a no-jdk build. if you could point me in the right direction there (and tell me how to test it) that'd be great!

[2022-09-28 16:11] bbarani commented on #2662
@navneet1v This is not on our priority list at this point in time but feel free to submit a PR with the changes and we can help with review.

[2022-09-28 16:59] dblock commented on #33
@peterzhuamazon This is exactly what I am raising - the distribution build for windows is working, but we aren't running tests on windows in OpenSearch core.

[2022-09-28 17:57] dblock commented on #99
So from the top:

[code]

This says take a manifest, e.g. https://github.com/opensearch-project/opensearch-build/blob/main/manifests/3.0.0/opensearch-3.0.0.yml and build it with `build.sh ...` + bunch of arguments such as the above  distribution and snapshot=true/false. That calls That calls https://github.com/opensearch-project/opensearch-build/blob/main/scripts/components/OpenSearch/build.sh in

[2022-09-28 21:31] navneet1v commented on #2662
@bbarani I can go ahead and do the changes, but problem is with the testing of those changes. If there is setup that I can use to test my changes I can go ahead and do that.

@peterzhuamazon I am not sure of the architecture here, but I can see a stage as pointed by @gaiksaya here: https://github.com/opensearch-project/opensearch-build/blob/main/jenkins/opensearch/distribution-build.jenkinsfile#L1

[2022-09-29 02:43] noCharger opened #2671 "[Enhancement] Include OSD-FT repo into manifest auto creation"
## Context and Benefits

During the release of the OSD-FT repo https://github.com/opensearch-project/opensearch-dashboards-functional-test/issues/285, we must [raise the PR](https://github.com/opensearch-project/opensearch-build/pull/2577) to include OSD-FT repo in the manifest for both the next minor and patch release. Because more plugins are adopting OSD-FT, we could automate this process to in

[2022-09-29 02:49] peterzhuamazon commented on #2671
I will work with @noCharger on this tomorrow, should be straight forward changes overall.

[2022-09-29 15:58] peterzhuamazon commented on #2306
Security 2.3.0 issues in the windows zip: https://github.com/opensearch-project/security/issues/2122

[2022-09-29 16:22] peterzhuamazon commented on #33
Windows Issues Board:
* common-utils: https://github.com/opensearch-project/common-utils/issues/238
* alerting: https://github.com/opensearch-project/alerting/issues/557
* security: https://github.com/opensearch-project/security/issues/2122

[2022-09-29 18:07] peterzhuamazon commented on #2658
[Triage] @prudhvigodithi could you add more details on how to proceed with this?
Such as preventing the build if there is no release notes for all components.
Thanks.

[2022-09-29 18:15] peterzhuamazon commented on #2608
Hi @dlvenable please contact @rishabh6788 on the release matter for the week of 2022/10/05.

[2022-09-29 18:17] peterzhuamazon commented on #2656
[Triage] This requires integration with Maven like other client releases such as data prepper
https://github.com/opensearch-project/opensearch-build/blob/main/jenkins/data-prepper/release-data-prepper-all-artifacts.jenkinsfile#L121-L170

@reta let us have more talks on this on the actual release timing.

cc: @bbarani

[2022-09-29 18:24] peterzhuamazon commented on #2632
[Triage]

@dlvenable we are ok with the approach you can either do the label major/latest or just code other 3 copies after the initial copy, either way works.

[2022-09-29 18:31] reta commented on #2656
thanks @peterzhuamazon, anything pending from my side or you guys are going to discuss it internally?

[2022-09-30 00:32] peterzhuamazon commented on #2671
Synced up with @noCharger on the key points he will raise the PR based on our conversation.
Thanks.

[2022-09-30 17:04] ylwu-amzn opened #2676 "Release Pre-Trained ML models"
### Is your feature request related to a problem? Please describe

We are going to support uploading deep learning models in ml-commons in 2.4, check details on https://github.com/opensearch-project/ml-commons/issues/302. That feature requires user train model outside OpenSearch cluster, then upload model to OpenSearch cluster via ml-commons API. To make it easy for user to start using this featur

[2022-09-30 17:26] peterzhuamazon commented on #2676
I have some initial discussions with @ylwu-amzn and it is concluded that manual publishing with 2PR would be the best solution to start with.

Considering the frequency they need to update the models, we can make this into a jenkinsfile as part of the universal build.

Thanks.

[2022-09-30 18:42] dblock commented on #2635
Can we prioritize https://github.com/opensearch-project/opensearch-net/issues/79 sooner so that this kind of asks aren't necessary?

[2022-09-30 18:44] dblock commented on #2656
I think you should copy https://github.com/opensearch-project/opensearch-java/pull/187 and https://github.com/opensearch-project/opensearch-java/pull/188 and ... that's it?

[2022-09-30 18:45] #242 closed

[2022-09-30 18:46] gaiksaya commented on #242
Closed via https://github.com/opensearch-project/opensearch-build/pull/2666

[2022-09-30 18:48] dblock commented on #2676
Are those pre-trained models "built"? Meaning that a developer checks in model source, then some training happens, then it gets released? If that's the case you definitely want an automated process in GitHub CI that builds and releases the model that is reproducible - don't build/train models on the developer machine! You can then open PRs automatically via GHA if 2PR is how you want to release.

[2022-09-30 18:58] jordarlu opened #2680 "[Bug]: Following up #2679 - Updating TestReleaseTagJob and restore it"
### Describe the bug

While doing #2679, we found we need more time to work on refactoring TestReleaseTagJob without lib-testers.
Opening this issue to track the progress

### To reproduce

The TestReleaseTagJob is currently removed from the main repo to prevent CI failure.
@jordarlu will update when it is ready to restore

### Expected behavior

the CI test should be a Pass

### Screenshots

If a

[2022-09-30 20:34] peterzhuamazon commented on #2608
Just synced up with @rishabh6788 on the release process and he should also be able to complete this issue leading to the 2.0.0 data prepper releases.

https://github.com/opensearch-project/opensearch-build/issues/2632

[2022-09-30 20:40] junqiu-lei opened #2681 "Release OpenSearch Maps Server to docker hub repo 1.0.0"
### Is your feature request related to a problem? Please describe

OpenSearch Maps Server helps to create a self-host maps server for OpenSearch Dashboard, for these who are not able to access to OpenSearch default maps service on air-gapped environments. We plan to release it as docker image to docker hub repo.

* Github repo: https://github.com/opensearch-project/maps/tree/main/opensearch-maps-s

[2022-09-30 21:25] peterzhuamazon commented on #2681
Next week oncall @rishabh6788 will take care of this and communicate with maps team on the timing.
We have discussed the details with @junqiu-lei on another meeting to onboard this release into part of universal build.
Thanks.

[2022-09-30 21:59] ylwu-amzn commented on #2676
hi, @dblock , thanks, good question.
The deep learning model generally needs a lot computation capacity to train. For example, the model make take hours (even days for very big model) to train on powerful GPU instances. The models are written in Python. The model artifact we are uploading is not python code. We need to export the model to some portable format, then add some config info to `config.

[2022-10-03 08:23] rursprung commented on #33
how do you run the jenkins builds on windows? this line here:
https://github.com/opensearch-project/opensearch-build/blob/55b26223f5b6047f934f604a241f01f2328d8eb8/scripts/components/OpenSearch/build.sh#L87

doesn't return `windows` for me when running it in mingw64 (part of Git for Windows):
[code]

though it's _probably_ not an issue as you're explicitly already passing it in here:
https://github

[2022-10-03 08:49] rursprung commented on #99
i've now added it on the same line even (makes the build much faster as it avoids running the other tasks twice):
[code]

however, this does require that _every_ target called this way also has a corresponding no-jdk target.
i've checked the targets in the OpenSearch repository and saw that the following are currently missing:
* `:distribution:archives:no-jdk-linux-arm64-tar`
* `:distribution:arch

[2022-10-03 16:33] prudhvigodithi commented on #2680
Hey @jordarlu this issue can be part of this META https://github.com/opensearch-project/opensearch-build/issues/1468 👍

[2022-10-03 16:43] jordarlu commented on #2680
why I did not think of that way!? LOL ... thanks, @prudhvigodithi  :)

[2022-10-03 17:20] bbarani commented on #2681
@peterzhuamazon @rishabh6788 Lets look for ways to automate the publishing process similar to OpenSearch-java.

[2022-10-03 17:35] mend-for-github-com[bot] opened #2685 "CVE-2022-42004 (High) detected in jackson-databind-2.13.3.jar - autoclosed"
## CVE-2022-42004 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jackson-databind-2.13.3.jar</b></p></summary>

<p>General data-binding functionality for Jackson: works on core streaming API</p>
<p>Library home page: <a href="http://github.com/FasterXML/jackson">h

[2022-10-03 17:35] mend-for-github-com[bot] opened #2686 "CVE-2022-42003 (High) detected in jackson-databind-2.13.3.jar - autoclosed"
## CVE-2022-42003 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jackson-databind-2.13.3.jar</b></p></summary>

<p>General data-binding functionality for Jackson: works on core streaming API</p>
<p>Library home page: <a href="http://github.com/FasterXML/jackson">h

[2022-10-03 17:50] bbarani commented on #2558
Can we also close this issue until we finalize a solution @prudhvigodithi

[2022-10-03 18:01] dblock commented on #2656
@peterzhuamazon I'd like to have "something that can be replicated/copied by other projects" as an outcome of this exercise.

[2022-10-03 18:05] dblock commented on #2676
Where are you training these big models? Where are these GPU instances coming from?
I think I am saying that training should happen via automation.

[2022-10-03 18:08] dblock commented on #33
That build.sh is called from the [build workflow](https://github.com/opensearch-project/opensearch-build/blob/main/src/build_workflow/README.md) which supports `--platform`.

[2022-10-03 18:12] dblock commented on #99
I don't know of any specific reason, simply unused.

That's because it is unused, so no "good" reason.

Sounds good!

We have been moving build.sh's into each repo so that it branches with the repo, and you can do the same for OpenSearch repo. The default in this repo can go away if all built branches in opensearch-project/OpenSearch have script/build.sh.

[2022-10-03 21:17] ylwu-amzn commented on #2676
Some models are from public Huggingface pre-trained model. Our scientist team will also train some model. GPU instances are in our AWS internal account.

Sorry, not quite got your point.  Yes, we can make the model training automated. Actually we are building a python ML library to make model training process easier. User can use that python code to train model outside of OpenSearch cluster and us

[2022-10-03 21:59] peternied commented on #2629
Discussed this more with @anasalkouz we came up with a list of items that would be useful to add to project readme, then we can see about operationalizing the output.  I'll play around with workflows that can accomplish this

- untriage issues
- inactive over X days issues
- inactive over X days pull requests
- security issues
- code coverage
- Next Major issue count
- Next Minor issue count