[2021-12-23 18:18] peterzhuamazon commented on #1406
We have identify the issue now:

The issue being that opensearch core is checking `2 spaces` between the checksum and filename within .sha512.

**Core requires 2spaces**
[code]

**However as long as you have one space the check locally with `sha512sum -c` will success:**
[code]

Since we are using a new workflow for 1.2.3 signing and checksum generation, we are using 1space this time, thus cause o

[2021-12-23 18:32] peterzhuamazon commented on #1406
More digging, this line specifically cause the issue:
https://github.com/opensearch-project/OpenSearch/blob/aecc7bd005544d79c6524960a32984926ba6718a/distribution/tools/plugin-cli/src/main/java/org/opensearch/plugins/InstallPluginCommand.java#L550

[code]

When having one space between checksumsha and filename, it will return an array of length 1, with the 1st entry being the entire input, not spli

[2021-12-23 18:42] peterzhuamazon commented on #1406
We have fixed the issue now, sorry about inconvinience @arnitolog and thanks for reporting this bug to us.
[code]

[2021-12-23 18:42] peterzhuamazon commented on #1406
Will leave this issue open until more discussion on how to change this.

Thanks.

[2021-12-23 18:59] ict-one-nl commented on #1406
Great thanks!

[2021-12-23 19:33] arnitolog commented on #1406
thanks a lot!

[2021-12-23 19:43] ict-one-nl commented on #1406
Fix confirmed

[2021-12-23 20:05] dblock commented on #1406
@peterzhuamazon The 2 spaces is/was by design. From the comment:

[code]

It's a convention like any other, and introducing a change is just going to make things more difficult, so I am going to close this. If you think that this convention of 2 spaces is a bad idea, open an issue in OpenSearch?

[2021-12-23 20:05] #1406 closed

[2021-12-23 20:07] dblock commented on #1401
Installation of plugins was untested and broke for customers, https://github.com/opensearch-project/opensearch-build/issues/1406

[2021-12-23 22:14] abhinavGupta16 opened #1409 "Get docker image from constants file for Jenkins job"
### Is your feature request related to a problem? Please describe

Currently, all the images mentioned in the jenkins job are added as strings. This poses 2 problems -
- This makes it very difficult to make changes and update them if required. It is very easy to miss an image making the jobs vulnerable to failure.
- It is difficult to see and analyze which docker images are currently in use by the

[2021-12-23 22:23] dblock commented on #1409
Isn't this a dup of https://github.com/opensearch-project/opensearch-build/issues/1325?

[2021-12-24 07:02] enp commented on #1397
No, I have another error on https://github.com/opensearch-project/opensearch-build/blob/main/docker/release/dockerfiles/opensearch.al2.dockerfile#L37 while building on ```main```:

[code]

[2021-12-24 15:39] dblock commented on #1397
I see `TEMP_DIR=/tmp/opensearch`, maybe that needs to be created if it doesn't exist?

[2021-12-26 06:54] enp commented on #1397
No, this directory is already created and contains opensearch-build tree

Anyway adding / to $TEMP_DIR solves problem, can you fix this?

[2021-12-27 16:34] dblock commented on #1397
Interesting!  How did this ever work before? This was added in https://github.com/opensearch-project/opensearch-build/issues/1154, cc: @peterzhuamazon

@enp You can also PR the change! Thanks.

[2021-12-27 18:56] peterzhuamazon commented on #1397
As per online research, Docker version 18.09.0, build 4d60db4 and before does not support using wildcard with destination folder w/o `/`, which has since been patched so docker will auto detect whether destination is a file or dir.

We are using docker enginer `Docker version 19.03.13-ce, build 4484c46` or above for our builds, thus does not have this issue with docker builds.

However, this can b

[2021-12-27 19:17] zelinh commented on #779
We need to create a proper document before we move on to the implementation.

[2021-12-27 19:27] zelinh commented on #1325
[Triage] Moving to product backlog, part of issue #1409  and we will discuss how we want to proceed.

[2021-12-27 19:53] zelinh commented on #439
@mch2 Can you add acceptance criteria so that we could move on.

[2021-12-27 19:57] zelinh commented on #622
Move it to Icebox since we will need more discussions on this.

[2021-12-27 20:02] zelinh commented on #167
@setiah Are you actively working on this?

[2021-12-27 20:06] #1397 closed

[2021-12-27 20:07] peterzhuamazon opened #1414 "Adding Docker Build related automation / linting as PR checks"
If any code in dockerfiles get updated, we should run a validation docker workflow in github actions to ensure the build is success.

#1397 shows some issues in older docker enginer version, we probably need to test the BC as well.

Thanks.

[2021-12-27 20:47] peterzhuamazon commented on #578
More development: https://github.com/opensearch-project/opensearch-build/pull/1411#issuecomment-1000945335

[2021-12-28 14:00] dblock commented on #487
Closed via https://github.com/opensearch-project/opensearch-build/pull/1407

[2021-12-28 14:00] #487 closed

[2021-12-28 19:38] peterzhuamazon opened #1415 "Support extracting WhiteSource data through API after the scanning."
This is related to @ryanbogan where we need to extract the data through whitesource API after the scan and use it to build the dependency tree later.

This issue is used to record all the related activities.

Thanks.

[2021-12-28 19:44] #1383 closed

[2021-12-28 19:59] abhinavGupta16 commented on #1385
Would help complete a portion of [[Meta] Create a self serviceable standalone component release process](#781)

[2021-12-28 20:17] zelinh commented on #1248
[Triage] Which dockerfile are you referring to?

[2021-12-28 20:20] zelinh commented on #1244
[Triage] Line this issue to the META issue #27 .

[2021-12-28 20:22] zelinh commented on #572
[Triage] Could you add more descriptions and acceptance criteria for this one?

[2021-12-28 20:23] zelinh commented on #278
[Triage] Could you provide more information to this issue and acceptance criteria for this issue?

[2021-12-28 20:24] zelinh commented on #277
[Triage] Could you provide more information and also the acceptance criteria for this one?

[2021-12-28 20:29] zelinh commented on #1309
[Triage] Which comments are you referring to?

[2021-12-28 20:33] zelinh commented on #1321
[Triage] You can whitelist this param in your local environment as developer, but right now we are not whitelist any new parameter for production.

[2021-12-28 20:33] #1321 closed

[2021-12-28 20:36] zelinh commented on #1335
[Triage] Adding this issue to our product backlog. We have enough information on this.

[2021-12-28 20:39] zelinh commented on #1357
[Triage] Move this to product backlog.

[2021-12-28 20:50] zelinh commented on #1398
[Triage] Since a lot of jenkins job are relying on the folder name `maven-signed` on S3 to find the created artifacts, we need to approach this with caution. For example, opensearch-java, opensearch-bundle-maven, opensearch-ruby, etc.. All these jobs have to be changed corresponding to the name change.

[2021-12-28 20:51] zelinh commented on #1409
[Triage] Closing this one since this is a duplicate issue.

[2021-12-28 20:51] #1409 closed

[2021-12-28 23:17] VijayanB commented on #1248
The docker file which is used by Jenkins for automation

[2021-12-29 00:11] github-actions[bot] opened #1417 "[RELEASE] Release version 1.2.4"
## Release OpenSearch 1.2.4

We have incremented the versions on 1.2 branches to 1.2.4 right after the 1.2.3 release to save time in the event we need a 1.2.4 release. We'll continue doing so after every release. At the time of writing this `main` = OpenSearch 2.0, `1.x` = 1.3.0, `1.2` = 1.2.4. Plugins usually have `main` = 1.3.0 and `1.2` = 1.2.4.

### Scope of the release

We are planning to rel

[2021-12-29 20:12] dblock commented on #870
Let's close all 1.1.1 issues since there will be no such thing? @peterzhuamazon

[2021-12-29 20:14] dblock commented on #1056
@zelinh @peterzhuamazon There's something wrong going on here, Whitesource keeps trying to autoclose this already autoclosed issue.

[2021-12-30 18:25] #1347 closed

[2021-12-30 19:06] zelinh commented on #1056
I contacted WhiteSource side and they said this will need additional investigation with their R&D team.

[2022-01-03 19:08] gaiksaya opened #1423 "Enable the WhiteSource native integration to other repositories under opensearch org"
[WhiteSource native integration with Github](https://whitesource.atlassian.net/wiki/spaces/WD/pages/697696422/WhiteSource+for+GitHub.com) was enabled on some of our repos (OpenSearch, opensearch-build) and PR were created for some dashboards repos (OpenSearch-Dashboards, alert dashboards, security dashboards...). We will now need to enable WhiteSource Github app to all our repos to initiate scan o

[2022-01-03 19:20] zelinh commented on #794
Closing this since we helped release SQL JDBC independently from ODBC by SQL team request.

[2022-01-03 19:24] mch2 commented on #439
This issue has been resolved the best it can with #1188.  I will update #1182 with an idea to remove this script entirely.

[2022-01-03 19:24] #439 closed

[2022-01-03 19:24] gaiksaya commented on #861
v1.0.2 is released: https://www.npmjs.com/package/@opensearch-project/opensearch/v/1.0.2

closing this issue. Thanks!

[2022-01-03 19:24] #861 closed

[2022-01-03 19:33] mch2 commented on #1182
Sorry for the delay here.

I would prefer each repository include the exact gradle task above to publish the snapshot to Sonatype directly vs us publishing a pre-built directory.  The build system would then need a separate publish step that looks for an option in the manifest and conditionally invoke this task.  This would look exactly like [this](https://github.com/opensearch-project/OpenSearch/

[2022-01-04 01:03] zelinh commented on #721
Reopen this issue since this is META.

[2022-01-04 18:05] whitesource-for-github-com[bot] opened #1426 "CVE-2020-27223 (Medium) detected in jetty-http-9.4.36.v20210114.jar - autoclosed"
## CVE-2020-27223 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jetty-http-9.4.36.v20210114.jar</b></p></summary>

<p></p>
<p>Library home page: <a href="https://eclipse.org/jetty">https://eclipse.org/jetty</a></p>
<p>Path to dependency file: /build.gradle</p>

[2022-01-04 18:06] #988 closed

[2022-01-04 18:06] #990 closed

[2022-01-04 18:06] #993 closed

[2022-01-04 18:06] #1000 closed

[2022-01-04 18:06] #1001 closed

[2022-01-04 18:06] #1003 closed

[2022-01-04 18:06] #1002 closed

[2022-01-04 18:06] #1005 closed

[2022-01-04 18:06] #1004 closed

[2022-01-04 18:06] #1084 closed

[2022-01-04 18:06] #1006 closed

[2022-01-04 18:06] #1085 closed

[2022-01-04 18:06] #1008 closed

[2022-01-04 18:06] #1086 closed

[2022-01-04 18:06] #1087 closed

[2022-01-04 18:06] #1089 closed

[2022-01-04 18:06] #1090 closed

[2022-01-04 18:06] #1091 closed

[2022-01-04 18:06] #1012 closed

[2022-01-04 18:07] #1016 closed

[2022-01-04 18:07] #1017 closed

[2022-01-04 18:07] #1019 closed

[2022-01-04 18:07] #1018 closed

[2022-01-04 18:07] #1025 closed

[2022-01-04 18:07] #1028 closed

[2022-01-04 18:07] #1029 closed

[2022-01-04 18:07] #1030 closed

[2022-01-04 18:07] #1032 closed

[2022-01-04 18:07] #1035 closed

[2022-01-04 18:07] #1092 closed

[2022-01-04 18:07] #1093 closed

[2022-01-04 18:07] #1094 closed

[2022-01-04 18:07] #1095 closed

[2022-01-04 18:07] #1096 closed

[2022-01-04 18:07] #1044 closed

[2022-01-04 18:07] #1045 closed

[2022-01-04 18:07] #1052 closed

[2022-01-04 18:07] #1059 closed

[2022-01-04 18:07] #1060 closed

[2022-01-04 18:07] #1061 closed

[2022-01-04 18:07] #1063 closed

[2022-01-04 18:07] #1065 closed

[2022-01-04 18:07] #1066 closed

[2022-01-04 18:08] #1068 closed

[2022-01-04 18:08] #1329 closed

[2022-01-04 18:08] #1071 closed

[2022-01-04 18:08] #1072 closed

[2022-01-04 18:08] #1074 closed

[2022-01-04 18:08] #1076 closed

[2022-01-04 18:08] #989 closed

[2022-01-04 18:08] #992 closed

[2022-01-04 18:08] #991 closed

[2022-01-04 18:08] #998 closed

[2022-01-04 18:08] #1007 closed

[2022-01-04 18:08] #1010 closed

[2022-01-04 18:08] #1011 closed

[2022-01-04 18:08] #1014 closed

[2022-01-04 18:08] #1013 closed

[2022-01-04 18:08] #1021 closed

[2022-01-04 18:08] #1024 closed

[2022-01-04 18:08] #1026 closed

[2022-01-04 18:08] #1027 closed

[2022-01-04 18:08] #1209 closed

[2022-01-04 18:08] #1037 closed

[2022-01-04 18:08] #1097 closed

[2022-01-04 18:08] #1040 closed

[2022-01-04 18:08] #1039 closed

[2022-01-04 18:08] #1041 closed

[2022-01-04 18:09] #1043 closed

[2022-01-04 18:09] #1046 closed

[2022-01-04 18:09] #1047 closed

[2022-01-04 18:09] #1048 closed

[2022-01-04 18:09] #1050 closed

[2022-01-04 18:09] #1051 closed

[2022-01-04 18:09] #1058 closed

[2022-01-04 18:09] #1067 closed

[2022-01-04 18:09] #1073 closed

[2022-01-04 18:09] #1075 closed

[2022-01-04 20:15] abhinavGupta16 commented on #1415
[Triage] @peterzhuamazon @ryanbogan - can you add more details to the task? Also, can you add Acceptance Criteria to this as well?

Thank you!

[2022-01-04 22:50] peterzhuamazon commented on #378
We need to add another workflow to change input manifest with tags and PR changes.

[2022-01-05 05:55] ankitkala opened #1428 "Automate performance testing for CCR plugin"
### Is your feature request related to a problem? Please describe

We want to to be able to run performance tests for cross cluster repliacation plugin using opensearch-benchmark.

### Describe the solution you'd like

We'd like to add the support for replication performance testing as part of OS performance testing framework. Eventually, We'd want to have periodic runs for the replication plugin

[2022-01-05 20:04] kavilla commented on #1320
Will need to update the jenkinsfile to consume the correct docker image.

[2022-01-05 21:12] abhinavGupta16 commented on #935
Once this is done, we would also need to refactor https://github.com/opensearch-project/opensearch-build/blob/main/vars/uploadTestResults.groovy to use the [`uploadTos3.groovy`](https://github.com/opensearch-project/opensearch-build/blob/c5b236ddcf4ffc305c557f7c00446c5854cfd6f1/vars/uploadToS3.groovy)

[2022-01-05 22:31] peternied commented on #880
# Reflecting on OpenSearch Release 1.2.0, 1.2.1, 1.2.2, and 1.2.3.

There have been a massive number of contributors authoring code, reviewing pull requests, contribution to issues – thank you all.
## Larger areas of consideration
* We changed communication to leverage publicly visible GitHub issues such as #567.  This is part our ongoing to allow for contribution.  This large change created churn

[2022-01-05 22:32] #880 closed

[2022-01-05 22:32] peternied commented on #1314
See https://github.com/opensearch-project/opensearch-build/issues/880#issuecomment-1006130147 for the summary across all 1.2.0-1.2.3 retros.

[2022-01-05 22:32] #1314 closed

[2022-01-05 22:32] peternied commented on #1360
See https://github.com/opensearch-project/opensearch-build/issues/880#issuecomment-1006130147 for the summary across all 1.2.0-1.2.3 retros.

[2022-01-05 22:32] #1360 closed

[2022-01-05 22:32] peternied commented on #1401
See https://github.com/opensearch-project/opensearch-build/issues/880#issuecomment-1006130147 for the summary across all 1.2.0-1.2.3 retros.

[2022-01-05 22:32] #1401 closed

[2022-01-05 22:33] #567 closed

[2022-01-05 22:34] #1333 closed

[2022-01-05 22:35] #1365 closed

[2022-01-05 22:35] #1290 closed

[2022-01-05 23:22] ohltyler commented on #1114
Besides the results publishing (duplicate of #1274) I'd consider this to be a sub-issue of #818.

[2022-01-06 00:44] abhinavGupta16 opened #1430 "Add windows support for signing artifacts"
### Is your feature request related to a problem? Please describe

Currently, the `signer.py` only supports signing for linux clients for PGP. We need to extend this for windows as well.

We also need to extend the `signArtifacts` job for standalone components to be able to sign windows artifacts.

### Describe the solution you'd like

Pass windows as a parameter and signer can sign and verify win

[2022-01-06 00:55] jcgraybill commented on #1015
Is there a way for me to tell whether this issue was autoclosed?

[2022-01-06 03:56] dblock commented on #1015
Whitesource is having trouble with baselining changes, I have a support ticket already with them on a related issue

[2022-01-06 17:04] dblock opened #1432 "Add version checks for opensearch-dashboards components to CI"
### Is your feature request related to a problem? Please describe

Security dashboards plugin was added to the 1.3 manifest in https://github.com/opensearch-project/opensearch-build/pull/1431, but its version was 1.2, so it broke the build.

### Describe the solution you'd like

Implement version checks for dashboards, ala https://github.com/opensearch-project/opensearch-build/blob/main/src/ci_wor

[2022-01-06 17:10] dblock commented on #1185
There's no indication of what's failing, either.

[code]

[2022-01-06 18:39] peterzhuamazon commented on #1185
ulimit + sysctl

And you need to cat the actual log to see.

[2022-01-06 19:34] peterzhuamazon opened #1433 "Adding limitation on Jenkins workflows so it will overflow the main node disk"
Back in freestyle time we add limitation of 300 build history per workflow, means if there are more than 300 build history, the oldest build history will be removed.

Once we switch to pipeline files we have not set this up, means there are no life cycle on these history.

Check_for_build has nearly 27000+ build history now all saved on Jenkins main node.

This would not only overflow the Jenkins

[2022-01-07 00:36] #1385 closed

[2022-01-07 23:30] abhinavGupta16 opened #1436 "[Bug]: SignArtifacts.groovy clones opensearch-build in the workspace and not in a folder"
### Describe the bug

`SignArtifacts.groovy` currently clones the `opensearch-build` repo in the same workspace without creating a folder. This can cause issues since there might be other repositories that maybe cloning the their repositories and would mix up all the files in one directory.

### To reproduce

Create a dummy job to clone any repository other than `opensearch-build` inside workspace

[2022-01-08 19:49] dlvenable opened #1439 "Build Data Prepper continuously"
### Is your feature request related to a problem? Please describe

The new Data Prepper tarball build in #1434 is only building and deploying once it is time to release. Data Prepper is a standalone application and can build nightly.

### Describe the solution you'd like

Create a build of Data Prepper which builds all artifacts. This build can run against multiple branches. It can also produce ni

[2022-01-08 19:58] abhinavGupta16 opened #1440 "Create a jenkins-job to build, sign and upload data-prepper artifacts"
### Is your feature request related to a problem? Please describe

Create a jenkins job that takes in the `version number` and the `branch/commit` as a parameter and build, signs and uploads the artifact to staging.

### Describe the solution you'd like

We need to have one jenkins job that can build-sign-upload data-prepper artifacts making the release to staging a one click process.

### Describ

[2022-01-10 15:45] dblock commented on #1436
All jobs should be executing inside docker contains with separate file systems and not walk over each-other.

[2022-01-10 17:44] amitgalitz opened #1441 "Adding job-scheduler snapshot to maven"
### Is your feature request related to a problem? Please describe

Currently the Anomaly Detection plugin needs the entire job-scheduler plugin and not just the job-scheduler-spi in order to run BWC testing during its build process. Currently in order to successfully pass our build workflow we have to build and place the JAR file for the job scheduler plugin version that is relevant for that build

[2022-01-10 17:49] amitgalitz commented on #1441
@peternied, @mch2

[2022-01-10 18:18] dblock commented on #1114
I just moved the contents of this into https://github.com/opensearch-project/opensearch-build/issues/818 which seems too similar.

[2022-01-10 18:18] #1114 closed

[2022-01-10 18:21] dblock commented on #622
Dup of https://github.com/opensearch-project/opensearch-build/issues/129

[2022-01-10 18:21] #622 closed

[2022-01-10 18:22] dblock commented on #583
Is this still relevant?

[2022-01-10 18:31] gaiksaya opened #1442 "Upload min targ.gz snapshots to publicly accessible bucket"
The [buildManifest](https://github.com/opensearch-project/opensearch-build/blob/main/vars/buildManifest.groovy) just builds the snapshot but does not upload it anywhere. Its the publish-snapshot that uploads the artifacts to maven.

https://github.com/opensearch-project/opensearch-build/blob/main/jenkins/opensearch/distribution-build.jenkinsfile#L45-L47

Should we directly upload from here (jenkin

[2022-01-10 18:44] dblock commented on #1428
After https://github.com/opensearch-project/opensearch-build/issues/126 we should be able to onboard plugins into whatever we come up with, including CCR.

[2022-01-10 18:49] dblock commented on #1442
The -SNAPSHOT build is fundamentally a different build from non-SNAPSHOT. It will _never_ be released. For daily builds that are used for testing I think we want to keep it this way.

I noticed that with the requirements above the distribution build is looking increasingly similar to what we want the snapshot build to be (both x64 and arm), except that the latter is built with `snapshot: true` and

[2022-01-10 19:13] mch2 commented on #1442
Agree - I'd suggest we repurpose the existing arm/x64 builds to include `snapshot: true` and create a new script to build a release artifact off of a locked down manifest.

The intent of making those original builds 'release' builds was so that we did not have a special release build and any daily build used for testing could be promoted.  I'm not sure this is providing us much value if we can per

[2022-01-10 23:00] abhinavGupta16 opened #1444 "Add check in github actions for see if jenkinsfile in PR has a test associated with it"
### Is your feature request related to a problem? Please describe

We need to have regression tests for all jenkins job that we create. As the number of contributors for the jobs increase and the number of jobs increase, we need a check that would make sure every jenkinsfile that is added has a regression test for it, else, the ci would prevent the PR from merging.

### Describe the solution you'd

[2022-01-10 23:07] abhinavGupta16 commented on #1436
Yes. But we can have multiple repositories being clones inside the same job. Updated the description log output for better explanation

[2022-01-10 23:33] abhinavGupta16 commented on #818
Is this a META issue? It looks like this is holding a lot of issues.

[2022-01-11 01:01] qreshi opened #1445 "[Bug]: 1.3.0 Opensearch staging Docker image fails to come up with security error"
### Describe the bug

The [1.3.0 staging image for OpenSearch Docker](https://hub.docker.com/layers/opensearchstaging/opensearch/1.3.0/images/sha256-b4c8cad8423c7a7fd07c5a23ac3b8b5ae963b4012a2eed60df9263653e18dc61?context=explore) is failing to bring up a container when being used with the following exception:

[code]

Previously the staging image was facing issues with the PA plugin not being pre

[2022-01-11 12:38] dblock commented on #1442
I think that's not quite what was I was saying, we still want those dailies for people to download and try that aren't snapshot, but maybe I'm overthinking it.

[2022-01-11 12:46] dblock commented on #1444
Good idea. Note that sometimes it's not possible, notably because issues such as https://github.com/jenkinsci/JenkinsPipelineUnit/issues/434, but we should be able to at least have placeholders that reference these.

[2022-01-11 12:47] dblock commented on #1444
Could also think of this as code coverage and report Jenkinsfile's as code and see whether those are tested or not.

[2022-01-11 15:52] dblock commented on #1441
Moving to job-scheduler repo, https://github.com/opensearch-project/opensearch-build/blob/main/scripts/components/job-scheduler/build.sh#L65 calls

[code]

this needs to also include job-scheduler JAR.

@amitgalitz Care to make this change?

[2022-01-11 17:05] ankitkala commented on #1428
Yep, I've been following up that issue closely. Let me come up with the list of tasks required to support CCR perf suite and update here.

[2022-01-11 17:46] dblock commented on #1140
I've updated the template to prepare for next development iteration in https://github.com/opensearch-project/opensearch-build/pull/1377 and it will kick off the process that together with https://github.com/opensearch-project/opensearch-build/issues/1375 will get us to produce the complete bundle a lot earlier. I'll close this because the latter captures the work to fix this specific problem (a du

[2022-01-11 17:46] #1140 closed

[2022-01-11 18:01] ohltyler opened #1447 "Update test orchestrator pipeline"
The test orchestration pipeline (see [here](https://github.com/opensearch-project/opensearch-build/blob/main/jenkins/test/orchestrator/Jenkinsfile)) is out of date, and the parameters being passed to the different test jobs are now invalid and don't work.

Work should be done to update these jobs in a consistent manner, where the same set of parameters can be passed to all of them. The integ test

[2022-01-11 18:03] dblock commented on #693
This is a different cut of https://github.com/opensearch-project/opensearch-build/issues/126, closing as dup.

[2022-01-11 18:03] #693 closed

[2022-01-11 18:06] dblock commented on #172
This is a dup of https://github.com/opensearch-project/opensearch-build/issues/707

[2022-01-11 18:06] #172 closed

[2022-01-11 18:20] peterzhuamazon commented on #870
Shall we just close all plugin repo issue 1 by 1 then close this one?

[2022-01-11 18:41] dblock commented on #870
Yes please, but we need a paragraph of why we're not releasing 1.1.1 from @bbarani.

[2022-01-11 18:53] dblock commented on #124
Going to reopen this until we run integration tests with every build.

[2022-01-11 19:09] peternied commented on #779
Refocused this item for CI docker images

[2022-01-11 19:52] #1440 closed

[2022-01-11 19:59] dlvenable opened #1450 "Jenkins Jobs should be able to be unit tested"
### Is your feature request related to a problem? Please describe

This project's current Jenkins unit tests are testing Jenkins libraries. These tests create fake Jenkinsfile jobs which exercise library code. The goal is to ensure the behavior of the library code is consistent.

I would like to add a unit test for the Data Prepper artifacts build. I believe this test shouldn't need to know the de

[2022-01-11 20:02] dlvenable commented on #1450
Please see PR #1451 for my proposed implementation and a test which uses this new approach.

[2022-01-11 20:11] gaiksaya commented on #1439
[Triage] We will follow up after https://github.com/opensearch-project/opensearch-build/issues/1234

[2022-01-11 20:14] gaiksaya commented on #1444
[Triage] @abhinavGupta16 Can you please create issues for existing jenkinsfile?
Thanks!

[2022-01-11 20:17] gaiksaya commented on #1445
Closing this issue since its a duplicate of https://github.com/opensearch-project/opensearch-build/issues/1185

[2022-01-11 20:19] gaiksaya commented on #1447
[Triage] We should delete the orchestration workflow and update the documentation

[2022-01-11 20:38] gaiksaya commented on #131
[Triage] We do not have plan to work on multi node cluster performance tests for now.

[2022-01-11 20:38] #131 closed

[2022-01-11 20:44] gaiksaya commented on #818
@ohltyler Can you check this and other https://github.com/opensearch-project/opensearch-build/issues/124 issue and see if you can combine them into one and close the duplicates?
Thanks!

[2022-01-11 20:45] gaiksaya commented on #167
[triage] Looks like tasks from the issue description are complete. closing the issue. Feel free to reopen with more information.
Thanks!

[2022-01-11 20:45] #167 closed

[2022-01-11 21:01] peterzhuamazon opened #1452 "[Design] OpenSearch/Dashboards DEB/RPM Distribution Design Document"
Hi everyone,

We want to give you more details on how we currently experiment/implement the assemble workflows of DEB/RPM packages for the future releases on OpenSearch/Dashboards.

Please feel free to use this as guidance for contributing on DEB/RPM, as well as raising questions about our approach.

<details>
<summary> Original Draft PR for RPM POC on OpenSearch and Dashboards </summary>
We curre

[2022-01-11 21:44] peterzhuamazon commented on #956
We created an issue with the design and link in the readme: https://github.com/opensearch-project/opensearch-build/issues/1452

[2022-01-11 22:11] ohltyler commented on #818
@gaiksaya we have been using this one as the latest meta issue for tracking integ test progress. I'm ok to move the remaining P1 tasks in #124 to this repo but don't have permission to edit the issues.

@dblock can you help add the open tasks from there to this issue, and close out #124?

[2022-01-11 22:29] qreshi commented on #1445
As mentioned in the description, both the security plugin and PA plugin are present in the Docker image so I don't think #1185 applies here

[2022-01-11 22:38] mch2 commented on #1442
Will they be used in addition to the 2 snapshot artifacts?  If they have their separate use then that makes sense.  If not, I think having 4 parallel builds is a bit redundant.  The snapshots "should" be identical to the release tarball outside of maven tagging it as a snapshot.

[2022-01-11 23:04] ohltyler commented on #1447
I'll work on cleaning up this old code and updating the READMEs in a follow-up PR to #1429.

[2022-01-11 23:36] dblock commented on #124
Closing in favor of https://github.com/opensearch-project/opensearch-build/issues/818

[2022-01-11 23:37] #124 closed

[2022-01-12 00:03] gaiksaya commented on #1445
Sorry my bad! Misread the description. Re-opening it.
Need to debug if the issue is with security plugin or docker image itself.

[2022-01-12 00:24] gaiksaya commented on #453
Issue is resolved by this PR: https://github.com/opensearch-project/opensearch-build/pull/1378

[2022-01-12 01:04] peternied commented on #453
I would like to verify this issue after we've had a build created

[2022-01-12 02:06] gaiksaya commented on #453
Hi @peternied, you can verify with recent build for `1.2.4` version. Let me know if you want the links to those.
Thanks!

[2022-01-12 02:46] abhinavGupta16 commented on #1417
OpenSearch 1.2.4 Release issue - Release candidate testing instructions

- Use Docker-Compose to setup a cluster
  - Download this [gist](https://gist.github.com/abhinavGupta16/327efcfa2faa900c7eb331f7fce55878) as docker-compose.yml on your machine
  - Get latest image versions docker-compose pull
  - Start the cluster docker-compose up
- [OpenSearch docker](https://hub.docker.com/r/opensearchstag

[2022-01-12 09:19] tianleh commented on #1322
After talking with @ohltyler about the PR https://github.com/opensearch-project/opensearch-build/pull/1429, we figure out the following result. Tyler's work is for running **OpenSearch** integ test while mine current task is for such in **OpenSearch Dashboards**.

The OpenSearch Dashboards test job will need to know both OpenSearch and OpenSearch Dashboards public endpoints which is very different

[2022-01-12 13:09] davidlago opened #1454 "[Bug]: Entrypoint for Docker image erases config file"
### Describe the bug

After #1130 was merged, [this line](https://github.com/opensearch-project/opensearch-build/pull/1130/files#diff-107c2499e08c900c5ab75b5fd413c22bd9cf1ffe3819aeddabe51836ee4c58f5R72) completely wipes out the configuration file of the docker container on startup.

### To reproduce

[code]

as `1.2.4` is the first image built with this entrypoint.

### Expected behavior

Containe

[2022-01-12 14:36] dblock commented on #1322
I think it may be simpler if Dashboards were treated as a separate standalone product, and just use the latest available OpenSearch build, as needed. Do we really need to coordinate the two?

[2022-01-12 14:52] davidlago commented on #1417
Created #1454 , please tag with 1.2.4 as it is blocking the release

[2022-01-12 17:35] peternied opened #1456 "Remove JCenter Dependencies"
See the OpenSearch Forum [Announcement](https://discuss.opendistrocommunity.dev/t/jcenter-build-issues/8293)

[code]

Reproduce with
`./build.sh manifests/1.2.4/opensearch-1.2.4.yml --component OpenSearch --snapshot`

<details><summary>Full Error stack</summary>
<p>

[code]
</p>
</details>

### What’s the problem?
JCenter, which is a repository used in our builds, ceased operations today. Gradle w

[2022-01-12 17:43] dblock commented on #1456
jcenter bintray is down, https://isdown.app/integrations/bintray

Do note that jcenter bintray [has been sunset, even though it will remain online](https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/), we need a campaign to remove our dependency on it.

[2022-01-12 17:51] dblock opened #1457 "Auto-format the auto-generated manifest YML"
### Is your feature request related to a problem? Please describe

When a new manifest is generated by the manifests workflow it's strangely formatted. When we try to make changes to it by hand we end up auto-formatting it very differently, e.g. https://github.com/opensearch-project/opensearch-build/pull/1449

### Describe the solution you'd like

Write new manifests that are formatted as if they

[2022-01-12 18:42] mch2 commented on #1456
Been looking at this a bit -

From a
`./gradlew build --debug`

`
2022-01-12T10:28:31.122-0800 [DEBUG] [org.gradle.api.internal.artifacts.ivyservice.ivyresolve.RepositoryChainComponentMetaDataResolver] Attempting to resolve component for org.yaml:snakeyaml:1.26 using repositories [BintrayJCenter, opensearch-downloads, opensearch-downloads2, opensearch-snapshots, elasticsearch-downloads, elasticsea

[2022-01-12 18:52] mch2 commented on #1456
Just noticed that 1.x branch is still explicitly referencing jcenter() [here](https://github.com/opensearch-project/OpenSearch/blob/1.x/buildSrc/build.gradle#L97)

[2022-01-12 19:03] peterzhuamazon commented on #1454
Taking a look.

[2022-01-12 19:05] dblock commented on #1428
What will a script do that existing scripts don't?
I would say this is already test.sh and it takes a manifest as input.

[2022-01-12 19:11] dblock commented on #1456
Thanks for looking into it @mch2, let's fix OpenSearch on all branches, then I'll cascade this issue into plugins as needed to get rid of anything jcenter.

[2022-01-12 19:18] mch2 commented on #1456
So I initiated that backport to 1.x to remove the explicit jcenter() dep in 1.x, but its still [blowing up](https://github.com/opensearch-project/OpenSearch/runs/4794038445?check_suite_focus=true#step:4:83).  I think the isue is in gradle

Unfortunately without gradlePluginPortal() defined we are unable to resolve a few dependencies:

Could not determine the dependencies of task ':buildSrc:compile

[2022-01-12 19:27] owaiskazi19 commented on #1456
Apparently spotless also uses jcenter and it's on `main`.
`Could not GET 'https://jcenter.bintray.com/com/diffplug/spotless/spotless-lib/2.7.0/spotless-lib-2.7.0.module'. Received status code 502 from server: Bad Gateway`.
https://github.com/opensearch-project/OpenSearch/runs/4793525694?check_suite_focus=true

[2022-01-12 19:44] mch2 commented on #1456
Tried an explicit dependency on plugins.gradle.org/m2/ instead of gradlePluginPortal() - looks like the version of spotless we are using is not there so it mirrors to jCenter.

        Required by:
            project : > com.diffplug.spotless:com.diffplug.spotless.gradle.plugin:5.6.1 > com.diffplug.spotless:spotless-plugin-gradle:5.6.1

[2022-01-12 19:50] dlvenable commented on #1456
@mch2 , Did you try to disable the Gradle module files as noted here? https://github.com/opensearch-project/OpenSearch/pull/1892#issuecomment-1011366685 I see that it is trying to load a .module file.

[2022-01-12 19:56] peterzhuamazon commented on #1454
The issue is due to that:

Reading from and writing to opensearch.yml in the same command line is error-prone. sed is trying to read from the file at the same time that tee wants to truncate it and write to it.

[2022-01-12 20:08] mch2 commented on #1456
Thanks @dlvenable for the suggestion.  I've tried it but still getting the same trace.  With debug enabled I can see plugins.gradle.com redirecting to bintray.  Spotless 5.6.1 declares other spotless dependencies that are sourced from bintray, so it redirects there - ex.

[code]

`
2022-01-12T12:04:55.177-0800 [DEBUG] [org.apache.http.impl.conn.PoolingHttpClientConnectionManager] Connection releas

[2022-01-12 20:14] mch2 commented on #1456
Updates from gradle - https://status.gradle.com/?_ga=2.113826690.463275434.1641929099-1662752518.1641929099

[2022-01-12 20:25] dlvenable commented on #1456
@mch2 , The spotless plugin is also available in Maven Central:
https://repo1.maven.org/maven2/com/diffplug/spotless/spotless-lib/2.7.0/

It seems something is still preferring the load from the Gradle Plugin Repository rather than Maven Central.

I'm currently trying to move Data Prepper plugins to use the classic syntax of `apply plugin`. It appears this lets us control the order - Maven Central

[2022-01-12 20:30] mch2 commented on #1456
@dlvenable yep been trying to figure out how to point there instead of jcenter.

I think this can be done by declaring a repositories block inside of settings.gradle

[code]

Testing it out - so far so good

[2022-01-12 20:33] mch2 commented on #1456
Yep this worked for me

[code]

[2022-01-12 20:38] #1454 closed

[2022-01-12 20:39] dblock commented on #1456
@mch2 Can I please get some help here - can you edit the issue above with clear instructions of what a project/component/plugin needs to do to fix a similar error? thx

[2022-01-12 20:40] peternied commented on #1457
An alternative approach, we could apply a check / auto-formatter on all manifest.yml files.

[2022-01-12 20:46] mch2 commented on #1456
will do - testing locally with job-scheduler and will update.

[2022-01-12 20:49] peterzhuamazon commented on #1417
Fixed.

[2022-01-12 21:07] peterzhuamazon commented on #1456
More accurate report link tho their website is having issues: https://status.bintray.com/incidents/d0yvk95zh58j

[2022-01-12 21:22] zelinh commented on #794
Re-opening this on behalf of @davidcui1225.

[2022-01-12 21:23] davidcui1225 commented on #794
ODBC is cleared to be released now so both SQL drivers can be published

[2022-01-12 21:28] mch2 commented on #1456
To mitigate this:
1. Remove any direct dependency on jcenter().  This would appear in a repositories block in build.gradle.  [Example](https://github.com/opensearch-project/OpenSearch/pull/1057).
2. If your plugin depends on a gradle plugin that cannot currently be downloaded from https://plugins.gradle.org/ because its dependencies are failing to pull from jcenter.  A workaround is to define a re

[2022-01-12 21:30] peternied commented on #1456
Thanks @mch2 I've added the fix to the top of this issue

[2022-01-12 21:33] zhongnansu commented on #795
@zelinh  I am the owner of sql-cli project and I can help with release it in Opensearch. The following is the old release process we follow in Opendistro.
 - github workflow to uploaded artifact to S3, as well as upload/release sql-cli on PyPI. Since previously we didn’t want to release sql-cli, so this workflow is commented out.
- The above workflow is set to be only triggered when a release tag

[2022-01-12 21:36] zhongnansu commented on #795
We have issues in sql repo asking for sql-cli to be published to PyPI
https://github.com/opensearch-project/sql/issues/243
https://github.com/opensearch-project/sql/issues/374

[2022-01-12 21:56] gaiksaya commented on #1442
After talking to @peternied looks like this issue is urgent. Working on implementing a fix. This is what it looks like currently:
https://github.com/gaiksaya/opensearch-build/blob/snapshots/jenkins/opensearch/distribution-build.jenkinsfile#L57-L91

[2022-01-12 21:58] gaiksaya commented on #794
Hi @davidcui1225 ,

What is the estimated release date or timeline you are looking at?

[2022-01-12 22:00] davidcui1225 commented on #794
Hi @gaiksaya ,

Both of the driver artifacts are ready to post today- I will open a PR to the `project-website` repository once the ODBC artifacts are signed  and uploaded

[2022-01-12 22:25] gaiksaya commented on #1252
Hi @dlvenable , @elfisher and @stockholmux ,
Do we know what should be the downloading URL for data-prepper?

Suggestion (following what we have for logstash on our website's download page):

[code]

[2022-01-12 22:34] dlvenable commented on #1252
This is the current OpenSearch URL:

[code]

Based on that, I'd think:

[code]

The path prefix is something I'm flexible on.

[2022-01-12 22:41] gaiksaya commented on #1252
bundle is the opensearch-bundle so that is specific to bundles that we create. Version prefix sounds good too just that we do not have that for other stand-alone components. Also version number is present in the artifact name as well.
@peternied @peterzhuamazon  what do you think?

[2022-01-12 23:10] peternied commented on #1234
Have been exploring how we should advance this design, here is what we've come up with.

## Action Items
 - [ ] Could a GitHub release replace a build manifest, should we try it?
 - [ ] How can external workflows be authored in a way that makes sure best practices are followed?
 - [ ] How can OpenSearch-Build make sure it does not create a breaking change for external workflows?
 - [ ] What modifi

[2022-01-12 23:13] #453 closed

[2022-01-12 23:19] seraphjiang commented on #1322
From the issue description, we need public endpoint of both OpenSearch and OpenSearch Dashboards.
I'm curious how Jenkins code get public endpoint for OpenSearch, it is in environment variable of Jenkins function return? What's difficult to do same for OpenSearch Dashbaords?

[2022-01-12 23:24] bbarani commented on #870
We will not be releasing 1.1.1 version of OpenSearch as we decided to prioritize the release of 1.2.x version of OpenSearch to fix critical log4j vulnerabilities. Please upgrade to the latest version of OpenSearch to take advantage of the new features along with bug fixes and patches.

[2022-01-13 00:41] dlvenable commented on #1252
I think having the version number in the path can help, especially if the server supports (or were to support listing). So I'd like to keep it in the path.

So to summarize, I'm looking to have it at a path which ends in:

[code]

I am agnostic to any path prefix (or lack thereof) and leave that whatever works best for your team.

[2022-01-13 01:01] CEHENKLE commented on #1456
Put a post up in the forums to let folks know what we were up to over here (https://discuss.opendistrocommunity.dev/t/jcenter-build-issues/8293)

[2022-01-13 01:02] gaiksaya commented on #1252
Sounds good. @elfisher @stockholmux any objections?

[2022-01-13 02:08] abhinavGupta16 commented on #1417
Created https://github.com/opensearch-project/anomaly-detection/issues/359 with anamoly-detection for build failure due missing apache lib

[2022-01-13 02:17] peternied commented on #1456
Thanks for filing all the linked issues, I've updated the this issue to consolidate this information at the top.

[2022-01-13 03:58] peternied commented on #1450
PR https://github.com/opensearch-project/opensearch-build/pull/1451 is the definition of a *unit test*, the unit is the jenkinsfile, and that is all that is tested.  By being explicit in its expectations and very simple to create/maintain.  What @dlvenable created is a great test of the jenkinsfile.

Now to concern of insufficient coverage, how do you catch if the integration between different com

[2022-01-13 04:18] ankitkala commented on #1428
These are the steps we have for running a replication perf test:
1. Create 2 clusters(Leader and follower).
2. Connect the two clusters and start replication.
3. Start data ingestion on leader using OSB and monitor replication metrics.
4. Stop the replication and remove the connection(Can be skipped in this case since these clusters  won't be reused).

We need to execute the additional logic to se

[2022-01-13 04:32] abhinavGupta16 commented on #1450
I think the premise that jenkinsfile is a unit is flawed. `jenkinsfile` is a something that brings in multiple units together to work and perform a job. So yes, we should have integrated regression files for jenkinsjob since the component that it uses are already unit tested.

Since we currently don't have the framework to execute the job, the next best thing is the regression test with regression

[2022-01-13 05:06] abhinavGupta16 commented on #1450
A few good reads on when to mock -

https://www.accenture.com/us-en/blogs/software-engineering-blog/to-mock-or-not-to-mock-is-that-even-a-question
https://chemaclass.es/blog/to-mock-or-not-to-mock/

[2022-01-13 07:01] anirudha commented on #1456
@peternied , I don't see this issue tagged to a release, is this a target or 1.2.4 or 1.3 ?
fyi - @ps48 - thanks

[2022-01-13 13:33] dblock commented on #1322
I see [this code](https://github.com/opensearch-project/opensearch-build/blob/6ed1ce3c583233eae4fe1027969d778cfc7660f7/src/test_workflow/integ_test/integ_test_suite_opensearch_dashboards.py#L71) that passes endpoint information on.

[2022-01-13 13:33] #870 closed

[2022-01-13 14:54] dblock commented on #1456
I labeled this 1.2.4 because we can't produce builds without fixing it.

[2022-01-13 15:22] dblock opened #1461 "[PROPOSAL] Vary build numbers for every build"
### Is your feature request related to a problem? Please describe

Currently there's no way to distinguish between two builds of OpenSearch or OpenSearch Dashboards during development by looking at their version number, nor is there a way to introduce a new build when the build changes, but the semantics don't (e.g. as a result of https://github.com/opensearch-project/opensearch-build/pull/1130).

[2022-01-13 15:36] dblock opened #1463 "[Bug]: Circular dependency on job-scheduler-spi SNAPSHOT"
### Describe the bug

There's a circular dependency on -SNAPSHOT builds being published to maven that require the distribution build to be successful.

### To reproduce

1. In order to build anomaly-detection job-scheduler-spi SNAPSHOT is required, e.g. https://github.com/opensearch-project/anomaly-detection/pull/360 that is failing because job-scheduler-spi in maven is not up-to-date
2. In order

[2022-01-13 16:39] dlvenable commented on #1234
@peternied , I like this concept.

What is the purpose of the manifest if the scripts themselves are in conventional locations? Does it just define which types of artifacts are produced?

Regarding project convents ("Follow common project conventions for"), I'd like to see a specific directory for build scripts. This way projects don't clutter their main directory. And it can avoid naming conflict

[2022-01-13 16:39] jcgraybill commented on #1461
Policy / procedure question related to this: is it okay for the current build number to be different for various distribution artifacts at any point in time? Or should there be an expectation that they all match. Now that I type it out, I think that as an administrator I would prefer the former: I don't want to be prompted to update my docker image because an update to the windows installer was re

[2022-01-13 17:12] dblock commented on #1234
We should re-design this and do a campaign in a release of going through _all_ repos to adjust it accordingly.

[2022-01-13 17:22] dblock commented on #1461
Haven't we already done this once with 1.0.1 that didn't release a new OpenSearch-min (remained at 1.0.0)? In this issue we're just generalizing this slightly, but whichever way we cut it, if we released distribution 1.2.3.A, then distribution 1.2.3.B is effectively a new release.

[2022-01-13 17:26] stockholmux commented on #1461
Two things:
1. SemVer states that build metadata can only be separated by `+`, so `1.2.4.202201131018` is not possible under the SemVer Spec.
2. In the case of sequential or date-based identifiers, we should be careful not to treat this as a version precedence factor [SemVer spec item 10 ](https://semver.org/#spec-item-10) states that two version with different build metadata have the same version

[2022-01-13 17:28] dlvenable opened #1465 "Single Build for Data Prepper"
### Is your feature request related to a problem? Please describe

Data Prepper releases uses two custom builds for the tarballs and a parameterized build for the Docker image.

### Describe the solution you'd like

One Data Prepper build which produces three artifact sets:

* Docker image
* Tarball files
* Maven artifacts

It should also handle promotion.

This single job should merge the work do

[2022-01-13 18:24] whitesource-for-github-com[bot] opened #1466 "CVE-2021-22060 (Medium) detected in spring-core-5.3.13.jar"
## CVE-2021-22060 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>spring-core-5.3.13.jar</b></p></summary>

<p>Spring Core</p>
<p>Path to dependency file: /build.gradle</p>
<p>Path to vulnerable library: /home/wss-scanner/.gradle/caches/modules-2/files-2.1/org.sp

[2022-01-13 18:29] amitgalitz commented on #1456
Does this mean all fixes on plugin level as well even if build doesn't fail should be backported to 1.2 for 1.2.4 release.

[2022-01-13 18:30] zelinh commented on #1056
WhiteSource fix on this issue will be deployed with version 22.1.1 which is expected to be released on 01/23/2022.

[2022-01-13 18:52] peternied commented on #1450
Files:
- Component under test, https://github.com/opensearch-project/opensearch-build/blob/main/jenkins/sign-artifacts/sign-standalone-artifacts.jenkinsfile#L1
- Test configuration, https://github.com/opensearch-project/opensearch-build/blob/main/tests/jenkins/TestSignArtifacts.groovy#L42
- Regression test comparison, https://github.com/opensearch-project/opensearch-build/blob/main/tests/jenkins/j

[2022-01-13 19:00] VijayanB commented on #1108
@bbarani can you help us to create an account?

[2022-01-13 19:03] bbarani commented on #1108
@VijayanB We will look in to this request soon. I will keep you updated on the progress.

[2022-01-13 19:06] bbarani commented on #27
Design document for RPM and the FAQ has been added to #1452. Feel free to comment on that issue as well.

[2022-01-13 19:13] amitgalitz commented on #1417
Just an FYI if other plugins are wondering no changes need to be made on any dashboard plugins for 1.2.4

[2022-01-13 19:14] amitgalitz commented on #1417
Fixed

[2022-01-13 19:15] gaiksaya commented on #1252
Hi @dlvenable ,

Artifacts have been promoted to prod. Do you have an update to update our website?
Looks like all we have is a docker image today and we need to add option for tarball and respective signatures.
Thanks!

[2022-01-13 19:17] dlvenable commented on #1252
@gaiksaya , Yes, I am working a PR presently for the project-website project.

I will also verify the artifacts from the build.

[2022-01-13 19:22] peternied commented on #1456
@amitgalitz Yes, these changes need to be backported to all branches that we expect to build.  This event aside, JCenter will eventually be permanently offline, and we might as well get ahead of it.

If there are BWC tests that pull code and rebuild old versions those branches will need backports as well otherwise those tests will be unable to execute.  This might be a good opportunity to check on

[2022-01-13 19:38] abhinavGupta16 commented on #1465
This task would also require us to remove the files merged in https://github.com/opensearch-project/opensearch-build/pull/1460.

Following approach can be used to promote artifact - https://github.com/opensearch-project/opensearch-build/pull/1460#pullrequestreview-851619395

Can this be added in the description?

[2022-01-13 19:39] dlvenable commented on #1252
@gaiksaya , I confirmed that the artifacts work as expected.

I also pushed a PR for the project-website: https://github.com/opensearch-project/project-website/pull/622

[2022-01-13 19:41] gaiksaya commented on #1252
Thank you! We can close this issue once the PR is merged.

[2022-01-13 21:04] abhinavGupta16 opened #1468 "[META] Add tests for existing jenkins jobs"
### Is your feature request related to a problem? Please describe

Following up on the comment - https://github.com/opensearch-project/opensearch-build/issues/1444#issuecomment-1010324850

- [ ] Create a separate folder for tests for jenkins job
- [ ] #1712

The existing jenkins jobs needs tests -

- [ ] [docker-build](https://github.com/opensearch-project/opensearch-build/blob/main/jenkins/docker

[2022-01-13 21:16] ryanbogan opened #1469 "Replacement for CLK_TCK on Windows build"
I am currently writing an install script for a Windows build. What should the replacement be for this section of `opensearch-tar-install.sh` on a Windows build?

CLK_TCK=`/usr/bin/getconf CLK_TCK`
echo "-Dclk.tck=$CLK_TCK" >> $OPENSEARCH_HOME/config/jvm.options

[2022-01-13 22:16] abhinavGupta16 commented on #1417
OpenSearch 1.2.4 Release issue - Release candidate testing instructions

- Use Docker-Compose to setup a cluster
  - Download this [gist](https://gist.github.com/abhinavGupta16/327efcfa2faa900c7eb331f7fce55878) as docker-compose.yml on your machine
  - Get latest image versions docker-compose pull
  - Start the cluster docker-compose up
- [OpenSearch docker](https://hub.docker.com/r/opensearchstag

[2022-01-13 22:28] peternied commented on #1450
[Recapping an offline conversation]

@abhinavGupta16 could you create a PR to update the changes in #1451 to what you'd want?  Great suggestion from @dblock to avoid talking in the abstract and forward the action.

A consideration, we had a legit jenkins workflow bug that was fixed in this PR https://github.com/opensearch-project/opensearch-build/pull/1467 - `wget` wasn't on the image.  I wish we

[2022-01-13 23:17] abhinavGupta16 commented on #1450
Ideally, we should not use wget or curl to download the artifacts since we know the s3 bucket for the artifacts.

[2022-01-14 00:44] abhinavGupta16 opened #1477 "[Bug]: Opensearch fails to start and deploy for 1.2.4"
### Describe the bug

Opensearch fails to deploy with a missing lib error. The error is consistent with `tar` and `docker` deployment.

### To reproduce

For docker, run -

[code]

For tar -
[code]

### Expected behavior

_No response_

### Screenshots

_No response_

### Host / Environment

_No response_

### Additional context

_No response_

### Relevant log output

[code]

[2022-01-14 00:50] gaiksaya commented on #1477
@amitgalitz @zhangxunmt, can you guys take a look. Looks like AD plugin is causing the issue.
Thanks!

[2022-01-14 00:50] abhinavGupta16 commented on #1477
@amitgalitz @Zhangxunmt - Can you please help take a look since this fails for a class in AD.

[2022-01-14 00:51] abhinavGupta16 commented on #1477
Issue for this error that was opened earlier -  https://github.com/opensearch-project/anomaly-detection/issues/359

[2022-01-14 00:52] abhinavGupta16 commented on #1417
Created https://github.com/opensearch-project/opensearch-build/issues/1477, since this is blocking the release.

[2022-01-14 00:55] amitgalitz commented on #1477
Taking a look

[2022-01-14 01:26] amitgalitz commented on #1477
I think I found the issue, our dependency is being compiled fine and running fine locally and on all github workflows. But after inspecting the pom file made at build, the lang3 dependency is not being bundled with our JAR which makes it so our artifact itself doesn’t work. Basically our runtime classpath contains a different version of this dependency then when we compile. Actively fixing it now

[2022-01-14 01:27] abhinavGupta16 commented on #1477
Thanks @amitgalitz for actively looking into this.

[2022-01-14 01:49] Zhangxunmt commented on #1477
https://github.com/opensearch-project/anomaly-detection/pull/363. This will fix the issue. After them merge, please work out a build release again for test. @abhinavGupta16

[2022-01-14 02:22] ylwu-amzn commented on #1477
Thanks for reporting this issue. Why AD can pass CI:
1. Job scheduler team upgraded cron-utils in this PR https://github.com/opensearch-project/job-scheduler/pull/118, which will not include `commons-lang3`
2. Then AD team added `commons-lang3` dependency explicitly. But we used old `job-scheduler` 1.2.4 zip which still has `commons-lang3` packed. So it was ok to use `compileOnly` in AD and CI can

[2022-01-14 04:34] abhinavGupta16 commented on #1477
opensearch now builds and starts successfully

[2022-01-14 04:36] abhinavGupta16 commented on #1477
opensearch now builds and starts successfully. Please feel free to reopen this issue if the issue persists

[2022-01-14 04:36] #1477 closed

[2022-01-14 06:09] abhinavGupta16 commented on #1417
This issue is fixed.

[2022-01-14 06:10] abhinavGupta16 commented on #1417
**Latest Artifacts**

OpenSearch 1.2.4 Release issue - Release candidate testing instructions

- Use Docker-Compose to setup a cluster
  - Download this [gist](https://gist.github.com/abhinavGupta16/327efcfa2faa900c7eb331f7fce55878) as docker-compose.yml on your machine
  - Get latest image versions docker-compose pull
  - Start the cluster docker-compose up
- [OpenSearch docker](https://hub.docke

[2022-01-14 06:29] abhinavGupta16 opened #1479 "Integration tests for 1.2.4 OpenSearch Artifacts"
Adding testing results for 1.2.4 OpenSearch Artifacts.

[2022-01-14 14:46] stockholmux commented on #1252
opensearch-project/project-website#622 is merged.

[2022-01-14 15:33] dblock commented on #1468
FWIW we have a lot of 1-line issues, I think it's totally fine to track a list like here, link to PRs as we go, then close the issue when we have 100% done

[2022-01-14 15:35] dblock commented on #1469
Looks like [this is used by performance-analyzer](https://github.com/search?q=org%3Aopensearch-project+clk.tck&type=code), let's move this issue into that repo.

[2022-01-14 15:39] #1252 closed

[2022-01-14 18:24] dblock commented on #1182
This would also fix https://github.com/opensearch-project/opensearch-build/issues/1463.

I think we should attempt what @mch2 is recommending above for https://github.com/opensearch-project/ml-commons/issues/122.

[2022-01-14 18:31] #1447 closed

[2022-01-14 18:51] tianleh opened #1482 "Unify the structure for release url and regular distribution url for running Dashboards integ test"
### Is your feature request related to a problem? Please describe

Background: to run Dashboards integ test against public endpoint, this is the command

[code]

**Note that for integ test, we are reading the artifact URL from the bundle manifest (attribute `location`) instead of taking it from input directly.**
(https://github.com/opensearch-project/opensearch-build/blob/main/src/test_workflow/de

[2022-01-14 18:59] tianleh commented on #1482
@dblock @peternied @kavilla @seraphjiang

[2022-01-14 19:01] dblock commented on #1482
This makes sense. I think we inherited `bundle` from earlier attempts.

[2022-01-14 19:02] tianleh commented on #1322
We will run the test against the release endpoint instead of every newly bundled artifact. Found a pre-quest task https://github.com/opensearch-project/opensearch-build/issues/1482

[2022-01-14 19:10] gaiksaya commented on #1442
PR #1472 resolved this issue. Thanks!

[2022-01-14 19:10] #1442 closed

[2022-01-14 19:11] gaiksaya commented on #1261
#1472 @peternied Can you check with Acceptance Criteria and close this issue?
Thanks!

[2022-01-14 20:10] abhinavGupta16 commented on #1479
arm64 integ test
[code]

[2022-01-14 20:13] abhinavGupta16 commented on #1479
Used job to runt the arm64 integ test
[code]

[2022-01-14 20:22] tianleh commented on #1482
Digging the repo and didn't find where the logic is about the release endpoint. By searching "artifacts.opensearch.org", only find this signing logic https://github.com/opensearch-project/opensearch-build/blob/main/vars/signArtifacts.groovy#L34

Could anyone help point to where the logic is or any documents about it? @dblock @peternied @peterzhuamazon

[2022-01-14 20:48] jimmyjones2 commented on #1452
Will the RPMs be signed, like the ODFE ones were?

[2022-01-14 20:54] gaiksaya commented on #716
Is publishing the [core-plugins zips](https://github.com/opensearch-project/opensearch-build/blob/main/tests/data/builds/opensearch/manifest.yml#L9) to maven in scope of this change?

[2022-01-14 22:12] abhinavGupta16 commented on #1479
Reran tests for arm64

[code]

[2022-01-14 22:14] abhinavGupta16 commented on #1479
All tests are green for `x64` and `arm64`

[2022-01-14 22:14] #1479 closed

[2022-01-14 23:18] qreshi commented on #1445
Just pulled the latest version of the OpenSearch 1.3.0 staging image and it looks like the error reported in this issue is not longer happening and OpenSearch is coming up successfully on it. I'm not sure if this was a change in the security plugin or something else but I'll close this issue in either case.

[2022-01-14 23:18] #1445 closed

[2022-01-14 23:21] gaiksaya commented on #1482
The artifacts are moved from staging to production using the below code base https://github.com/opensearch-project/opensearch-build/blob/main/vars/promoteArtifacts.groovy#L71-L83

[2022-01-15 00:07] kavilla commented on #1479
With security:

Alerting
[code]

AD
[code]

Reports
[code]

GANTT
[code]

IM
[code]

queryWorkbench
[code]

Observability
[code]

[2022-01-15 06:06] dblock commented on #1452
We generally sign everything we release, so let's make sure they are.

[2022-01-15 06:07] dblock commented on #716
I would imagine that yes.

[2022-01-15 09:45] tianleh commented on #1482
Working on the code change in promoteArtifacts.groovy to make the path hierarchy consistent

[2022-01-15 14:12] gilbsgilbs opened #1486 "Make entrypoint scripts actual entrypoints in docker images"
### Is your feature request related to a problem? Please describe

Currently, entrypoints scripts are defined as an docker commands and not as entrypoints:

- https://github.com/opensearch-project/opensearch-build/blob/fb20bc0e81bd6e055e40a9f86fcea22c7165c81a/docker/release/dockerfiles/opensearch.al2.dockerfile#L109
- https://github.com/opensearch-project/opensearch-build/blob/fb20bc0e81bd6e055e40

[2022-01-15 14:30] gilbsgilbs opened #1487 "[Bug]: Performance analyzer is not properly killed in the docker image"
### Describe the bug

This is probably quite anecdotal, but when the docker image is stopped, the performance analyzer is not actually killed by the entrypoint here:

https://github.com/opensearch-project/opensearch-build/blob/fb20bc0e81bd6e055e40a9f86fcea22c7165c81a/docker/release/config/opensearch/opensearch-docker-entrypoint.sh#L88

The `PA_PID` variable doesn't hold the process ID of the perfo

[2022-01-15 14:45] gilbsgilbs opened #1488 "Always use a namespace for docker environment variables"
### Is your feature request related to a problem? Please describe

Environment variables are frequently defined as system globals, or may be mixed up with a other environment variables which can easily lead to name clashes. Therefore, it is usual for docker image to use a namespace prefix for the environment variables that are exposed through `docker run -e`. For instance, every environment variab

[2022-01-15 22:53] justchris1 commented on #1452
... and will be they signed with a strong algorithm like SHA256? (Suggestion: they should).

If it isn't it will prevents the use of the rpms / yum repo for install on Redhat / Centos 8 (replacements) when the machine is in FIPS mode, which is quite important for a segment of the user population and not something that can be resolved by 'turning it off'. Without SHA256, the rpm's won't install and

[2022-01-16 00:40] tianleh opened #1489 "Update artifacts promotion Jenkins to support OpenSearch Dashboards"
### Is your feature request related to a problem? Please describe

The current job only builds for OpenSearch. When trying to run against OpenSearch Dashboards, the logic which is specific to OpenSearch will fail. See below.
https://github.com/opensearch-project/opensearch-build/blob/main/vars/promoteArtifacts.groovy#L36

https://github.com/opensearch-project/opensearch-build/blob/main/vars/promot

[2022-01-17 04:35] tianleh opened #1491 "Consolidate release artifact URL"
### Is your feature request related to a problem? Please describe

The release artifact can be accessed in the following style from https://github.com/opensearch-project/opensearch-build/issues/1482

https://artifacts.opensearch.org/releases/1.2.0/dist/opensearch-dashboards/opensearch-dashboards-1.2.0-linux-x64.tar.gz

We can deprecate the existing one
https://artifacts.opensearch.org/releases/bun

[2022-01-17 17:02] stockholmux commented on #794
@davidcui1225 Did you ever do that PR? I haven't seen it yet.

[2022-01-17 17:12] dblock commented on #1486
💯  @gilbsgilbs please do contribute!

[2022-01-17 17:14] dblock commented on #1488
We can make backward incompatible changes in 2.0 with proper documentation, or do the renaming and deprecation earlier. Open to either.

[2022-01-17 17:15] dblock commented on #1452
@peterzhuamazon Do we have documentation on what the signer process produces, keys, etc.? If not let's make sure to add this to this repo.

[2022-01-18 14:50] #1482 closed

[2022-01-18 14:50] #1489 closed

[2022-01-18 16:23] peternied opened #1492 "[Feature] Add support for urls to substitute `latest` for the most recent build number"
From https://github.com/opensearch-project/OpenSearch-Dashboards/issues/1038

Potential Solutions:
- **Add functionality to the url re-writer**
  The cdk deployment that uses a lambda function to rewrite the url on incoming requests to the s3 buckets, this could be updated to handle the `/latest/` string in place of a build number by scanning the s3 bucket.  https://github.com/opensearch-project/o

[2022-01-18 16:26] peternied commented on #1351
This workflow supports this scenario https://github.com/opensearch-project/opensearch-build/blob/main/jenkins/sign-artifacts/sign-standalone-artifacts.jenkinsfile

[2022-01-18 16:26] #1351 closed

[2022-01-18 16:38] dblock commented on #1492
I think the best case scenario for "latest" would be a 302 redirect, is that an option 3? That is also something that would allow us to move downloadable files around as we tend to do this quite a bit while we learn the "ideal" url structure.

[2022-01-18 16:59] peternied commented on #1261
Did a quick check on 1.3.0 which is in development, the timestamp is from today, so the snapshot artifacts are being uploaded as expected.  Thanks @gaiksaya

[code]

[2022-01-18 16:59] #1261 closed

[2022-01-18 18:00] peterzhuamazon commented on #1417
Maven released now will appear in this url:
https://repo1.maven.org/maven2/org/opensearch/opensearch/1.2.4/

[2022-01-18 18:05] peternied commented on #1492
Good callout, I've added it to the acceptance criteria that we need a way to get through a cache.

[2022-01-18 18:13] peterzhuamazon commented on #1417
Docker Release:
https://hub.docker.com/r/opensearchproject/opensearch/tags?page=1&ordering=last_updated&name=1.2.4

[2022-01-18 18:13] #1432 closed

[2022-01-18 18:26] peterzhuamazon commented on #1417
Docker arm64 test:
[code]

[2022-01-18 18:32] peterzhuamazon commented on #1417
Test native plugins:

arm64:
[code]

x64:
[code]

[2022-01-18 18:40] tianleh opened #1494 "create and commit "artifacts/vars-build" instead of dynamically creating/deleting during TestPromoteArtifacts"
### Is your feature request related to a problem? Please describe

This is motivated by @dblock 's PR comment on https://github.com/opensearch-project/opensearch-build/pull/1490#discussion_r786190883

### Describe the solution you'd like

The test files below shall be checked in instead of being dynamically setup.
https://github.com/opensearch-project/opensearch-build/blob/main/tests/jenkins/TestP

[2022-01-18 18:44] ohltyler opened #1495 "Supporting running integ tests on multiple JDKs"
Current integ test jenkinsfile is only running on JDK14. This should be changed to support multiple JDKs and should match what OpenSearch supports / runs on.

[2022-01-18 18:45] ohltyler commented on #818
Can I get permissions to edit issues? I'd like to add #1495 to this list

[2022-01-18 19:03] jcgraybill commented on #1452
Please fix the URL on this line - it goes to a document that most of us don't have access to:

I'm not following the decision to include copies of the JDK and Node.JS runtime in the deb and rpm packages. You say it's so a user "does not need to install them manually", but the package manager would do this. I'd consider this a strength of package managers, not a burden.

[2022-01-18 19:08] dblock commented on #818
I added it to the list in the meantime.

[2022-01-18 19:16] ankitkala opened #1496 "Update Mensor Client to support Multi cluster use cases"
### Is your feature request related to a problem? Please describe

Update Mensor Client to support Multi cluster use cases

### Describe the solution you'd like

- Update Mensor client to take multiple clusters.
- Add support to pass the new attribute "testScenarioConfiguration" for CCR.
- Add support to pass telemetry and telemetry-params
- Add support for passing multiple IPs for muti-node clust

[2022-01-18 19:17] kavilla opened #1497 "[Bug]: checksum check failing for OpenSearch"
### Describe the bug

OpenSearch Dashboards out-of-the-box experience downloads a snapshot of OpenSearch to start up and run some integration tests and functional tests. However, there is [logic](https://github.com/opensearch-project/OpenSearch-Dashboards/blob/main/packages/osd-opensearch/src/artifact.js#L427) before starting OpenSearch artifact automatically downloaded to verify the checksum. As

[2022-01-18 19:20] ankitkala opened #1498 "Add support for creating multiple cluster and setup CCR"
### Changes required
- Create multiple single node cluster.
- Pass multiple endpoint to PerfSuite.
- Connect two cluster via seed nodes setting and configure replication.

[2022-01-18 19:24] ankitkala opened #1499 "[CCR Perf] Add support for multiple test scenarios in a PerfSuite"
### Describe the solution you'd like

Either refactor PerfSuite to create multiple test scenarios. Alternatively, create multiple perf suites and execute in parallel.

[2022-01-18 19:27] ankitkala opened #1500 "Run CCR Perf tests as part of Jenkins CI"
### Is your feature request related to a problem? Please describe

https://github.com/opensearch-project/opensearch-build/issues/1428

### Describe the solution you'd like

After all tasks mentioned in https://github.com/opensearch-project/opensearch-build/issues/1428 are complete, we need to work towards enabling these tests as part of Jenkins CI.

### Describe alternatives you've considered

_No

[2022-01-18 19:29] dblock commented on #1497
There were some changes in signing, e.g. https://github.com/opensearch-project/opensearch-build/pull/1437, @abhinavGupta16 care to take a look?

[2022-01-18 19:33] dblock commented on #1492
Couple more:

1. Coming from https://github.com/opensearch-project/opensearch-build/pull/1493 I'd like "latest" to automatically give me a released version of 1.2.3 if 1.2.3 has been released or the latest available build of 1.2.3 if it has not.
2. Consider supporting latest semver, latest 1.x could be the latest released 1.2.3, etc.

[2022-01-18 19:34] justchris1 commented on #1452
I'm a little confused by that as well.  That is why I asked about what repo they will be serving it out of.  I fear they will just post a bare RPM without dependencies or meant to fit into the standard package systems.  Although, to be honest, I am not holding my breath as I starting asking some of these questions in June of last year (see #27), but no one ever answered.  This project hasn't been

[2022-01-18 19:44] dblock opened #1502 "Document signing (do we sign with SHA256?)"
### Is your feature request related to a problem? Please describe

The [documentation on signing](https://github.com/opensearch-project/opensearch-build#signing-artifacts) is very sparse. We have a non-open-source signer black box, but even simple questions like "do we sign with SHA256" cannot be easily answered.

### Describe the solution you'd like

Document what is being signed, when, and how,

[2022-01-18 19:47] dblock commented on #1452
This is the right time to ask ourselves what we want and clarify anything that's unclear. What should we be doing? Is there anything in https://github.com/opensearch-project/opensearch-build/pull/1443 that is not doing the right thing already (please CR)?

Nobody was working on RPM then, but we should have been able to answer signing questions in general, apologies. I opened https://github.com/ope

[2022-01-18 19:49] dblock commented on #1452
Btw, I don't know how to answer "what repo they will be serving it out of". Does anyone? @bbarani or @peternied?

[2022-01-18 19:53] kavilla commented on #1497
Just changed the verification to one without `-latest`: `https://artifacts.opensearch.org/snapshots/core/opensearch/2.0.0-SNAPSHOT/opensearch-min-2.0.0-SNAPSHOT-linux-x64-844.tar.gz`.

All the test passed!

[2022-01-18 20:02] jcgraybill commented on #1452
The goals should be to make it easy for anybody who wants to directly download an rpm/deb package and install it, as well as to make it easy for the maintainers of repos to include OpenSearch deb/rpm packages in their repos. I wonder if the assumption that a single file meets all these needs is wrong. A couple of questions:
1. Should we assemble multiple flavors of RPM/DEB files oriented toward ea

[2022-01-18 20:05] #1457 closed

[2022-01-18 20:05] #995 closed

[2022-01-18 20:05] #1042 closed

[2022-01-18 20:05] #1055 closed

[2022-01-18 20:05] #1064 closed

[2022-01-18 20:05] #1009 closed

[2022-01-18 20:05] #1020 closed

[2022-01-18 20:05] #1031 closed

[2022-01-18 20:06] #1033 closed

[2022-01-18 20:06] #1034 closed

[2022-01-18 20:06] #1054 closed

[2022-01-18 20:06] #1070 closed

[2022-01-18 20:06] #1335 closed

[2022-01-18 20:13] julian-alarcon commented on #1417
This needs an update too https://opensearch.org/docs/latest/version-history/

[2022-01-18 20:36] peternied commented on #818
Done!

[2022-01-18 20:41] #1069 closed

[2022-01-18 20:41] #1036 closed

[2022-01-18 20:41] #1077 closed

[2022-01-18 20:52] justchris1 commented on #1452
I am not going to pretend to be an expert on how elasticsearch/opensearch builds.  I have some rudimentary background in packaging and understand some of the complexities, but not enough to critique the packaging implementation of the shell scripts, python scripts, etc...  I can expand some on the 'what' should happen from my viewpoint, however.

I believe we should strive for something similar in

[2022-01-18 21:07] peternied opened #1506 "Could a GitHub release replace a build manifest, should we try it?"
Build manifests as are used in OpenSearch / OpenSearch Dashboards contain a lot of information, is all that information necessary or is a GitHub release and associated artifacts enough?

Acceptance Criteria:
- [x] Determine if common use cases can fallback to a release driven datastore rather than a manifest file.
- [x] List Pros and cons of the to using manifest file or github or other possible s

[2022-01-18 21:15] peternied opened #1508 "[Python Typechecking] CI workflow `pipenv run mypy src\ci_workflow tests\tests_ci_workflow`"
See full instructions at https://github.com/opensearch-project/opensearch-build/issues/1237

Acceptance criteria:
 - Run `pipenv run mypy src/ci_workflow tests/tests_ci_workflow` passes without error

[2022-01-18 21:15] peternied opened #1509 "Manifests workflow `pipenv run mypy src\manifests_workflow tests\tests_manifests_workflow`"

[2022-01-18 21:15] peternied opened #1510 "[Python Typechecking] Paths `pipenv run mypy src/paths tests/tests_paths`"
See full instructions at https://github.com/opensearch-project/opensearch-build/issues/1237

Acceptance criteria:
 - Run `pipenv run mypy src/paths tests/tests_paths` passes without error

[2022-01-18 21:15] peternied opened #1511 "[Python Typechecking] Test system `pipenv run mypy src\system tests\tests_system`"
See full instructions at https://github.com/opensearch-project/opensearch-build/issues/1237

Acceptance criteria:
 - Run `pipenv run mypy src/system tests/tests_system` passes without error

[2022-01-18 21:15] peternied opened #1512 "[Python Typechecking] Test workflow `pipenv run mypy tests\tests_test_workflow`"
See full instructions at https://github.com/opensearch-project/opensearch-build/issues/1237

Acceptance criteria:
 - Run `pipenv run mypy tests\tests_test_workflow` passes without error

[2022-01-18 21:15] peternied opened #1513 "[Python Typechecking] Final push `pipenv run mypy .`"
See full instructions at https://github.com/opensearch-project/opensearch-build/issues/1237

Note; this should be the last type checking task completed otherwise there will be some duplication with those tasks

Acceptance criteria:
 - Run `pipenv run mypy .` passes without error

[2022-01-18 21:36] abhinavGupta16 opened #1514 "[Retrospective] Release 1.2.4"
### How to use this issue?
Please add comments to this issue, they can be small or large in scope. Honest feedback is important to improve our processes, suggestions are also welcomed but not required.

### What will happen to this issue post release?
There will be a discussion(s) about how the release went and how the next release can be improved. Then this ticket will be updated with the notes o

[2022-01-18 21:39] #1466 closed

[2022-01-18 22:01] zelinh commented on #615
Closing this issue since we already implemented our backup offline scan.

[2022-01-18 22:01] #615 closed

[2022-01-18 22:04] zelinh commented on #578
Closing this issue since we already implemented our backup offline WhiteSource scan running on Jenkins once a day here https://github.com/opensearch-project/opensearch-build/pull/1411

[2022-01-18 22:04] #578 closed

[2022-01-19 03:04] abhinavGupta16 opened #1516 "Integrate docker promotion and promoteArtifacts to run together"
### Is your feature request related to a problem? Please describe

Currently, during a release, we manually trigger a job to promote artifacts from staging to production. We then have to manually trigger a job to move the image from staging to production. We need to add copying docker image from staging to prod as a part of the promotion steps.

### Describe the solution you'd like

`copyDockerIma

[2022-01-20 00:44] abhinavGupta16 opened #1518 "Integrate `docker-build-with-ecr` job with `buildDockerImage.groovy`"
### Is your feature request related to a problem? Please describe

After the `docker-build-with-ecr` is tested throughly, we need to replace `docker-build` with `docker-build-with-ecr`
 in the [buildDockerImage.groovy](https://github.com/opensearch-project/opensearch-build/blob/main/vars/buildDockerImage.groovy#L20)

### Describe the solution you'd like

Change `buildDockerImage.groovy` to use `do

[2022-01-20 00:46] tianleh commented on #1492
@peternied We have a dependency on this for running Dashboards integ test against a static OpenSearch url https://github.com/opensearch-project/opensearch-build/issues/1322 Do you know when this issue can be done?

[2022-01-20 01:51] peternied commented on #1492
@tianleh we would welcome your contribution, The first option, `Add functionality to the url re-writer` seem like the sensible option to support a wide variety of scenarios and backward compatibility

[2022-01-20 04:40] tianleh commented on #1492
take a look

[2022-01-20 04:45] tianleh commented on #1492
@seraphjiang for visibility

[2022-01-20 05:14] seraphjiang commented on #1492
Hi @peternied, could infra team prioritize this item?

[2022-01-20 11:45] tianleh commented on #1492
Experimenting with Option 1 a bit. It requires a list operation of the S3 bucket to find the most modified object. This can be done by a command like this
`aws s3api list-objects-v2 --bucket "test-access-1-20" --query 'sort_by(Contents, &LastModified)[-1].Key' --output=text`

However, this query will have performance impact to sort the objects under the bucket and require potential pagination (>10

[2022-01-20 11:49] tianleh commented on #1492
@dblock

[2022-01-20 17:05] peternied commented on #1492
@tianleh If this output is sorted in newest to oldest, shouldn't the first result be the most recent build?  That seems pretty scalable without any addition additional service calls or tracking systems.

The number of builds for a given release is a function of the number of changes in it, so I doubt this will be sufficiently larger than 1,000 change if we are releasing every quarter or faster.

[2022-01-20 17:40] qreshi opened #1519 "[Bug]: 1.3.0 OpenSearch staging Docker image failing to come up"
### Describe the bug

It looks as though the 1.3.0 staging Docker image might be failing to come up due to the `InitialBootClassLoaderMetaspaceSize` VM option used by the PA plugin.

The container logs outputted just showed the following:
[code]

Logging onto the container itself and running the entry point script manually produced the following PA logs (no other logs under the `/logs` directory):

[2022-01-20 17:40] qreshi opened #1523 "[Bug]: 1.3.0 OpenSearch distribution build fails to come up"
### Describe the bug

It looks as though the 1.3.0 staging Docker image might be failing to come up due to the `InitialBootClassLoaderMetaspaceSize` VM option used by the PA plugin.

The container logs outputted just showed the following:
[code]

Logging onto the container itself and running the entry point script manually produced the following PA logs (no other logs under the `/logs` directory):

[2022-01-20 18:01] peternied commented on #1519
@peterzhuamazon Do you know if we are pulling in the correct java version?

### Java version on OpenSearch 1.2.0 docker image
[code]
Java version used in the manifest:
https://github.com/opensearch-project/opensearch-build/blob/cf6314bfa74dff15cb5e1bb3ae9c814790b7cb95/manifests/1.2.0/opensearch-1.2.0.yml#L6

### Java version on OpenSearch 1.3.0 docker image
[code]
Java version used in the manifest

[2022-01-20 18:27] peterzhuamazon commented on #1519
The java version in the manifest is the version for ci-runner to build under, not the one within opensearch core.
The opensearch core is defining java version somewhere else.

[2022-01-20 18:35] peternied commented on #1519
Moving this issue to the OpenSearch repository

[2022-01-20 18:43] peterzhuamazon opened #1521 "[BUG] TestAssembleUpload in Jenkins tests is throwing manifest not found error"
[code]

Seems like it caused multiple PR from merging.
Thanks.

[2022-01-20 18:44] peternied commented on #1521
I'm looking into this issue

[2022-01-20 18:56] peternied commented on #1521
I cannot reproduce the failure locally

[2022-01-20 19:47] reta commented on #1523
@saratvemulapalli correct,  and removed in JDK-16 (in scope of https://bugs.openjdk.java.net/browse/JDK-8221173)

[2022-01-20 20:04] peternied commented on #1521
There have been no changes in the past 2 days, deleting the test to by time to resolve this issue correctly and unblock the build system

[2022-01-20 21:10] #1523 closed

[2022-01-20 21:10] peterzhuamazon commented on #1523
This is resolved now thanks @reta.

[2022-01-20 22:11] #1320 closed

[2022-01-20 23:06] peternied commented on #1497
https://github.com/opensearch-project/opensearch-build/blob/824674d8f0f366c044a728643ec81b595d04bb1e/vars/uploadMinSnapshotsToS3.groovy#L10-L14

It doesn't look like the checksum is being updated, that should be a quick fix

[2022-01-20 23:21] taf2 opened #1542 "OSX Releases"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
Elasticsearch released zip files for macosx.  This was very nice as it was pretty self contained and just worked... I see only docker and linux options here...

**Describe alternatives you've considered

[2022-01-20 23:28] tianleh commented on #1492
Thanks Peter for mentioning the `ls` and adding `/` to the folder name to get the one-step deep sub folders.
`aws s3 ls s3://artifact-bucket-stack-buildbucket-9omh0hnpg12q/distribution-build-opensearch/1.2.3/`

I will check more on how the logic can be integrated into the Lambda function https://github.com/opensearch-project/opensearch-build/blob/main/deployment/lib/artifacts-public-access.ts#L23

[2022-01-21 13:13] AndreVirtimo commented on #33
I have seen this issue isn't in the roadmap board anymore. Is it not planed to provide a distro for Windows?

[2022-01-21 14:56] dblock commented on #1521
I bet you another test introduced recently that has an after block that deletes something it shouldn’t.

[2022-01-21 16:50] q2dg opened #1529 "[BUG] OpenSearch v1.2.4 Docker image is broken while v1.2.3 just works"
This command works
![Captura de 2022-01-21 17-47-07](https://user-images.githubusercontent.com/7274874/150566732-c068a98d-56b1-4139-841d-30e08aec4534.png)

But this one doesn't

![Captura de 2022-01-21 17-48-23](https://user-images.githubusercontent.com/7274874/150567159-5421a89b-e3cc-4b7e-9143-310a7e749b25.png)

Errors are shown below

![Captura de 2022-01-21 17-49-08](https://user-images.githubu

[2022-01-21 17:05] #1486 closed

[2022-01-21 17:30] qreshi commented on #1523
Just a follow-up here, I don't think it's an opensearch-build issue now but the PA plugin also needs to remove its references to the VM option.

I saw the following two references to it:
* [build.gradle](https://github.com/opensearch-project/performance-analyzer-rca/blob/05cfc8dabe1cc4a833467c4e61e10dbe4647f6ba/build.gradle#L56)
* [CLI script](https://github.com/opensearch-project/performance-anal

[2022-01-21 17:35] peternied commented on #1523
@qreshi Can you create an issue in the PA repo to track?

[2022-01-21 17:36] qreshi commented on #1523
@peternied Would it be possible to re-open this and move it to the PA repo since its the same issue?

[2022-01-21 17:37] peternied commented on #1523
I'd recommend creating fresh issues for each area that needs following up, linking back to this issue seems appropriate.

[2022-01-21 17:37] reta commented on #1523
@qreshi we could add new issue (s) to PA repos (pull requests are out already)

[2022-01-21 17:43] saratvemulapalli commented on #1529
cc: @peternied @peterzhuamazon

[2022-01-21 18:29] peternied commented on #1529
@q2dg I can't reproduce with docker, running `docker container run --rm --name=puto -e "discovery.type=single-node" -p 9200:9200 opensearchproject/opensearch:latest`

[code]
[code]

[code]

[2022-01-21 18:35] peternied commented on #1529
I am going to install `podman` and give it a try.  @q2dg Can you get the image id, and then could you attempt to pull it again and get the image id again?

[code]

[2022-01-21 18:52] gilbsgilbs commented on #1487
FWIW, I opened this PR in the PA: https://github.com/opensearch-project/performance-analyzer/pull/126 . We'll see what happens.

[2022-01-21 18:56] ohltyler opened #1531 "[META] Clean up flaky integ tests"
With the goal of running integ tests as part of the distribution build workflow, it's important the tests being ran are stable and consistent. Currently, there is a variety of integ test failures when running in Jenkins - some seem related to the plugin tests themselves, others seem related to the cluster / env setup in the Jenkins nodes. Using this meta issue to track and fix the different failur

[2022-01-21 18:57] ohltyler commented on #1531
AD plugin:
[code]

[2022-01-21 19:27] ohltyler commented on #1217
@tianleh even better, what about using the `number_of_pending_tasks` field to determine cluster readiness? For example, I've seen integ tests occasionally fail due to missing indices, and looks like the reported cluster health has a `number_of_pending_tasks` > 0 (see [here](https://github.com/opensearch-project/opensearch-build/issues/1531#issuecomment-1018779250))

[2022-01-21 19:28] peternied commented on #1529
I setup an EC2 instance running the AMI `ubuntu/images/hvm-ssd/ubuntu-focal-20.04-amd64-server-20211129` after installing podman following the instructions on its getting [started page](https://podman.io/getting-started/installation) I was able to run
[code]

Image ID matches what I saw when I started up docker on my windows machine
[code]

@q2dg we don't have much more action to take at this poin

[2022-01-21 20:39] q2dg commented on #1529
Thanks a lot for you patience.

I'm running a last-minute updated Fedora 35 system (kernel v5.15.15, podman v3.4.4)

If I run _podman container run --rm --name=puto -e "discovery.type=single-node" -p 9200:9200 opensearchproject/opensearch:latest_ I get:

[code]

The output of _podman image ls_ is:

[code]

**BUT** if I run _podman container run --rm --name=puto -e "discovery.type=single-node" -p 9

[2022-01-21 21:23] VijayanB opened #1532 "Publish logstash-oss-with-opensearch-output-plugin:7.16.3"
Core: Logstash OSS 7.16.3 ( this has CVE update )
Plugin: https://github.com/opensearch-project/logstash-output-opensearch/ ( v1.2)

Distribution:
Docker image
tar ( macos x64, linux x64, linux arm64)

[2022-01-21 22:05] peternied commented on #1529
<details><summary>Details from my ubuntu machine

[code]
[code]

</summary>

OpenSearch 1.2.4 container startup

[code]
</details>

When look at at a diff between the different images outputs, after the line `Enabling OpenSearch Security Plugin`, the whole of the output is catted and an string subsitution takes place, it looks like that is missing from your image.

https://github.com/opensearch-pr

[2022-01-21 23:01] q2dg commented on #1529
Well, you're true!

I've entered (by executing _podman exec -it puto /bin/bash_ ) into my functional v1.2.3 container and I've run cat->sed->tee pipeline manually. The fact is that running just cat or cat->sed is the same: there's no difference in the shown output (that is, sed doesn't delete any line because there's no line with the "plugins.security.disabled" string in the original opensearch.ym

[2022-01-21 23:28] peternied commented on #1529
Does that mean you can start the 1.2.4 container?

We did change how the container updates the config file as there were reported issues with sed reading while tee was writing, but we might not have fixed this at all.  Checkout https://github.com/opensearch-project/opensearch-build/pull/1130 as there is more detail in that pull request.

Previous startup script:
https://github.com/opensearch-proje

[2022-01-21 23:45] q2dg commented on #1529
No, no, I can't start the v1.2.4 container. My tests have been done in the v1.2.3 one. That's why I say that I don't know to what extent this may or may not be the source of the error, but it is still an interesting investigation, anyway.

In fact, I've tried the previous startup script and I can tell you that it does respect the content on opensearch.yml file (that is, it doesn't void it). If thi

[2022-01-22 00:29] peternied commented on #1529
@q2dg I'm out for the weekend, I'll check with some of our other folks on Monday that might have a better idea how to A) reproduce this and B) how to resolve this issue.  We might have some experimental docker images for you to try if you are willing.

[2022-01-22 01:04] justchris1 commented on #1452
@peterzhuamazon It was stated that this would be used for raising questions about the approach.  While there appear to be a number of questions raised, it is a bit light on answers.  Do you think some will be able to be given?

[2022-01-22 09:20] peterzhuamazon commented on #1529
https://github.com/opensearch-project/opensearch-build/pull/1458
This one fix an issue related to #1130 where tee is reportedly failing.
cat->sed->tee in #1458 should run without omitting the output like sed->tee in #1130.

Are you running on a embbed system with busybox?
Which might not have all the functionalities of a normal sed and tee.
I have seen similar issue before on a custom linux with b

[2022-01-22 20:13] peterzhuamazon commented on #1529
I am using Fedora 35 and then update the kernel to the latest, since 5.15.15 is not available I am using latest 5.15.16.
[code]
[code]

Podman allows me to choose from these images:
[code]

<details>
<summary> test log 1.2.4 </summary>

[code]

</details>

<details>
<summary> test log latest </summary>

[code]

</details>

[2022-01-22 20:13] peterzhuamazon commented on #1529
[code]

[2022-01-22 20:22] peterzhuamazon commented on #1529
I am not seeing any issues running this. Weird.
@q2dg are you using HDD mechanical drive not SSD?

The only thing I can think of is tee somehow happens before cat, thus empty the file by default before cat can read anything.
But then the line is cat then sed through then tee,
so in theory it should not happen.

I am thinking about using > directly since we are not using sed to read anymore, which

[2022-01-22 20:26] peterzhuamazon commented on #1529
@q2dg can you run this line and let me know what is the output?
[code]

I want to understand whether the `latest` image you are using is actually the cache on your host.
It should completely match this file:
https://github.com/peterzhuamazon/opensearch-build/blob/b33273f69cd19ac5d365d54bd306282cf5541c21/docker/release/config/opensearch/opensearch-docker-entrypoint.sh

Thanks.

[2022-01-22 22:05] q2dg commented on #1529
Sure!

What I get is this:

[code]

Doing a diff with reference file whose link you give, I get no output, so it seems both files are exactly equal.

My setup is a VirtualBox machine, with standard options (disk is a VDI one with a simulated SATA connection)

Sorry for disturbing so much, and thanks again

[2022-01-22 23:49] peterzhuamazon commented on #1529
Interesting, I am running on virtualbox as well.
I am having 8G ram + 4CPU setups as we need at least 4G for OpenSearch and Dashboards to run without issues.
I dont have VDI but standard VMDK.

Here is a screenshot of my setup.
![image](https://user-images.githubusercontent.com/65193828/150659131-28a392c7-c8f6-490a-a1d1-8b58d10d31ce.png)

[2022-01-22 23:50] peterzhuamazon commented on #1529
And are you running on x86_64 or ARM64 host?
I have not test the latter yet.
Probably it is an issue specific to ARM64 version?

[2022-01-23 01:20] q2dg commented on #1529
My host is a x86_64 machine (in fact, it's another Fedora 35 Workstation system)
You're right, RAM has to be enough...
My setup is this:

![Captura de pantalla de 2022-01-23 02-17-22](https://user-images.githubusercontent.com/7274874/150660902-872d49ff-b9da-4cc3-bd93-09e079c4b93c.png)

_lscpu_'s output as seen from vm is this:

`Architecture:            x86_64
  CPU op-mode(s):        32-bit, 64-b

[2022-01-23 02:53] peterzhuamazon commented on #1529
I will try the workstation version later as I only download the Server version.
I dont think there are different behavior but I have never used the workstation working, so cannot comment whether it would affect anything.

[2022-01-23 19:09] jimmyjones2 commented on #1452
@justchris1 The ODFE repo has its metadata signed...

[2022-01-23 19:43] justchris1 commented on #1452
Is that the repo they are using?  There had been a lot of talk of the forums of getting rid of the ODFE nomenclature, so it is unclear if they would use that repo or not.  Of course, RPM had been a 1.0 GA feature that kept getting pushed and pushed through time.  It wouldn't shock me that since no one seems to have any answers that this just keeps getting pushed to the right.  I imagine this isn't

[2022-01-24 17:26] joshuali925 commented on #794
linking https://github.com/opensearch-project/project-website/pull/635

[2022-01-24 18:01] gaiksaya commented on #794
Thanks @joshuali925 . Closing this issue now.

[2022-01-24 18:07] zelinh commented on #1056
Seems like this issue should have been resolved.
https://whitesource.atlassian.net/wiki/spaces/WD/pages/817037652/Developer+Integrations+Release+Notes#Resolved-Issues

[2022-01-24 19:15] peterzhuamazon commented on #438
[Grooming] Each Plugin Team should have their release notes ready as soon as their code is ready for release.

[2022-01-24 19:18] peterzhuamazon commented on #438
Make a proposal on what we can do to force plugin owners push a release note.

[2022-01-24 19:21] peterzhuamazon commented on #1391
Seems like this issue is fixed now as we can directly get the upstream information from upstream logs.

[2022-01-24 19:21] #1391 closed

[2022-01-24 19:34] peterzhuamazon commented on #689
[Grooming] Close this issue in favor of this one: https://github.com/opensearch-project/opensearch-build/issues/1359

[2022-01-24 19:34] #689 closed

[2022-01-24 19:44] peterzhuamazon commented on #735
[Grooming] We have asked the plugin owners to use tarball and docker images to build their own cluster at this point. We are not going to provide test cluster per release session anymore.

[2022-01-24 19:44] #735 closed

[2022-01-24 19:49] peterzhuamazon commented on #184
[Grooming] We need to design this thing so that it installed like the native plugin, contrary to ODFE setup where user need the direct link to the zips.

[2022-01-24 19:52] peterzhuamazon commented on #716
[Grooming] Need to get more information on the scenario that we need this from Maven.
Is the maven dependency a required one for BWC tests?
Or the existing cloudfront in front of S3 is enough?

@VachaShah @adnapibar

[2022-01-24 20:30] zelinh opened #1533 "[Bug]: WhiteSource integration PR check is not sync with latest vulnerability library"
### Describe the bug

WhiteSource integration CVEs libraries is not updated with latest CVEs scanned for PR check. The baseline library called `base branch commit` WhiteSource compared for difference in PR check is often quite old and not showing the exact most recent CVEs fix/introduce.

### To reproduce

When creating a PR for modifying dependencies.

### Expected behavior

The PR CVEs diff chec

[2022-01-24 20:33] zelinh commented on #1533
Creating this issue as reference. According to WhiteSource support, this issue would be improved in the upcoming version 22.1.2 (planned release of Feb 7th). By then, the comparison will be made to the latest commit that triggered a scan in main, and we should see completely up to date vulnerability information in the PR scans.

[2022-01-24 20:40] tianleh commented on #1217
@ohltyler Totally make sense! I am focusing on https://github.com/opensearch-project/opensearch-build/issues/1492 and https://github.com/opensearch-project/opensearch-build/issues/1372 and do not have resources to take this current issue in the near future. Feel free to address it if it is urgent.

[2022-01-24 20:48] bbarani commented on #1417
@julian-alarcon We have updated the documentation page now. Please take a look at it and let us know if you have any other questions.

[2022-01-24 21:16] julian-alarcon commented on #1417
LGTM!

[2022-01-24 21:52] peternied commented on #1506
After doing a little digging, the release supports a direct publish mode, and a draft that can be published later.  The draft release can take the intended tag name and when the release it published it would automatically be created.  By using a template, this can be pre-populated.

Releases can be editing afterwards, but the tag pointer possible, it would have to be switched.  While releases coul

[2022-01-24 21:53] peternied opened #1534 "How can external workflows be authored in a way that makes sure best practices are followed?"
Release workflows will need to describe what actions should take place when its time to release the product.  These will be run only as often as releases occur.  How can workflows be authored in a way that makes them durable to changes in OpenSearch-Build repositories changes as well as getting notified about sensible workflow changes to make before the next release?

Acceptance Criteria:
 - [ ] D

[2022-01-24 22:02] qreshi opened #1535 "[Bug]: 1.2.4 snapshot artifacts missing"
### Describe the bug

1.2.4 snapshot artifacts can no longer be found [in the staging repo](https://aws.oss.sonatype.org/content/repositories/snapshots/org/opensearch/).

This is causing anything building using `1.2.4-SNAPSHOT` to fail. Since `1.2.4` has already released should all consumers be updating their references of `1.2.4-SNAPSHOT` to `1.2.4`?

### To reproduce

Attempt to build anything c

[2022-01-24 22:08] peternied opened #1536 "How can OpenSearch-Build make sure it does not create a breaking change for external workflows?"
As the workflow scripts are not located in the same repository, there need to be protections to be sure that these workflows are not broken when changes are made.

Having a list of all registered component repositories, a way to find all of the workflows, and then execute them to verify they have not regressed would be a way to do this.

Acceptance Criteria:
 - [ ] Determine the relationship betwe

[2022-01-24 22:10] qreshi commented on #1535
I also forgot to mention that if we are expected to not build with snapshot on already released versions, we can include `-Dbuild.snapshot=false` when building assuming the build scripts account for it (which they should).

[2022-01-24 22:13] peternied opened #1537 "What modifications are needed for the input / build / dist manifests?"
Assuming that input / build / dist manifests files are created for all opensearch projects, are many changes needed?

An input manifest determines the code that is pulled along with some checks/target information.  The build manifest holds the data about a built project, and the dist manifest is all of the files that are included in the distribution (for most OpenSearch projects this is only one p

[2022-01-24 22:16] abhinavGupta16 commented on #1514
Listing items following the retrospective meeting earlier today -

### Kudos

* To everyone participated in the 1.2.4 patch release activity.

### Went Well

* The release was on-time
* We have the process and infrastructure in place to do patch release at defined cadence ( ~ 4 days or less)
* JCenter issues did not affect the release timeline and were fixed promptly
* Lead up was uneventful, very

[2022-01-24 22:18] peternied opened #1538 "Where should manifest files be placed, and what branch?"
Input manifests / 'what is going to be released' and the release workflow information needs to be managed somewhere, as it will be in the repository of the project what is the organization model.

Acceptance Criteria:
 - [ ] Determine the folder structure that the release process will have in the OpenSearch project repository
 - [ ] Determine what branches should be updated with the data
   - Does

[2022-01-24 22:18] abhinavGupta16 commented on #1514
Action Items followup -
* Automate upgrading Helm and Ansible
    * https://github.com/opensearch-project/helm-charts/issues/205
    * https://github.com/opensearch-project/ansible-playbook/issues/36

* Create an issue to update the website documentation till 1.2.4
    * https://github.com/opensearch-project/documentation-website/issues/379
    * https://github.com/opensearch-project/documentation

[2022-01-24 22:22] peternied opened #1539 "Create a proof of concept for onboarding and detecting new releases"
Create a simple project* that would produce a release artifact.  Make a 1.0.0 release, a 1.1.0 release, and a 1.1.1 release. Following the notions of what has been described in the overall release process.  Afterward determine sharp edges that can be improved.

_*: language of your choice_

Acceptance Criteria:
- [x] Create the test release project
- [x] Create the workflow
- [x] Figure out docker

[2022-01-24 22:56] peterzhuamazon commented on #1535
Checking jenkinsfile, it should still upload to the snapshot repo in every run:
https://github.com/opensearch-project/opensearch-build/blob/main/jenkins/opensearch/distribution-build.jenkinsfile#L30-L63

[2022-01-24 22:57] peterzhuamazon commented on #1535
However, it is not showing for a couple of releases.
![Screen Shot 2022-01-24 at 5 56 23 PM](https://user-images.githubusercontent.com/65193828/150878796-964635b9-26ff-4869-80d6-7f75e44927ca.png)

In fact, I also dont see js spi anymore
![Screen Shot 2022-01-24 at 5 57 22 PM](https://user-images.githubusercontent.com/65193828/150878846-4ea8b38e-c156-4d09-946a-582cc4f77462.png)
.

[2022-01-24 23:12] peternied commented on #1234
FYI - I've rewritten the issue substantially as well as flushed out detail for all of the follow up action items include exit criteria

[2022-01-24 23:16] peterzhuamazon commented on #1535
Seems like uploading complete in 644 for 1.2.4 releases:
[code]

[2022-01-24 23:27] peterzhuamazon commented on #1535
Skipped due to:
https://github.com/opensearch-project/opensearch-build/blob/main/publish/publish-snapshot.sh#L121-L130

Seems like it only skipped all the checksum file so other files should upload to snapshot repo.

[2022-01-24 23:34] peterzhuamazon commented on #1535
This is probably due to data retention policy:
https://help.sonatype.com/iqserver/managing/data-retention-and-purging

The confusing part is, why is 1.2.1-1.2.4 not on the list, as they are less than 3 months.
If we are using the default policy.

We probably need to open a ticket with sonatype.

I do want to get your guys opinion on this @dblock @peternied before I send out the ticket.

Thanks.

[2022-01-24 23:39] peterzhuamazon opened #1540 "[Bug] 1.2.4 keep failing after #1503 caused by SpotBugs Violation"
### Describe the bug

[code]

[code]

This is mainly showing in PA and RCA repo.

### To reproduce

See above.

### Expected behavior

_No response_

### Screenshots

If applicable, add screenshots to help explain your problem.

### Host / Environment

_No response_

### Additional context

_No response_

### Relevant log output

_No response_

[2022-01-24 23:42] peterzhuamazon commented on #1540
@sruti1312 @aditjind could you please take a look on this?
Thanks.

[2022-01-25 00:30] peternied commented on #1535
Are there any processes that could be deleting those artifacts, what does an audit the access to those credentials show?

Unless we find a smoking gun in a couple minutes let's file the ticket, artifacts are disappearing and I don't know what the turn around will be.

[2022-01-25 00:56] peterzhuamazon commented on #1452
Hi All,

We realized there were missing pieces in the initial proposal, which is why we appreciate your feedbacks to the post.
We have since added a lot more details in the requirement section of the original post.

If you search for `Requirements` in the post, you will find 6 new milestones we created with more details on all the aspects of the RPM package that we need to consider.

Note: The PR

[2022-01-25 01:00] peterzhuamazon commented on #1452
@jcgraybill @dblock please also take a look in the Requirement section.
We will start to create issues and tasks in this repo and link to the meta issue once we finalize all the details.
Thanks.

[2022-01-25 01:18] peterzhuamazon commented on #1535
I have created issue with sonatype as I cannot find anything else related to this issue for now.
https://issues.sonatype.org/browse/OSSRH-77609

Thanks.

[2022-01-25 01:25] sruti1312 commented on #1540
Spot bugs violations are present in test folder (spotbugsTest), but the build does not fail as failures are ignored.
https://github.com/opensearch-project/performance-analyzer-rca/blob/main/build.gradle#L136

[2022-01-25 01:51] peterzhuamazon commented on #1540
Weird that it is not running well but previous it has been complaining about spot bugs for a whole day during the build.
Will keep monitoring.

Thanks.

[2022-01-25 02:20] zelinh commented on #1357
We decide to move the maven workflow to our build repo since this could use the libraries in build repo and promote our public visibility.
Also this job will require proper testing and some re-design on the signing part.

[2022-01-25 11:03] jgough commented on #1529
I am experiencing the same problem and I cannot get 1.2.4 to start with the same security configuration error as in the original error report.

To try to debug I took a copy of the docker image that failed to start using `docker commit` and started that up to inspect.  Inside this image my `opensearch.yml` file has been wiped and is now completely empty (despite it not being empty when first run).

[2022-01-25 11:50] jgough commented on #1529
I've reproduced my issue of the config being wiped in the Dockerfile below, which replicates the cat > sed > tee command:
[code]

Build with
[code]

Here is the output running it 4 times.  Note that on the 4th execution the config file was been wiped and the file is now empty.
[code]

I don't know if this is of any help?

[2022-01-25 13:11] jgough commented on #1529
Could it be that the order of the execution of the `cat | sed | tee` is nondeterministic as detailed here https://askubuntu.com/a/719094

If it does get executed out of order then the config file will be wiped.

[2022-01-25 17:32] peternied opened #1541 "[Bug] Convert opensearch-docker-entrypoint.sh script into python"
Related https://github.com/opensearch-project/opensearch-build/issues/1529

Based on operation system configuration some command line utilities such as cat/sed/tee can have different behavior.  In order to make the startup behavior consistent and testable lets move this script to python, which is included in the docker image already.

[2022-01-25 17:33] peternied commented on #1529
@peterzhuamazon What do you think about resolve these issues once and for all with a migration to python? I've created a separate task that we might be able to bang out relatively quickly to mitigate these issues.

[2022-01-25 18:37] kotwanikunal commented on #129
Taking a look into this issue.

[2022-01-25 18:50] peterzhuamazon commented on #1535
Joel from Sonatype has replied with these:
[code]

![image](https://user-images.githubusercontent.com/65193828/151039026-d5665878-3e45-48dd-baa7-3d2831facf7a.png)

@dblock @peternied this seems to me that our artifacts are deleted too often and frequent.
Shall we completely disable this scheduled cleanup, or shall we change the settings to some larger value?

I am questioning whether we need all t

[2022-01-25 19:18] peternied commented on #1535
I'm not sure how this policy is applied, as it is strange that we have 1.0.1-SNAPSHOTS.
I think the minimally appropriate policy looks like this:
- For all build versions (1.0.0, 1.2.3, 1.2.4, 1.3.0,...)
  - Keep the at least the last set of snapshot binaries for that version indefinitely

Consider the current policy, it looks like 4 snapshots are preserved, so that could be our minimum number of

[2022-01-25 19:33] #1540 closed

[2022-01-25 19:45] abhinavGupta16 commented on #1514
We'll continue working on the action items discussed during the retrospective. Closing this issue.

[2022-01-25 19:45] #1514 closed

[2022-01-25 19:58] CEHENKLE commented on #1542
Hey @taf2 !   Thanks for the feedback.  We're tracking a mac distribution in #38  I'm going to resolve this issue, but please track the work there.

Thanks again,
/C

[2022-01-25 19:58] #1542 closed

[2022-01-25 20:08] taf2 commented on #1542
Thanks!

[2022-01-25 20:09] peterzhuamazon commented on #1535
My response:

[code]

[2022-01-25 20:16] peterzhuamazon commented on #1535
We disable retention, reply from Joel.
[code]

[2022-01-25 20:16] #1535 closed

[2022-01-25 20:21] gaiksaya commented on #1491
[Triage] This is a breaking change. Needs to be investigated.

[2022-01-25 20:25] gaiksaya commented on #1494
[Triage] Hi @tianleh, can you add the acceptance criteria and update the issue?
Thanks!

[2022-01-25 20:29] gaiksaya commented on #1428
[Triage] Hi @ankitkala , In which repository is the work related to this issue is gonna happen?

[2022-01-25 20:36] gaiksaya commented on #1502
[Triage] We will add documentation as much as possible.

[2022-01-25 20:39] peterzhuamazon commented on #1529
Hi @jgough thanks for the investigation.
The reason that we initially think about modifying the file is to allow env vars to define what config to change on the fly:
https://github.com/opensearch-project/opensearch-build/tree/main/docker/release#disable-security-plugin-security-dashboards-plugin-security-demo-configurations-and-related-configurations

Seems like this is not an ideal approach at th

[2022-01-25 20:41] peterzhuamazon commented on #1529
Using `sponge` as suggested in the post is adding additional packages, which we want to avoid for the time being.
I am still trying to find out if there is anyway to avoid this race condition.

Thanks.

[2022-01-25 20:42] gaiksaya commented on #1533
[Triage] Whitesource is working is on this issue.

[2022-01-25 20:42] peterzhuamazon commented on #1529
We can, however, save the output in a var, then echo the var into the file in a second line, but that is quite a messy script going forward.

[code]

[2022-01-25 20:52] gaiksaya commented on #1541
[Triage] We need to investigate the benefits of python over shell and vice versa.

[2022-01-25 20:56] peterzhuamazon commented on #1529
I think there are several ways we can think about resolving this issue:
1. Create a dockerfile, which `FROM opensearchproject/opensearch:1.2.4` and add the fixes so people can build it themselves
2. We create a tempfix version of 1.2.4 and push to `opensearchstaging/opensearch` repo and ask people to test it
3. We re-release the 1.2.4 version with confirmed fix (not determined)
4. We apply the fix

[2022-01-25 22:50] peterzhuamazon opened #1543 "[RPM M1] The build workflow should generate the contents of the RPM packages as pre-requisite"
Tasks | Estimate | Status | Notes | Dependencies
-- | -- | -- | -- | --
Re-use the existing build process to generate the OpenSearch/Dashboards min + all of the plugins artifacts for RPM package to use | 2 | Completed |   |  
The artifacts should be built with LINUX platform specified, as we only plan to support RPM package on LINUX | 1 | No Plan |   |  20220211: See next section of adding `--dist

[2022-01-25 22:50] peterzhuamazon opened #1544 "[RPM M1] The assemble workflow should have a function to wrap build artifacts into a RPM package"
Tasks | Estimate | Status | Notes | Dependencies
-- | -- | -- | -- | --
~~Just like build workflow, add a “--distribution” parameter, so that the assemble workflow knows which distribution to create based on the input artifacts from build workflow~~ <br><br>20220220: Design change, since build workflow already have `--distribution` ready, assemble workflow can directly take distribution info from

[2022-01-25 22:51] peterzhuamazon opened #1545 "[RPM M1] Add a new block to call the generation code for RPM"
Tasks | Estimate | Status | Notes | Dependencies
-- | -- | -- | -- | --
The generation code should pull the artifacts from the build workflow to a temporary location | 1 | Complete |   | Build workflow must provide usable artifacts
The code will call existing install function to install plugins on min artifacts | 1 | Complete |   |  
After installation, the code will execute a tool or utility to w

[2022-01-25 23:16] peterzhuamazon commented on #1497
Confirmed that the workflow only upload the latest artifact but not update the latest checksum:
[code]

[2022-01-25 23:18] peterzhuamazon commented on #1497
Not only the sha512 is not updated, but also the cloudfront cache is not purged after updating the S3.

[2022-01-25 23:23] peternied commented on #1535
@peterzhuamazon Have we published replacement artifacts?

[2022-01-25 23:29] peterzhuamazon commented on #1535
https://aws.oss.sonatype.org/content/repositories/snapshots/org/opensearch/opensearch/1.2.4-SNAPSHOT/
1.2.4 is already published and the new purge was not happening until Sunday.
Therefore, we have 1.2.4 as of now.

[2022-01-25 23:34] peterzhuamazon opened #1547 "The signing workflow should have a function to sign the RPM package with OpenSearch Project PGP key"
Tasks | Estimate | Status | Notes | Dependencies
-- | -- | -- | -- | --
Just like the build and the assemble workflow, we need to add a “--distribution” parameter so that the signing workflow can use rpm toolkit to sign RPM packages | 3 | Not Started |   |  
Add the rpm toolkit call for RPM package to OpenSearch Signer Client, as it is the backend for signing workflow to function correctly | 5+ |

[2022-01-25 23:35] peterzhuamazon opened #1548 "[RPM M3] RPM package requirements"
Tasks | Estimate | Status | Notes | Dependencies
-- | -- | -- | -- | --
RPM package name should follow the binary file naming scheme %{name}-%{version}-%{release}.%{architecture}.rpm so we have a clear path for upgrade/re-release (e.g. opensearch-1.2.0-1.x86_64.rpm) | 1 | In Progress | The logic will be handled by Jenkinsfile, the assemble workflow will still output `opensearch-1.2.0-linux-x64.rpm

[2022-01-25 23:35] peterzhuamazon opened #1549 "[RPM M4] Publish YUM repository"
Tasks | Estimate | Status | Notes | Dependencies
-- | -- | -- | -- | --
Deploy the RPM packages into a local YUM repository on a build system | 3 | Complete | The RPM package needs to be ready | see https://github.com/opensearch-project/opensearch-build/issues/1549#issuecomment-1076914878
The metadata files for the entire repo will be generated and staged in the repo | 2 | Complete | Need to figur

[2022-01-25 23:36] peterzhuamazon opened #1550 "[RPM M4] Publish individual package"
Tasks | Estimate | Status | Notes | Dependencies
-- | -- | -- | -- | --
Update the link of the RPM package on S3/CloudFront to our website download pages | 1 | Complete |   | Need PR to website related repos for this
Provide ability to manually download the RPM package with the link | 1 | Complete |   |  
Add ability to install the package manually with YUM/RPM command on their server, or they can

[2022-01-25 23:37] peterzhuamazon opened #1551 "[RPM M5] The RPM packages can only be installed on RedHat-Based LINUX distros stated in our compatibility chart"
Tasks | Estimate | Status | Notes | Dependencies
-- | -- | -- | -- | --
According to the [chart](https://opensearch.org/docs/opensearch/install/compatibility/), we will only support RHEL/CentOS 7 & 8 + Amazon Linux 2 for RPM | 1 | Not Started | They all have systemd as process manager |  

[2022-01-25 23:37] peterzhuamazon opened #1552 "[RPM M5] Install through YUM repository"
Tasks | Estimate | Status | Notes | Dependencies
-- | -- | -- | -- | --
Users download our repo file through the link we provide on website download page | 1 | Not Started |   | Need the yum repo ready for the installation and need the website to have documentation of these steps
Users place the repo file manually in /etc/yum.repo.d/ directory | 1 | Not Started |  
Users can also use yum-config-ma

[2022-01-25 23:39] peterzhuamazon opened #1553 "[RPM M5] Install through manual downloads"
Tasks | Estimate | Status | Notes | Dependencies
-- | -- | -- | -- | --
Users download the RPM package directly through the links we provide on website download page | 1 | Not Started |   | Need the yum repo ready for the installation and need the website to have documentation of these steps
Users use rpm -ivh command to manually install the package on host | 1 | Not Started |  
Users use systemct

[2022-01-25 23:40] peterzhuamazon opened #1554 "[RPM M6] Validate package downloading"
Tasks | Estimate | Status | Notes | Dependencies
-- | -- | -- | -- | --
Use yum-downloader to test the package availability in remote yum repo | 1 | Complete |   | All of these requires us to create pipelines to automatically run these tests for validations
Use curl to test the package availability through download links on website | 1 | Complete |   | All of these requires us to create pipelines

[2022-01-25 23:40] peterzhuamazon opened #1555 "[RPM M6] Validate package installing"
Tasks | Estimate | Status | Notes | Dependencies
-- | -- | -- | -- | --
Install rpm through local yum repository | 1 | No Plan |   | All of these requires us to create pipelines to automatically run these tests for validations
Install rpm through remote yum repository | 1 | Complete |   | All of these requires us to create pipelines to automatically run these tests for validations
Install rpm thro

[2022-01-25 23:41] peterzhuamazon opened #1556 "Validate package signing/checkout"

[2022-01-25 23:41] peterzhuamazon opened #1557 "[RPM M6] Validate package running"
Tasks | Estimate | Status | Notes | Dependencies
-- | -- | -- | -- | --
Use systemd to start/stop the software service, and check whether the log output match the process manager status messages | 2 | Complete |   | All of these requires us to create pipelines to automatically run these tests for validations
Test the start time of the services through API and setup a threshold | 2 | Complete |   |

[2022-01-25 23:41] peterzhuamazon opened #1558 "Validate package upgrade/downgrade"

[2022-01-26 00:50] #1450 closed

[2022-01-26 00:52] whitesource-for-github-com[bot] opened #1559 "WS-2021-0616 (Medium) detected in jackson-databind-2.12.4.jar, jackson-core-2.12.4.jar - autoclosed"
## WS-2021-0616 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>jackson-databind-2.12.4.jar</b>, <b>jackson-core-2.12.4.jar</b></p></summary>
<p>

<details><summary><b>jackson-databind-2.12.4.jar</b></p></summary>

<p>General data-binding functionality for Jack

[2022-01-26 01:19] abhinavGupta16 opened #1560 "Update instructions for jenkins tests in DEVELOPER_GUIDE.md"
### Is your feature request related to a problem? Please describe

We need to update the `developer_guide.md` with instructions on how to write jenkins test cases.

### Describe the solution you'd like

Update `developer_guide.md` with steps to write jenkins test cases for -
- [x] jenkins job
- [x] jenkins libraries

### Describe alternatives you've considered

_No response_

### Additional contex

[2022-01-26 01:22] gaiksaya commented on #1529
Please note following sem-ver we cannot re-release. We would either need to wait for next release or do a patch release fixing this or have a work around.
Thanks!

[2022-01-26 15:40] unhipzippo commented on #1529
`@unhipzippo You have helped us to identify the issue before, thanks for that, would like to see if you have any take on this?
`

Thinking about it more, I think I agree with @jgough -- As an end-user, I would generally expect that config files that I bind into the container are **my** config, and they won't be modified in any way by the program at runtime (unless the program has communicated this

[2022-01-26 16:08] jgough commented on #1529
Are we trying to overcomplicate this?

If I run  `opensearch -E "plugins.security.disabled=true"` it overrides anything in the opensearch.yml file.  Can we just add this to the command string if `DISABLE_SECURITY_PLUGIN` is explicitly set?

[2022-01-26 17:14] unhipzippo commented on #1529
Yep -- that might be even simpler; I hadn't checked in the code to see that was a possibility.

[2022-01-26 19:25] bbarani commented on #1249
Closing this ticket as we have already recorded the retro action items in this ticket.

[2022-01-26 19:25] #1249 closed

[2022-01-26 19:26] abhinavGupta16 commented on #1417
Release is complete.

[2022-01-26 19:26] #1417 closed

[2022-01-26 19:42] #1318 closed

[2022-01-26 20:44] #505 closed

[2022-01-26 21:41] peterzhuamazon commented on #1529
@unhipzippo @jgough the entrypoint will try to figure out if any env var is presenting with the configuration settings and applying during startup:
https://github.com/opensearch-project/opensearch-build/blob/main/docker/release/config/opensearch/opensearch-docker-entrypoint.sh#L80-L109

We can probably deprecated these made up variables and just ask people to directly use opensearch settings in EN

[2022-01-26 21:43] peterzhuamazon commented on #1529
And especially for Dashboards you need to completely uninstall the security FE plugin and replace all the HTTPS to HTTP in config file, as it assume OpenSearch has security BE plugin installed by default.

Thus have all these kind of issues that we need to change config file on the fly.

I do, however, appreciate any ideas on how to have a way to resolve this without all the live patches to the fi

[2022-01-26 22:50] tianleh commented on #1494
@gaiksaya Thanks for the info! I just added `Acceptance Criteria` part. Let me know if it is easier to understand now.

[2022-01-26 22:54] tianleh commented on #1491
We are considering taking the approach to support `latest` in url instead of touching the release url. (https://github.com/opensearch-project/opensearch-build/issues/1492) Thus this issue is no longer applicable.

[2022-01-26 22:54] #1491 closed

[2022-01-26 22:57] gaiksaya commented on #1491
Hi @tianleh , looks like changes related to this issue were merged in #1490 . Are you going to revert that change?

[2022-01-26 23:00] tianleh commented on #1491
See this https://github.com/opensearch-project/opensearch-build/pull/1490#issuecomment-1015795848

[2022-01-26 23:02] gaiksaya commented on #1491
Got it! Thank you

[2022-01-27 00:17] peterzhuamazon opened #1563 "[Proposal] Support AL2023/NodeJS18 for OpenSearch/Dashboards Releases"
With the announcement of Amazon Linux 2023 Preview available for testing, we want to setup some notes here for the support of AL2023 once it is fully released to public.
https://aws.amazon.com/about-aws/whats-new/2021/11/preview-amazon-linux-2022/
https://aws.amazon.com/about-aws/whats-new/2023/03/amazon-linux-2023/

* Evaluate the compatibility of AL2023 when running OpenSearch/Dashboards
  * Ope

[2022-01-27 07:42] kavilla opened #1565 "[Bug]: BuildManifest throws nullpointerexception when no `artifacts`"
### Describe the bug

When a component doesn't have any `artifacts` it will throw an exception when trying to instantiate a BuildManifest [here](https://github.com/opensearch-project/opensearch-build/blob/main/src/jenkins/BuildManifest.groovy#L65).

This prevents assembling within Jenkins if passing a component without `artifacts` [here](https://github.com/opensearch-project/opensearch-build/blob/

[2022-01-27 07:55] kavilla opened #1566 "[Bug]: copyArtifactPermission path requires current job without path"
### Describe the bug

https://github.com/opensearch-project/opensearch-build/blob/main/jenkins/opensearch-dashboards/distribution-build.jenkinsfile#L13

`copyArtifactPermission` currently takes the `JOB_NAME` provided. If you have a job called `jobA` and run the job from a nested location for example `Playground`, `JOB_NAME` will be `Playground\jobA`. So Jenkins will configure the run to allow per

[2022-01-27 09:05] tianleh commented on #1492
After researching more, there are two ways to perform such in JavaScript.

1.  use the `aws-sdk` and `s3.listObjects`. See this https://docs.aws.amazon.com/code-samples/latest/catalog/javascript-s3-s3_listobjects.js.html
2. use the `aws-cli-js`. See this https://www.npmjs.com/package/aws-cli-js

Will experiment more to see which one is simpler.

[2022-01-27 09:08] tianleh commented on #1492
Also current Lambda code exists as an inline String https://github.com/opensearch-project/opensearch-build/blob/main/deployment/lib/artifacts-public-access.ts#L24 Will also check if there is an elegant way to make it exist as regular code for better readability since now the logic is more complicated.

[2022-01-27 10:00] qmonitoring opened #1567 "[BUG]Error when running Docker image"
**Describe the bug**

When I try to run a docker image (following the [documentation](https://opensearch.org/docs/latest/opensearch/install/docker/#configure-opensearch)) I get this error:

`tee: /usr/share/opensearch/config/opensearch.yml: Permission denied`

The container won't start.

**To Reproduce**

Steps to reproduce the behavior:

` docker run -p 9200:9200 -p 9600:9600 -e "discovery.type=s

[2022-01-27 17:00] bbarani commented on #33
We are currently focussed on creating Linux based distributions at this point in time. Please feel free to provide your inputs on this issue https://github.com/opensearch-project/opensearch-build/issues/741 to finalize the priority order for non Linux distributions. As always, we welcome any contribution towards the  development of new distributions.

[2022-01-27 18:38] peternied commented on #1492
@tianleh Is there a draft PR that I could follow?  While I would love an elegant solution, I think it make sense to discuss tradeoffs in a PR

[2022-01-27 19:05] tmarkley commented on #1497
@peterzhuamazon thanks for picking this up! Just an fyi, it's currently blocking us from merging PRs because our test workflow is failing.

[2022-01-27 19:49] abhinavGupta16 commented on #320
Reopening the issue with added items to the acceptance criteria

[2022-01-27 22:29] tianleh commented on #1492
Sure. https://github.com/opensearch-project/opensearch-build/pull/1569

[2022-01-28 16:48] PallaviIgave opened #1570 "Customizing image - help needed"
I am trying to customize an opensearch image and add indexes data in data directory. We need to do it since we want to use this customized image at multiple places.

The steps in Multi-stage Dockerfile are:
**Stage 1:**
1) Change `discovery.type` setting in opensearch.yml
2) Run entrypoint `RUN /usr/share/opensearch/opensearch-docker-entrypoint.sh`
3) Load indexes into opensearch domain by talking

[2022-01-28 19:28] dblock commented on #716
The issue is to *publish zips to maven* so that maven can be used for dependency management.

[2022-01-28 21:32] reta opened #1572 "Run packaging tests on CI infrastructure"
### Is your feature request related to a problem? Please describe

It seems like the CI does not run any packaging tests, `/gradlew packagingTest` or `./gradlew distroTest`, right now (see please [1]). As of today, this is the state of packaging tests:

1) Running them manually on `main` branch ends up with tons of failing tasks
2) What is more concerning, trying to install produced RPM or DEB dis

[2022-01-28 21:57] dblock commented on #1541
I would prefer extracting much of what the code in shell scripts does into the product itself. For example, turning security on/off in the configuration file could become a command-line flag, etc.

[2022-01-28 21:59] #1510 closed

[2022-01-28 23:56] peterzhuamazon commented on #1497
Code is nearly ready in my personal branch.
https://github.com/opensearch-project/opensearch-build/compare/main...peterzhuamazon:opensearch-latestchecksum-1497?expand=1

However, just recently discovered that dashboards min artifacts is not being updated at all.
This is likely due to dashboards doesnt have SNAPSHOTS build yet.
https://github.com/opensearch-project/opensearch-build/blob/main/jenkin

[2022-01-29 09:08] gilbsgilbs commented on #1487
Fixed by https://github.com/opensearch-project/performance-analyzer/pull/126 .

[2022-01-29 09:08] #1487 closed

[2022-01-30 20:58] #1565 closed

[2022-01-31 00:31] #1511 closed

[2022-01-31 16:48] bbarani commented on #87
Closing this issue as we have documented the process in form of release templates and readme file. Feel free to re-open this issue if you need more information.

[2022-01-31 16:48] #87 closed

[2022-01-31 18:53] #1560 closed

[2022-01-31 19:01] kavilla commented on #1497
Yeah, can create an issue to look and I can take it up.

[2022-01-31 19:05] gaiksaya commented on #1117
Duplicate issue of https://github.com/opensearch-project/opensearch-build/issues/27

[2022-01-31 19:05] #1117 closed

[2022-01-31 19:18] kavilla commented on #705
Re-opened to add the CI/CD

[2022-01-31 19:32] gaiksaya commented on #795
SQL CLI is published. Closing this issue.

[2022-01-31 19:32] #795 closed

[2022-01-31 19:37] gaiksaya commented on #1423
We have opened Pull Requests for all repositories and are tracked above. No action item left from our side, hence closing this issue.

[2022-01-31 19:37] #1423 closed

[2022-01-31 19:49] peterzhuamazon commented on #1529
Will created a PR for temp fix based on https://github.com/opensearch-project/opensearch-build/issues/1529#issuecomment-1021590798.

[2022-01-31 20:37] bbarani commented on #701
Closing this issue as this will be tracked as part of this https://github.com/opensearch-project/opensearch-build/pull/1459/files and https://github.com/opensearch-project/opensearch-build/issues/1257

[2022-01-31 20:37] #701 closed

[2022-01-31 20:42] bbarani commented on #1258
@abhinavGupta16 can you please also include the above list to https://github.com/opensearch-project/opensearch-build/issues/1257?

[2022-01-31 20:50] bbarani commented on #438
https://github.com/opensearch-project/OpenSearch/issues/1868

[2022-01-31 20:52] bbarani commented on #698
Closing this issue as duplicate of https://github.com/opensearch-project/opensearch-build/issues/438

[2022-01-31 20:52] #698 closed

[2022-01-31 21:25] ohltyler commented on #1531
Another flaky alerting integ test:
[code]

[2022-01-31 21:43] gaiksaya commented on #1136
Hi @VijayanB What is the new expected release date for this? Can you update the issue with the same?
Thanks!

[2022-01-31 22:03] bbarani commented on #561
Closing this ticket as I see that the updates have been already made to [on-boarding document ](https://github.com/opensearch-project/opensearch-build/blob/main/ONBOARDING.md)to use -SNAPSHOT in plugin CI. Feel free to re-open this issue in case if any gaps.

[2022-01-31 22:03] #561 closed

[2022-01-31 22:09] gaiksaya commented on #1108
Hi @VijayanB , can you please add more details to this issue?
Which repository does it concern?
What is the requirement of this change eg: release, regular updates, etc ?
Its unclear why we need this account and for what purpose.

Thanks!

[2022-01-31 22:24] bbarani commented on #965
@ankitkala I am closing this issue as it looks like this issue can be fixed by updating the Gradle https://github.com/opensearch-project/cross-cluster-replication/blob/bwc_2/build.gradle#L39 . Please feel free to re-open if you are still have any other issues.

[2022-01-31 22:24] #965 closed

[2022-01-31 22:33] bbarani commented on #855
Closing this issue as we have improved the Maven publishing process post 1.1 release.  We will document the process in this #1459 and #1257.

[2022-01-31 22:33] #855 closed

[2022-01-31 22:40] bbarani commented on #844
We have already released native plugins to artifacts.opensearch.org as part of every release starting 1.2.0. You should be able to install it directly using the plugin install command. You can also install the standalone plugin by passing the path of the Zip available within the manifest file of every distribution.

`./opensearch-plugin install https://ci.opensearch.org/ci/dbc/distribution-build-o

[2022-01-31 22:40] #844 closed

[2022-01-31 22:45] abhinavGupta16 commented on #184
There are 2 ways to accomplish this -
1. We can add functionality to install the non-native plugins by only specifying the name (like for native plugins).
2. We provide links and add appropriate documentation on the website such as [this](#https://opendistro.github.io/for-elasticsearch-docs/docs/install/plugins/#install-plugins) to use links and not names to download the plugins.

**Approach 1.**

[2022-01-31 22:46] bbarani commented on #1136
Closing this issue as we have already released opensearch-java client to Maven. https://search.maven.org/artifact/org.opensearch.client/opensearch-java

[2022-01-31 22:47] #1497 closed

[2022-01-31 22:52] bbarani commented on #716
Can we not use artifacts.opensearch.org for dependency management?  BWC tests should be able to use the artifacts directly from artifacts.opensearch.org.

[2022-01-31 22:54] bbarani commented on #184
For #2. The plugins are already available at ci.opensearch.org and they can install it now using the below command and its present inside the manifest of every distribution.

`./opensearch-plugin install https://ci.opensearch.org/ci/dbc/distribution-build-opensearch/1.2.3/295/linux/x64/builds/opensearch/plugins/opensearch-alerting-1.2.3.0.zip`

[2022-01-31 22:56] abhinavGupta16 commented on #184
Do we want to provide `https://ci.opensearch.org` links for prod?

[2022-01-31 23:38] bbarani commented on #184
@mch2 @adnapibar @nknize Please provide your inputs on this issue.

[2022-01-31 23:43] bbarani commented on #38
We are currently working on creating Linux based distributions (RPM and Deb) at this point in time. Please feel free to provide your inputs on this issue #741 to prioritize other non Linux distributions for us to pickup post that effort. As always, we welcome any contribution towards the development of additional distributions.

[2022-01-31 23:43] bbarani commented on #37
We are currently working on creating Linux based distributions (RPM and Deb) at this point in time. Please feel free to provide your inputs on this issue #741 to prioritize other non Linux distributions for us to pickup post that effort. As always, we welcome any contribution towards the development of additional distributions.

[2022-01-31 23:43] bbarani commented on #88
We are currently working on creating Linux based distributions (RPM and Deb) at this point in time. Please feel free to provide your inputs on this issue #741 to prioritize other non Linux distributions for us to pickup post that effort. As always, we welcome any contribution towards the development of additional distributions.

[2022-02-01 00:10] VijayanB commented on #1108
It is for client: https://github.com/opensearch-project/opensearch-php

V1.0 is released by external contributor, who is the only admin ( account in pacifist) so far. We would like to have a user from opensearch-infra who can be admin as well.

[2022-02-01 00:33] gaiksaya commented on #1108
I see. Thanks.
On quick search looks like this is what we have right now: https://packagist.org/packages/opensearch-project/opensearch-php
Will work on creating a user.
Thanks!

[2022-02-01 00:50] bbarani commented on #984
Closing this issue as we decided to **not** release 1.1.1 version of OpenSearch to prioritize the release of 1.2.x version of OpenSearch to fix critical log4j vulnerabilities.

[2022-02-01 00:50] #984 closed

[2022-02-01 02:00] dblock commented on #716
It would ideally be a maven repo, which is a system with a bunch of well designed dependency management tools. We could get away with artifacts.opensearch.org, too, but we've been asked for maven explicitly in a few issues linked above. We're reinventing the wheel and using different tools for the same purpose.

[2022-02-01 10:43] schmitch commented on #741
btw. we are currently using elasticsearch and wanted to make ths witch to opensearch. however not having at least a stable windows distribution means that we can't migrate that easily since we also have lots of windows customers.

we would not mind at all if the windows release does not have the same featureset, as long as it is clearly stated what is different and of course nothing should be brok

[2022-02-01 15:55] dblock commented on #184
tl;dr For bcw we need to know the released version of the plugin - what's that URL on `artifacts.opensearch.org` for `anomaly-detection.zip` and `analysis-smartcn.zip`? If we're not uploading the former, then I would upload it next to the latter and fix https://github.com/opensearch-project/anomaly-detection/pull/158 to point to those URLs instead of downloading by name.

To enable downloading by

[2022-02-01 16:23] BastianZim commented on #785
Hi everybody, just fyi, there is already a package maintained by a core member of conda-forge: https://github.com/conda-forge/opensearch-py-feedstock

[2022-02-01 17:08] bbarani commented on #1415
@ryanbogan Can you please confirm if you are actively working on this requirement?

[2022-02-01 17:12] bbarani opened #1576 "Automated container scanning for OpenSearch and OpenSearch Dashboard images"
### Is your feature request related to a problem? Please describe

We are currently running the container scans for Docker images manually during release. We do not have any automated container scanning solution to report any vulnerabilities proactively

### Describe the solution you'd like

Implement automated container scanning solution using the tools listed below,

- [Trivy](https://github.com

[2022-02-01 18:19] peterzhuamazon commented on #1567
Hi @qmonitoring please refer to #1529 for more context and discussion as well as temp fixes that I am preparing to resolve the race condition.

As of now if your yml file is root owned it cannot be updated as that requires a complete change in how we handle the startup variable. Or you can make your yml file owned by opensearch and it should run.

Sorry for inconvinience,
Thanks.

[2022-02-01 18:46] peterzhuamazon opened #1577 "[Enhancement] Dashboards build pipeline on jenkins does not have snapshots builds"
Coming from #1497 we need dashboards to have snapshots builds before we can push it from ci to artifacts snapshots dir.
@kavilla will take a look on this per ticket.
Please refer to https://github.com/opensearch-project/opensearch-build/blob/main/jenkins/opensearch/distribution-build.jenkinsfile to add the snapshots section in https://github.com/opensearch-project/opensearch-build/blob/main/jenkin

[2022-02-01 18:47] peterzhuamazon commented on #1497
https://github.com/opensearch-project/opensearch-build/issues/1577

Thanks.

[2022-02-01 19:27] peternied opened #1578 "How should teams manage pre-release artifacts?"
There needs to be recommendations for how and where to store/manage pre-released artifacts, for example binaries that are unsigned that are then promoted via the release process.

Acceptance Criteria:
- [x] What is the recommended way to store pre-release binaries artifacts?
- [x] What is the recommended way to store pre-release container images?

[2022-02-01 20:36] gaiksaya commented on #1572
@bbarani Can you please add comments here?
Thanks!

[2022-02-01 20:38] gaiksaya commented on #1576
[Triage] We need to look into both the tools and accordingly integrate with our docker build system as well.

[2022-02-01 20:44] gaiksaya commented on #153
[Triage] @dblock is this isssue still valid? Looks like Meta issue is closed

[2022-02-01 20:47] peternied commented on #210
Closing in favor of https://github.com/opensearch-project/opensearch-build/issues/1492 which is in active development

[2022-02-01 20:47] #210 closed

[2022-02-01 20:50] gaiksaya commented on #348
[Triage] Closing this issue. Track https://github.com/opensearch-project/opensearch-ci/issues/59

[2022-02-01 20:50] #348 closed

[2022-02-01 20:56] gaiksaya commented on #446
[Triage] @dblock What would be the acceptance criteria for this issue?

[2022-02-01 21:01] gaiksaya commented on #232
[Triage] We will revisit the design when someone starts looking into BWC testing.
closing this for now, We will reopen this again later if required.

[2022-02-01 21:01] #232 closed

[2022-02-01 21:04] bbarani commented on #572
[Triage] We will revisit the design when we start working on BWC testing implementation. Closing this issue for now. We will re-open this again later if required.

[2022-02-01 21:04] #572 closed

[2022-02-01 21:04] bbarani commented on #535
[Triage] We will revisit the design when we start working on BWC testing implementation. Closing this issue for now. We will re-open this again later if required.

[2022-02-01 21:04] #535 closed

[2022-02-01 21:04] bbarani commented on #277
[Triage] We will revisit the design when we start working on BWC testing implementation. Closing this issue for now. We will re-open this again later if required.

[2022-02-01 21:04] #277 closed

[2022-02-01 21:04] bbarani commented on #278
[Triage] We will revisit the design when we start working on BWC testing implementation. Closing this issue for now. We will re-open this again later if required.

[2022-02-01 21:04] #278 closed

[2022-02-01 21:05] #243 closed

[2022-02-01 21:05] bbarani commented on #121
[Triage] We will revisit the design when we start working on BWC testing implementation. Closing this issue for now. We will re-open this again later if required.

[2022-02-01 21:38] aditjind commented on #1199
Repo for which artifacts need to be published: [opensearch-rs](https://github.com/opensearch-project/opensearch-rs)

[2022-02-01 21:48] peterzhuamazon commented on #1529
@jgough @unhipzippo @qmonitoring
Here is the PR for the permanent fix on OpenSearch, and a temp fix for Dashboards:
https://github.com/opensearch-project/opensearch-build/pull/1579

We have staging image here if you willing to take a test,
we apologize for the inconvinience.

[code]

Thanks.

[2022-02-01 22:11] dblock commented on #153
Yes, we still want this, i.e. deleting everything under https://github.com/opensearch-project/opensearch-build/tree/main/scripts/components.

[2022-02-01 22:13] dblock commented on #446
When running `./build.sh manifest/x.y.z/opensearch-x.y.z.yml` build fails for any component that has the maven repositories incorrectly ordered.

[2022-02-01 22:15] dblock commented on #121
We do need 1 issue that says "run bwc tests for every build of OpenSearch", which one do you want to leave open @bbarani?

[2022-02-01 22:20] whitesource-for-github-com[bot] opened #1580 "CVE-2021-43859 (High) detected in xstream-1.4.19.jar"
## CVE-2021-43859 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>xstream-1.4.18.jar</b></p></summary>

<p></p>
<p>Library home page: <a href="http://x-stream.github.io">http://x-stream.github.io</a></p>
<p>Path to dependency file: /build.gradle</p>
<p>Path to vuln

[2022-02-01 22:22] gaiksaya commented on #1199
[Offline Discussion] @aditjind is figuring out how to sign and publish the artifacts on crates.io
https://doc.rust-lang.org/cargo/reference/publishing.html
On glancing at the above document looks like the process can be automated. We can use `opensearch-ci-bot` as the GH account required to publish to crates. Need to check with the permissions and stuff.
However, since we are running short on time

[2022-02-01 23:08] TSiege commented on #741
Homebrew support for local development would be amazing. I'm currently working off of docker, but I'm not the most skilled in setting them up and I constantly have issues starting one, successfully connecting etc. Improving local development is crucial for me. I used to be able to dev against an Elasticsearch run in brew, and it was a great experience that never gave me any issues. Having that for

[2022-02-01 23:14] peterzhuamazon commented on #1567
Close this issue please continue the discussion in #1529 as we have a fix now for you to test:
https://github.com/opensearch-project/opensearch-build/issues/1529#issuecomment-1027319799

Thanks.

[2022-02-01 23:14] #1567 closed

[2022-02-01 23:29] jmazanec15 commented on #1148
Taking a look at this. The problem I was facing is that I cannot install openblas-devel from epel on AL2 on ARM because the package requires libgfortran.so.3 and AL2 on arm comes with libgfortran.so.4. I will try to brainstorm solutions to this this week.

However, as the Dockerfile stands I was able to build image on x64.

[2022-02-01 23:52] gaiksaya commented on #1559
Dependency is coming from junit library from build.gradle file which is already up to date.
[code]
https://mvnrepository.com/artifact/junit/junit
https://mvnrepository.com/artifact/org.jenkins-ci.plugins/junit?repo=jenkins-releases

[2022-02-02 00:47] gaiksaya commented on #1580
The most recent version of jenkins-core (2.33.2) also does not remediate this CVE: https://mvnrepository.com/artifact/org.jenkins-ci.main/jenkins-core/2.332

[2022-02-02 00:48] VijayanB commented on #1199
@gaiksaya In the meantime, shall we create an opensearch-project account and use that to publish either manual or automation.

[2022-02-02 00:52] gaiksaya commented on #1199
I do not see an option to create a new account. All see is `Log in with GitHub`. Am I missing something here?

[2022-02-02 13:37] dblock commented on #741
@TSiege There's actually a community contributed Homebrew formulae already, check out https://github.com/opensearch-project/opensearch-build/issues/38#issuecomment-996075677 and https://github.com/Homebrew/homebrew-core/blob/master/Formula/opensearch.rb. I have some concerns given that Homebrew builds from source, but it's a thing.

[2022-02-02 14:46] stockholmux commented on #741
@schmitch When you say you have 'lots of windows customers' - are they currently running Elasticsearch production instances on Windows?

[2022-02-02 16:27] jgough commented on #1529
@peterzhuamazon I can confirm that I've upgraded a 1.2.3 OpenSearch cluster with the opensearchstaging/opensearch:1.2.4-testfix image successfully and that has fixed the issue we were having.  I can't easily test the opensearch-dashboards image.

[2022-02-02 18:34] peterzhuamazon opened #1583 "[BUG] Use opensearch-build tags to build older releases"
We have released 1.2.4 last week and today the 1.2.4 build is breaking due to this:

@amitgalitz removed the build.sh script for job-scheduler in opensearch-build repo, so the build.sh in js repo can be favored.
https://github.com/opensearch-project/opensearch-build/commit/4c3ae78a5e8a390eb68521e295abc3b4e438edee

This caused js to fail in 1.2.4 build:
[code]

I have found that opensearch-build ma

[2022-02-02 18:51] setiah commented on #1363
Added a new volume `opensearch-config` to docker-compose that holds the certificates and config. This ensures the certificates are only setup once - with first time docker-compose up - and re-used for later runs.

Logs that show how subsequent `docker-compose up` runs check for certificates and bypass certs generation if they exist.
[code]

[2022-02-02 19:04] dblock commented on #1583
The 1.2.4 build should not be building anymore, I see that the manifest is pointing to tags, so why was that kicked off?

We do need to backport @amitgalitz change to 1.2 branch of job-scheduler though.

[2022-02-02 19:38] abhinavGupta16 commented on #1508
Keeping the issue open for remaining fixes - https://github.com/opensearch-project/opensearch-build/pull/1582#pullrequestreview-870834996

[2022-02-02 19:47] amitgalitz commented on #1583
I already backported it to 1.2 https://github.com/opensearch-project/job-scheduler/pull/120. I think the reason its failing is because 1.2 branch missed a different backport to it's build script which is only getting exposed now once the script was removed from opensearch-build. This PR might be the fix for this: https://github.com/opensearch-project/job-scheduler/pull/124

[2022-02-02 19:51] abhinavGupta16 commented on #1257
The acceptance criteria has changed for the issue. We would not be creating `ReleaseOwner.md` now.

We'll now be adding the information on `release_template.md` and expanding the description on the issue itself

[2022-02-02 20:26] peterzhuamazon commented on #1543
Add new issue for core team to add this option for tweak build_type for rpm: https://github.com/opensearch-project/OpenSearch/issues/2043

[2022-02-02 23:19] peterzhuamazon commented on #1548
Need to set the package to not relocatable:
[code]

[2022-02-02 23:27] junqiu-lei opened #1586 "Maps tile need to be updated"

[2022-02-02 23:32] gaiksaya commented on #1532
Hi @VijayanB Is there an estimated date of release?

[2022-02-02 23:34] peterzhuamazon commented on #1548
[code]
https://github.com/jordansissel/fpm/blob/master/templates/rpm.erb#L64-L66

Supply `--prefix ""` will allow package to be not relocatable.

[2022-02-03 01:21] ohltyler opened #1587 "1.3.0 distribution builds failing due to Shadow plugin gradle version bump"
Common utils is not upgraded to Gradle 7, which is causing this failure when trying to build the common-utils component for 1.3.0:
[code]

This failure occurred after the Shadow plugin bumped to Gradle 7.0+ as part of this PR: https://github.com/opensearch-project/OpenSearch/pull/2033

Tracking issue in common-utils: https://github.com/opensearch-project/common-utils/issues/101

[2022-02-03 01:33] saratvemulapalli commented on #1587
Thanks @ohltyler for reporting this.
This is due to OpenSearch moving to a new version of Shadow plugin due to Log4J CVE.
Ref: https://github.com/opensearch-project/OpenSearch/pull/2033

I see couple of options:
1. If the plugin/library wants to use something exported by OpenSearch, they can continue to do so via upgrading gradle.
2. If not, they can explicitly add a dependency for the older versi

[2022-02-03 01:39] reta commented on #1587
@saratvemulapalli I think we have to revert the change for 1.x (sadly), we cannot break existing plugins. The same discussion we have had with @dblock when we were updating to Gradle 7.x: it was a breaking change for 1.x so the strong point was made to keep the promise and never make breaking changes within minor / patch releases (as such, 1.x is still on Gradle 6.x). Thank you.

[2022-02-03 01:46] saratvemulapalli commented on #1587
Thanks @reta ! I agree.
I did put up a PR to revert the change in 1.x.
https://github.com/opensearch-project/OpenSearch/pull/2047

[2022-02-03 03:02] electricbrain-code opened #1588 "performance-analyzer.log spammed - old issue back again in docker image v1.2.4"
/usr/share/opensearch/logs/performance-analyzer.log is spammed with 1000's of messages:
No bind variables have been provided with a single statement batch execution. This may be due to accidental API misuse
This is notes in:
https://discuss.opendistrocommunity.dev/t/performance-analyzer-agent-cli-spamming-syslog-in-od-1-3-0/2040
The practical upshot is the messages are of no consequence.
To get ri

[2022-02-03 03:41] saratvemulapalli commented on #1587
The change is merged.
Closing the issue.

[2022-02-03 03:41] #1587 closed

[2022-02-03 16:34] dblock opened #1589 "Create a MacOS homebrew signed binaries tap"
### Is your feature request related to a problem? Please describe

The [currently available community contributed homebrew formulae](https://formulae.brew.sh/formula/opensearch) builds -min from source. Users are getting 1) source code built on their machines vs. tested and signed binaries, and 2) only -min, not including the plugins.

While plugins may be individually supplied as additional homeb

[2022-02-03 19:35] abhinavGupta16 opened #1592 "Design ECR cdk stack to deploy repositories and roles related to it."
## Description
We are able to deploy the ECR related roles and repositories on Isengard using cdk automatically.
The ecr roles set up trust relationships with existing roles/nodes deployed with jenkins-ci

## Acceptance Criteria
- [ ] Write a design/proposal doc for cdk ECR deployment
- [ ] I am able to deploy ecr repositories and roles with cdk
- [ ] roles trust relationships are automatically ma

[2022-02-03 20:48] peternied opened #1593 "[Build] Create a Docker image for Ruby"
Ruby needs to be built with the signing key present in the code base with the locked down credentials model we have in the OpenSearch Project the only place this can happen is in a Jenkins job coupled with the this OpenSearch-Build repository.

In order to build ruby projects we need the correct interpreter to be selectable.  There have been multiple attempts, https://github.com/opensearch-project

[2022-02-03 22:03] bbarani commented on #88
Closing this redundant issue in favor of https://github.com/opensearch-project/opensearch-build/issues/1589

[2022-02-03 22:03] #88 closed

[2022-02-03 22:08] bbarani commented on #1572
@reta can you please help us understand the scope of packaging / distro test? We are planning to create automated validation pipelines for RPM builds as part of https://github.com/opensearch-project/opensearch-build/issues/1244 but want to understand the current functionality of packing test.

[2022-02-03 22:14] reta commented on #1572
@bbarani absolutely, so right now there are 4 types of packaging (at least) produced by build scripts:
 - Docker
 - deb
 - rpm
 - archive (*.tar.gz)

The distribution tests [1] use Vagrant tol spin off a large set of *nx / Windows distributions, deploy all these package types on each of those (one by one), and verify that:
a) they are deployed properly
b) the Opensearch server starts successfully

[2022-02-03 22:37] dblock commented on #88
I didn't see this one, sorry, would have edited it. Thanks @bbarani

[2022-02-03 23:13] peterzhuamazon commented on #1548
In research on testing remove the post_remove.sh and verify whether the dir are removed.
Also needs to test post_install.sh once post_remove.sh removal does not affect dir removal.

[2022-02-03 23:30] peternied commented on #1539
I've got a basic workflow, https://github.com/peternied/data-prepper/pull/new/uni-poc still need to make sure there is glue on the other side and confirm the jenkins connection.

I've created a fresh CI instance to make sure I'm not depending on our existing logic following https://github.com/opensearch-project/opensearch-ci dev deployment

[2022-02-04 00:05] dlvenable opened #1594 "Update the Data Prepper Promotion/Release Job"
### Is your feature request related to a problem? Please describe

Data Prepper is looking to use an updated release process as described in https://github.com/opensearch-project/data-prepper/issues/977.

### Describe the solution you'd like

Update the Data Prepper promotion job to perform all the necessary promotions based on the artifacts produced into the Data Prepper artifacts repositories.

[2022-02-04 22:12] peterzhuamazon commented on #1545
20220204: FPM is having some issues along the way:
* Messy handling of folder structure, as it will add every single file under `%files` section instead of owning folders, so erase of the package will not do proper clean up.
* Need to specifically set `--rpm-summary` for RPM, and debian has a different command, which is not suitable for the usages.
* If build on non-linux machine, `--rpm-os` is ne

[2022-02-04 22:56] ohltyler commented on #761
@tianleh can we close this?

[2022-02-04 23:13] dblock commented on #33
Related, https://github.com/opensearch-project/logstash-output-opensearch/issues/119

[2022-02-04 23:21] peternied commented on #1539
I have created a proof of concept workflow tested within a jenkins instance:

- Implementation for sign, promote, maven, docker, ecr for Data Prepper, [PR](https://github.com/peternied/data-prepper/pull/1/files)
- Implementation for centrally managed pipeline in OpenSeach-Build, [PR](https://github.com/peternied/opensearch-build/pull/13/files)
- Workflow output, [console log](http://ci-de-jenki-17

[2022-02-04 23:57] bbarani commented on #1157
FYI... Whitesoure Native integration will support JDK 11 starting Feb 06 2022 - More info - https://whitesource.atlassian.net/wiki/spaces/WD/pages/817037652/Developer+Integrations+Release+Notes#Version-22.1.2-(6-February-2022)

[2022-02-05 00:14] github-actions[bot] opened #1600 "[RELEASE] Release version 1.2.5"
## Release OpenSearch and OpenSearch Dashboards 1.2.5

I noticed that a manifest was automatically created in [manifests/1.2.5](/opensearch-project/opensearch-build/tree/main/manifests/1.2.5). Please follow the following checklist to make a release.

<details><summary>How to use this issue</summary>
<p>

## This Release Issue

This issue captures the state of the OpenSearch release, its assignee i

[2022-02-05 07:28] tianleh commented on #761
Dashboards integ test has already been supported. Close this task.

[2022-02-05 07:28] #761 closed

[2022-02-05 15:01] jcgraybill commented on #1586
For the moment, but let's get a repo created for the tiles service to get as much of the code / configuration (ideally all of it, I don't see any reason why not) published to GitHub.

[2022-02-05 18:25] junqiu-lei commented on #1586
Hi Jules, thanks your suggestion. we are creating this issue for Jenkins pipeline for tiles generation.

Basically it’s a Jenkins configuration file that runs a docker container which downloads tiles from OSM and uploads to S3 where we host our tiles to be rendered. Our plan is it have these run part of infra Jenkins jobs. So we wanted to keep these close to infra build repo.

We have plan to open

[2022-02-06 03:37] jcgraybill commented on #1586
Sounds like a great plan, thanks for the explanation!

[2022-02-06 04:07] tianleh opened #1601 "Allow S3 uploading of index.yml file besides builds/dist"
### Is your feature request related to a problem? Please describe

While working on supporting `latest` in url, we are following the suggestion to https://github.com/opensearch-project/opensearch-build/pull/1569#discussion_r797969777 to upload an `index.yml` file which contains the latest build number.

However,  as documented in https://github.com/opensearch-project/opensearch-build/pull/1569#iss

[2022-02-06 04:34] tianleh commented on #1601
@peternied  Could infra team help prioritize this while I am working on https://github.com/opensearch-project/opensearch-build/pull/1569?

CC @dblock  @seraphjiang @bbarani @xinlamzn  for visibility

[2022-02-06 18:45] sharp-pixel opened #1602 "Add AMI distribution"
### Is your feature request related to a problem? Please describe

OpenDistro released Amazon Machine Images (AMIs). Since OpenSearch, AMIs don't seem to be published.

### Describe the solution you'd like

Publish AMIs for x86-64 and arm64 for each new release in all regions.

### Describe alternatives you've considered

- Use the tarball distribution on a fresh EC2 instance
- Build my own AMI fo

[2022-02-07 05:43] bbarani commented on #1199
@aditjind @VijayanB Can we directly link opensearch-ci-bot GitHub account with crate.io and publish the artifacts?

[2022-02-07 05:47] aditjind commented on #1199
As per my understanding, we will use the opensearch-ci-bot GitHub account to publish the first release of the client manually. We will then have automation scripts to build, sign and publish the artifacts via Infra Jenkins setup.
cc: @gaiksaya (Correct me if I missed anything).

[2022-02-07 13:23] dblock commented on #1601
@tianleh I believe this should be added to https://github.com/opensearch-project/opensearch-build/blob/main/deployment/lib/identities.ts#L40 as needed

[2022-02-08 00:14] peterzhuamazon commented on #1548
Dependency runs:

[code]

[2022-02-08 00:14] peterzhuamazon commented on #1548
[code]

[2022-02-08 04:08] ankitkala commented on #1428
Sorry for late reply. The code is expected to be in build repo itself.

[2022-02-08 19:10] kotwanikunal commented on #707
I will follow up on this once we have the basic infrastructure for #129 in place.

[2022-02-08 19:35] kavilla opened #1604 "[Code cleanup] Component iteration in test runners"
### Is your feature request related to a problem? Please describe

Clean up the logic for test runners that go through the components. [[EXAMPLE](https://github.com/opensearch-project/opensearch-build/blob/main/src/test_workflow/integ_test/integ_test_runner.py#L29)]

Source: https://github.com/opensearch-project/opensearch-build/pull/1603#discussion_r801627094

### Describe the solution you'd like

[2022-02-08 20:09] gaiksaya commented on #1572
[Triage] Hi @owaiskazi19, AFAIK you were looking into running gradle check via different means, does this overlaps with your efforts?

We can add the testing for bundles in our backlog. For OpenSearch specific tests, that should be run in OpenSearch repository.

[2022-02-08 20:11] gaiksaya commented on #1594
[Triage] This will be fixed as a part of universal build workflow. Please see #1234

[2022-02-08 20:18] gaiksaya commented on #1602
[Triage] Hi @bbarani can you update this issue with the plan?
Thanks!

[2022-02-08 20:23] gaiksaya commented on #1583
[Triage] Closing this since the above PR is merged. Also we need not build already versions.

[2022-02-08 20:23] #1583 closed

[2022-02-08 22:06] aditjind commented on #1199
No staging area support for Crates:

* [Issue](https://github.com/rust-lang/crates.io/issues/1503)
* [Discussion](https://github.com/rust-lang/crates.io/discussions/4330)

[2022-02-08 23:18] peternied commented on #781
Closing this this issue is in favor of #1234 that is being actively worked on with deliverables

[2022-02-08 23:18] #781 closed

[2022-02-08 23:38] zelinh commented on #378
Why we don't use the build manifest to fetch the component name, repo, commit_id and etc.
e.g.  from `https://ci.opensearch.org/ci/dbc/distribution-build-opensearch/$version/$build_number/linux/x64/build/opensearch/manifest.yml`
This will also include plugin like `common-util` which didn't redistribute.

[2022-02-09 01:25] peterzhuamazon commented on #1548
[code]

[code]

[2022-02-09 01:26] peterzhuamazon commented on #1548
Still need to find a better way to handle third party JDKs, as of now only bundled JDK run.

[2022-02-09 17:48] peternied opened #1606 "Create a function for a jenkins pipeline with defaults and basic configuration parameters"
#### Note; this work should not start until all design tasks in https://github.com/opensearch-project/opensearch-build/issues/1234 have been completed as they have implications on the acceptance criteria of these tasks.

See [standard release pipeline](https://github.com/peternied/opensearch-build/blob/e2dcfd49cef494b0c273bce40bd532cf8099a45d/vars/standardReleasePipeline.groovy) function from the

[2022-02-09 17:52] peternied opened #1607 "Create and document how to onboard to the OpenSearch-Build groovy library in a remote repository"
#### Note; this work should not start until all design tasks in https://github.com/opensearch-project/opensearch-build/issues/1234 have been completed as they have implications on the acceptance criteria of these tasks.

See [example release jenkinsfile](https://github.com/peternied/data-prepper/blob/uni-poc/scripts/opensearch-build/release.jenkinsfile#L1-L21) workflow from the proof of concept.

[2022-02-09 17:57] peternied opened #1608 "Create a distribution representation (backed as manifest file or as a GitHub release draft) in groovy library"
#### Note; this work should not start until all design tasks in https://github.com/opensearch-project/opensearch-build/issues/1234 have been completed as they have implications on the acceptance criteria of these tasks.

See [discussion on distribution representations](https://github.com/peternied/data-prepper/pull/1/files#r802112027) from the proof of concept. for ideas and use cases

Acceptance

[2022-02-09 17:58] peternied commented on #1539
Updated the recent associated PR to include the potential manifest changes, and reviewed with Data Prepper team.

[2022-02-09 17:58] #1539 closed

[2022-02-09 23:23] VijayanB commented on #1532
This is now available at https://opensearch.org/downloads.html

[2022-02-09 23:23] #1532 closed

[2022-02-10 00:01] VijayanB opened #1611 "Create logstash oss assemble process and publish it to downloads page/docker"
The script to download logstash oss, install logstash-output-opensearch and re-distribute as logstash-oss-with-opensearch-output-plugin is available at https://github.com/opensearch-project/logstash-output-opensearch/tree/main/release.

We are working on adding new logstash-input-opensearch plugin. Shall we move this logstash oss assemble process to opensearch-build? Please provide feedback.

[2022-02-10 00:21] peterzhuamazon commented on #1548
[code]

[2022-02-10 00:49] #1357 closed

[2022-02-10 12:08] lerdt commented on #1529
@peterzhuamazon - I can confirm from my side that none of the versions work for me, when I like to exchange the config (latest, 1.2.3, 1.2.4-testfix and so on). An exchange of the `opensearch.yml` configuration is not possible and always results in the error from the initial comment [1529 - #1](https://github.com/opensearch-project/opensearch-build/issues/1529#issue-1110732353) (failed to load the

[2022-02-10 17:33] ohltyler opened #1613 "AD plugin causing 1.3.0 build failures"
1.3.0 build failures started happening after this AD PR was merged: https://github.com/opensearch-project/anomaly-detection/pull/373

Errors in jenkins host:
[code]

[2022-02-10 20:54] ohltyler commented on #1613
This is due to the manually built jars in AD were built with JDK14. There's an [open issue in AD](https://github.com/opensearch-project/anomaly-detection/issues/320) to default the CI to JDK11, so the jars should be rebuilt with JDK11. When those changes are merged to main, build failures should go away

[2022-02-10 23:15] lindeberg25 opened #1625 "Permission denied - /usr/share/opensearch/"
Hello...

I'm deploying an opensearch cluster on Openshift and I'm getting the permission denied error: ./opensearch-docker-entrypoint.sh: permission denied"

I've created an opensearch-sa service account and added it to master.yaml:

         serviceAccountName: "opensearch-sa"

I've set opensearch-sa to privileged.

I believe the user created in the opensearch image doesn't have permission on /u

[2022-02-10 23:34] CEHENKLE commented on #1415
Hey @bbarani he's not working on it -- that's on me.  I think it needs a new owner

[2022-02-11 16:46] ohltyler commented on #1613
Confirmed this is fixed via https://github.com/opensearch-project/anomaly-detection/pull/374

[2022-02-11 16:46] #1613 closed

[2022-02-11 18:44] eugenesk24 commented on #889
#1617 #1615

[2022-02-11 19:18] zelinh commented on #378
The current approach I am thinking is:
With version and build number as input parameters, we could acquire the build manifest from S3 using `downloadFromS3` groovy method with manifest path like following (`distribution-build-opensearch/$version/$build_number/linux/x64/build/opensearch/manifest.yml`). We could get the information (e.g. component’s name, commit id, repo link) from the build manifes

[2022-02-11 22:35] peternied commented on #1586
Cool problem space! I've got some questions...
1. Is there a reason this process needs to be executed on a jenkins environment as opposed to github action?
2. How frequently is this job going to be run, what happens if it doesn't run?
3. How 'expensive' is the generation process?  Weekly are we talking about 5 minutes of a `c5.xlarge` or 100 hours of `p3.16xlarge`.

Could you provide a link to the

[2022-02-11 23:10] junqiu-lei commented on #1586
Hi Peter,

1. Because we already have the existing Jenkins frame work available on infra team, and the pipeline process need request EC2 instance on demand for executing the jobs. So that it would be easier to design and manage the pipeline.
2. Initially we plan to execute the jobs about every 3 months.
3. I used a r5a.2xlarge EC2 for whole planet zoom 0-zoom 10 tiles generation with 2T SSD volume

[2022-02-11 23:20] abhinavGupta16 commented on #1592
Following on offline team discussion, we will add the cdk to deploy ECR as a part of `opensearch-ci` . Moving therefore, moving this issue to `opensearch-ci`

[2022-02-11 23:21] #1592 closed

[2022-02-11 23:40] junqiu-lei commented on #1586
@peternied Thanks for explanations and suggestions, we can have a meeting discussion on more details!

[2022-02-14 07:46] tianleh commented on #1601
Decided to use `index.json` instead of `index.yml` https://github.com/opensearch-project/opensearch-build/pull/1569#issuecomment-1036091352

[2022-02-14 18:21] #1601 closed

[2022-02-14 19:11] zelinh commented on #1509
Closing this one as the PR has been merged.

[2022-02-14 19:26] #1529 closed

[2022-02-14 19:37] peterzhuamazon commented on #566
We will make a new issue for the 2.0.0 release soon.

[2022-02-14 19:37] #566 closed

[2022-02-14 19:42] dblock commented on #566
@peterzhuamazon Automation is going to reopen this one in the next 12 hours unless you create a new issue with the `[RELEASE] Release version 2.0.0` title. You might as well edit this one?

[2022-02-14 19:45] peterzhuamazon commented on #566
We are fully expecting that @dblock as this one is not up to date on its content/description with the latest template.
Thanks.

[2022-02-14 21:50] bbarani commented on #1602
I have added AMI to upcoming distributions. Please track the status using the distributions [dashboard](https://github.com/orgs/opensearch-project/projects/13)

[2022-02-14 22:09] dlvenable opened #1621 "Docker Labels for Latest of Major (or Minor) Versions"
### Is your feature request related to a problem? Please describe

Currently, to pull a Docker image, administrators can either pull the latest or a specific version. In this Issue, I will Data Prepper as an example, but this could be applied for OpenSearch as well.

[code]

or

[code]

However, pulling the `latest` will begin to pull breaking changes after the next major version (2.0) is released

[2022-02-15 17:51] saratvemulapalli opened #1623 "[Bug]: Cannot login with default username/password in OpenSearch Dashboards setup via Docker"
### Describe the bug

I was trying to setup an opensearch cluster with Dashboards via docker.
I did use the docker-compose.yml from [opensearch.org/downloads](https://opensearch.org/samples/docker-compose.yml).

After setting up, i was able to access opensearch via default username and password.
[code]
But I could not access Dashboards.
<img width="1792" alt="Screen Shot 2022-02-15 at 9 54 52 AM"

[2022-02-15 19:39] peterzhuamazon commented on #647
We've made a bunch of changes in the template, closing this one to get the workflow to run again and create a new issue with an updated template.

Thanks.

[2022-02-15 19:39] github-actions[bot] opened #1624 "[RELEASE] Release version 2.0.0 (RC1)"
## Release OpenSearch and OpenSearch Dashboards 2.0.0 (RC1)

I noticed that a manifest was automatically created in [manifests/2.0.0](/opensearch-project/opensearch-build/tree/main/manifests/2.0.0). Please follow the following checklist to make a release.

<details><summary>How to use this issue</summary>
<p>

## This Release Issue

This issue captures the state of the OpenSearch release, its assi

[2022-02-15 19:46] bbarani commented on #1623
@saratvemulapalli I couldn't reproduce this issue in latest version.

**Steps followed:**

1. Downloaded[ Docker compose file](https://opensearch.org/samples/docker-compose.yml)
2. Executed docker-compose up

[code]

Login screen:
<img width="980" alt="Screen Shot 2022-02-15 at 11 29 48 AM" src="https://user-images.githubusercontent.com/70038446/154137160-960014ea-fd71-4dd2-9d48-0897c5ffa34b.png">

[2022-02-15 20:04] bbarani commented on #1621
We need to think beyond version numbers (especially for Dockers) considering we are updating the base OS images frequently to remediate CVE's. Also we need to see if we can also solve the build number issues as well https://github.com/opensearch-project/opensearch-build/issues/1461

[2022-02-15 20:14] dlvenable commented on #1621
I take this mean that pulling `opensearch:1.2.4` may have a different base image depending on when you actually pull it. That should remain fully compatible with my proposal.

Since major versions will introduce breaking changes, I'm proposing a way to allow users to pull the latest for any given major version. This way, users get CVE fixes for their major version without having to pull in breakin

[2022-02-15 20:26] saratvemulapalli commented on #1623
Thanks @bbarani , thats interesting.
I tried different browsers. But somehow my machine is seeing this problem.

[2022-02-15 21:28] bbarani commented on #1623
@saratvemulapalli Can you kill all the running process and execute just docker-compose up?

[2022-02-15 21:36] zelinh opened #1626 "[Distribution-build-opensearch-dashboard Breaks] Error building queryWorkbenchDashboards components"
### Describe the bug

Currently our distribution-build-opensearch-dashboards is broken.
Here is the context of error.
[code]

### To reproduce

Run `./build.sh manifests/1.3.0/opensearch-dashboards-1.3.0.yml --component queryWorkbenchDashboards` in the root of this build repo inside the CI container.

### Expected behavior

_No response_

### Screenshots

If applicable, add screenshots to help exp

[2022-02-15 21:52] zelinh opened #1627 "check-for-build job always fails if child job fails"
This issue has been solved in previous #1285. However, in recent change, catch block was removed from this job. Therefore this job will always fail and send out notification if its child job (e.g. distribution-build-opensearch-dashboards) fails.
This notification should only happen if there is an internal error (e.g. `TARGET_JOB_NAME` is invalid) in this job.
https://github.com/opensearch-project/

[2022-02-15 22:46] dblock commented on #647
https://github.com/opensearch-project/opensearch-build/issues/1624

[2022-02-15 23:13] jcgraybill commented on #1452
Thanks @peterzhuamazon for providing an update with answers to everything that's been provided here. Those requirements and user experience details look good to me.

[2022-02-16 18:13] saratvemulapalli commented on #1623
That's a good point. I did try somehow it doesn't work for me.

I'll close this issue, let's see if anybody else reports the same problem.

[2022-02-16 18:13] #1623 closed

[2022-02-16 19:58] dlvenable commented on #1621
Thanks for clarifying that. I do believe this could work with my proposal. The `opensearch:1.2.4+1` build would be labeled with `latest`, `1.2.4`, and `1`. Then if you build `opensearch:1.2.4+2`, it gets the same labels: `latest`, `1.2.4`, and `1`.

[2022-02-16 23:50] bbarani opened #1632 "Support additional qualifiers in OpenSearch and OpenSearch Dashboards"
### Is your feature request related to a problem? Please describe

Currently the distribution build process doesn't support passing any additional qualifier other than the 3 digit versions hence we have to manually make changes to generate builds with additional qualifiers

### Describe the solution you'd like

Add the ability to pass additional qualifier to automated distribution build  process.

[2022-02-16 23:57] peterzhuamazon commented on #1632
This needs a change in the current workflows as we do not support qualifiers yet, only raw version numbers in digits.

cc: @dblock

[2022-02-17 01:03] zelinh commented on #1627
Reopen this issue since we revert the commit.

[2022-02-17 15:54] dblock commented on #1632
I think we should support the version in the manifest, i.e. I would like to be able to write the following in https://github.com/opensearch-project/opensearch-build/blob/main/manifests/2.0.0/opensearch-2.0.0.yml#L9

[code]

The version is already passed around as -Dopensearch.version, and version checks need to understand this.

[2022-02-17 17:09] dblock opened #1634 "[Bug]: OpenSearch build builds OpenSearch Dashboards"
### Describe the bug

In https://github.com/opensearch-project/opensearch-build/pull/590/ we have introduced a `-d` option that says "build OpenSearch Dashboards". This is odd, why would OpenSearch build know anything about OpenSearch Dashboards?

### To reproduce

See https://github.com/opensearch-project/opensearch-build/pull/1631/files#r808574435

### Expected behavior

Change the default scrip

[2022-02-17 17:10] dblock commented on #1634
@kavilla Could you please give some context here? Thanks!

[2022-02-17 17:14] bbarani commented on #1625
@lindeberg25 Can you please pull in updated Docker image and let us know if you are still facing this issue? You can find more info on this issue [here](https://github.com/opensearch-project/opensearch-build/issues/1529)

[2022-02-17 17:19] peternied commented on #1456
There are still open subtasks, tracking this down

[2022-02-17 17:22] dblock commented on #1456
Lots of remaining hits in https://github.com/search?q=org%3Aopensearch-project+jcenter&type=code

[2022-02-17 17:30] kavilla commented on #1634
Yeah it should be removed. It was added in the default script when the default script was just the one [[REF](https://github.com/opensearch-project/opensearch-build/pull/590/files)].

[2022-02-17 17:32] mend-for-github-com[bot] opened #1635 "CVE-2022-25174 (High) detected in workflow-cps-global-lib-2.14.jar - autoclosed"
## CVE-2022-25174 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>workflow-cps-global-lib-2.14.jar</b></p></summary>

<p>The Jenkins Plugins Parent POM Project</p>
<p>Library home page: <a href="https://wiki.jenkins.io/display/JENKINS/Pipeline+Shared+Groovy+Librari

[2022-02-17 17:32] whitesource-for-github-com[bot] opened #1636 "CVE-2022-25173 (High) detected in workflow-cps-2.87.jar - autoclosed"
## CVE-2022-25173 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>workflow-cps-2.87.jar</b></p></summary>

<p>The Jenkins Plugins Parent POM Project</p>
<p>Library home page: <a href="https://github.com/jenkinsci/workflow-cps-plugin">https://github.com/jenkinsci/wo

[2022-02-17 17:32] mend-for-github-com[bot] opened #1637 "CVE-2022-25183 (High) detected in workflow-cps-global-lib-2.14.jar - autoclosed"
## CVE-2022-25183 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>workflow-cps-global-lib-2.14.jar</b></p></summary>

<p>The Jenkins Plugins Parent POM Project</p>
<p>Library home page: <a href="https://wiki.jenkins.io/display/JENKINS/Pipeline+Shared+Groovy+Librari

[2022-02-17 17:32] mend-for-github-com[bot] opened #1638 "CVE-2022-25182 (High) detected in workflow-cps-global-lib-2.14.jar - autoclosed"
## CVE-2022-25182 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>workflow-cps-global-lib-2.14.jar</b></p></summary>

<p>The Jenkins Plugins Parent POM Project</p>
<p>Library home page: <a href="https://wiki.jenkins.io/display/JENKINS/Pipeline+Shared+Groovy+Librari

[2022-02-17 17:32] mend-for-github-com[bot] opened #1639 "CVE-2022-25181 (High) detected in workflow-cps-global-lib-2.14.jar - autoclosed"
## CVE-2022-25181 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>workflow-cps-global-lib-2.14.jar</b></p></summary>

<p>The Jenkins Plugins Parent POM Project</p>
<p>Library home page: <a href="https://wiki.jenkins.io/display/JENKINS/Pipeline+Shared+Groovy+Librari

[2022-02-17 17:32] whitesource-for-github-com[bot] opened #1640 "CVE-2022-25180 (Medium) detected in workflow-cps-2.87.jar - autoclosed"
## CVE-2022-25180 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>workflow-cps-2.87.jar</b></p></summary>

<p>The Jenkins Plugins Parent POM Project</p>
<p>Library home page: <a href="https://github.com/jenkinsci/workflow-cps-plugin">https://github.com/jenkinsci/

[2022-02-17 17:32] whitesource-for-github-com[bot] opened #1641 "CVE-2022-25179 (Medium) detected in workflow-multibranch-2.21.jar - autoclosed"
## CVE-2022-25179 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>workflow-multibranch-2.21.jar</b></p></summary>

<p>Enhances Pipeline plugin to handle branches better by automatically grouping builds from different branches</p>
<p>Library home page: <a href="ht

[2022-02-17 17:32] mend-for-github-com[bot] opened #1642 "CVE-2022-25178 (Medium) detected in workflow-cps-global-lib-2.14.jar - autoclosed"
## CVE-2022-25178 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>workflow-cps-global-lib-2.14.jar</b></p></summary>

<p>The Jenkins Plugins Parent POM Project</p>
<p>Library home page: <a href="https://wiki.jenkins.io/display/JENKINS/Pipeline+Shared+Groovy+Libra

[2022-02-17 17:32] mend-for-github-com[bot] opened #1643 "CVE-2022-25177 (Medium) detected in workflow-cps-global-lib-2.14.jar - autoclosed"
## CVE-2022-25177 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>workflow-cps-global-lib-2.14.jar</b></p></summary>

<p>The Jenkins Plugins Parent POM Project</p>
<p>Library home page: <a href="https://wiki.jenkins.io/display/JENKINS/Pipeline+Shared+Groovy+Libra

[2022-02-17 17:32] whitesource-for-github-com[bot] opened #1644 "CVE-2022-25176 (Medium) detected in workflow-cps-2.87.jar - autoclosed"
## CVE-2022-25176 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>workflow-cps-2.87.jar</b></p></summary>

<p>The Jenkins Plugins Parent POM Project</p>
<p>Library home page: <a href="https://github.com/jenkinsci/workflow-cps-plugin">https://github.com/jenkinsci/

[2022-02-17 17:32] whitesource-for-github-com[bot] opened #1645 "CVE-2022-25175 (High) detected in workflow-multibranch-2.21.jar - autoclosed"
## CVE-2022-25175 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>workflow-multibranch-2.21.jar</b></p></summary>

<p>Enhances Pipeline plugin to handle branches better by automatically grouping builds from different branches</p>
<p>Library home page: <a href="http

[2022-02-17 17:40] peternied commented on #1456
We've got 22 open issues from this [query](https://github.com/search?q=org%3Aopensearch-project+jcenter%28%29&type=code) I'll try to drive these all down

[2022-02-17 18:42] zelinh commented on #1621
[Triage] Could you come up with a formal proposal covering all the scenarios?

[2022-02-17 18:50] joshuali925 commented on #1626
@eugenesk24 is tracking 1.3 release, linking PR to fix the issue https://github.com/opensearch-project/sql/pull/419

[2022-02-17 18:50] zelinh commented on #1632
[Triage] We have enough information and we need to groom this issue to understand the scope.

[2022-02-17 19:06] gaiksaya commented on #1611
[Triage] Hi @VijayanB , for any component building/assembling part, you can have `scripts/build.sh` file in your repo which takes care of everything. Example: https://github.com/opensearch-project/job-scheduler/blob/main/scripts/build.sh

If the new plugin`logstash-input-opensearch plugin` is part of OpenSearch bundle it needs to be a part of the manifest and needs to have a build script like abov

[2022-02-17 19:07] bbarani commented on #1572
As mentioned by @gaiksaya, we would focus more on executing tests at distribution level and not at repo level. Having said that, we dont have plans to add additional distribution support to -min artifact but it would be ideal to run these tests as part of your gradle check to surface any gaps when we create those distributions.

[2022-02-17 19:21] VijayanB commented on #1611
@gaiksaya This is part of logstash oss not OpenSearch. Currently, logstash-ouput-opensearch contains this assembly process ( install this plugin into logstash oss ). In future, we need something similar to what OpenSearch is doing for its plugins.

[2022-02-17 19:26] gaiksaya commented on #1611
I assume that is considered as a stand-alone component then? In that case the repository with all the codebase should contain all the build, test processes. Please see https://github.com/opensearch-project/opensearch-build/issues/1234, proposal section. The opensearch-build repo or code base will be `Downloading the build` instead of actually building the artifact.

[2022-02-17 22:03] #1634 closed

[2022-02-17 22:20] peterzhuamazon commented on #1543
20220217: Add a new issue to track problems with dashboards on building rpm:
https://github.com/opensearch-project/OpenSearch-Dashboards/issues/1259

[2022-02-17 22:49] setiah opened #1649 "Finalize release steps for the new out of box experience"
### Is your feature request related to a problem? Please describe

Identify breaking changes w.r.t. developer or user experience and finalize the release process for the new setup experience changes.

### Describe the solution you'd like

* Only non-breaking changes should be part of minor version release.
* Breaking changes (w.r.t. user experience, setup experience), should be part of next major

[2022-02-18 00:17] github-actions[bot] opened #1650 "[RELEASE] Release version 2.0.0"
## Release OpenSearch and OpenSearch Dashboards 2.0.0

I noticed that a manifest was automatically created in [manifests/2.0.0](/opensearch-project/opensearch-build/tree/main/manifests/2.0.0). Please follow the following checklist to make a release.

<details><summary>How to use this issue</summary>
<p>

## This Release Issue

This issue captures the state of the OpenSearch release, its assignee i

[2022-02-18 00:21] peterzhuamazon opened #1651 "[BUG] Only send `-d` to core components, instead of everything."
As of now, build workflow will not send `-d` if user does not specify `--distribution`.
However, if user specify things such as `--distribution rpm` and try to build core+all plugins,
`-d` will be sent to plugins as well.

The plugin build script does not know how to interpret `-d` thus fail.
[code]

Need to add a condition where if component != OpenSearch/OpenSearch-Dashboards, then `-d` will not

[2022-02-18 00:24] peterzhuamazon commented on #1543
20220217_2: Only send -d to core components: https://github.com/opensearch-project/opensearch-build/issues/1651

[2022-02-18 00:31] dblock commented on #1651
That's too bad. Maybe it's easier to just add required `-d` into all the scripts?

[2022-02-18 00:32] #1640 closed

[2022-02-18 00:32] #1636 closed

[2022-02-18 00:32] #1644 closed

[2022-02-18 00:32] #1559 closed

[2022-02-18 00:52] peterzhuamazon commented on #1543
New PR https://github.com/opensearch-project/opensearch-build/pull/1652

[2022-02-18 00:55] peterzhuamazon commented on #1651
The previous discussion on this is to not adding `-d` to all scripts.
I am happy to do so just wonder is there any process changed for this?

I already open PR #1652 to add this functionality, please comment.

Thanks.

[2022-02-18 04:00] kavilla commented on #1604
More clean up: https://github.com/opensearch-project/opensearch-build/issues/1512. Type new classes.

[2022-02-18 08:24] tianleh opened #1654 "Migrate CfUrlRewriter Lambda from JavaScript to TypeScript"
### Is your feature request related to a problem? Please describe

The current CfUrlRewriter is written as inline JavaScript code.

https://github.com/opensearch-project/opensearch-build/blob/main/deployment/lib/artifacts-public-access.ts#L23

Motivated by PR comment https://github.com/opensearch-project/opensearch-build/pull/1569#discussion_r795572203, we want to migrate

1) the inline code to a

[2022-02-18 08:29] tianleh commented on #1654
Previous work https://github.com/tianleh/opensearch-build/pull/4

[2022-02-18 08:30] tianleh commented on #1654
Following this https://apoorv.blog/typescript-lambda-cdk/ to give a try. But failed due to
<img width="1678" alt="Screen Shot 2022-02-18 at 12 30 26 AM" src="https://user-images.githubusercontent.com/60111637/154646483-817b0afc-88fa-4e23-a5ab-49c8a9a75ee4.png">

[2022-02-18 08:31] tianleh commented on #1654
Experimenting by following AWS doc https://docs.aws.amazon.com/cdk/v2/guide/serverless_example.html

[2022-02-18 16:37] peterzhuamazon commented on #1543
20220218: PA issue block 1.3.0 build now.
https://github.com/opensearch-project/performance-analyzer/issues/140

[2022-02-18 16:38] peterzhuamazon commented on #1548
20220218: PA issue block 1.3.0 build now.
https://github.com/opensearch-project/performance-analyzer/issues/140

[2022-02-18 16:42] dblock commented on #1651
Yes, I didn't realize that it was going to be a problem and would require this hack :(

[2022-02-18 16:49] peternied commented on #1456
Down to 10 instances of jcenter, here is an updated [query](https://github.com/search?q=org%3Aopensearch-project+jcenter%28%29+NOT+repo%3Aopensearch-project%2Fopensearch-docs+NOT+repo%3Aopensearch-project%2FOpenSearch+NOT+repo%3Aopensearch-project%2Fopensearch-build&type=code).

[2022-02-18 18:14] dblock commented on #1651
That's fine with me. Open a separate issue for that.

[2022-02-18 19:46] #1199 closed, assigned to nobody

[2022-02-18 19:49] bbarani commented on #785
Closing this issue as there is already a package published by the community : https://github.com/conda-forge/opensearch-py-feedstock

[2022-02-18 19:49] #785 closed, assigned to nobody

[2022-02-18 19:49] bbarani commented on #1108
Closing this issue as there is already a package published by the community : https://packagist.org/packages/opensearch-project/opensearch-php

[2022-02-18 20:27] peterzhuamazon opened #1655 "[META][Enhancement] Passing value of `--distribution` to build scripts of all components"
As of now only OpenSearch core component support passing `./build.sh --distribution <>` value to its build.sh as `-d <>`.

I will update OpenSearch-Dashboards build.sh once they support arm64 os packages:
https://github.com/opensearch-project/OpenSearch-Dashboards/issues/1259

As of now, we use a hack to make sure only core components will take `-d` while skip others:
https://github.com/opensearch

[2022-02-18 20:27] peterzhuamazon commented on #1651
@dblock create a new issue to track this: https://github.com/opensearch-project/opensearch-build/issues/1655

[2022-02-18 20:58] bbarani commented on #1500
@ankitkala Can you update the progress of this issue?

[2022-02-19 00:34] #1651 closed

[2022-02-19 19:06] bbarani commented on #517
@adaisley, The plugin zips are available at ci.artifacts.org/... location and the exact location can be found inside the manifest.yml file inside the OpenSearch-Dashboards distribution.

Example:
https://ci.opensearch.org/ci/dbc/bundle-build-dashboards/1.2.4/512/linux/x64/builds/plugins/alertingDashboards-1.2.0.zip

[2022-02-20 02:32] peterzhuamazon commented on #1548
20220219: RPM core extracted + install zips + rpmbuild to repack with all the requirements:

<details>
<summary> Installation + Verification Logs </summary>

[code]

</details>

[2022-02-20 06:52] tianleh commented on #1654
Create a test repo under my Github account to try out a TS Lambda function

https://github.com/tianleh/cdk-examples/commits/main

[2022-02-20 06:54] tianleh commented on #1654
After adding the existing infra's Lambda logic https://github.com/tianleh/cdk-examples/commit/2bc242c6d2fe8f3462a7ec8e115be386141b3124, the cdk deployment is failing.

[code]

[2022-02-20 07:08] tianleh commented on #1654
After removing unused imports https://github.com/tianleh/cdk-examples/commit/3ab3acf244caddcd35a6e2bc8e4773ea12a6e5a7 , cdk deployment is working again.

[2022-02-20 07:42] tianleh commented on #1654
Next try to make unit test work.

[2022-02-20 07:44] tianleh commented on #1654
[code]

[2022-02-20 08:00] tianleh commented on #1654
Fixed above with https://github.com/tianleh/cdk-examples/commit/c323e06d7cbaa63cbb2b9427b0872d24c9df9560

https://stackoverflow.com/questions/67691087/typeerror-jest-a-transform-must-export-something

[2022-02-20 08:02] tianleh commented on #1654
[code]

[2022-02-20 08:03] tianleh commented on #1654
This is the same error in my other experiment https://github.com/opensearch-project/opensearch-build/issues/1654#issuecomment-1044135834

[2022-02-20 08:17] tianleh commented on #1654
[code]

[2022-02-20 09:04] tianleh commented on #1654
https://dashbird.io/blog/test-javascript-lambda-functions/

[2022-02-20 11:12] tianleh commented on #1654
Starting from scratch is easier and cleaner than migrating the existing code base. Still experimenting applying the TS knowledge from above to the infra's code base.

[2022-02-20 22:02] tianleh commented on #1654
See this error. Research a bit https://stackoverflow.com/a/59385041

<img width="1866" alt="Screen Shot 2022-02-20 at 2 01 29 PM" src="https://user-images.githubusercontent.com/60111637/154866224-d6572420-cb43-42e7-b0a8-891fb491fc6b.png">

[2022-02-20 23:12] peterzhuamazon commented on #1544
20220220:
* https://github.com/opensearch-project/opensearch-build/pull/1659

[2022-02-20 23:33] tianleh commented on #1654
Fixed the error above by using the exact version package versions.

[2022-02-20 23:33] tianleh commented on #1654
[code]

[2022-02-21 20:19] tianleh opened #1661 "[Bug]: ci.sh fails for manifests/1.3.0/opensearch-1.3.0.yml"
### Describe the bug

Run `./ci.sh manifests/1.3.0/opensearch-1.3.0.yml --snapshot`

Got this error which is failing the PR check.

[code]

### To reproduce

Check the current main branch (e.g till https://github.com/opensearch-project/opensearch-build/commit/947bc5db651dd716a32dab953ebb85562f935bd7) and run `./ci.sh manifests/1.3.0/opensearch-1.3.0.yml --snapshot`

### Expected behavior

_No resp

[2022-02-21 20:47] gaiksaya commented on #1661
Looks like issue with alerting plugin:
[code]

[2022-02-21 20:50] gaiksaya commented on #1661
Can someone from @opensearch-project/alerting-plugin take a took?
Thanks!

[2022-02-21 21:44] zelinh opened #1662 "[Distribution-build-opensearch Breaks] Error building alerting components"
Currently our distribution-build-opensearch is broken.
Here is the context of error.

[code]

### To reproduce
Run `./build.sh manifests/1.3.0/opensearch-1.3.0.yml --component alerting --snapshot` in the root of this build repo inside the CI container.

[2022-02-22 00:32] qreshi commented on #1662
I was able to reproduce this with `./build.sh manifests/1.3.0/opensearch-1.3.0.yml` from `opensearch-build` but I also tracked down the problematic call to the [./gradlew assemble](https://github.com/opensearch-project/alerting/blob/main/scripts/build.sh#L64) call in Alerting's `scripts/build.sh`

The call with the arguments all filled out is the following:
[code]

Strangely enough, when you remov

[2022-02-22 00:40] zelinh commented on #1661
Issue with alerting is tracking here #1662

[2022-02-22 01:04] tianleh commented on #1662
@qreshi I just tried removing alerting from `manifests/1.3.0/opensearch-1.3.0.yml` and re-run `./ci.sh manifests/1.3.0/opensearch-1.3.0.yml --snapshot` which now succeeds.

If the issue of alerting cannot be fixed soon, could we for now remove alerting from `manifests/1.3.0/opensearch-1.3.0.yml` (and the test manifest)? This can unblock others who are updating other manifest files. The PR checks a

[2022-02-22 01:08] qreshi commented on #1662
@tianleh Yeah you can remove it for now if it's blocking anything. Although, doesn't Alerting publish the Notification subproject locally before moving on to Index Management? I tried removing Alerting from the manifest locally and when I re-ran `./build.sh manifests/1.3.0/opensearch-1.3.0.yml`, it failed on Index Management.

[2022-02-22 01:12] qreshi commented on #1662
Also, I'm not really a gradle expert but looking up the gradle code, I saw [this](https://github.com/gradle/gradle/blob/5ec3f672ed600a86280be490395d70b7bc634862/subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/repositories/DefaultRepositoryContentDescriptor.java#L62-L68) was where that error message was being generated from.

We actually have a reference to the rep