[2022-10-04 12:38] nhtruong commented on #2568
We also encounter this issue in [OS Javascript repo's workflow](https://github.com/opensearch-project/opensearch-js/issues/268). One of our workflow runs a matrix of 24 configurations, and often one or two of those configurations will encounter this issue.

Those "Killing process" messages came from [opensearch-build ](https://github.com/opensearch-project/opensearch-build/blob/4597d77956a8d70905e

[2022-10-04 14:15] dblock commented on #2568
The workaround in https://github.com/opensearch-project/opensearch-js/pull/304 is not pretty, but it seems to work.

[2022-10-04 17:27] peterzhuamazon commented on #1267
cc: @bbarani

[2022-10-04 18:18] bbarani opened #2689 "Automated mechanism to bump library versions across all repos under OpenSearch project"
### Is your feature request related to a problem? Please describe

We are seeing CVE's and vulnerabilities across multiple repos under OpenSearch project that require frequent upgrading the versions of the impacted libraries (in appropriate files) . This is currently a tedious process that involves scanning all repositories manually for impacted libraries.

### Describe the solution you'd like

Au

[2022-10-04 18:59] prudhvigodithi commented on #2689
My thoughts

- This can be implemented with custom gradle plugin/task that can take an input of impacted libraries and version to update them.
- Now this custom gradle plugin/task can be part of every plugin `build.gradle` file.
- Using GH workflow (similar to existing [version-increment](https://github.com/opensearch-project/opensearch-build/blob/main/.github/workflows/increment-plugin-versions.y

[2022-10-04 19:01] #2632 closed

[2022-10-04 19:11] harshavamsi opened #2690 "[RELEASE] Release 2.1.0 version of opensearch-js client with Sigv4 support"
### Is your feature request related to a problem? Please describe

We released [Sigv4 support](https://github.com/opensearch-project/opensearch-js/pull/279) for the opensearch-js client and would like to release it for people to use.

### Describe the solution you'd like

Release version `2.1.0` and publish to npm.

Release checklist -- https://github.com/opensearch-project/opensearch-js/issues/30

[2022-10-04 20:45] ps48 commented on #2689
@prudhvigodithi This looks like a clean initial approach for all OpenSearch plugins. But, we'll need a similar approach for OpenSearch dashboard plugins. Instead of gradle there, we can have node/yarn scripts or use [npm-check-updates](https://www.npmjs.com/package/npm-check-updates)

[2022-10-04 20:52] ZilongX commented on #2689
It would be awesome if we can have this automated feature built into our current infra (even partially would save us a bunch of efforts).

Some thoughts / wonderings :
* Where do we retrieve the to-be-fixed CVE list ? From Github or directly from https://nvd.nist.gov/vuln ?
* We'll need to distinguish packages for some major dependencies, for example Node.js, Angular.js which would still need mass

[2022-10-04 20:53] ZilongX commented on #2689
And agreed with @ps48, we might need different approaches for OpenSeach v.s. OpenSearch Dashboards

[2022-10-04 20:54] peterzhuamazon commented on #2656
Talked with @reta and he will use references from data prepper and opensearch java to create a jenkinsfile, which includes calling existing libs to publish snapshots and maven central.

Infra will setup the webhook and token for the official releases to be happened through creation of tags.

Thanks.

[2022-10-04 20:54] ZilongX commented on #2689
Not sure if https://docs.github.com/en/code-security/dependabot/dependabot-security-updates/configuring-dependabot-security-updates this dependabot offered by github would help in some way as well.

[2022-10-04 21:42] justinborromeo commented on #1692
I'm still seeing this error when I run `./build.sh manifests/1.3.5/opensearch-1.3.5.yml --component security`.

Also, `find . -name "*plugin-descriptor*"` doesn't return anything when run from `~/.gradle/daemon`.  Did the location of this file change?

[2022-10-04 21:55] Yury-Fridlyand opened #2692 "Release SQL JDBC driver"
### Is your feature request related to a problem? Please describe

JDBC driver was never released on Maven. The one published on [artifacts page](https://opensearch.org/artifacts) is a bit old already and should be updated.

### Describe the solution you'd like

Publish most recent JDBC driver on Maven and on artifacts page.
Driver build is available as GHA artifact: https://github.com/opensearch-

[2022-10-04 22:05] dlvenable commented on #2608
We are going to push this release back to Monday Oct 10, 2022.

[2022-10-04 22:06] gaiksaya commented on #2689
I believe depandabot is already doing what is asked for here. Is there other than that, that we are trying to achieve?

[2022-10-04 22:06] dlvenable commented on #2608
With support for #2632 we will set:

`RELEASE_MAJOR_TAG`: `true`
`RELEASE_LATEST_TAG`: `true`

[2022-10-04 22:51] bbarani commented on #2689
@gaiksaya I dont think depandabot works as expected all the time. I haven't seen it creating automated PR's for affected libraries in multiple repos.

[2022-10-05 00:01] #1761 closed

[2022-10-05 01:06] zelinh commented on #2650
###  Release testing
**10/04/2022**
We have new Artifacts built and ready for testing.

---

#### [OpenSearch docker](https://hub.docker.com/r/opensearchstaging/opensearch/tags?page=1&name=1.3.6.6118)

**Start without security**
Docker command `docker pull opensearchstaging/opensearch:1.3.6.6118 && docker run -it -d -p 9200:9200 -e "discovery.type=single-node" -e "DISABLE_SECURITY_PLUGIN=true" ope

[2022-10-05 12:14] davidlago commented on #2689
Thanks for bringing this up. I agree with @gaiksaya that this is in theory what dependabot should be doing for us, so perhaps worth looking into why it's failing in some cases rather than building something else on the side?

[2022-10-05 17:55] prudhvigodithi commented on #2689
I see this way, there are chances sometimes we have to bump a library version that might not be identified as CVE (CVE sources are vast) by dependent bot, its worth to have a mechanism that can be done across for all plugins consistently.

Another scenario I see is https://github.com/opensearch-project/OpenSearch/pull/4556, jackson and snakeyml dependencies are updated in core, in order for the pl

[2022-10-05 20:39] bbarani commented on #2629
Thanks @peternied. I am currently planning to use it for 2.4.0 release issue - [[RELEASE] Release version 2.4.0 ](https://github.com/opensearch-project/opensearch-build/issues/2649)

[2022-10-05 21:22] bbarani commented on #1358
Closing this issue as redundant issue of https://github.com/opensearch-project/opensearch-build/issues/2524

[2022-10-05 21:22] #1358 closed

[2022-10-05 21:23] bbarani commented on #1359
Closing this in favor of https://github.com/opensearch-project/opensearch-build/issues/2524

[2022-10-05 21:24] owaiskazi19 commented on #2689
Dependabot doesn't scan dependencies present in `version.properties`.  https://github.com/opensearch-project/OpenSearch/issues/3782. It only inspects dependencies present in `build.gradle`.

[2022-10-05 21:24] bbarani commented on #1680
@tianleh Can you please prioritize this documentation effort?

[2022-10-05 21:43] #1359 closed

[2022-10-06 02:37] zelinh commented on #2650
Update 10/05/2022
We have a new release candidates for 1.3.6 OpenSearch Dashboards.

#### [OpenSearch-Dashboards docker](https://hub.docker.com/r/opensearchstaging/opensearch-dashboards/tags?page=1&name=1.3.6.4142)

**Start without security**
Docker command `docker pull opensearchstaging/opensearch-dashboards:1.3.6.4142 && docker run -it -d --network="host" -e "DISABLE_SECURITY_DASHBOARDS_PLUGIN=t

[2022-10-06 16:55] zelinh commented on #2650
Integ Test for OS:
arm64:
[code]
x64
[code]

[2022-10-06 17:14] nhtruong commented on #2568
Added an issue on the [meta repo](https://github.com/opensearch-project/project-meta/issues/62) with my findings and a couple of workarounds: https://github.com/opensearch-project/project-meta/issues/62

[2022-10-06 18:23] dblock commented on #2568
@threesquared do you have a complete set of logs from a failed to start container by any chance?

[2022-10-06 19:00] threesquared commented on #2568
@dblock we just see the same as https://github.com/opensearch-project/project-meta/issues/62 all that comes out of the container logs is:
[code]

[2022-10-06 19:40] dblock commented on #2568
@threesquared But you also have a log inside opensearch/logs inside the container. That's what I'm after.

[2022-10-06 20:07] threesquared commented on #2568
Ah ok sorry I wish I had saved the whole output when I last caught it. I will try and reproduce and upload a full log

[2022-10-06 20:10] zelinh commented on #2650
Native plugins installation validated:
[code]

[2022-10-06 20:15] prudhvigodithi commented on #2650
### Docker validation
[code]

#### OpenSearch docker
[code]

#### OpenSearch dashboard docker
[code]

[2022-10-06 20:35] mend-for-github-com[bot] opened #2701 "CVE-2022-3171 (Medium) detected in protobuf-java-3.19.3.jar"
## CVE-2022-3171 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>protobuf-java-3.19.3.jar</b></p></summary>

<p>Core Protocol Buffers library. Protocol Buffers are a way of encoding structured data in an
    efficient yet extensible format.</p>
<p>Library home pa

[2022-10-06 22:25] zelinh opened #2703 "[Retrospective] Release 1.3.6"
How to use this issue?
Please add comments to this issue, they can be small or large in scope. Honest feedback is important to improve our processes, suggestions are also welcomed but not required.

What will happen to this issue post release?
There will be a discussion(s) about how the release went and how the next release can be improved. Then this ticket will be updated with the notes of that d

[2022-10-06 22:26] wbeckler commented on #1108
Hi @gaiksaya I think you can still create a packagist account and then we can automate publishing php using that, as @shyim would add that account to our package.

[2022-10-06 23:08] peterzhuamazon commented on #2306
Temporarily resolve the issue in the install demo configuration part with ODFE method. New follow up in the new opensearch-project/security#2148 for root issue solution.

[2022-10-06 23:09] zelinh commented on #2650
<img width="539" alt="Screen Shot 2022-10-06 at 1 33 07 PM" src="https://user-images.githubusercontent.com/87548827/194434151-b122497e-64da-4b41-9424-45830e489baf.png">

Maven artifacts have been released.
https://repo1.maven.org/maven2/org/opensearch/opensearch/1.3.6/

[2022-10-07 02:56] VachaShah commented on #2689
@bbarani Dependabot works to upgrade the dependencies for multiple package ecosystems by scanning the dependency manifests. For example, in case of gradle, it scans the `build.gradle` files and upgrades dependencies.

In order to allow Dependabot to upgrade dependencies, a `dependabot.yml` config needs to be included in `.github` folder with all the paths that have a dependency manifest. See https

[2022-10-07 07:24] mohitamg opened #2705 "Adding a configurable parameter to use 50 percent heap memory for Cross cluster performance test"
### Is your feature request related to a problem? Please describe

Clusters participating in Cross-Cluster performance test use 1GB heap memory as well as the core OS perf tests.

This is fine for small hosts with less heap memory but for more powerful hosts with larger heap memory, our      recommendation to the customers is that they use 50% heap memory for testing.

This recommendation makes se

[2022-10-07 10:11] threesquared commented on #2568
So I managed to catch this again using a script like this using [dockerize](https://github.com/jwilder/dockerize) in our CI platform:

[code]

This [gist](https://gist.github.com/threesquared/ba3fe7a61b52a1fa3c8a59d2c6596b21) is the last 200 lines of the logs/performance-analyzer.log

Let me know if you need any more info from the container. No other log files in that directory and as usual only t

[2022-10-07 11:43] nhtruong commented on #2568
I've collected some logs via github workflow. Opensearch container can fail in 2 ways:
- [Open Search crashes as soon as the container is created](https://github.com/nhtruong/opensearch-js/actions/runs/3200722438/jobs/5227963851#step:5:8) but the container still appears to be running and the docker logs only shows the 2 "Killing Process" lines mentioned above.
- [The Container crashes after some t

[2022-10-07 11:56] dblock opened #2706 "Automation version increments make PRs that don't pass CI"
### Is your feature request related to a problem? Please describe

Coming from https://github.com/opensearch-project/common-utils/pull/268, the PR didn't pass CI because there hasn't been a 1.3.7-SNAPSHOT build of OpenSearch core yet.

### Describe the solution you'd like

A few ideas of how we can fix it:

1. Introduce dependencies in PRs, ie. first make a PR for core, manifest add, then common-u

[2022-10-07 17:28] krisfreedain opened #2707 "Proposal: Hyperlink directly to version download in release notes"
### Is your feature request related to a problem? Please describe

When a new release goes out, the download page for that specific version has a direct link over to the release notes. It may be beneficial to also include a direct link to the version download from the release notes.

### Describe the solution you'd like

example using the 1.3.6 release notes:

## Release Details

[OpenSearch and O

[2022-10-07 17:31] nhtruong commented on #2568
@dblock There 2 ways the runs could fail, one of it produces almost no logs, and just
[code]
Where did you see `[2022-10-06T22:08:58,320][INFO ][o.o.s.c.ConfigurationRepository] [5fb0eef93fa0] Node '5fb0eef93fa0'` in that [run](https://github.com/nhtruong/opensearch-js/actions/runs/3200722438/jobs/5227963851#step:5:8)?

In the makefile I used to recreate these fail runs, I actually used [45 second

[2022-10-07 18:32] dblock commented on #2568
I was comparing the other two runs that had more logs. This one puzzles me.

My running theory rn is that we start the container, do something that fails (run a test), don't properly report it or fail to see it, visibly shutdown the container (e.g. job killed in GHA), which causes the container to kill the process because it has received a termination signal itself.

[2022-10-07 20:21] peterzhuamazon commented on #2681
Talked to @junqiu-lei in the office hour and he would make changes to the dockerfile as well as other things.
We will come back to this once he is ready and we will setup the universal build for them.

Thanks.

[2022-10-07 20:43] tianleh opened #2708 "[Bug]: `latest` 3.0.0 OSD failed to run due to "Unknown configuration key(s)" from opensearch_security"
### Describe the bug

From the CI of FTR https://github.com/opensearch-project/opensearch-dashboards-functional-test/actions/runs/3204452803/jobs/5235756954, we notice that `latest` 3.0.0 OSD failed to start due to

[code]

This is the `latest` url https://ci.opensearch.org/ci/dbc/distribution-build-opensearch-dashboards/3.0.0/latest/linux/x64/tar/dist/opensearch-dashboards/opensearch-dashboards-3

[2022-10-07 21:03] cliu123 commented on #2708
@tianleh Could you make sure security-dashboards-plugin has been installed in OpenSearch-Dashboards?

[2022-10-07 21:14] tianleh commented on #2708
The artifact is not manually setup. It is from the infra's Jenkins build.

Looks like security plugin is not in the manifest https://github.com/opensearch-project/opensearch-build/blob/main/manifests/3.0.0/opensearch-dashboards-3.0.0.yml But it has been added in the opensearch yml https://github.com/opensearch-project/opensearch-build/blob/main/manifests/3.0.0/opensearch-3.0.0.yml#L44

I think sec

[2022-10-07 21:19] peternied commented on #2708
This PR will resolve https://github.com/opensearch-project/opensearch-build/pull/2698

[2022-10-07 22:15] nhtruong commented on #2568
The workflow I ran did not do any tests. It marked a run as failed if the container was unhealthy, and collected a bunch of logs. So, the only interactions OpenSearch had were from the curl command that runs every 5 seconds for health check. And the first healthcheck happens 20 seconds after the container's been booted up.

I don't think there was anything from outside of the container that sent t

[2022-10-07 22:24] peterzhuamazon commented on #2306
Since nvm is acting a bit different on Windows compares to other NIX* platform, requires specific changes in build script as well as packer to support dynamic nodejs switch.

[code]

[2022-10-07 23:44] junqiu-lei commented on #2681
Thanks team, just sent out the PR to make changes to the dockerfile.

https://github.com/opensearch-project/maps/pull/29

[2022-10-08 02:35] rishabh6788 commented on #2708
Latest build job succeeded for 3.0.0 https://build.ci.opensearch.org/job/distribution-build-opensearch-dashboards/4148/

[2022-10-08 02:35] #2708 closed

[2022-10-08 23:34] tianleh commented on #2708
Successfully run latest OSD 3.0.0 https://github.com/opensearch-project/opensearch-dashboards-functional-test/actions/runs/3208786242/jobs/5244953549

`latest` resolves --2022-10-08 02:20:58--  https://ci.opensearch.org/ci/dbc/distribution-build-opensearch-dashboards/3.0.0/4148/linux/x64/tar/dist/opensearch-dashboards/opensearch-dashboards-3.0.0-linux-x64.tar.gz

[2022-10-10 09:40] rursprung commented on #99
i've done the first and third step in the PRs https://github.com/opensearch-project/OpenSearch/pull/4722 and https://github.com/opensearch-project/OpenSearch/pull/4723 (the latter isn't actually relevant for this topic here, just a cleanup).

where exactly should the file go? directly as `/script/build.sh` or in another location? then i'd just copy it over from the current `main` branch of this re

[2022-10-10 17:34] bbarani opened #2712 "Validate the artifact(s) download URL's"
Automate the validation of download Url's for OpenSearch and Opensearch-Dashboards during Opensearch releases.

-Verifies if the Tar, Rpm and Yum distributions can be downloaded from the Opensearch website.

[2022-10-10 19:35] dlvenable commented on #2608
`VERSION` : `2.0.0`
`DATA_PREPPER_BUILD_NUMBER`: `26`

[2022-10-10 19:35] dlvenable commented on #2608
Data Prepper build: https://github.com/opensearch-project/data-prepper/actions/runs/3221121185

[2022-10-10 19:53] gaiksaya commented on #2608
Data Prepper is released.
Maven: https://aws.oss.sonatype.org/content/repositories/releases/org/opensearch/dataprepper/data-prepper-api/2.0.0/
Linux: https://artifacts.opensearch.org/data-prepper/2.0.0/opensearch-data-prepper-jdk-2.0.0-linux-x64.tar.gz
Dockerhub: https://hub.docker.com/r/opensearchproject/data-prepper/tags?page=1&name=2.0.0

[2022-10-10 19:53] #2608 closed

[2022-10-10 20:10] jordarlu opened #2713 "[Bug]: missing test job for release-notes-check"
### Describe the bug

As part of the effort on META #1468 , we are adding missing test job for jenkinsfile(s).

Particularly, this issue is created to address missing test job for [release-notes-check.jenkinsfile [https://github.com/opensearch-project/opensearch-build/tree/main/jenkins/release-notes-check] ](https://github.com/opensearch-project/opensearch-build/blob/main/jenkins/release-notes-che

[2022-10-10 20:20] jordarlu commented on #1468
Hi, Adding #2713 and #2714 to address test job for release-notes-check jenkinsfile. Thanks.

[2022-10-10 23:07] bbarani opened #2716 "Ignore plugin failure for OpenSearch snapshot artifact(s)"
### Is your feature request related to a problem? Please describe

Currently the OpenSearch distribution job generates both -min, snapshot artifacts for components and distribution bundle for OpenSearch. The job fails completely and doesn't upload the -min distribution, snapshot artifacts as well when there is an issue with plugin build.

### Describe the solution you'd like

Upload -min distribut

[2022-10-10 23:29] peterzhuamazon commented on #2681
I have provided the jenkinsfile PR and some tweaks for maps server to trigger a build + push to docker with tags.

[2022-10-11 16:35] dblock commented on #2716
I believe the original problem is about the availability of the -SNAPSHOT builds in Maven, more than -min. The -SNAPSHOT build of each component, including OpenSearch, should be uploaded after each component is built and not after all components are built. Other than OpenSearch we have common-utils, job-scheduler, etc., that all publish SNAPSHOTs to maven.

[2022-10-11 16:58] dblock commented on #99
Yes.

They can stay here until there's a build.sh in all active branches of OpenSearch. We should backport build.sh all over the place, and then delete here.

[2022-10-11 17:15] rursprung commented on #99
is there a full list of those? my presumption would be that it's the following:
* `main`
* `2.x`
* `1.x`

and maybe also the following?
* `2.3`
* `2.2`
* `2.1`
* `2.0`
* `1.3`

though with pure semver i don't see why they'd still be maintained (or why they exist as branches at all), as e.g. (random example) 2.4.0 with a bugfix would be a perfectly valid upgrade path for a user on 2.1.0, so no 2.1.

[2022-10-11 17:44] dblock commented on #99
@rursprung That list is here: https://github.com/opensearch-project/opensearch-build/blob/main/jenkins/check-for-build.jenkinsfile#L17

Yes. No other changes needed. The logic is documented in https://github.com/opensearch-project/opensearch-build/tree/main/src/build_workflow#custom-build-scripts and implemented in https://github.com/opensearch-project/opensearch-build/blob/main/src/paths/script_f

[2022-10-11 17:45] dblock commented on #99
@peterzhuamazon Am I correct for the list of active branches? I don't see 1.3.x being built in that list, but I know we just released 1.3.6. Do you typically add that on demand? Should @rursprung backport build.sh changes to 1.x and 1.3 in opensearch?

[2022-10-11 18:04] bbarani commented on #2716
@dblock We are looking in to this [issue](https://github.com/opensearch-project/opensearch-build/issues/441) to solve the dependencies between different components so we can fail the dependent components once the parent plugin fails and upload other components to maven.

[2022-10-11 19:07] zelinh commented on #2706
I think currently the version increment workflow is already running in cron job. https://github.com/opensearch-project/opensearch-build/blob/7a4f4dcebe1e77dd0fe8d9dbd0f80ec4b562d281/.github/workflows/increment-plugin-versions.yml#L6
What we could do for second option is, when there are no changes, we could run commands like `git commit --amend --no-edit` and then force push to trigger the CI, whic

[2022-10-11 19:46] prudhvigodithi commented on #441
We can have the build process to look for dependency logic (`depends_on`), something like as follows

Manifest: opensearch-2.4.0.yml
[code]

With `depends_on` logic, the build process should 1st build the `depends_on` component, example from above case it should start with `OpenSearch` and proceed to `common-utils`, if in any case if `OpenSearch` fails it shouldn't even build `common-utils` and di

[2022-10-11 20:51] dblock commented on #441
You could also assume that everything depends on whatever is above to start, without introducing `depends_on`. So incrementing from 1.3.5 to 1.3.6 you would iterate through that list and make draft PRs and turn them into non-draft PRs 1-by-1 in order when the previous one goes green.

[2022-10-11 21:28] dblock commented on #2568
See https://github.com/opensearch-project/opensearch-js/pull/304 for a retry implementation. I propose we leave this open until we can get to the bottom of the issue, maybe someone will be more successful?

[2022-10-11 22:34] jordarlu opened #2722 "[Bug]: missing test job for whitesource-scan"
### Describe the bug

As part of the effort on META https://github.com/opensearch-project/opensearch-build/issues/1468 , we are adding missing test job for jenkinsfile(s).

Particularly, this issue is created to address missing test job for [whitesource-scan.jenkinsfile](https://github.com/opensearch-project/opensearch-build/blob/main/jenkins/vulnerability-scan/whitesource-scan.jenkinsfile)

### T

[2022-10-11 22:43] jordarlu commented on #1468
Hi, Adding https://github.com/opensearch-project/opensearch-build/issues/2722 and https://github.com/opensearch-project/opensearch-build/pull/2723 to address test job for whitesource-scan jenkinsfile. Thanks.

[2022-10-12 00:17] gaiksaya commented on #2524
Proposal:

I believe it is better to have a validation framework (something similar to https://github.com/opensearch-project/opensearch-build/blob/main/src/sign_workflow/signer.py) with abstract methods like download, install, start_cluster, run_apis, etc.
This will allow us to have a uniform execution mechanism across different platforms like docker, rpm, tarballs, windows, macos, etc.
This frame

[2022-10-12 00:34] gaiksaya commented on #2650
Closing this issue since 1.3.6 is released. https://opensearch.org/versions/opensearch-1-3-6.html

[2022-10-12 00:34] #2650 closed

[2022-10-12 01:05] peterzhuamazon commented on #2306
Able to use volta to replace nvm as volta is linked to a fixed path for whatever version of nodejs it is switching to, easy to export on windows through env var.

[2022-10-12 01:05] peterzhuamazon commented on #2306
New OSD issue: https://github.com/opensearch-project/OpenSearch-Dashboards/issues/2554

[2022-10-12 17:23] #2701 closed

[2022-10-12 17:24] peterzhuamazon commented on #2555
@gaiksaya seems like this one is not fixed after merging #2724.

[2022-10-12 17:25] peterzhuamazon commented on #2556
Seems like this is not fixed after merging #2724.

[2022-10-12 18:24] peterzhuamazon opened #2727 "temp"
temp

[2022-10-12 18:25] #2727 closed

[2022-10-12 18:41] gaiksaya commented on #2555
Looks like this is not gradle based dependency.
[code]

I do not see any other snakeyaml dependencies directly under this repo https://github.com/opensearch-project/opensearch-build/search?q=snakeyaml

@bbarani Can we close this issue then?

[2022-10-12 18:42] gaiksaya commented on #2556
Closing this issue as the dependency has been upgraded in build.gradle. See other issue #2555

[2022-10-12 23:46] peterzhuamazon commented on #2306
Hard blocker on Dashboards as it is hardcoding to not allow any other platform but LINUX to install plugins.
* https://github.com/opensearch-project/OpenSearch-Dashboards/issues/2026

[2022-10-13 01:36] MaxKsyunz opened #2728 "Reproducible builds for plugins (and clients?)"
### Is your feature request related to a problem? Please describe

Plugin builds depend on libraries from OpenSearch core. They also use a lot of the same packages. `jackson-databind` is a good example.

Whenever core libraries bump the version of any such package, plugin builds start to fail until they bump the version as well.

It's disruptive whenever this happens.

### Describe the solution yo

[2022-10-13 14:13] lukas-vlcek commented on #2521
@prudhvigodithi Is there any way how I can help with 2.4 pack-porting?

I think all the individual plugin PRs have already been created and they are now waiting for review/merge. Once they are merged they will all need to be back-ported to `2.x` branch before `2.4` branch is created, right? The pack-port labels are also created at this point. Is there anything I can help with?

[2022-10-13 16:39] prudhvigodithi commented on #2716
Since the related PR is merged https://github.com/opensearch-project/opensearch-build/pull/2717, can we proceed to close this?

[2022-10-13 18:49] gaiksaya commented on #2706
[Triage] We will look into Option(2)

[2022-10-13 18:53] prudhvigodithi commented on #2692
Hey @Yury-Fridlyand we have some [publish scripts](https://github.com/opensearch-project/opensearch-build/tree/main/publish) handy, could use them, but quick question, do you have a proper project or gradle task when executed publishes SQL JDBC driver jar to local maven repo (~/.m2) with proper maven group Id like `org.opensearch.driver`? may be if we have that task or job we can use it part of th

[2022-10-13 18:54] gaiksaya commented on #2707
[Triage] We will add them going forward.
Thanks!

[2022-10-13 18:57] Yury-Fridlyand commented on #2692
Thanks, I will have a look and make all preparations. We need to do few minor fix in the driver prior to release.
I'll ping you once everything will be ready.

[2022-10-13 19:16] gaiksaya commented on #2728
[Triage] Hi @MaxKsyunz ,

Can you please elaborate more on what do you mean by "reproducible"? Also what is expected to happen more precisely?

[2022-10-13 22:05] MaxKsyunz commented on #2692
@prudhvigodithi yes there's a `publishToMavenLocal` task in jdbc driver.

One quirk with JDBC driver is that it can build two jars -- normal one, and one with all dependencies shadow copied. The second one is what can be used right now by just dropping the jar in the classpath. We want to publish the first one.

[2022-10-14 00:37] prudhvigodithi commented on #2521
Hey @lukas-vlcek Just noticed this error with [notifications-core](https://github.com/opensearch-project/notifications/pull/549#issuecomment-1278186297) when executing `./gradlew publishToMavenLocal `  (coming from [build script](https://github.com/opensearch-project/opensearch-build/blob/main/scripts/components/notifications-core/build.sh#L73))
I have raised the [PR](https://github.com/opensearch

[2022-10-14 01:34] MaxKsyunz commented on #2728
Reproducible builds mean that two builds of the same source will generate the same binary. [There's](https://reproducible-builds.org/) a site with more info. The main goal is greater security but it also improves developer experience as well.

Here's a simplified of example how this affects development.

`opensearch-sql` plugin uses `jackson-core` and `opensearch-rest-high-level-client` which also

[2022-10-14 04:18] jmazanec15 opened #2736 "[On-boarding]: Neural Search plugin"
### What is the name of your plugin?

neural-search

### What is the link to your GitHub repo?

https://github.com/opensearch-project/neural-search

### Targeted release version

2.4

### What type of the plugin are we on-boarding?

OpenSearch

### Does this plugin has all the necessary automated tests?

Integration tests: yes

BWC: Will be added after initial release.

### Have you completed the

[2022-10-14 17:59] peterzhuamazon commented on #2736
Invited bot to this repo for automation.

[2022-10-14 18:08] peterzhuamazon commented on #2649
Related Issues:

* Placeholder

[2022-10-14 18:08] peterzhuamazon commented on #2649
Related PRs:
* https://github.com/opensearch-project/opensearch-build/pull/2738

[2022-10-14 18:09] peterzhuamazon commented on #2649
IntegTest Results:
* Placeholder

[2022-10-14 18:09] peterzhuamazon commented on #2649
Release Notes Status:
* Placeholder

[2022-10-14 18:09] peterzhuamazon commented on #2649
Performance Test:
* Placeholder

[2022-10-14 18:10] peterzhuamazon commented on #2649
Launch Verification:
* Placeholder

[2022-10-14 19:14] lukas-vlcek commented on #2521
Please see my comment here: https://github.com/opensearch-project/notifications/pull/554#issuecomment-1279367613

[2022-10-15 00:01] amsiglan opened #2740 "[On-boarding]: Security Analytics Dashboards plugin"
### What is the name of your plugin?

security-analytics-dashboards-plugin

### What is the link to your GitHub repo?

https://github.com/opensearch-project/security-analytics-dashboards-plugin

### Targeted release version

2.4.0

### What type of the plugin are we on-boarding?

OpenSearch-dashboards plugin

### Does this plugin has all the necessary automated tests?

Not yet, in progress

### Ha

[2022-10-15 00:27] github-actions[bot] opened #2742 "[RELEASE] Release version 1.3.7"
## Release OpenSearch and OpenSearch Dashboards 1.3.7

I noticed that a manifest was automatically created in [manifests/1.3.7](/opensearch-project/opensearch-build/tree/main/manifests/1.3.7). Please follow the following checklist to make a release.

<details><summary>How to use this issue</summary>
<p>

## This Release Issue

This issue captures the state of the OpenSearch release, its assignee i

[2022-10-15 01:05] tianleh opened #2743 "[Bug]: 9200 is accessible without credentials in `latest` bundle OpenSearch 3.0.0"
### Describe the bug

After downloading `latest` OS 3.0.0, https://ci.opensearch.org/ci/dbc/distribution-build-opensearch/3.0.0/latest/linux/x64/tar/dist/opensearch/opensearch-3.0.0-linux-x64.tar.gz

(which redirects  https://ci.opensearch.org/ci/dbc/distribution-build-opensearch/3.0.0/6181/linux/x64/tar/dist/opensearch/opensearch-3.0.0-linux-x64.tar.gz)

After starting OS `./opensearch-tar-instal

[2022-10-17 17:23] anirudha commented on #33
do we have a Dashboards artifact for windows to test ?

[2022-10-17 17:55] peterzhuamazon commented on #2743
Because security is not available now on 3.0.0.
@cwperks ^^

Thanks.

[2022-10-17 18:04] harshavamsi commented on #2690
Hi @gaiksaya thanks for the effort on automating this! We are good to do whenever you have bandwidth. How about 10/19/2022?

[2022-10-17 18:58] bbarani commented on #2716
Closing this issue and the enhancement to skip plugin failures will be tracked in https://github.com/opensearch-project/opensearch-build/issues/441.

[2022-10-17 18:58] #2716 closed

[2022-10-17 18:59] bbarani commented on #2707
@peterzhuamazon Do you want to add it to the release checklist before closing this issue?

[2022-10-17 18:59] #2703 closed

[2022-10-17 19:00] peterzhuamazon commented on #2707
Will do.

[2022-10-17 19:04] bbarani commented on #2740
@amsiglan, do we need to on-board security-analytics backend [repo](https://github.com/opensearch-project/security-analytics) as well? Please make sure to add the necessary parent plugins that needs to be on-boarded as part of this plugin.

[2022-10-17 19:32] peternied opened #2748 "[Feature] Make it easy to create/consume massive changes without breaking major version"
### Is your feature request related to a problem? Please describe

Recently OpenSearch took a new version of apache http client, this has disrupted many plugins including the security plugin and has caused those plugins `main` builds to stop working.  This is blocks the standard practice of making commits to main, then going to the next minor/next patch release.

### Describe the solution you'd li

[2022-10-17 19:32] peternied opened #2749 "[Feature] Make it easy to create/consume massive changes without breaking major version"

[2022-10-17 19:39] saratvemulapalli commented on #2748
Thanks @peternied for opening this up. I'll move this to opensearch-plugins.

[2022-10-17 19:43] saratvemulapalli commented on #2749
Just had a chat with @peternied. Looks like the question mostly is around the feature of supporting feature branches for the build.

[2022-10-17 21:29] peternied commented on #2749
Our main branches are pointing to 3.0.0 , so we default to accept work on main and then backport it to 2.x  , etc...

True, but the change is so disruptive that we are still working on handling it with no firm ETA.

---

I think this kind of break is a classic case for a mono-repo, its easy to measure impact of a change if you can see all of it at once before merging.

In distributed environments

[2022-10-17 21:51] seanneumann commented on #2649
Note: OpenSearch Dashboards 2.4 release manager is @AMoo-Miki

Unclear if I should update this issue in addition to the OSD issue.

[2022-10-18 01:47] gaiksaya opened #2751 "Groovy tests are failing on ubuntu latest image version:20221002.2"
The groovy tests in this repository are passing locally and randomly failing on the CI runners on Github.

Some observations are as below:
[code]

There are various differences in the software packages present on both images which can be viewed [here](https://github.com/actions/runner-images/blob/f69924b19b38bbc6ed61c8a731b5399218efd752/images/linux/Ubuntu2004-Readme.md) for passing version and [h

[2022-10-18 01:47] gaiksaya commented on #2751
Filed a bug with GHA https://github.com/actions/runner-images/issues/6422

[2022-10-18 15:08] peternied opened #2754 "[Bug]: How can we download the OpenSearch min artifacts for windows"
### Describe the bug

_Note; this the windows platform specific security demo script_ https://github.com/opensearch-project/security/pull/2161

We are trying to setup builds and validation of OpenSearch for the Security Plugin, `./gradlew.bat build` functions on a windows machine, but need the minimum artifact, just like how they are obtained for linux with

[code]

I assume there would be a patte

[2022-10-18 17:03] prudhvigodithi commented on #2521
Hey @lukas-vlcek when you get a chance can you please do Documentation Update for your changes?
https://github.com/opensearch-project/opensearch-plugins/blob/main/BUILDING.md#opensearchpluginzip

[2022-10-18 17:08] gaiksaya commented on #2690
Hey @harshavamsi,

This would be very short notice. Can we so it sometime next week or does this need to be asap (that will be manual)?
cc: @zelinh

[2022-10-18 17:23] bbarani commented on #2743
@peterzhuamazon will build 3.0 once this [PR](https://github.com/opensearch-project/security/pull/2166) is merged.

[2022-10-18 17:57] dblock opened #2755 "[Bug]: CI broken, jacocoTestReport"
### Describe the bug

CI has been broken for a while on `jacocoTestReport`.

[code]

### To reproduce

[code]

This is because we're importing multiple versions of `jenkins/BuildManifest#Components`.

If I get rid of vars/* I see this:

[code]

### Expected behavior

CI to pass

### Screenshots

If applicable, add screenshots to help explain your problem.

### Host / Environment

_No response_

##

[2022-10-18 18:39] gaiksaya commented on #2755
1. The groovy tests are in build lib, these are the regression tests that are running in this repo.
2. 2. Tried getting rid of `@anything` but jenkins does not work that way. I tried sourcing it directly from `src` repo to avoid `@` but looks like it will look for root src while running the lib code.
Error which I faced:
[code]
The current approach that I am trying it using the using same version

[2022-10-18 18:41] dblock commented on #2755
Using same `@version` everywhere is the right fix.

[2022-10-18 19:12] cliu123 commented on #2749
@bbarani @peternied Is it possible to have a build including OpenSearch core and all plugins for every PR of OpenSearch core before merging to surface up the potential failures in plugins earlier? Breaking changes really hold off plugins and make development on main impossible, and this could happen more frequently as more plugins start building 3.0.
Cc: @dblock @nknize

[2022-10-18 19:12] cliu123 commented on #2749
@opensearch-project/engineering-effectiveness  Is it possible to have a build including OpenSearch core and all plugins for every PR of OpenSearch core before merging to surface up the potential failures in plugins earlier? Breaking changes really hold off plugins and make development on main impossible, and this could happen more frequently as more plugins start building 3.0.
Cc: @dblock @nknize

[2022-10-18 19:19] bbarani commented on #2754
@peterzhuamazon has added the links to the -min artifacts [here](https://github.com/opensearch-project/opensearch-build/issues/33#issuecomment-1240033380)

[2022-10-18 19:33] reta commented on #2749
@cliu123 @saratvemulapalli @peternied I believe we should think beyond just core plugins but the ecosystem as a whole. By releasing milestones (3.0.0-M1, 3.0.0-M2, ... ) we allow not only core plugins to catch up with the changes (depending on SNAPSHOT is always unstable), but allow external plugin authors to gradually prepate for what is coming. With these regards, we should not only rely on the

[2022-10-18 19:59] tianleh commented on #2743
Fixed in latest.

[code]

[code]

[2022-10-18 20:02] cliu123 commented on #2749
Thanks for pointing that out! Yes, by plugins, I was referring to all OpenSearch plugins(core + external), not any particular ones. Is there a way to have a build bundling core + all plugins on each OpenSearch core PR before merging?

[2022-10-18 20:16] bbarani commented on #2564
@randytan Do you have any updates?

[2022-10-18 20:18] bbarani commented on #2181
Closing this issue as we dont have plans to separate OpenSearch and OpenSearch dashboard releases at this point in time. Feel free to re-open if needed.

[2022-10-18 20:18] #2181 closed

[2022-10-18 20:21] bbarani commented on #2136
@rishabh6788 are we tracking it via current monitoring and alarms?

[2022-10-18 20:23] bbarani commented on #2068
@rursprung thanks for your inputs. @elfisher @CEHENKLE @dblock @setiah Please provide your inputs as well to proceed further.

[2022-10-18 20:24] bbarani commented on #1906
@tianleh Can you please provide an update?

[2022-10-18 20:26] bbarani commented on #1831
We are moving away from internal communication to creating issues directly on GitHub hence closing this issue. Feel free to re-open if needed.

[2022-10-18 20:26] #1831 closed

[2022-10-18 20:27] bbarani commented on #1824
@wolfgangfengel @jsuchome @kkaempf @deadpoint  Can you provide any pointers?

[2022-10-18 20:33] bbarani commented on #606
@kavilla @tianleh Is this still an open issue?

[2022-10-18 20:34] bbarani commented on #604
@tianleh Whats the status of this issue?

[2022-10-18 21:49] reta commented on #2749
That the problem :) we don't know what are those external plugins (in general, only the once people publish here https://opensearch.org/community_projects/)

[2022-10-18 22:05] peternied commented on #2754
Thanks @bbarani it looks like we can get https://artifacts.opensearch.org/snapshots/core/opensearch/2.4.0-SNAPSHOT/opensearch-min-2.4.0-SNAPSHOT-windows-x64-latest.zip can keep us unblocked.

I notice this is different than the previous urls we were using prefixed with `https://build.ci.opensearch.org/job/distribution-build-opensearch/`, should we broadly us one over the other?

[2022-10-18 22:05] peternied commented on #2754
FYI @scrawfor99 ^

[2022-10-18 22:25] #2755 closed

[2022-10-18 22:39] gaiksaya opened #2759 "Validate the OpenSearch distribution artifacts on DockerHub and ECR"
Acceptance Criteria:

DockerHub and ECR images need below validations:
* Pull the image
* Validate docker digest/SHA/layers
* Use docker-compose to bring up the cluster
* Run basic apis against the above cluster

[2022-10-18 22:39] zelinh commented on #2547
Closed this for now. We are using `gcrane` which takes care most of the efforts here.

[2022-10-18 22:39] #2547 closed

[2022-10-18 22:39] prudhvigodithi commented on #2706
Force push always without any changes is not good, instead I would suggest the following solutions.

Solution 1:  Before raising a PR check if opensearch-core (snapshot) for that specific version is already built and pushed by CI.
Solution 2: From the plugin repos CI workflows explore and use [retry-step](https://github.com/marketplace/actions/retry-step).
Solution 3: Auto merge the Raised PR's wi

[2022-10-18 22:40] peterzhuamazon commented on #2306
New Bug:
* https://github.com/opensearch-project/sql/issues/928

[2022-10-18 22:53] cliu123 commented on #2749
I see. IMO, If there would be a way to do that for some plugins, that would be better than not doing that for any plugins. 😄

[2022-10-18 23:04] gaiksaya commented on #2545
Approach 1 seems to be pretty straight forward. Explaining a bit in detail below:

Let the `artifacts.md` file be generated for each build. Similar to https://build.ci.opensearch.org/job/distribution-build-opensearch/6234/artifact/buildInfo.yml/*view*/

The `artifacts.md` file will contain all the instructions to test the artifacts generated by that build including tarballs, rpms, docker, etc.
Whe

[2022-10-18 23:16] peterzhuamazon commented on #2306
Adding OS side of the integTest to python code:
* https://github.com/opensearch-project/opensearch-build/pull/2761

[2022-10-18 23:39] peterzhuamazon commented on #2754
@peternied unblocked, link available now.
Thanks.

[2022-10-18 23:45] peterzhuamazon commented on #606
Since we already implement the --component on both build and jenkins I think this can be closed.
Thanks.

[2022-10-19 00:12] peternied commented on #2754
Can we please keep this open until we have an answer to this question?

[2022-10-19 00:49] harshavamsi commented on #2690
@gaiksaya We would like to release 3 clients together if possible. We would be fine if we're able to automate one and release the other two manually. If there is bandwidth to release two this week and automate the other next week, that works. Or we could do all three next week.

[2022-10-19 00:51] dlvenable opened #2762 "[RELEASE] Data Prepper 2.0.1"
### Is your feature request related to a problem? Please describe

The Data Prepper maintainers are releasing 2.0.1.

Planned release date: Oct 24, 2022

### Describe the solution you'd like

After the Data Prepper maintainers completes the staging release build, please run the promotion job. A Data Prepper maintainer will supply the `DATA_PREPPER_BUILD_NUMBER` parameter.

Parameters:

* `VERSION`

[2022-10-19 00:52] dlvenable opened #2763 "[RELEASE] Data Prepper 1.5.2"
### Is your feature request related to a problem? Please describe

The Data Prepper maintainers are releasing 1.5.2.

Planned release date: 10/27/2022

### Describe the solution you'd like

After the Data Prepper maintainers completes the staging release build, please run the promotion job. A Data Prepper maintainer will supply the `DATA_PREPPER_BUILD_NUMBER` parameter.

Parameters:

* `VERSION`:

[2022-10-19 08:37] kkaempf commented on #1824
Not sure what you're trying to achieve here @dblock , @bbarani
https://github.com/opensearch-project/opensearch-build#making-a-release is about making a release, not about packaging for specific distributions.
https://github.com/opensearch-project/project-website has generic rpm package, also not targeting specific distributions.

If you know of a site that provides pointers to Debian, Ubuntu, Fed

[2022-10-19 12:23] reta commented on #2749
Yeah, no disaligment here, we could employ both approaches (build core + plugins and milestones) at the same time

[2022-10-19 13:12] dblock commented on #2068
I am fine giving up pushing back on also publishing everything to maven - people (@rursprung really) are asking for it, so YOLO.

[2022-10-19 13:13] dblock commented on #2754
Agreed, I'll reopen.

[2022-10-19 13:17] dblock commented on #1824
@kkaempf I was thinking just a paragraph similar to https://github.com/opensearch-project/opensearch-build#releasing-for-freebsd to help with discoverability. For the downloads, we have https://github.com/opensearch-project/opensearch-build/issues/28 open for Debian, I think we need something new on the downloads page.

[2022-10-19 13:20] dblock commented on #2749
This was suggested in https://github.com/opensearch-project/OpenSearch/issues/3740.

[2022-10-19 13:36] dblock commented on #2706
Why is it bad? That's usually a rebase + force push. That's what dependabot does for example.

That's not the only dependency.

That implies the job keeps running forever, which can be days/weeks and that's not supported.

Strongly against merging anything visibly broken. There's actually no guarantee that it will work, there's a ton of code comparing versions.

[2022-10-19 13:38] dblock commented on #606
This problem is about developers, not Jenkins, see above. I don't think it should be closed.

[2022-10-19 14:04] kkaempf commented on #1824
Understood. But this paragraph is about OSses in general (Linux, BSD, Windows, ...) and not about specific Linux distributions.
It would be interesting to hear what the `opensearch-build` maintainers have to say.

Yeah, that would be nice. However, `opensearch-build` has almost 2000 issues meanwhile and the maintainers haven't closed/fixed number 28 yet. 😞

[2022-10-19 14:22] dblock commented on #1824
I did make 200+ PRs in this repo if that's what you're asking :)

Your help would be much appreciated!

[2022-10-19 14:27] kkaempf commented on #1824
I think we would be "barking up the wrong tree" :wink:

`opensearch-build` seems to be the wrong project. Imho, there should be a "RPM download" section in the [main project's documentation](https://opensearch.org/docs/latest/opensearch/install/rpm/) with links to various distribution-specific artifacts.

[2022-10-19 14:30] dblock commented on #1824
I think I agree, care to open an issue in https://github.com/opensearch-project/documentation-website @kkaempf?

[2022-10-19 14:41] kkaempf commented on #1824
[Done](https://github.com/opensearch-project/documentation-website/issues/1609) 😉

[2022-10-19 16:24] #2722 closed

[2022-10-19 16:25] jordarlu commented on #2722
PR #2760 is merged

[2022-10-19 16:46] bbarani commented on #2763
@dlvenable Please use the new [template](https://github.com/opensearch-project/opensearch-build/issues/new?assignees=&labels=release%2Cuntriaged&template=standalone_releases_template.yaml&title=%5Brelease%5D%3A+) to create the issue for releasing standalone components.

[2022-10-19 16:47] bbarani commented on #2762
@dlvenable Please use the new [template](https://github.com/opensearch-project/opensearch-build/issues/new?assignees=&labels=release%2Cuntriaged&template=standalone_releases_template.yaml&title=%5Brelease%5D%3A+) to create the issue for releasing standalone components.

[2022-10-19 16:52] dlvenable commented on #2762
Thanks for pointing this out! We will use this going forward.

[2022-10-19 17:08] #2751 closed

[2022-10-19 17:12] gaiksaya commented on #2754
Hi @peternied, the snapshots are accessible via artifacts.opensearch.org. However for other components like plugin zips, etc [https://build.ci.opensearch.org/job/](https://build.ci.opensearch.org/job/distribution-build-opensearch/) was used.
More details in README https://github.com/opensearch-project/opensearch-build/blob/main/README.md#min-snapshots

[2022-10-19 17:21] peternied commented on #2754
Thanks @gaiksaya, glad to see this is documented!  According to the documentation there are two different ways to get artifacts, Latest Distribution Url vs Min Snapshots.  Are these functionality the same, or are there considerations teams should have to use one vs the other?

[2022-10-19 17:42] gaiksaya commented on #2754
The [latest distribution url ](https://github.com/opensearch-project/opensearch-build/blob/main/README.md#latest-distribution-url) is more towards distribution artifacts like tarballs, zips, manifest where as the [Min Snapshots](https://github.com/opensearch-project/opensearch-build/blob/main/README.md#min-snapshots) only focuses on min artifact will always be latest as it gets overridden in each

[2022-10-19 18:35] peternied commented on #2754
Cool, so it seems like for our build processes we should use the latest distribution url.  It looks like the windows build isn't being published to that bucket.  Can we use this issue to track that we need to update the build process to mirror the linux builds that are being published

[2022-10-19 18:40] peterzhuamazon commented on #2306
Testing on @AMoo-Miki 2.x backport of the changes on Dashboards support.
https://github.com/AMoo-Miki/OpenSearch-Dashboards/tree/2.x-windows

[2022-10-19 19:31] gaiksaya commented on #2690
Hey @harshavamsi ,
What other clients are you planning to release? I know one of them is `opensearch-js`
Regarding opensearch-js I am trying to get the publishing lib in but would need sometime.

[2022-10-19 19:44] peterzhuamazon commented on #2306
The branch from Miki is able to build on windows.

[2022-10-19 20:30] bbarani commented on #2689
@VachaShah Apologize for delay in my response. I have noticed multiple times when Dependabot didn't work as expected mainly due to the nature of the change log. For Example: [CVE-2022-42003](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-42003) has been fixed in Jackson [2.13.4.2](https://github.com/FasterXML/jackson/wiki/Jackson-Release-2.13#micro-patches ) but its not yet updated across

[2022-10-19 21:29] peterzhuamazon commented on #2656
Released snapshot:
* https://github.com/opensearch-project/opensearch-testcontainers/pull/23
Added Daily Snapshot:
* https://github.com/opensearch-project/opensearch-testcontainers/pull/26

[2022-10-19 21:30] peterzhuamazon commented on #2656
We will do the production release at another time with another Jenkins workflow.

Current snapshot workflow:
* https://build.ci.opensearch.org/job/opensearch-testcontainers-snapshot/

[2022-10-19 21:58] dblock commented on #2656
I love this. Is there a cookbook of how to do this for any repo? Should we document this in opensearch-build for the next person?

[2022-10-19 22:40] peterzhuamazon commented on #2656
We will have a team meeting on this and hope we can have a blog as well to describe what is needed to onboard.

[2022-10-19 22:47] peterzhuamazon commented on #2754
It is already published as part of the bundle build.
The artifacts path is more of a old method before ci being introduced.

[2022-10-19 22:52] #1606 closed

[2022-10-19 23:00] peternied commented on #2754
Does that mean there is a modification to the following URL that will get the latest windows build? https://ci.opensearch.org/ci/dbc/distribution-build-opensearch/3.0.0/6234/windows/x64/zip/builds/opensearch/dist/opensearch-min-3.0.0-windows-x64.zip

Could you help me figure out what that url is?

[2022-10-19 23:10] gaiksaya commented on #2637
Putting some research details out:

NPM packages can be easily published using npm `automation tokens` specifically designed for CI/CD systems. More details: https://docs.npmjs.com/creating-and-viewing-access-tokens#creating-tokens-on-the-website
The package should allow auto publishing via tokens. [Good article read](https://dev.to/bnb/securely-automating-npm-publish-with-the-new-npm-automation-t

[2022-10-20 01:05] gaiksaya commented on #2646
We have moved to remote libs now!

[2022-10-20 01:05] #2646 closed

[2022-10-20 16:05] dblock commented on #2635
Is there any update on this? @bbarani ?

[2022-10-20 16:32] harshavamsi commented on #2635
Let's target early next week via MCM. Opened https://github.com/opensearch-project/opensearch-net/issues/113 to track.

[2022-10-20 16:35] harshavamsi commented on #2690
We would like to do [.NET](https://github.com/opensearch-project/opensearch-build/issues/2635) early next week. We would also do the ruby client pending [sigv4 implementation](https://github.com/opensearch-project/opensearch-ruby/pull/104)

[2022-10-20 17:44] kotwanikunal opened #2768 "[Bug]: Wrong timeouts and resource leaks for longevity tests"
### Describe the bug

Performance tests currently have a [timeout of 15 hrs](https://github.com/opensearch-project/opensearch-build/blob/main/jenkins/opensearch/perf-test.jenkinsfile#L9) which is not enough for longevity tests which take longer to complete, given the nature of the tests.

The tests are run using a client for opensearch-benchmarks, the server for which is outside the the boundaries

[2022-10-20 19:04] harshavamsi commented on #2635
We have [1.2.0](https://github.com/opensearch-project/opensearch-net/releases/tag/v1.2.0) tag ready to release. Tentative release date 10/26.

[2022-10-20 19:05] MaxKsyunz commented on #2692
Notes from our discussion.

Examples to follow:
- opensearch-java publishes with Jenkins like [this](https://github.com/opensearch-project/opensearch-java/blob/main/jenkins/stage-maven-release.jenkinsfile).
- opensearch-testcontainers publishes with Jenkins like [this](https://github.com/opensearch-project/opensearch-testcontainers/blob/main/jenkins/publish-snapshot.jenkinsfile).
JDBC driver will

[2022-10-20 22:40] peterzhuamazon commented on #2681
New fix PR:
* https://github.com/opensearch-project/maps/pull/32

[2022-10-20 22:46] peterzhuamazon commented on #2656
New fix:
* https://github.com/opensearch-project/opensearch-testcontainers/pull/28

[2022-10-20 22:49] bbarani commented on #2754
@peternied it should follow the below format but it looks like we don't have successful full distribution build for 3.0 yet but the below URL works for 2.3.1 at this point in time. @peterzhuamazon can you please confirm?

https://ci.opensearch.org/ci/dbc/distribution-build-opensearch/2.3.1/latest/windows/x64/zip/dist/opensearch/opensearch-2.3.1-windows-x64.zip

[2022-10-20 23:32] peterzhuamazon commented on #2681
New fix PR:
* https://github.com/opensearch-project/opensearch-build/pull/2772

[2022-10-20 23:43] peternied commented on #2754
@scrawfor99 Checkout the most recent comment [1] to see how we can get the current windows build url

[1] https://github.com/opensearch-project/opensearch-build/issues/2754#issuecomment-1286244248

[2022-10-20 23:44] peternied commented on #2754
Issue seems resolved for me, thanks for all the help tracking this down

[2022-10-20 23:44] #2754 closed

[2022-10-20 23:58] peterzhuamazon commented on #2681
We have released maps-server 1.0.0 docker images on docker hub :rocket:!

This release is fully hand free from OSEE Team.
It is triggered directly by the component owner by creating a tag in their repo:
https://github.com/opensearch-project/maps/releases/tag/maps-server-release-1.0.0

The tag creation will trigger the webhook we setup in GitHub, which then trigger the build in Jenkins:
https://bui

[2022-10-20 23:58] #2681 closed

[2022-10-21 00:10] junqiu-lei commented on #2681
Thanks team for great helps on the release!

[2022-10-21 04:05] jordarlu commented on #2713
closing this issue as #2765 has been merged.

[2022-10-21 04:05] #2713 closed

[2022-10-21 17:08] mend-for-github-com[bot] opened #2774 "CVE-2022-43409 (Medium) detected in workflow-support-838.va_3a_087b_4055b.jar - autoclosed"
## CVE-2022-43409 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>workflow-support-838.va_3a_087b_4055b.jar</b></summary>

<p>The Jenkins Plugins Parent POM Project</p>
<p>Library home page: <a href="https://github.com/jenkinsci/workflow-support-plugin">https://g

[2022-10-21 17:19] mend-for-github-com[bot] opened #2775 "CVE-2022-43402 (High) detected in workflow-cps-2.94.1.jar - autoclosed"
## CVE-2022-43402 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>workflow-cps-2.94.1.jar</b></p></summary>

<p>The Jenkins Plugins Parent POM Project</p>
<p>Path to dependency file: /build.gradle</p>
<p>Path to vulnerable library: /ches/modules-2/files-2.1/org.jen

[2022-10-21 17:19] mend-for-github-com[bot] opened #2776 "CVE-2022-43401 (High) detected in script-security-1175.v4b_d517d6db_f0.jar"
## CVE-2022-43401 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>script-security-1175.v4b_d517d6db_f0.jar</b></p></summary>

<p>Allows Jenkins administrators to control what in-process scripts can be run by less-privileged users.</p>
<p>Path to dependency file: /b

[2022-10-21 17:19] mend-for-github-com[bot] opened #2777 "CVE-2022-43406 (High) detected in workflow-cps-global-lib-2.14.jar - autoclosed"
## CVE-2022-43406 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>workflow-cps-global-lib-2.14.jar</b></p></summary>

<p>The Jenkins Plugins Parent POM Project</p>
<p>Library home page: <a href="https://wiki.jenkins.io/display/JENKINS/Pipeline+Shared+Groovy+Librari

[2022-10-21 17:19] mend-for-github-com[bot] opened #2778 "CVE-2022-43405 (High) detected in workflow-cps-global-lib-2.14.jar - autoclosed"
## CVE-2022-43405 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>workflow-cps-global-lib-2.14.jar</b></p></summary>

<p>The Jenkins Plugins Parent POM Project</p>
<p>Library home page: <a href="https://wiki.jenkins.io/display/JENKINS/Pipeline+Shared+Groovy+Librari

[2022-10-21 17:19] mend-for-github-com[bot] opened #2779 "CVE-2022-43404 (High) detected in script-security-1175.v4b_d517d6db_f0.jar"
## CVE-2022-43404 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>script-security-1175.v4b_d517d6db_f0.jar</b></p></summary>

<p>Allows Jenkins administrators to control what in-process scripts can be run by less-privileged users.</p>
<p>Path to dependency file: /b

[2022-10-21 17:19] mend-for-github-com[bot] opened #2780 "CVE-2022-43403 (High) detected in script-security-1175.v4b_d517d6db_f0.jar"
## CVE-2022-43403 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>script-security-1175.v4b_d517d6db_f0.jar</b></p></summary>

<p>Allows Jenkins administrators to control what in-process scripts can be run by less-privileged users.</p>
<p>Path to dependency file: /b

[2022-10-21 17:19] mend-for-github-com[bot] opened #2781 "CVE-2022-43407 (High) detected in pipeline-input-step-449.v77f0e8b_845c4.jar"
## CVE-2022-43407 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>pipeline-input-step-449.v77f0e8b_845c4.jar</b></p></summary>

<p>The Jenkins Plugins Parent POM Project</p>
<p>Path to dependency file: /build.gradle</p>
<p>Path to vulnerable library: /ches/modules-

[2022-10-21 18:56] andrross opened #2782 "[Bug]: gradle-check action ran for different PR"
### Describe the bug

I submitted a revision to PR [4869](https://github.com/opensearch-project/OpenSearch/pull/4869) which appeared to trigger a gradle check action [5204](https://build.ci.opensearch.org/job/gradle-check/5204/). This [reported a failure in my PR](https://github.com/opensearch-project/OpenSearch/pull/4869#issuecomment-1287264211), but that gradle check action was actually for a [d

[2022-10-21 20:33] lukas-vlcek commented on #2521
@prudhvigodithi Please see https://github.com/opensearch-project/opensearch-plugins/pull/175

[2022-10-21 21:03] macohen opened #2784 "[On-boarding]: search-relevance plugin for reranking results"
### What is the name of your plugin?

Search Query & Result Transformer (fka search-relevance)

### What is the link to your GitHub repo?

https://github.com/opensearch-project/search-processor

### Targeted release version

2.6.0

### What type of the plugin are we on-boarding?

OpenSearch

### Does this plugin has all the necessary automated tests?

Not yet. https://github.com/opensearch-project

[2022-10-21 21:05] macohen opened #2785 "[On-boarding]: Search Comparison UI"
### What is the name of your plugin?

dashboards-search-relevance

### What is the link to your GitHub repo?

https://github.com/opensearch-project/dashboards-search-relevance

### Targeted release version

2.4.0

### What type of the plugin are we on-boarding?

OpenSearch-dashboards

### Does this plugin has all the necessary automated tests?

Not yet. Still under development.

### Have you compl

[2022-10-21 22:17] gaiksaya opened #2786 "publishToMaven - publish artifacts to maven"
### Description:

### Acceptance criteria:
- [ ] Publish the artifacts to maven repository without any human intervention.
- [ ] The publishing process should be automated end to end.

[2022-10-21 22:36] CEHENKLE commented on #2068
It makes my palms sweat, because I don't want someone accidentally using the min to store data they care about, but I see the utility of it.   @davidlago let's hurry up and get security into core :)

Is there anything else we can do to make it really, really clear "only use this for testing/dev"?

[2022-10-21 23:07] bbarani commented on #2070
@prudhvigodithi Lets track this as part of the metrics initiative.

[2022-10-22 15:44] rursprung commented on #2068
you could in general add a README file to the distribution ZIPs which give a quick-start for them. for min it could say "this has no security built in, we strongly recommend you use the full distribution unless you know exactly what you're doing", and for both of them it could give some links to the quick-start guide in the documentation?

[2022-10-22 16:19] prudhvigodithi commented on #2068
Just a thought how about in the startup logs? A warning message that throws a CAUTION message (just for min artifact), but this should have a code added to the min distribution.

[2022-10-22 16:28] rursprung commented on #2068
how do you know if you have a security plugin or not? unless you have some "is security plugin enabled" API which the security plugin has to implement to tell OpenSearch that it's there? it might not be the OpenSearch Security plugin which is running and providing it, so you also can't just filter the plugin list to check it.

[2022-10-22 17:07] prudhvigodithi commented on #2068
Some mechanism if its not a full bundle vs min, if not full bundle then add a message.

[2022-10-22 19:45] rursprung commented on #2068
but we're not using a full bundle but still add OpenSearch Security. i don't want a warning in that case (probably nobody would notice it... but if somebody does, good luck trying to explain to them why they get a warning on startup about missing security even though security is in place)

[2022-10-24 12:54] dblock commented on #2068
@CEHENKLE want to write up an issue in OpenSearch that says "help users understand they should not use min without security"?

I propose not to over-engineer this and spend all our time doing what's best for users, ie. having security enabled by default in core so that those who disable it do it deliberately.

[2022-10-24 14:31] macohen commented on #2785
We want to create two plug-ins and both started as forks of this repo before the one plugin per repo standard was created. This plugin will go into a new repo which has a request for creation in process. The other plugin will end up in the search-relevance repo. That is request #2784.

[2022-10-24 14:37] reta commented on #2656
@dblock we have just one more thing left for this week - check that releases work - and than I will document everyting + port it to `spring-data-opensearch`

[2022-10-24 14:57] dblock commented on #2785
Thanks @macohen. I was confused by the GitHub link above. Edit the issue per naming convention pls.

[2022-10-24 15:09] macohen commented on #2785
Got it. Thanks for the feedback. If I understand the instructions correctly, I just updated the name of the plugin to dashboards-results-comparison. We'll handle changes to support conventions inside the repo.

[2022-10-24 17:21] peterzhuamazon commented on #2782
It is possible that it is a race condition tho I have not seen such cases happen until this point.
Will need to keep this open for a while as this might be a very rare case.

Thanks.

[2022-10-24 19:13] MaxKsyunz commented on #2692
@peterzhuamazon since JDBC driver is in the sql repo, what git tag pattern should its releases have? The Jenkins pipelines currently assume `refs/tags/v`

[2022-10-24 19:19] MaxKsyunz commented on #2692
Also @peterzhuamazon do you know if JDBC driver will be kept in the plugin repo or split out? The discussion happened [here](https://github.com/opensearch-project/opensearch-build/issues/2188) but it's not clear what will happen to drivers.

If JDBC driver stays in a monorepo with something else, will there be one Jenkinsfile for each product in the repo or one Jenkinsfile for all of repo?

[2022-10-24 19:24] peterzhuamazon commented on #2306
OSD Windows 2.x branch changes merged now:
* https://github.com/opensearch-project/OpenSearch-Dashboards/pull/2647

[2022-10-24 20:05] dlvenable commented on #2762
Please set:

`DATA_PREPPER_BUILD_NUMBER` - `31`

https://github.com/opensearch-project/data-prepper/actions/runs/3313631040

[2022-10-24 20:14] dblock commented on #2188
@MaxKsyunz The intention of this issue was to split front-end and back-end plugins, for those other things I'd defer to the team that understands the code dependencies better. Maybe open another issue on those? How often do they release and what are their dependencies?

[2022-10-24 20:19] peterzhuamazon commented on #2762
Release on maven:
![image](https://user-images.githubusercontent.com/65193828/197620844-6104dba1-1355-4dbe-ad8d-0847d9519142.png)

Docker:
https://hub.docker.com/r/opensearchproject/data-prepper/tags?page=1&name=2.0.1

ECR:
https://gallery.ecr.aws/opensearchproject/data-prepper

[2022-10-24 20:21] peterzhuamazon commented on #2762
Maven central will be available soon:
* https://repo1.maven.org/maven2/org/opensearch/dataprepper/data-prepper-api/2.0.1

Awaiting project website:
* https://github.com/opensearch-project/project-website/pull/1092

[2022-10-24 20:22] peterzhuamazon commented on #2762
Awaiting @dlvenable to complete the verification before closing the issue.

Thanks.

[2022-10-24 21:02] jordarlu opened #2789 "[Bug]: missing test job for DockerBuild jenkins job"
### Describe the bug

As part of the effort on META https://github.com/opensearch-project/opensearch-build/issues/1468 , we are adding missing test job for jenkinsfile(s).

Particularly, this issue is created to address missing test job for [docker-build.jenkinsfile](https://github.com/opensearch-project/opensearch-build/blob/main/jenkins/docker/docker-build.jenkinsfile)

### To reproduce

We curr

[2022-10-24 21:08] jordarlu commented on #1468
Hi, Adding #2789  and #2790 to addess test job for docker-build.jenkinsfile. thanks.

[2022-10-24 21:29] jordarlu opened #2791 "[Bug]: missing test job for DockerCopy job"
### Describe the bug

As part of the effort on META https://github.com/opensearch-project/opensearch-build/issues/1468 , we are adding missing test job for jenkinsfile(s).

Particularly, this issue is created to address missing test job for [docker-copy.jenkinsfile](https://github.com/opensearch-project/opensearch-build/blob/main/jenkins/docker/docker-copy.jenkinsfile)

### To reproduce

We curren

[2022-10-24 21:32] jordarlu commented on #1468
Hi, Adding https://github.com/opensearch-project/opensearch-build/issues/2791 and https://github.com/opensearch-project/opensearch-build/pull/2792 to addess test job for docker-build.jenkinsfile. thanks.

[2022-10-24 21:56] dlvenable commented on #2762
Thanks @peterzhuamazon for helping with the release. I have verified the binaries and the changes to project-website. Those are deploying now. I'll close this issue as there is nothing else I expect is needed.

[2022-10-24 21:56] #2762 closed

[2022-10-24 22:24] peterzhuamazon commented on #2555
We are already on 1.33 thus close this.

[2022-10-24 22:31] peterzhuamazon commented on #2778
workflow-cps-global-lib has been deprecated for now:
https://plugins.jenkins.io/workflow-cps-global-lib/

Update to latest version of this lib before migration: https://repo.jenkins-ci.org/public/org/jenkins-ci/plugins/workflow/workflow-cps-global-lib/588.v576c103a_ff86/

New Successor: https://plugins.jenkins.io/pipeline-groovy-lib/

[2022-10-24 22:32] peterzhuamazon commented on #2779
workflow-cps-global-lib has been deprecated for now:
https://plugins.jenkins.io/workflow-cps-global-lib/

Update to latest version of this lib before migration: https://repo.jenkins-ci.org/public/org/jenkins-ci/plugins/workflow/workflow-cps-global-lib/588.v576c103a_ff86/

New Successor: https://plugins.jenkins.io/pipeline-groovy-lib/

[2022-10-24 22:53] prudhvigodithi commented on #2635
We just shipped OpenSearch 1.2.0 .NET clients to Nuget repo https://www.nuget.org/profiles/opensearchproject.
https://www.nuget.org/packages/OpenSearch.Client/1.2.0
https://www.nuget.org/packages/OpenSearch.Client.JsonNetSerializer/1.2.0
https://www.nuget.org/packages/OpenSearch.Net/1.2.0
https://www.nuget.org/packages/OpenSearch.Net.VirtualizedCluster/1.2.0
https://www.nuget.org/packages/OpenSear

[2022-10-24 23:32] peterzhuamazon commented on #2776
Fixed now.

[2022-10-24 23:32] #2776 closed

[2022-10-24 23:32] peterzhuamazon commented on #2779
Fixed now.

[2022-10-24 23:32] #2779 closed

[2022-10-24 23:32] peterzhuamazon commented on #2781
fixed now.

[2022-10-24 23:32] #2781 closed

[2022-10-24 23:32] peterzhuamazon commented on #2774
fixed now.

[2022-10-24 23:33] peterzhuamazon commented on #2780
fixed now.

[2022-10-24 23:33] #2780 closed

[2022-10-25 00:50] peterzhuamazon commented on #2306
After many tweaks KNN finally able to build on Windows.
Now we need to disable the integTest during build on Jenkins so that they can run the actual test during integ-test workflow.

[2022-10-25 00:50] peterzhuamazon commented on #2306
The reportsDashboards issue show up as it is not able to be built on Windows after their PR:
https://github.com/opensearch-project/dashboards-reports/issues/191#issuecomment-1289810536

[2022-10-25 00:58] peterzhuamazon commented on #2692
Hi @MaxKsyunz I added several comments to @Yury-Fridlyand PR there.
Would love to discussion more later on the strategies of the repo.

Thanks.

[2022-10-25 05:42] peterzhuamazon commented on #2656
There is still something that we need some overhaul once all the things are released.
I will sync up to you later on the details to make it rock solid.

Thanks.

[2022-10-25 17:21] dblock commented on #2692
@MaxKsyunz Is there an issue on extracting the JDBC driver into its own repo with pros/cons already? Care to open one so we can discuss that there?

My uneducated opinion is that it looks like the JDBC driver should follow its own semver, and have its own CI/CD that publishes it to maven similar to how we do this now in opensearch-java and other repos. Sounds to me like it should live in its own r

[2022-10-25 17:39] peterzhuamazon commented on #2749
I think each plugin repo can have a daily workflow running to compile against the latest maven snapshot of OpenSearch core, so we can detect the issues earlier.

[2022-10-25 18:10] acarbonetto opened #2799 "Split JDBC Driver into it's own repository"
### Is your feature request related to a problem? Please describe

As mentioned under [#2692](https://github.com/opensearch-project/opensearch-build/issues/2692), the JDBC Driver is deployed alongside the SQL plugin in the SQL plugin repo.  However, the JDBC driver should follow its own CI/CD process and release versioning instead of depending on the SQL plugin.  These are separate release artefac

[2022-10-25 18:17] acarbonetto opened #2800 "Split ODBC Driver into it's own repository"
### Is your feature request related to a problem? Please describe

As mentioned under https://github.com/opensearch-project/opensearch-build/issues/2692, the ODBC Driver is deployed alongside the SQL plugin in the SQL plugin repo. However, the ODBC driver should follow its own CI/CD process and release versioning instead of depending on the SQL plugin. These are separate release artefacts and they

[2022-10-25 18:20] acarbonetto opened #2801 "Split CLI Tool into it's own repository"
### Is your feature request related to a problem? Please describe

As mentioned under https://github.com/opensearch-project/opensearch-build/issues/2188, the CLI tool is deployed alongside the SQL plugin in the SQL plugin repo. However, the UI tool should follow its own CI/CD process and release versioning instead of depending on the SQL plugin. These are separate release artefacts and they should

[2022-10-25 18:21] acarbonetto commented on #2692
Raised:
* https://github.com/opensearch-project/opensearch-build/issues/2799
* https://github.com/opensearch-project/opensearch-build/issues/2800
* https://github.com/opensearch-project/opensearch-build/issues/2801
for specific discussion and execution @dblock - thanks!

[2022-10-25 18:53] dhrubo-os opened #2803 "[On-boarding]: Opensearch-py-ml plugin"
### What is the name of your plugin?

opensearch-py-ml

### What is the link to your GitHub repo?

https://github.com/opensearch-project/opensearch-py-ml

### Targeted release version

2.4, but flexible to extend as this is python client, not a part of OpenSearch release artifact

### What type of the plugin are we on-boarding?

Opensearch plugin. A python client to connect with opensearch and ml-

[2022-10-25 19:25] rishabh6788 commented on #2763
@dlvenable @peterzhuamazon Are we planning to release this?

[2022-10-25 19:27] rishabh6788 commented on #2768
@kotwanikunal would increasing the timeout value on jenkins side help resolve this problem? If yes, what should be the ideal timeout value to make sure the jobs are run completely.

[2022-10-25 19:36] rishabh6788 commented on #2799
@anirudha can you please help with this request?

[2022-10-25 19:37] rishabh6788 commented on #2800
@anirudha can you please help with this request?

[2022-10-25 19:38] rishabh6788 commented on #2801
@anirudha can you please help with this request?

[2022-10-25 19:39] dlvenable commented on #2763
@rishabh6788 , Yes, we are planning to release this still. We are still working on the release data however.

[2022-10-25 19:40] rishabh6788 commented on #2803
@dhrubo-os I assume this is a stand-alone component and doesn't need to be bundled with opensearch.

[2022-10-25 19:47] dhrubo-os commented on #2803
Yeah, it doesn't need to be bundled with opensearch.

[2022-10-25 20:08] kotwanikunal commented on #2768
We can increase it to the length of longevity tests, which would be an easy fix. The only caveat is that the test takes roughly 13 days to complete the test. I checked test execution `7ebb4afb-e7d6-4e62-b237-472795b5f7c9`.

[2022-10-25 21:27] anirudha commented on #2692
is repo split a blocker for maven release now on this issue or is it a separate issue ?

[2022-10-25 21:30] acarbonetto commented on #2692
Separate issue.  At least until I'm informed otherwise.

[2022-10-25 21:37] peterzhuamazon commented on #2306
New OSD Blocker:
* https://github.com/opensearch-project/OpenSearch-Dashboards/issues/2669

[2022-10-25 22:38] peterzhuamazon commented on #2306
Seems like this PR caused all the issues related to windows running opensearch.
Since Jenkins currently only takes Administrator as user and most of people develop on EC2 is having administrator user by default.
This could be a potential issue tho:
https://github.com/opensearch-project/OpenSearch/pull/4656

[2022-10-25 23:02] bbarani commented on #2749
One other option we are exploring is to move the snapshots associated with successfully builds (with plugins) to a new folder (ex: `/lastSuccessfulBuild`). Basically any distribution failure would end up publishing the core snapshot only on `/snapshots/latest` and not under `/snapshots/lastSuccessfulBuild.`

[2022-10-26 01:53] prudhvigodithi commented on #2521
Closing this issue as all the associated tasks are completed. @lukas-vlcek @bbarani @peterzhuamazon

[2022-10-26 01:53] #2521 closed

[2022-10-26 02:52] peterzhuamazon commented on #2306
Two new PRs adding the k-NN support on Infra Side:
* https://github.com/opensearch-project/k-NN/pull/595
* https://github.com/opensearch-project/opensearch-ci/pull/212

[2022-10-26 12:56] dblock commented on #2692
AFAIK if we were able to release the driver before I don't see why splitting should be a blocker, however to setup automation you'll need to queue off a tag, and that becomes more difficult in a monorepo (you'd have to queue of a tag format, unclear which branch to tag, etc.).

[2022-10-26 13:08] dblock commented on #2749
Should we just instead change `latest` to be the last complete distribution build? I believe that was its original intent.

[2022-10-26 16:15] jordarlu commented on #2789
close issue #2789 as PR #2790 is merged

[2022-10-26 17:32] gaiksaya commented on #2749
If we combine them (use `latest`) and only publish when build is successful, wouldn't we be binding the snapshot publishing to our distribution build entirely? Also how would the plugin teams know that some change in core broke the plugin compilation too until the component build fails at distribution build level?
Right now we are pro-active in detecting the failures as CIs are failing. Might be l

[2022-10-26 18:51] jordarlu commented on #2791
this issue #2791 is closed now because PR #2792 is merged

[2022-10-26 18:51] #2791 closed

[2022-10-26 21:25] jmazanec15 commented on #2521
Ah looks like its related to https://github.com/opensearch-project/notifications/pull/554#issuecomment-1282280470.

[2022-10-26 21:44] peterzhuamazon commented on #2656
We have released OpenSearch Testcontainers 2.0.0 with @reta:

![image](https://user-images.githubusercontent.com/65193828/198144021-634fbfd0-25fa-4ffa-920e-30d5569e7509.png)

https://build.ci.opensearch.org/job/opensearch-testcontainers-release/7/

https://github.com/opensearch-project/opensearch-testcontainers/releases/tag/release-2.0.0

There are still some things to improve and I will work with

[2022-10-26 21:48] peterzhuamazon commented on #2656
Maven Central: https://repo1.maven.org/maven2/org/opensearch/opensearch-testcontainers/2.0.0/

[2022-10-26 21:50] peterzhuamazon commented on #2656
@reta please feel free to close this issue once all the related changes are addressed.

Thanks.

[2022-10-27 01:48] asifsmohammed commented on #2763
We are planning to release 1.5.2 tomorrow. Added date below as I wasn't able to update the issue.

**Release date: 10/27**

[2022-10-27 08:12] luigidragone96 commented on #2690
Hi, is there any news regarding the release of the updated client on NPM?

[2022-10-27 16:38] reta opened #2807 "Support JDK-19 builds on Jenkins"
### Is your feature request related to a problem? Please describe

There is an opportunity to try OpenSearch on JDK-19 with recent Apache Lucene enhacements. As such, it would be great to have JDK-19 available on Jenkins so we could start using it in Gradle checks.

### Describe the solution you'd like

Make JDK-19 available on Jenkins so we could start using it in Gradle checks.

### Describe alt

[2022-10-27 17:26] gaiksaya commented on #2690
Hi @luigidragone96, I am working on automating the release process for NPM client. ETA: Monday Oct 31st but will update here is anything changes.
Thanks!

[2022-10-27 19:19] prudhvigodithi commented on #2070
Sure @bbarani this issue best suits the metrics initiative.

[2022-10-27 19:26] dblock commented on #2749
@gaiksaya I think we're saying alomst the same thing. Do you mean that a successful build of OpenSearch Engine (core) or common-utils = code builds + snapshot published? And a successful distribution build would be that all those parts built together into a .zip/.tar distribution? If so I am 100% there, we just need the Jenkins job to do that.

[2022-10-27 20:12] peterzhuamazon commented on #2306
KNN build success on 2.4.0 need to add zip in windows agent.

[2022-10-27 20:19] gaiksaya commented on #2749
@dblock Sorry for not being clear.

* When I say `successful` I mean OpenSearch Engine (core/min) + all plugins in the manifest.
* When I say `latest` I mean only OpenSearch Engine (core/min) and nothing else.

We can go with only successful but one scenario I can think about is for user wanting to use min snapshot for whatever reason (eg external plugin development or wants just the engine for so

[2022-10-27 21:00] peterzhuamazon commented on #2306
New change to support KNN rezip on Windows:
* https://github.com/opensearch-project/opensearch-ci/pull/213

[2022-10-27 21:12] peterzhuamazon commented on #2306
New PR enable knn in 2.4.0 and OSD changes:
* https://github.com/opensearch-project/opensearch-build/pull/2812

[2022-10-27 22:01] asifsmohammed commented on #2763
VERSION: 1.5.2
RELEASE_MAJOR_TAG: true
RELEASE_LATEST_TAG: false
DATA_PREPPER_BUILD_NUMBER - 35

[2022-10-27 22:08] peterzhuamazon commented on #2763
The workflow has some bugs that even if `latest` is off 1.5.2 still copied to latest.
https://github.com/opensearch-project/opensearch-build/blob/main/jenkins/data-prepper/release-data-prepper-all-artifacts.jenkinsfile

@rishabh6788 @zelinh
https://build.ci.opensearch.org/job/release-data-prepper-all-artifacts/26/

I will manually docker copy tag 2 back to tag latest.

Thanks.

[2022-10-27 22:08] ylwu-amzn opened #2814 "[release]: python ML library opensearch-py-ml"
### What is the name of your component?

opensearch-py-ml

### What is the link to your GitHub repo?

https://github.com/opensearch-project/opensearch-py-ml

### Targeted release date

Nov 15

### Where should we publish this component?

pypi

### What type of artifact(s) will be generated for this component?

python library

### Have you completed the required reviews including security reviews,

[2022-10-27 22:13] dlvenable commented on #2763
@peterzhuamazon , Thanks for catching this and fixing the label. Are you going to create a GitHub issue for this?

[2022-10-27 22:16] peterzhuamazon commented on #2763
I will soon.

[2022-10-27 22:16] peterzhuamazon commented on #2763
OpenSearch Docker/ECR/Maven/Tar is out:
![image](https://user-images.githubusercontent.com/65193828/198407894-d3a53341-72a2-4b6f-913e-e959b0382c38.png)

https://hub.docker.com/r/opensearchproject/data-prepper/tags
https://gallery.ecr.aws/opensearchproject/data-prepper

https://repo1.maven.org/maven2/org/opensearch/dataprepper/data-prepper-api/1.5.2

@asifsmohammed Please verify the artifacts and w

[2022-10-27 22:18] peterzhuamazon opened #2815 "[BUG] Data Prepper Workflow will still copy image to `latest` when `RELEASE_LATEST_TAG` is not checked"
Hi,

The workflow has some bugs that even if `latest` is off 1.5.2 still copied to latest.

https://github.com/opensearch-project/opensearch-build/blob/main/jenkins/data-prepper/release-data-prepper-all-artifacts.jenkinsfile

@rishabh6788 @zelinh
https://build.ci.opensearch.org/job/release-data-prepper-all-artifacts/26/

I suspect the `Major` tag have the same issue.

Thanks.

[2022-10-27 22:18] gaiksaya commented on #2814
We are in process of automating it so it might fall under `publishToPyPi` library here https://github.com/opensearch-project/opensearch-build/issues/2505

[2022-10-27 22:25] dhrubo-os commented on #2803
closing this issue in favor of : https://github.com/opensearch-project/opensearch-build/issues/2814

[2022-10-27 22:25] #2803 closed

[2022-10-27 22:31] ylwu-amzn commented on #2814
Cool, thanks a lot. any work we need do from our side to onboard this auto release workflow?

[2022-10-27 22:35] ylwu-amzn commented on #2814
@bbarani @gaiksaya For this question "Have you completed the required reviews including security reviews, UX reviews?
",  we are working with security team for security review now. Should we also ask UX team to review considering this a python library?

[2022-10-27 22:59] gaiksaya commented on #2814
AFAIK, that is for front end plugins/components (if any). @bbarani please correct if I am wrong.

[2022-10-27 23:06] zelinh commented on #2815
I think I know what's wrong here.
https://github.com/opensearch-project/opensearch-build/blob/2fe6e745ab9c6ae09b91e5c00bd8800dc0b6caa3/jenkins/data-prepper/release-data-prepper-all-artifacts.jenkinsfile#L98
We are having the condition check with just the `RELEASE_LATEST_TAG` or `RELEASE_MAJOR_TAG` inside the if statement bracket, this would also be true as Jenkins considers it as string.
We could

[2022-10-27 23:52] #2637 closed

[2022-10-28 01:24] bbarani commented on #2814
I don’t think we need a UX review until this library has UI. Please update us once the security review is completed CC: @CEHENKLE @elfisher

[2022-10-28 02:43] #2815 closed

[2022-10-28 13:54] luigidragone96 commented on #2690
@gaiksaya thanks for the update!

[2022-10-28 14:38] asifsmohammed commented on #2763
@peterzhuamazon I have verified all the artifacts and binaries manually. Will verify it in the project-website once the PR is merged and close the issue.

[2022-10-28 17:10] asifsmohammed commented on #2763
@peterzhuamazon Thanks for helping with the release. I verified everything in project-website.

[2022-10-28 17:11] #2763 closed

[2022-10-28 17:31] peternied commented on #33
@bbarani @CEHENKLE @davidlago We've got an parity support question for this upcoming release.

In the Security Plugin there is support for using OpenSSL instead of the Java's native SSLEngine, this features defaults to off and is only supported when running JDK11.  It works with no issues on Linux and MacOS platforms running JDK11.

Windows is non-trivially different and we have yet to get the fea

[2022-10-28 17:40] peternied commented on #2649
@peterzhuamazon FYI - we have a windows platform parity question [1], could impact Security hitting code freeze.

[1] https://github.com/opensearch-project/opensearch-build/issues/33#issuecomment-1295267906

[2022-10-28 17:43] davidlago commented on #33
My $0.02 is to not block 2.4 on Windows for this support, as it is something that is not universally supported (across JDK versions) for our other distributions and there is an alternative SSL engine. Also, we never had a Windows release, supporting OpenSSL to begin with, so this is not technically "dropping" support potentially breaking some folks who were already relying on it.

[2022-10-28 17:54] gabrielrra commented on #2690
Thanks, can't wait to use this feature

[2022-10-28 18:40] peterzhuamazon commented on #2656
Releasing 1.0.0 with @reta on the official maven central release.

[2022-10-28 18:47] peterzhuamazon commented on #2656
![image](https://user-images.githubusercontent.com/65193828/198710106-718fc2dc-c2c2-4b26-b76d-c5928fca821b.png)

Maven Central: https://repo1.maven.org/maven2/org/opensearch/opensearch-testcontainers/1.0.0/

[2022-10-28 18:48] #2656 closed

[2022-10-28 20:54] peterzhuamazon commented on #2692
Hi,

Have new discussion with @MaxKsyunz @Yury-Fridlyand @penghuo here is the method we are going to use:

1. Tag creation trigger a github action to clone the code, build maven artifacts, and push to an s3 bucket.
2. Github action will trigger jenkins workflow with the webhook.
3. Jenkins workflow will download the maven artifacts from s3 bucket, sign them, stage to sonatype.
4. Build repo member

[2022-10-28 20:56] dblock commented on #2749
I can't think of any time we would want "latest" as defined above, hence I was proposing to change the definition of "latest" (rename "successful" to "latest" in your example).

[2022-10-28 21:31] dhrubo-os commented on #2814
@bbarani 2 questions:

1. For this library, Security review will be done by 11/12/2022 (ETA given by the reviewer). Will that be a blocker for opensearch-py-ml 2.4 release?
2. Is [this issue](https://github.com/opensearch-project/opensearch-clients/issues/18) mandatory for 2.4 release? As this library is also a client plugin we're going to face the same issue.

[2022-10-28 22:30] gaiksaya commented on #2749
In that case (if we all agree) I believe we just need to move the uploading snapshots part to only successful scenario. Nothing else changes.

[2022-10-28 23:01] prudhvigodithi commented on #2635
Hey Closing this issue as release is completed, please feel free to open if required. Thanks

[2022-10-28 23:01] #2635 closed

[2022-10-31 17:37] peternied commented on #33
Circling back, turns out OpenSSL does not work on linux platforms either and hasn't for an indeterminate amount of time, this is not a platform specific issue anymore and so should have no impact on the 2.4.0 release.  Thanks!

[2022-10-31 18:12] bbarani commented on #2749
@gaiksaya @dblock I am not sure if I completely understand here. Are we saying that we will upload snapshots to` /latest ` only after successful complete build? There are cases when the core snapshot breaks just few plugins but doesn't affect other plugins and we should provide them ways to use the `/latest` snapshots and not just the` /successful `version

[2022-10-31 21:58] wbeckler commented on #2690
For the new automated release process, we will be waiting at least one more day, until November 1, to make sure we have everyone needed on hand to make sure it goes well.

[2022-10-31 23:13] gaiksaya commented on #1108
Hi @wbeckler, just to confirm, once the packagist account is created, we can be added as maintainer to existing package and can release under the same namespace `opensearch-project` ?

[2022-10-31 23:18] shyim commented on #1108
@gaiksaya Yes

[2022-10-31 23:31] gaiksaya commented on #2749
That was exactly my point @bbarani. @dblock @peternied @saratvemulapalli @reta What do you think?

[2022-11-01 08:48] rursprung commented on #2068
note: once #99 is fully implemented the no-jdk version of the distribution should be published to maven as part of this step here.

[2022-11-01 08:48] rursprung commented on #2069
note: once #99 is fully implemented the no-jdk version of the distribution should be published to maven as part of this step here.

[2022-11-01 11:53] dblock opened #2836 "Add support s390x"
### Is your feature request related to a problem? Please describe

Add support for IBM s390x platform.

### Describe the solution you'd like

- [ ] Docker release

### Describe alternatives you've considered

_No response_

### Additional context

Coming from https://github.com/opensearch-project/OpenSearch/issues/4000

[2022-11-01 11:55] dblock commented on #2836
@bbarani What are all the things one would need to do to truly support s390x?

[2022-11-01 12:35] rursprung commented on #99
@peterzhuamazon (or anyone else who knows this): is there anything else left to be done so that the files created by the build process are also published to `artifacts.opensearch.org`?

the other question is: where should these files be linked to? i'd suggest to just add them in the `package` dropdown of OpenSearch on the [downloads page](https://opensearch.org/downloads.html).

[2022-11-01 12:59] reta commented on #2749
Just to reiterate, successful scenario is (core/min) + all plugins in the manifest, correct? I think it does not help with large scale change, it is chicken and egg problem: because we don't publish feature / branch artifacts, it is not possible to make the successful pull requests against any plugin to incorporate the large change (change in core + change in all plugins). Or I am missing somethin

[2022-11-01 14:03] msillence opened #2837 "[Bug]: Unable to install traceAnalyticsDashboards in latest release"
### Describe the bug

Using the docker container I'm unable to install the traceAnalyticsDashboards following the instructions: https://opensearch.org/docs/1.2/dashboards/install/plugins/#install

### To reproduce

Tyring omitting sudo (sudo isn't in the docker container)

$ `bin/opensearch-dashboards-plugin install traceAnalyticsDashboards`

Yields:

[code]

Running as root I initially get the er

[2022-11-01 17:46] bbarani commented on #2814
Hello @dhrubo-os @ylwu-amzn Does this have to be released along with OpenSearch 2.4 release? As per my understanding, this is a standalone library and can be released independent of 2.4 release. Please let us know if this has to be released on specific time co-relating with any other release.

[2022-11-01 18:27] gaiksaya commented on #1108
Got it. Thanks! @bbarani Are you okay with this request? Any objection?

[2022-11-01 18:35] anirudha commented on #2692
thanks peter, can you provide n estimate on this.

[2022-11-01 18:46] anirudha commented on #2469
@prudhvigodithi any updates on this one ?

[2022-11-01 18:51] anirudha commented on #2469
can we test signing it with a jar signer and we can test with Tableau

[2022-11-01 19:17] dhrubo-os commented on #2814
Hi @bbarani Yeah this is a standalone library and can be release independent of 2.4 release. That being said, this plugin will help customer to simplify of few steps in mlCommons custom model feature, which is why we want to release this plugin asap.

Please suggest what are the steps are remaining from our end to release this plugin.

Thanks
Dhrubo

[2022-11-01 20:25] prudhvigodithi commented on #2469
Hey @MaxKsyunz and @anirudha the jarsigner is not in supported list of the [signing formats](https://github.com/opensearch-project/opensearch-build#signing-artifacts).

Following are the action items to move forward:

- Configure the jarsigner setup.
- Incorporate the jarsigner to existing [signing workflow](https://github.com/opensearch-project/opensearch-build/tree/main/src/sign_workflow).
- Cre

[2022-11-01 21:11] zelinh commented on #2784
This PR should be part of the onboarding for WhiteSource GitHub integration.
https://github.com/opensearch-project/dashboards-search-relevance/pull/49

[2022-11-01 22:17] gaiksaya commented on #2690
🚀  opensearch-js 2.1.0 is now released https://www.npmjs.com/package/@opensearch-project/opensearch/v/2.1.0

[2022-11-01 22:17] #2690 closed

[2022-11-01 22:20] gaiksaya opened #2839 "Create publishToPyPi"
Python clients are released to PyPi. Uses api token to publish to PyPi directly. We do not need to release to testPyPi as its out of scope.

Acceptance Criteria:

- Given a directory of required files, the library should be able to publish the artifacts to PyPi
- All the contents inside the directory should be signed.

[2022-11-01 22:24] gaiksaya commented on #2814
Hi @dhrubo-os,
I'll update the issue if anything is required from your end.

For now below are the to-do on our list:
1. Get the fix in for https://github.com/opensearch-project/opensearch-build/issues/368 as `.asc` signature is required to sign the packages to PyPi
2. Create the PublishToPyPi jenkins library https://github.com/opensearch-project/opensearch-build/issues/2839
3. Create automation i

[2022-11-01 22:25] peternied commented on #2749
Recapturing the scenarios around `OpenSearch Core merges a change and then...`:
- There is no negative impact downstream
- There is an impact to build workflow of the OpenSearch distribution
- There is an impact to test workflow of the OpenSearch distribution
- There is an impact to build workflow of plugin(s) repositories
- There is an impact to test workflow of plugin(s) repositories

I think we

[2022-11-01 23:23] #2807 closed

[2022-11-02 00:05] prudhvigodithi commented on #2749
Hey from my opinion, I dont think so its worth to have separate paths and allow plugin teams to consume them, there are chances consuming core from those either paths can also break the dependent plugins (may be it can limit).
But from term -SNAPSHOT, its expected to consider something can break if consuming the SNAPSHOT artifact.

Coming to the main point once the changes are pushed to OpenSearch

[2022-11-02 00:12] gaiksaya commented on #368
Proposing a work around:
Instead of changing the code base of signer client side (which is likely to be remodel or be replaced by something else cc: @bbarani ), proposing to making this change via python code.
It is considerably more easy to change the `.sig` (binary output) to `.asc` (armored output) via gpg commands.
The code can be implemented via interim code base (python code in this repo. Mo

[2022-11-02 22:18] cliu123 opened #2866 "[Enhancement] Add Release Bundle Build Workflow to CI"
The utils used in both `/public` folder and `/server` folder need to be declared in `/common` folder. Otherwise, the release bundle build would throw `Error: Cannot find module...`. These errors do not surface up till the release build so there is no effective way to catch them in development stage.

**Is your enhancement request related to a problem?**
The request comes from https://github.com/op

[2022-11-02 22:28] bertvandepoel commented on #2460
I'm not sure where to ask, but I guess this is the most appropriate issue: what exactly is the plan for migrations? Many people have simply frozen their ELK stacks on the latest non-SSPL version, hoping that opensearch will mean a direct upgrade path. Based on the fact that names are different and there's no mention of transition/meta packages, I wonder if there are any plans for people wishing to

[2022-11-03 10:02] peterzhuamazon commented on #99
Based on the email exchange let's start some discussion on this.
I will sync up with you on the necessary steps.

cc: @setiah @bbarani

Thanks.

[2022-11-03 12:07] reta opened #2846 "Support release process for spring-data-opensearch"
### Is your feature request related to a problem? Please describe

We have a new repository https://github.com/opensearch-projectspring-data-opensearch to support OpenSearch integration with Spring projects ecosystem (based on Spring Data Elasticsearch).

### Describe the solution you'd like

The release process is not yet in place, the artifacts are: signed JARs under `org.opensearch.client` grou

[2022-11-03 12:07] reta commented on #2846
CC @peterzhuamazon

[2022-11-03 12:45] Bukhtawar opened #2847 "[Bug]: JDK installation failure"
### Describe the bug

[code]

### To reproduce

https://build.ci.opensearch.org/job/gradle-check/6282/console

### Expected behavior

Jenkins build should be triggered

### Screenshots

If applicable, add screenshots to help explain your problem.

### Host / Environment

_No response_

### Additional context

_No response_

### Relevant log output

_No response_

[2022-11-03 18:02] prudhvigodithi commented on #2505
Client   Universal Release process (ETA)
opensearch-py-ml    November 15th, 2022
opensearch-py          November 15th, 2022
Java                            November 30th, 2022

[2022-11-03 21:30] dblock commented on #2460
@bertvandepoel See https://opensearch.org/docs/latest/upgrade-to/upgrade-to/. Do you have a scenario not covered by that? We'd like to help!

[2022-11-03 23:00] Yury-Fridlyand commented on #2692
Release automation is tracked in #2505. This ticket is to track the current JDBC release.
The deadline is ~ Nov 9, 2022.

---------
I created a JDBC driver pre-release on SQL repo: https://github.com/opensearch-project/sql/releases/tag/JDBC-2.0.0.0
Please proceed with manual publish on the Maven ([no-shadow-copy-jar.zip](https://github.com/opensearch-project/sql/files/9932614/no-shadow-copy-jar.zi

[2022-11-03 23:24] joshpalis opened #2849 "[Discussion] Modify input manfiest yml schema and assemble workflow to support pre-installation of native plugins"
### Is your feature request related to a problem? Please describe

Now that the Job Scheduler project ownership has been transferred to the OpenSearch Core Extensibility Team, we and the community have made a decision to relocate Job Scheduler to native plugins [1]. This change will have an effect on how the full bundle of OpenSearch is assembled, since multiple plugins (ISM, AD, Reporting) have a

[2022-11-04 18:50] owaiskazi19 commented on #2849
Thanks for writing this up @joshpalis. How about including a flag named `depends_on` for the plugins such as ISM, AD which are dependent on Job Scheduler in the input manifest?
[code]
While reading the input manifest we have to take into account the dependency and based on the flag we can either install or not the JS native plugin.

[2022-11-04 19:24] prudhvigodithi commented on #2849
Hey @owaiskazi19 something similar to what proposed [here](https://github.com/opensearch-project/opensearch-build/issues/441#issuecomment-1275192880) ?
Another way is to have new schema as following
[code]
@dblock @bbarani

[2022-11-04 19:37] owaiskazi19 commented on #2849
Hey @prudhvigodithi. Looks like we are on the same line with the scheme [here](https://github.com/opensearch-project/opensearch-build/issues/441#issuecomment-1275192880).

For the above schema, I don't have any strong opinion(totally fine with it). Only just that it will create a little complex manifest file which can be simplified by using the flag `depends_on`. Let me know WDYT.

[2022-11-04 22:11] zelinh opened #2854 "[Bug]: Version workflow to auto update input manifests is failing"
### Describe the bug

Our version workflow to auto raise PR for input manifest update is currently failing for almost 10 days. https://github.com/opensearch-project/opensearch-build/actions/workflows/versions.yml
The context of error:
[code]
The problem might be the workflow trying to clone `https://github.com/opensearch-project/opensearch-observability.git` but the correct URL should be `https://

[2022-11-04 22:15] mch2 commented on #2854
I don't think these maven issues are the reason for the wf failure.

The [latest](https://github.com/opensearch-project/opensearch-build/actions/runs/3390231242/jobs/5634121899) failure has a separate issue at the bottom.  Where it is trying to fetch `https://github.com/opensearch-project/opensearch-observability` where the repo name is actually https://github.com/opensearch-project/observability.

[2022-11-04 22:17] zelinh commented on #2854
Yes. I just updated the issue description. Thanks for the input here!

[2022-11-04 22:28] mch2 commented on #2854
Looks like the repo name being cloned is tied to the name field in the manifest. This PR has a name of opensearch-observability when it needs to be observability.  This feels like a bug where name should not be driving the repo path.

[2022-11-04 22:33] zelinh commented on #2854
But seems like we have been using `opensearch-observability` as the name for previous manifest.
e.g. https://github.com/opensearch-project/opensearch-build/blob/a872a391df1a02802425ad200ef273d66f4c6700/manifests/2.2.0/opensearch-2.2.0.yml#L135

[2022-11-05 00:20] prudhvigodithi commented on #2854
I see whats happening, looks to me like this a [bug](https://github.com/opensearch-project/opensearch-build/blob/main/src/manifests_workflow/component_opensearch.py#L29) and never shown up, the manifest update used to happen even before all components are loaded to the latest version manifest, here in this case its [3.0.0](https://github.com/opensearch-project/opensearch-build/tree/main/manifests/

[2022-11-05 00:21] peterzhuamazon commented on #2649
New change with core team as vis_builder is enabled by default and data_source is disabled by default.

[2022-11-05 00:26] zelinh commented on #2854
Yes. I think this is the cause.
https://github.com/opensearch-project/opensearch-build/blob/a872a391df1a02802425ad200ef273d66f4c6700/src/manifests_workflow/component_opensearch.py#L29)
it takes the name to construct the repo link instead of the repo link from the manifest.
Another option should be updating the logic here to take the repository link from the existing manifest.

[2022-11-05 22:40] zelinh commented on #2649
## Release testing

We have new Artifacts built and ready for testing.

### Release Candidates:
OpenSearch - [Build 6425](https://build.ci.opensearch.org/job/distribution-build-opensearch/6425/)
OpenSearch Dashboards - [Build 4275](https://build.ci.opensearch.org/job/distribution-build-opensearch-dashboards/4275/)

- Use Docker-Compose to setup a cluster
  + Download this [gist](https://gist.githu

[2022-11-06 00:15] peterzhuamazon commented on #33
We have windows release candidate prepared for release on 2.4.0:
https://github.com/opensearch-project/opensearch-build/issues/2649#issuecomment-1304654620

Thanks.

[2022-11-07 06:42] bbarani opened #2857 "Publish to RubyGems"
Ruby client is published to RubyGems.org.

_Note: The signing for ruby takes place when the artifact is built. (Need to check if we have a work around) In order to replicate the build environment of ruby clients they need to be build on docker images which can be also used by release pipeline_

- [ ] Install necessary packages required for publishing on docker image: https://github.com/opensearch-

[2022-11-07 17:54] bbarani opened #2858 "Validate the artifact(s) signatures"
Currently we do not have mechanism to automatically validate the signatures for artifacts published on opensearch.org.
We need a mechanism to do so.

Details on how to verify the signatures: https://opensearch.org/verify-signatures.html
### Acceptance Criteria
- [ ] Validate the urls of the signatures `.sig` files.
- [ ] Import the keys and validate the signature
- [ ] Check if the key is not expi

[2022-11-07 17:54] bbarani opened #2859 "Validate native plugin installation"
From [META](https://github.com/opensearch-project/opensearch-build/issues/2524), having a validation workflow with checking Native plugin installation should be part of the story https://github.com/opensearch-project/opensearch-build/issues/2883

Native plugins are plugins that come pre-bundled with OpenSearch. See https://github.com/opensearch-project/OpenSearch/tree/main/plugins
During releases

[2022-11-07 19:02] rishabh6788 commented on #2854
Since we are already reading the manifest file, makes more sense to just use the repo field to fetch the component github url to avoid this situation in future.
I will work on the fix. @prudhvigodithi @zelinh @mch2

[2022-11-07 19:22] prudhvigodithi commented on #2469
Hey @MaxKsyunz and @anirudha can you please share the priority level for this Tableau Connector release? Like I see the steps on how to install, but agree that it makes easy if its part of Marketplace, based on the priority we can create an issue in this build repo and explore jarsigner setup along with having an account with Tableau Marketplace.
@bbarani

[2022-11-07 19:53] joshpalis commented on #2849
Thanks @owaiskazi19 and @prudhvigodithi for your contributions for this discussion. I am partial to Owais' proposal for the modifications to the input manifest yml schema. The modifications would be simplified and it places the onus of responsibility for components to define the plugins that they are dependent on, making it clear which components are dependent on which native plugin.

[2022-11-08 01:54] MaxKsyunz commented on #2728
Here's [another](https://github.com/opensearch-project/OpenSearch/issues/5121) issue in the same vane.
The error I'm seeing is:
[code]

[2022-11-08 15:22] scrawfor99 opened #2864 "[Bug]: 2.4.0-Snapshot Gradle Build fails do to 403 response from netflix/nebula"
### Describe the bug

When attempting to run CI/CD tests for Windows installation of the security plugin, I came across a bug where gradle is unable to build core because of the following

[code]

Looking at the error it seems to be failure to access whatever build dependency netflix/nebula. Notably this issue did not exist as of last Friday 11/4.

### To reproduce

1. Go to this repository: https

[2022-11-08 18:39] jordarlu commented on #2759
After reviewing the objective with the team, the step#2 'Validate docker digest/SHA/layers' shall cover the following  :
1. Validating the digest between 'opensearchstaging/opensearch' and 'opensearchproject/opensearch'
2. Validating the digest between 'opensearchstaging/opensearch-dashboards and opensearchproject/opensearch-dashboards'

The expectation is the digest of 'opensearchproject' matchin

[2022-11-08 18:59] chelma opened #2865 "[Proposal] Create Upgrade Simulation Framework"
### Summary Of Work Being Proposed

It is proposed that the OpenSearch Project create a framework that makes it easy to simulate the results of performing an cluster version upgrade on ElasticSearch/OpenSearch clusters.  This framework will accelerate development of improvements to the use-story for upgrades.  Additionally, it will enable cluster administrators to create simulacra of their real-wo

[2022-11-08 18:59] dblock commented on #2864
Fixed in https://github.com/opensearch-project/OpenSearch/pull/5132

[2022-11-08 18:59] #2864 closed

[2022-11-08 19:03] dblock commented on #2865
Does this issue belong in https://github.com/opensearch-project/opensearch-devops? Or somewhere else? This repo is really for producing the distribution of OpenSearch.

[2022-11-08 20:03] prudhvigodithi commented on #2836
[Triaged] Adding @elfisher @setiah @bbarani to add more insights.

[2022-11-08 20:09] prudhvigodithi commented on #2846
[Triage]: This can added as part of [universal release mechanism](https://github.com/opensearch-project/opensearch-build/issues/1234) with maven.

[2022-11-08 20:15] prudhvigodithi commented on #2849
[Triage]: Hey @joshpalis what is the targeted release with job-scheduler as native plugin, we should time this right to unblock 3.0.0 development.

[2022-11-08 20:26] peterzhuamazon commented on #2649
New Date:

2022/11/08 EOD: New Freeze Date
2022/11/09 EOD: New RC Builds

[2022-11-08 20:47] peterzhuamazon commented on #1185
Removing this dependency from docker by adding a flag to allow a user to give flexibility to disable PA upon required, just like how its done for security plugin.

[2022-11-08 20:55] chelma commented on #2865
Maybe.  Probably?  Looking for some guidance here as this is my first time posting a proposal to the project.  Where do you think it should live and get visibility?

[2022-11-08 21:51] DarshitChanpura opened #2868 "[Broken CI] `main` builds blocked due to 2.5.0 not being available"
All current PRs to main, in security plugin, are broken due to unavailability of 2.5.0 which is blocking CI.

Reference issue: https://github.com/opensearch-project/security/issues/2221

[2022-11-08 22:05] zelinh commented on #2868
We haven't initiate our build for 2.5 as we don't currently have the manifest for 2.5. We are trying to resolve some of the issues on our side so we could get it started.
https://github.com/opensearch-project/opensearch-build/issues/2854

[2022-11-08 22:53] mch2 commented on #2865
@dblock @chelma I think we should move this to the main repo for feedback/discussion.

[2022-11-08 22:55] mch2 commented on #2865
Issue moved to [opensearch-project/OpenSearch #5161](https://github.com/opensearch-project/OpenSearch/issues/5161) via [**Zenhub**](https://www.zenhub.com/)

[2022-11-09 00:16] setiah commented on #28
Adding a related request from the forums - https://forum.opensearch.org/t/debian-ubuntu-installer-please/11442

[2022-11-09 02:23] gaiksaya commented on #368
Works as expected: https://build.ci.opensearch.org/job/distribution-maven-sign-and-release/26/
![image](https://user-images.githubusercontent.com/61760125/200721697-a6d8efa7-0f1d-403a-9f61-42bd3a1590fc.png)

[2022-11-09 06:06] peterzhuamazon commented on #2649
IntegTest Results:

OS: In progress
  - LINUX:
<details>
<summary> Linux OS integ test results </summary>

[code]
</details>

 - WINDOWS:

OSD:
  * LINUX:
  * WINDOWS: [240-dashboards-test-4270.txt](https://github.com/opensearch-project/opensearch-build/files/9954772/240-dashboards-test-4270.txt)

Failures:
<details>
<summary> windows failed OSD component list </summary>

[code]

</details>

[2022-11-09 06:07] peterzhuamazon commented on #2649
Performance Test:

* 20221109:
  * linux x64: https://ci.opensearch.org/ci/dbc/distribution-build-opensearch/2.4.0/6443/linux/arm64/tar/dist/opensearch/opensearch-2.4.0-linux-arm64.tar.gz
  * linux arm64: https://ci.opensearch.org/ci/dbc/distribution-build-opensearch/2.4.0/6443/linux/x64/tar/dist/opensearch/opensearch-2.4.0-linux-x64.tar.gz
  * windows x64: https://ci.opensearch.org/ci/dbc/distrib

[2022-11-09 06:12] peterzhuamazon commented on #2649
Performance Test:

* 20221109:
  * linux x64:
    * https://ci.opensearch.org/ci/dbc/distribution-build-opensearch/2.4.0/6443/linux/arm64/tar/dist/opensearch/opensearch-2.4.0-linux-arm64.tar.gz

  * linux arm64:
    * https://ci.opensearch.org/ci/dbc/distribution-build-opensearch/2.4.0/6443/linux/x64/tar/dist/opensearch/opensearch-2.4.0-linux-x64.tar.gz

  * windows x64:
    * https://ci.opensearc

[2022-11-09 06:41] zelinh opened #2870 "[Meta] Automate Run backward compatibility tests for the distribution (OpenSearch + plugins)"
### Background

Currently, each plugin has their own backward compatibility tests running in their GitHub actions. It sets up their own test cluster and test each individual subsequent tasks.
Here is our proposal for BWC/Upgrade testing for OpenSearch project.

All BWC tests include:
1. Rolling upgrade
2. Mixed Cluster search
3. Snapshot upgrade
4. Restart upgrade

In plugin level, the current bwc

[2022-11-09 06:41] zelinh commented on #1873
Closing in favor of https://github.com/opensearch-project/opensearch-build/issues/2870. Will update in that PR for progress.

[2022-11-09 06:41] #1873 closed

[2022-11-09 06:42] zelinh commented on #121
Closing in favor of https://github.com/opensearch-project/opensearch-build/issues/2870. Will update in that PR for progress.

[2022-11-09 06:42] #121 closed

[2022-11-09 07:45] mend-for-github-com[bot] opened #2871 "CVE-2022-31692 (High) detected in spring-security-web-5.6.1.jar - autoclosed"
## CVE-2022-31692 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>spring-security-web-5.6.1.jar</b></p></summary>

<p>Spring Security</p>
<p>Library home page: <a href="https://spring.io/projects/spring-security">https://spring.io/projects/spring-security</a></p>
<

[2022-11-09 11:24] francesco-defalco commented on #2836
Thank you for your support, in general with an Ubuntu 18.04 and docker engine 20.10.21 I finally was able to run a single node with a basic configuration "docker run -p 9200:9200 -p 9600:9600 -e "discovery.type=single-node" phoenixsystemsag/opensearch:2.3.0"

Now I am focusing to run this image with custom configuration (jvm.options and opensearch.yml) files.

Best regards

[2022-11-09 11:34] mend-for-github-com[bot] opened #2872 "CVE-2022-37865 (High) detected in ivy-2.4.0.jar, ivy-2.5.0.jar"
## CVE-2022-37865 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>ivy-2.4.0.jar</b>, <b>ivy-2.5.0.jar</b></p></summary>
<p>

<details><summary><b>ivy-2.4.0.jar</b></p></summary>

<p>The Apache Software Foundation provides support for the Apache community of open-

[2022-11-09 11:34] mend-for-github-com[bot] opened #2873 "CVE-2022-37866 (Medium) detected in ivy-2.4.0.jar, ivy-2.5.0.jar"
## CVE-2022-37866 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>ivy-2.4.0.jar</b>, <b>ivy-2.5.0.jar</b></p></summary>
<p>

<details><summary><b>ivy-2.4.0.jar</b></p></summary>

<p>The Apache Software Foundation provides support for the Apache community of ope

[2022-11-09 16:59] prudhvigodithi commented on #2836
Cool, thanks for the update @francesco-defalco.

[2022-11-09 18:28] nhtruong opened #2875 "[RELEASE] Ruby Gem "opensearch-aws-sigv4" version 1.0.0 (First release)"
### Is your feature request related to a problem? Please describe

We're adding Sigv4 Support for Ruby client in the form of a new ruby gem called `opensearch-aws-sigv4`

Issue: https://github.com/opensearch-project/opensearch-ruby/issues/71
Pull Request: https://github.com/opensearch-project/opensearch-ruby/pull/110

### Describe the solution you'd like

Release `opensearch-aws-sigv4` gem to http

[2022-11-09 20:25] #1897 closed

[2022-11-09 20:30] #184 closed

[2022-11-09 23:48] amitgalitz opened #2880 "[Proposal] What does changing a plugin name mean for OS infrastructure?"
### Is your feature request related to a problem? Please describe

We want to bring a new forecasting solution to OpenSearch. Lots of the experience is coupled with AD code, it will use similar resource management, fault tolerance and interaction with the RCF library that AD is using. However from a user experience perspective this new feature shouldn’t be coupled with the Anomaly Detection API an

[2022-11-10 02:25] gaiksaya commented on #2875
Hi @nhtruong Can you use, https://github.com/opensearch-project/opensearch-build/issues/new?assignees=&labels=release%2Cuntriaged&template=standalone_releases_template.yaml&title=%5Brelease%5D%3A+ template to create an issue?
This helps us to understand other aspects of release including dates, checks, etc.

Thanks!

[2022-11-10 02:27] gaiksaya commented on #2839
Currently the [standardReleasePipeline](https://github.com/opensearch-project/opensearch-build-libraries/blob/main/vars/standardReleasePipelineWithGenericTrigger.groovy) do not support downloading release artifacts from GitHub. We are working on adding that feature along with some bug fixes.

[2022-11-10 13:23] francesco-defalco commented on #2836
Hi @dblock, @prudhvigodithi

I would like update about my tests about s390x platform, it seems that the security manager in Opensearch has some compatibility problems with s390x platform:

[code]

I leave here some piece of my opensearch.yml
`# ---------------------------------- Various -----------------------------------
#
# Require explicit names when deleting indices:
#
#action.destructive_requ

[2022-11-10 16:44] #2875 closed

[2022-11-10 17:23] peternied commented on #2052
@bbarani @peterzhuamazon I believe there was a new manual process around how to establish code freeze earlier this week.  Maybe we could pick this up to codify the process with a degree of automation, or maybe you've got a better recommendation  since we've learned a lot since the issue was opened.

[2022-11-10 18:51] bbarani commented on #2649
OpenSearch 2.4.0  - Windows vs Linux performance stats:

Type | Date | Time | Instane | Load data set | p50 | p90 | p99 | p100 | p0 | p50 | p100 | Ops Count | p50 | p90 | p99 | p100 | p0 | p50 | p100 | Ops Count | p50 | p90 | p99 | p100 | p50 | p90 | p99 | p100 | Young
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- |

[2022-11-10 19:08] bbarani commented on #2649
OpenSearch 2.3.0  vs 2.4.0-  Linux (With security) performance stats:

Version | Architecture | Type | Date | Time | Instane | Load data set | p50 | p90 | p99 | p100 | p0 | p50 | p100 | Ops Count | Op Error Count | Error Rate | p50 | p90 | p99 | p100 | p0 | p50 | p100 | Ops Count | Op Error Count | Error Rate | p50 | p90 | p99 | p100 | p50 | p90 | p99 | p100 | Old | Young
-- | -- | -- | -- | -- |

[2022-11-10 19:16] anirudha commented on #2469
Tableau gallery is waiting on this for a while, whats the blocker or estimate here ?

[2022-11-10 19:54] rishabh6788 commented on #2880
tagging @peterzhuamazon @gaiksaya @prudhvigodithi @zelinh @bbarani for inputs.

[2022-11-10 20:22] peterzhuamazon commented on #2749
This PR temporarily resolve the issue to some degree.
Basically it allows us always have the best `latest` copy in S3 being pointed to `/latest/`.
If there is anything broken or user needs to update maven, we can remove the toggle so `latest` wont get affected. Once issue fixed, we can re-run with the toggle so latest can be updated to the actual fully corrected new version.

https://github.com/op

[2022-11-11 16:05] Divyaasm opened #2883 "Validation workflow for Tar,Rpm and Yum distributions"
The workflow creates a mechanism to automatically validate the tar, rpm and yum distributions.

[2022-11-11 18:20] elfisher commented on #2880
Hi @amitgalitz I understand the desire to change the repo name, but I'm not sure why the end user APIs are impacted by the repo name.

It feels like there are two separate problems we are folding into one problem.
1. Do we want separate APIs for forecasting an anomaly detection?
2. How do we want to manage the code of these two features?

Is that right?

[2022-11-11 20:31] amitgalitz commented on #2880
@elfisher, while I do agree that in practice these two decisions can be decided in isolation, I think there is correlation and I guess a part of what I am asking is if it’s okay to break this correlation with the change.

In this proposal I am making the assumption that we don’t want to give an API of `_plugins/_anomaly_detection/_forecasting/…` so I am treating “1. Do we want separate APIs for fo

[2022-11-12 01:34] peterzhuamazon opened #2885 "[BUG] Add Datasources Keystore for SQL integTest on test clusters"
Hi,

This command is required for 2.4.0 + SQL to pass integTest:

[code]

Temp solution:
https://github.com/peterzhuamazon/opensearch-build/blob/sql-240-test/src/test_workflow/integ_test/service_opensearch.py#L50-L67

@vamsi-amazon also confirms this change in 2.4.0 integTest runs.

Thanks.

[2022-11-14 17:22] peternied commented on #2868
@zelinh Any update? This is blocking our main builds in Security from executing BWC tests that pass.

[2022-11-14 17:24] jmazanec15 opened #2886 "Snapshot for OpenSearch 3.0.0 not getting updated on aws.oss.sonatype"
For k-NN, we are getting build failures related to a core change in our CI ([failed action](https://github.com/opensearch-project/k-NN/actions/runs/3441196981/jobs/5784014598)):
[code]

The issue was introduced in https://github.com/opensearch-project/OpenSearch/commit/e10c9253d621af08698d5b0966de4599ec342318 and then fixed in https://github.com/opensearch-project/OpenSearch/commit/4fc5c8d3fe17a87

[2022-11-14 18:07] gaiksaya commented on #2886
Related issue: https://github.com/opensearch-project/sql/issues/1065

[2022-11-14 20:22] bbarani commented on #2649
Product/ Version | Architecture | Description | Instance Type | Workload | Index latency (p50) | Index latencyp90 | Index latencyp99 | Index latencyp100 | Index throughputp0 | Index throughputp50 | Index throughputp100 | Ops Count | Op Error Count | Error Rate | Query latencyp50 | Query latencyp90 | Query latencyp99 | Query latencyp100 | Query throughputp0 | Query throughputp50 | Query throughputp

[2022-11-14 20:49] bbarani opened #2888 "[Bug]: Investigate performance degradation between 2.3.0 and 2.4.0 version"
### Describe the bug

Performance test results showed increase of indexing latency in 2.4.0 version compared to 2.3.0 version as listed [here](https://github.com/opensearch-project/opensearch-build/issues/2649#issuecomment-1314333731).  We need to identify the root cause if the degradation ( i.e. Is the degradation caused due to perf tool setup OR related to OpenSearch core changes)

### To reprod

[2022-11-14 21:16] dblock commented on #2836
@francesco-defalco That code is in OpenSearch? Open separate issues and leave this one as the umbrella for s390x release.

[2022-11-14 21:20] nhtruong opened #2891 "[release]: opensearch-aws-sigv4 v1.0.0 gem for Ruby Client"
### What is the name of your component?

`opensearch-aws-sigv4` gem

### What is the link to your GitHub repo?

https://github.com/opensearch-project/opensearch-ruby

### Targeted release date

Monday Nov 21st, 2022

### Where should we publish this component?

Rubygems.org

### What type of artifact(s) will be generated for this component?

Ruby Gem

### Have you completed the required reviews in

[2022-11-14 21:24] dblock commented on #2880
I would 1) work backwards from the "ideal" case where we would be designing this for the first time, 2) deprecate routes that aren't ideal in 2.x, 3) remove deprecated routes in 3.0. If that's a path that we can follow, let's debate the merits of 1) only? What are the options?

[2022-11-14 22:30] zelinh commented on #2707
I achieved this request under our latest consolidated release notes for 2.4.0 in #2887

[2022-11-14 23:32] anasalkouz commented on #2888
I can see the latency increased on 2.4 on 10/21/2022. @adnapibar may be Rabi if we can see what was merged on that date.

![Screen Shot 2022-11-14 at 3 30 05 PM](https://user-images.githubusercontent.com/25317259/201789443-6901ff03-8ab1-4c78-8a6b-44bdff54f0fe.png)

[2022-11-14 23:37] adnapibar commented on #2888
Doesn't look like any significant change
![image](https://user-images.githubusercontent.com/2838888/201790277-da700c3e-f8cc-4de6-8332-635061a5562d.png)

[2022-11-14 23:46] adnapibar commented on #2888
Do we know why there is a significant difference in the p99 between the perf tests ran today vs 11/10?
e.g. OpenSearch 2.3.0 vs 2.4.0 Linux (With security): 1.66% (11/10) vs -42.42% (today)

[2022-11-15 01:08] andrross commented on #2888
The NYC taxis dataset does define a couple [geo_point data types](https://github.com/opensearch-project/opensearch-benchmark-workloads/blob/main/nyc_taxis/index.json#L74). This change to [add support for GeoJSON](https://github.com/opensearch-project/OpenSearch/commit/050389736599e40c49278e900d5060f75b959282) was backported to the 2.x branch on October 21, so it lines up with the regression. @heem

[2022-11-15 01:27] navneet1v commented on #2888
The change in question defines a new way of inputting the geo point. It doesn't make any change in the indexing.

[2022-11-15 01:42] heemin32 commented on #2888
The change include creation of XContent for array format so that it can be extendible by plugin correctly. This might have caused the index delay for point data in array format.

https://github.com/opensearch-project/OpenSearch/commit/a282d399225247226d5abc3e3cd903462c973877

[2022-11-15 02:18] heemin32 commented on #2888
NYC taxis dataset contains geopoint in array format. I suspect the degradation is from the change that I made in [AbstractPointGeometryFieldMapper.java](https://github.com/opensearch-project/OpenSearch/commit/050389736599e40c49278e900d5060f75b959282#diff-4ca9b742104d223b833a8dc0028f62e91bc66569a5f0688fde997b846c10f81b).

Instead of reverting the entire commit, I am going to revert the change in `A

[2022-11-15 14:25] dblock opened #2897 "[Bug]: Upgrade deprecated Node.js 12 actions"
### Describe the bug

Seeing a lot of warnings, e.g. https://github.com/opensearch-project/opensearch-build/actions/runs/3466360183

[code]

### To reproduce

https://github.com/opensearch-project/opensearch-build/actions/runs/3466360183

### Expected behavior

_No response_

### Screenshots

If applicable, add screenshots to help explain your problem.

### Host / Environment

_No response_

### A

[2022-11-15 16:12] penghuo opened #2898 "[release]: opensearch sql cli 1.1.0"
### What is the name of your component?

opensearchsql cli

### What is the link to your GitHub repo?

https://github.com/opensearch-project/sql/tree/2.4/sql-cli

### Targeted release date

11/23

### Where should we publish this component?

https://pypi.org/project/opensearchsql/

### What type of artifact(s) will be generated for this component?

https://pypi.org/project/opensearchsql/

### Have

[2022-11-15 18:26] gaiksaya commented on #2898
Hi @penghuo ,

Thanks for creating this issue. We would like to automate this release. Details in this [issue](https://github.com/opensearch-project/opensearch-build/issues/1234).
Quick question: How are release tags managed for this component in sql repo?

[2022-11-15 18:29] gaiksaya commented on #2891
Thanks for creating this issue @nhtruong. We will be working on creating the library to release artifacts on rubygems. However, this would need some research. Details in this issue https://github.com/opensearch-project/opensearch-build/issues/2857

[2022-11-15 18:55] AMoo-Miki opened #2900 "[release]: OUI release automation"
### What is the name of your component?

OUI

### What is the link to your GitHub repo?

https://github.com/opensearch-project/oui

### Targeted release date

TBD

### Where should we publish this component?

NPM

### What type of artifact(s) will be generated for this component?

tar.gz

### Have you completed the required reviews including security reviews, UX reviews?

Yes

### Have you on-boar

[2022-11-15 18:59] nhtruong commented on #2891
@gaiksaya Thanks. I've also created an [MCM](https://mcm.amazon.com/cms/MCM-67894132) for this release.

[2022-11-15 19:02] bbarani commented on #2649
Updated performance stats after code fix ( i.e. After reverting some code view this [PR](https://github.com/opensearch-project/OpenSearch/pull/5246))

Version | Architecture | Description | Instance Type | Workload | Index latency (p50) | Index latencyp90 | Index latencyp99 | Index latencyp100 | Index throughputp0 | Index throughputp50 | Index throughputp100 | Ops Count
-- | -- | -- | -- | -- | --

[2022-11-15 20:02] #2786 closed

[2022-11-15 20:10] gaiksaya commented on #2900
Thanks for creating the issue @AMoo-Miki
Posting some offline discussion. We will be working to set up the automation for releasing OUI on NPMJS.
The automation would include below tasks:
- Adding GitHub actions workflow to create a draft release based on tag as trigger
- Adding a jenkins workflow for releasing the artifact on npmjs
- Add a webhook trigger to GitHub that based on draft release (ma

[2022-11-15 20:19] #2897 closed

[2022-11-15 20:51] dblock opened #2904 "[Bug]: Manifests workflow failing"
### Describe the bug

[code]

https://github.com/opensearch-project/opensearch-build/actions/runs/3474030907

### To reproduce

https://github.com/opensearch-project/opensearch-build/actions/runs/3474030907

### Expected behavior

_No response_

### Screenshots

If applicable, add screenshots to help explain your problem.

### Host / Environment

_No response_

### Additional context

_No response

[2022-11-15 21:15] peterzhuamazon commented on #2306
We have completed this milestone now.a

[2022-11-15 21:16] #2306 closed

[2022-11-15 21:26] peterzhuamazon commented on #2307
We will discuss about the MSI in another issue.
We will only focus on zip now.
Thanks.

[2022-11-15 21:28] peterzhuamazon commented on #2306
We will discuss the msi creation on the other issues later.
We will only focus on the zip this time.
Thanks.

[2022-11-15 21:30] peterzhuamazon opened #2905 "[Retrospective] Release 2.4.0"
How to use this issue?
Please add comments to this issue, they can be small or large in scope. Honest feedback is important to improve our processes, suggestions are also welcomed but not required.

What will happen to this issue post release?
There will be a discussion(s) about how the release went and how the next release can be improved. Then this ticket will be updated with the notes of that d

[2022-11-15 21:46] peterzhuamazon commented on #2649
### Promote to Production:
* Artifacts:
  * Windows x64 OSD: https://build.ci.opensearch.org/job/distribution-promote-artifacts/156/
  * Linux arm64 OSD: https://build.ci.opensearch.org/job/distribution-promote-artifacts/155/
  * Linux x64 OSD: https://build.ci.opensearch.org/job/distribution-promote-artifacts/154/
  * Windows x64 OSD: https://build.ci.opensearch.org/job/distribution-promote-artif

[2022-11-15 22:16] bbarani commented on #2649
Verified Docker:

[code]

[2022-11-15 22:21] bbarani commented on #2649
Native plugin installation (Validation):

[code]

[2022-11-15 22:47] peterzhuamazon commented on #2649
Maven:
<img width="483" alt="image" src="https://user-images.githubusercontent.com/65193828/202040013-7608a5ec-e692-4860-87b4-229028b11f6e.png">
https://aws.oss.sonatype.org/content/repositories/releases/org/opensearch/opensearch/2.4.0/
https://repo1.maven.org/maven2/org/opensearch/opensearch/2.4.0/

RPM:
[code]

WINDOWS:
[code]

[2022-11-15 22:55] #2707 closed

[2022-11-15 23:16] #2839 closed

[2022-11-15 23:37] gaiksaya commented on #2854
Fixed via #2889

[2022-11-15 23:37] #2854 closed

[2022-11-16 00:22] github-actions[bot] opened #2908 "[RELEASE] Release version 2.5.0"
## Release OpenSearch and OpenSearch Dashboards 2.5.0

I noticed that a manifest was automatically created in [manifests/2.5.0](/opensearch-project/opensearch-build/tree/main/manifests/2.5.0). Please follow the following checklist to make a release.

<details><summary>How to use this issue</summary>
<p>

## This Release Issue

This issue captures the state of the OpenSearch release, its assignee i

[2022-11-16 05:55] zelinh opened #2912 "[Bug]: Cron created by manifest workflow doesn't have build_platform parameter"
### Describe the bug

Our manifest workflow will help us create input manifest and add the build job to our cron once we have a new version from OS or OSD core. e.g. #2894

However since we start to build for different platform distribution, we would need to add build_platform parameters to trigger the build workflow which our current manifest workflow doesn't have. We would need to manually add t

[2022-11-16 11:13] fbaligand opened #2918 "Support for "OpenSearch Dashboards Minimum" as docker image"
Hi,

Currently, on Docker Hub, I can find only OpenSearch Dashboards "full" version:
https://hub.docker.com/r/opensearchproject/opensearch-dashboards

As a plugin developer, I would be very happy to have OpenSearch Dashboards "Minimum" version as a docker image. Either on Docker Hub, or elsewhere.

=> Could you provide "OpenSearch Dashboards Minimum" available as a Docker image?

[2022-11-16 16:49] peternied commented on #2868
@opensearch-project/engineering-effectiveness  We cannot complete the release issues for 2.4.0 which requires we have updated our plugins 2.x branches to the 2.5.0 build.

[2022-11-16 17:09] #2886 closed

[2022-11-16 18:32] peterzhuamazon commented on #33
Official Windows 2.4.0 ZIP is released now:
* https://opensearch.org/downloads.html

Thanks.

[2022-11-16 19:36] zelinh commented on #2868
@peternied We should be now having the build for 2.5.0 min artifact.

[2022-11-17 00:27] peternied commented on #2868
CI is starting to pass [1], we are able to build against 2.5.0 - thanks @zelinh !

[1] https://github.com/opensearch-project/security/pull/2249

[2022-11-17 00:58] mend-for-github-com[bot] opened #2916 "CVE-2022-45379 (High) detected in script-security-1189.vb_a_b_7c8fd5fde.jar - autoclosed"
## CVE-2022-45379 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>script-security-1189.vb_a_b_7c8fd5fde.jar</b></p></summary>

<p>Allows Jenkins administrators to control what in-process scripts can be run by less-privileged users.</p>
<p>Path to dependency file: /

[2022-11-17 01:47] mend-for-github-com[bot] opened #2917 "CVE-2022-45380 (Medium) detected in junit-1159.v0b_396e1e07dd.jar - autoclosed"
## CVE-2022-45380 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>junit-1159.v0b_396e1e07dd.jar</b></p></summary>

<p>Allows JUnit-format test results to be published.</p>
<p>Path to dependency file: /build.gradle</p>
<p>Path to vulnerable library: /home/wss-scan

[2022-11-17 03:50] gaiksaya commented on #2904
This is fixed now. Issue was set-ouput command was replaced incorrectly. It was fixed in #2903

[2022-11-17 03:50] #2904 closed

[2022-11-17 04:38] bbarani commented on #2868
Closing this issue as 2.5.0 builds are available now.

[2022-11-17 04:38] #2868 closed

[2022-11-17 04:39] bbarani commented on #2888
Closing this issue as we found the root cause of the degradation. You can view more info on this [PR](https://github.com/opensearch-project/OpenSearch/pull/5249)

[2022-11-17 04:39] #2888 closed

[2022-11-17 04:40] bbarani commented on #2648
Closing this issue as we have released 2.4.0 version.

[2022-11-17 04:40] #2648 closed

[2022-11-17 14:28] dblock commented on #2912
Should the scripts default to the full list of platforms instead?

[2022-11-17 19:26] bbarani commented on #2649
OpenSearch 2.4.0 was released on Nov 15 2022.

[2022-11-17 21:07] zelinh commented on #2912
Yes. In my PR raised, the platform will be default to be all 3 if not specified in the map.

[2022-11-17 21:48] bbarani commented on #2736
Closing this issue as we have released 2.4.0 version with neural plugin.

[2022-11-17 21:48] #2736 closed

[2022-11-17 21:49] bbarani commented on #2785
Closing this issue as we have released 2.4.0 version with Search Comparison UI plugin.

[2022-11-17 21:49] #2785 closed

[2022-11-17 21:49] bbarani commented on #2740
Closing this issue as we have released 2.4.0 version with Security Analytics Dashboards plugin.

[2022-11-17 21:49] #2740 closed

[2022-11-17 21:51] bbarani commented on #33
@peterzhuamazon Please close this issue and create separate issues for pending action items.

[2022-11-17 23:49] dreamer-89 commented on #2386
@bbarani : Thanks for checking on this. This needs a quick POC on our end to verify integration tests uses external Azure/GCP end-points for repository tests. This work is still pending. I will surface this in the team meeting to get prioritization on this task. Once this is completed we can update the jenkins job.

[2022-11-18 00:47] zelinh commented on #2870
Idea here is to download the bundle from CI bucket with `latest` index.
e.g.
[code]

The URLs used before for test cluster setup are following this pattern.
`https://artifacts.opensearch.org/releases/core/opensearch/1.3.6/opensearch-min-1.3.6-linux-x64.tar.gz` for released version
`https://artifacts.opensearch.org/snapshots/core/opensearch/2.4.0-SNAPSHOT/opensearch-min-2.4.0-SNAPSHOT-linux-x64-lat

[2022-11-18 20:38] mend-for-github-com[bot] opened #2922 "CVE-2022-45047 (High) detected in sshd-common-2.5.1.jar, sshd-core-2.5.1.jar - autoclosed"
## CVE-2022-45047 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>sshd-common-2.5.1.jar</b>, <b>sshd-core-2.5.1.jar</b></p></summary>
<p>

<details><summary><b>sshd-common-2.5.1.jar</b></p></summary>

<p></p>
<p>Path to dependency file: /build.gradle</p>
<p>Path

[2022-11-18 21:34] dlvenable commented on #2846
@prudhvigodithi , What is the timeframe for the universal release mechanism? The spring-data-opensearch project is ready for -SNAPSHOT releases now and probably almost ready for the 0.1 release as well. I'd like to make the snapshots available to users so they can start giving feedback.

[2022-11-18 21:36] dlvenable commented on #2846
@prudhvigodithi , This spring-data-opensearch project's most similar project is opensearch-java. Whatever mechanism is in place for opensearch-java today may be usable for spring-data-opensearch.

[2022-11-18 21:43] prudhvigodithi commented on #2846
Thanks @dlvenable adding @gaiksaya and @peterzhuamazon can we continue to use the same mechanism used at `opensearch-java`?
@bbarani

[2022-11-18 22:02] macohen opened #2924 "Suggested Improvements to Release Template"
When this issue is created in the target repos, it would be helpful to have some more detail, especially if it is for a new repo. Setting up codecov, dependabot, actions, backporting needed handholding from the release team that may not have been necessary if there was a link to another checklist for new repos. Also, the first step in post release may be clarified with an example. For example: "Pr

[2022-11-18 23:06] noCharger commented on #2671
AI: Include FT repo into the template https://github.com/opensearch-project/opensearch-build/blob/main/manifests/templates/opensearch-dashboards/3.x/manifest.yml

[2022-11-19 00:20] github-actions[bot] opened #2925 "[RELEASE] Release version 2.4.1"
## Release OpenSearch and OpenSearch Dashboards 2.4.1

I noticed that a manifest was automatically created in [manifests/2.4.1](/opensearch-project/opensearch-build/tree/main/manifests/2.4.1). Please follow the following checklist to make a release.

<details><summary>How to use this issue</summary>
<p>

## This Release Issue

This issue captures the state of the OpenSearch release, its assignee i

[2022-11-19 00:33] gaiksaya commented on #2846
Hey! I'll update this issue on 11/21 after discussing few pointers with the team.
Thanks!

[2022-11-21 01:10] mend-for-github-com[bot] opened #2927 "CVE-2022-4065 (Medium) detected in testng-7.4.0.jar"
## CVE-2022-4065 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>testng-7.4.0.jar</b></p></summary>

<p>Testing framework for Java</p>
<p>Library home page: <a href="https://testng.org">https://testng.org</a></p>
<p>Path to dependency file: /build.gradle</p>
<p>P

[2022-11-21 13:59] reta commented on #2846
FYI, the Jenkins files are PRed https://github.com/opensearch-project/spring-data-opensearch/pull/46

[2022-11-21 16:23] penghuo commented on #2898
we did not define release tag for component.

[2022-11-21 17:27] bbarani commented on #2849
@joshpalis I would recommend to target 2.6.0 release since this is technically a breaking change for the build and development process so we need to synchronize the effort between multiple teams. CC: @CEHENKLE @peterzhuamazon @minalsha

[2022-11-21 17:33] bbarani commented on #123
Closing this issue as we have automated integration, BWC (at plugin level) and performance testing for OpenSearch builds. We will track the implementation of performance testing for distribution builds in this [issue](https://github.com/opensearch-project/opensearch-build/issues/2870).

[2022-11-21 17:33] #123 closed

[2022-11-21 17:34] bbarani commented on #332
@gaiksaya Can you please review and close this issue if this has been already addressed?

[2022-11-21 17:35] bbarani commented on #369
@kavilla @peterzhuamazon Do you have any update on this issue?

[2022-11-21 17:37] bbarani commented on #964
@opensearch-project/engineering-effectiveness Is this issue still valid? Can we close this issue?

[2022-11-21 17:41] bbarani commented on #788
@opensearch-project/engineering-effectiveness Please provide an update.

[2022-11-21 17:45] bbarani commented on #828
I am closing this issue as we have released Windows artifact along with supporting version of K-NN plugin in 2.4.0 release. Feel free to re-open this issue if needed.

[2022-11-21 17:45] #828 closed

[2022-11-21 17:46] bbarani commented on #814
@peterzhuamazon Can you provide an update for this issue?

[2022-11-21 17:50] bbarani commented on #696
@saratvemulapalli @anasalkouz Can you please let us know if you have documented the settings to print debug logs in case of any issues?

[2022-11-21 17:51] bbarani opened #2928 "Verify the artifacts in maven nexus releases repo."
Validate the artifacts and associated contents on Maven

Acceptance criteria:
- [x]  Every .jar came with a corresponding .md5 and .sha1 signature file.
- [ ] Every artifact comes with a corresponding sources jar.
- [ ] Every artifact comes with a corresponding javadoc jar.
- [ ] POM contains project name, description, URL, license information, SCM URL, and developer information.

 (or)

Acceptanc

[2022-11-21 17:53] bbarani commented on #700
Closing this issue as it will be tracked via https://github.com/opensearch-project/opensearch-build/issues/2928

[2022-11-21 17:53] #700 closed

[2022-11-21 17:57] bbarani commented on #1217
@ohltyler @tianleh Do you have any update on this issue?

[2022-11-21 17:58] bbarani commented on #1363
@setiah Is this issue still valid? Can we close it for now?

[2022-11-21 17:59] bbarani commented on #1182
@prudhvigodithi @peterzhuamazon Can you update this issue?

[2022-11-21 18:25] peterzhuamazon commented on #2309
The publishing is actually added in this PR:
* https://github.com/opensearch-project/opensearch-build/pull/2869
* https://github.com/opensearch-project/opensearch-build-libraries/pull/31

[2022-11-21 18:28] #2309 closed

[2022-11-21 18:39] peterzhuamazon commented on #2310
We will put MSI steps in another issue, ZIP is released now so it is partially completed.

[2022-11-21 18:40] #2310 closed

[2022-11-21 18:46] peterzhuamazon commented on #2308
#2761

[2022-11-21 18:48] peterzhuamazon commented on #2308
We are also waiting for the #2725 from @Divyaasm as well.

[2022-11-21 18:49] peterzhuamazon commented on #2311
We will close this as zip is using the same detached signature as tar.
We will work on msi related signings later.

Thanks.

[2022-11-21 18:51] #2311 closed

[2022-11-21 18:58] peterzhuamazon opened #2929 "[Windows] Adding Windows for MSI/EXE format"

[2022-11-21 19:15] Divyaasm commented on #2712
Closed by https://github.com/opensearch-project/opensearch-build/pull/2725

[2022-11-21 19:15] #2712 closed

[2022-11-21 20:14] peterzhuamazon commented on #828
Addtional info, we actually add that in here:
* https://github.com/opensearch-project/opensearch-build/blob/main/scripts/startup/zip/windows/opensearch-windows-install.bat

[2022-11-21 20:15] peterzhuamazon commented on #814
Hi @bbarani already done right here:
* https://github.com/opensearch-project/opensearch-build/blob/main/jenkins/opensearch/distribution-build.jenkinsfile#L76

[2022-11-21 20:16] #814 closed

[2022-11-21 20:18] peterzhuamazon commented on #788
All the build artifacts are now in S3, but build log is directly associate with Jenkins.
We can use the build number to find the build log.

Thanks.

[2022-11-21 20:23] peterzhuamazon commented on #964
The artifact always bundle the corresponding JDK version.
If user use an unsupported JDK on their host and bypass the bundled JDK, the cluster will have issue to start up.
Need more confirmation.

[2022-11-21 20:28] dblock commented on #2929
Eventually this should become 2 issues:

- Create an OpenSearch .MSI, that would be the equivalent of a `-min` distribution that installs OpenSearch as a service.
- Create an OpenSearch Bootstrapped .EXE that would include plugins and other OpenSearch runtime dependencies. Users will be able to choose which plugins to install.

[2022-11-22 00:13] joshpalis commented on #2849
Sure, I am fine with targeting 2.6.0 release. I have no strong opinions against this. @minalsha is this alright with you?

[2022-11-22 19:20] minalsha commented on #2849
@bbarani  we are working closely with folks across different teams. I don't see why we need to push it out. Lets target for 2.5.0 and see where we land on 01/02/2023. cc @CEHENKLE @prudhvigodithi @joshpalis @dagneyb

[2022-11-23 01:04] gaiksaya commented on #2857
Adding the approach here as discussed with @opensearch-project/engineering-effectiveness

Apart from building and maintaining the build environment for building the gems, another approach is to use the AWS secrets manager integrated with GitHub Actions to fetch the key and sign the gems while they are being built in Github Actions.
Reference: https://aws.plainenglish.io/no-more-aws-access-keys-in-

[2022-11-23 18:06] anirudha commented on #2469
@bbarani for adding a priority on this

[2022-11-24 02:19] gaiksaya commented on #2857
After debugging alot the missing piece was the content header in above curl:
[code]

[2022-11-28 16:14] penghuo commented on #2898
can we onboarding the automated release now?

[2022-11-28 17:14] scrawfor99 opened #2937 "[META] Release template suggestion: clarify 'Check that this repo is included in the distribution manifest.'"
The security repo's only suggestion for possible improvements to the release template would be to maybe clarify the step that requests that repositories are 'Check that this repo is included in the distribution manifest.' Right now, it is not obvious that the tags are added by the build team after the fact and it may be slightly confusing to newer team/organization members.

This is very much a ta

[2022-11-28 18:10] gaiksaya commented on #2898
Yes. As mentioned in the above design diagram, the release needs to be based on tag as a trigger.

[2022-11-28 19:15] dblock commented on #2188
I've added https://github.com/opensearch-project/opensearch-build/issues/2188 for dashboards-maps.

[2022-11-28 19:42] mend-for-github-com[bot] opened #2938 "CVE-2022-41854 (Medium) detected in snakeyaml-1.29.jar - autoclosed"
## CVE-2022-41854 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>snakeyaml-1.29.jar</b></summary>

<p>YAML 1.1 parser and emitter for Java</p>
<p>Library home page: <a href="http://www.snakeyaml.org">http://www.snakeyaml.org</a></p>
<p>Path to dependency file: /

[2022-11-28 19:42] mend-for-github-com[bot] opened #2939 "CVE-2019-10357 (Medium) detected in workflow-cps-global-lib-2.14.jar - autoclosed"
## CVE-2019-10357 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>workflow-cps-global-lib-2.14.jar</b></p></summary>

<p>The Jenkins Plugins Parent POM Project</p>
<p>Library home page: <a href="https://wiki.jenkins.io/display/JENKINS/Pipeline+Shared+Groovy+Libra

[2022-11-28 19:43] #2775 closed

[2022-11-28 19:43] #2314 closed

[2022-11-28 19:43] #2922 closed

[2022-11-28 19:43] #2639 closed

[2022-11-28 19:43] #2640 closed

[2022-11-28 19:43] #2641 closed

[2022-11-28 19:43] #2685 closed

[2022-11-28 19:43] #2686 closed

[2022-11-28 20:17] #1185 closed

[2022-11-28 23:33] #2857 closed

[2022-11-29 21:18] peterzhuamazon commented on #2460
We have merged the #2526 PR thanks to @mnin contribution.

@setiah @bbarani We will put it onto Jenkins pipeline as the next step.

Thanks.

[2022-11-30 01:07] opensearch-ci-bot opened #2943 "[AUTOCUT] OS Distribution Build Failed for OpenSearch-Dashboards-1.3.7"
***Received Error***: **Error building OpenSearch-Dashboards, retry with: ./build.sh manifests/1.3.7/opensearch-dashboards-1.3.7.yml --component OpenSearch-Dashboards**.
                      The distribution build for OpenSearch-Dashboards has failed.
                      Please see build log at https://build.ci.opensearch.org/job/distribution-build-opensearch-dashboards/4354/consoleFull

[2022-11-30 01:55] opensearch-ci-bot opened #2942 "[AUTOCUT] OS Distribution Build Failed for OpenSearch-Dashboards-2.4.1"
***Received Error***: **Error building OpenSearch-Dashboards, retry with: ./build.sh manifests/2.4.1/opensearch-dashboards-2.4.1.yml --component OpenSearch-Dashboards**.
                      The distribution build for OpenSearch-Dashboards has failed.
                      Please see build log at https://build.ci.opensearch.org/job/distribution-build-opensearch-dashboards/4356/consoleFull

[2022-11-30 03:55] wbeckler commented on #2880
If the future of plugins is microservice-style [extensions](https://github.com/opensearch-project/OpenSearch/issues/2447), maybe the right way to do this would be to build the common features of AD/forecasting as a permanent extension point or as a time series extension, and then AD and forecasting would be extensions built on that extension point or extension API.

[2022-11-30 15:19] dblock opened #2945 "Revert component-based scripts lookup"
### Is your feature request related to a problem? Please describe

In https://github.com/opensearch-project/opensearch-build/pull/2934 we have added a way to include component build scripts. There are several problems with that.

1. In https://github.com/opensearch-project/opensearch-build/issues/2188 we agreed to split monorepos. The maps monorepo came in as another new kind of monorepo that shou

[2022-11-30 15:25] dblock commented on #2880
@wbeckler Are you saying "enable AD to add an extension point to the SDK"? I think we agree.

[2022-11-30 15:25] #2942 closed

[2022-11-30 19:01] ohltyler opened #2949 "Enforce post-release activities"
Currently many post-release activities are not being enforced and subsequently not done by component owners.
The 2 main ones I've seen that cause the most issues are:
1.  Not version bumping the `.x` branches to the next minor version / developer iteration
2. Not adding component to the manifest of the next minor version / developer iteration

When these are not done, it blocks components with dep

[2022-11-30 19:17] peterzhuamazon commented on #28
@setiah @bbarani now we have merged @mnin changes to have deb in python code, next step would be to bring it up to Jenkins.

Please advice on the plans to get it into a release form.

Thanks.

[2022-11-30 19:30] ohltyler commented on #2905
I've added #2949 to discuss enforcing post-release activities

[2022-11-30 20:21] dblock commented on #2949
I believe all these things are being automated, cc: @prudhvigodithi, how far are we from that?

[2022-11-30 22:16] peterzhuamazon commented on #851
Andrew Improvement: https://github.com/opensearch-project/opensearch-build/pull/2913

[2022-11-30 22:57] peterzhuamazon commented on #851
Reta add JDK19:
* https://github.com/opensearch-project/opensearch-build/pull/2808