[2022-04-26 23:57] peterzhuamazon commented on #2041
@spotrh @dblock what is your thoughts on this?

Thanks.

cc @bbarani @gaiksaya

[2022-04-26 23:58] peterzhuamazon commented on #2040
@spotrh @dblock @bbarani would love to have your thoughts on this.

Thanks.

[2022-04-27 01:02] peterzhuamazon commented on #1624
RPM:
[code]

[code]

[2022-04-27 01:07] peterzhuamazon commented on #1624
[code]

[code]

[2022-04-27 01:13] peterzhuamazon commented on #1624
<details>
<summary>TPM OS x64 + OSD x64</summary>

[code]

[code]

</details>

[2022-04-27 01:18] peterzhuamazon commented on #1624
<details>
<summary>RPM OS arm64 + OSD arm64</summary>

[code]

[code]

</details>

[2022-04-27 01:29] peterzhuamazon opened #2043 "[BUG][2.0.0]PA not running in RPM distribution"
The error log:

[code]

This error is caused by the change of config directory in RPM.
Not in `$OPENSEARCH_HOME/config` anymore, but in `/etc/opensearch`.

How to resolve:
1. We can have `bin/opensearch-performance-analyzer/performance-analyzer-agent-cli` to point to `$OPENSEARCH_PATH_CONF` instead of `$OPENSEARCH_HOME/config`.
2. We can also create a `config` symlink in the rpm pointed to `/etc/o

[2022-04-27 01:32] peterzhuamazon commented on #2043
@sruti1312 @CEHENKLE @bbarani

[2022-04-27 04:36] bbarani commented on #2043
@peterzhuamazon Can we also add automated tests for PA to capture these issues for RPM as well?

[2022-04-27 05:30] bbarani commented on #2040
@anirudha Do you have any inputs since your team helped create the initial signing keys? The current sub key is set to expire in a year from the creation datae. We are wondering if its better to create a new sub key from master key without expiration OR create sub key with 1 year expiration. Do you have any security recommendation?

[2022-04-27 07:11] gaiksaya commented on #2041
I believe we should avoid signing anything with master key. It is recommended to always use sub-keys which can be revoked in case of security issues (like private key being leaked).

[2022-04-27 11:26] dblock opened #2044 "Generated manifests for OpenSearch 2.x need custom JAVA_HOME"
### Is your feature request related to a problem? Please describe

Automation opened a PR to generate the OpenSearch 3.0 manifest. That manifest was missing `JAVA_HOME` that was added manually in https://github.com/opensearch-project/opensearch-build/pull/2042.

### Describe the solution you'd like

Add a way to customize generated manifests for various products/versions, add `JAVA_HOME` to the Op

[2022-04-27 16:58] dblock commented on #2043
Is the fix in this repo or PA? Can we please move it to the right repo and assign to an engineer in PA?

[2022-04-27 17:17] peterzhuamazon commented on #2041
This ticket seems mentions the issue spawned back in 2007 and only a few years ago has an update in 4.12.90 of fedora release of rpm.

https://bugzilla.redhat.com/show_bug.cgi?id=227632

As of now the common version of rpm shipped within AL2/CentOS7 and more is 4.11.x.

[2022-04-27 17:27] peterzhuamazon commented on #2041
I found that rockylinux8 is using higher version of rpm, will test it.
[code]

[2022-04-27 17:48] peterzhuamazon commented on #2041
Rockylinux8 also supplies 2.2.20, which requires additional setup to import secret keys:
[code]

[2022-04-27 17:49] CEHENKLE commented on #1624
Hey.  We discovered a problem last night with PA and RPM.  We're currently evaluating, but if we need to rebuild, it would push us off Thursday as a release date to (likely Tuesday).   Please feel free to [chime in on the issue](https://github.com/opensearch-project/opensearch-build/issues/2043), and if we do move the date to accommodate, we'll update here.

[2022-04-27 18:00] peterzhuamazon commented on #2041
We also need to sign as SHA256 not SHA1 anymore.

[2022-04-27 19:30] dblock commented on #2040
@peterzhuamazon What are the pros/cons of each of these proposals?

[2022-04-27 19:31] peterzhuamazon commented on #2041
Test shows if we sign with subkey then verify with `rpm version 4.12+` it will pass, but move it to any CentOS7 / AL2 it will fail as `rpm version 4.11.x`.

Therefore, we cannot afford to sign with subkey if we still want to support CentOS7/AL2.

Thanks.

[2022-04-27 20:07] peterzhuamazon commented on #2040
Added in description.

Thanks.

[2022-04-27 20:27] bbarani commented on #2041
Can we also look in to option of creating separate master key just for RPM signing to reduce the blast radius in case of key leak?

[2022-04-27 20:59] peternied opened #2046 "[Retrospective] Release version 2.0.0 (RC1)"
How to use this issue?
Please add comments to this issue, they can be small or large in scope. Honest feedback is important to improve our processes, suggestions are also welcomed but not required.

What will happen to this issue post release?
There will be a discussion(s) about how the release went and how the next release can be improved. Then this ticket will be updated with the notes of that d

[2022-04-27 20:59] peternied commented on #1624
@peterzhuamazon I've created https://github.com/opensearch-project/opensearch-build/issues/2046 for retro items

[2022-04-27 21:01] peternied commented on #2046
Security had trouble getting the proper 2.0.0 build for a while, we thought we had done what was needed for the transport client removal, but ended up having to revisit it several times.  I'm not sure mechanically what wasn't working (getting the correct build, change propagation delays)

[2022-04-27 21:02] peterzhuamazon commented on #2044
We just need the manifest workflow to add this line for OpenSearch BE.
The problem being we can only default to the highest java version tho.

[2022-04-27 21:03] peternied commented on #2046
It doesn't look like component issues are being used to track release status, see several issues that do not yet have preparation phases complete (this is a sampling of them)
* https://github.com/opensearch-project/OpenSearch/issues/2245
* https://github.com/opensearch-project/OpenSearch-Dashboards/issues/1279
* https://github.com/opensearch-project/index-management/issues/274

Is there a new proc

[2022-04-27 21:05] peternied commented on #2046
Build qualifier switch from 2.0.0-alpha1 -> 2.0.0-rc1 was hard to track

[2022-04-27 21:13] dblock commented on #2040
What do other projects do? We also have the option to defer this decision and extend the key for a limited period of time (e.g. another year)?

[2022-04-27 21:17] dblock commented on #2044
There's some hard-coding going on in https://github.com/opensearch-project/opensearch-build/blob/3b65a0a9803f53d4ad1bb4c51763748150fb9bd0/src/manifests_workflow/input_manifests.py#L108 that will need refactoring.

[2022-04-27 21:22] dblock commented on #2046
No new process, just nobody ran after plugin owners this time around.

[2022-04-27 21:23] zelinh commented on #1898
I think in order to implement this automation. We will need to standardize our GitHub Releases contents for each release. We will need to decide what we want to include in our Release section. e.g. link or contents of the release notes, download links from `opensearch.org` for OpenSearch and OpenSearch Dashboards; source codes(.zip & .tar.gz) as assets. I also noticed GitHub action was used to cre

[2022-04-27 22:26] peterzhuamazon commented on #2043
https://github.com/opensearch-project/performance-analyzer-rca/pull/172
https://github.com/opensearch-project/performance-analyzer/pull/200

[2022-04-27 23:00] CEHENKLE commented on #1624
Based on the time needed to retest to fix https://github.com/opensearch-project/opensearch-build/issues/2043 we'll be moving the release date of 2.0 RC1 to Tuesday, May 3rd (updating this ticket, roadmap and blog post now).

We may need to move out the full 2.0 release date if we think that's not going to be enough time to get feedback, so please let us know.  Please leave your feedback here on th

[2022-04-27 23:54] CEHENKLE commented on #1624
BTW for some context on the 2.0-RC and 2.0 window.  With the RC date moved, but the full release not moved, things look like this:

 |Version	|Feature Freeze	|Release Date	|
 |1.3.2  |April 29 2022 | May 05 2022 |
 |2.0.0 RC	|Core: March 21st|	|
 | 	|Plugins and Clients: April 18th	| ~~April 26th~~ ~~April 28th~~	May 3rd|
 |2.0.0 GA	|May 2nd	|May 12th	|
 |1.3.3 | June 3rd  | June 9th  |

Moving th

[2022-04-28 01:00] #2043 closed

[2022-04-28 01:03] peterzhuamazon commented on #58
Added notificationsDashboards now.

[2022-04-28 02:13] peterzhuamazon commented on #922
@bbarani we can close this as we now maintain the sysvinit script alongside systemd scripts.

[2022-04-28 02:13] #922 closed

[2022-04-28 16:35] joshuali925 opened #2051 "Release .NET Clients version 1.0.0 to NuGet"
### Is your feature request related to a problem? Please describe

Since NuGet account is created, we would like to release the .NET clients from [opensearch-net](https://github.com/opensearch-project/opensearch-net/) repo. Here is the list of packages and descriptions:
- `OpenSearch.Client` -- Strongly typed interface to OpenSearch. Fluent and classic object initializer mappings of requests and r

[2022-04-28 16:36] joshuali925 commented on #1855
thanks @zelinh, created issue to release packages https://github.com/opensearch-project/opensearch-build/issues/2051

[2022-04-28 16:59] zelinh commented on #1882
@peternied As I stated above in the preparation part, we don't create component release issue for patch release. We are still targeting the release for next Thursday since we assume there would be lightweight changes (e.g. CVE fix) for patch release.

[2022-04-28 17:03] peternied opened #2052 "Need to establish a code freeze mechanism"
### Is your feature request related to a problem? Please describe

During the distribution release process, there is a milestone for feature freeze, representing the completion of all new features.  It is expected that bugs will be reported, triaged, and resolved due to integration testing.  After a time period a release candidate is picked by the distribution release owner.

If one of the compone

[2022-04-28 17:28] peternied commented on #2052
### [Proposal] Use `./build.sh {manifest} --lock`
The build process can generate stable references for all manifest components.  A release candidate can be locked in place by running the following process;
* You want to code freeze to ensure no more changes are introduced
* fetch the most recent version of opensearch-build
* `./build.sh {manifest} --lock`
* `mv {manifest}.lock {manifest}`
* Commit

[2022-04-28 17:34] peternied commented on #1882
@zelinh There are checklist items that are not checked off such as `Update the Campaigns section to include monitoring campaigns during this release.` it sounds like this is done so it should be checked off. It sounds like a major of this are done, but not recorded.  Could we make sure this issue is up-to-date?

There are links on this issue like https://github.com/opensearch-project/security-dash

[2022-04-28 18:08] dblock commented on #2052
The idea of code-freeze seems that there's a few days after we say "code freeze" where nothing is merged onto a release candidate branch (e.g. 2.0). This feels like a mistake. Our main problem is that it takes > 1 day to take a given build and run non-automated processes against it, in order to evaluate whether that build is good enough for an RC. If that could be done quickly, we would not need t

[2022-04-28 19:39] peternied commented on #2026
In security we added another tag `v2.0.0-GeneralAvailability` to track this issues as an ad-hoc process

[2022-04-28 20:15] ananzh commented on #1624
Current OSD 2.0.0-rc1 bwc test (no plugins)

[code]

[2022-04-28 20:15] dblock commented on #2026
Post RC1 it's just v2.0.0, no?

[2022-04-28 20:18] peternied commented on #2026
Until RC1 has shipped, we don't have a clear label for these issues.  Makes it harder to drive queries to zero

[2022-04-28 20:26] peternied commented on #2046
The release issue is unreadable with the description being so long and test reports hard to find relevant information to the state of the release.

[2022-04-28 21:32] bbarani commented on #2052
@dblock this is not the main problem "Our main problem is that it takes > 1 day to take a given build and run non-automated processes against it, in order to evaluate whether that build is good enough for an RC." The main issue is the fact that there is always a chance that we would need to re-generate RC for various reasons (ex: Found a critical bug fix at the last minute after finalizing RC, cri

[2022-04-29 01:24] CEHENKLE opened #2054 "[Bug]: Understand and mitigate the source of Index latency increase in 2.0-RC"
### Describe the bug

While running performance tests for 2.0-RC1, we saw an indexing latency appear to increase by ~13%.  This issue is to investigate the source of the increase so we can propose ways to mitigate it.

https://github.com/opensearch-project/opensearch-build/issues/1624#issuecomment-1109097763

### To reproduce

https://github.com/opensearch-project/opensearch-build/issues/1624#issu

[2022-04-29 06:16] rursprung commented on #716
i just re-read this ticket to see whether it'll land in 2.0 and have some comments to add:
* first of all: thanks for working on this! sorry for not having helped out here, somehow time is running through my fingers and i never got around to it :(
* i mainly (only?) see comments about publishing _plugin_ ZIPs to maven, but please note that my request was also explicitly for the final distributions

[2022-04-29 12:44] prudhvigodithi commented on #716
Hey @rursprung
The target for plugins to be part of the maven is to allow download of zip's by dependency model, off course once they are in maven they can even be downloaded using HTTP/S methods to run the required tests or to install the plugin in the cluster.
Distributions (the tar format files) are good to be part of maven, but I don't see a strong need to download them using dependency model,

[2022-04-29 13:04] rursprung commented on #716
as i had already mentioned in https://github.com/opensearch-project/opensearch-build/issues/20#issuecomment-915890695 and https://github.com/opensearch-project/opensearch-build/issues/20#issuecomment-916674597 (and i think also various other places) we'd actually want to pull in the opensearch distribution also via maven as it brings a ton of benefits (caching amongst them).

[2022-04-29 15:21] rursprung commented on #716
you're right, i mean the `.tar.gz` files, e.g. this one here: https://artifacts.opensearch.org/releases/core/opensearch/1.3.1/opensearch-min-1.3.1-linux-x64.tar.gz
once you have windows distributions i guess that would be a ZIP, though i personally don't care about that one (then again, for consistency reasons that one should also be published)

[2022-04-29 15:24] dlvenable commented on #1624
@CEHENKLE , Data Prepper 1.4 is releasing on May 10 and it will need the 2.0.0-RC1 client to be compatible with OpenSearch 2.0 clusters. The May 3rd release date for 2.0.0 RC1 works for this, but pushing it back further would risk OpenSearch 2.0 compatibility in Data Prepper 1.4.

[2022-04-29 18:10] dblock commented on #2052
I guess we disagree on approach. I'd prefer a train model, and not to have "and we are trying to avoid additional scope / moving parts in those scenarios", projects that make up the distribution should be able to put bug fixes in for as long as they like and those can absolutely be piled up between the first RC candidate, and the second RC candidate. We pick a build, we test, we find it's not good

[2022-04-29 18:19] dblock commented on #716
@rursprung @prudhvigodithi Looks like current issues talk about publishing "plugin zips". After @prudhvigodithi is done with that all those will get closed. I think we need two more related issues: one to publish the min distribution (e.g. https://artifacts.opensearch.org/releases/core/opensearch/1.3.1/opensearch-min-1.3.1-linux-x64.tar.gz) to maven, and another to publish the distribution zip (e.

[2022-04-29 19:44] peterzhuamazon commented on #1545
20220429: Remove PA not properly stopped before install/uninstall
* https://github.com/opensearch-project/opensearch-build/pull/2062

[2022-04-30 06:17] rursprung commented on #716
i was going to raise a new ticket, but then i realised again that the title of this ticket here literally is "publish _distribution_ ZIPs to Maven", so based on that i think it should cover it? and you raised this ticket here out of our discussion over on https://github.com/opensearch-project/opensearch-build/issues/20#issuecomment-938175872

i'm fine with raising a new ticket (or even two, as you

[2022-05-02 13:45] dblock commented on #1499
I don't believe this was done, reopening.

[2022-05-02 13:48] #1499 closed

[2022-05-02 13:51] dblock opened #2066 "Add support for multiple clusters for integration tests (CCR)"
### Is your feature request related to a problem? Please describe

Coming from https://github.com/opensearch-project/cross-cluster-replication/issues/383#issuecomment-1114747305, CCR needs a multi-node cluster for replication tests. Because of the different scenarios under test with security, CCR ITs create local clusters with specific configurations for each test case. An analysis put that number

[2022-05-02 17:25] CEHENKLE commented on #1624
@dlvenable Sounds like you may need a 1.5?

[2022-05-02 19:05] bbarani commented on #2051
@zelinh @prudhvigodithi Please proceed with publishing the client

[2022-05-02 20:07] dblock commented on #716
@rursprung yeah let's not assume side effects :) you're right though it was all zips in this issue - I decided to rename this one to only focus on publishing _plugin_ zips - care to open 2 more for the other kind of artifacts, one for each?

[2022-05-02 20:30] rursprung opened #2068 "publish minimal distribution to maven"
### Is your feature request related to a problem? Please describe

currently, automated builds (e.g. of in-house docker images) don't have a good way to automatically pull in the `.tar.gz` file of the minimal distribution: the artifact is just offered via HTTPS, the link has to be known.

### Describe the solution you'd like

the minimal distribution artifact (e.g. https://artifacts.opensearch.org

[2022-05-02 20:30] dlvenable commented on #1624
@CEHENKLE ,

That may be necessary if the Maven artifacts are not available in time for our release. If the 2.0.0-rc1 client is available in Maven this week though, we can use it in Data Prepper for the 1.4 release.

Broadly speaking I was expressing a favorable vote for putting RC1 out sooner in response to:

[2022-05-02 20:31] dlvenable commented on #1624
Data Prepper already has a 1.5 scheduled. But, we had hoped to have the 2.0.0 support available in 1.4 prior to the release of OpenSearch 2.0.0 GA.

[2022-05-02 20:32] rursprung opened #2069 "publish full distribution to maven"
### Is your feature request related to a problem? Please describe

currently, automated builds (e.g. of in-house docker images) don't have a good way to automatically pull in the `.tar.gz` file of the full distribution: the artifact is just offered via HTTPS, the link has to be known.

### Describe the solution you'd like

the full distribution artifact (e.g. https://artifacts.opensearch.org/relea

[2022-05-02 20:34] rursprung commented on #716
done: #2068 & #2069, i hope they contain all relevant information.

PS: that was a sneaky change of the title on this ticket ;)

[2022-05-02 20:37] dblock opened #2070 "Generate statistics on various contributor activities across product releases"
### Is your feature request related to a problem? Please describe

I would like to know how well we're doing with engaging the open-source community for OpenSearch, release after release.

### Describe the solution you'd like

A way to generate/visualize answers to the following questions:

1. How many non-Amazonians/Amazonians contributed to OpenSearch 2.0?
2. How many non-Amazonians/Amazonians c

[2022-05-02 20:38] dblock commented on #716
I "clarifed" it :) thank you!

[2022-05-02 21:29] seanneumann commented on #1780
Dashboards issue tracking breaking changes for plugins... [[2.0] Dashboards Plugin Errors #1206](https://github.com/opensearch-project/OpenSearch-Dashboards/issues/1206)

[2022-05-03 00:43] peterzhuamazon commented on #2041
See description for latest update as we are using master secret key to sign rpm.

[2022-05-03 00:43] #2041 closed

[2022-05-03 16:59] bbarani commented on #2052
@dblock I am ok with adding bug fixes but not backports that introduces any additional scope not planned for a specific release. We are technically getting in to the zone of "scope creep" when we allow that to happen. This will create a cyclic dependency and never ending RC build generation process. We create a finalized RC build, some team reports an issue and apply bug fix. We create a new RC bu

[2022-05-03 17:23] zelinh commented on #1882
Integ-test for OpenSearch arm64
[code]

[2022-05-03 17:24] zelinh commented on #1882
integ-test for OpenSearch x64
[code]

[2022-05-03 17:58] peterzhuamazon opened #2075 "[BUG] Docker Promotion workflow does not support latest tag even though code is there"
[code]

[2022-05-03 17:59] peterzhuamazon opened #2076 "[BUG] Add support for promotion workflow for qualifier and rpm"
The TAR promotion workflow to migrate the staging artifacts to production bucket doesn't support qualifiers hence need to enhance the workflow to support the qualifiers.

[2022-05-03 18:12] martin-gaievski commented on #1780
no breaking changes for k-NN plugin

[2022-05-03 18:16] jackiehanyang commented on #1780
ml-commons and PPL integration has a breaking change, please see more details in [Support more orderless parameters for KEMANS and AD commands](https://github.com/opensearch-project/sql/issues/462)

[2022-05-03 18:37] peterzhuamazon commented on #1624
Native Plugins:
[code]

[2022-05-03 18:42] bbarani commented on #2046
How could we have found the issue on the website drop down before day of launch? CC: @CEHENKLE

[2022-05-03 19:08] peterzhuamazon commented on #1624
Maven Central Release:
![image](https://user-images.githubusercontent.com/65193828/166524488-76d3df2d-6bb3-4cc5-aa50-deaa302fc58c.png)

https://repo1.maven.org/maven2/org/opensearch/opensearch/2.0.0-rc1

[2022-05-03 19:16] peterzhuamazon opened #2077 "[Retrospective] Release version 2.0.0-rc1"
#1624

How to use this issue?
Please add comments to this issue, they can be small or large in scope. Honest feedback is important to improve our processes, suggestions are also welcomed but not required.

What will happen to this issue post release?
There will be a discussion(s) about how the release went and how the next release can be improved. Then this ticket will be updated with the notes of

[2022-05-03 19:40] peterzhuamazon commented on #2077
Close as https://github.com/opensearch-project/opensearch-build/issues/2046 is already opened now.

[2022-05-03 19:40] #2077 closed

[2022-05-03 19:43] peterzhuamazon commented on #2046
* https://github.com/opensearch-project/opensearch-build/issues/1892
* https://github.com/opensearch-project/OpenSearch-Dashboards/issues/1486
* https://github.com/opensearch-project/opensearch-build/issues/1860
* https://github.com/opensearch-project/opensearch-build/issues/1893
* https://github.com/opensearch-project/opensearch-build/issues/1965
* https://github.com/opensearch-project/OpenSearch

[2022-05-03 20:12] peterzhuamazon commented on #2046
@anirudha @praveensameneni @bbarani
Let us discuss about managing both OS and OSD plugins within the same repo.

[code]

As we can see OS 2695 use a different commit from `notifications` than OSD 3015 also in `notifications`, to build OS and OSD notifications plugins respectively.

This would cause potential discrepancies between OS and OSD build going on.

We need to discuss how to properly manag

[2022-05-03 20:26] peterzhuamazon opened #2078 "[Meta (lite)] Plugin remove `rc1` qualifiers from `2.0` branch"
[Meta (lite)] Plugin remove `rc1` qualifiers from `2.0` branch
This is mainly for OS related repos as they hardcode `rc1` as default in their build.gradle.

Thanks.

[2022-05-03 20:59] bbarani opened #2080 "[Proposal] Improve OpenSearch release process"
### Is your feature request related to a problem? Please describe

The current release process has lot of manual overhead and needs to be automated to support minor and patch version(s) for multiple major versions.

### Describe the solution you'd like

1. *Patch release for previous versions:*
    1. Patch release should follow a completely automated release process with a pre-defined cadence. Th

[2022-05-03 21:02] peternied commented on #2046
Some teams created release tags for rc1, isn't clear what should or should be done as part of post release steps in the component or centralized release issue.

[2022-05-03 21:03] peterzhuamazon commented on #2046
No team is creating tags for rc1, it is already automated from infra side.

[2022-05-03 21:05] bbarani commented on #573
@seraphjiang @kavilla Can you update this issue with current status?

[2022-05-03 23:05] jmazanec15 opened #2082 "[Bug]: KNN build expects "lib" for older versions"
### Describe the bug

As a part of https://github.com/opensearch-project/k-NN/issues/314, we switched the location of the k-NN libraries from knnlib to lib. The changes on the plugin side only took effect for 2.x, because the campaign was for 2.0.

This PR (https://github.com/opensearch-project/opensearch-build/pull/1866) updated the build scripts to expect the libs in "lib" not "knnlib" in this r

[2022-05-04 00:17] github-actions[bot] opened #2083 "[RELEASE] Release version 2.0.0-rc1"
## Release OpenSearch and OpenSearch Dashboards 2.0.0-rc1

I noticed that a manifest was automatically created in [manifests/2.0.0-rc1](/opensearch-project/opensearch-build/tree/main/manifests/2.0.0-rc1). Please follow the following checklist to make a release.

<details><summary>How to use this issue</summary>
<p>

## This Release Issue

This issue captures the state of the OpenSearch release, it

[2022-05-04 01:24] peterzhuamazon commented on #2082
We can use 1.3.1 tag in build repo to build.

[2022-05-04 01:26] peterzhuamazon commented on #2082
https://github.com/opensearch-project/opensearch-build/releases/tag/1.3.1

[2022-05-04 04:20] jmazanec15 commented on #2082
I should be more specific - build scripts are not causing issue. It is the install/run time scripts (Dockerfile as well as tar install)

[2022-05-04 08:07] zelinh commented on #1882
New integ tests result for arm64
[code]

[2022-05-04 15:06] #27 closed

[2022-05-04 15:06] bbarani commented on #36
Closing this issue as we have shipped RPM artifacts with 2.0 RC1 release.

[2022-05-04 15:06] #36 closed

[2022-05-04 15:29] dlvenable opened #2084 "[RELEASE] Data Prepper 1.4.0"
### Is your feature request related to a problem? Please describe

The Data Prepper team plans to release Data Prepper 1.4.0.

Planned release date: May 17, 2022

### Describe the solution you'd like

After the Data Prepper team completes the staging release build, please run the promotion job.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-05-04 15:55] dblock commented on #2052
I agree. I can see how someone can slide a feature in, but I am not seeing what prevents this from happening right now: you declared an RC and stopped building, I can still go commit a feature, and hope you discard the RC and pickup the next build. What I am saying is that code freeze is not a mechanism right now either.

[2022-05-04 16:43] zelinh commented on #1882
### Release testing
We have new Artifacts built and ready for testing.

---

- Use Docker-Compose to setup a cluster
  + Download this [gist](https://gist.github.com/zelinh/3a6605aa22461b659c6a175fdeb81567) as docker-compose.yml on your machine
  + Get latest image versions `docker-compose pull`
  + Start the cluster `docker-compose up`

- [OpenSearch docker](https://hub.docker.com/r/opensearchsta

[2022-05-04 17:21] peterzhuamazon commented on #2083
Duplicated with #1624.

[2022-05-04 17:21] peterzhuamazon commented on #1650
Close this so workflow will bring up a new one using the new templates.

[2022-05-04 17:26] github-actions[bot] opened #2086 "[RELEASE] Release version 2.0.0"
## Release OpenSearch and OpenSearch Dashboards 2.0.0

I noticed that a manifest was automatically created in [manifests/2.0.0](/opensearch-project/opensearch-build/tree/main/manifests/2.0.0). Please follow the following checklist to make a release.

<details><summary>How to use this issue</summary>
<p>

## This Release Issue

This issue captures the state of the OpenSearch release, its assignee i

[2022-05-04 17:44] dblock commented on #2046
Open an issue to delete it.

[2022-05-05 01:02] zelinh commented on #1882
Native plugin verified
[code]

[2022-05-05 17:19] peterzhuamazon opened #2091 "[Enhancement] Allow component only build in distribution pipeline"
As of now, our distribution build workflow for OS and OSD will build everything put in the manifest file.
This cause some issue and dependency problems when you only want to build one component, such as core, so plugin owners can consume the latest Maven and pass their checks on PR.

Example:
* 2.0.0 GA requires all plugins to remove `rc1` to build successfully.
* Plugins cannot remove `rc1` becau

[2022-05-05 17:29] dblock commented on #2091
I think you're proposing to create a new pipeline for OpenSearch-min that can be run on demand.

[2022-05-05 18:58] zelinh commented on #1882
Maven Central released:
<img width="823" alt="Screen Shot 2022-05-05 at 11 51 00 AM" src="https://user-images.githubusercontent.com/87548827/167004256-5742e066-f3cb-4017-86df-a7d168b04596.png">

https://repo1.maven.org/maven2/org/opensearch/opensearch/1.3.2

[2022-05-05 19:25] zelinh opened #2093 "[Retrospective] Release version 1.3.2"
How to use this issue?
Please add comments to this issue, they can be small or large in scope. Honest feedback is important to improve our processes, suggestions are also welcomed but not required.

What will happen to this issue post release?
There will be a discussion(s) about how the release went and how the next release can be improved. Then this ticket will be updated with the notes of that d

[2022-05-05 19:28] peterzhuamazon commented on #2091
We dont need to create a new pipeline, just add one param in the existing pipeline is enough.

[2022-05-05 20:22] dblock commented on #99
@rursprung I think the next step is to add it to https://github.com/opensearch-project/opensearch-build/blob/main/jenkins/opensearch/distribution-build.jenkinsfile, so it starts appearing in the build output

[2022-05-05 21:53] peterzhuamazon commented on #1951
Close this from our side as dashboards is handled by @tianleh team.

[2022-05-05 21:53] #1951 closed

[2022-05-05 22:07] peternied commented on #2093
Initially there were component issues for this release, then those were not used

![image](https://user-images.githubusercontent.com/2754967/167033407-3af5312c-6b81-444a-81f7-1fa3b4a00ca5.png)

[2022-05-05 22:09] peternied commented on #2093
The release issue was not getting much attention from individuals / teams, there were many preparation checklist items unchecked well into the 'coding' phase of the release.

[2022-05-06 03:34] peterzhuamazon commented on #2082
@zelinh seems like this is not an issue anymore since we have shipped 1.3.2, please close.
Thanks.

[2022-05-06 04:45] bbarani commented on #2082
I am closing this issue as we have back ported the changes to support 1.x version. Please feel free to re-open if needed.

[2022-05-06 04:45] #2082 closed

[2022-05-06 04:47] bbarani commented on #2080
[Triage] This is a north star initiative that requires automating the release process and the tasks involved during release activities. We need to closely work with all the teams to achieve this goals.

[2022-05-06 06:12] rursprung commented on #99
thanks, that's good news!

however, i'm not sure how much sense it'll make if i'll try to contribute to this as i can't test whether my changes to the script would work.
and, if i understood the script correctly, it'd need some changes to `buildAssembleUpload` (which might still be somewhere in the not-yet-opensourced part?) - but then again i admittedly don't quite see yet where the script decide

[2022-05-06 14:53] aviau opened #2097 "provide a smaller Docker image"
It would be great if OpenSearch provided a smaller docker image than the one currently in the Docker Hub. (https://hub.docker.com/r/opensearchproject/opensearch/tags)

Other databases such as postgres provide alpine-based images that are much smaller.

It may not be possible due to OpenSearch's dependencies, in that case feel free to close this bug.

Cheers,

[2022-05-06 16:10] bbarani commented on #2054
@CEHENKLE @dblock @kotwanikunal Whats the current status of this issue? Did we find the root cause of the performance issue?

[2022-05-06 16:52] kotwanikunal commented on #2054
CC'ing @andrross as he was actively looking into it.

[2022-05-06 17:35] andrross commented on #2054
I am actively working on it. The status is that the latency and throughput difference between 1.3 and 2.0 has disappeared with runs against recent builds. However, it appears that the cause is that 1.3 has gotten slower.

![Screen Shot 2022-05-06 at 10 30 02 AM](https://user-images.githubusercontent.com/9160839/167183088-f5119e6d-4b00-4312-9596-dcc15f7faeec.png)

![Screen Shot 2022-05-06 at 10 30

[2022-05-06 18:05] prudhvigodithi commented on #2070
[Triage] @CEHENKLE will be looking into this issue.

[2022-05-06 18:10] prudhvigodithi commented on #2069
[Triage] We will update more about this issue once this meta [issue](https://github.com/opensearch-project/opensearch-build/issues/1916) to publish zips to maven repo is taken care.

[2022-05-06 18:11] prudhvigodithi commented on #2068
[Triage] We will update more about this issue once this meta https://github.com/opensearch-project/opensearch-build/issues/1916 to publish zips to maven repo is taken care.

[2022-05-06 18:17] prudhvigodithi commented on #2066
[Triage] Adding @ankitkala, any reason why we cant re-use the performance testing setup that is out there for integration testing?
@peterzhuamazon @gaiksaya

[2022-05-06 18:43] prudhvigodithi commented on #2044
[Triage] just a thought since the the build container already has multiple java versions added, we might need to add an entry to manifest file that has JDK version specification, just like we have one for [checks:](https://github.com/opensearch-project/opensearch-build/blob/main/manifests/2.0.0/opensearch-2.0.0.yml#L14), so that way each component can use the desired java version that is passed, i

[2022-05-06 18:45] #1550 closed

[2022-05-06 18:46] prudhvigodithi commented on #2051
[Triage] @zelinh already have some progress with nuget account setup, need a way to sign and publish the package
https://docs.microsoft.com/en-us/nuget/create-packages/sign-a-package
https://docs.microsoft.com/en-us/nuget/nuget-org/publish-a-package

[2022-05-06 19:22] dlvenable commented on #2084
This release is going to be delayed. We do not yet have a date, but are looking at May 13 or 17 presently.

[2022-05-06 21:05] dblock commented on #2054
@andrross The G1GC fix was backported into 1.3 and should be part of 1.3.2, https://github.com/opensearch-project/OpenSearch/pull/2971

[2022-05-06 21:28] andrross commented on #2054
@dblock Yes, we see the impact of G1GC clearly in the "old" GC metrics:

![Screen Shot 2022-05-06 at 2 12 06 PM](https://user-images.githubusercontent.com/9160839/167217604-20dc6593-8762-4460-9c63-bd099dc35f4a.png)

However, the indexing latency and throughput metrics also get roughly 20% _worse_ at the same time (for this nyc_taxis workload). What I've found so far is that 1.3 with the concurrent

[2022-05-06 21:55] dblock commented on #2097
Moving this to opensearch-build.

[2022-05-06 21:55] dblock commented on #2097
@aviau Do you have any examples where the size of the image is a problem?

[2022-05-06 22:11] aviau commented on #2097
It isn't a major problem, just a QoL improvement. In an effort to speedup the initial setup of our dev environment we switched to small images for all of our dependencies, and it was a welcome change amongst our devs.

[2022-05-06 22:29] peterzhuamazon opened #2098 "[Enhancement] RPM update pid file localtion in tmpfiles.d setup"
[code]

This has shown in new RH8/CentOS8/RockyLinux8, I think it is time for us to update this at some point.
The file is taken from OS and OSD core so would need to update it accordingly.

Thanks.

[2022-05-06 23:41] andrross commented on #2054
I have run the stack overflow dataset workload on my test host (c6i.8xlarge). The stack overflow dataset is the recommended workload for testing indexing performance.

### Baseline=1.3.2(cms) Contender=2.0.0

|                                                        Metric |                     Task |    Baseline |   Contender |     Diff |   Unit |
|-------------------------------------------------

[2022-05-06 23:54] peterzhuamazon opened #2099 "[BUG] RPM add `repo_gpgcheck=1` in YUM repo file and enable installation on FIPS mode"
Initially discussed in the community forum:
https://forum.opensearch.org/t/rpm-distributions-delayed-again/6994/45

1. Our YUM repo file does not include `repo_gpgcheck=1` means our signed `repomd.xml` is not being verified during installation.
2. As of now FIPS mode enabled machine cannot enable installation of our signed rpm, testing centos8/rockylinux8:
[code]

Confirmed that in FIPS enabled mo

[2022-05-06 23:57] peterzhuamazon commented on #2099
The 1st task of adding `repo_gpgcheck=1` is done and updated in production bucket.
This allows the repo meta to be verified before the download of rpm even happens.

Thanks.

[2022-05-07 00:16] github-actions[bot] opened #2101 "[RELEASE] Release version 1.3.3"
## Release OpenSearch and OpenSearch Dashboards 1.3.3

I noticed that a manifest was automatically created in [manifests/1.3.3](/opensearch-project/opensearch-build/tree/main/manifests/1.3.3). Please follow the following checklist to make a release.

<details><summary>How to use this issue</summary>
<p>

## This Release Issue

This issue captures the state of the OpenSearch release, its assignee i

[2022-05-07 01:22] peterzhuamazon commented on #2099
Seems like our signing method is ok, but during the build with rpmbuild through spec files these macros are missing for the digest to be signed:
[code]

This also confirms that signing must happen on a rpm version 4.12+ which rockylinux8 is fine with 4.14.

[2022-05-07 01:37] peterzhuamazon commented on #2099
[code]

[2022-05-07 01:40] peterzhuamazon commented on #2099
Test install FIPS mode enabled on CentOS8:
[code]

[2022-05-07 02:05] peterzhuamazon commented on #2099
After many tries seems resolved now.

Manually build based on OS 2713 OSD 3032 on 1.3.2 version for x64:

OS: https://ci.opensearch.org/ci/dbc/tests/rpm-fips/opensearch-1.3.2-linux-x64-fips-enabled.rpm
OSD: https://ci.opensearch.org/ci/dbc/tests/rpm-fips/opensearch-dashboards-1.3.2-linux-x64-fips-enabled.rpm

@justchris1 please try these out and let me know if they runs on your system.

cc: @CEHEN

[2022-05-07 02:14] peterzhuamazon commented on #2099
PR:
* https://github.com/opensearch-project/opensearch-build/pull/2102

[2022-05-07 03:13] tsgit opened #2103 "[Bug]: tar package location of opensearch-performance-analyzer/opensearch_security.policy"
### Describe the bug

unpacking the tar bundle for opensearch-1.3.2 places the pa security.policy in

./plugins/opensearch-performance-analyzer/pa_config/opensearch_security.policy

however the script opensearch-tar-install.sh adds

-Djava.security.policy=....../config/opensearch-performance-analyzer/opensearch_security.policy

to config/jvm.options

see
https://github.com/opensearch-project/opens

[2022-05-07 03:18] tsgit commented on #2103
apparently the missing step is to copy
./plugins/opensearch-performance-analyzer/pa_config/opensearch_security.policy
into
./config/opensearch-performance-analyzer/

[2022-05-07 06:48] peterzhuamazon commented on #2103
@sruti1312 @sgup432 please take a look at this.
Thanks.

[2022-05-07 11:30] justchris1 commented on #2099
Those RPMs pass verification and installed!  Thanks for the updates!

[2022-05-08 03:34] peterzhuamazon commented on #2099
Next Step:
1. Get signing pipeline ready with rpm signing.
2. Assemble on opensearch needs to separate from building like in dashboards, as the assemble part needs to happen in RockyLinux8 for higher RPM version while our build image needs to happen in CentOS7 for k-NN compatibility.
3. All staging rpm and yum needs to be signed, and the rpm validation workflow needs to support verifiying signatur

[2022-05-09 19:31] CEHENKLE commented on #2093
I don't feel confident yet on the state of our automation.  It seems like need two things before I'm (more) confident:  1) weekly inspection of code %/mechanism in place to block merges for commits that reduce coverage.  2) A review/some other confidence builder on the goodness of those tests.  It's not enough to exist, they have to be comprehensive.  3) A review/some other confidence build on the

[2022-05-09 20:38] anirudha commented on #2051
@prudhvigodithi , @zelinh  what are the next steps on this ? thanks

[2022-05-09 21:19] kavilla commented on #2046
It seems like there is expectation for OpenSearch Dashboards (+ plugins) to be prepped and sanity tested complete when OpenSearch (+ plugins) completes. That seems to be broken to me, for minor releases it is achievable, but for major releases it's shouldn't be expected. If any sanity tests found that OpenSearch was invalid then any result during OpenSearch Dashboards should be considered invalid.

[2022-05-09 21:21] cliu123 commented on #1916
@prudhvigodithi @peterzhuamazon  Plugin zip files can be downloaded with urls today, why is this issue needed?

[2022-05-09 21:26] andrross commented on #1621
Somewhat related to this issue, but we had some confusion when the `latest` tag moved from 2.0 release candidate back to 1.3.2: https://github.com/opensearch-project/OpenSearch/issues/3222 I think it would be good to ensure in the future that the `latest` tag will never move backwards across major versions, since that will almost certainly cause compatibility issues.

[2022-05-09 21:26] kavilla commented on #2046
Release notes should not be in the code complete section until after sanity tests are complete. I see multiple repos checking this check box off when anything could happen during sanity testing that requires them to make a change and update their release notes. Release notes can be in draft but I think there should be buffer room to ensure that release notes are the last things that checked off.

[2022-05-09 21:29] kavilla commented on #2046
I think this was a big miss. I think we prioritized getting an alpha1 build of OpenSearch green which caused a lot of last minute changes to get an rc1 build. OpenSearch plugins needs an rc1 build to switch build no rc1 build existed so then it was a chicken and egg problem which then ended up making the Friday before the week of the initial planned released being the first day an OpenSearch 2.0.0

[2022-05-09 23:41] prudhvigodithi commented on #1916
Hey @cliu123, this issue describes to download the zip's using maven coordinates, this can be used with dependency model as well as can downloaded directly using the URL's once its in maven repo. More examples and details on this meta issue as well as on https://github.com/opensearch-project/opensearch-build/issues/716

[2022-05-09 23:53] #1961 closed

[2022-05-09 23:53] #1057 closed

[2022-05-09 23:53] #1062 closed

[2022-05-09 23:53] #1426 closed

[2022-05-10 07:03] vamsi-amazon commented on #1780
sql, observability and reporting plugins have no breaking changes planned for this release.

[2022-05-10 11:21] ankitkala commented on #2066
I think both `LocalTestCluster` and `PerfTestCluster` can be used.  Primary issue is that we only create one test cluster for running the integration tests during the distro build.
Cross cluster replication requires at least 2 clusters to run the performance tests.

[2022-05-10 16:37] bbarani commented on #1750
Closing this issue as all the plugins have removed the checked-in binaries. Feel free to re-open if needed.

[2022-05-10 16:38] #1750 closed

[2022-05-10 16:38] bbarani commented on #1707
@tianleh @kavilla Did you make any progress on this issue?

[2022-05-10 16:39] bbarani commented on #1689
@tianleh Can you prioritize this issue? I assume you already have enough information to add to the documentation?

[2022-05-10 16:39] bbarani commented on #1686
@kavilla Can we close the issue if the PR was already merged and tested?

[2022-05-10 16:39] CEHENKLE commented on #2093
Our performance tests missed an issue with performance https://github.com/opensearch-project/opensearch-build/issues/2054  Either we're not testing what we think we are (https://github.com/opensearch-project/OpenSearch/issues/2985), or we are testing things but not inspecting/alerting on results

[2022-05-10 18:00] #1965 closed

[2022-05-10 18:28] kavilla commented on #1707
Hello @bbarani, I think it's still open based on @tianleh comment. I did create https://github.com/opensearch-project/opensearch-dashboards-functional-test/issues/217 that we could probably utilize.

[2022-05-10 18:58] zelinh commented on #1872
@mengweieric Can we close this issue here since we already released the ODBC?

[2022-05-10 22:07] peterzhuamazon commented on #2091
This confirms to push 2.0.0-SNAPSHOT with @prudhvigodithi.
[code]

[2022-05-10 22:07] #2091 closed

[2022-05-10 22:40] peterzhuamazon commented on #1975
Update 2022/05/10:

I have discussed with @dblock on branching with build repo and here are the thoughts.

Two Options:

**1. Branching within `opensearch-build`.**
* Pros:
  * Easy to do
  * Everything in one place
* Cons:
  * Jenkins requires a branch being defines during workflow / pipeline creation, and we are hardcoding to `main` as of now. This is not easy to change and would only add up mor

[2022-05-10 23:32] dblock commented on #1975
I don't agree with the pros of (1), especially `Easy to do` - it's only easy to do the branching part, but it creates all the problems in the cons that would need to be solved, which is not easy at all.

I think(2) is very clean and easy to understand! All the cons are "it's a bit more work".

[2022-05-10 23:40] peterzhuamazon commented on #1452
Close this as our design is already done without any changes.
The artifacts of rpm on 2.0.0-rc1 and 1.3.2 have been released now.
Thanks.

[2022-05-10 23:40] #1452 closed

[2022-05-11 01:07] #2076 closed

[2022-05-11 01:12] peterzhuamazon commented on #1488
We already decided to follow the convention we used back in ODFE for b/c reasons:
https://github.com/opensearch-project/opensearch-build/tree/main/docker/release#disable-security-plugin-security-dashboards-plugin-security-demo-configurations-and-related-configurations

They are currently working well in docker.

Thanks.

[2022-05-11 01:14] peterzhuamazon commented on #1488
I am not sure if it worth changing for 2.0.0 as that would be breaking changes.
If needed, user can consider changing the entrypoint file then rebuild docker with the script we provided.

[2022-05-11 10:44] prudhvigodithi commented on #716
Hey @dblock we have now, a mechanism to publish the zips to maven repo using [opensearch.pluginzip](https://github.com/opensearch-project/opensearch-plugins/blob/main/BUILDING.md#opensearchpluginzip), can we close this issue ?
@bbarani

[2022-05-11 12:35] gruselglatz commented on #741
Maybe i've overlooked something but there is already a deb buildstep [1]. But why is there no download for the deb packages?

Sry if i missed something :)
[1] https://github.com/opensearch-project/OpenSearch/blob/b78176afefd8c09a19de6bc52907b40c8c4fedf2/distribution/packages/build.gradle#L353

[2022-05-11 17:15] sastorsl opened #2109 "Add prometheus exporter plugin to OpenSearch"
### Is your feature request related to a problem? Please describe

Getting metrics through prometheus gives a great benefint.
Pr now one either has to providison ones own docker image or install in the plugin in one way or another.

### Describe the solution you'd like

Add the prometheus exporter plugin to the main docker image, or as an option in a separate official docker image for OpenSearch.

[2022-05-11 18:58] peterzhuamazon opened #2112 "[Question] How to approach `api/status` `api/reporting/stats` route authentication addition in future releases"
With security team merge the change of `adding auth to /api/status api/reporting/stats call` in 2.0 branch, we are facing multiple issues with both build repo scripts/workflows, as well as the approach on future releases.

* Note: This change is not in 1.3 but only 2.0+, means we also need to think about how to maintain either 2 copies of change or choose a one-fit-all direction in build repo scri

[2022-05-11 19:06] peterzhuamazon commented on #2112
cc: @CEHENKLE @bbarani @dblock @cliu123

[2022-05-11 19:14] peternied commented on #1916
@prudhvigodithi This has not been communicated as a requirement for 2.0.0 GA can we disconnect this deliverable with the v2.0.0 release?  It seems like a valid ask, but I'm not sure the time pressure associated with this work is accomplishing what we need.

In an ideal world this would be part of the 2.0.0 preparation phase and agreed before started coding, so plugin teams can confirm the resourci

[2022-05-11 19:28] prudhvigodithi commented on #1916
Hey @peternied, adding zip's to maven repo add's lot of benefits, thats the community expectation as well. The heavy lifting is all done by the [opensearch.pluginzip](https://github.com/opensearch-project/opensearch-plugins/blob/main/BUILDING.md#opensearchpluginzip), it wont be a complex integration for plugin team and should be able to implement this with few steps as shown in the above doc.

[2022-05-11 19:58] bbarani commented on #1916
We are asking plugin teams to integrate our plugin to publish the Zips to Maven and all the heavy lifting is already done by our team.

[2022-05-11 21:02] prudhvigodithi commented on #1706
Going with ECR custom alias feature
[code]

[2022-05-11 23:01] joshuarrrr opened #2114 "[Bug]: Checksum check failing for OpenSearch"
### Describe the bug

OpenSearch Dashboards out-of-the-box experience downloads a snapshot of OpenSearch to start up and run some integration tests and functional tests. However, there is [logic](https://github.com/opensearch-project/OpenSearch-Dashboards/blob/main/packages/osd-opensearch/src/artifact.js#L427) before starting OpenSearch artifact automatically downloaded to verify the checksum. Tod

[2022-05-11 23:15] dblock commented on #716
This issue is about leveraging this mechanism. At least these two need to be resolved, and we need to check that we're not doing something similar elsewhere before closing this.

- https://github.com/opensearch-project/index-management/issues/123
- https://github.com/opensearch-project/cross-cluster-replication/issues/274

[2022-05-11 23:19] dblock commented on #2112
Is this another piece of code that needs to branch version-to-version, aka https://github.com/opensearch-project/opensearch-build/issues/1975?

For this particular problem, will specifying `admin:admin` be just ignored in the 1.3.x version?

[2022-05-11 23:21] dblock commented on #1706
It sounds like "project" and "staging" are the same ting. Is something like this possible?

public.ecr.aws/opensearch-project/
public.ecr.aws/opensearch-project-staging/

[2022-05-12 00:45] peterzhuamazon commented on #2112
1. Yes
2. I test on artifacts that do not have these change with these results:

[code]
[code]

Seems like you are right when adding admin:admin on old cluster, it will just get ignored in 2.0.0-rc1 and 1.3.x.

So it seems like we can just add it by default, update documentation website, and announce this as part of the breaking changes.

Thanks.

[2022-05-12 02:17] prudhvigodithi commented on #1706
Hey @dblock public.ecr.aws/opensearchproject/<IMAGE:TAG> and public.ecr.aws/opensearchstaging/<IMAGE:TAG> goes same with dockerhub [opensearchproject](https://hub.docker.com/u/opensearchproject) and [opensearchstaging](https://hub.docker.com/u/opensearchstaging), hence I have added those custom alias for ECR repos.

[2022-05-12 05:23] cliu123 commented on #2112
That's expected behavior. Without the change, credential is not required because it bypasses authentication by default. So no matter whether a credential is provided or not, request goes through, because the credential doesn't get evaluated at all.

[2022-05-12 14:39] dlvenable commented on #2084
@prudhvigodithi , We are releasing Data Prepper on May 17. We will update this issue with the input parameters for the Jenkins job which performs the promotion after our staging build is complete.

[2022-05-12 17:12] cliu123 commented on #2112
1. The issue to change the documentation: https://github.com/opensearch-project/documentation-website/issues/563
2. Added to breaking changes for 2.0.0 release: https://github.com/opensearch-project/OpenSearch/issues/2480#issuecomment-1077844240

[2022-05-12 17:19] peterzhuamazon commented on #2112
@cliu123 @dblock I just realize one thing does plugin owners requires to change their cypress test?
cc: @tianleh @kavilla

[2022-05-12 17:25] cliu123 commented on #2112
I think they do. Whereever `api/status` is requested without credential in 2.0.0 needs to be changed and provide right credential(`admin:admin`).

[2022-05-12 17:35] peterzhuamazon commented on #2112
Thanks @cliu123

@tianleh @kavilla in FT repo do you guys use `api/status` at all for cypress connection?
If not then you dont need to fix this as @zelinh is fixing the `api/status` on the build repo integTest framework.

Thanks.

[2022-05-12 18:11] peterzhuamazon commented on #2114
We havent even start 3.0 building process, the auto pipeline run is either not producing a working tarball or it is failing.
We are focusing on 2.0.0 GA release for now.

[2022-05-12 18:14] peterzhuamazon commented on #2040
Our subkey officially expired right now:
[code]

[2022-05-12 18:23] peterzhuamazon commented on #2025
We will close this as the next step of parallel is handled by @tianleh @CCongWang on cypress level.
Thanks.

[2022-05-12 18:24] peterzhuamazon commented on #504
Close this as we are not able to reproduce this issue.
Please feel free to reopen it.

Thanks.

[2022-05-12 18:24] #504 closed

[2022-05-12 18:26] matthew-inamdar commented on #504
For anyone facing the same issue, we updated to the 1.1 image and haven't had the issue since.

[2022-05-12 18:45] Bukhtawar commented on #126
@dblock are we also looking to gate PR merges if they cause regression. This is important since we want to discover this earlier. We do not want to wait for a release only to discover a regression at which point it would get harder to pin point the exact commit(s)

[2022-05-12 21:46] peterzhuamazon commented on #2040
Just work with @prudhvigodithi on extending to a new public key, the private key will not expire but include the old public key.

### Notes:
1. You can only extend sub public key, not sub private key, as the latter will not expire.
2. Tho sub private key not expire, it will include the old expired sub public key in the chain.
3. Previously we only need to import sub private key for signing, now we

[2022-05-13 13:54] #2099 closed

[2022-05-13 13:59] peterzhuamazon opened #2119 "[Enhancement] Add FIPS enabled docker to test digest/signature correctly"
After #2099 closed we now have these setups for rpm:

1. Sha1/Sha256 digest for header
2. Sha256 digest for payload
3. Sha512 signature for both header and payload

This requires us to generate the RPM on rpm 4.12+ available machine, and #2113 fix that one already.

Next step is to add testing once the signing workflow is updated to be able to sign staging RPMs.

We need:
1. Exchange the RPM valid

[2022-05-13 14:01] peterzhuamazon commented on #1556
20220512:
* https://github.com/opensearch-project/opensearch-build/issues/2119

[2022-05-13 18:00] peternied opened #2120 "[Distribution] Broken build `could not find java in JAVA_HOME at /opt/java/openjdk-17/bin/java`"
Looks like the 2.0.0 build is broken, could be a job scheduler or OpenSearch core issue.

[code]

[2022-05-13 18:02] peternied commented on #2086
Seeing a distribution build break https://github.com/opensearch-project/opensearch-build/issues/2120

[2022-05-13 18:03] peternied commented on #2046
Distribution build breaks were happening constantly, it was hard to know if the build was passing or not.  The slack channel `#opensearch-distribution-builds` seems like it was unmonitored.

[2022-05-13 18:15] peterzhuamazon commented on #2120
Will issue a fix very soon.

[2022-05-13 19:09] #2112 closed

[2022-05-13 20:05] peternied commented on #2120
@peterzhuamazon could you close after we have a successful build or a new build issue that is being worked on?

[2022-05-13 21:25] peterzhuamazon commented on #2120
We should close it when the related issue is resolved, not build.

[2022-05-14 01:30] #2120 closed

[2022-05-14 16:13] mend-for-github-com[bot] opened #2124 "CVE-2022-22970 (Medium) detected in spring-core-5.3.14.jar, spring-beans-5.3.14.jar - autoclosed"
## CVE-2022-22970 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>spring-core-5.3.14.jar</b>, <b>spring-beans-5.3.14.jar</b></p></summary>
<p>

<details><summary><b>spring-core-5.3.14.jar</b></p></summary>

<p>Spring Core</p>
<p>Path to dependency file: /build.

[2022-05-16 12:17] dblock commented on #2114
We may have a problem here (or two).

1. Whatever automation is downloading the .tar.gz should not be trying to download 3.0, even though it's already being built. The next major is 2.0.
2. The checksum not matching would be a surprise, but I don't know whether we're signing -SNAPSHOT builds at all?

[2022-05-16 17:03] peterzhuamazon opened #2125 "[BUG][Distribution][2.0.0] build distribution pipeline stash not found for msg updating causing failure builds"
[code]

This is happening to both rpm ones, suspect it is caused by the stash not existing on the first place.

[2022-05-16 17:21] peterzhuamazon commented on #2114
1. You should download from ci.opensearch.org not artifacts.opensearch.org, we havent use the old pipeline for years, even though we are still updating `/snapshots` it depends on we have a good build on dev jenkins, and you didnt show us which checksum you are comparing against the tarball.
2. @dblock there is no signing at all for any staging, we are here talking about the checksum.

Thanks.

[2022-05-16 17:49] dblock commented on #2114
@joshuarrrr Please let us know if ^ doesn't help?

[2022-05-16 18:07] #2125 closed

[2022-05-16 21:41] theOperand commented on #28
Does this mean that this issue is postponed indefinitely? A .deb package would be very useful, as many organizations (such as mine) that use Ubuntu servers but no Docker are still effectively stuck on the last non-SSPL Elasticsearch version.

[2022-05-16 22:53] zelinh commented on #2075
Closing this issue as this should have been resolved with the PR linked.

[2022-05-16 22:53] #2075 closed

[2022-05-16 23:35] peterzhuamazon commented on #2040
We will make some changes to the public key page and replace the extended key for another year until 2023/05/12.

[2022-05-17 00:16] peterzhuamazon commented on #2119
* #2113
* #2122

[2022-05-17 10:02] ankitkala commented on #1780
No breaking change for cross-cluster-replication

[2022-05-17 12:56] smlx opened #2129 "[Bug]: Not possible to configure Opensearch docker container as coordinating node"
### Describe the bug

It doesn't seem possible to configure the opensearch docker container to run as a coordinating node.

The documented way to configure node roles is to set the `node.roles` environment variable to a list e.g. `node.roles=master,data`. However coordinating nodes have an empty `node.roles`. Setting the `node.roles` to an empty string fails due to [this code](https://github.com/o

[2022-05-17 13:01] smlx commented on #2129
I just wanted to note that this bug is cluster-destroying if you have coordinating nodes configured without persistence, and then upgrade to the newer role configuration method. Suddenly you have a bunch of master nodes without persistent storage which will cause the cluster to permanently lose quorum once they restart and change IDs.

[2022-05-17 14:43] dblock commented on #2129
Looks like a real bug, thanks for reporting. Would definitely appreciate a fix!

[2022-05-17 17:41] bbarani commented on #1975
@peterzhuamazon I am still dont understand the exact scope of Option 2. Will the new opensearch-dist repo hold all the distribution / plugin specific scripts? The plugin teams will need to raise PR for making manifest related changes to opensearch-dist repo? I am trying to understand the boundary between opensearch-build vs opensearch-dist  repo.

[2022-05-17 18:05] bbarani commented on #2066
@peterzhuamazon @gaiksaya What would it take to support multiple clusters for CCR integration test? I think we can specifically spin up multiple clusters just for CCR tests as we are running parallely now.

[2022-05-17 19:19] bbarani commented on #2109
It looks like this has been already added to community project page - https://opensearch.org/community_projects

@dblock @CEHENKLE What are you thoughts of adding it to our Docker image? I prefer it to be part of community project rather than baking it to Docker image to avoid tight coupling during releases but need your inputs as well.

[2022-05-17 19:26] zelinh commented on #2129
[Triage] Thanks for letting us know this. We will look into this.

[2022-05-17 19:41] asifsmohammed commented on #2084
Release Parameters:

- `VERSION` - `1.4.0`
- `DATA_PREPPER_BUILD_NUMBER` - `14`

[2022-05-17 19:47] dtaivpp commented on #780
@elfisher What can we do to get this moved forward? This is really important for people to have good visibility on which images the OpenSearch project is publishing.

[2022-05-17 20:10] zelinh commented on #2084
Data Prepper Docker: https://hub.docker.com/r/opensearchproject/data-prepper/tags?page=1&name=1.4.0
Website: https://github.com/opensearch-project/project-website/pull/813
<img width="391" alt="Screen Shot 2022-05-17 at 1 02 19 PM" src="https://user-images.githubusercontent.com/87548827/168901316-4cbd4057-e4b3-426b-8d6e-e2311ca2661c.png">

[2022-05-17 20:19] downsrob commented on #1916
@prudhvigodithi what do you think about integrating the required build.sh changes for the opensearch.pluginzip into the [default build.sh script](https://github.com/opensearch-project/opensearch-build/blob/main/scripts/default/opensearch/build.sh)? For index management, we use the default build script and I would prefer to keep it default so we don't need to make a change in our plugin repo whenev

[2022-05-17 20:58] prudhvigodithi commented on #1916
Hey @downsrob there is already some discussion out there regarding this, please check this [PR](https://github.com/opensearch-project/opensearch-build/pull/1999)
@dblock @bbarani any thoughts ?

[2022-05-17 21:23] downsrob commented on #1916
@prudhvigodithi dB looks to be blocking that PR until all plugins get this change in to avoid adding custom logic to the default build script, but that would mean introducing a custom build script in every plugin, then changing the default build script and then removing the custom build script from each plugin. I would prefer to only add the publishing zip task for plugins with the default build s

[2022-05-17 21:30] peterzhuamazon commented on #2066
There are several big changes needs to be done in test framework.
As of now it is assuming only one cluster so discovery is not needed to be configured.
This is not a small task and would require some code diving before we can tell the efforts. Thanks.

[2022-05-17 21:38] krisfreedain commented on #2040
@peterzhuamazon as discussed, we'll need to add a note to https://opensearch.org/verify-signatures.html. I propose the following - under the line
Our current PGP key fingerprint is C5B7 4989 65EF D1C2 924B A9D5 39D3 1987 9310 D3FC

"*Note: On 2022-05-23, the existing public key expired. If used, you will see "gpg: Note: This key has expired!" as noted in [Issue 2040](https://github.com/opensearch-

[2022-05-17 23:08] #1237 closed

[2022-05-17 23:08] #1512 closed

[2022-05-17 23:08] #1513 closed

[2022-05-17 23:28] bbarani commented on #780
Some resources for creating official Docker image

https://docs.docker.com/develop/develop-images/dockerfile_best-practices/
https://github.com/docker-library/official-images/blob/master/README.md#contributing-to-the-standard-library
https://github.com/docker-library/official-images/blob/master/NEW-IMAGE-CHECKLIST.md

[2022-05-18 00:30] prudhvigodithi commented on #2129
Hey @smlx, thanks for reporting, but I assume that is the behavior. Every node is implicitly a coordinating node (Ref: https://opensearch.org/docs/latest/opensearch/cluster/) which means node that has an explicit empty list of roles will act as a coordinating node. I was able to reproduce your issue
## Error Reproduced
[code]
I was able to fix it with helm by adding:
https://github.com/prudhvigodi

[2022-05-18 01:14] smlx commented on #2129
Yes, I'm aware you can configure an empty `node.roles` list by setting it directly in the configuration file as you did in https://github.com/prudhvigodithi/helm-charts/blob/coordinating-role/charts/opensearch/values.yaml#L45.

The bug is that https://github.com/prudhvigodithi/helm-charts/blob/coordinating-role/charts/opensearch/values.yaml#L11 by itself should work to configure a coordinating nod

[2022-05-18 10:02] tuotempo opened #2143 "[BUG] opensearch_node container does not restart on error"
**Describe the bug**
I am running an opensearch docker container, that sometimes exits with code 0 even if I see errors on logs

**To Reproduce**
I were not able to reproduce it sistematically

**Expected behavior**
If the container exits for an error, it should restart automatically.

**Plugins**
discovery-ec2
opensearch-alerting
opensearch-anomaly-detection
opensearch-asynchronous-search
opensea

[2022-05-18 12:22] mend-for-github-com[bot] opened #2132 "CVE-2022-30946 (Medium) detected in script-security-1131.v8b_b_5eda_c328e.jar - autoclosed"
## CVE-2022-30946 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>script-security-1131.v8b_b_5eda_c328e.jar</b></p></summary>

<p>Allows Jenkins administrators to control what in-process scripts can be run by less-privileged users.</p>
<p>Path to dependency file:

[2022-05-18 12:33] dblock commented on #2109
It would be the first plugin that we include that is not in opensearch-project (https://github.com/aiven/prometheus-exporter-plugin-for-opensearch). Adding anything to the official distribution and docker image would mean testing it exporter as part of the distribution, reviewing all its code changes every time for any security issues and such, and asking plugin maintainers to work in lock-step wi

[2022-05-18 12:35] dblock commented on #1916
What @downsrob is proposing works fine as well - get all plugins to onboard without adding a custom build script, then change the default to enable it for everyone.

[2022-05-18 12:43] dblock commented on #2066
Practically speaking I would introduce test configuration settings that define the cluster configuration, e.g.:

[code]

or something more elaborate

[code]

This is a good opportunity to revisit whether `with-security` and `without-security` was the right approach, and whether we can reuse blocks to avoid the boilerplate, e.g.

[code]

[2022-05-18 14:48] dblock commented on #1916
Yes

if this is the case, the zip's wont be published, as the task `publishPluginZipPublicationToZipStagingRepository` should be called out to ensure the zips are published.

i am not sure i understand what you’re saying :) once you’ve added the task to the default build.sh without conditionals it will work for all plugins

Note that the default script is still used for older versions, so we may n

[2022-05-18 15:10] prudhvigodithi commented on #1916
I'm fine until all plugins are onboarded to use `opensearch.pluginzip` and then include in default `build.sh` file, but the catch here is the plugins team should also backport the changes to older versions if not it would break the old versions when the default `build.sh` is called that has new added task `publishPluginZipPublicationToZipStagingRepository`.
The other better way is create a `build.

[2022-05-18 16:39] bbarani commented on #2109
@dblock thats exactly my concern as well. Its easier to develop and maintain a standalone plugin not pre-installed in the distribution as they have additional flexibility of building, testing and releasing it using an already released stable distribution. It would require a lot of co-ordination and heavy lifting to pre-install it as part of the distribution generation process.

[2022-05-18 17:00] downsrob commented on #1916
If you want a published zip of the older versions anyways, say, for BWC testing, then I can see the merit in backporting the task to all versions and moving on.  However, it seems natural that eventually the default `build.sh` would no longer encompass all versions, if not from this change, maybe the next. What do you think about versioning the default script on the infra side?

[2022-05-18 17:05] #2084 closed

[2022-05-18 18:29] dblock commented on #1916
That's proposed in https://github.com/opensearch-project/opensearch-build/issues/1975, add your comments there.

I want to make sure we don't try to solve the kitchen sink at the same time, so maybe cloning the default build script for your plugin is the most expedient path?

[2022-05-18 19:00] prudhvigodithi commented on #2129
Hey @smlx this seems to be like a behavior from app side, for coordinating node passing `node.roles: []` opensearch yaml file is allowed, but its not picked up from empty env value. However if I disable the if condition from the entrypoint code I get the following error `ERROR: setting [node.roles] must not be empty`.
@saratvemulapalli any thoughts please?

[2022-05-18 19:56] bbarani commented on #28
We are currently working on putting together a high level design and plan for both Windows and Deb distribution. We will publish the initial version of the plan very soon on this issue. Having said that, we don't have the release timeline for additional distributions yet.

[2022-05-18 20:18] peterzhuamazon opened #2134 "JS Tests in build repo is omitting warnings and possible errors"
https://github.com/opensearch-project/opensearch-build/blob/main/.github/workflows/js-tests.yml
https://github.com/opensearch-project/opensearch-build/runs/6480088304?check_suite_focus=true#step:3:1

This seems like github actions issues not related to our code.
[code]

------

This seems like some errors get omitted and skipped.

[code]

[2022-05-19 02:09] peterzhuamazon commented on #2086
### Last Updated on `2022/05/18 19:07 PST`

Click to expand and get the latest `docker-compose.yml`:
<details>
<summary>docker-compose.yml OS 3810 OSD latest(not locked yet)</summary>

[code]

</details>

------

- Use Docker-Compose to setup a cluster
  + Copy above content as docker-compose.yml on your machine (The above content will change depend on whether we have a new build or not)
  + Get l

[2022-05-19 08:48] dharminfadia commented on #1872
Hello Guys I am having same issue can you brief step how can solve this ..

[2022-05-19 17:05] #1624 closed

[2022-05-19 17:28] peterzhuamazon commented on #2086
IntegTest Issues:

* OS:
  * CCR: https://github.com/opensearch-project/cross-cluster-replication/issues/400
  * Notifications: https://github.com/opensearch-project/notifications/issues/460

[2022-05-19 20:18] kotwanikunal commented on #2086
Performance Test Results:

| Product/ Version   | <br>Architecture | Description      | Instance Type | Workload Details                                 | **Index **Latency (ms)**** p50 | ****Index **Latency (ms)****** p90 | ****Index **Latency (ms)****** p99 | ****Index **Latency (ms)****** p100 | Index **Throughput (docs/s)** p0 | **Index **Throughput (docs/s)**** p50 | **Index **Throughput (doc

[2022-05-19 21:22] krisfreedain commented on #2040
pushing out the edit for that page in [project-website PR 823](https://github.com/opensearch-project/project-website/pull/823)

[2022-05-19 21:35] peterzhuamazon commented on #2040
We have updated the key on the same url with the new sub public key that extended from the original sub public key that was expired on 20220511.

This extended new sub public key will expire on 20230512, and can be used to verify all previous and later signatures.
[code]

[code]

Thanks.

[2022-05-19 21:40] peterzhuamazon opened #2136 "[Renew Key] Upcoming expiration of our current sub public key (expire on 20230512)"
This is a reminder that the new sub public key that we extended in #2040 will expire on 20230512.

We need to take action to extend the key again before that.

Guide: https://github.com/opensearch-project/opensearch-build/issues/2040#issuecomment-1125449385

* Upload the key to the production S3 bucket while work with project-website on it.
* Upload to keyserver: https://github.com/opensearch-proj

[2022-05-19 21:41] peterzhuamazon commented on #2040
Add follow up issue for next year:
* https://github.com/opensearch-project/opensearch-build/issues/2136

[2022-05-19 21:54] saratvemulapalli commented on #2129
Took a look at this. Thanks @prudhvigodithi for the context.
I didnt know OpenSearch supports loading configuration via ENV variables.

This seems like a bug to me that, `opensearch.yml` does support `node.roles=[]` which defaults to coordinating node only but it doesnt support when passed via ENV/OPTS variables.

Thanks for reporting this @smlx. Are you open to contributing a fix to OpenSearch?
S

[2022-05-19 22:22] peterzhuamazon commented on #2040
Upload to these key servers to replace the existing ones, manually upload do not use --send-key command ([reason](https://keys.openpgp.org/about)):
* https://keys.openpgp.org/search?q=opensearch%40amazon.com
* https://keyserver.ubuntu.com/pks/lookup?op=get&search=0xc5b7498965efd1c2924ba9d539d319879310d3fc
[code]
* https://pgp.mit.edu/pks/lookup?op=get&search=0x39D319879310D3FC (This one updated sl

[2022-05-19 22:24] peterzhuamazon commented on #2040
Thanks @krisfreedain the website is now updated:
https://opensearch.org/verify-signatures.html

[2022-05-19 22:24] peterzhuamazon commented on #2040
We will close this issue for now.
Thanks.

[2022-05-19 22:24] #2040 closed

[2022-05-19 23:36] smlx commented on #2129
Sorry I don't really have time for this. It looks like the fix will require changes to the Opensearch environment variable configuration parsing, associated regression testing etc.

That workaround isn't really viable since it requires replacing the entire upstream helm chart configuration. I found another workaround which is to give the coordinating node the `ingest` role since a) it doesn't requ

[2022-05-20 00:14] adnapibar commented on #2086
Can we trust these results? If yes, then based on the above data, it looks like the p99 indexing latency has gotten worse significantly?

[code]

[2022-05-20 01:01] CEHENKLE commented on #2086
We're going to rerun them over night, see what the results are. @kotwanikunal

[2022-05-20 01:16] kotwanikunal commented on #2086
Tests have been re-run already. We should have the results in ~8 hours.

[2022-05-20 01:38] prudhvigodithi commented on #2129
I have raised as a bug in OpenSearch repo: https://github.com/opensearch-project/OpenSearch/issues/3412

[2022-05-20 05:04] dharminfadia commented on #1872
Hello @joshuali925
![image](https://user-images.githubusercontent.com/87129707/169454143-d6c86b3f-bd7d-4695-a3e0-af89c1895c6e.png)
latest Driver is install still having same issue
![image](https://user-images.githubusercontent.com/87129707/169454220-a6fa0ea0-a72b-45a3-9a66-82347c8c2f48.png)
I am using Opensearch version is 1.2.4 but still facing issue .

[2022-05-20 05:57] tianleh commented on #2112
Thanks for the reminder. The Cypress tests just simulate customers' behavior to click around the UI and thus doesn't need to run such `api/status`. We do have Github actions which need to check the `api/status` to know OSD health. See https://github.com/opensearch-project/opensearch-dashboards-functional-test/pull/230#issuecomment-1132501953

[2022-05-21 01:05] mend-for-github-com[bot] opened #2138 "CVE-2022-22978 (High) detected in spring-security-web-5.6.1.jar - autoclosed"
## CVE-2022-22978 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>spring-security-web-5.6.1.jar</b></p></summary>

<p>Spring Security</p>
<p>Library home page: <a href="https://spring.io/projects/spring-security">https://spring.io/projects/spring-security</a></p>
<

[2022-05-21 01:05] mend-for-github-com[bot] opened #2139 "CVE-2022-22976 (Medium) detected in spring-security-crypto-5.6.1.jar - autoclosed"
## CVE-2022-22976 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>spring-security-crypto-5.6.1.jar</b></p></summary>

<p>Spring Security</p>
<p>Library home page: <a href="https://spring.io/projects/spring-security">https://spring.io/projects/spring-security</a><

[2022-05-23 16:22] bbarani commented on #2093
Closing the 1.3.2 retro issue after 10 days of releasing the distribution. Feel free to re-open if needed.

[2022-05-23 16:22] #2093 closed

[2022-05-23 16:23] bbarani commented on #1882
Closing the 1.3.2 issue as we have released the distribution. Feel free to re-open this issue if needed.

[2022-05-23 16:23] #1882 closed

[2022-05-23 16:25] #2026 closed

[2022-05-23 16:33] bbarani commented on #1516
@peterzhuamazon @gaiksaya @prudhvigodithi Is this still a valid issue?

[2022-05-23 16:36] prudhvigodithi commented on #1516
This issue should be resolved with this PR
https://github.com/opensearch-project/opensearch-build/pull/2128

[2022-05-23 16:52] tianleh commented on #1689
I will work on it this week. ETA: 5/27/2022.

[2022-05-23 17:29] kotwanikunal commented on #2086
There was a config change within the test setup infrastructure which led to the deviations in the results above.
Performance results with the original configuration are below -

| Product/ Version   | <br>Architecture | Description      | Instance Type | Workload Details                                 | **Index **Latency (ms)**** p50 | ****Index **Latency (ms)****** p90 | ****Index **Latency (ms)

[2022-05-23 17:58] bbarani commented on #2114
@joshuarrrr  Can you please check the above comments and confirm?

[2022-05-23 18:30] VachaShah opened #2140 "Release OpenSearch Clients 2.0.0 version"
### Is your feature request related to a problem? Please describe

Publish version `2.0.0` for below OpenSearch clients:

- `opensearch-java`: https://github.com/opensearch-project/opensearch-java
- `opensearch-py`: https://github.com/opensearch-project/opensearch-py
- `opensearch-ruby`: https://github.com/opensearch-project/opensearch-ruby
- `opensearch-js`: https://github.com/opensearch-project/

[2022-05-23 19:09] prudhvigodithi commented on #2051
Hey @anirudha and @joshuali925 let me know if you are ok with reserved prefixed as `OSC` and `OpenSearch`, so that glob patterns `OSC.*` and `OpenSearch.*` should also work.

[2022-05-23 19:53] peterzhuamazon commented on #2086
RPM Validation:
[code]

[2022-05-23 20:43] joshuali925 commented on #2051
@prudhvigodithi That should work. Since there are two prefixes, is it still possible to see them together in one place on NuGet? maybe by going to the owner/publisher profile, or search for `OpenSearch`, would both show up?

[2022-05-23 20:55] prudhvigodithi commented on #2051
Hey @joshuali925 yes
Expecting something like
https://www.nuget.org/packages/OSC
https://www.nuget.org/packages/OpenSearch
https://www.nuget.org/packages/OpenSearch.Net

[2022-05-23 21:20] kotwanikunal commented on #707
Currently we have nightly performance tests running as a part of #129. The results are published to the artifact bucket post completion ([Example here](https://ci.opensearch.org/ci/dbc/perf-test/2.0.0/3810/linux/x64/tar/test-results/perf-test/with-security/1af44c88-35f4-439d-a897-27416dd95d13.html)).
The results are unfortunately not directly discoverable.
We have plans to publish the results publ

[2022-05-23 23:39] godber commented on #1650
This [blog post](https://opensearch.org/blog/releases/2022/05/release-candidate-2-0-available/) references this issue, which is clearly closed, the new issue is here:

https://github.com/opensearch-project/opensearch-build/issues/2086

[2022-05-24 02:03] peterzhuamazon commented on #1650
@krisfreedain please take a look as the blog post is reference the wrong issue.

Thanks @godber .

[2022-05-24 02:08] peterzhuamazon commented on #1516
Closed for now as #2128 is merged.

[2022-05-24 02:08] #1516 closed

[2022-05-24 02:25] peterzhuamazon commented on #2086
Test OBS:
[code]

[2022-05-24 03:20] peterzhuamazon commented on #2086
[code]

[2022-05-24 03:27] peterzhuamazon opened #2142 "[Retrospective] Release version 2.0.0 (GA)"
How to use this issue?
Please add comments to this issue, they can be small or large in scope. Honest feedback is important to improve our processes, suggestions are also welcomed but not required.

What will happen to this issue post release?
There will be a discussion(s) about how the release went and how the next release can be improved. Then this ticket will be updated with the notes of that d

[2022-05-24 03:27] peterzhuamazon commented on #2046
Close this one and leads to 2.0.0 GA in #2142.

[2022-05-24 03:27] #2046 closed

[2022-05-24 03:28] peterzhuamazon commented on #2086
All other integTest pass with green state.

[2022-05-24 11:28] prudhvigodithi commented on #1706
We have now registries with verified accounts and custom alias in ECR public gallery
https://gallery.ecr.aws/opensearchproject?page=1
https://gallery.ecr.aws/opensearchstaging?page=1

[2022-05-24 11:35] prudhvigodithi commented on #1518
PR: https://github.com/opensearch-project/opensearch-build/pull/2128
add's `docker-copy.jenkinsfile` that should support image copy across DockerHub and ECR registries, leaving existing docber-build job untouched (just renamed the file to `docker-build.jenkinsfile`, the logic remains the same.)

[2022-05-24 11:37] #1518 closed

[2022-05-24 17:04] CEHENKLE commented on #2143
Done!

[2022-05-24 17:31] peterzhuamazon opened #2144 "[Enhancement] Run Dashboards integTest in parallel on Jenkins"
Hi,

This is a build repo follow up to https://github.com/opensearch-project/opensearch-dashboards-functional-test/issues/110.

1. Add scripts / tweaks in FT repo script finder to allow components separation.
2. Python code in build repo able to pass --component properly or add something like --test to specify specific test.
3. Tweak jenkinsfile to consume this changes and run on Jenkins.

- [x] A

[2022-05-24 20:22] bbarani commented on #2086
The release is currently on hold due to last minute issue. Please follow this forum [thread](https://forum.opensearch.org/t/opensearch-2-0-release-on-hold/9700) for current updates.

[2022-05-24 21:17] peterzhuamazon commented on #2144
* 20220524: https://github.com/opensearch-project/opensearch-dashboards-functional-test/pull/234

[2022-05-25 17:23] prudhvigodithi commented on #320
Dockerhub and ECR registries for opensearchproject are in sync
https://gallery.ecr.aws/opensearchproject?page=1
https://hub.docker.com/u/opensearchproject

[2022-05-25 18:44] ananzh opened #2145 "opensearch-js npm publish 2.0.0"
### Is your feature request related to a problem? Please describe

@opensearch-project/opensearch 2.0.0

### Describe the solution you'd like

npm publish for opensearch-js

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-05-25 20:43] peternied commented on #1975
The scope is hard to understand as the there are many different components with different purposes in the opensearch-build branch, please add a diagram/table of what exist and how its coupled to different systems, then how this will be updated with the selected proposed 'branching' changes.  With this table it should be easier to identify what should be grouped together vs apart.

Here are what co

[2022-05-25 20:46] peternied commented on #1975
There is an question of 'effort' with this change in process, I would recommend revisiting the last N changes into opensearch-build and then determine if they would go into a certain branch and how much work to manage them would be entailed (forward/back porting?)  This would be useful in informing different segregation strategies.

[2022-05-25 21:11] bbarani commented on #2086
We will be releasing OpenSearch 2.0 GA version on May 26 2022.

[2022-05-26 16:27] bbarani commented on #2145
@ananzh It looks like @VachaShah is already working in publishing clients for 2.0 release. This issue seems to be a duplicate of https://github.com/opensearch-project/opensearch-build/issues/2140

[2022-05-26 17:52] peterzhuamazon commented on #2086
[code]

[code]

[2022-05-26 17:57] peterzhuamazon commented on #2086
[code]

[code]

[2022-05-26 18:51] joshuarrrr commented on #2114
In dashboards, the artifact URL was set to `artifacts.opensearch.org` in this PR: https://github.com/opensearch-project/OpenSearch-Dashboards/pull/466

I'll check with the team, but we may need further guidance on how to update the various scripts that reference that base path.

[2022-05-26 19:22] peterzhuamazon commented on #2086
We have issues releasing maven as sonatype is not able to communicate with server.
If this still not auto-resolve until end of day I will open ticket with sonatype.

Thanks.

[2022-05-26 19:48] kavilla commented on #2114
We can update the reference we might run into the caching issue again with the checksum. With the new reference do we know if the checksum cache buster is more aggressive than the "deprecated" reference?

[2022-05-26 20:03] peterzhuamazon commented on #2086
We have opened an issue with Sonatype as it is still not resolved:
https://issues.sonatype.org/browse/OSSRH-81177
Thanks.

[2022-05-26 20:08] peterzhuamazon commented on #2114
ci.opensearch.org bust every 10min or something or even shorter.
artifacts.opensearch.org bust every 24hrs because that is production.

[2022-05-26 20:09] peterzhuamazon commented on #2136
Hi,
@bbarani this is for 20230512 expiration which is the extension of our extended key.
Thanks.

[2022-05-26 20:33] ananzh commented on #2145
@bbarani It is part of the clients release. opensearch-js is special because it needs an extra npm publish besides the release. If we don't need another issue to track on this, I could close it.

[2022-05-26 20:45] peterzhuamazon commented on #2086
![image](https://user-images.githubusercontent.com/65193828/170576895-ebcf5732-3f0d-4d46-b5f9-3e96f6dd2a07.png)
https://repo1.maven.org/maven2/org/opensearch/opensearch/2.0.0/

Thanks.

[2022-05-26 20:49] reta commented on #2086
I see `NOT FOUND`, do you?

[2022-05-27 12:27] anandbprem commented on #2051
Hi Team,
Please keep us updated with the **NuGet package release plan.** We are eagerly waiting for it.

[2022-05-27 12:35] prudhvigodithi commented on #2051
Hey @anandbprem working closely on this issue with Microsoft(nuget.org) and awsdotnet teams to get a reserved prefixes for OpenSearch and OSC, this includes getting three Glob patterns OpenSearch.* OSC.* OSC and creating a release flow to sign the generated dll's and update the nukpg packages securely. Multiple phases :)

[2022-05-27 22:50] zelinh commented on #2086
The maven link should work now. :D

[2022-05-28 05:15] #1689 closed

[2022-05-31 17:30] bbarani commented on #2066
@ankitkala Would you be able to create a PR with the above changes? We currently do not have bandwidth to support customized testing process and would really appreciate if you can help implement this functionality.

[2022-06-01 15:11] patcable commented on #1452
Excited to see RPMs with the latest release! Is there a place where progress towards packaging deb files is tracked?

[2022-06-01 15:26] prudhvigodithi commented on #2051
Hey @joshuali925, following are the dll files generated when i run `dotnet build OpenSearch.sln --configuration Release`, Please let me know if i'm missing anything, we should be signing all generated dll's and run `dotnet pack OpenSearch.sln --configuration Release --no-build` to pack them into .nukpg file.
[code]

[2022-06-01 16:59] joshuali925 commented on #2051
From the existing .nupkg files i see just these ones:
[code]

but I'm not sure, @MaxKsyunz could you check which ones are needed? thanks

[2022-06-01 17:23] #2129 closed

[2022-06-01 17:44] ankitkala commented on #2066
I'll be OOO till 17/6. Let me see if I can pick this up after I'm back.

[2022-06-01 18:11] prudhvigodithi commented on #2051
thanks @MaxKsyunz and @joshuali925
I do see another issue `OSC.JsonNetSerializer.1.0.0.nupkg` packages
Response status code does not indicate success: 409 (The package ID is reserved. You can upload your package with a different package ID. Reach out to support@nuget.org if you have questions.).
I'm able to test sign and upload `OpenSearch.Net, OpenSearch.Net.VirtualizedCluster, OSC`
https://www.n

[2022-06-01 18:16] bbarani commented on #2145
Closing this issue as we have published the opensearch-js 2.0 [version](https://www.npmjs.com/package/@opensearch-project/opensearch/v/2.0.0) .

[2022-06-01 18:16] #2145 closed

[2022-06-01 18:17] bbarani commented on #2140
Released the below clients for 2.0 version:
opensearch-py: https://github.com/opensearch-project/opensearch-py
opensearch-ruby: https://github.com/opensearch-project/opensearch-ruby
opensearch-js: https://github.com/opensearch-project/opensearch-js

[2022-06-01 18:19] bbarani commented on #2143
@tuotempo Thanks for submitting the issue. We have made lots of improvements to Docker image post 1.3.0 release. Can you try out the latest version of OpenSearch images (1.3.2 / 2.0) and let us know if you are still facing these issues?

[2022-06-01 18:22] prudhvigodithi commented on #2051
I think I got the error
OSC.JsonNetSerializer.1.0.0.nupkg
`The package ID is reserved. You can upload your package with a different package ID`
can we use a different package ID?
@joshuali925 @MaxKsyunz

[2022-06-01 18:38] bbarani commented on #2142
We need to also discuss https://github.com/opensearch-project/opensearch-build/issues/2052

[2022-06-01 21:01] peterzhuamazon commented on #2098
@bbarani
I have observed a lot of packages from official centos/fedora repo is referencing the legacy run pid folder. We can update this once we stop supporting RH/CentOS 7 and AL2.

[2022-06-02 05:59] bbarani commented on #2140
@VachaShah What is the plan for opensearch-cli?

[2022-06-02 13:23] rursprung commented on #2068
FYI: it seems that someone (atlassian?) at some point already uploaded some tar fields of some releases (lots of "some" in this sentence 😆) to the atlassian maven repo: https://mvnrepository.com/artifact/org.opensearch.distribution

once this is done properly centrally then those other usages can go away.

[2022-06-02 13:23] rursprung commented on #2069
FYI: it seems that someone (atlassian?) at some point already uploaded some tar fields of some releases (lots of "some" in this sentence 😆) to the atlassian maven repo: https://mvnrepository.com/artifact/org.opensearch.distribution

once this is done properly centrally then those other usages can go away.

[2022-06-02 18:26] CEHENKLE commented on #2140
@vamsi-amazon what are your plans for opensearch-cli?  Thanks!

[2022-06-02 18:53] #320 closed

[2022-06-02 21:45] peterzhuamazon commented on #2140
We are releasing opensearch-rs 2.0.0 on 2022/06/02:
* https://github.com/opensearch-project/opensearch-rs/issues/51

[2022-06-02 22:11] peterzhuamazon commented on #2140
We are releasing opensearch-dsl-py 2.0.0 on 2022/06/02:
* https://github.com/opensearch-project/opensearch-dsl-py/issues/50

[2022-06-03 11:05] prudhvigodithi commented on #1975
<h2>Build Repo Summary</h2>components: The existing components within the <a href="https://github.com/opensearch-project/opensearch-build">opensearch-build</a> repo<br>central-code(yes/no) : Denotes if the component is directly dependent of build ecosystem.<br>required-branching(yes/no): Denotes if the component should be part of repo’s branching strategy.<br>Git URL: component git code location.<

[2022-06-03 11:19] prudhvigodithi commented on #1975
**Proposed Solution:**

**Assumptions:**

 All the distribution build jobs only depend upon Jenkins job configuration `pipeline from SCM repository URL` and the repository URL’s are not hardcoded inside Jenkinsfiles.

**Solution Details:**

opensearch-build repo will actively maintain `main` and branches with `<MAJOR_VERION>.x`
Ex: `main`, `1.x`, `2.x`, `3.x`
Note: The starting point (source of tr

[2022-06-03 11:36] prudhvigodithi commented on #1975
@peterzhuamazon in this case if we have to go with single job that can have `<MAJOR_VERION>.x` as input, we should be changing the build, assemble and test workflow logic to use the respective `<MAJOR_VERION>.x` branch workflow code as well, please correct me if i'm wrong.

[2022-06-04 00:10] dreamer-89 opened #2151 "[Bug]: Failed gradle check job reported as success on github"
### Describe the bug

Gradle check failure https://fork-jenkins.searchservices.aws.dev/job/OpenSearch_CI/job/PR_Checks/job/Gradle_Check/5766/artifact/gradle_check_5766.log has legit failures but is marked succeeded on jenkins.

Identified in https://github.com/opensearch-project/OpenSearch/pull/3505

### To reproduce

Checkout branch (dreamer-89:bulk_type_fix_2x) or changes and raise PR

### Expec

[2022-06-04 01:02] dreamer-89 commented on #2151
The behavior is same irrespective of underlying infra.

[2022-06-06 11:01] prudhvigodithi opened #2152 "Automate Version Increment process required for each plugin repo."
### Is your feature request related to a problem? Please describe

Version Increment is a process that needs to be done for all plugin repos, present in manifest file during a specific release.
Example: for `1.3.2` [OpenSearch](https://github.com/opensearch-project/opensearch-build/blob/main/manifests/1.3.2/opensearch-1.3.2.yml) and [OpenSearch Dashboard](https://github.com/opensearch-project/open

[2022-06-06 16:39] bbarani commented on #2114
@joshuarrrr Do you need any additional details?

[2022-06-06 16:40] bbarani commented on #2054
@CEHENKLE I assume we can close this issue as we found the root cause of the latency? Can you please confirm?

[2022-06-06 16:43] bbarani commented on #1964
Closing this issue as we have already released logstash input plugin 1.0 on [RubyGems](https://rubygems.org/gems/logstash-input-opensearch/versions/1.0.0).

[2022-06-06 16:43] #1964 closed

[2022-06-06 16:44] bbarani commented on #1925
@kavilla Are you actively looking in to this issue?

[2022-06-06 16:44] bbarani commented on #1922
@kavilla Whats the current status of this issue?

[2022-06-06 16:51] bbarani commented on #1621
@peterzhuamazon @zelinh @prudhvigodithi Can you please update the current status of this issue? I assume we have added the ability to tag the versions as per this proposal. Please confirm and update this issue with the details.

[2022-06-06 18:11] zelinh commented on #1430
New PR #2156 was raised. Now with that PR, we should be able to sign windows artifacts with the sign scripts we have and also sign by using jenkins `signArtifacts` library.

[2022-06-07 14:10] dlvenable opened #2157 "[RELEASE] Data Prepper 1.5.0"
### Is your feature request related to a problem? Please describe

The Data Prepper team plans to release Data Prepper 1.5.0.

Planned release date: Jun 16, 2022

### Describe the solution you'd like

After the Data Prepper maintainers completes the staging release build, please run the promotion job. A Data Prepper maintainer will supply the `VERSION` and `DATA_PREPPER_BUILD_NUMBER` parameters.

[2022-06-07 17:04] #2140 closed

[2022-06-07 17:13] peterzhuamazon commented on #2119
Realize that non-FIPS enabled machine can also check digests as long as it is on a FIPS-capable machine like Rockylinux8.
Close this.

[2022-06-07 17:13] #2119 closed

[2022-06-07 17:53] dlvenable opened #2158 "Data Prepper build: Use new agent for copyContainer stages"
### Is your feature request related to a problem? Please describe

The Data Prepper agent does not have GCrane installed and the build scripts no longer copy it.

### Describe the solution you'd like

Use the following agent for Data Prepper stage(s) which call `copyContainer`.

https://github.com/opensearch-project/opensearch-build/blob/ba7e6cc94bbb9e12a2477c48f1f35791ba791b43/jenkins/docker/dock

[2022-06-07 18:01] dlvenable opened #2159 "Data Prepper build: Deploy to ECR"
### Is your feature request related to a problem? Please describe

Data Prepper only deploys to DockerHub. Include ECR.

### Describe the solution you'd like

Update the Data Prepper promotion/release build to copy the source container to ECR in addition to DockerHub.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-06-07 22:13] peternied commented on #1975
@prudhvigodithi Thanks for the detailed breakout of the different areas of the repository and what you'd like to move.

The current organization of manifests has them in folders that are named, branching these files seems redundant?  While these can move to another repo, the branch 'name' is effective a part of the naming scheme.

Why delete anything?  We can never know if something is really unus

[2022-06-07 22:16] prudhvigodithi commented on #2101
###  Release testing
We have new Artifacts built and ready for testing.

---

Use Docker-Compose to setup a cluster

Download this [gist](https://gist.github.com/prudhvigodithi/bfd7e70c6538987f4bebab8c5fb358c9#file-opensearch-docker-compose-1-3-3-yaml) as docker-compose.yml on your machine
Get latest image versions docker-compose pull
Start the cluster docker-compose up

[OpenSearch docker](https:

[2022-06-07 22:38] prudhvigodithi commented on #2159
This can be fixed by adding [copyContainer](https://github.com/opensearch-project/opensearch-build/blob/main/jenkins/data-prepper/release-data-prepper-all-artifacts.jenkinsfile#L80), pointing `destinationRegistry` to public ECR gallery `public.ecr.aws/opensearchproject`
@peterzhuamazon @bbarani

[2022-06-07 23:27] peterzhuamazon commented on #1762
Update 20220607:
* https://github.com/opensearch-project/opensearch-build/pull/2163

[2022-06-08 01:00] github-actions[bot] opened #2165 "[RELEASE] Release version 2.0.1"
## Release OpenSearch and OpenSearch Dashboards 2.0.1

I noticed that a manifest was automatically created in [manifests/2.0.1](/opensearch-project/opensearch-build/tree/main/manifests/2.0.1). Please follow the following checklist to make a release.

<details><summary>How to use this issue</summary>
<p>

## This Release Issue

This issue captures the state of the OpenSearch release, its assignee i

[2022-06-08 15:19] prudhvigodithi opened #2167 "[Bug]: sign-artifacts does not validate access-denied error from input URL."
### Describe the bug

[sign-artifacts](https://github.com/opensearch-project/opensearch-build/blob/main/jenkins/sign-artifacts/sign-standalone-artifacts.jenkinsfile) code does not validate the user passed in `URLs` input, it just tries to fetch the and save the file from `curl` output.
Sometimes the URL is not accessible
[code]
Still it wont fail and attempts to output the above error to a file an

[2022-06-08 17:16] prudhvigodithi commented on #2101
**Dashboard Integ tests**

====================================================================================================

  (Run Finished)

       Spec                                              Tests  Passing  Failing  Pending  Skipped
  ┌────────────────────────────────────────────────────────────────────────────────────────────────┐
  │ ✔  core-opensearch-dashboards/opensear      00:31

[2022-06-09 18:29] prudhvigodithi commented on #2101
native plugin installation `repository-azure`
[code]

[2022-06-09 18:39] prudhvigodithi commented on #2101
The 1.3.3 maven artifact will be available in next 24 hours
https://repo1.maven.org/maven2/org/opensearch/opensearch/1.3.3
<img width="587" alt="Screen Shot 2022-06-09 at 2 38 18 PM" src="https://user-images.githubusercontent.com/28733332/172920394-c5bb6ed3-cdcc-452e-93cb-d397d01efcba.png">

[2022-06-09 19:25] prudhvigodithi opened #2175 "[Retrospective] Release version 1.3.3"
**How to use this issue?**
Please add comments to this issue, they can be small or large in scope. Honest feedback is important to improve our processes, suggestions are also welcomed but not required.

**What will happen to this issue post release?**
There will be a discussion(s) about how the release went and how the next release can be improved. Then this ticket will be updated with the notes o

[2022-06-09 22:46] joshuali925 commented on #2051
Update: we renamed `OSC` and `OSC.JsonNetSerializer` to `OpenSearch.Client` and `OpenSearch.Client.JsonNetSerializer` respectively to avoid conflict

[2022-06-09 22:48] peterzhuamazon commented on #1762
Update 20220609:
* #2176

[2022-06-10 14:57] mtrop-godaddy opened #2177 "[Docker] Add support for running OpenSearch containers with an arbitrary user"
### Is your feature request related to a problem? Please describe

I'm trying to migrate a few Elasticsearch clusters over to OpenSearch. In the current ES setup, the config and data directories are bind-mounted into the container and are owned by a user that exists on the host system. If I mount these directories into an OpenSearch container then it's unable to write to the data directory due to

[2022-06-10 18:35] peterzhuamazon commented on #1762
This is complete and can be closed for now.
Thanks.

[2022-06-10 18:35] #1762 closed

[2022-06-10 21:00] kavilla commented on #1922
I could add it but I don't have the resources to publish this to docker hub.

[2022-06-10 21:02] kavilla commented on #1925
I am not. Apologies. But I added a good first issue label to this. This will be an improvement and relatively small but is not a blocker for anything.

[2022-06-10 22:10] peterzhuamazon opened #2179 "Add automation to easily track progress of each component and update release issues at every stage of the release"
This is to add an automation so that each parent release issue in this repo and child release issue in plugin repo are updated at every stage of the release, to avoid confusions and delays overall.

Example parent issue, see description for a list of child issues.
https://github.com/opensearch-project/opensearch-build/issues/2086

[2022-06-10 22:11] peterzhuamazon opened #2180 "Have additional label for qualifiers instead of just use the major version, 2.0.0 vs 2.0.0-rc1 in github issues and PRs"
We need to update the release template so that release manager will remember to specify qualifier information.

[2022-06-10 22:15] peterzhuamazon opened #2181 "Make sure OSD sanity test is having 1+ more days of testing time than OS sanity test during releases"
The release template should separate the timing of sanity test to two sections so OSD sanity testing is having a later deadline than OS sanity testing, due to OSD is relying on OS to run.

[2022-06-10 22:17] peterzhuamazon opened #2182 "[Campaign Placeholder] Build 3.0.0 Release in distribution with all plugin owners switch their main branch to test 3.0.0"
This is to build 3.0.0 early and run a campaign alongside plugin owners to fail-fast the breaking changes in main branches.
This include both OS and OSD plugins.

As of now OS core on main is already 3.0.0, same as OSD.

### This is a placeholder of a campaign that will start soon.

[2022-06-10 22:33] peterzhuamazon opened #2183 "Correctly Handle RPM Version Number with Qualifiers"
RPM does not support qualifier in the version number out of the box.
Back in 2.0.0-rc1, we replace the `-` with `.` due to RPM does not support `-` in version, turns to 2.0.0.rc1.
http://ftp.rpm.org/max-rpm/ch-rpm-file-format.html

However due to this change the `2.0.0.rc1` is having higher order than `2.0.0`, means when user tries to install `yum install opensearch` it will install rc1 instead of

[2022-06-10 22:35] peterzhuamazon opened #2184 "[Campaign Placeholder] Ask Plugin Owner to adopt the IntegTest docker image used in Jenkins to improve consitencies"
### This is the placeholder of a campaign

We want to ask the plugin owner to start testing integTest on their local through the use of docker image from Jenkins.

In this way, plugin owner can be confident that their local coding and testing would have the same results compare to Jenkins.

[2022-06-10 22:37] peterzhuamazon opened #2185 "[Campaign Placeholder] Consistent and standardize developing env and repo folder structure for all BE and FE plugins"
### This is a placeholder of a campaign

As of now not all the plugins are following the same structure in folder directories, or content of the build system.
This cause discrepancies, and makes it harder to debug by developers outside of the specific plugin team.

We want to formalize and unify the structure of the plugins so they all follow the same standards.

[2022-06-10 22:39] peterzhuamazon opened #2186 "Monitor the performance longevity test to alert issues early"
Proper monitoring and alarm on the performance longevity test to notice outliers and performance issues before releases so we wont be surprised by the performance degradation anymore.

Also, we want to have early performance testing for each new branch in OpenSearch to catch issues early on.

For example, if core 3.0.0 is available then we should just start the perf test even though plugins are no

[2022-06-10 22:41] peterzhuamazon opened #2187 "[Meta] Automate client release process by converting manual steps to automation"
As of now for clients such as java, js, rust, py, and more, we are still using the manual SOPs.
This causes delays between main artifacts releases and these client releases.
We want to automate the manual SOPs into the Jenkinsfile for automated releases after main artifacts online.

[2022-06-10 22:46] peterzhuamazon opened #2188 "Separate monorepos (e.g. OS and OSD plugins) to different repositories"
As of now, plugins such as SQL, Reports, Notifications are using the same git repo for their OS and OSD plugin.
This cause a mass discrepancies in tags commit id differences.

In 2.0.0, we build OS and OSD artifact at the same time.
During sanity testing, OSD found some bugs in reports so we rebuild OSD.
This means, reports BE in OS and reports FE in OSD are using different commit id.
However, sin

[2022-06-13 14:26] prudhvigodithi commented on #2177
Hey @mtrop-godaddy, thanks for your suggestions and inputs, one other way for your situation is to use `bindfs`, but it has its own caveats, we need to explore this arbitrary user ids to start with `opensearch` user and group with `root` to docker and indirectly to kubernetes as well.

[2022-06-13 15:58] prudhvigodithi commented on #2051
Hey @joshuali925 and @MaxKsyunz published the clients to nuget.org, please test/validate the clients, if required we can still unlist them from `opensearchproject` profile and republish them back again.
https://www.nuget.org/profiles/opensearchproject
Thank you.

[2022-06-13 16:14] dblock commented on #2187
I tagged this as campaign, let's standardize CD for the clients' release.

[2022-06-13 16:17] dblock commented on #2185
For native plugins we have https://github.com/opensearch-project/opensearch-plugin-template-java as a reference for the latest and greatest. Personally I am not in support of spending a lot of time standardizing every existing plugin's structure to match that, but I think it's a good idea to drive specific campaigns to address lack of common patterns. I would close this and open specific ones.

[2022-06-13 16:47] bbarani commented on #2187
@gaiksaya @kartg Lets start looking in to https://github.com/opensearch-project/opensearch-build/issues/1234 for client releases.

[2022-06-13 16:48] bbarani commented on #2186
@kotwanikunal Can you add alarms and monitors around the current performance tests?

[2022-06-13 17:11] #2142 closed

[2022-06-13 17:12] #2086 closed

[2022-06-13 17:16] peterzhuamazon opened #2190 "Temporary RPM signing method to unblock release from manual activities"
As of now, due to the complexity of the signing workflow, we are still using manual method to sign RPM artifacts and repos.
We need a temporary method now to unblock us before fully implement RPM signing before we fully add it into the signing workflow.

Thanks.

[2022-06-13 17:17] peterzhuamazon commented on #1547
Temp method:
* https://github.com/opensearch-project/opensearch-build/issues/2190

[2022-06-13 17:19] zelinh commented on #2165
Integ test for OS arm64
2022-06-13 03:11:06 INFO     | opensearch-observability | without-security     | PASS  |    0 |
2022-06-13 03:12:12 INFO     | cross-cluster-replication | with-security        | PASS  |    0 |
2022-06-13 03:12:12 INFO     | cross-cluster-replication | without-security     | PASS  |    0 |
2022-06-13 03:12:39 INFO     | dashboards-reports   | without-security     | PASS  |

[2022-06-13 17:23] zelinh commented on #2165
integ test for OS x64
[code]

[2022-06-13 17:46] bbarani commented on #2143
@tuotempo Are you able to validate the fix in the latest version (1.3.3) of docker images?

[2022-06-13 17:49] #1780 closed

[2022-06-13 17:50] bbarani commented on #1787
@zelinh @dreamer-89 Do you have any updates on this issue?

[2022-06-13 17:51] bbarani commented on #1753
@tianleh @kavilla @peterzhuamazon Can you update the status of this issue?

[2022-06-13 17:51] bbarani commented on #1728
@tianleh Can you update the current status?

[2022-06-13 17:53] bbarani commented on #1680
@tianleh  Can you please prioritize this documentation effort?

[2022-06-13 17:53] bbarani commented on #1627
@zelinh @peterzhuamazon Whats the current status of this issue?

[2022-06-13 17:55] bbarani commented on #1593
@opensearch-project/engineering-effectiveness  Can we close this issue?

[2022-06-13 17:56] bbarani commented on #1572
@reta @owaiskazi19

[2022-06-13 17:57] bbarani commented on #1500
@ankitkala Can you update the progress of this issue? Can we close this issue?

[2022-06-13 17:58] bbarani commented on #1461
@zelinh @peterzhuamazon @prudhvigodithi  Can you please update this issue with the current status?

[2022-06-13 17:58] bbarani commented on #1433
@peterzhuamazon Is this still a valid issue?

[2022-06-13 18:14] #1500 closed

[2022-06-13 18:37] dblock commented on #2152
This is a dup of https://github.com/opensearch-project/opensearch-build/issues/1375

[2022-06-13 18:37] #2152 closed

[2022-06-13 18:50] dblock commented on #1975
Which product's versioning scheme is going to be used for branching and those Jenkins tabs? For example, is 2.0 the tooling for DataPrepper 2.0 or OpenSearch 2.0? I am afraid that after we create the proposed branching scheme we'll be back to square 1 where Data Prepper 2.0 wants newest tooling from OpenSearch 3.0 and we've just made things very confusing again.

[2022-06-13 18:52] dblock opened #2191 "Support adding JAVA_HOME to auto-generated manifests"
### Is your feature request related to a problem? Please describe

In https://github.com/opensearch-project/opensearch-build/pull/2162 we had to manually add JAVA_HOME to an otherwise auto-generated manifest. Automate it.

### Describe the solution you'd like

The code that generates manifests needs to be aware of what JAVA_HOME to add.

### Describe alternatives you've considered

_No response_

[2022-06-13 18:58] peterzhuamazon commented on #1461
We have build number after docker tags right now.
We also have build number separate each tar build.
This can be closed for now.

[2022-06-13 18:58] #1461 closed

[2022-06-13 18:59] peterzhuamazon commented on #1433
We can always give bigger disk to Jenkins, as since we have a need now to retain all the logs, so close this.

[2022-06-13 18:59] #1433 closed

[2022-06-13 20:39] zelinh commented on #2165
The integ test for `notification` with security failed because of a known issue https://github.com/opensearch-project/notifications/issues/434.

[2022-06-13 20:39] dlvenable commented on #1621
Our plan for Data Prepper 1.5.0 - which will be the first with the `1` tag applied - is to use the Docker copy job rather than perform the copy in the Data Prepper promotion job. This should yield the same result of having a `data-prepper:1` tag.

[2022-06-13 22:31] zelinh commented on #2165
Integ tests Issue:
https://github.com/opensearch-project/index-management/issues/380

[2022-06-13 22:41] yosiasz commented on #33
great work! but I I will stick with es for now.

[2022-06-13 22:48] prudhvigodithi commented on #1823
Hey @dblock, just a thought once the [META issue](https://github.com/opensearch-project/opensearch-build/issues/1916) to publish the zips to maven is resolved, do we still need to publish plugin ZIPs to artifacts.opensearch.org?
@dblock @peterzhuamazon

[2022-06-13 22:59] prudhvigodithi commented on #184
Hey @VachaShah can this issue be closed also just a thought once this [META ISSUE](https://github.com/opensearch-project/opensearch-build/issues/1916) is resolved, we can expect the plugins to be in maven repo, we can fetch them during runtime using maven coordinates for BWC tests during runtime. With this we need not publish again to artifacts.opensearch.org.

[2022-06-13 23:14] zelinh commented on #2165
### Release testing
We have new Artifacts built and ready for testing.

---

- Use Docker-Compose to setup a cluster
  + Download this [gist](https://gist.github.com/zelinh/b3dfe630dde18611213ecbf1e9ac2296) as docker-compose.yml on your machine
  + Get latest image versions `docker-compose pull`
  + Start the cluster `docker-compose up`

- [OpenSearch docker 2.0.1.3895](https://hub.docker.com/laye

[2022-06-13 23:27] dblock commented on #2191
Yep, closing.

[2022-06-13 23:29] dblock commented on #1823
@prudhvigodithi I believe that yes. They should be downloadable directly and guessing the maven location feels like abusing what maven is built for.

[2022-06-13 23:30] dblock commented on #184
Since we publish several ZIPs to artifacts.opensearch.org, we should also publish the other zips there. The maven use-case is very specific for those that use maven as their dependency/build system.

[2022-06-14 00:56] prudhvigodithi commented on #1823
got it @dblock, but once the zip is in maven they can also be downloaded directly via the URL, apart from using maven coordinates, if yes we need to publish to `artifacts.opensearch.org`, does this not cause duplicates having at multiple places?

[2022-06-14 01:23] peterzhuamazon commented on #851
Pre-requisite PR:
* https://github.com/opensearch-project/opensearch-ci/pull/138

[2022-06-14 01:34] #2158 closed

[2022-06-14 01:34] #2159 closed

[2022-06-14 12:29] prudhvigodithi commented on #1975
@dblock considering `2.0`, `2.x` release branch, `2.x` jenkins views will have all build jobs and code, that can build both DataPrepper 2.0 or OpenSearch 2.0.
DataPrepper 3.0, OpenSearch 3.0,  all build jobs and code will be part of `3.x` and jenkins `3.x` views.
New enhancements (New tooling), features will be merged to main and backported to desired release branch, considering the advance toolin

[2022-06-14 14:58] dblock commented on #1823
I personally don't have a problem with duplicates.

[2022-06-14 17:10] dreamer-89 opened #2193 "Setup code coverage for OpenSearch repo"
### Is your feature request related to a problem? Please describe

Setup code coverage for OpenSearch repo.

### Describe the solution you'd like

As part of this issue, we need to
1. Update existing gradle check script to have ` -Dtests.coverage=true` to generate report on CI server. This step generates the report in .xml format under `build/codeCoverageReport` directory.
2. Provide mechanism to

[2022-06-14 17:28] prudhvigodithi commented on #2101
Closing the Release 1.3.3 issue as we have released the distribution. Feel free to re-open if needed.

[2022-06-14 17:28] #2101 closed

[2022-06-14 18:10] setiah opened #2194 "[Discuss] Bundling snapshot repository plugins with OpenSearch"
### Is your feature request related to a problem? Please describe

I'd like to discuss the idea of bundling snapshot repository plugins - `repository-s3`, `repository-azure`, `repository-gcp` with the OpenSearch distribution. Today, these plugins are not part of the distribution. Users need to install them explicitly after installing OpenSearch if they plan to use any of these popular cloud blob s

[2022-06-14 18:20] bbarani commented on #2194
We do not install the native plugins present under `/OpenSearch/tree/main/plugins ` directory by default but it can be installed using the plugin install command as below (and this is by design).

`opensearch-plugin install analysis-kuromoji`

You can also download the zips directly using the below link (pattern)

https://artifacts.opensearch.org/releases/plugins/analysis-kuromoji/1.3.3/analysis-k

[2022-06-14 18:46] gaiksaya commented on #2193
Looks like @peterzhuamazon is working on end to end JenkinsFile for gradle check.
@peterzhuamazon  can you please update this issue?
Thanks!

[2022-06-14 19:58] prudhvigodithi commented on #1975
My thought is If there's 1 year of development difference between OpenSearch 2.0 and DataPrepper 2.0 and both being build from `main` branch, then we are in same situation right ? because both use the same `main` branch and  Ideally this is even same with Current OpenSearch Core repo as well it could break with backport, but considering the way of development it should be accommodated with both Op

[2022-06-14 22:45] dreamer-89 commented on #2193
@gaiksaya : Thanks for providing the update. Can you please elaborate more on task @peterzhuamazon is working upon. I would like to know more how is it related to the ask on this issue.

[2022-06-14 23:49] zelinh commented on #2165
### Release testing
We have new Artifacts built and ready for testing.

---

- Use Docker-Compose to setup a cluster
  + Download this [gist](https://gist.github.com/zelinh/b3dfe630dde18611213ecbf1e9ac2296) as docker-compose.yml on your machine
  + Get latest image versions `docker-compose pull`
  + Start the cluster `docker-compose up`

- [OpenSearch docker 2.0.1.3904](https://hub.docker.com/laye

[2022-06-15 04:56] peterzhuamazon commented on #2190
20210614:
* https://github.com/opensearch-project/opensearch-build/pull/2195

[2022-06-15 05:02] peterzhuamazon commented on #2190
20210615:
* https://github.com/opensearch-project/opensearch-build/pull/2196

[2022-06-15 05:55] zelinh opened #2197 "Enhance the rpm validation workflow with certification validation"
### Is your feature request related to a problem? Please describe

Enhance the rpm validation workflow with certification validation.
After we add rpm package signing, we will need certain validation for the signature after the distribution build workflow.

### Describe the solution you'd like

Add the certification validation for rpm package when running `rpm-validation` workflow.

### Describe a

[2022-06-15 05:55] peterzhuamazon commented on #2190
Added tests after discussing with @zelinh he will add the certs validation later.
* #2197

[2022-06-15 05:55] #2190 closed

[2022-06-15 06:20] peterzhuamazon commented on #2197
20220615:
* https://github.com/opensearch-project/opensearch-build/pull/2198

[2022-06-15 06:37] peterzhuamazon commented on #2197
* https://github.com/opensearch-project/opensearch-build/pull/2199

[2022-06-15 06:49] tianleh commented on #1728
The issue has a pre-request PR https://github.com/opensearch-project/opensearch-build/pull/2028/files which was waiting for post 2.0 release. I will bring the related PR to sync up with latest main branch. After that, the issue just needs to include the test result link in the message notification.

[2022-06-15 06:56] tianleh commented on #1753
I remember the Jenkins job has allocated larger memory for the Docker container when running integ test. Once @peterzhuamazon  confirms, we can close the issue.

[2022-06-15 06:57] tianleh commented on #1680
Thanks for the reminder. ETA 6/24/2022

[2022-06-15 08:44] peterzhuamazon commented on #2197
* https://github.com/opensearch-project/opensearch-build/pull/2201

[2022-06-15 09:32] zelinh commented on #2165
### Release testing
We have new Artifacts built and ready for testing.
---
- Use Docker-Compose to setup a cluster
  + Download this [gist](https://gist.github.com/zelinh/b3dfe630dde18611213ecbf1e9ac2296) as docker-compose.yml on your machine
  + Get latest image versions `docker-compose pull`
  + Start the cluster `docker-compose up`
- [OpenSearch docker 2.0.1.3910](https://hub.docker.com/layers/

[2022-06-15 12:56] dblock commented on #1975
I agree that the current situation of everything on main isn't great. My opinion is that the branching strategy proposed creates many main's, so it's net worse. Thanks for a good discussion, thought, I am just trying to help, do what you think will work best!

[2022-06-15 16:28] setiah commented on #2194
First off, this is not a proposal but a discussion :)

During the Snapshot management feature review, it was found that the only out of the box option for Snapshots is shared filesystem. Apparently, the assumption was repository-s3 (and other snapshot plugins) are pre-installed in OpenSearch distribution, (since they are part of the same codebase) and can be supported via the new Snapshot Manageme

[2022-06-15 17:35] kotwanikunal commented on #2186
I am evaluating possible solutions for the alarming options using the Dashboards instance currently in use.
I will keep the issue updated.

[2022-06-15 18:03] dreamer-89 commented on #2193
Discussed the ask from infra team with @bbarani. Infra team is currently working on public jenkins migration and will help with this issue post existing gradle check migration to public jenkins.

CC @anasalkouz

[2022-06-15 20:13] bbarani commented on #2188
@anirudha @praveensameneni Please make a note of this campaign as it affects your repositories.

[2022-06-15 20:25] kavilla commented on #2114
@bbarani,

Yes will be prioritizing this in our repo. However, looking at the bucket and the code I'm not able to figure out where an example OpenSearch Snapshot. Do you or @peterzhuamazon have an example?

Thanks!

[2022-06-15 23:12] alejodocmar opened #2203 "Pricing for Amazon OpenSearch Service subscription filter"
I am an engineer in the AWS CodeGuruReviewer team. We are looking into pushing our logs from multiple components to an elastic search cluster and then query the logs using Kibana. We are considering following options:

-  Using LogStash to push logs from components to Elastic search
-  Using Firehose to push logs to Elastic search
-  Push logs to an S3 bucket and have a lambda listen to the S3 eve

[2022-06-16 00:18] github-actions[bot] opened #2205 "[RELEASE] Release version 1.3.4"
## Release OpenSearch and OpenSearch Dashboards 1.3.4

I noticed that a manifest was automatically created in [manifests/1.3.4](/opensearch-project/opensearch-build/tree/main/manifests/1.3.4). Please follow the following checklist to make a release.

<details><summary>How to use this issue</summary>
<p>

## This Release Issue

This issue captures the state of the OpenSearch release, its assignee i

[2022-06-16 01:10] bbarani commented on #2203
Hi @alejodocmar, we support the opensource version of OpenSearch and not the OpenSearch service hosted in AWS. Please reach out to AWS support team to understand the pricing and features.

[2022-06-16 01:10] #2203 closed

[2022-06-16 02:19] peterzhuamazon commented on #1552
20220615:
* https://github.com/opensearch-project/opensearch-build/pull/2206

[2022-06-16 17:06] CarlMeadows commented on #2194
Whether or not they are bundled with distribution - I assume the snapshot management UI can render the correct options based on which plugins are present correct? For example, if the S3 plugin is installed - provide the options to create a repo in S3 and do the same things for Azure, GCP, Oracle etc. As long as that is the case it should be fine to not include them in the distribution. We should m

[2022-06-16 17:42] setiah commented on #2194
Thanks @CarlMeadows . Good to hear your thoughts.

Yes, it can but since none of these storage plugins (s3, azure, gcp etc.) are part of the distribution, it will just show shared filesystem as the only snapshot repo option available out of the box. However, the gap in experience I see with this is "discovery" for new users. It would be probably better for the UI to show common storage options lik

[2022-06-16 17:47] dbwiddis commented on #2194
+1 on this.  Also make sure that the process for adding other cloud providers (e.g., Alibaba, IBM, Oracle, et. al.) is easy for those providers to update.

[2022-06-16 18:46] elfisher commented on #2194
Is there a way we could make new storage options loadable via a REST API? It could help make it easier for a user to enable a new storage provider without needing to restart their cluster.

[2022-06-16 19:23] zelinh commented on #2165
Native plugins installation validated.
[code]

[2022-06-16 19:26] setiah commented on #2194
Unfortunately not at this point because of the plugin architecture. If you install a plugin, you need to do a rolling restart to let the cluster know because the plugin is loaded at the time of bootstrapping the opensearch process. Allowing hot install of plugins is a separate project in itself. Extensions should solve this problem in the long run.

For the time being, I think the UI could describ

[2022-06-16 19:38] zelinh commented on #2165
Maven published.
<img width="495" alt="Screen Shot 2022-06-16 at 2 34 25 PM" src="https://user-images.githubusercontent.com/87548827/174151038-e32d71dc-bc68-48b4-b2d8-ca463977efc1.png">
https://repo1.maven.org/maven2/org/opensearch/opensearch/2.0.1/

[2022-06-16 20:03] zelinh opened #2208 "[Retrospective] Release version 2.0.1"
**How to use this issue?**
Please add comments to this issue, they can be small or large in scope. Honest feedback is important to improve our processes, suggestions are also welcomed but not required.

**What will happen to this issue post release?**
There will be a discussion(s) about how the release went and how the next release can be improved. Then this ticket will be updated with the notes o

[2022-06-16 20:50] elfisher commented on #2194
I'm not sure I really understand the downside to pre-installing some of them. Does it create performance impact? Without any of them installed would the UI just use local storage? With that said, I agree, if it doesn't include any pre-installed it should definitely walk through the process and link to detailed docs.

[2022-06-16 22:25] setiah commented on #2194
It doesn't create performance impact, but there are a couple that I can think of. First, it slightly bloats up the distribution size slightly. Bundling these storage options (repository-s3, repository-azure, repository-gcs) together, roughly increases the tar distribution size by +6-8%. Second, not all storage options are applicable for everyone e.g. users using s3, may not want azure and gcs stor

[2022-06-17 03:44] anandbprem commented on #2051
@prudhvigodithi , the URL shared does not have any packages listed.

![image](https://user-images.githubusercontent.com/953415/174220584-5df0af5c-d984-44b1-800f-d236cebb1292.png)

[2022-06-17 15:59] saratvemulapalli commented on #38
@bbarani with the launch of RPM/DEB, are we looking to add support for MacOS?

[2022-06-17 16:55] jmazanec15 commented on #38
@bbarani is it possible to release an ARCHIVE testDistribution for Mac? Related to https://github.com/opensearch-project/OpenSearch/issues/1676.

[2022-06-17 17:37] peterzhuamazon commented on #2165
Close this issue as 2.0.1 release is out.

[2022-06-17 17:37] #2165 closed

[2022-06-17 22:28] kotwanikunal opened #2211 "[Performance Tests] Add a performance test specific ci image for Docker"
### Is your feature request related to a problem? Please describe

Performance tests are currently failing for OpenSearch core. Details - https://github.com/opensearch-project/OpenSearch/issues/3628
To resolve this, a custom performance test specific Docker image will help attain more control over the environment with regards to the evolving requirements and test specific use case.

### Describe t

[2022-06-18 00:19] github-actions[bot] opened #2214 "[RELEASE] Release version 2.0.2"
## Release OpenSearch and OpenSearch Dashboards 2.0.2

I noticed that a manifest was automatically created in [manifests/2.0.2](/opensearch-project/opensearch-build/tree/main/manifests/2.0.2). Please follow the following checklist to make a release.

<details><summary>How to use this issue</summary>
<p>

## This Release Issue

This issue captures the state of the OpenSearch release, its assignee i

[2022-06-18 00:33] #2211 closed

[2022-06-18 14:43] prudhvigodithi commented on #1375
## Proposed Solution:

Automate this version increment process across all plugin components, that increment’s the version, modifies the required files and raise a PR that awaits for plugin team approval, this way an engineer need not spend hours of time to increment the version for all plugin components.

### Solution Details:
The following details uses [sql](https://github.com/opensearch-project/

[2022-06-20 16:28] bbarani commented on #2175
Closing this issue as we have completed the release. Please feel to re-open if required.

[2022-06-20 16:28] #2175 closed

[2022-06-20 17:07] prudhvigodithi opened #2215 "POC: Concept/Solution to Automate the version increment to next development iteration."
### Is your feature request related to a problem? Please describe

Part of https://github.com/opensearch-project/opensearch-build/issues/1375

### Describe the solution you'd like

Automate this version increment process across all plugin components, that increment’s the version, modifies the required files and raise a PR that awaits for plugin team approval, this way an engineer need not spend ho

[2022-06-20 17:07] prudhvigodithi commented on #2215
## Proposed Solution:

Automate this version increment process across all plugin components, that increment’s the version, modifies the required files and raise a PR that awaits for plugin team approval, this way an engineer need not spend hours of time to increment the version for all plugin components.

### Solution Details:
The following details uses [sql](https://github.com/opensearch-project/

[2022-06-20 19:46] prudhvigodithi commented on #1375
Hey @dblock, @bbarani  please add your thoughts for the above added [solution](https://github.com/opensearch-project/opensearch-build/issues/1375#issuecomment-1159476686)

[2022-06-20 20:01] prudhvigodithi opened #2216 "Build test Darwin version of min OpenSearch distribution to support plugin testing on MacOS."
### Is your feature request related to a problem? Please describe
For k-NN, to run integ tests on Mac is not compatible.
KNN uses lang painless to inject scripts. To test on MacOS right now the options are `INTEG_TEST`, which will bring up a cluster with plain and no modules (mainly lang painless) except [transportModulesFiles](https://github.com/opensearch-project/OpenSearch/blob/main/distributio

[2022-06-20 22:02] zelinh commented on #2167
This is a valid issue and we can add the validation for URL for that jenkins workflow.

[2022-06-20 22:09] zelinh commented on #515
This is still a valid issue. I see from our most recent merged PR https://github.com/opensearch-project/opensearch-build/pull/2213. Manifest CI checks were not running as well.

[2022-06-20 22:32] zelinh commented on #1813
Close this issue for now since we currently add commands to remove workspace files if using root access to docker images. Feel free to re-open if necessary.
E.g.
https://github.com/opensearch-project/opensearch-build/blob/a257f9b977ea5b16a34ada6ab0b37ee447641b70/jenkins/data-prepper/release-data-prepper-all-artifacts.jenkinsfile#L157

[2022-06-20 22:32] #1813 closed

[2022-06-20 23:02] zelinh commented on #1157
I think we can close this issue for now as there is nothing need to fix from our side. Thanks.

[2022-06-20 23:14] zelinh commented on #1962
I can see the latest suggested version still have CVEs detected. Need updates from dependency side.

[2022-06-21 00:16] gaiksaya opened #2218 "Release version 2.1.0"
This is a component issue for __{REPLACE_WITH_RELEASE_VERSION}__.
Coming from [opensearch-build#1818](https://github.com/opensearch-project/opensearch-build/issues/1818). Please follow the following checklist.
__Please refer to the DATES in that post__.

<details><summary>How to use this issue</summary>
<p>

## This Component Release Issue

This issue captures the state of the OpenSearch release,

[2022-06-21 00:17] #2218 closed

[2022-06-21 15:43] anirudha commented on #2188
This won't be resourced for 2.1 . lets review more details in depth

[2022-06-21 15:52] anirudha commented on #2188
@peterzhuamazon "This cause a mass dependencies in tags commit id differences."
-> can you better explain the problem you are trying to solve

[2022-06-21 16:08] anirudha commented on #2188
If the requirement is that a tag should not change after it associated with a commit-id , i.e a tag is supposed to be treated as an immutable identifier for the code. Then the build system must tag only after all release activities are completed.

Why is the build system tagging repos with a release-tag before we finalize the release ? if there is a bug after this, we can need cut a patch version,

[2022-06-21 16:59] #2132 closed

[2022-06-21 19:03] joshuali925 commented on #2051
the packages were taken down as there were some issues found during testing and validation. @prudhvigodithi could you provide an update on current status please? thanks

[2022-06-21 19:19] dblock commented on #1375
I like it! Make it work.

[2022-06-21 19:40] zelinh commented on #441
[Triage] @dblock Are you still looking into this issue or do you have a plan to resolve this?

[2022-06-21 19:44] #451 closed

[2022-06-21 19:48] bbarani commented on #2215
@prudhvigodithi it looks like this [issue](https://github.com/opensearch-project/opensearch-build/issues/1366) is related to auto incrementing version as well.

[2022-06-21 19:50] setiah commented on #38
I like this. Unblocking developers would also help individual plugins move faster on this meta issue. I see this is happening already - https://github.com/opensearch-project/OpenSearch/issues/1676#issuecomment-1161611756. Thanks!

[2022-06-21 22:57] praveensameneni commented on #2188
Furthermore reason for plugins to have a single repo so they can be autonomous in their deployments.

We started with two repos and as we grew and learnt a bit or two along the way and the team came up with one repo (combining backend and front end, making it easier to maintain and deploy faster.

[2022-06-21 23:43] gaiksaya opened #2220 "Move all AWS account numbers, bucket names and other sensitive data to secrets"
### Is your feature request related to a problem? Please describe

With jenkins going public, we observed that few variables which should be secrets are rather being stored and used as environment variables.
From security perspective, it is better if we move all those to credential store (AWS secrets manager) and use it as secrets rather than exposed as env variables.

Few of them are as follow:

[2022-06-22 07:28] kavilla commented on #843
I think we can close this. I know we have an issue for Mac support.

[2022-06-22 07:28] #843 closed

[2022-06-22 12:51] prudhvigodithi commented on #1366
Hey @peternied, from I understood, you concern was beyond just version increment, I have proposed a [solution](https://github.com/opensearch-project/opensearch-build/issues/2215) for version increment, this should take care of creating version increment PR's for the plugin. But your point was about to update the manifest file, please correct me if i'm wrong.
As today the order of plugins is manife

[2022-06-22 14:41] prudhvigodithi opened #2223 "Implement Automated workflow that will increment the version for plugin and take care of all other code changes"
### Is your feature request related to a problem? Please describe

Part of https://github.com/opensearch-project/opensearch-build/issues/1375

### Describe the solution you'd like

Automate this version increment process across all plugin components, that increment’s the version, modifies the required files and raise a PR that awaits for plugin team approval, this way an engineer need not spend ho

[2022-06-22 15:33] dblock commented on #441
I am not looking into it, but I believe it's still a nice to have feature.

[2022-06-22 15:40] dblock commented on #2188
So in (2) you re-release a second version 2.0.1.0 and tag it as 2.0.1.1? What are you going to do when it's OpenSearch 3.0 and OpenSearch Dashboards 8.0? How is anyone supposed to make sense of this?

[2022-06-22 15:49] dblock commented on #2188
There's no "limitation". Manifests support refs and many other things. However, infra automation that creates tags post release (so you don't have to) is currently not able to guess when it releases OpenSearch Dashboards 2.0 it should be tagging your plugin as 2.0.0.1 and not 2.0.0.0 like it does for the other 12 plugins, because you're a special case.

I think there are 3 choices:

1. Split the 4

[2022-06-22 15:54] dblock commented on #2188
@qreshi On the 1 repo = 1 component, yes that is generally my personal preference. Repos are cheap. Having completely different CIs, languages, tools in the same repo burdens the developers in having to often install unnecessary pre-requisites, having to understand a much larger codebase, etc.

[2022-06-22 20:00] joshuarrrr commented on #1707
@tianleh - is https://github.com/opensearch-project/opensearch-dashboards-functional-test/issues/217 sufficient to close this?

[2022-06-23 06:34] ganilmca opened #2240 "Not able to add RPM packages to the opensearch image"
Hi Team,

We are not able to add the sysstat, procps and other rpm packages to the OpenSearch images.
We need to use ps, ping, iostat, ping & other commands, so we need to add these packages to the image.
Can you please tell us how to add the packages to the image?.  When we try to add this we are getting the below issues.

error: Failed dependencies:
        /etc/cron.d is needed by sysstat-10.1.

[2022-06-23 15:00] mend-for-github-com[bot] opened #2234 "CVE-2022-34170 (Medium) detected in jenkins-core-2.332.3.jar - autoclosed"
## CVE-2022-34170 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jenkins-core-2.332.3.jar</b></p></summary>

<p>Jenkins core code and view files to render HTML.</p>
<p>Path to dependency file: /build.gradle</p>
<p>Path to vulnerable library: /home/wss-scanner/.g

[2022-06-23 15:00] mend-for-github-com[bot] opened #2235 "CVE-2022-34172 (Medium) detected in jenkins-core-2.355.jar - autoclosed"
## CVE-2022-34172 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jenkins-core-2.355.jar</b></p></summary>

<p></p>
<p>Path to dependency file: /build.gradle</p>
<p>Path to vulnerable library: /ches/modules-2/files-2.1/org.jenkins-ci.main/jenkins-core/2.355/63118

[2022-06-23 15:00] mend-for-github-com[bot] opened #2236 "CVE-2022-34171 (Medium) detected in jenkins-core-2.332.3.jar"
## CVE-2022-34171 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jenkins-core-2.355.jar</b></p></summary>

<p></p>
<p>Path to dependency file: /build.gradle</p>
<p>Path to vulnerable library: /ches/modules-2/files-2.1/org.jenkins-ci.main/jenkins-core/2.355/63118

[2022-06-23 15:00] mend-for-github-com[bot] opened #2237 "CVE-2022-34174 (High) detected in jenkins-core-2.332.3.jar - autoclosed"
## CVE-2022-34174 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jenkins-core-2.332.3.jar</b></p></summary>

<p>Jenkins core code and view files to render HTML.</p>
<p>Path to dependency file: /build.gradle</p>
<p>Path to vulnerable library: /home/wss-scanner/.gra

[2022-06-23 15:00] mend-for-github-com[bot] opened #2238 "CVE-2022-34173 (Medium) detected in jenkins-core-2.355.jar - autoclosed"
## CVE-2022-34173 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jenkins-core-2.355.jar</b></p></summary>

<p></p>
<p>Path to dependency file: /build.gradle</p>
<p>Path to vulnerable library: /ches/modules-2/files-2.1/org.jenkins-ci.main/jenkins-core/2.355/63118

[2022-06-23 15:00] mend-for-github-com[bot] opened #2239 "CVE-2022-34175 (Medium) detected in jenkins-core-2.355.jar"
## CVE-2022-34175 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jenkins-core-2.355.jar</b></p></summary>

<p></p>
<p>Path to dependency file: /build.gradle</p>
<p>Path to vulnerable library: /ches/modules-2/files-2.1/org.jenkins-ci.main/jenkins-core/2.355/63118

[2022-06-23 15:49] anirudha commented on #2188
we can do this without forcing team to maintain multiple repos. The current proposed solution creates a lot of issues for us as described here.
https://github.com/opensearch-project/opensearch-build/issues/2188#issuecomment-1161969668

[2022-06-23 19:26] INeerav commented on #2051
@prudhvigodithi all we wanted to know is if the publish will happen in next couple of days or it would take more than a month to help us plan our dev work

[2022-06-23 19:31] prudhvigodithi commented on #2051
Hey @INeerav @anandbprem the published packages were unlisted due to reported validation tests failure, @anirudha @joshuali925 are we good to republish the packages again? if so can you please share the 1.x version branch information.
Thank you

[2022-06-23 19:44] anirudha commented on #2051
pending release processes for a final publish. thanks @prudhvigodithi

[2022-06-23 21:27] dlvenable commented on #2157
Input parameters:

`VERSION`: `1.5.0`
`DATA_PREPPER_BUILD_NUMBER`: `19`

[2022-06-23 22:45] peterzhuamazon commented on #2157
![image](https://user-images.githubusercontent.com/65193828/175427067-e1d98f5e-0de5-4e2b-b72f-bcafcf72c44c.png)

Maven out.

https://hub.docker.com/r/opensearchproject/data-prepper/tags
docker out

https://artifacts.opensearch.org/data-prepper/1.5.0/opensearch-data-prepper-jdk-1.5.0-linux-x64.tar.gz

tarball out

[2022-06-23 22:46] peterzhuamazon commented on #2157
Close issue as we have released the artifact.

[2022-06-23 22:46] #2157 closed

[2022-06-23 23:08] peterzhuamazon commented on #2197
This issue has been resolved now.

[2022-06-23 23:08] #2197 closed

[2022-06-23 23:38] peterzhuamazon commented on #851
20220623:
* Build Repo: https://github.com/opensearch-project/opensearch-build/pull/2249

[2022-06-24 09:08] tianleh commented on #1707
Looks sufficient to close this. Thanks for the follow up.

[2022-06-24 09:08] #1707 closed

[2022-06-24 15:29] prudhvigodithi commented on #1918
Using the plugin [opensearch.pluginzip](https://github.com/opensearch-project/opensearch-plugins/blob/main/BUILDING.md#opensearchpluginzip) and with existing [CI worflows](https://github.com/opensearch-project/opensearch-build/tree/main/jenkins), the zips will signed and published
Example
https://repo1.maven.org/maven2/org/opensearch/plugin/opensearch-ml-plugin/2.0.1.0/
Closing this issue as resol

[2022-06-24 15:30] #1918 closed

[2022-06-24 15:31] prudhvigodithi commented on #1917
Using the plugin [opensearch.pluginzip](https://github.com/opensearch-project/opensearch-plugins/blob/main/BUILDING.md#opensearchpluginzip) and with existing [CI worflows](https://github.com/opensearch-project/opensearch-build/tree/main/jenkins), the zips will signed and published
Example
https://repo1.maven.org/maven2/org/opensearch/plugin/opensearch-ml-plugin/2.0.1.0/
https://aws.oss.sonatype.or

[2022-06-24 15:31] #1917 closed

[2022-06-24 15:36] prudhvigodithi commented on #1375
**For non-Gradle projects:**

Since Gradle support seamless integration of tasks for build automation, it’s preferable to add a gradle project to existing repos, for this integration a repo needs build.gradle, and gradle installation files. Then the implementation flow would be same as specified above to add [setVersion ](https://github.com/prudhvigodithi/sql/blob/main/build.gradle#L77-L84)and [ve

[2022-06-24 18:21] DarshitChanpura opened #2256 "Gradle Cache causing build failures for Security-plugin"
Gradle cache cause [build failure](https://github.com/opensearch-project/security/runs/7034067513?check_suite_focus=true#step:4:55) for main CI pipelines.

**Expected Behavior**
Should work without issues.

**Related Issues**
https://github.com/opensearch-project/OpenSearch/issues/3663

Should investigate further on why did this happen.

*Temporary solution*
Removing the CI step to restore the art

[2022-06-24 18:59] prudhvigodithi commented on #1375
Hey @kavilla @tmarkley can you please add your thoughts this proposed solution?
https://github.com/opensearch-project/opensearch-build/issues/1375#issuecomment-1165692455

[2022-06-24 19:05] gaiksaya opened #2257 "Restrospective 2.1.0 release"
How to use this issue?

Please add comments to this issue, they can be small or large in scope. Honest feedback is important to improve our processes, suggestions are also welcomed but not required.
What will happen to this issue post release?

There will be a discussion(s) about how the release went and how the next release can be improved. Then this ticket will be updated with the notes of that

[2022-06-24 19:11] peternied commented on #1366
I'm not sure what you mean by phases 1/2 but I am all onboard for more processes that make the distribution with less effort from OpenSearch-Project teams.

One element that might need to be considered is how a dashboard plugin says it is dependent on a back-end component to pick on Security/Security Dashboard Plugin.  Maybe there is a little work that can be done in the manifests alongside the wo

[2022-06-24 20:22] gaiksaya commented on #2256
Hi @DarshitChanpura , is this issue similar to what I noted down here: https://github.com/opensearch-project/opensearch-build/issues/2257#issuecomment-1165854605

[2022-06-24 20:30] tlfeng commented on #2256
In additon, the build failure you shown is actually related to the issue https://github.com/opensearch-project/OpenSearch/issues/3663 😉

[2022-06-24 21:18] amitgalitz commented on #2257
Not sure if this is the best place for this as its not an exact action item as it might be combination of things that plugins, core and infra could be doing better, basically a lot of small issues are only being discovered the day before the code complete day.
Too break this down to two separate problems:
1. Plugins are finding out last second that they have to make changes before a release code c

[2022-06-24 21:19] DarshitChanpura commented on #2256
Okay... in that case I will close this issue @gaiksaya.

Thank you @tlfeng for pointing the correct issue!

[2022-06-24 21:19] #2256 closed

[2022-06-27 15:36] prudhvigodithi commented on #1375
Hey @dblock
How about we exclude ` fileset(dir: workingDir)` as the default directory is the build directory, and following as plugin extension?
[code]
This above should work for all regular files.
Sometimes for JSON files, there needs to be an exact match pattern passed [as shown](https://github.com/opensearch-project/opensearch-build/issues/1375#issuecomment-1165692455)
[code]
In json sometimes

[2022-06-27 16:47] prudhvigodithi commented on #2215
Closing this issue as the [proposed](https://github.com/opensearch-project/opensearch-build/issues/2215#issuecomment-1160675378) initial POC testing is completed.

[2022-06-27 16:47] #2215 closed

[2022-06-27 21:36] peterzhuamazon commented on #851
Some explanations to the questions I get:

1. Why do we set 130min for Github Actions timeout?
Because gradle check jenkinsfile have a 120min timeout, once jenkins abort the run we need extra time for github action to retrieve the information, output the status, cleanup runners, etc. Therefore, adding 10min extra to the github actions timeout to be 130min to be safe.

2. Why do you set 7200seconds

[2022-06-27 23:27] peterzhuamazon commented on #851
@reta Please be aware Gradle Check now does not need `start gradle check` or rebasing to restart. You can just re-run it as any other github actions.

![image](https://user-images.githubusercontent.com/65193828/176053419-4af8149e-53b9-4ea8-bd0a-ab5f598cbc81.png)

Thanks.

[2022-06-27 23:27] #851 closed

[2022-06-28 00:52] github-actions[bot] opened #2271 "[RELEASE] Release version 2.2.0"
## Release OpenSearch and OpenSearch Dashboards 2.2.0

I noticed that a manifest was automatically created in [manifests/2.2.0](/opensearch-project/opensearch-build/tree/main/manifests/2.2.0). Please follow the following checklist to make a release.

<details><summary>How to use this issue</summary>
<p>

## This Release Issue

This issue captures the state of the OpenSearch release, its assignee i

[2022-06-28 04:50] mend-for-github-com[bot] opened #2272 "CVE-2022-34177 (High) detected in pipeline-input-step-2.12.jar - autoclosed"
## CVE-2022-34177 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>pipeline-input-step-2.12.jar</b></p></summary>

<p>The Jenkins Plugins Parent POM Project</p>
<p>Library home page: <a href="https://github.com/jenkinsci/pipeline-input-step-plugin">https://github.co

[2022-06-28 15:53] prudhvigodithi commented on #1375
Since the version increment logic is different per plugin, each having  multiple files to update the version (not a common logic).

Example:
https://github.com/opensearch-project/performance-analyzer-rca/pull/189
https://github.com/opensearch-project/common-utils/pull/180
https://github.com/opensearch-project/alerting/pull/464
https://github.com/opensearch-project/asynchronous-search/pull/149
http

[2022-06-28 16:10] bbarani commented on #1818
OpenSearch 2.1 version has been delayed due to last minute issues. The current plan is to release 2.1 version on July 07 2022.

[2022-06-28 18:31] dblock commented on #1375
@prudhvigodithi If there's no common logic then there's no need for a plugin, a task with the same name can be implemented in every plugin by "convention".

[2022-06-28 19:24] peterzhuamazon commented on #2193
Since we have completed the migration of gradle check in #851 coverage is on the table now.
Will start now.

[2022-06-28 20:42] peterzhuamazon commented on #2240
Hi @ganilmca can you tell me exactly what you guys want to do?
The opensearch image is just a AL2 image, as long as you login as root you can install whatever you want.
If you want this to be programmable you can even write a dockerfile using our image as base.

Thanks.

[2022-06-28 22:13] VachaShah opened #2276 "Release OpenSearch Ruby Client 2.0.1 version"
### Is your feature request related to a problem? Please describe

Publish version 2.0.1 for `opensearch-ruby` client: https://github.com/opensearch-project/opensearch-ruby

### Describe the solution you'd like

Release the mentioned clients to the respective package managers.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-06-28 22:15] bbarani commented on #2276
@VachaShah Is the code ready to be released? @peterzhuamazon Can we target June 30 2022 if the code is ready?

[2022-06-29 01:08] peterzhuamazon commented on #2193
PR lists:

20220628:
* https://github.com/opensearch-project/opensearch-build/pull/2279

[2022-06-29 03:48] mend-for-github-com[bot] opened #2280 "CVE-2022-20614 (Medium) detected in mailer-1.34.2.jar"
## CVE-2022-20614 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>mailer-1.34.2.jar</b></p></summary>

<p>This plugin allows you to configure email notifications for build results</p>
<p>Library home page: <a href="https://github.com/">https://github.com/</a></p>

[2022-06-29 18:21] VachaShah commented on #2276
Yes the code is ready.

[2022-06-29 21:06] peterzhuamazon commented on #2276
We have planned to release this on 2022/06/30 2PR with @VachaShah.
Thanks.

[2022-06-30 00:54] peterzhuamazon commented on #2193
The coverage results are published to codecov, tho it is not showing the analysis correctly.
Need to sync up with @dreamer-89 on what is the next step.
Seems like the xml itself is the issue.

Thanks.

[2022-06-30 19:04] peterzhuamazon commented on #2276
Branch: https://github.com/opensearch-project/opensearch-ruby/tree/2.0

[2022-06-30 19:23] peterzhuamazon commented on #2276
https://rubygems.org/gems/opensearch-ruby/versions/2.0.1
https://rubygems.org/gems/opensearch-api/versions/2.0.1

[2022-06-30 19:34] peterzhuamazon commented on #2276
https://github.com/opensearch-project/opensearch-ruby/releases/tag/v2.0.1

[2022-06-30 19:36] peterzhuamazon commented on #2276
Hi All,

We just shipped OpenSearch-ruby client for OpenSearch in version 2.0.1:
https://rubygems.org/gems/opensearch-ruby/versions/2.0.1
https://rubygems.org/gems/opensearch-api/versions/2.0.1

@VachaShah 2PR release.

Thanks.

[2022-06-30 19:36] #2276 closed

[2022-06-30 22:16] gaiksaya commented on #1818
### Release testing
We have new Artifacts built and ready for testing.
---
- Use Docker-Compose to setup a cluster
  + Download this [gist](https://gist.github.com/gaiksaya/f83dc9b67a1f967f5afcf5c0140a4f09) as docker-compose.yml on your machine
  + Get latest image versions `docker-compose pull`
  + Start the cluster `docker-compose up`
- [OpenSearch docker 2.1.0.5757](https://hub.docker.com/layer

[2022-06-30 23:10] zelinh opened #2290 "Add signature verification to windows signing workflow"
### Is your feature request related to a problem? Please describe

Coming from https://github.com/opensearch-project/opensearch-build/pull/2156#pullrequestreview-1025505369.

We should add windows signature verification from command line. Right now our signing workflow has functionality to sign the windows distribution but it doesn't have method to verify the signature. We can only validate the si

[2022-06-30 23:38] gaiksaya commented on #1818
Integ test results:

X64:
[code]

ARM64:
[code]

[2022-07-01 13:38] INeerav commented on #2051
@joshuali925  any updates?

[2022-07-01 17:09] bbarani commented on #1627
@zelinh @peterzhuamazon Whats the current status of this issue?

[2022-07-01 17:10] bbarani commented on #1176
@prudhvigodithi @gaiksaya @peterzhuamazon Can we close this issue?

[2022-07-01 17:39] Sugarlust commented on #1925
Hey @kavilla I would like to try to fix this issue. Do you have any idea on where I should start looking ?

[2022-07-01 17:58] zelinh commented on #1627
I can confirm that this issue is still valid but shouldn't be urgent. @peterzhuamazon Do you think we need to fix this?

[2022-07-01 20:36] prudhvigodithi opened #2292 "[Bug]: `github.event.pull_request.head.sha` used in Gradle check does not identify force commit sha's."
### Describe the bug

Coming from comment: https://github.com/opensearch-project/OpenSearch/pull/3481#issuecomment-1172544988
[.pull_request.head.sha](https://github.com/opensearch-project/OpenSearch/blob/main/.github/workflows/gradle-check.yml#L13) used in gradle check does not execute on force commits.
Failed build:  https://build.ci.opensearch.org/job/gradle-check/121/
Existing worflow.
https:/

[2022-07-01 20:38] bbarani commented on #2186
@kotwanikunal Any update on adding monitoring around performance tests?

[2022-07-01 21:06] bbarani commented on #2114
You should be able to get the updated snapshot -min artifact from https://artifacts.opensearch.org/snapshots/core/opensearch/3.0.0-SNAPSHOT/opensearch-min-3.0.0-SNAPSHOT-linux-x64-latest.tar.gz

[2022-07-05 15:54] tianleh opened #2294 "[Bug]: ci failed for manifest opensearch-2.1.0.yml"
### Describe the bug

`  ./ci.sh manifests/2.1.0/opensearch-2.1.0.yml --snapshot` failed with this error `Project 'plugin' not found in root project 'opensearch-sql'.`

The complete error is

[code]

See this run for details https://github.com/opensearch-project/opensearch-build/runs/7173513928?check_suite_focus=true

### To reproduce

Run `  ./ci.sh manifests/2.1.0/opensearch-2.1.0.yml --snapshot

[2022-07-05 16:15] prudhvigodithi commented on #2294
This could be because of recent gradle project Name change  for sql
https://github.com/opensearch-project/sql/pull/670

[2022-07-05 17:30] #2294 closed

[2022-07-05 19:05] prudhvigodithi commented on #2271
[Triaged] Release 2.2.0 issue, more details will be added after 2.1.0.

[2022-07-05 19:14] prudhvigodithi commented on #2290
[Triaged] This is a valid issue, the solution should be able to verify both windows and nuget packages.

[2022-07-05 19:17] prudhvigodithi commented on #2292
[Triaged] @peterzhuamazon can you add your thoughts ?
Thank you

[2022-07-05 20:52] ashwin-pc commented on #1375
I like this approach since Dashboards and other Node based packages for example dont use Gradle for the build system and migrating away from it would be a huge lift (especially for a version upgrade). Instead a build script convention/contract allows each repo to use the existing build system but in a way that makes building and releasing all repos and plugins easier.

[2022-07-05 21:12] prudhvigodithi commented on #1375
Hey @ashwin-pc

Could you please elaborate your thoughts for dashboard plugins that are not gradle?
The idea here is for not only related to version upgrade but also should support future requirements.

[2022-07-06 00:02] zelinh commented on #1877
Closing this issue as we now have this library available.

[2022-07-06 00:02] #1877 closed

[2022-07-06 15:59] jmazanec15 commented on #2216
Hi @prudhvigodithi and @bbarani, how much effort will this take to do/what release will this be targeted for? Do we already have support for MacOS ec2 agent's? Are there any tasks on this I could pick up?

[2022-07-06 16:01] bbarani opened #2297 "[Meta] Create UI dashboards to view the build, test and release stats"
### Is your feature request related to a problem? Please describe

We currently do not have any dashboards to view the status of builds, tests and releases for OpenSearch and OpenSearch dashboard artifacts.

### Describe the solution you'd like

**Build, release and test Dashboards  (OpenSearch and OpenSearch Dashboards)**

- Integrate and display build time, PR’s, CVE’s, integration / BWC tests r

[2022-07-06 17:31] #1430 closed

[2022-07-06 17:39] peterzhuamazon commented on #2292
This seems like more of a problem on github side not on us.
I have no more variable to access apart from the head sha returned by github.

[2022-07-06 18:30] bbarani commented on #1818
**Performance results comparison between OpenSearch 2.0 vs 2.1 version**

<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta name=ProgId content=Excel.Sheet>
<meta name=Generator content="Microsoft Excel 15">
<link id=Main-File rel=Main-File
href="fi

[2022-07-06 19:47] bbarani commented on #2292
Is there a way to inform the user to perform a dummy commit to remediate in these scenario if we cannot solve this issue due to GitHub limitations?

[2022-07-06 20:40] peterzhuamazon commented on #851
New Bug per @mch2 as we still need jdk14 for gradle check.
[code]

[2022-07-06 21:12] bbarani commented on #2240
@ganilmca We are closing this issue as we didn't receive any additional inputs to proceed further. Please feel free to re-open if you have any questions.

[2022-07-06 21:12] #2240 closed

[2022-07-06 21:13] bbarani commented on #2183
@dblock @peterzhuamazon Whats your recommendations for handling qualifiers like RC1, Alpha1, Beta1 for RPM artifacts? We should make a decision before we start the ground work for 3.x release.

[2022-07-06 21:15] bbarani commented on #2182
The campaign for branch alignment is tracked as part of. https://github.com/opensearch-project/opensearch-build/issues/1375

[2022-07-06 21:19] bbarani commented on #2180
I think the mechanism to create (labels)[https://github.com/opensearch-project/opensearch-plugins/blob/main/META.md#create-or-update-labels-in-all-plugin-repos] exist but we need to update the component issue template to tag the issues corresponding to specific release.

[2022-07-06 21:36] bbarani commented on #707
We are tracking the dashboard creation for viewing performance test runs [here](https://github.com/opensearch-project/opensearch-build/issues/2297)

[2022-07-06 21:37] bbarani commented on #706
@kavilla @seanneumann Whats the update on running performance tests for dashboards?

[2022-07-06 21:45] prudhvigodithi commented on #700
Hey @peternied with existing automation every published jar  has .md5, .sha1, sha256, sha512 and .asc extension
https://repo1.maven.org/maven2/org/opensearch/opensearch/1.3.2/

it has sources and javadoc jar as well
https://repo1.maven.org/maven2/org/opensearch/opensearch-job-scheduler/2.0.1.0/

Pom extensions for jar and zip are customizable
Example https://github.com/opensearch-project/job-sched

[2022-07-06 21:56] bbarani commented on #2220
@gaiksaya Can we close this issue?

[2022-07-06 22:15] gaiksaya commented on #2220
Not yet! Still yet to go through jenkinsFiles to see any ad-hoc environment variables usage.

[2022-07-06 22:16] seanneumann commented on #706
We have not started this yet. What is the priority? We have a lot of pokers in the fire right now.

[2022-07-06 22:20] bbarani commented on #2297
This is the subset of https://github.com/opensearch-project/opensearch-build/issues/2080

[2022-07-06 22:55] peterzhuamazon commented on #2193
It shows:
https://github.com/opensearch-project/OpenSearch/pull/3791#issuecomment-1176829987

[2022-07-07 02:10] #1428 closed

[2022-07-07 15:26] prudhvigodithi commented on #700
@peternied the requirements are already deep in the automation, I'm fine to have an extra workflow/checks to ensure those are there, but if a team want to have a new POM XML extension there are chances the workflow has to be extended, also not always sources and javadoc jar are required, its up to the team (to remove the the shadow jars), I'm open for a discussion on this, Adding @dblock @bbarani

[2022-07-07 17:40] dblock commented on #2183
@peterzhuamazon

What do other products do for RCs in yum repos?

Is this `-` vs. `.` misleading? Would `2.0.0-rc1` still be `2.0.0` or not?

[2022-07-07 17:45] bbarani commented on #1818
Verified native plugin installation

[code]

[2022-07-07 18:04] zelinh commented on #2290
We actually have GPG signature verification for tarball artifacts immediately after we sign it which implemented here.
https://github.com/opensearch-project/opensearch-build/blob/356b2a2397795065a818fe32224fcac82c54eca7/src/sign_workflow/signer_pgp.py#L49-L51
For windows verification, it's quite different so we don't have it for now.

[2022-07-07 18:16] dlvenable opened #2305 "[RELEASE] Data Prepper 1.5.1"
### Is your feature request related to a problem? Please describe

The Data Prepper team found some critical bugs in the new 1.5.0 release. We are planning a patch release.

Planned release date: Jul 8, 2022

### Describe the solution you'd like

After the Data Prepper maintainers completes the staging release build, please run the promotion job. A Data Prepper maintainer will supply the `VERSION`

[2022-07-07 18:21] peterzhuamazon opened #2306 "[WIN M1] WIN (ZIP/MSI) Build/Assemble Process"
|Tasks(ZIP) |**Tasks(MSI)** |Estimate   |Status(ZIP)    |Status(MSI)    |Notes  |
|---    |---    |---    |---    |---    |---    |
|Re-use the existing build process to generate the  OpenSearch/Dashboards min + all of the plugins artifacts for WIN package to  use |Same   |0  |Completed  |Completed  |   |
|The artifacts should be built with ~~LINUX~~ Windows platform  specified, ~~as we will cross

[2022-07-07 18:22] peterzhuamazon opened #2307 "[WIN M2] WIN (ZIP/MSI) Final Release Artifact Structure"
|Tasks(ZIP) |**Tasks(MSI)** |Estimate   |Status(ZIP)    |Status(MSI)    |Notes  |
|---    |---    |---    |---    |---    |---    |
|WIN artifact name should follow the binary file naming scheme `%{name}-%{version}-%{platform}-%{architecture}.%{extension}` so we have a clear path for upgrade/re-release (e.g. opensearch-1.2.0-windows-x64.zip) |Same but opensearch-1.2.0-windows-x64.exe or opensearch

[2022-07-07 18:23] peterzhuamazon opened #2308 "[WIN M3] WIN (ZIP/MSI) Validation"
|Tasks(ZIP) |**Tasks(MSI)** |Estimate   |Status(ZIP)    |Status(MSI)    |Notes  |
|---    |---    |---    |---    |---    |---    |
|Browser download from website to test the WIN artifact availability in artifacts.opensearch.org    |Same   |1  |Not Started    |Not Started    |   |
|Use curl to test the package availability through download links on website    |Same   |1  |Not Started    |Not Start

[2022-07-07 18:24] peterzhuamazon opened #2309 "[WIN M4] WIN (ZIP/MSI) Publishing"
|Tasks(ZIP) |**Tasks(MSI)** |Estimate   |Status(ZIP)    |Status(MSI)    |Notes  |
|---    |---    |---    |---    |---    |---    |
|Update the link of the WIN artifact on S3/CloudFront to our website download pages |Same   |1  |Not Started    |Not Started    |   |
|Provide ability to manually download the WIN artifact with the link    |Same   |2  |Not Started    |Not Started    |   |
|The build s

[2022-07-07 18:25] peterzhuamazon opened #2310 "[WIN M5] WIN (ZIP/MSI) Installation"
|Tasks(ZIP) |**Tasks(MSI)** |Estimate   |Status(ZIP)    |Status(MSI)    |Notes  |
|---    |---    |---    |---    |---    |---    |
|Test whether WIN artifact can install on Windows 10 Machines, more details on the validation section.  |Same   |1  |Completed    |TBA    |   |
|Users download the WIN artifact directly through the links we provide on website download page |Same   |3  |Completed    |T

[2022-07-07 18:26] peterzhuamazon opened #2311 "[WIN M6] WIN (ZIP/MSI) Signing"
|Tasks(ZIP) |**Tasks(MSI)** |Estimate   |Status(ZIP)    |Status(MSI)    |Notes  |
|---    |---    |---    |---    |---    |---    |
|The signer client should support signing WIN ZIP with PGP key. |The signer client should support signing WIN MSI.  |1  |Completed  |Completed  |   |
|Add the windows toolkit call for Windows Artifacts to [OpenSearch Signer Client](https://github.com/opensearch-projec

[2022-07-07 18:26] peterzhuamazon opened #2312 "[Discuss] OpenSearch/Dashboards Windows Distribution Design Document"
## OpenSearch/Dashboards Windows Distribution Design Document

Hi everyone,

We want to give you more details on how we currently experiment/implement the assemble workflows of Windows ZIP/Installer for the future releases on OpenSearch/Dashboards.

Please feel free to use this as guidance for contributing on Windows, as well as raising questions about our approach.

### Introduction/Problem State

[2022-07-07 18:46] mend-for-github-com[bot] opened #2314 "CVE-2021-30129 (Medium) detected in sshd-core-2.5.1.jar - autoclosed"
## CVE-2021-30129 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>sshd-core-2.5.1.jar</b></p></summary>

<p></p>
<p>Path to dependency file: /build.gradle</p>
<p>Path to vulnerable library: /ches/modules-2/files-2.1/org.apache.sshd/sshd-core/2.5.1/cc0e3cdb1e98321

[2022-07-07 18:46] #2235 closed

[2022-07-07 18:46] #2272 closed

[2022-07-07 18:46] #2238 closed

[2022-07-07 19:00] bbarani commented on #2214
Closing this issue as we have released a new minor version (2.1.0). We will be creating a placeholder patch release issue for 2.1.1 shortly.

[2022-07-07 19:00] #2214 closed

[2022-07-07 19:58] peterzhuamazon commented on #2193
Codecov now shows:
https://app.codecov.io/gh/opensearch-project/OpenSearch

[2022-07-07 21:57] peterzhuamazon commented on #2193
This task is completed for now close the issue.

[2022-07-07 21:57] #2193 closed

[2022-07-08 01:07] gaiksaya commented on #2257
Delay in generating release notes lead to overall delay in release. Release notes need to created at the same time as of code complete date. Additional PRs with bug fixes during the release testing phase can go in later.

[2022-07-08 14:57] vmjrojas commented on #2051
@joshuali925 Any updates?

[2022-07-08 16:07] prudhvigodithi commented on #2305
[Triaged] Good to go with the release.

[2022-07-08 17:36] dlvenable commented on #2305
Build parameters:

`VERSION` - `1.5.1`
`DATA_PREPPER_BUILD_NUMBER` - `20`

[2022-07-08 17:44] dblock commented on #2306
I think building an MSI is a totally separate ask and a whole new project (and repo).

[2022-07-08 17:47] prudhvigodithi commented on #2305
ECR:
https://gallery.ecr.aws/opensearchproject/data-prepper
[code]

DockerHub:
https://hub.docker.com/r/opensearchproject/data-prepper
Tag: [latest](https://hub.docker.com/layers/data-prepper/opensearchproject/data-prepper/latest/images/sha256-e34ce2f3d7c1fcf21991532596e69aa93c26c8074fc6c2b72678c562ae384ed8?context=explore)
[code]
Tag: [1](https://hub.docker.com/layers/data-prepper/opensearchproje

[2022-07-08 17:54] prudhvigodithi commented on #2305
Maven out confirmation:
<img width="1057" alt="Screen Shot 2022-07-08 at 1 54 10 PM" src="https://user-images.githubusercontent.com/28733332/178044965-cdb27248-d098-4238-b378-7855697b55e9.png">

[2022-07-08 17:56] dlvenable commented on #2305
The release was successful.

[2022-07-08 17:56] #2305 closed

[2022-07-08 18:55] prudhvigodithi commented on #1916
Starting with release 2.1.0, we now have plugin zips in [maven repo](https://repo1.maven.org/maven2/org/opensearch/plugin/).
[alerting](https://repo1.maven.org/maven2/org/opensearch/plugin/alerting/)
[anomaly-detection](https://repo1.maven.org/maven2/org/opensearch/plugin/opensearch-anomaly-detection/)
[asynchronous-search](https://repo1.maven.org/maven2/org/opensearch/plugin/asynchronous-search/)

[2022-07-08 20:04] prudhvigodithi commented on #716
Hey Starting with release 2.1.0, we now have plugin zips in [maven repo](https://repo1.maven.org/maven2/org/opensearch/plugin/)
https://github.com/opensearch-project/opensearch-build/issues/1916#issuecomment-1179276885

Pending items related to this issue before it can be closed:
https://github.com/opensearch-project/index-management/issues/123
https://github.com/opensearch-project/cross-cluster-r

[2022-07-08 20:42] prudhvigodithi commented on #2114
Hey @joshuarrrr can you please add some updates, if you are still having any issue?
Thank you

[2022-07-08 21:22] bbarani commented on #1572
@reta @saratvemulapalli Before we include this as part of Gradle check, we need to fix the existing flaky tests. Do you have any plans to improve the current gradle check process? We might need to modularize and start splitting the different sections of gradle checks to make it run at granular level based on the need. The current gradle check is not scalable and we are going to hit bottleneck very

[2022-07-08 21:27] bbarani commented on #1898
@saratvemulapalli will be creating campaigns to track the effort involved in automating the release tags for 2.2 release.

Sample PR: https://github.com/opensearch-project/OpenSearch/pull/3813

[2022-07-08 21:32] bbarani commented on #1494
@tianleh Any update on the current status?

[2022-07-08 21:33] bbarani commented on #1488
@gilbsgilbs Do you still have any questions on this issue?  @peterzhuamazon can we close this issue if there is no action item from our side?

[2022-07-08 21:35] bbarani commented on #935
@gaiksaya Is this still valid when we move to public jenkins? If not, can we close this issue?

[2022-07-08 21:37] bbarani commented on #2297
Test publisher info can be reference from https://github.com/opensearch-project/opensearch-build/pull/938

[2022-07-08 21:40] gaiksaya commented on #935
@rishabh6788 Did we move these as well? If yes then we need to fix the permissions else we are good

[2022-07-08 22:03] gilbsgilbs commented on #1488
Hi @bbarani .

I should have an old branch somewhere with this feature implemented as a non--breaking change. I'll see if I can find it, rebase it and submit a PR. It's rather unsatisfying, although in the meantime I'm not really sure it's worth the effort; I still think it should be done and that namespaced variables should take precedence over non-namspaced ones.

Feel free free to close if you

[2022-07-11 12:30] reta commented on #1572
@bbarani I think we should not be blocked here by flakyness of existing  tests, the packaging tests are well isolated and could be run as separate step. But flaky tests and monolithic checks are serious issues, we  [1], [2], [3] to tackle that.

[1] https://github.com/opensearch-project/OpenSearch/issues/2496
[2] https://github.com/opensearch-project/OpenSearch/issues/1715
[3] https://github.com/o

[2022-07-11 14:28] ElhamAhmadlou commented on #1625
Hi
I also have same error . i have also changed the image version to the latest one , but it did't help.

`level=error msg="container_linux.go:367: starting container process caused: exec: \"./opensearch-docker-entrypoint.sh\": stat ./opensearch-docker-entrypoint.sh: permission denied"`

[2022-07-11 16:23] dreamer-89 opened #2324 "[Bug]: gradle check failing with java heap OutOfMemoryError"
### Describe the bug

Public jenkins gradle check job failure due to java heap OutOfMemoryError. Raised this bug to get more understanding around existing gradle check function and prevent it on different machines. The ec2 hosts were previously upgraded to c524xlarge instance. Not sure if instance needs some cleanup.

### To reproduce

https://build.ci.opensearch.org/job/gradle-check/381

### Expe

[2022-07-11 17:04] #1621 closed

[2022-07-11 20:47] peterzhuamazon commented on #2306
OK I think I find this one part:
./src/system/process.py:        parent = psutil.Process(self.process.pid)

[2022-07-11 21:33] dblock commented on #2306
I think this is a mistake, and we're giving up prematurely. We definitely have native bits, even though for a first version may not try to build them (k-nn, etc.).

What is the issue with psutil? Link?

[2022-07-11 22:35] peterzhuamazon opened #2325 "[Enhancement] Provide commit id information for each repo before distribution build starts"
[Enhancement] Provide commit id information for each repo before distribution build starts.

Return a link to the yml file with all the commit-ids of repos from the input manifest file.

[2022-07-12 01:24] ashwin-pc commented on #1375
sure, Dashboards and its plugins have their own bundler [webpack](https://webpack.js.org/) that is used for all automations including to transform and build the plugin. These tasks are run using nodejs scripts. For simple tasks we just use node scripts themself and for more complex transformations and automations we use a combination of custom webpack plugins and node scripts. I'm not sure of all

[2022-07-12 03:59] ankitkala commented on #2066
Needs prioritisation.

[2022-07-12 09:34] rursprung commented on #2312
i don't personally need a windows installer (we're not running OpenSearch on Windows and for local development i can just play with a ZIP file which i'm not installing) and i'm not super familiar with windows installers, but if i remember correctly Microsoft wanted to push developers from MSI towards [MSIX](https://docs.microsoft.com/en-us/windows/msix/). it seems that it [also supports services](

[2022-07-12 11:24] dblock commented on #2312
I've used https://github.com/wixtoolset/ extensively (which seems to [not support msix](https://github.com/wixtoolset/issues/issues/5781)),  and have authored much of https://github.com/dblock/msiext which would make building an installer for OpenSearch a couple of days' job, except that technology is largely obsolete. So someone who has recently looked into Windows installers would need to give s

[2022-07-12 16:25] bbarani commented on #2312
@dblock @peterzhuamazon @rursprung Can't we not use the official [MSIX](https://docs.microsoft.com/en-us/windows/msix/packaging-tool/create-app-package) tool to create MSIX from generated executable?

[2022-07-12 16:37] #2220 closed

[2022-07-12 18:09] bbarani commented on #2054
Closing this issue as we finalized the root cause of the latency.

[2022-07-12 18:09] #2054 closed

[2022-07-12 18:13] peterzhuamazon commented on #2014
Completed now: https://github.com/opensearch-project/opensearch-build/pull/2206

[2022-07-12 18:13] #2014 closed

[2022-07-12 18:19] peterzhuamazon commented on #1753
We are not seeing flaky test caused by memory issue on virtual memory anymore.
Closing now.

Thanks.

[2022-07-12 18:19] #1753 closed

[2022-07-12 18:32] prudhvigodithi commented on #2068
Adding @elfisher @setiah, Since min's are not production grade distributions, can you add your thoughts for publishing min distribution to maven repo?
Thank you

[2022-07-12 18:41] prudhvigodithi commented on #2023
It's better to add tests at per Jenkins library instead of Jenkinsfiles, ideally for the exact library functionality.
Closing this issue, please feel free to reopen @tianleh

[2022-07-12 18:41] #2023 closed

[2022-07-12 18:45] prudhvigodithi commented on #1468
The tests already exists for all shared libraries used by Jenkinsfiles, the functions are being fully tested.
Closing this issue, please feel free to reopen.
https://github.com/opensearch-project/opensearch-build/tree/main/tests/jenkins

[2022-07-12 19:28] prudhvigodithi commented on #2069
Hey @rursprung just weighing the effort with the requirement, the distributions can be downloaded using fixed URLs as follows  https://artifacts.opensearch.org/releases/bundle/opensearch/<version>/opensearch-<version>-linux-x64.tar.gz
For work in progress(min distribution snapshots)
https://artifacts.opensearch.org/snapshots/core/opensearch/<version>-SNAPSHOT/opensearch-min-<version>-SNAPSHOT-linu

[2022-07-12 21:41] peterzhuamazon commented on #2306
I am in the process of adding Windows runner to Jenkins.
I believe psutil actually support Windows native but not cygwin.
If I am able to bring up the runner this would not be an issue anymore I think.

[2022-07-12 21:52] dblock commented on #2312
@bbarani I don't know I've never used it. There's a *lot* more to an installer than turning an executable into a service.

[2022-07-12 22:56] prudhvigodithi commented on #2223
Renaming to task `updateVersion` following https://github.com/opensearch-project/opensearch-plugin-template-java/pull/32.

[2022-07-12 22:56] prudhvigodithi commented on #1375
Renaming to task `updateVersion` from [versionIncrement](https://github.com/opensearch-project/opensearch-build/issues/1375#issuecomment-1159476686 following) https://github.com/opensearch-project/opensearch-plugin-template-java/pull/32.

[2022-07-13 13:55] HoffmannTom commented on #2312
I used WIX-Toolset for my needs and everything worked so far, even if it can get quite complex.

Here is a comparison chart which might help to decide what to use:
https://pacesuite.com/blog/msi-vs-msix-overview-and-comparison/
msix is more leightweight but has some restrictions, like when you need admin privileges or access to some reg-keys.

[2022-07-13 19:33] zelinh commented on #2205
###  Release testing
We have new Artifacts built and ready for testing.

---

#### **Use Docker-Compose to setup a cluster**

Download this [gist](https://gist.github.com/zelinh/263b1917554dc7320b65401775086a13) as docker-compose.yml on your machine
Get latest image versions docker-compose pull
Start the cluster docker-compose up

#### [OpenSearch docker](https://hub.docker.com/layers/opensearch/o

[2022-07-13 19:50] prudhvigodithi opened #2332 "Migrate the old manifests to legacy-manifests folder"
### Is your feature request related to a problem? Please describe

The exists build repo [manifests](https://github.com/opensearch-project/opensearch-build/tree/main/manifests) folder, has all the manifests including from 1.0.0 version, the following are problems encountered

- Some of these manifests uses old JDK version, so the [manifest workflow](https://github.com/opensearch-project/opensearch

[2022-07-13 20:13] zelinh commented on #2205
Integ test for OS
x64:
[code]

arm64:
[code]

[2022-07-13 20:25] bbarani commented on #2257
Automating the release notes is tracked [here](https://github.com/opensearch-project/opensearch-build/issues/438)

[2022-07-13 20:32] zelinh commented on #2205
Release Candidates for OpenSearch-Dashboards
#### [OpenSearch-Dashboards docker](https://hub.docker.com/layers/opensearch-dashboards/opensearchstaging/opensearch-dashboards/1.3.4.4017/images/sha256-e752663cc678868b4b358c8a815d03c16caae6ce240b5faa381253cccaec3448?context=explore)

**Start without security**
Docker command `docker pull opensearchstaging/opensearch-dashboards:1.3.4.4017 && docker run

[2022-07-13 20:46] peterzhuamazon commented on #2324
Please let us know what kind of cleanup you need.
We have:

1. Cleanup docker containers
2. Cleanup gradle cache and gradle daemons
3. Cleanup core repo

If you have any commands to clear java heap please let us know.

Thanks.

[2022-07-13 20:52] bbarani commented on #2324
@dreamer-89 can you explore options to break up the gradle check tasks in to different modules? The current gradle check is very monolithic and we cannot sustain longer by increasing hardware resources.

[2022-07-13 22:13] jamesdoran commented on #2051
@prudhvigodithi, @anirudha, @joshuali925 is there any update on when the nuget packages will be re-released please?

[2022-07-13 23:47] gaiksaya commented on #1818
Closing this issue since 2.1.0 is released. Retrospective issue: https://github.com/opensearch-project/opensearch-build/issues/2257

[2022-07-13 23:47] #1818 closed

[2022-07-14 00:07] gaiksaya commented on #1176
I would say yes however, `This includes daily build artifacts` are not pushed today but are accessible via ci.opensearch.org
I don't think we need to push those to production. The issue title says during release which we have in place today.
Thanks!

[2022-07-14 00:30] peterzhuamazon commented on #2306
[code]

![image](https://user-images.githubusercontent.com/65193828/178859522-e18a054b-a6be-44e9-93ad-8fb3f81001c4.png)

[2022-07-14 00:36] github-actions[bot] opened #2338 "[RELEASE] Release version 2.1.1"
## Release OpenSearch and OpenSearch Dashboards 2.1.1

I noticed that a manifest was automatically created in [manifests/2.1.1](/opensearch-project/opensearch-build/tree/main/manifests/2.1.1). Please follow the following checklist to make a release.

<details><summary>How to use this issue</summary>
<p>

## This Release Issue

This issue captures the state of the OpenSearch release, its assignee i

[2022-07-14 10:15] FabioFlorey opened #2403 "[BUG] OpenSearch is not visible on the intranet (I can visit it locally, on the machine)"

[2022-07-14 16:26] CEHENKLE commented on #2188
@anirudha @praveensameneni @xinlamzn  Can you do a deeper dive on tagging options w/pros and cons and report back here?

[2022-07-14 16:49] dblock commented on #2306
Nice @peterzhuamazon! Try writing up a 3.0/2.x build for Windows?

[2022-07-14 18:50] zelinh commented on #2205
Maven artifacts have been released and should be available within 24 hours.
https://repo1.maven.org/maven2/org/opensearch/opensearch/1.3.4/
<img width="498" alt="Screen Shot 2022-07-14 at 11 36 29 AM" src="https://user-images.githubusercontent.com/87548827/179060041-436f3bff-7e87-4dd0-bb47-e9037b60b572.png">

[2022-07-14 18:51] zelinh opened #2339 "[Retrospective] Release version 1.3.4"
**How to use this issue?**
Please add comments to this issue, they can be small or large in scope. Honest feedback is important to improve our processes, suggestions are also welcomed but not required.

**What will happen to this issue post release?**
There will be a discussion(s) about how the release went and how the next release can be improved. Then this ticket will be updated with the notes o

[2022-07-14 18:52] peterzhuamazon commented on #2306
Working on it now and still trying to get bash natively running in powershell, which should happen in newer versions.

[2022-07-15 02:41] peterzhuamazon commented on #2306
New error detected on building opensearch on Windows host:
[code]

[2022-07-15 03:56] peterzhuamazon commented on #2306
Right now I manually swapped the JDK to 17 and able to build "2.1.0 core + common-utils + job-scheduler + ml-commons":
http://jenki-jenki-fpgmrv2ryxko-1366042710.us-east-1.elb.amazonaws.com/job/bundle-build-zhujiaxi/30/console

This is running shell directly on a Windows 2019 Server without the WSL setup.

Windows is IOPS hungry thus EBS Optimized is required and c5 instances enable that by defaul

[2022-07-15 19:18] dreamer-89 commented on #2324
[Another occurrence](https://github.com/opensearch-project/OpenSearch/pull/3924#issuecomment-1185831810) in https://github.com/opensearch-project/OpenSearch/pull/3924

In this case, even though the build was successful but marked failed due to heap space.

[2022-07-15 19:18] dreamer-89 commented on #2324
Thanks @peterzhuamazon for providing different options. At this point, I am not sure which cleanup will help. I think we need to deep dive to understand which process is consuming the heap space.

[2022-07-15 19:20] dreamer-89 commented on #2324
Thanks @bbarani for the comment. I suspect the existing heap space is not due to limited hardware but instead some resource leak causing heap m/y issue. I think we need to spend brain cycles on existing failure. It could be a test but I started observing these failures recently.

[2022-07-15 20:21] peterzhuamazon commented on #2324
Hi @dreamer-89 let me clarify those 3 options have ALL been applied to our script already.
Means every time when a gradle check trigger, all those 3 are already cleanup.
I am asking do you have any ways to clean up heap as I am not familiar with that.

[2022-07-15 20:22] peterzhuamazon commented on #2324
Additionally I now remember I even kill all the opensearch process if any still exist.

[2022-07-15 21:16] prudhvigodithi commented on #2051
Hey @anirudha @joshuali925 just wanted to follow up again, can you post an update when you get a chance?
Thank you

[2022-07-15 21:40] joshuali925 commented on #2051
currently in progress of security review

[2022-07-15 22:25] zelinh opened #2345 "Release tracker for component repos"
### Is your feature request related to a problem? Please describe

When we were launching release, it's hard for us to know if each release component has any new fixes, commits or updates from last release. Right now it would require us to look into each repo and check their commit history on certain branch.

In addition, If they have any new commits after last release on the same branch, we would

[2022-07-18 17:55] vamshin opened #2346 "New plugins geospatial, dashboard-maps need to be added to 2.2 release"
### Is your feature request related to a problem? Please describe

We are adding two new plugins
- geospatial (backend): https://github.com/opensearch-project/geospatial
- dashboard-maps(frontend): https://github.com/opensearch-project/dashboards-maps

### Describe the solution you'd like

These plugins will be used for building new Geo features. For the 2.2 release, we are launching [custom geojs

[2022-07-18 18:04] bbarani opened #2347 "Add code coverage to missing repositories"
### Is your feature request related to a problem? Please describe

Code coverage is not reported for some of the repositories maintained by OpenSearch Engineering Effectiveness team

### Describe the solution you'd like

Add workflows to report code coverage for below repositories

https://github.com/opensearch-project/opensearch-ci
https://github.com/opensearch-project/ansible-playbook
https://gi

[2022-07-18 18:10] bbarani commented on #2290
Lets make sure to add validation for all Windows distribution types that we are planning to support (i.e. .exe, .zip, .msi, .msix etc..)

[2022-07-18 18:47] owaiskazi19 commented on #2324
Can we define the recommended heap specifications to ensure container memory? Flags like `Xmx` and `Xms` mentioned [here](https://docs.cloudbees.com/docs/cloudbees-ci-kb/latest/best-practices/jvm-memory-settings-best-practice)

[2022-07-18 19:00] setiah commented on #2068
I don't see any problem with this either. We already publish min artifacts on artifact.opensearch.org, so publishing it to maven does not seem like additional risk to me. It would rather help simplify building things for the community like plugin development

[2022-07-18 19:59] bbarani commented on #2068
@setiah @dblock I don’t see an issue either but we were specifically told not to publish min  bundles on other distribution channels (including Docker) as it lacks security features.  We won’t be able to control / advertise the usage once it’s in Maven though.

[2022-07-18 20:42] dblock commented on #2346
Please PR into the manifest!

[2022-07-18 20:47] zelinh commented on #2271
Two new plugins will be added to 2.2 release. https://github.com/opensearch-project/opensearch-build/issues/2346

[2022-07-18 21:50] bbarani commented on #2186
@kotwanikunal Any update on adding monitoring around performance tests?

[2022-07-18 21:54] bbarani commented on #2143
Closing this issue for now. Please feel free to re-open if required.

[2022-07-18 21:54] #2143 closed

[2022-07-18 21:58] bbarani commented on #1922
@peterzhuamazon @gaiksaya Can you help @kavilla here?

[2022-07-18 22:01] kotwanikunal commented on #2186
@bbarani Sorry I was busy with some operational load. I did look into this recently and the current instance of Dashboard which hosts the performance test results does not support multiple filters/where clauses for correct filtering of the Mensor result index - which is a global index for all the results across multiple users and domains.
I will shortly sync up with an engineer from the alerting t

[2022-07-18 22:03] #2097 closed

[2022-07-18 22:24] gaiksaya commented on #1922
Sure, @kavilla Can you point to the right script PATH? Looks like the one you posted is giving 404

[2022-07-19 00:23] github-actions[bot] opened #2348 "[RELEASE] Release version 1.3.5"
## Release OpenSearch and OpenSearch Dashboards 1.3.5

I noticed that a manifest was automatically created in [manifests/1.3.5](/opensearch-project/opensearch-build/tree/main/manifests/1.3.5). Please follow the following checklist to make a release.

<details><summary>How to use this issue</summary>
<p>

## This Release Issue

This issue captures the state of the OpenSearch release, its assignee i

[2022-07-19 12:16] aviau commented on #2097
Nice! Good job!

[2022-07-19 14:37] #2194 closed

[2022-07-19 17:02] prudhvigodithi commented on #2223
Closing this issue as PR for workflow is merged https://github.com/opensearch-project/opensearch-build/pull/2291 :)

[2022-07-19 17:02] #2223 closed, assigned to prudhvigodithi

[2022-07-19 18:06] prudhvigodithi opened #2350 "Test the existing build_workflow to run the OpenSearch build with platform as darwin."
### Is your feature request related to a problem? Please describe

Related to: https://github.com/opensearch-project/opensearch-build/issues/2216

### Describe the solution you'd like

Test the existing build_workflow to check if works with `darwin` platform.

### Describe alternatives you've considered

N/A

### Additional context

Run the `./buid.sh` with `-p darwin` to execute the darwin build

[2022-07-19 18:06] prudhvigodithi commented on #2350
https://ci.opensearch.org/ci/dbc/Playground/distribution-build-opensearch-pgodithi/2.0.1/0/darwin/x64/builds/opensearch/dist/opensearch-min-2.0.1-darwin-x64.tar.gz
NOTE: This is not a final darwin published artifact, this is to just test the OpenSearch min darwin format.

[2022-07-19 18:07] prudhvigodithi commented on #2350
Tested the min OpenSearch artifact by @jmazanec15
https://github.com/opensearch-project/OpenSearch/issues/1676#issuecomment-1160941835

[2022-07-19 18:07] #2350 closed

[2022-07-19 18:18] bbarani commented on #2324
We have actually increased the hardware resources and I think we are using  [c524xlarge](https://github.com/opensearch-project/opensearch-build/pull/2298) instance  now. I assume you are seeing more errors due to the fact that we are running gradle checks more frequently now as we eliminated the need for commenting 'start gradle check' on the PR to begin the process. Having said that, I am seeing

[2022-07-19 19:24] bbarani commented on #2345
[Triaged] We will look in to this issue soon

[2022-07-19 19:26] bbarani commented on #2347
[Triaged] We will add the code coverage workflows to [/opensearch-ci](https://github.com/opensearch-project/opensearch-ci). We need to investigate further for other repos.

[2022-07-19 19:44] dblock commented on #2324
I hear from @peterzhuamazon that the JDK may have been changed? I would double check that G1GC is enabled.

Are these instances recycled every build?

[2022-07-19 19:53] peterzhuamazon commented on #2324
I am currently writing a setup to permanently recycle all the instances.
AKA run 1 build, delete agent, provision new, run again while apply all cleanups for now.
If this runs well with higher success rate then it probably caused by some zombie process in the middle.

[2022-07-19 22:43] peterzhuamazon commented on #2188
Hi All,

20220719 notes:

1. We plan to tag OS and OSD with separate tags.
2. Starting on `v3.x` we will tag all backend component with `<version>-opensearch` and frontend component with `<version>-opensearch-dashboards`. This includes both the split repos and the combined repos.
3. As for `v1.x` and `v2.x` we will keep using 1 tag for both components. We will work with component owners to make su

[2022-07-20 18:41] dblock commented on #2312
Re: EXE vs. MSI, typically EXEs are bootstrappers/bundles that contain multiple components (see https://wixtoolset.org/documentation/manual/v3/bundle/), while MSIs are single installer packages. Today an OpenSearch distribution is a core + plugins, so the question is: is the distribution 1 big MSI with _preinstalled_ plugins, or is it 1 MSI for -min and MSIs for each plugin that can be installed/u

[2022-07-20 21:07] zelinh commented on #2044
Instead of hard-coding both `image_map`, `jdk_version` and `data: Dict = ...`, we are looking into an alternative way to auto generate the manifest with those data. As @dblock suggested [here](https://github.com/opensearch-project/opensearch-build/pull/2354#pullrequestreview-1045565801), I will be trying to create such template manifest folders and have the new manifest loading those infos dependi

[2022-07-21 04:37] peterzhuamazon commented on #2324
After this change gradle check generally complete between 27-40min, way quicker.
They also have less flaky runs in general.

https://build.ci.opensearch.org/job/gradle-check/853/console
https://build.ci.opensearch.org/job/gradle-check/854/console
https://build.ci.opensearch.org/job/gradle-check/855/console

Even the failure is legic failure most of the time:
https://build.ci.opensearch.org/job/gra

[2022-07-21 04:39] peterzhuamazon commented on #2324
Remember this is not a permanent solution, we would like core team to help identify the cause within gradle check and fix the root problem.

Thanks.

[2022-07-21 15:21] geoffharcourt opened #2357 "Add a healthcheck capability (or include curl)"
### Is your feature request related to a problem? Please describe

We've been using Elasticsearch and are migrating to OpenSearch. One issue we've run into with OpenSearch 1.2.x is that we aren't able to healthcheck the OpenSearch instance launched from public Docker image.

With Elasticsearch 7.x we'd curl `localhost:9200` with this docker-compose setting:

[code]

However this doesn't work with

[2022-07-21 16:10] peterzhuamazon commented on #2324
Hi @dblock that is already done and that is not related here. We have been using this method since fork Jenkins.

[2022-07-21 17:11] dblock commented on #2324
I saw another out of memory error in https://build.ci.opensearch.org/job/gradle-check/874/

[2022-07-21 18:25] dreamer-89 commented on #2324
Another occurence in https://github.com/opensearch-project/OpenSearch/pull/3937

https://build.ci.opensearch.org/job/gradle-check/875/consoleFull

[2022-07-21 18:32] dreamer-89 commented on #2324
I observed heap issue locally as well. Created https://github.com/opensearch-project/OpenSearch/issues/3973 to track on core.

[2022-07-21 18:34] penghuo commented on #2188
I think merge all the OpenSearch plugin into OpenSearch repo could be another alternative solution.

[2022-07-21 19:30] dblock commented on #2188
OpenSearch is huge enough, we can [barely get a reliable CI](https://github.com/opensearch-project/opensearch-build/issues/2324). More code will just exacerbate the problem. Then, it wouldn't help the SQL components problem (which contains multiple release artifacts: ppl, sql-cli, sql-jdbc, sql-odbc, sql).

[2022-07-21 20:18] prudhvigodithi commented on #1916
Closing this META as associated tasks are marked as complete, please feel free to re-open this issue if required. :)
Thank you

@dblock @CEHENKLE @bbarani

[2022-07-21 20:18] #1916 closed

[2022-07-21 20:51] penghuo commented on #2188
My 2 cents.
I think plugin is just a way to implement the feature in OpenSearch which is not necessary as a separate repo. We have repos for ODFE SQL plugin is majorly because we do not maintain Elasticsearch.
In OpenSearch, we should have such flexibility to add plugin in OpenSearch repo.

And I believe it is a generic pattern to maintain connectors, plugins, client in same repo. for example, in